@charset "utf-8";
/* CSS Document */

body { height:auto;}
html{ height:99%; overflow-y:inherit; padding:0;margin:0;}
body{ font-size:12px; color:#525252;}
ul, ol{ margin:0;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.clear{ clear:both;}
.clear:after{ clear:both; content:""; display:block; visibility:hidden; height:0;}
em{ font-style:normal;}

/* 下拉框 搜索 新增样式  */
.btn { height:34px; line-height:20px; padding:6px 19px; box-sizing:border-box;}
.bootstrap-select{ width:auto;}
.iptSeletAuto .bootstrap-select .btn { overflow:hidden; width:90px; height:34px; border-radius:4px 0 0 4px;}
.all_select .bootstrap-select .btn { width:218px;}
.iptSeletAuto .bootstrap-select .btn { width:auto; height:34px; border-radius:4px 0 0 4px;}
.bootstrap-select > .btn { padding-right: 25px; width: 100%;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0; border-top-left-radius: 0;}
.form-control { background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #555;
    display: block; font-size: 14px; height: 34px; line-height: 1.42857; padding: 6px 12px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%;}
.public-search {position: relative;}
.srarchfont { color: #d2d2d2; text-indent: 15px;font-family:'微软雅黑';}
.octicon-search02 { background:url(../img/cjsearch_bg.png) no-repeat; display: block; float: left; height: 13px; left: 8px; position: absolute; top: 10px; width: 13px; z-index: 3;}

/* 多选搜索下拉框 对号样式 */
.glyphicon-ok:before{ content:normal;}
.bootstrap-select.btn-group .dropdown-menu li a i.check-mark{  background:url(../../images/selectMenu-ico1.png) no-repeat;}

/* 日历控件样式 新增开始 */
.modal {position: fixed;top: 0;	right: 0;bottom: 0;	left: 0;z-index: 10;display: none;overflow: hidden;-webkit-overflow-scrolling: touch;outline: 0;}
.modal-backdrop {position: fixed;top: 0;right: 0;bottom: 0;	left: 0;z-index: 9;	background-color: #000;}
.modal-dialog { position:relative;margin: 200px auto;}
.modal .modal-header .close, .modal .modal-header .close:link{background: url(../../images/farmingIco16.jpg) no-repeat; margin-top:3px; border:none; opacity:1; filter:alpha(opacity=100); float:right; width:11px; height:11px;}
.modal .modal-header .close:hover, .modal-header .close:focus{ background:url(../../images/farmingIco17.jpg) no-repeat; opacity:1.0; filter:alpha(opacity=100);}

.baseWidth148 .input-append{ width:146px;}
.baseWidth148 .form_datetime input{ float:left; width:146px; height:22px; border:1px solid #ddd; line-height:22px; text-indent:5px; font-size:11px;}
.input-append.date .add-on i, .input-prepend.date .add-on i {cursor: pointer;  height: 14px;  margin-left: -23px; width: 14px;}
[class^="icon-"], [class*=" icon-"]{ background:url(../img/glyphicons-halflings.png) no-repeat; display:inline-block; width:14px; height:14px; vertical-align: text-top;}
[class*=" datetimepicker-dropdown"]:before{ top:-7px; right:7px;}
[class*=" datetimepicker-dropdown"]:after{ top:-6px; right:8px;}
.icon-th { background-position: -240px 0;}
.icon-arrow-left { background-position: -240px -96px;}
.icon-arrow-right { background-position: -264px -96px; float:right;}

.nav-prev{background:url(../images/prev.png) no-repeat;}
/* 日历控件样式 新增结束 */

/* 预售管理 */
/* 公用面包屑导航  */
.mr5{ margin-right:5px;}
.r_t_l{ font-family:'微软雅黑';}
.r_t_l span{ font-size:12px;}
.r_t_l em{ padding:0 5px; font-style:normal; }
.cm_resumeList{}
.cm_resumeList li{ float:left;}
.cm_resumeList li a{display:block; height:44px; line-height:44px; padding:0 10px; color:#3f3f3f; overflow:hidden; font-family:'宋体';}
.cm_resumeList li a:active{border-bottom:2px solid #33aedc;}
.cm_resumeList li img{ float:left; margin-top:16px;}
.cm_resumeList li span{ float:left; text-indent:10px;}
.borderBt{ border-bottom:2px solid #33aedc;}
.borderBt02{ border-bottom:1px solid #cbcbcb;}
/* 公用搜索 */
.search-header{ height:34px; margin-top:20px;}
.search-header-lt{ float:left;}
.search-header-lt .public-search{ float:left; margin-right:5px;}
.search-header-lt .form-control{ width:264px; padding-left:25px; text-indent:0;}
.search-datetime{ float:left; margin-right:5px;}
.search-datetime .form_datetime{ float:left; position:relative; width:264px;}
.search-datetime input{width:264px; height:34px; padding:6px 10px; border:1px solid #ccc; border-radius:4px; font-size:14px;}
.search-datetime .add-on{ position:absolute; width:14px; height:14px; right:0; top:10px;}
.search-datetime .input-append.date .add-on i, .input-prepend.date .add-on i{ margin-left:-8px;}
.search-header-rt{ float:right;}
.search-header-rt .nav > li > a{ padding:5px 20px; margin-right:-1px; border-radius:0; background:#4d9cd2; color:#fff; font-family:'微软雅黑'; font-size:12px;}
.search-header-rt .nav-tabs > li > a,
.search-header-rt .nav-tabs > li> a:hover,
.search-header-rt .nav-tabs > li > a:focus{ background:#fff; color:#525252; border-color:#d8d8d8;}
.search-header-rt .nav-tabs > li>a:hover{ background:#fff; border-color:#d8d8d8;}
.search-header-rt .nav-tabs > li.active > a,
.search-header-rt .nav-tabs > li.active > a:hover,
.search-header-rt .nav-tabs > li.active > a:focus{background:#4d9cd2; border-color:#2f719e; background:#3884b6; color:#fff;}
.search-body{ margin-top:20px;}
/* 公用的新表格 */
.table-newTable{}
.table-newTable thead tr{ background:#f0f5fb; border-bottom:1px solid #f3f3f3;}
.table-newTable thead th,.table-newTable tbody td{ height:42px; text-align:center; font-weight:normal;}
.table-newTable tbody tr{ border-bottom:1px solid #f3f3f3;}
.table-newTable tbody tr.borderNo{ border-bottom:0;}
.table-newTable tbody td{ height:49px;}
.table-newTable tbody tr.odd td{ background:#fbfcfe;}
.table-newTable tbody tr.hover td{ background:#fffdf4;}
.table-newTable tfoot{ border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;}
.table-newTable tfoot td{ height:42px;}
.list_enter{ display:inline-block; width:16px; height:15px; background:url(../images/dc_.png) no-repeat; cursor:pointer;}
.list_add2{ display:inline-block; width:28px; height:15px; padding-left:16px; background:url(../images/farmingIco41.png) no-repeat; font-size:12px; line-height:15px; cursor:pointer;}
.table-newTable .borderRt{ border-right:1px solid #dcdcdc;}
/* 通用添加图片 */
.baseAddList{ float:left; max-width:624px;}
.baseAddLi{ float:left; display:inline-block; margin:0 10px 10px 0;}
.baseAddLi a{ position:relative; display:inline-block;}
.baseAddLi a img{ width:94px; height:94px;}
.baseAddLi a:hover .closeBtn{ display:block;}
.baseAddLi .closeBtn{ position:absolute; right:0; top:0; display:none; width:27px; height:23px; background:url(../../images/del03.jpg) no-repeat; cursor:pointer;}
.baseAddbtn img{ width:94px; height:94px;}
.baseAddbtn{ float:left; position:relative; width:94px; height:94px; background:url(../images/farmingIco15.jpg) no-repeat-; overflow:hidden;}
.baseAddbtn input{ position:absolute; left:0; top:0; z-index:2; width:94px; height:94px; cursor:pointer; opacity:0; filter:alpha(opacity = 0);}
.baseAddModel{ position:fixed; z-index:101; display:none;}
.baseAddModel_body{padding:5px; border:1px solid #bebfc0; border-radius:8px; background:#fff;}
.baseAddModel_body img{ border-radius:8px;}
.baseAddModel_close{ position:absolute; right:-14px; top:-14px; width:28px; height:28px; background:url(../../images/farmingIco05.png) no-repeat; cursor:pointer;}
.baseAddModel_close:hover{ background:url(../images/farmingIco06.png) no-repeat;}
/* 通用上传文件 */
.baseFile_onload{ position:relative; display:block; width:75px; height:25px; line-height:25px; overflow:hidden; background:#fff; border:1px solid #ccc; border-radius:5px; font-size:12px; text-align:center; cursor:pointer;}
.baseFile_onload:hover{ background:#e6e6e6; border-color:#adadad;}
.baseFile_onload input{ position:absolute; right:0; top:0; height:27px; opacity:0; filter:alpha(opacity=0); cursor:pointer;}
.baseFile_pic194 img{ width:194px; height:94px;}

/* 病害防治 */
.mt20{ margin-top:20px;}
.mb20{ margin-bottom:20px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.pr10{ padding-right:10px;}
.pr15{ padding-right:15px;}
.bootSelt190{ display:inline-block; }
.bootSelt190 .bootstrap-select{ min-width:190px;}
.bootSelt190 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ min-width:190px; width:auto;}
.bootSelt190 .btn-group .btn{ height:30px; padding:6px 25px 6px 12px; font-size:12px;}
.bootstrap-select.btn-group .dropdown-menu{ max-width:170px; overflow:auto;}
.bootTxt190{ display:inline-block; width:190px;}
.bootTxt190 .form-control{ width:190px; height:30px;}
.bootFile-btn{ position:relative; display:block; width:98px; height:98px;}
.bootFile-btn input{ position:absolute; left:0; top:0; width:98px; height:98px; opacity:0; filter:alpha(opacity=0); cursor:pointer;}
.farmingMageTab_jl td{ height:34px; line-height:34px; padding-bottom:20px; font-size:12px;}
.farmingMageTab_jl .bootstrap-select{ float:left; display:inline; margin-right:5px; width:190px;}
.farmingMageTab_jl .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"]{ float:left; display:inline; margin-right:5px;}
.farmingMageTab_jl .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:185px;}
.farmingMageTab_jl .bootstrap-select > .btn{ width:190px; padding:7px 12px; font-size:12px;}
.farmingMageTab_jl .table-list-header .button-link{ position:relative; width:158px; height:32px; border:1px solid #ddd; border-radius:5px;}
.farmingMageTab_jl .table-list-header .button-link i{ padding-right:5px; font-style:normal;}
.farmingMageTab_jl .table-list-header .button-link em{ color:#2069b4;}
.farmingMageTab_jl .select-menu-button:after{
	-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none;
    border-color: -moz-use-text-color transparent transparent; border-image: none; border-style: solid; border-width: 4px;
    content: ""; display: inline-block; height: 0; vertical-align: -2px; width: 0; position:absolute; top:14px; right:10px;}
.farmingMageTab_jl .table-list-header-toggle .select-menu-modal-holder{ left:0;}
.farmingMageTab_jl .input-append.date .add-on i,.farmingMageTab_jl .input-prepend.date .add-on i { cursor: pointer;  height: 14px;  margin-left: -21px;  width: 14px;}
.form_datetime input{ width:188px; padding:8px 12px; line-height:normal; border:1px solid #ddd; border-radius:4px; }
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] { background-image: url("images/glyphicons-halflings-white.png");}


.binghai-header{ margin-top:20px;}
.binghai-table-lt,.farm-controlMethod,.disease-help{ border:1px solid #ddd; box-sizing:border-box;}
.binghai-table-lt .nav-tabs > li.active > a, 
.binghai-table-lt .nav-tabs > li.active > a:hover, 
.binghai-table-lt .nav-tabs > li.active > a:focus{ border-radius:0; border-color:#ddd #ddd transparent; font-size:12px; color:#244c9b;}
.binghai-table-lt .nav-tabs > li > a{ margin-right:0; border-radius:0; color:#444;}
.binghai-table-lt .nav-tabs{ margin:-1px 0 0 -1px; font-size:12px;}
.binghai-table-lt .bingh-searchBody{ overflow:auto;}
.bingh-searchFooter{ height:54px; border-top:1px solid #ddd; margin:0 15px; text-align:right; box-sizing:border-box;}
.binghai-table-ct{ width:50px; text-align:center;}
.binghai-table2-ct{ width:20px; height:20px;}
.binghai-table-rt{ border:1px solid #ddd; box-sizing:border-box;}
.binghai-body{ margin-top:20px;}
.pathogeny-con{ border:1px solid #ddd; border-bottom:0;}
.pathogeny-items{ padding:20px; border-bottom:1px solid #ddd; clear:both;}
.pathogeny-items dt{ float:left; width:170px; line-height:28px; font-size:16px; font-weight:normal; color:#244c9b;}
.pathogeny-items dt img{ width:28px; height:28px; margin-right:20px; vertical-align:top;}
.pathogeny-items dd{ padding-left:170px;}
.pathogeny-nodate{ display:block; height:40px; line-height:40px; border:1px dashed #ddd; border-radius:4px; font-size:14px; text-align:center; color:#b0b0b0;}
.controlMethod{ margin:0; padding:10px 0 0;}
.controlMethod li{ float:left; width:84px; margin-right:50px;}
.controlMethod li img{ width:84px; height:84px; margin-bottom:10px;}
.controlMethod li a{ display:inline-block; cursor:pointer;}
.controlMethod li .btnTxt{ display:inline-block; height:30px; line-height:16px; margin-bottom:10px; padding:5px 15px; border:1px solid #ccc; border-radius:4px; box-sizing:border-box; color:#525252;}
.nn-commonTtl{ height:44px; padding:0 15px; border-bottom:1px solid #ddd;}
.nn-commonTtl h2{ float:left; height:22px; line-height:22px; margin-top:10px; font-size:14px; font-weight:bold;}
.nn-commonTtl h2 img{ margin:3px 8px 0 0; vertical-align:top;}
.nn-commonMore{ float:right; line-height:22px; margin-top:10px; color:#8b8b8b;}
.nn-commonMore:hover{ text-decoration:none; color:#7e7e7e;}
.btn-xs, .btn-group-xs > .btn{ height:24px; padding:1px 12px;}
.nn-commonCon{ padding:15px;}
.nn-commonCon p{ line-height:25px;}
.nn-common-items{ margin-bottom:-1px; padding:15px; border-bottom:1px solid #ddd;}
.nn-common-items dt{ float:left; width:60px;}
.nn-common-items dt img{ width:48px; height:48px; border-radius:4px;}
.nn-common-items dd{ padding-left:60px;}
.nn-common-items dd strong{ line-height:22px; margin-right:10px; font-size:14px; font-weight:normal; color:#3678a7;}
.nn-common-items dd em{ height:22px; line-height:20px; margin:0; padding:0 15px; border:1px solid #258fcb; border-radius:4px;}
.nn-common-items dd .time{ display:block; margin-top:8px; font-size:12px; color:#9f9f9f;}
.nn-common-items .introduce-txt{ line-height:25px; margin:10px 0 0; clear:both;}
.nn-common-items .baseAddLi a img{ width:100px; height:100px;}
.nn-common-items .baseAddLi a:hover img{ transform:rotate(2deg); -webkit-transform:rotate(2deg); -moz-transform:rotate(2deg); -webkit-transform:rotate(2deg); -ms-transform:rotate(2deg);}

/* 选项卡里的轮播的图片 */
.picture-tab-wap{ padding:10px 0 10px 10px; overflow:hidden;}
.picture-tab-wap .nav-tabs{ border-bottom:0; background:url(../images/binghaifz_bg2.jpg) repeat-y; overflow-y:auto;}
.picture-tab-wap .nav-tabs > li{ float:none; width:130px; height:44px; margin:0; overflow:hidden;}
.picture-tab-wap .nav-tabs > li > a{ height:44px; line-height:26px; margin:0; border:0; border-radius:0; box-sizing:border-box; color:#787878;}
.picture-tab-wap .nav-tabs > li > a:hover{ background:none; color:#787878;}
.picture-tab-wap .nav-tabs > li.active{ background:#f8f8f8;}
.picture-tab-wap .nav-tabs > li.active > a,
.picture-tab-wap .nav-tabs > li.active > a:hover,
.picture-tab-wap .nav-tabs > li.active > a:focus{ border:0; background:url(../images/binghaifz_bg1.png) no-repeat;}
.picture-tab-wap .tab-content{ padding-right:140px;}
.picture-tab-wap .carousel-control{ width:50px; height:50px; top:50%; margin-top:-25px;}
.picture-tab-wap .carousel-control.left{ left:15px; background:url(../images/binghaifz_ico9.png); filter:alpha(opacity=50);}
.picture-tab-wap .carousel-control.right{ right:15px; background:url(../images/binghaifz_ico10.png); filter:alpha(opacity=50);}
.picture-tab-wap .carousel-control:hover{ filter:alpha(opacity=90);}
/* 农事管理表无数据 */
.farming_nodata{ overflow:hidden; border-bottom:1px solid #ddd; background:#fcfcfc;}
.warning_noData{ width:508px; padding-top:60px; margin:125px auto 220px; text-align:center; background:url(../../images/farmingIco20.png) no-repeat center top;}
.warning_noData em{ font-style:normal; font-family:'微软雅黑'; font-size:18px; color:#333;}
.warning_noData p{ line-height:26px; margin-top:24px; font-size:14px; font-family:'微软雅黑'; color:#5c5c5c;}


/* 三个更多模态框 */
.modal-dialog{ position:absolute;}
.modal .modal-header .close, .modal .modal-header .close:link{background: url(../../images/farmingIco16.jpg) no-repeat; margin-top:5px; border:none; opacity:1; filter:alpha(opacity=100); float:right; width:11px; height:11px;}
.modal .modal-header .close:hover, .modal-header .close:focus{ background:url(../../images/farmingIco17.jpg) no-repeat; opacity:1.0; filter:alpha(opacity=100);}
.modal .modal-header{ padding:15px;}
.modal .modal-header h4{ font-size:14px; color:#1448ad;}
.modal .modal-header h4 span{ font-size:14px; font-family:'Arial'; color:#939393;}
.modal .modal-body{ padding:0; height:406px; overflow-y:auto;}
.modalheight{ margin:10px 20px;}
.modalH3{ height:30px; line-height:30px; padding-left:15px; background-repeat:no-repeat; background-image:url(../../images/bg_tqyubao01.png); background-position:0 -12px; font-size:14px; font-family:'微软雅黑'; color:#3b3b3b;}
.modalH4{ padding:5px 0 8px 0; border-bottom:1px dashed #c3c3c3; font-size:12px;}
.modalSection{ font-size:12px; line-height:24px; color:#1e1e1e;}
.modalSection.borderBt{ border-bottom:1px solid #f0f0f0; margin-bottom:5px; padding-bottom:5px;}
.modalMark-b{ float:left; width:14px; height:14px; margin-top:5px; background:url(../../images/bg_tqyubao01.png) 0 -21px no-repeat; }
.modalComdl{ margin:12px 0; overflow:hidden;}
.modalComdl dt{ float:left; border:1px solid #bcbcbc; border-radius:5px;}
.modalComdl dt img{ width:118px; height:118px; border-radius:5px;}
.modalComdl dd{ float:right; width:410px; line-height:22px; font-size:12px;}
/* 普通模态框 */
.messageTable{ margin-top:24px;}
.messageTable td{ padding-bottom:20px;}
.modalTable_minni td{ padding-bottom:20px; color:#1e1e1e;}
.bootList21 .bootLi{ float:left; padding-bottom:20px;}
.bootTxt21{ float:left; width:100px; line-height:34px; padding-right:10px; text-align:right; font-size:12px;}
.bootTextarea .area_textarea{ width:300px; height:82px; resize:none;}
.bootData21{ float:left;}
.bootSelt21{ float:left; display:inline-block;}
.bootSelt21 .bootstrap-select{  width:220px;}
.bootSelt21 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:220px;}
.bootSelt21 .bootstrap-select span{ font-size:12px; font-family:'微软雅黑';}
.bootSelt21 .bootstrap-select > .btn{ height:34px;}
.bootstrap-select.btn-group .dropdown-menu{ max-width:220px;}/* 下拉框最大宽度控制 */
.datetimepicker{ margin-left:8px;}