html {
	height: 100%;
}

body {
	margin: 0 auto;
	padding: 0;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 18px;
	width: 100%;
	height: 100%;
	font-size: 12px;
}

.left {
	float: left;
}

.left2 {
	float: left;
	margin-left: 0px;
}

.right {
	float: right;
}

img {
	border: none;
}

a {
	color: #000;
	outline:none;
}

del,ins,a {
	text-decoration: none;
}

ul,ol,li {
	list-style: none;
}

body,ul,ol,li,p,b,h1,h2,h3,h4,h5,h6,strong,embed,table,td,th,form,fieldset,img,dl,dt,dd
	{
	margin: 0;
	padding: 0;
}

strong {
	font-weight: normal;
}

.bg {
	background-image: url(../image/bg2.png);
}

.coment {
	margin-left: auto;
	margin-right: auto;
	/*max-width:1280px; 
width:auto !important;width:1280px;
 width:expression(document.body.clientWidth > 1280? "1208px": "auto" );
 */
	height: 100%;
}

.clear {
	clear: both;
}
/*=====================Login===========================*/

/*=====================Top===========================*/
.header {
	width: 100%;
	height: 85px;
	background-position: 0px -87px;
	background-repeat: repeat-x;
}

.logo {
	float: left;
	width: 379px;
	height: 84px;
	margin-left: 10px;
}

.menu {
	float: right;
	width: 550px;
	height: 30px;
	padding-top: 55px;
	background-position: 0px -174px;
	background-repeat: no-repeat;
}

.menu li {
	float: right;
	margin-right: 5px;
	height: 29px;
	line-height: 29px;
	text-align: center;
}

.menu li a {
	font-size: 14px;
	background-image: url(../image/bg2.png);
	display: block;
	background-position: 0px -311px;
	cursor: pointer;
	padding-left: 2px;
}

.menu li a strong {
	display: block;
	background-position: right -311px;
	padding: 0px 10px;
	background-image: url(../image/bg2.png);
}

.menu .this a {
	font-size: 14px;
	background-image: url(../image/bg2.png);
	display: block;
	background-position: 0px -343px;
	cursor: pointer;
	padding-left: 2px;
}

.menu .this a strong {
	display: block;
	background-position: right -343px;
	padding: 0px 10px;
	background-image: url(../image/bg2.png);
}
/*==========================left==============================*/
.con_top {
	background-position: 0px -446px;
	background-repeat: repeat-x;
	height: 50px;
}

.con_con {
	margin-top: -45px;
	padding: 10px 10px 0px 10px;
}

.coment_con {
	background: url(../image/left_menu_bg.jpg) repeat-y;
}

.left_coment {
	float: left;
	width: 166px;
}

.right_coment {
	float: right;
	width: 100%;
	margin-bottom: 25px;
	overflow: hidden;
}

.right_coment_tunnel {
	float: right;
	width: 100%;
	margin-bottom: 25px;
}

.left_m {
	background-position: 0px -568px;
	height: 41px;
}

.left_menu ul {
	width: 166px;
}

.left_menu ul li {
	height: 23px;
	line-height: 23px;
	margin-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
}

.left_menu ul li:hover {
	background-image: url(../image/bg2.png);
	background-position: 0px -612px;
	height: 23px;
}

.left_menu ul .on {
	background-image: url(../image/bg2.png);
	background-position: 0px -612px;
	height: 23px;
}
/*=====================Right===========================*/
/*=======================查询条件====================*/
.title_box {
	background-image: url(../image/bg2.png);
	background-position: 0px -411px;
	background-repeat: repeat-x;
	height: 32px;
	line-height: 32px;
	text-align: left;
}

.title_box a {
	font-size: 14px;
	background-image: url(../image/bg2.png);
	display: block;
	text-decoration: none;
	background-position: 0px -376px;
	background-repeat: no-repeat;
	cursor: pointer;
	padding-left: 2px;
	text-align: left;
}

.title_box a strong {
	display: block;
	background-position: right -638px;
	background-image: url(../image/bg2.png);
	padding-right: 2px;
	background-repeat: no-repeat;
	text-indent: 20px;
	color: #de9842;
	font-size: 14px;
	font-weight: bold;
}

.box_con {
	margin-bottom: 2px;
	text-align: center;
}

/* div 底部固定*/
#footers {
	z-index:999;
	clear: both;
	position: fixed;
	bottom: 0px;
	background-image: url(../image/bg2.png);
	background-position: 0px -286px;
	background-repeat: repeat-x;
	height: 22px;
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
}

* html #footer /* IE6 底部固定  */ {
	z-index:999;
	position: absolute;
	bottom: auto;
	background-image: url(../image/bg2.png);
	background-position: 0px -286px;
	width: 100%;
	/*width: 1280px;
	width: expression(document.body.clientWidth >   1280 ?   "1208px" :   "auto");*/
	background-repeat: repeat-x;
	color: #FFFFFF;
	top: expression(eval(document.documentElement.scrollTop +  
		  document.documentElement.clientHeight-this.offsetHeight- (   
		 parseInt(this.currentStyle.marginTop, 10)||0 )-(parseInt(this.currentStyle.marginBottom, 10)||0
		) ) -0 );
}
/*======================== 登录 ==============================*/
.edit_user {
	background-color: #bfe1dd;
}

.edit_user tr td {
	height: 25px;
	line-height: 25px;
}

.title02 {
	background-color: #eef8f7;
	padding-right: 10px;
	word-break: keep-all;
}

.title03 {
	background-color: #ffffff;
	padding-left: 5px;
	text-align: left;
}

/*====================按钮====================*/
.pencel {
	background: url(../image/tb.png) 0px 0px no-repeat;
	overflow: hidden;
	width: 11px;
	height: 13px;
	float: left;
	margin-left: 1px;
	margin-top: 3px;
}

.delete {
	background: url(../image/tb.png) 0px -13px no-repeat;
	overflow: hidden;
	width: 10px;
	height: 11px;
	float: left;
	margin-left: 3px;
	margin-top: 3px;
}

.add {
	background: url(../image/tb.png) 0px -40px no-repeat;
	overflow: hidden;
	width: 13px;
	height: 14px;
	float: left;
	margin-left: 10px;
	margin-top: 3px;
}

.jingyong {
	background: url(../image/tb.png) 0px -55px no-repeat;
	overflow: hidden;
	width: 13px;
	height: 14px;
	float: left;
	margin-left: 10px;
	margin-top: 3px;
}

.qiyong {
	background: url(../image/tb.png) 0px -69px no-repeat;
	overflow: hidden;
	width: 13px;
	height: 14px;
	float: left;
	margin-left: 10px;
	margin-top: 3px;
}

.look {
	background: url(../image/tb.png) 0px -83px no-repeat;
	overflow: hidden;
	width: 13px;
	height: 14px;
	float: left;
	margin-left: 10px;
	margin-top: 3px;
}

.bn_left {
	font-size: 12px;
	background-image: url(../image/bg2.png);
	background-position: 0px -673px;
	cursor: pointer;
	padding-left: 2px;
	float: left;
	line-height: 20px;
	margin-right: 5px;
}

.bn_left strong {
	background-position: right -673px;
	padding: 0px 10px;
	background-image: url(../image/bg2.png);
	height: 20px;
	display: block;
	float: left;
}

/*===================导航补充===================*/
#nav {
	width: 140px;
	list-style-type: none;
	text-align: left;
	margin: 10px 0 0 0px;
}

#nav a {
	width: 123px;
	_width: 123px;
	*width: 136px;
	display: block;
	padding: 5px 0 5px 11px;
	padding-left: 30px;
}

#nav li {
	background: url(../image/add.gif) 13px 10px;
	background-repeat: no-repeat;
	float: left;
}

#nav .on {
	background: url(../image/menu_bgj.jpg) 0 0;
	background-repeat: no-repeat;
	float: left;
}

#nav li a:hover {
	cursor: pointer;
}

#nav a:link {
	color: #666;
	text-decoration: none;
}

#nav a:visited {
	color: #666;
	text-decoration: none;
}

#nav a:hover {
	color: #5b8f89;
	text-decoration: none;
	font-weight: bold;
}

#nav li ul {
	list-style: none;
	text-align: left;
	padding: 0;
}

#nav li ul li {
	background: url(../image/menu_bg2.jpg) 40px center no-repeat;
	text-indent: 15px;
}

#nav li ul a {
	padding-left: 40px;
	width: 110px;
}

#nav li ul a:link {
	color: #666;
	text-decoration: none;
}

#nav li ul a:visited {
	color: #666;
	text-decoration: none;
}

#nav li ul a:hover {
	color: #5b8f89;
	text-decoration: none;
	font-weight: normal;
}

#nav li:hover ul {
	left: auto;
}

#nav ul.collapsed {
	display: none;
}

.update_value tr td {
	height: 20px;
}

.update_value tr td table tr td {
	height: 1px;
}

.import {
	background: url(../image/tb.png) 0px -97px no-repeat;
	overflow: hidden;
	width: 10px;
	height: 14px;
	float: left;
	margin-left: 20px;
	margin-top: 3px;
}
-->
/**===================本来生活网履历新加样式**/

/*左侧编辑右侧预览样式开始*/
.bl_t_b{ max-width:1400px;}
.bl_table{ border-collapse:collapse;}
.blshw01{ width:100%; margin:0 auto;}

.blshw{ width:100%; margin:15px auto 0 auto;}
.bl_title{ width:445px; height:39px; background:url(../images/bl_title.jpg) no-repeat; margin:0 auto; text-align:left; font-family:"微软雅黑"; font-size:15px; color:#ffffff; }

.bl_title ul{ width:367px;  margin:0 39px;}

.tit02_b{ font-family:"微软雅黑"; font-size:15px; color:#ffffff;height: 22px; line-height: 27px; line-height: 30px\9; float:left;}

.titli_03{ font-family:"宋体"; font-size:12px; color:#de9842;height: 22px; line-height: 24px; float:right; margin-top:4px;}
.titli_03 a img{border:none;}


.bl_title a{ color:#333333; text-decoration:none;}
.bj_bg{ width:416px; min-height:50px; margin:0 auto; background:#eef8f7; border:1px solid #bcdadc; padding:15px;}


.bj_bg_t06{ width:445px; margin:0 auto; border-collapse:collapse; background:#eef8f7;}
.bj_bg_t06 th{ border:1px solid #bcdadc; color:#333333; text-align:center;padding-top:8px; padding-bottom:8px;}
.bj_bg_t06 td{ border:1px solid #bcdadc; color:#333333; text-align:center;}
.bj_bg_t td,.bj_bg_t01 td,.bj_bg_t02 td,.bj_bg_t03 td,.bj_bg_t04 td,.bj_bg_t05 td,.bj_bg_t06 td{ padding-top:8px; padding-bottom:8px;}
.bl_color{ color:#0077bb;}





.bj_pro_tdl{ text-align:left; vertical-align:top; width:25%;}
.bj_pro_tdr{ text-align:left; vertical-align:top; }
.blli{ float:left; margin-left:5px; height:22px; line-height:32px; font-size:12px; color:#ffffff;}
.blli input[type="checkbox"]{ vertical-align:middle;}


.bl_table01{ width:99%; border-collapse:collapse;}
.bl_table01 td{ padding-bottom:0; padding-top:0;}
.bl_td01_l{ height:6px; border-left:1px solid #d2ddf4; vertical-align:middle; text-align:left; font-size:12px; color:#333; padding-left:2px;}
.bl_td01_r{ height:6px; border-right:1px solid #d2ddf4; vertical-align:middle; text-align:right; font-size:12px; color:#333;  padding-right:2px;}
.bl_td01_b{ width:142px; height:12px; vertical-align:middle; text-align:left;}
.bl_t_l_te{ text-align:left; vertical-align:middle;}
.input_01{ width:46px; height:10px; background:url(../images/blinput_03.jpg) repeat-x; border-left:1px solid #7e8da6; border-top:1px solid #7e8da6; border-right:1px solid #d0dbf2; border-bottom:1px solid #d0dbf2;}
/*左侧编辑右侧预览样式结束*/


.bj_bg_t05 td input[type="checkbox"]{ vertical-align:middle;}


.bkx_top{ width:495px; height:45px; margin:0 auto;}
.bkx_03{ width:495px; height:21px; background:url(../images/bkx_03.jpg) no-repeat; margin:0 auto;}
.bkx_06{ width:495px; background:url(../images/bkx_06.jpg) repeat-y; margin:0 auto;}
.bkx_08{ width:495px; height:21px; background:url(../images/bkx_08.jpg) no-repeat; margin:0 auto;}


.bkx_top02{ width:360px; height:45px; margin:0 auto;}

.bkx_033{ width:360px; height:21px; background:url(../images/bkx_033.jpg) no-repeat; margin:0 auto;}
.bkx_066{ width:360px; background:url(../images/bkx_066.jpg) repeat-y; margin:0 auto;}
.bkx_088{ width:360px; height:21px; background:url(../images/bkx_088.jpg) no-repeat; margin:0 auto;}


.bjbg_03{ width:130px; height:38px; background:url(../images/bjbg_03.jpg) no-repeat; font-family:"微软雅黑"; font-size:15px; color:#ffffff; line-height:38px; line-height:40px\9; text-align:left; text-indent:40px; overflow:hidden;}

.ylxg_03{ width:133px; height:44px; background:url(../images/ylxg_03.jpg) no-repeat; font-family:"微软雅黑"; font-size:15px; color:#ffffff; line-height:45px; line-height:48px\9; text-align:left; text-indent:40px; overflow:hidden;}



/*二维码生成样式开始*/

.er_bg{ width:471px; height:390px; background:url(../images/erwei_17.jpg) no-repeat; margin:50px auto 0 auto; padding-top:10px;}
.er_table{ width:360px; margin:0px auto;}
.er_table th{ height:50px; text-align:center; line-height:50px; font-family:"微软雅黑"; font-size:18px; color:#404040; font-weight:normal; }
.er_table td{ line-height:25px; padding:5px 0;}
.er_input{ width:60px; height:16px; border:1px solid #5794bf; background:none;}
.er_buttton{ margin:10px 3px 0 3px;}

/*二维码生成样式开始*/


/*弹出框样式开始*/
.tck_div{ width:450px; min-height:150px; padding:0px 15px 15px 15px; background:url(../images/tck_bg_14.jpg) top repeat-x; border:1px solid #81c5e9;background-color:#fff; }
.tck_ti{ width:450px; height:20px; text-align:right; margin-top:5px; margin-right:-20px;}
.tck_title{ color:#474747; font-family:"微软雅黑"; font-size:14px; text-align:left; height:30px; line-height:30px; margin-top:15px;}
.tck_table{ width:435px; margin:10px auto 0 15px; font-size:13px;}
.tck_table td{ line-height:25px; padding:5px 0; font-size:13px;}

.tck_input{ width:163px; height:18px; border:1px solid #a1b9c4; background:none;}

/*弹出框样式开始*/