/* CSS Document */
.title_bg{background:url(../images/title_bg.jpg) repeat-x;text-indent:20px;font-weight:bold;color:#fff;}
.title_text{color:#444;font-weight:bold;}
.border_di{border-bottom:1px dotted #B7BBBE;color:#333;}
.border_di a{color:#333;text-decoration:none;padding-left:3px;}
.border_di a:hover{text-decoration:underline;}
.table_juli{margin-top:8px;}
.border_bg{background:url(../images/border_bg.jpg) no-repeat;color:#fff;font-weight:bold;text-indent:24px;}
.green_text{font-weight:bold;color:#0F7B16;}
.text_content{color:#656765;}
.text_content a{color:#656765;text-decoration:none;}
.text_content a:hover{text-decoration:underline;}
.import a{color:#004f00;text-decoration:none;}
.import a:hover{text-decoration:underline;}
.but{height:17px;border:1px solid #70AB05;margin:0 3px;background:#fff;color:#004f00;}
.img_juli{margin-right:5px;}
.zi_kaozuo{color:#606360;}
.zi_kaoyou{padding-left:15px;color:#606360;}
.content_titlestyle{color:333;font-weight:bold;font-size:14px;}
.content_style{font-size:14px;color:333;line-height:22px;}
.kuang{width:605px;height:150px;border:1px solid #999;margin-bottom:5px;}
.news_pic{color:#004f00;}
.news_title{background:url(../images/news_title.gif) no-repeat;color:#fff;font-weight:bold;text-indent:10px;}
.news_content{border-bottom:1px dotted #004f00;color:#004f00;}
.news_content a{color:#004f00;text-decoration:none;}
.news_content a:hover{text-decoration:underline;}
.news_zuixin{color:#004f00;}
.news_zuixin a{color:#004f00;text-decoration:none;line-height:20px;}
.news_zuixin a:hover{text-decoration:underline;}
.cont_style{color:#666;line-height:20px;text-indent:24px;}
ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}




/* CSS Document */
.hui{color:#333;}


/* 预览  */
.main{ width:320px; background:#ddebca;   margin:0 auto; overflow:hidden;}
.clear{ clear:both;}

.top_bg{ width:320px; height:53px; margin:0; padding:0;}
.banner_text{ width:195px; height:20px; float:left; text-align:left; line-height:20px; padding-left:15px; padding-right:10px; font-size:10px; color:#ffffff; font-weight:bold; margin-top:-20px; z-index:3; position:relative;}

.bl_ock{ width:290px; margin:0 auto; padding:5px 15px;}
.pro_pic{ width:185px; height:114px;}
.pro_name{ font-size:12px; font-weight:bold; color:#12774b; padding-left:8px;}
.title{ width:290px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding:0 15px;}
.title_2,.title_3{ height:30px; line-height:29px; padding-left:15px; font-size:12px; font-weight:bold; background:url(../images/biao_03.jpg) center left no-repeat; text-align:left;}
.title_2{ width:275px;}
.title_3{ width:120px; margin-left:15px;}

.grow_table{width:275px; float:right;}
.grow_table td{ padding:5px 0;}
.grow_01{ width:80px; text-align:left; font-size:10px; *font-size:9px; font-weight:normal; color:#12794c;}
.grow_02{ width:80px; text-align:left; font-size:10px; *font-size:9px;  font-weight:normal; color:#323232;}
.sche{ width:110px; height:14px; z-index:2; position:relative; top:3px;}
.sche_block01,.sche_block02,.sche_block03,.sche_block04,.sche_block05,.sche_block06{ width:13px; height:18px; z-index:3; position:relative;}
.sche_block01{ top:-14px; *top:-20px;}
.sche_block02{ top:-14px; *top:-20px; }
.sche_block03{ top:-14px; *top:-20px; *top:-20px; left:25px;}
.sche_block04{ top:-14px; *top:-20px; left:30px;}
.sche_block05{ top:-14px; *top:-20px; left:30px;}
.sche_block06{ top:-14px; *top:-20px; left:30px;}



.far_div{ width:275px; padding-left:15px;}
.far_div01{ width:275px; padding-left:15px; height:97px; }
.far_div02{ width:275px; padding-left:15px; height:78px; margin-top:20px;}
.far_div03{ width:275px; padding-left:15px; height:90px; margin-top:-16px;}

.farmer{font-size:11px; font-weight:bold; color:#0e7a49;}
.farmer_pic{ width:120px; height:75px; margin-top:5px;z-index:4; left:0px; top:0px;}
.text02{ width:120px; height:128px; background:url(../images/text.png) no-repeat; position: relative;  z-index: 4; right: 43px; top: -114px; float:right;}
.text_03{ width:85px; height:90px; position:relative; z-index:5; left:19px; top:17px; }
.text_04{ width:85px; height:77px;overflow:hidden; line-height:13px; font-size:7px;}
.text_05{ width:77px; height:16px; text-align:right; overflow:hidden;}
.text_05 a{ line-height:16px; font-size:9px; color:#22669f; font-weight:bold; text-decoration:underline;}

.text_06{ width:85px; height:16px; text-align:right; overflow:hidden;}
.text_06 a{ line-height:16px; font-size:9px; color:#22669f; font-weight:bold; text-decoration:underline;}

.steward{ width:52px; float:left; font-size:12px; font-weight:bold; color:#0e7a49;}
.steward_pic{ width:120px; height:75px;  position:relative; z-index:3; top:-57px; left:154px; }
.stew_01{width:120px; height:58px; background:url(../images/text_02.png) no-repeat; z-index:4; position:relative; left:50px; *left:0;}
.stew_02{ width:90px; height:50px; position:relative; z-index:5; left:4px; top:4px; top:-16px\9;[;top:-14px;]; *top:2px; _top:0;}
.stew_03{ width:90px; height:36px;overflow:hidden; line-height:13px; font-size:7px; position:relative; z-index:5; left:-49px; left:0\9;[;left:0;]; *left:0;}


.jd{ width:52px; height:20px; line-height:20px; overflow:hidden; margin-bottom:3px; font-size:12px; font-weight:bold; color:#0e7a49; float:left; *float:; margin-top:-8px;}
.jd_pic{ width:120px; height:75px; z-index:3; position:relative; left:0; }
.jd_01{ width:120px; height:36px; z-index:5; position:relative; left:36px; top:3px;}

.jd_02{ width:160px; height:39px; z-index:4; position:relative; left:115px; background:url(../images/text_03.png) no-repeat; top:-40px;}
.jd_03{ width:122px; height:15px;overflow:hidden; line-height:15px; font-size:7px; margin-top:2px;}
.jd_04{ width:120px; height:15px; overflow:hidden; text-align:right;}
.jd_04 a{ line-height:15px; font-size:9px; color:#22669f; font-weight:bold; text-decoration:underline;}


.grow_ex a{ width:45px; text-align:right; color:#72ad2c; text-decoration:underline; cursor:pointer; font-size:8px;}
.cj_ex{ width:85px; text-align:right; color:#9e9f9a; font-size:7px;}





.rz_01{ width:60px; text-align:left; font-size:10px; *font-size:9px; font-weight:normal; color:#12794c;}
.rz_02{ width:60px; text-align:left; font-size:10px; *font-size:9px; font-weight:normal; color:#323232;}
.rz_03{text-align:left; font-size:10px; *font-size:9px; font-weight:normal; color:#484742;}

.fzff{width:275px; height:15px; text-align:left; line-height:15px;}
.fz_01{ width:10px; height:10px; float:left; background:#94b237;}
.fz_02{ width:10px; height:10px; float:left; background:#874292; margin-left:4px;}
.fz_03{ width:10px; height:10px; float:left; background:#90a5d4; margin-left:4px;}
.fz_04{ width:10px; height:10px; float:left; background:#9f7046; margin-left:4px;}
.fz_05{ width:10px; height:10px; float:left; background:#8E8E8E; margin-left:4px; }
.fz_xq{ width:45px; height:10px; line-height:9px; text-align:right; color:#72ad2c; text-decoration:underline; cursor:pointer; font-size:8px; float:right;}

.fz_1{ float:left; font-size:10px; *font-size:9px; height:10px; line-height:10px; margin-left:4px; *padding-top:1px;}
.fz_1_1{ float:left; font-size:12px; *font-size:12px; height:10px;  margin-left:2px; margin-top:-4px;*margin-top:-3px;}


.grow_table02{width:275px; float:right;}
.grow_table02 td{ padding:5px 0;}
.cs_01{ width:105px; text-align:left; font-size:10px; *font-size:9px; font-weight:normal; color:#12794c;}
.cs_ex{ text-align:right; color:#9e9f9a; font-size:7px;}

.ns_ul{ width:275px; height:20px; line-height:20px; padding:0; margin:0;} 
.ns_01{ width:115px; text-align:left; font-size:10px; *font-size:9px; font-weight:normal; color:#12794c; float:left;}
.ns_ex{ text-align:right; color:#9e9f9a; font-size:7px; float:right;}

.nsjl{ width:275px; border-collapse:collapse; font-size:10px; *font-size:9px; border:1px solid #808473;}
.nsjl th{ font-weight:normal; text-align:center; border-bottom:1px solid #808473;}
.nsjl td{ padding:2px 0; text-align:center;  border-bottom:1px solid #808473;}



.ns_jsjl{ width:275px; height:15px; line-height:15px; margin-bottom:5px; text-align:left; font-size:10px; font-weight:normal; color:#12794c;}
.jcjl{ margin:0; padding:0; width:275px; font-size:10px;}


.jgps{ width:275px; border-collapse:collapse; font-size:8px; border:1px solid #808473; color:##333333;}
.jgps th{ font-weight:normal; text-align:center; border-bottom:1px solid #808473;}
.jgps td{ padding-top:2px; padding-bottom:2px; border-bottom:1px solid #808473;}
.jgps_a a{ color:#0a4883; text-decoration:underline;}
.jg_td{padding-left:2px; padding-right:2px;}


.help_div{ width:320px; height:85px; background:#e3d2e5;}
.help_ul{ width:275px; margin:0; padding:0; font-size:10px; color:#323232;}
.help_ul li a{ font-size:10px; color:#323232;}

.footer{ width:320px; height:41px; background:#f4f4f4; padding-top:9px;z-index:999;}
.footer_01{ color:#9b9b9b; font-weight:bold; padding-left:4px;}
.footer_02{ color:#9b9b9b; font-size:10px; padding-left:4px;}



