@charset "utf-8";
/* CSS Document */
/* 公用样式 开始 */
body,a,p,h1,h2,h3,h4,h5,h6,strong,ul,ol,li,div,form,table,tbody,thead,tfoot,th,tr,td,u,b,i,s,font,dl,dt,dd,em,sup,sub{ margin:0; padding:0;}
a{ text-decoration:none;}
a:hover, a:focus{ outline-offset:0; text-decoration:none;}
ul,ol,li{ list-style:none;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.clear{ clear:both;}
.clear:after{ clear:both; content:""; display:block; visibility:hidden; height:0;}
.fontFamS{ font-family:'宋体';}
.fontFamW{ font-family:'微软雅黑';}
.btn:focus, .btn:active:focus, .btn.active:focus{ outline-offset:0; outline:inherit !important;}
.bootstrap-select .btn:focus{ outline-offset:0; outline:inherit !important;}
html{ height:auto;}
body{ min-height:500px; font-size:14px; font-family:'微软雅黑'; color:#323232;}
em{ font-style:normal;}
.mt20{ margin-top:20px;}
.mb20{ margin-bottom:20px;}
.ml5{ margin-left:5px;}
.mr5{ margin-right:5px;}
.mr15{ margin-right:15px;}
.c64{color:#646464;}
.nw220{width: 220px;}
.nw450{width: 450px;}

/* 时间控件 新增开始 */
.input-append{ width:220px;}
.form_datetime input{ float:left; width:220px; height:31px; border:1px solid #ccc; line-height:31px; text-indent:10px; font-size:12px;}
.input-append.date .add-on i, .input-prepend.date .add-on i { cursor: pointer; height: 14px; margin-left: -23px; width: 14px; margin-top: 9px;}
[class*=" datetimepicker-dropdown"]:before{ top:-7px; right:7px;}
[class*=" datetimepicker-dropdown"]:after{ top:-6px; right:8px; position:absolute;}
.icon-th {background-position: -240px 0;}
.icon-arrow-left { background-position: -240px -96px;}
.icon-arrow-right { background-position: -264px -96px; float:right;}


/* 公用面包屑导航  */
.r_t_l{ font-family:'微软雅黑';}
.r_t_l span{ font-size:14px;}
.r_t_l em{ padding:0 5px; font-style:normal; }
.r_t_l font{ font-size:16px; }
.cm_resumeList li{ float:left;}
.cm_resumeList li a{display:block; height:44px; line-height:44px; padding:0 10px; color:#3f3f3f; overflow:hidden; font-family:'微软雅黑';}
.cm_resumeList li a:active{border-bottom:2px solid #33aedc;}
.cm_resumeList li img{ float:left; margin-top:16px;}
.cm_resumeList li span{ float:left; text-indent:10px;}
.borderBt{ border-bottom:2px solid #33aedc;}
.borderBt02{ border-bottom:1px solid #cbcbcb;}
/* 公用搜索，下拉菜单 */


/*内容开始*/
.org_content td{padding: 15px 0;}
.org_content td.product_org{width: 88px; text-align: right;padding-right: 10px;}
.org_content td .add_pp { width: 145px; height: 145px; border: 3px dashed #e2e2e2; border-radius: 5px; position: relative; float: left; cursor: pointer; margin-right: 15px; margin-bottom: 10px;}
.org_content td .add_pp .glass { width: 67px; height: 67px; position: absolute; top: 50%; margin-top: -35.5px; left: 50%; margin-left: -35.5px;}
.org_content td .add_pp .upload { width: 145px; height: 145px; position: absolute; top: 0; left: 0; font-size: 32px; opacity: 0; filter: alpha(opacity=0);}
.addBtn{text-align: center; margin-top: 40px;}