@charset "utf-8";
/* CSS Document */
.clear:after,.clear:before{
	content:"";
	display:block;
	height:0;
	clear:both; 
	visibility:visible;
	}
.clear{ 
	clear:both;
	}

/*左侧图片开始*/
.leftSide{width: 100%; height: 100%; overflow: hidden; position: relative; padding-bottom: 50px; box-sizing:border-box;}
.leftSide li{position: relative; width: 180px; height: 200px; border-bottom: 1px solid #dbdbdb; text-align: center;padding-top: 8px; box-sizing:border-box; background-color: #ebedf0; cursor: pointer;}
.leftSide li.cur{background-color: #fafafa;}
.leftSide li.cur i{background: url(../../images/map/blue-arrow.png);}
.leftSide li.cur b{display: block;}
.leftSide li img{width: 100px; height: 156px;}
.leftSide li p{height: 35px; line-height: 35px;font-size: 14px; color: #777b8f; }
.leftSide li i{position: absolute; top: 0; left: 0; width: 40px; height: 40px; background: url(../../images/map/grey.png); font-size: 14px; color: #fff; padding-left: 5px; padding-top: 5px; box-sizing:border-box; text-align: left; font-style: normal;}
.leftSide li b{width: 14px; height: 15px; position: absolute; right: 15px; top: 5px; cursor: pointer; position: absolute; display: none; background: url(../../images/map/del/png);}
.leftSide li b img{width: 14px; height: 15px;}
.leftSide li .tip{position: absolute; width: 15px; height: 13px; background: url(../../images/map/tip.png); right: 15px; bottom: 12px; cursor: pointer;}
.better{width: 101px; height: 28px; position: absolute; color: #fff; background: url(../../images/map/pao.png); text-align: center; line-height: 26px; z-index: 100; left: 248px; top:430px; display: none;}
.leftSide .addPage{position: fixed; left: 77px; bottom: 0; cursor: pointer;}

/*中间*/
.phone{position: absolute; left: 50%; margin-left: -163px; width: 326px; height: 620px; background: url(../../images/map/phone.png); margin-top: -280px;}
.phone .p-contant{width: 100%; height: 620px; box-sizing:border-box; padding:95px 3px 35px; color: #fff;}
.page1,.page2,.page3,.page4,.page5,.page6,.page7,.page8,.page9,.page10,.page11{width: 320px; height: 490px;}
.page1{background: url(../../images/map/Propaganda_bg1.jpg);}
.page2{background: url(../../images/map/Propaganda_bg2.jpg);}
.page3{background: url(../../images/map/Propaganda_bg3.jpg);}
.page4{background: url(../../images/map/Propaganda_bg4.jpg);}
.page5{background: url(../../images/map/Propaganda_bg5.jpg);}
.page6{background: url(../../images/map/Propaganda_bg6.jpg);}
.page7{background: url(../../images/map/Propaganda_bg7.jpg);}
.page8{background: url(../../images/map/Propaganda_bg8.jpg);}
.page9{background: url(../../images/map/Propaganda_bg9.jpg);}
.page10{background: url(../../images/map/Propaganda_bg10.jpg);}
.page11{background: url(../../images/map/Propaganda_bg11.jpg);}
.page12{background: url(../../images/map/Propaganda_bg13.jpg);}
.page1,.page2,.page3,.page4,.page5,.page6,.page7,.page8,.page9,.page10,.page11,.page12{background-repeat: no-repeat; background-position: center top; background-size: 100% 100%;}
.area-bg{width: 100%; height: 155px; position: relative; top: 70px;}
.area-bg .circle{position: absolute; left: 50%; margin-left: -77px; width: 154px; height: 154px; top: 0; background: url(../../images/map/yuanjiao.png) no-repeat; padding: 8px; background-position: center top; background-size: 100% 100%; box-sizing:border-box;}
.area-bg .circle img{width: 100%; height: 100%;}
.page1 .company{width: 100%; text-align: center; color: #fff; font-size: 18px; margin-top: 100px; font-weight: bold;}
.page1 .slogan{text-align: center; color: #fff; font-size: 15px; font-weight: bold; margin-top: 30px;}
.page1 .source{text-align: right; padding-right: 50px; color: #fff; font-size: 14px;}  
.page2 .ttl-h3,.page3 .ttl-h3,.page4 .ttl-h3,.page9 .ttl-h3, .page10 .ttl-h3, .page11 .ttl-h3, .page12 .ttl-h3 {display: block; font-size: 20px; font-weight: normal; font-style: normal; text-align: center; margin: 10px 0 18px;}     
.page2 .animate-block{position: relative; height: 280px;}
.page2 .animate-block .area-bg{position: absolute; top: 0; width: 100%; height: 100%;}
.page2 .animate-block .map{width: 100%; height: 100%;}
.page2 .animate-block .area-bg2{width: 100%; height: 100%; top: 0; left: 0;}
.page2 .animate-block .address { position: absolute; left: 0; top: 0; z-index: 2; width: 100%; background: url(../../images/map/tm.png) repeat; white-space: nowrap; overflow: hidden; color: #fff; height: 26px; line-height: 26px; font-size: 12px;}
.page2 .animate-block .address img{float: left; width: 10px; height: 15px; padding: 6px 7px 0 10px;}
.page2 .animate-block .navigation { position: absolute; right: 0; top: 0; z-index: 2; height: 26px; }
.page2 .data-block { position: absolute; left:15px; top: 40%; z-index: 1; box-sizing: border-box; padding: 20px 0 0 10px;}
.page2 .data-block img{position: absolute; left: 0; top: 0; z-index: -1; width: 170px;  height: 110px;}
.page2 .data-block .txt {line-height: 20px; font-size: 12px; width: 127px; white-space: nowrap; color: #fff; overflow: hidden; margin:0;}
.page2 .cirle-block{position: absolute; width: 96px; height: 96px; right: 20%; top: 25%;}
.page2 .cirle-block .cirle1, .page2 .cirle-block .cirle2, .page2 .cirle-block .cirle3, .page2 .cirle-block .cirle4 { position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 100%;}
.page2 .farm-info .txt6 { max-height: 72px; line-height: 18px; margin-top: 5px; text-indent: 24px;}
.page2 .farm-info .txt7 { text-align: right; padding-right: 15px; padding-top: 10px;}
/*2016-3-7 3屏样式开始 */
.page3 {background-image:url(../../images/map/Propaganda_bg3.jpg);}
.page3 .data-block{background:url(../../images/map/page3-12.png);background-size:100% 100%; width: 288px; height: 330px; padding: 15px; margin: 5px auto 0; box-sizing: border-box;}
.page3 .zsxj-ttl{position:relative;margin:0 auto;width: 280px;}
.page3 .zsxj-ttl .zsxj-lt{position:absolute;left:0;top:0; height: 20px; line-height: 20px; font-size: 15px;}
.page3 .zsxj-ttl .zsxj-rt{text-align:right;text-align:end;overflow:hidden; height: 20px; line-height: 16px; padding-left: 100px; padding-top: 4px;}
.page3 .envior-list{height:100%;}
.page3 .envior-list .items-s{position:relative; height: 60px;}
.page3 .envior-list .line-b4{position:absolute;left:0;bottom:0;width:100%;background:url(../../images/map/page3-11.png) repeat-x;background-size:100% 100%; height: 2px;}
.page3 .envior-list	.dl-dl{position:relative;overflow:hidden;}
.page3 .envior-list	.dl-dt{position:absolute;left:0;top:0;text-align:center; width: 76px; height: 20px; line-height: 20px; font-size: 15px;}
.page3 .envior-list	.dl-dd{padding-left: 76px;}
.page3 .envior-list .txt-star{position:relative;}
.page3 .envior-list .txt1{text-align:center;}
.page3 .envior-list .txt2{overflow:hidden; width: 232px; height: 16px; line-height: 16px; margin-left: -24px;}
.star-wap{background:url(../../images/map/page-3-20.png) no-repeat;background-size:100% 100%; width: 95px; height: 13px; margin-top: 3px;}
.star-wap span{display:block;width:100%;height:100%;background-repeat:no-repeat;background-size:100% 100%;}
.star-wap span.star1{background-image:url(../../images/map/page-3-21.png);}
.star-wap span.star2{background-image:url(../../images/map/page-3-22.png);}
.star-wap span.star3{background-image:url(../../images/map/page-3-23.png);}
.star-wap span.star4{background-image:url(../../images/map/page-3-24.png);}
.star-wap span.star5{background-image:url(../../images/map/page-3-25.png);}
.star-wap span.star6{background-image:url(../../images/map/page-3-26.png);}
.star-wap span.star7{background-image:url(../../images/map/page-3-27.png);}
.star-wap span.star8{background-image:url(../../images/map/page-3-28.png);}
.star-wap span.star9{background-image:url(../../images/map/page-3-29.png);}
.star-wap span.star10{background-image:url(../../images/map/page-3-30.png);}
/*2016-3-7 3屏样式结束 */
.page4 .ttl-h3 span{position: relative; padding-bottom: 5px; border-bottom: 2px solid #fff;}
.page4 .report{ float:left; width: 134px; max-width: 134px; height: 184px;}
.page4 .report img{ width:100%; background-color:#f1f1f1;}
.page4 .animate-block{width: 280px; margin: 34px auto 0;}
.page4 .txt1{line-height: 184px; float: right; font-size: 16px;}
.page4 .txt1 img{width: 8px; margin-right: 10px;}
.page4 .animate-block2{padding: 10px; margin: 34px auto 0; position: relative;}
.page4 .bg-op5, .page5 .bg-op5{position: absolute; left: 0; top: 0; width: 100%; height: 169px; background: url(../../images/map/tm.png) repeat;}
.page4 .table1{ width:300px; position: relative;}
.page4 .table2{margin-top: -20px; position: relative;}
.page4 .txt3{width: 164px; white-space: nowrap; overflow: hidden;}
.pl10{padding-left: 10px;}
.page4 .report2_div{ float:left;width: 90px; height: 124px; margin-left:5px; }
.page4 .report2_div img{width: 100%; background-color:#f1f1f1; }
.page5 .farm-pic-block{width: 270px; margin: 15px auto; height: 342px;}
.page5 .farm-pic-block .img-ai{position:relative;width: 170px; height: 120px; border: 5px solid #fff; display: inline-block; vertical-align: top; box-shadow: 3px 3px 5px #434039;}
.page5 .farm-pic-block .img-ai img{width: 170px; height: 120px;}
.page5 .farm-pic-block .mt-f40{margin-top: -24px;}
.page5 .panorama_360deg{position:absolute;left:0;top:0; width:30px; height:30px;}
.page5 .farm-pic-block .img-ai .panorama_360deg img,
.page5 .farm-pic-block .img-ai .panorama_360deg i img{width:100%;height:100%;}
.page5 .panorama_360deg i{position:absolute;width:100%;height:100%;left:0;top:64%}
.page5 .txt-block{padding: 10px; position: relative;}
.page5 .txt-block .txt1{font-size: 18px;text-align: right; position: relative;}
.page5 .txt-block .txt2{position: relative;}
.page5 .bg-op5{height: 55px;}
.page6 .txt1{margin: 24px auto; width: 80%; text-align: right; height: 47px;}
.page6 .txt1 h2{font-size: 18px; font-weight: normal; font-style: normal; height: 19px;}
.page6 .txt1 span{position: relative; display: inline-block; margin-top: 5px; padding: 5px 0 0 30px;}
.page6 .txt1 span i{position: absolute; right: 0; top: 0;  width: 100%; height: 5px; border-top: 2px solid #fff; overflow: hidden;}
.featured-area{position: relative; width: 280px; margin: 70px auto 0;}
.featured-area .fousPic{position: relative; margin: 0 auto; background: rgba(255,255,255,0.3); width: 240px; height: 160px; padding: 5px; box-sizing:border-box;}
.featured-area .fousPic img {border: 5px solid #fff; width: 100%; height: 100%; box-sizing:border-box;}
.featured-area .featured-btn{position: relative; overflow: hidden; width: 240px; height: 54px; margin: 15px auto 0;}
.featured-area .featured-btn ul{position: absolute; left: 0; top: 0;}
.featured-area .featured-btn li{float: left;width: 80px; height: 52px; padding: 0 3px; box-sizing: border-box;}
.featured-area .featured-btn li span{display: block; width: 100%; height: 100%; background: rgba(255,255,255,0.3); padding: 3px; box-sizing:border-box;}
.featured-area .featured-btn img{width: 100%; height: 100%;}
.featured-area .pre-btn, .featured-area .net-btn{position: absolute; border-radius: 50%; background: rgba(255,255,255,0.5); text-align: center; bottom: 12px; width: 30px; height: 30px;}
.featured-area .pre-btn{left: 0;}
.featured-area .net-btn {right: 0;}
.featured-area .pre-btn img, .featured-area .net-btn img{display: inline-block; vertical-align: top; width: 14px; height: 20px; margin-top: 5px;}
.page7 .txt1{height: 51px;}
.page7 .txt1 h2{position: relative; float: right; margin:0; display: block; width: 70%; height:28px;line-height:28px; padding-left: 20px; font-size: 18px; font-weight: normal; background: rgba(0,0,0,0.2);}
.page7 .txt1 span{float: left; display: block; width: 70%; height:28px;line-height:28px; padding-left: 20px; background: rgba(255,255,255,0.2);}
.featured-area2{margin-top: 25px;}
.featured-area2 .fousPic{height: 240px; padding: 2px;}
.featured-area2 .fousPic img{border: 0;}
.featured-area .txt-block{position: absolute; left: 0; bottom: 0; width: 100%; background: url(../../images/map/page7-4.png) repeat-x 0 bottom; background-size: 100% 100%; font-weight: normal; padding: 50px 10px 10px; box-sizing: border-box;}
.featured-area .txt-block .txt2{font-size: 14px;}
.featured-area .txt-block span{display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.featured-area .txt-block .txt3{margin-bottom: 8px;}
.featured-area .txt-block .txt3{font-size: 12px;}
.featured-area2 .featured-btn{height: 80px;}
.featured-area2 .featured-btn li{padding: 3px; height: 80px;}
.featured-area2 .pre-btn, .featured-area2 .net-btn{bottom: 25px;}
/*2016-3-7 8屏样式开始 */
.page8 .txt1{position: relative; margin-top: 10px;}
.page8 .txt1 h2{display: inline-block; width: 86%; padding: 5px 5px 5px 20px; font-size: 18px; font-weight: normal; background: rgba(0,0,0,0.2); white-space: nowrap; overflow: hidden;}
.page8 .txt1 span{position: absolute; right: 0; bottom: 5px; width: 50%; height: 2px; border-bottom: 2px solid #fff;}
.page8 .txt1 h2 p{display: inline-block; font-size: 16px;}
.page8 .animate-wap{position: relative;}
.page8 .animate-block2{width: 190px; margin: 10px auto 0;}
.page8 .animate-block2 img{width: 100%;}
.page8 .animate-block2 .txt4{margin-top: 5px; text-align: right;}
.page8 .see-resume{height: 327px; text-align: center;}
.page8 .see-resume .resume-hd {overflow: hidden;}
.page8 .see-resume .crop-pic{width: 110px; height: 110px; border: 4px solid #ac6a00; margin: 5px auto;border-radius: 50%;background-color: #f1f1f1;overflow: hidden;}
.page8 .see-resume .crop-pic img{width: 100%;height: 100%;border-radius: 50%;}
.page8 .see-resume .ll-txt{position:relative;display: inline-block; width:134px; height:28px; margin: 10px auto;}
.page8 .see-resume .ckll_bg{width:100%;}
.page8 .see-resume .ckll_ani{position:absolute;right:0;top:20%; width:28px; height:28px;}
/*2016-3-7 8屏样式结束 */
.page9 .animate-block{position: relative; margin: 0 auto; overflow: hidden;width: 260px; height: 358px;}
.page9 .animate-block .area-bg{position: absolute; width: 100%; height: 100%; top:0;}
.swiper-container2{width: 240px; margin: 10px auto; overflow: hidden;}
.swiper-container3{width: 240px; margin: 50px auto 0; overflow:hidden;}
.page9 .animate-block .farm-hd{line-height: 22px; overflow: hidden; color: #366317;}
.page9 .animate-block .farm-hd .txt,.page9 .animate-block .parm-con .txt{float:left; width:40%; white-space:nowrap; overflow:hidden;}
.page9 .animate-block .farm-hd .people,.page9 .animate-block .parm-con .timer{float:right; width:60%; text-align:right; white-space:nowrap; overflow:hidden;}
.page9 .animate-block .farm-bd{position:relative; height:108px; overflow:hidden;text-align:center;}
.page9 .animate-block .farm-bd img{position:absolute; width:100%; min-height:100%; top:50%; left:0;}
.page9 .txt1{margin:0 auto; text-align:right; padding-right: 32px;}
.page10 .txt{width: 310px; margin: 5px auto; padding: 0 5px;  border-left: 5px solid #08a1ef; font-size: 14px; font-weight: normal; box-sizing: border-box;}
.page10 .crop-block{width: 310px; height: 159px; margin:0 auto; overflow:hidden;}
/*2016-3-7 10屏样式开始 */
.page10 .crop-block li.items {float: left; width: 50%; padding: 0 1px 1px 0; box-sizing: border-box;}
.page10 .crop-block.crop-row1 li.items{float: none; width: 100%; padding: 0;}
.page10 .crop-block.crop-row2 li.items{float: left; width: 50%; padding: 0 2px 0 2px; box-sizing: border-box;}
.page10 .crop-block.crop-row3 li.items{float: none; width: 100%; padding: 0 1px 1px 0;}
.page10 .crop-block.crop-row4 li.items{float: left; width: 50%; padding: 0 1px 1px 0; box-sizing: border-box;}
.page10 .dl-wap{background:url(../../images/map/page2-16-3.png); overflow:hidden; padding: 4px; margin-bottom:0;}
.page10 .crop-block.crop-row1 .dl-wap{height: 159px; padding: 6px 6px 0;}
.page10 .crop-block.crop-row2 .dl-wap{height: 159px; padding: 6px;}
.page10 .crop-block.crop-row3 .dl-wap {position: relative;}
.page10 .crop-block.crop-row4 .dl-wap {height: 78px; padding: 10px 3px; box-sizing:border-box;}
.page10 .dl-dt{position: relative; background-color: #f5f5f5; overflow: hidden;}
.page10 .crop-block .dl-dt{height: 110px;}
.page10 .crop-block.crop-row2 .dl-dt{height:100px;}
.page10 .crop-block.crop-row3 .dl-dt {float: left; left: 4px; top: 4px; width: 44px; height: 44px;}
.page10 .crop-block.crop-row4 .dl-dt {width: 58px; height: 58px; float: left;}
.page10 .crop-block.crop-row6 .dl-dt{width: 44px; height: 44px; float: left;}
.page10 .crop-block .dl-dt img{ width:100%;height:100%;}
.page10 .crop-row1 .dl-dt img{position:absolute; width:100%; min-height:100%; top:50%; left:0;}
.page10 .dl-dt .standard{position: absolute; left: 0; top: 0; min-width: 90%; max-width: 100%; padding: 0 2px; background: #4ca910; white-space: nowrap; overflow: hidden; font-size: 12px; height: 18px; line-height: 18px;}
p.standard{margin:0;}
.page10 .crop-block.crop-row1 .dl-dt .standard{max-width: 50%; min-width: 15%;}
.page10 .crop-block.crop-row2 .dl-dt .standard{min-width: 50%;}
.page10 .crop-block.crop-row4 .dl-dt .standard{min-width: 90%;}
.page10 .dl-dt .standard span{position: absolute; width: 100%; height: 100%;}
.page10 .crop-block.crop-row1 .dl-dd{width: 100%; height: 42px;}
.page10 .crop-block.crop-row3 .dl-dd {height: 44px; padding-left: 52px; padding-right: 5px;}
.page10 .crop-block.crop-row4 .dl-dd {height: 58px; padding-left: 60px;}
.page10 .crop-block.crop-row6 .dl-dd {padding-left: 48px;}
.page10 .dl-dd p{width: 100%; white-space: nowrap; overflow: hidden; margin:0;}
.page10 .crop-block.crop-row6 p{height: 15px; line-height: 15px;}
.page10 .dl-dd p.txt2 {font-size: 12px; text-overflow: ellipsis; margin:0;}
.page10 .crop-block.crop-row3 .dl-dd p.txt3 {text-align: right;}
.page10 .dl-dd .mt7 { margin-top: 5px;}
/*2016-3-7 10屏样式结束 */
.swiper-container4{width: 268px; height: 160px; margin: 0 auto 5px; padding: 0 34px; box-sizing:border-box;}
.page11 .txt-block .txt2 img{width: 18px; height: 18px; float:left; margin-right:5px;}
.page11 .txt-block .input-txt,.page11 .txt-block .input-btn{height: 34px; width:100%; padding:0 10px; border:0; font-size:110%; font-family:'微软雅黑'; color:#c2c2c2;}
.page11 .txt-block .input-btn{background-color:#ef8730; font-size:120%; color:#fff;}
.service{width: 200px; height: 160px; overflow: hidden; position: relative; left: 50%; margin-left: -100px;}
.service .imageList{position: absolute; top: 0; left: 0; width: 2000px;}
.service .imageList li{float: left; position: relative; width: 200px; height: 160px;}
.service .imageList li img{width: 100%; height: 100%;}
.service .imageList li .txt{position: absolute; left: 0; bottom: 0; width: 100%; background: url(../../images/map/tm.png) repeat; line-height: 24px; font-size: 14px;text-align: center; overflow: hidden;}
.btns{width: 276px; height: 38px;     position: absolute; left: 24px;  top: 255px;}
.pre-btn{position: absolute; width: 28px; height: 38px; left:0; background-image:url(../../images/map/page6-4.png);}
.next-btn{position: absolute; width: 28px; height: 38px; right:0; background-image:url(../../images/map/page6-5.png);}
.page11 .txt-block{width: 200px; margin: 0 auto;}
.page11 .mb5{margin-bottom: 5px;}


 /*右侧*/
.pb5{padding-bottom: 5px;}
.nw280{width: 280px; box-sizing:border-box;}
.nw300{width: 300px; box-sizing:border-box;}
.tabRight{width: 100%; height: 100%; overflow: hidden; font-size: 14px;}
.tabRight .hd{height: 35px;}
.tabRight .hd span{float: left; width: 185px; height: 35px; line-height: 35px; text-align: center; background-color:#e2e2e4; cursor: pointer;}
.tabRight .hd span.current{background-color: #fff;}
.tabRight .bd .listRight{display: none; height: 100%; box-sizing:border-box;}
.tabRight .bd div.current{display: block;}
.tabRight .bd .projectSet{padding-top: 10px; padding-left: 35px;}
.tabRight .bd .projectSet h4{font-size: 16px; padding-top: 20px; padding-bottom: 10px;}
.projectSet .row1{position: relative; width: 300px; line-height: 30px;}
.projectSet .row1 .rowS{position: absolute; right: 10px; top: 0; font-size: 12px; color: #999; cursor: pointer;}
.projectSet .row1 .music{position: absolute; left: 10px; top:9px; width: 12px; height: 14px; background: url(../../images/map/miu.png);}
.projectSet .checkBox{width: 100%; height: 35px;}
.projectSet .checkBox li{float: left; width: 140px; line-height: 35px; border: 1px solid #ccc; border-radius: 5px; padding-left: 10px; box-sizing:border-box; margin-right: 20px;}
.tabRight .bd div.icheckbox_minimal-aero{display: block; width: 22px; height: 22px;}
.icheckbox_minimal-aero,.icheckbox_minimal-aero.checked{ float:left;}
.projectSet .publish{width: 370px; height: 65px; position: fixed; bottom: 0; right: 0; padding-left: 8px; padding-right: 8px; box-sizing: border-box;}
.projectSet .publish .inner{border-top: 1px solid #e2e2e2; text-align: center; padding-top: 15px;}
.projectSet .little-tip{position: fixed; width: 310px; text-align: center; bottom: 70px;}
.picB{margin-top:10px; position: relative;}
.picB .sha{position: absolute; top: -1px; right: 0; display: none;}
.picB:hover .sha{display: block;}
/*控制设置*/
.template{padding:30px 30px 0;}
.template h3{font-size: 16px; padding-bottom: 10px; border-bottom: 1px solid #e2e2e2;}
.template h4{font-size: 14px; padding: 20px 0 10px 0;}
.template .bg{width: 100%; height: 173px; border: 1px solid #e2e2e2; position: relative;}
.template .bg span{width:100px; height: 156px; position: absolute; top:50%; margin-top: -78px; left: 50%; margin-left: -50px; }
.template .bg .text{position: absolute; bottom: 5px; left: 50%; margin-left: -43px; cursor: pointer;}
.template .modify{float: right; font-size: 12px; color: #999;} 
.template .logoSet{width: 100%; height: 120px; border: 1px solid #e2e2e2; position: relative;}
.template .logoSet .square{position: absolute; top:10px; left: 50%; margin-left: -50px; width: 100px; border: 1px solid #e2e2e2; }
.template .gsTip {font-size: 12px; color: #999; text-align: center; padding-bottom: 5px;}
.template .dw{position: relative; width: 300px; height: auto;}
.template .dw span{position: absolute; bottom: 5px; right: 10px; font-size: 12px; color: #999;}
.template .subtitle{color: #666;}
.template .picS,.template .picM{width: 300px; height: auto; padding:15px 10px; box-sizing:border-box; border:1px solid #e2e2e2;}
.template .picS .pic,.template .picM .pic,.template .r-pic{position: relative; left: 50%; margin-left: -112px; width: 224px; height: 150px; background-color: #f0f0f0; border: 1px dashed #ccc; text-align: center;}
.template .picS .pic .txt,.template .picM .pic .txt{position: absolute; left: 50%; margin-left: -43px; top: 50%; margin-top: -18px; width: 86px; height: 36px; line-height: 36px; background: url(../../images/map/btn.png); text-align: center; cursor: pointer;}
.template .picM{height: auto; margin-bottom: 10px;}
.template .picM .pic{margin-bottom: 10px;}
.template .r-pic{border:0; text-align: center; margin-bottom: 10px; background:#fff;}
.template .r-pic img{width: 224px; height: 150px;}
.template .r-pic .sha{width: 18px; height: 18px; position: absolute; right: 0; top: 0; display: none;}
.template .r-pic:hover .sha{display: block;}
.template .r-pic:hover .sha img{width: 18px; height: 18px;}
.template .click{width: 300px; height: 35px; line-height: 35px; background-color: #4a6da7; border-radius: 5px; cursor: pointer; text-align: center; color: #fff;}
.template .people{width: 300px; height: auto;}
.template .people .p-detail{width: 100%; height: 250px; border: 1px solid #e2e2e2; padding: 15px 10px; box-sizing:border-box; margin-top: 15px; position: relative;}
.template .people .p-detail .tup{width: 100%; height: 160px; text-align:center;}
.p-detail .tup img{width: 150px; height: 150px;}
.p-detail .sha{position: absolute; top: 0; right: 0; display: none;}
.p-detail:hover .sha{display: block;}
.designDiv1 {position: relative; width: 160px; height: 208px; padding: 18px 0 10px; margin: 0; border: 1px solid #fff; background: #fff;}
.designConWap1 {width: 154px; height: 200px; padding: 2px; border: 1px solid #d6d6d6;}
.designCon1 {width: 154px; height: 200px; position: relative;}
.designHd1 {padding: 2px 16px 2px 10px;}
.designHd1 .designLogo1{float: left;}
.designHd1 .designReturn1{float: right;}
.designCt1 {position: relative; width: 154px; height: 95px; clear: both; overflow: hidden;}
.designCon1 h4 {padding-top: 6px; font-size: 14px; font-weight: bold; text-align: center; color: #333; padding-bottom: 0;}
.designCon1 h5 {padding-top: 5px; font-size: 10px; text-align: center; padding-bottom: 0;}
.designCon1 p {height: 36px; overflow: hidden; width: 132px; padding-left: 16px;border-top: 1px solid #d6d6d6; margin: 6px auto 0; padding-top: 2px; background: url(../../images/map/mapadd.png) no-repeat 0 4px; font-size: 12px; line-height: 18px; color: #2c3236;}
.designCt1 img { position: absolute; width: 68px; height: 68px; padding: 17px 0 0 42px;}
.designCt1 .chartBg {position: absolute; width: 154px; height: 95px; z-index: 2; background: url(../../images/map/chart.png) no-repeat;}
.template h3.name{width: 300px; height: 20px; line-height: 20px; margin-bottom: 10px; overflow: hidden; font-size: 16px; text-align: center; color: #333; border-bottom:0;}    
.lvli{width: 300px; height: 270px; border: 1px solid #e2e2e2; margin-top: 10px; position: relative;}
.lvli .sha{position: absolute; top: -1px; right: 0; display: none;}
.lvli .see{position: absolute; top: -1px; right: 19px; display: none;}
.lvli:hover .sha{display: block;}
.lvli:hover .see{display: block;}
.template .picM .nsize,.template .resize{width: 270px; height: 150px; margin-left: -135px;}
.template .resize img{width: 270px; height: 150px;}
.template .goods{width: 300px; height: auto;}
.template .goods .goodsList{height: 80px; border: 1px solid #e2e2e2; position: relative; margin-top: 10px;}
.goodsList .good-l{width: 80px; text-align: center; padding-top: 10px; float: left;}
.goodsList .good-l img{width: 60px; height: 60px;}
.goodsList .good-r{padding-top: 15px; line-height: 24px;}
.goodsList .sha{position: absolute; top: 0; right: 0; display: none;}
.goodsList:hover .sha{display: block;}
.template s{text-decoration: none;}
.farm-pic{padding-top: 10px; padding-left: 25px;}    
.farmList{padding-left: 25px;}
.farmList li{padding-top: 10px; position: relative; width: 224px; height: 150px;}
.farmList li img{width: 224px; height: 150px;}
.farmList li .sha{position: absolute; top:10px; right: 0; display: none;}
.farmList li .see{position: absolute; top:10px; right: 19px; display: none;}
.farmList li:hover .sha{display: block;}
.farmList li:hover .see{display: block;}
.farmList li .sha img{width: 18px; height: 18px;}
.farmList li .see img{width: 18px; height: 18px;}
/*弹框样式开始*/
/*更换背景*/
.pageW{width: 780px; position: absolute; left: 50%; margin-left: -390px; margin-top: -255px; top:50%;}
.pageW .s-txt{font-size: 14px; color: #666; border-bottom: 1px solid #e2e2e2; padding-bottom: 5px;}
.pageList,.honor,.honorM,.our-team,.resume{height: 330px; overflow: hidden;}
.pageList li,.honor li,.honorM li,.our-team  li{position: relative; float: left; width: 145px; height: 145px; background-color: #cccccc; box-sizing:border-box; text-align: center; margin-right: 4px; margin-top: 15px;}
.our-team li{height: 175px; background-color: #fff;}
.our-team li .team-bg{width: 145px; height: 145px; background-color: #cccccc;}
.our-team li p{width: 145px; line-height: 30px; text-align: center; color: #646464; height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.pageList .r-bg,.honor .r-bg,.honorM .r-bg,.our-team .r-bg{position: absolute; width: 145px; height: 145px; top: 0; left: 0; background: url(../../images/map/r-bg.png); display: none;}
.pageList li img{width: 93px; height: 145px;}
/*添加页面*/
.addList{height: 330px; overflow: hidden;}
.addList li{position: relative; float: left; width: 92px; height: 165px; margin:15px 15px 0;}
.addList .r-bg{position: absolute; width: 92px; height: 145px; top: 0; left: 0; background: url(../../images/map/bg-select.png); display: none;}
.addList li img{width: 92px; height: 145px;}
.addList li .sha{position: absolute;}
.addList li p{height: 20px; line-height: 20px; color: #646464; text-align: center; }
/*认证图片*/
.honor li img,.honorM li img{width: 142px; height: 100px; padding-top: 20px;}
.our-team li img{width: 145px; height: 145px;}
/*第二页改动*/
.onload{position: absolute; width: 86px; height: 36px; opacity: 0; filter:alpha(opacity=0); font-size: 30px;}
/*选择履历*/
.resume li{float: left; position: relative; margin-right: 20px;}
.resume li .lvli-bg{width: 160px; height: 208px; position: absolute; top: 0px; left: 1px; background: url(../../images/map/lvli-bg.png) no-repeat; display: none;}
.resume li .name{width: 162px; height: 15px; text-align: center; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.resume li .designDiv1{padding-bottom: 5px;}
/*添加服务*/
.addService{position: absolute; width: 484px;left: 50%; margin-left: -242px; margin-top: -280px; top:50%;}
.addService .sever{font-size: 14px; line-height: 30px;}
.sever-bg{width: 200px; height: 150px; border: 1px dashed #ccc; position: relative; left: 70px; margin-top: 15px; background-color: #f0f0f0;}
.sever-bg .txt{position: absolute; left: 50%; margin-left: -43px; top: 50%; margin-top: -18px; width: 86px; height: 36px; line-height: 36px; background: url(../../images/map/btn.png); text-align: center; cursor: pointer;}
.sever-bg .txt .txt-load{position: absolute; top:0; left: 0; width: 86px; height: 36px; opacity: 0; filter:alpha(opacity=0); font-size: 30px;}
/*农场图片*/
.farmPic{width: 100%; height: 330px;}
.farmHd{width: 160px; height: 330px; float: left; background-color: #f5f5f7; font-size: 14px; color: #646464;}
.farmHd li{height: 50px; line-height: 50px; border-bottom: 1px solid #e2e2e2; font-size: 14px; padding-left: 15px; cursor: pointer;}
.farmHd li.cur{background-color: #fff;}
.farmBd{width: 600px; height: 330px; float: left;}
.farmCont{padding-left: 15px; display: none;}
.farmBd div.cur{display: block;}
.farmCont .txt{width: 100%; height: 40px; color: #646464; border-bottom: 1px solid #e2e2e2; padding-top: 10px; font-size: 14px;}
.farmCont .pre-pic{width: 100%; height: 280px; overflow: hidden;}
.farmCont .pre-pic li{float: left; position: relative; width: 145px; height: 145px; margin-top: 20px; text-align: center; background-color: #cccccc; margin: 20px;}
.farmCont .pre-pic li img{width: 145px; height: 105px; margin-top: 20px;}
.farmCont .pre-pic li .r-bg{position: absolute; top:0; left: 0; width: 145px; height: 145px; background: url(../../images/map/r-bg.png); display: none;}
/*种植*/
.plant li{height: 145px;}
/*模板9新改动*/
.radio-s{height: 25px;}
.radio-s li{float: left;}
.radio-s li label{font-weight: normal;}
.iradio_minimal-blue,.iradio_minimal-blue.checked{ float:left;}
.s-nw .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {width: 300px;}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark{background-image: url("../img/glyphicons-halflings.png"); background-position: 180px 0;}    

.bigTitle{width: 100%; height: 45px; line-height: 45px; text-align: center; color: #fff; font-size: 18px; position: absolute; top: 50px; left: 0;}
.musicSet{padding-top:15px;}
.musicSet li{width: 100%; height: 35px; line-height: 35px; background-color: #f7f7f7;}
.musicSet li.odd{background-color: #fff;}
.upload{width: 100%; height: 75px;padding-top:10px; background-color: #f7f7f7; border: 1px dashed #ccc; text-align: center; position: fixed; bottom: 70px; border-radius: 10px; color: #646464; width: 587px;}
.upload .txt{ margin-top:5px;}
.musicSet li .m-circle img{padding: 0 5px 4px 5px;}
.musicSet li .turn-c,.musicSet li .m-close{width: 14px; height: 14px; background: url(../../images/map/on.png); margin-top: 10px; margin-right: 15px; float: right;}
.musicSet li .m-close{width: 13px; height: 13px; background: url(../../images/map/close.png); margin-top: 11px}
.musicSet li.bca{background-color: #418bca;}
/*轮播*/
.featured-area .featured-btn .onPic span{background:rgba(255,104,104,0.5);}

/*2016-3-7 logo新改样式*/
.page4 .table1 .txt2 { width: 102px; max-height: 90px;}
.logo-block{position: relative; height: 36px; padding: 8px 0 0 8px;}
.logo-block .logo-pic{width: 28px; height: 28px; padding: 2px; position: absolute; left: 6px; top: 8px; z-index: 2; border-radius: 4px; background: url(../../images/map/page2-15-3.png);}
.logo-block .logo-pic img{width: 100%; height: 100%; border-radius: 4px;}
.logo-block .logo-txt{padding-left: 30px; padding-top: 7px; height: 30px;}
.logo-block .logo-txt p{height: 22px; line-height: 20px; padding: 0 5px; font-size: 12px; position: relative; display: inline-block; max-width: 90%;}
.logo-block .logo-txt p span{position: relative; z-index: 2; display: inline-block; max-width: 100%; white-space: nowrap; overflow: hidden; color: #fff;}
.logo-block .logo-txt .i-bg1, .logo-block .logo-txt .i-bg2{height: 20px;}
.logo-block .logo-txt .i-bg3{right: -20px; width: 20px; height: 22px; position: absolute; top: 0;}
.logo-block .logo-txt .i-bg1, .logo-block .logo-txt .i-bg2 {position: absolute; left: 0; top: 0; width: 100%; background: url(../../images/map/page2-12.png);}
.logo-block .logo-txt .i-bg2{top: 2px;}
.logo-block .logo-txt .i-bg1{z-index: 1;}
/*2016-3-7 模板3新改样式*/
.health .icheckbox_minimal-blue,.icheckbox_minimal-blue.checked{ float:left;}
.health{padding: 30px 0 0 10px;}
.health label{font-weight: normal; color: #646464; padding-left: 10px;}

.page9 .animate-block .parm-con {
    position: absolute;left: 0px; bottom: 0px;width: 100%;
    padding: 0 5px;
    background: url(../../images/map/page2-16-3.png);
    color: #fff;
    overflow: hidden;
    box-sizing:border-box;
}
.page9 .animate-block .parm-con .txt, .page9 .animate-block .parm-con .timer{ height:28px;line-height:28px;margin:0;}

.health .icheckbox_minimal-aero, .health .iradio_minimal-aero{top:0;}
.resume{ margin-top:15px;}
.resume li .designDiv1{padding: 0px; height:204px;}
.resume li .name{margin:10px 0 15px;}



/* 通用的新的上传图片 */
.fileImg ,.fileBtn{ position: relative; float: left; width: 130px; height: 130px; margin: 0 5px 5px 0; overflow: hidden;}
.fileImg img ,.fileBtn img{ width: 100%; height: 100%;}
.fileBtn input{ position: absolute; right: 0; bottom: 0; z-index: 2; width: 100%; height: 150%; opacity: 0; filter:alpha(opacity=0); font-size: 50px; cursor:pointer;}
.fileImg{ position:relative;}
.fileImg .file-btns{ position:absolute; right:0; top:0; z-index:1; display:none; border:1px solid #206fbc; overflow:hidden; cursor:pointer;}
.fileImg .file-btns img{ float:left; width:24px; height:24px;}
.fileImg:hover .file-btns{ display:block;}
#changeLogoModal .modal-dialog{ width:540px;}
#changeLogoModal .modal-title{ font-size:14px;}
#changeLogoModal .changeLogo_Table{ width:430px; margin:20px auto;}
#changeLogoModal .color_f00{ color:#f00;}

/* 我们的活动 */
.page12{width: 320px; height: 490px; background-repeat: no-repeat; background-position: center top; background-size: 100% 100%; background: url(../../images/map/Propaganda_bg13.jpg);}
.page12 .txt1 {width: 100%; text-align: center; font-size: 18px; height: 32px; }
.page12 .txt2 {width: 100%; text-align: center; font-size: 14px; height: 20px; }
.page12 .lunbo {width: 300px; height: 174px; margin: 25px auto; position: relative; overflow: hidden;}
.page12	.lunbo .rightBtn{width: 16px; height: 28px; position: absolute; top: 72px; right: 5px; z-index: 1000;}
.page12	.lunbo .leftBtn{width: 16px; height: 28px; position: absolute; top: 72px; left:5px; z-index: 1000;}
.page12 .txt2 .strip{
	background: #e8a000;
	display: inline-block;
	width: 5px;
	height: 14px;
	vertical-align: -3px;
	margin-right: 5px;
}
.page12 .lunbo .leftBtn img,.lunbo .rightBtn img{
	width: 100%;
	height: 100%;
}
.page12 .lunbo ul li{
	position: absolute;
}
.page12 .lunbo ul li img{
	width: 100%;
	height: 100%;
}
.page12 .hdsm{font-size: 14px; width: 300px; margin: 0 auto;}
.page12 .hdsm p.detail{
	font-size: 14px;
	line-height: 18px;
	height: 74px;
	overflow: hidden;
	text-indent: 28px;
}
.page12 .hdsm p.active {
    margin-top: 10px;
   	text-align: right;
}
.page12 .hdsm p.active a{
   	color: #fff;
   	text-decoration: underline;
}

.page12  .lunbo ul li.no0{width: 139px; height: 100px; left: -40px; top:40px;}
.page12  .lunbo ul li.no1{width: 192px; height: 143px; left: 0; top:16px; z-index: 888;}
.page12  .lunbo ul li.no2{width: 238px; height: 174px; left: 36px; top:0; z-index: 999;}
.page12  .lunbo ul li.no3{width: 192px; height: 143px; left: 274px; top:16px; z-index: 888; }
.page12  .lunbo ul li.no4{width: 139px; height: 100px; left: 260px; top:40px;}
.page12  .lunbo ul li.waiting{display: none;} 