@charset "utf-8";
/* CSS Document */

.layer{position: absolute; width: 50px; height: 50px; background: #fff; border-radius: 15px; text-align: center; line-height: 50px; cursor: pointer; bottom: 0px; left: 78px;z-index:2;margin:0 0 15px 15px;}
.layerDetail{display: none; position: absolute; width: 190px; min-height: 145px; bottom: 0px; left: 78px; background: #fff; border-radius: 15px; padding: 0 15px; font-size: 12px; color: #78839d;z-index:2;margin:0 0 15px 15px;}
.layerDetail h4{height: 42px; line-height: 42px; font-size: 14px; color: #4a5980; border-bottom: 1px solid #efefef; cursor: pointer;}
.layerDetail .firstList{border-top: 1px solid #f7f7f7; padding-top: 10px;}
.layerDetail .firstList li{padding-left: 20px; position: relative;  min-height: 18px; margin-bottom: 10px;}
.layerDetail .firstList li img{vertical-align: -3px; margin-right: 10px;}
.layerDetail .firstList li dl{display: none;}
.layerDetail .firstList li dd{padding-left: 20px; margin-top: 10px; position: relative;}
.layerDetail .firstList li dd img{vertical-align: -6px;}
.layerDetail .firstList li dt{display: none;}
.layerDetail .firstList li dt span{display: block; margin-top: 10px; font-weight: normal; padding-left: 30px;}
/*.iCheckbox{float: right; margin-top: 2px!important;}*/
.controller{float:left;}
.input{float: right;}
.piaochecked {
width: 12px;
height: 12px;
float: right;
cursor: pointer;
text-align: center;
background-image: url(../../images/map/layer/checkBox.png);
background-repeat: no-repeat;
background-position: 0 0;
margin: 0!important;
padding: 0!important;
}

.on_check {
background-position: 0 -18px;
}
span.icon{position: absolute; background: url(../../images/map/layer/up.png) no-repeat; width: 10px; height: 10px; left: 0; top: 5px;}
.iCheckbox {
opacity: 0;
cursor: pointer;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
}
.controller{ cursor: pointer;}