@CHARSET "UTF-8";
/*地块详细开始*/


.menutree{width:210px; overflow:auto;}
/*树开始*/

/*树开始*/
.nav_h1 { background:url(../../images/menu_bg2.png) right no-repeat; height: 43px; line-height: 43px; font-size:16px; color:#000; padding-left:30px;  cursor:pointer;}
.ons2{ background:url(../../images/menu_bg.png) right  no-repeat; height: 43px; line-height: 43px; font-size:16px; color:#000; padding-left:30px;cursor:pointer;}
.slist_2 { margin:0; display:none; background:url(../../images/ul_bg.png) bottom center repeat-x;}
.l2{ background:none; font-size:14px; height:43px; padding-left:40px;line-height:43px; display:block; font-size:16px; 	font-family:"宋体";color:#a3d2ff; text-decoration: none; cursor:pointer;
margin-left: 0px;
    margin-top: 0px;
    text-indent: 0px;
    width: auto;
}
.l2.currentl2{ color:#a3d2ff;}
.sslist { overflow:hidden; display:none; border-bottom:1px solid #656a70;}
.l3 a:link,.l3 a:visited,.l3 li a:hover,.l3 a:active{text-indent:59px; height:35px; line-height:35px; display:block; font-size:12px; text-decoration:none; color:#ccc; font-size:14px;}
.l3.currentl3 a{ color:#000; }
/*树结束*/

.dk_con01{margin-right:10px;}
.dk_lfont1{float:left; width:450px; font-size:20px; color:#495b7f;}
.dk_rfont1{ float:right; }

.dk_tb03{margin-top:10px; border-top: 1px solid #eeeeee; height:70px; overflow:hidden;}
.dk_tb03_li{ width:162px; float:left;line-height:30px; background:url(../../images/dkline_07.jpg) right center no-repeat; margin:5px; padding:0 0px 0 10px;}
.dk_tb03 .dk_fs01{color:#8e8a8a; font-size:14px;}
.dk_tb03 .dk_fs02{color:#000; font-size:18px;}
.dk_mcb{position:relative; top:0px; left:0px;}
.dk_hiden_but{ width:100%; height:20px; text-align:center; background:url(../../images/line0002.jpg) top left repeat-x;}
.dk_hiden_but img{ cursor:pointer;}
.dk_yc{ position:absolute;z-index:9; top:0px; left:0px;}
.dk_nc{ width:161px; height:161px; overflow:hidden;}
.dk_tb02{margin-top:30px;}
.dk_vi1{font-size:16px;  color:#000;margin-bottom:10px; display:block;}
.dk_vibox{width:186px; height:186px; overflow:hidden; position:relative;}
.dk_vinc{width:186px; height:186px; overflow:hidden; position:relative; z-index:4;}
.dk_viyc{position:absolute; z-index:4; top:0px; left:0px;}
.dk_vi_text{margin-top:10px; color:#777777; font-size:12px;margin-bottom:10px;}
.dk_viwe{ width:190px; margin-left:10px; margin-top:10px; position:relative;}
.dk_zzs{ position:relative; height:52px; overflow:hidden;}
.dk_zzr{ position:absolute; z-index:10; left:0;right:0; width:54px;}
.dk_zzr2{ position:absolute; z-index:10; bottom:0;right:0; }
.dk_zzr3{ position:absolute; z-index:10; left:0;right:0;width:54px; }
.dk_title9 { background:url(../../images/dqz.jpg) no-repeat; color: #fff;display: block; height: 24px;line-height: 19px; text-align: center;width: 58px;}
.dk_title10 { background:url(../../images/dk_ls.jpg) no-repeat; color: #fff;display: block; height: 24px;line-height: 17px; text-align: center;width: 58px;}
.dk_zzs a:hover{ background-color:#fff000;}
.dk_zz {max-height: 300px; overflow:auto; position:relative; padding-top:14px; padding-left:3px;}
.dk_zz_li{float:left; margin-right:8px; margin-bottom:17px; padding:0 10px; position:relative;}
.dk_zz_li2{float:left; margin-right:8px; margin-bottom:17px; padding:0 10px; position:relative;}

.dk_zz .dk_listh{ position:absolute;right:0;z-index:9; cursor:pointer;}

.dkbox2{ width:100%; min-height:73px; padding-top:18px; border:1px solid #ddd; }



.dk_list2 .current a {  color:#383838; font-size:14px; width:99px; border-bottom:1px solid #ffffff; background-color:#ffffff;position:relative; z-index:9;}
.dk_list2 .li2.current{ color:#383838; font-size:14px; width:99px; border-bottom:1px solid #ffffff;}
.dk_list2 {width:100% ;height:36px;   border-left:1px solid #ddd; }
.dk_list2 li {float:left;  border-right:1px solid #ddd; border-top:1px solid #ddd;}
.dk_list2 li a {display:block; width:101px; height:36px; line-height:36px; text-align:center; font-size:14px;	color:#383838;}

.dk_ns001{margin-left:10px;margin-right:10px;}
.dk_ns001t{ text-align:center; display:block; width:111px; overflow:hidden;}
.dk_ns001ui{ text-align:center; display:block; }
.dk_ns001_t{border-collapse:collapse;border:none;}
.dk_ns001_t td{border:1px solid #e9e9e9; height:120px; padding:3px;}
.dk_ns001ui_li{position:relative; margin:5px 15px;float: inherit;display: inline-block;vertical-align: top;}
.dk_add{ float:left; vertical-align:middle; display:block; margin:5px 15px;margin-top:8px;}


/*成本开始*/
.dk_cbt01{margin-left:auto;margin-right:auto;}
.dk_cbt01 td{ background:url(../../images/dk_dx.jpg) right repeat-y; padding-left:20px;}
.dk_cbtno{border:0; background:none;  }
.dk_cbt01_1{ color:#999; font-size:12px; margin-bottom:10px;}
.dk_cbt01_2{font-size:20px;}

.dk_his_box{width:144px;}
.dk_history{margin-left:10px;margin-top:20px;}
.dk_his_list{background:url(../../images/dk_hisline.jpg) 8px 0px repeat-y; }
.dk_history .dk_his_box .dk_htop{background:url(../../images/dk_bgt.jpg) no-repeat; width:144px; height:6px;  }
.dk_history .dk_his_box .dk_hbottom{background:url(../../images/dk_bgb.jpg) no-repeat; width:144px; height:6px;  }
.dk_history .dk_his_box .dk_his_cen{ border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;padding-top:10px;padding-bottom:10px;width:122px; display:inline-block;padding:10PX; overflow:hidden;}
.dk_his_list ul li{ padding-left:39px;margin-top:20px;margin-bottom:20px;}
.dk_his_co{ position:relative;}
.dk_his_po{ position:absolute; z-index:10; top:50%;left:-39px;}


/*切换02*/
.dk_cb02{padding-left:20px;padding-right:20px;}
.dk_cb2table{width:100%; border:1px solid #dedede;border-top:none;margin-top:20px;margin-bottom:10px;}
.dk_cb2table th{ font-family:"宋体"; font-weight:none; border-top:1px solid #dedede; border-bottom:1px solid #dedede;height:35px; line-height:35px;text-align: center;}
.dk_cb2table tr td{ text-align:center;height:30px; line-height:30px;border-bottom:1px solid #dedede; }
.dk_cb2table tr .nottt{background-color:#fffff;}
.dk_cb2table .over{background-color:#fff000;}

.dk_cb2table .alt td{background-color:#f1f1f1;}
.list_view {
    background: url("../../images/02_63.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 16px;
}
.list_edit {
    background: url("../../images/02_60.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 16px;
}
.list_delete {
    background: url("../../images/02_62.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 16px;
	
}
.dk_cb2table .dk_cb021{border-right:1px solid #bdbdbd; background-color:#fff;}
.dk_cb2table .dk_cb022{ background:url(../../images/dk_dx.jpg) right 0 repeat-y;}

.map_search{ position:relative; z-index:2;top:20px; float:right;}
.map_search li{ float:left;}
.map_s_bg{ width:68px; height:36px;background: url(../../images/tbs_06.png) left no-repeat; padding-left:5px; float:left; line-height:36px; text-align:center; color:#808080;}
.map_s_bg strong{ width:68px; height:36px;background: url(../../images/tbs_06.png) right no-repeat; font-weight:normal; float:left; color:#808080;}
.map_s_bg.this{ width:68px; height:36px;background: url(../../images/tbs_071.png) left no-repeat; padding-left:5px; float:left; line-height:36px; text-align:center;color:#676767;}
.map_s_bg.this strong{ width:68px; height:36px;background: url(../../images/tbs_071.png) right no-repeat; font-weight:normal; float:left;color:#676767;}
.map_s_bg1{ width:68px; height:36px;background: url(../../images/tbs_061.png) left no-repeat; float:left; line-height:36px; text-align:center; color:#808080;}
.map_s_bg1 strong{ width:68px; height:36px;background: url(../../images/tbs_061.png) right no-repeat; padding-right:5px; font-weight:normal; float:left; color:#808080;}
.map_s_bg1.this{ width:68px; height:36px;background: url(../../images/tbs_07.png) left no-repeat; float:left; line-height:36px; text-align:center; padding-left:1px; color:#676767;}
.map_s_bg1.this strong{ width:68px; height:36px;background: url(../../images/tbs_07.png) right no-repeat; padding-right:5px; font-weight:normal; float:left; padding-left:1px; color:#676767;}


/*左侧分类树新样式*/
.nav_h1_dk { background:url(../../images/tree03.png) left no-repeat; height:35px; line-height:35px; font-size:14px; color:#000; padding-left:34px; cursor:pointer; border-top:1px solid #ffffff; font-family:"宋体";}
.ons2_dk{ background:url(../../images/tree04.png) left  no-repeat; height:35px; line-height:35px; font-size:14px; color:#000; padding-left:34px; cursor:pointer;  font-family:"宋体";}
.slist_2_dk { margin:0; display:none; background:url(../../images/growth/ul_bglan.png) bottom center repeat-x; border-bottom:1px solid #d7d7d7; padding-bottom:10px;}
.sslist_dk { overflow:hidden; display:none; background:url(../../images/growth/ul_bglan.png) bottom center repeat-x; border-bottom:none;}
.slist_2_dk .l2 { color: #000; cursor: pointer; display: block; font-family: "宋体"; font-size: 12px; height:40px; line-height: 40px; padding-left:46px; text-decoration: none; font-weight:normal; overflow:hidden;}
.slist_2_dk .currentl2{ background:url(../../images/tree_05.png) center no-repeat;}

/*农事管理开始*/
.dk_gl01{}


.noshiul,.noshiul_cs{ width:153px; height:27px; margin:0 auto; position:relative; z-index:5;}
.noshili,.noshili01,.noshili_cs,.noshili_cs01{width:76px; height:27px; line-height:27px; text-align:center; float:left; color:#262626;font-size:14px; cursor:pointer;}
.noshili,.noshili_cs{background:url(../../images/noshitableft.jpg) no-repeat;}
.noshili01,.noshili_cs01{background:url(../../images/noshitab.jpg) no-repeat;}
.noli.noshili.current,.noli.noshili01.current,.noli.noshili_cs.current,.noli.noshili_cs01.current{ color:#ffffff; font-size:14px; width:76px; height:27px; line-height:27px;}
.noli.noshili.current,.noli.noshili_cs.current{background:url(../../images/noshitabon.jpg) no-repeat;}
.noli.noshili01.current,.noli.noshili_cs01.current{background:url(../../images/noshitabonleft1.jpg) no-repeat;}
.nosidiv{ margin-top:25px; margin-left:10px; margin-right:10px; padding-bottom:10px;}
.kd_data_bg{ width:89px; height:45px; background:url(../../images/kd_data_bg.jpg) repeat-y; text-align:center; border-bottom:1px solid #b9bec4;}
.noshiborder{border-top:1px solid #e0e5eb;}
.nos_timetd{ height:30px; text-align:left; font-size:12px; color:#333; background:url(../../images/dk_tx.png) bottom center repeat-x;}
.dk_data_bg02{ background:url(../../images/dk_data_bg02.jpg) repeat; border-bottom:1px solid #e1e6ec;overflow-x:hidden;overflow-y:auto;}
.dk_nos{ display:block; line-height:14px; color:#333;}
.dk_date_td{ font-size:16px; font-weight:bold; color:#333;}
.dk_date_chart{ position:relative; top:-56px; z-index:3;}
.dktj{ width:70px; height:30px; position:relative; float:right; right:5px; top:-52px;}
.r_title_left{ float:left;}
.r_title_right{ float:right;}


/*下拉框*/

.dkedit{ width:210px; height:210px; background:url(../../images/bg_map.png) no-repeat; position: absolute; *z-index:3; top:16px; right:-7px; display: none; }
.dkz_llul{ width:28px; height:28px; z-index:4; position:relative;  border:1px solid #206fbc; margin-top:17px; margin-right:16px; float:right; background: #4096ee ;}
.dkz_lli{padding:0; width:28px; height:28px; float:left;  background: #4096ee; }
.dkz_lli img{z-index:3; position:relative; border:none;}

.dkzzedit{ width:235px; height:107px; background:url(../../images/zzbjbg.png) no-repeat; position: absolute; *z-index:3; top:-13px; right:-7px; display: none; }
.dkzzz_llul{ width:18px; height:18px; z-index:4; position:relative;  border:1px solid #206fbc; margin-top:9px; margin-right:11px; float:right; background: #4096ee; padding:0;}
.dkzzz_lli{padding:0; width:18px; height:18px; float:left;  background: #4096ee;  padding:0;}
.dkzzz_lli img{z-index:3; position:relative; border:none;}

.dktrpedit{ width:131px; height:122px; background:url(../../images/ztourup.png) no-repeat; position: absolute; *z-index:3; top:-3px; right:-11px; display: none; }
.dktrp_llul{ width:18px; height:18px; z-index:4; position:relative;  border:1px solid #206fbc; margin-top:10px; margin-right:13px; float:right; background: #4096ee; padding:0;}
.dktrp_lli{padding:0; width:18px; height:18px; float:left;  background: #4096ee;  padding:0;}
.dktrp_lli img{z-index:3; position:relative; border:none;}

/*农事管理结束*/

.dk_cb07{margin-left:10px; margin-right:10px;}

/*地块详细结束*/

/*地块弹出框开始*/
.pop {  display:none;}
.pop_td{ width:350px; height:200px; background:#fff; padding:15px;}
.tcdbor{border-bottom:1px solid #eee; height:35px; line-height:35px;}
.tcdtext{ font-size:16px; padding-left:8px; color:#4171a1;}


/*8月4号添加*/
.dk_zz .dk_addn{ position:absolute;right:0;z-index:1; cursor:pointer;padding-right:25px;width:22px;height:20px;}
.dk_showt{border-collapse:collapse; border:1px solid #bbbdbf;}
.dk_showt tr td{padding:4px;border-top:1px solid #a1a7ad; text-align:center; border-bottom:1px solid #a1a7ad;line-height:30px;color:#8e9298;}
.dk_showt tr td a{line-height:30px;}
.dk_showtbg{ border-left:1px solid #e2e2e2; color:#000; }
.dk_tdiv{width:700px; height:400px; overflow-y:auto; overflow-x:hidden;}
.dk_showt th{padding:4px; background-color:#dbe3ea;line-height:30px; font-weight:normal;border:1px solid #a1a7ad;}
.dk_showf tr td{color:#303030;border:1px solid #a1a7ad;}
.dk_showf .dk_cb022{ background:url(../../images/dk_dx.jpg) right 0 repeat-y;}

/*模版新加样式开始*/
.r_c_text002{ width:184px; height:30px; line-height:30px; background:url(../../images/text_012.jpg) no-repeat; padding:0 7px; margin-right:15px;}
.r_c_text003{ width:54px; height:30px; line-height:30px; background:url(../../images/text_011.jpg) no-repeat; padding:0 7px; margin-right:15px;}

.dk_showt2{margin-top:15px;}
.dk_showt2 tr td{ height:auto; line-height:35px;padding-left:0px;padding-right:0px;}