@charset "utf-8";
/* CSS Document */
/* 公用样式 开始 */
body,a,p,h1,h2,h3,h4,h5,h6,strong,ul,ol,li,div,form,table,tbody,thead,tfoot,th,tr,td,u,b,i,s,font,dl,dt,dd,em,sup,sub{ margin:0; padding:0;}
a{ text-decoration:none;}
a:hover, a:focus{ outline-offset:0; text-decoration:none;}
ul,ol,li{ list-style:none;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.clear{ clear:both;}
.clear:after{ clear:both; content:""; display:block; visibility:hidden; height:0;}
.fontFamS{ font-family:'宋体';}
.fontFamW{ font-family:'微软雅黑';}
.btn:focus, .btn:active:focus, .btn.active:focus{ outline-offset:0; outline:inherit !important;}
.bootstrap-select .btn:focus{ outline-offset:0; outline:inherit !important;}
html{ height:auto;}
body{ min-height:500px; font-size:14px; font-family:'微软雅黑'; color:#323232;}
em{ font-style:normal;}
.mt20{ margin-top:20px;}
.mb20{ margin-bottom:20px;}
.ml5{ margin-left:5px;}
.mr5{ margin-right:5px;}
.mr15{ margin-right:15px;}
.c64{color:#646464;}



/* 公用面包屑导航  */
.r_t_l{ font-family:'微软雅黑';}
.r_t_l span{ font-size:14px;}
.r_t_l em{ padding:0 5px; font-style:normal; }
.r_t_l font{ font-size:16px; }
.cm_resumeList li{ float:left;}
.cm_resumeList li a{display:block; height:44px; line-height:44px; padding:0 10px; color:#3f3f3f; overflow:hidden; font-family:'微软雅黑';}
.cm_resumeList li a:active{border-bottom:2px solid #33aedc;}
.cm_resumeList li img{ float:left; margin-top:16px;}
.cm_resumeList li span{ float:left; text-indent:10px;}
.borderBt{ border-bottom:2px solid #33aedc;}
.borderBt02{ border-bottom:1px solid #cbcbcb;}


/*内容开始*/
.title_auth{width: 100%; padding: 20px 0; border-bottom: 1px solid #e2e2e2;}
.title_auth .auth_c{font-size: 16px;}
.title_auth .auth_e{font-size: 10px; color: #646464;}
.crop_name td,.org_name td,.others td{padding: 10px 0; }
.crop_name .cotton{max-width: 330px; overflow: hidden; white-space: nowrap; text-overflow:ellipsis; font-weight: bold; cursor: pointer;}
.institution{width: 205px; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
.org-contant{width: 100%; height: 190px; border-bottom: 1px solid #e2e2e2; padding: 10px 0 10px 185px; position: relative; box-sizing:border-box;}
.org-contant .org_left{position: absolute; left: 0; top:10px; width: 170px; height: 170px; border:1px solid #e8e8e8; background-color: #f4f4f4;}
.org_text{height: 63px; overflow: hidden;}
.carousel_box{width: 120px; height: 168px; position: relative; left: 25px; top:1px; overflow: hidden;}
/*zzzyyy*/
.carousel_box .imagesList{position: absolute; width: 2000px;}
.carousel_box .imagesList li{float: left; width: 120px; height: 168px;}
.carousel_box .imagesList li img{width: 120px; height: 168px;}
.org_left .btns{display: none;}
.org_left .btns .leftBtn{position:absolute; width: 13px; height: 24px; left: 0; top:75px; background: url(../images/left_btn.png);}
.org_left .btns .rightBtn{position:absolute; width: 13px; height: 24px; right: 0; top:75px; background: url(../images/right_btn.png);}
/**/
.type2{ width:100%; height:auto; overflow:hidden;}
.type2 .title_auth{width: 100%; padding: 20px 0; border-bottom: 1px solid #e2e2e2;}
.type2 .title_auth .auth_c{font-size: 16px;}
.type2 .title_auth .auth_e{font-size: 10px; color: #646464;}
.type2 .crop_name td, .type2 .org_name td, .type2 .others td{border-bottom: 1px dashed #e2e2e2; padding: 20px 0; }
.type2 .crop_name .cotton{max-width: 465px; overflow: hidden; white-space: nowrap; text-overflow:ellipsis; font-weight: bold; cursor: pointer;}
.type2 .institution{width: 390px; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
.type2 .imgshow ul{width: 100%; margin: 0 auto;}
.type2 .imgshow ul li {float: left; margin-top: 20px; width:280px;}

/*分页样式*/
.fenye{margin: 40px auto ;}
.pageModel { border: 1px solid #e1e1e1; border-radius: 5px; border-collapse: separate; font-size: 12px; }
.pageModel span {float: left;height: 32px;line-height: 32px;border-right: 1px solid #e1e1e1;}
.pageModel a {display: block;padding: 0 13px;color: #9a9a9a;text-decoration: none;}
.pageModel a:hover{color:#428bca;}
.pageModel span:last-child { border-right: 0; }
.pageModel .page_Cur{background-color: #f6f6f8}