@charset "utf-8";
/* CSS Document */
body{font-size: 14px;}
.cm_r_t_l span{font-size: 14px;}
.fl{float: left;}
.fr{float: right;}
.ml10{margin-left: 10px;}
/*日历样式*/
tr:first-child th {cursor: pointer;}
.datetimepicker{ padding:5px;}
.datetimepicker td, .datetimepicker th { border: medium none; border-radius: 4px; height: 20px; text-align: center;width: 20px;cursor:pointer;}
.datetimepicker th.switch { width: 145px;}
.month { font-size:12px;}
.switch { font-size:14px;}
.datetimepicker thead tr:first-child th, .datetimepicker tfoot tr:first-child th { cursor: pointer;}
.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot tr:first-child th:hover { background:#eee;}
.datetimepicker table tr td span { border-radius:4px; cursor:pointer; display:block; float:left; height:38px; line-height:38px; margin:1%; width:23%;}
.datetimepicker table tr td span:hover{ background:#eee;}
.datetimepicker table tr td.day:hover{ background:#eee;}
.datetimepicker table tr td.old, .datetimepicker table tr td.new {color: #999;}
.datetimepicker-dropdown, .datetimepicker-dropdown-left { left: 0; top: 0;}
.datetimepicker-dropdown-left:before { border-bottom: 7px solid rgba(0, 0, 0, 0.2); border-left: 7px solid transparent; border-right: 7px solid transparent;
    content: ""; display: inline-block; position: absolute; right: 6px; top: -7px;}
.datetimepicker-dropdown-left:after { border-bottom: 6px solid #fff; border-left: 6px solid transparent; border-right: 6px solid transparent;content: "";
    display:inline-block; position:absolute; right:7px;top: -6px;}
.datetimepicker table tr td.active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover {
    background-color: #006dcc; background-image: -moz-linear-gradient(center top , #0088cc, #0044cc); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.datetimepicker table tr td.active:hover, .datetimepicker table tr td.active:hover:hover, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled:hover:hover, .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active.active:hover, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled.active:hover, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled.disabled, .datetimepicker table tr td.active.disabled.disabled:hover, .datetimepicker table tr td.active[disabled], .datetimepicker table tr td.active[disabled]:hover, .datetimepicker table tr td.active.disabled[disabled], .datetimepicker table tr td.active.disabled[disabled]:hover { background-color: #0044cc;}


.datetimepicker .datetimepicker-hours span { height:26px; line-height: 26px;}
.datetimepicker table tr td span.active, .datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover {
    background-color: #006dcc; background-image: -moz-linear-gradient(center top , #0088cc, #0044cc); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active:hover:hover, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active.disabled:hover:hover, .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active.active:hover, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled.active:hover, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active.disabled.disabled, .datetimepicker table tr td span.active.disabled.disabled:hover, .datetimepicker table tr td span.active[disabled], .datetimepicker table tr td span.active[disabled]:hover, .datetimepicker table tr td span.active.disabled[disabled], .datetimepicker table tr td span.active.disabled[disabled]:hover { background-color: #0044cc;}
[class^="icon-"], [class*=" icon-"] { background-image: url("../../images/glyphicons-halflings.png"); background-position: 14px 14px; background-repeat: no-repeat; display: inline-block;
    height: 14px; line-height: 14px; margin-top: 1px; vertical-align: text-top; width: 14px;}
.month { font-size:12px;}
.switch { font-size:14px;}
.icon-arrow-left { background-position: -240px -96px;}
.icon-arrow-right { background-position: -264px -96px;}
.input-append.date .add-on i, .input-prepend.date .add-on i {cursor: pointer; height: 14px; margin-left: -21px; width: 14px; margin-top:0;}
.icon-th {  background-position: -240px 0;}
.form_datetime input{border:1px solid #CCC; text-indent:10px; height:34px; line-height:34px;}

/*内容开始*/
.handel{line-height: 70px;}
.thd{border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1; border-radius: 10px 10px 0 0; border-collapse: separate; font-family: '微软雅黑';}
.thd td,.tableModel td{height: 42px; border-bottom: 1px solid #e2e2e2;}
.subtitle td{text-align: center; background-color: #f8fbfe;}
.tableModel{border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1;}
.tableModel td{text-align: center; color: #646464;}
.tableModel tr td {background: #fcfcfc;}
.tableModel tr.odd td{background: #fbfcfe;}
.tableModel tr.hover td{background: #ecf7e6;}
.tableFixed_scroll{height: 430px; overflow:hidden ;border-left: 1px solid #e2e2e2;border-right: 1px solid #e2e2e2;border-bottom: 1px solid #e2e2e2; }
.record{width: 100%; height: auto; margin-top: 40px; border: 1px solid #e1e1e1; border-radius: 10px 10px 0 0;}
.record .r-title{background-color: #ebf5fc; line-height: 42px; padding-left: 10px;}
.record table td{border-bottom: 1px solid #e1e1e1; text-align: center; height: 42px; line-height: 42px;}
.f8f td{background-color: #f8fbfe;}
.fcf td{background-color: #fcfcfc;}
.return{text-align: center; padding: 20px 0 30px;}
.feny{text-align: right;}
.pagination{margin: 10px 20px 5px 0;}

/*分页样式*/
.fenye{margin-top: 20px;text-align: right;}
.pageModel { border: 1px solid #e1e1e1; border-radius: 5px; border-collapse: separate; font-size: 12px; }
.pageModel span {float: left;height: 42px;line-height: 42px;border-right: 1px solid #e1e1e1;}
.pageModel a {display: block;padding: 0 13px;color: #9a9a9a;text-decoration: none;}
.pageModel a:hover{color:#428bca;}
.pageModel span:last-child { border-right: 0; }
.pageModel .page_Cur{background-color: #f6f6f8}
