/* CSS Document */
*{ box-sizing:border-box; margin:0; padding:0;}
li{ list-style:none;}
a:hover{ text-decoration:none;}
a:link, a:visited, a:hover, a:active, a:focus{ outline:none; text-decoration:none;}
.btn{ height:34px; line-height:20px; padding:6px 19px;}
.form-control{ height:34px;}
tr:first-child th{cursor: default;}


.bootText220{ float:left; width:220px;}
.bootData220{ float:left;}
.bootSelt220{ float:left; display:inline-block;}
.bootSelt220 .bootstrap-select{  width:220px;}
.bootSelt220 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:220px;}
.bootSelt220 .bootstrap-select span{ font-size:12px; font-family:'微软雅黑';}
.bootSelt220 .bootstrap-select > .btn{ height:34px;}
.bootSelt220 .bootstrap-select.btn-group .dropdown-menu{ max-width:220px;}/* 下拉框最大宽度控制 */
.bootTextarea290{ float:left; width:290px; }
.bootTextarea290 textarea{ height:70px;}
.bootText190{ float:left; width:190px;}
.bootSelt190{ float:left; display:inline-block;}
.bootSelt190 .bootstrap-select{  width:190px;}
.bootSelt190 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:190px;}
.bootSelt190 .bootstrap-select span{ font-size:12px; font-family:'微软雅黑';}
.bootSelt190 .bootstrap-select > .btn{ height:34px;}
.bootSelt220 .bootstrap-select.btn-group .dropdown-menu{ max-width:190px;}/* 下拉框最大宽度控制 */



/* 通用的面包屑导航 */
.farmHeader_wap{ width:100%; min-width:1160px; height:87px; border-bottom:1px solid #ddd;}
.farmHeader{ width:1160px; height:86px; margin:0 auto; overflow:hidden;}
.farmHeader_lt{ float:left;}
.farmHeader_rt{ float:right; margin-top:28px; padding-right:20px;}
.farmHeader_rt .egister{ float:left; width:97px; height:30px; line-height:30px; background:url(../../images/orderManage/registe2.png) no-repeat; text-align:center; font-size:16px; color:#fff;}
.farmHeader_rt .login{ float:left; height:30px; line-height:30px; margin-left:10px; font-size:16px; color:#444;}
.farmMain_wap{ width:1160px; margin:0 auto; padding-top:20px;}
.breadNav_wap{ height:45px; border-bottom:1px solid #ddd;}
.breadNav_lt{ float:left; line-height:42px;}
.breadNav_lt a{ font-size:14px; color:#323232;}
.breadNav_lt span{ padding:0 5px; font-size:16px;}
.breadNav_lt strong{ font-size:16px; font-weight:normal;}
.breadNav_rt{ float:right;}
.breadNav_rt .resumeList li{ float:left; line-height:42px;}
.breadNav_rt .resumeList li a{ display:block; padding:0 10px; font-size:14px; color:#323232;}
.breadNav_rt .resumeList li img{ float:left; margin:16px 5px 0 0;}
.breadNav_rt .resumeList li.cur{ border-bottom:2px solid #33aedc;}
/* 公用搜索 */
.search-header{ height:34px; margin-top:20px;}
.search-header-lt{ float:left;}
.search-header-lt .public-search{ position:relative; float:left; margin-right:5px;}
.search-header-lt .form-control{ width:264px; padding-left:25px; text-indent:0; color:#bababa;}
.octicon-search02 {  display: block; float: left; height: 13px; left: 8px; position: absolute; top: 10px; width: 13px; z-index: 3;}


/* 下单管理样式 */
i.starColor{ padding:0 3px; font-style:normal; color:#f00;}
.customMess_wap{ width:610px; max-height:180px; overflow:auto;}
.customMess_wap .items{ position:relative; max-width:624px; height:110px; margin-bottom:6px; padding:14px 0 6px 8px; border-style:dashed; border-color:#e1e1e1 #fff; border-width:1px; cursor:pointer;}
.customMess_wap .items .defaultIco{ position:absolute; right:0; bottom:0; display:none; width:28px; height:28px; background:url(../../images/orderManage/singleManage_ico1.png) no-repeat;}
.customMess_wap .itemsHv{ border:1px solid #a1ce7f;}
.customMess_wap .itemsCur{ border:1px solid #a1ce7f;}
.customMess_wap .itemsCur .defaultIco{ position:absolute; right:0; bottom:0; display:block; width:28px; height:28px; background:url(../../images/orderManage/singleManage_ico1.png) no-repeat;}
.customMess_wap .items p{ float:left; height:24px; line-height:24px; margin-bottom:6px; padding-left:16px; background:url(../../images/orderManage/singleManage_ico4.png) no-repeat 0 0; overflow:hidden;}
.customMess_wap .items p.name{ width:210px; background-position:0 6px; }
.customMess_wap .items p.phone{ width:204px; background-position:0 -18px; }
.customMess_wap .items p.come{ width:166px; background-position:0 -42px; }
.customMess_wap .items p.type{ width:150px; background-position:0 -18px; }
.customMess_wap .items p.addresses{ width:410px; background-position:0 -65px; }
.quick_addCustom{ position:relative; border:1px solid #e1e1e1; margin:20px 0; padding-top:30px;}
.quick_addCustom .quickHd{ position:absolute; left:30px; top:-10px; height:20px; line-height:20px; padding:0 5px; background:#fff; font-size:14px; color:#080808;}
.alreadySelt{ display:inline-block; height:34px; line-height:34px;}
.seltShop_table .tableModel thead th , 
.seltShop_table .tableModel tbody td{  font-size:12px;}


/* 下单管理下一步样式 */
.singleManage_con{ padding-top:20px;}
.singleManage_con .titleH2{ height:34px; line-height:34px; margin:0 0 10px 0; font-size:14px; font-weight:bold; clear:both;}
.W_addresses{ margin:0 auto;}
.W_addresses_list{ display:inline;}

.W_addresses_list .addrItems{ position:relative; display:inline-block; width:244px; height:104px; margin:0 10px 10px 0; color:#666; overflow:hidden; cursor:pointer;}
.W_addresses_list .inner{ height:100%; padding:10px 14px; background:url(../../images/orderManage/singleManage_bg1.jpg) no-repeat;}
.W_addresses_list .addrItems .addr_hd{ height:24px; line-height:18px; border-bottom:1px solid #eee; margin-bottom:5px; padding-bottom:6px;}
.W_addresses_list .addrItems .addr_hd span{ float:left; display:inline-block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.W_addresses_list .addrItems .addr_hd .city{ max-width:64px; margin-right:5px; font-weight:bold; }
.W_addresses_list .addrItems .addr_hd .name{ max-width:64px; margin-right:8px;}
.W_addresses_list .addrItems .addr_bd{ height:36px; line-height:18px; word-break:break-all; word-wrap:break-word; overflow:hidden;}
.W_addresses_list .addrItems .addr_hd .phone{ max-width:135px; margin-right:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.W_addresses_list .addrItems .addr_bd span{ margin-right:5px;}
.W_addresses_list .addrItems .addr_toolbar{ position:absolute; left:14px; bottom:10px; padding-top:2px;}
.W_addresses_list .addrItems .addr_toolbar a{ margin-right:5px;} 
.W_addresses_list .addrItems .addr_toolbar .revise{ color:#fe4885;}
.W_addresses_list .addrItems .addr_toolbar .delete{ color:#999999;}
.W_addresses_list .addrItems .addr_toolbar .setDelete{ color:#999999;}
.W_addresses_list .innerCur .curmarker{ position:absolute; display:block; width:28px; height:28px; background:url(../../images/orderManage/singleManage_ico1.png) no-repeat; right:0; bottom:0;}
.W_addresses_list .innerCur{ background:url(../../images/orderManage/singleManage_bg1.jpg) no-repeat 0 -108px;}
.W_addresses_list .addrCur .curmarker{ display:block;}
.W_addresses_list .addrHv{ background:url(../../images/orderManage/singleManage_bg1.jpg) no-repeat 0 -108px;}

.add_newAddresses{ display:inline-block; width:244px; height:104px; margin:0 10px 10px 0; background:url(../../images/orderManage/singleManage_bg1.jpg) no-repeat; color:#666; overflow:hidden; cursor:pointer;}
.add_newAddresses span{ display:inline-block; width:118px; height:20px; margin:42px 0 0 66px; background:url(../../images/orderManage/singleManage_bg2.jpg) no-repeat;}
.add_newAddresses:hover{ background-position:0 -108px;}
/* 配送时间 */
.delivery_time{ height:34px;}
.iRadioLable, .iCheckLable{ font-family:'微软雅黑';}
.delivery_time .text{ float:left; width:110px; line-height:34px; padding-right:10px; text-align:right;}
.delivery_time .timeRadio_list{ float:left; height:20px; line-height:20px; margin:7px 10px 0 10px;}
.delivery_time .timeRadio_list li{ margin-bottom:7px;}
.search-datetime{ float:left; margin-right:5px;}
.search-datetime .form_datetime{ float:left; position:relative; width:190px;}
.search-datetime .form_datetime input{width:190px; height:34px; padding:6px 10px; border:1px solid #ccc; box-sizing:border-box; font-size:14px;}
.search-datetime .add-on{ position:absolute; width:14px; height:14px; right:8px; top:10px;}
.search-datetime .input-append.date .add-on i, .input-prepend.date .add-on i{ margin-left:0;}
/* 付款方式 */
.payMethod{ margin-left:30px;}
.payMethod .timeRadio_list{height:30px; line-height:20px; margin:7px 10px 0 10px; overflow:hidden;}
.payMethod .timeRadio_list .items{ display:inline-block; margin-bottom:10px;}
.fillIn_notes{ margin-left:30px;}
.fillIn_notes textarea{ width:60%; height:70px;}
.fillIn_notes .tip{ margin:20px 0 10px; color:#ababab;}
/* 商品清单 */
.returnShop:hover{ color:#888888; text-shadow:0 1px 1px #e1e1e1;}
.listGoods_con td a{ color:#323232;}
.listGoods_con .delete{ cursor:pointer;}
.listGoods_con .sortBtn{ float:left; height:30px; padding:4px 10px; margin:5px 0 0 20px;}
.listGoods_con .numCount_block{ display:inline-block; width:86px; height:22px; background:url(../../images/orderManage/singleManage_bg4.jpg) no-repeat; vertical-align:middle;}
.listGoods_con .numCount_block .minusOne{ float:left; display:inline-block; width:22px; height:22px; cursor:pointer;}
.listGoods_con .numCount_block .addOne{ float:left; display:inline-block; width:22px; height:22px; cursor:pointer;}
.listGoods_con .numCount_block .inputText{ float:left; display:inline-block; width:42px; height:22px; padding:1px 0; cursor:pointer;}
.listGoods_con .numCount_block .inputText input{ width:100%; height:20px; line-height:20px; padding:0 3px; border:0; border-radius:0; text-align:center;}
.listGoods_con .tableModel{ border-radius:5px;}
.listGoods_con .tableModel thead{ border-radius:5px;}
.listGoods_con .tableModel thead th:first-child{ border-radius:5px 0 0 0;}
.listGoods_con .tableModel thead th:last-child{ border-radius:0 5px 0 0;}
.listGoods_con .tableModel tfoot{ border-radius:0 0 5px 5px;}
.listGoods_con .tableModel .num_spdj{ display:inline-block; vertical-align:middle; line-height:22px;}
.listGoods_con .tableModel .num_spdj .form-control{ display:inline-block; width:60px; height:22px; line-height:20px; margin-left:5px; padding:0 3px; border-radius:0; text-align:center;}

.listGoods_con .tableModel .num_spbz{ display:inline-block; vertical-align:middle; line-height:22px;}
.listGoods_con .tableModel .num_spbz .form-control{ display:inline-block; width:100%; height:22px; line-height:20px; margin-left:5px; padding:0 3px; border-radius:0; text-align:center;}

.listGoods_con input[type="button"], 
.listGoods_con input[type="submit"], 
.listGoods_con input[type="reset"]{padding:6px 19px;}
.listGoods_con .thead th:first-child{ border-radius:5px 0 0 0;}
.listGoods_con .thead th:last-child{ border-radius:0 5px 0 0;}
.listGoods_con .thead{ border-radius:5px 5px 0 0;}
.listGoods_con .tbody{ border-radius:0; border:0;}
.tableFixed_scroll{  border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; overflow-y:scroll;}
.listGoods_con .tfoot{ border:1px solid #e1e1e1; border-radius:0 0 5px 5px; margin-top:-1px;}
.listGoods_total{ position:relative; padding:15px;}
.listGoods_total li{ text-align:right; height:34px; line-height:34px; overflow:hidden;}
.listGoods_total .num , .listGoods_total .codeEle{ font-size:13px; color:#444;}
.listGoods_total .clearShopCart{ position:absolute; left:50px; top:22px; height:20px; line-height:20px; font-size:16px; color:#444;}
.listGoods_total .clearShopCart img{ float:left; width:12px; height:12px; margin:5px 5px 0 0; cursor:pointer;}
.listGoods_li1 .num{ padding:0 5px; color:#ff6a97;}
.listGoods_li2 , .listGoods_li3 , .listGoods_li4{ font-size:14px;}
.listGoods_li3 .itemsCheckbox{ float:left; display:inline-block; height:34px}
.listGoods_li3 .itemsCheckbox .icheckbox_minimal-blue{ margin:8px 5px 0 15px;}
.listGoods_li3 .itemsCheckbox .icheckbox_minimal-blue input{ left:0; top:0; width:18px; height:18px; margin:0;}
.listGoods_li3 span .form-control , 
.listGoods_li4 span .form-control{ width:60px; height:20px; margin-top:7px; padding:2px; border-radius:0; font-size:13px; text-align:center;}
.listGoods_li4 span{ float:left;}
.listGoods_li5{ height:40px; line-height:42px; padding:0 15px; background:#f0f5fb; border-radius:0 0 5px 5px; font-size:12px; text-align:right; overflow:hidden;}
.listGoods_li5 .codeEle , .listGoods_li5 .num{ line-height:40px; font-size:18px; font-weight:bold; color:#d40001;}
/* 商品清单滚动条样式*/
.listGoods_height{height:418px;overflow-y: scroll; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1;}
.listGoods_height .tableModel { border-radius:0; border:0;}
.listGoods_con .atlr{border:1px solid #e1e1e1; border-radius:0 0 5px 5px; margin-top:-1px;}
.listGoods_con .aclr{border-radius:0}
.listGoods_con .ablt{border-bottom-right-radius:0; border-bottom-left-radius:0;}
/* 排序控件样式修改 */
.sp_px{width:640PX;height:320px;overflow-y:auto;}
.rich-picklist-source-cell, .rich-picklist-target-cell, .rich-picklist-source-cell *, .rich-picklist-target-cell *,.rich-picklist-source-cell-selected, .rich-picklist-target-cell-selected, .rich-picklist-source-cell-selected *, .rich-picklist-target-cell-selected *{font-size:12px;}
.fa-arrows {background-image: url("../../images/yd.png"); margin-top:11px; width:13px; height:13px;}
.select-list .btn-group-vertical .btn {width: 50px; height: 30px;}
.sp_px .row{ float:left; width:630px; margin:0 auto; padding:0;}
.sp_px  .scroll-box{ height:306px;}
.sp_px  .select-list .scroll-box{ float:right;}
.sp_px  .select-list .button-column{ display:table;}
.sp_px  .btn-group-vertical button{ margin-bottom:5px;}
.sp_px  .select-list .btn-group-vertical .btn{ width:60px; height:34px; line-height:20px; padding:6px 12px; box-sizing:border-box;}
.sp_px  .row .content{ width:614px;}

/* 订单管理样式 */
.orderTextP{ height:20px; line-height:20px; padding-left:40px; font-size:12px;}
.orderTrack_heade{ line-height:20px; padding:25px 0; border:1px solid #e1e1e1; background:#f2f7fe; text-align:center;}
.orderTrack_heade p{ display:inline-block; font-size:14px;}
.orderTrack_heade p.mr70{ margin-right:60px;}
.orderTrack_heade .payStatues{ padding-left:25px; background:url(../../images/orderManage/singleManage_ico5.png) no-repeat 0 0;}
.orderTrack_heade .payStatues2{ padding-left:25px; background:url(../../images/orderManage/singleManage_ico08.png) no-repeat 0 0;}
.orderTrack_heade .number{ font-size:18px; color:#000;}
.orderTrack_body{ border:1px solid #e1e1e1; border-radius:5px;}
.orderTrack_body .tableGz thead th{ height:40px; padding:10px 20px; line-height:20px; border-bottom:1px solid #e1e1e1; border-radius:5px 5px 0 0; background:#f0f5fb;}
.orderTrack_body .tableGz thead { border-radius:5px 5px 0 0;}
.orderTrack_body .tableGz td{ line-height:24px; vertical-align:top;}
.orderTrack_body .tableGz .dateTd{ position:relative; padding-left:70px;}
.orderTrack_body .tableGz .dateTd.bg{ background:url(../../images/orderManage/singleManage_ico6.jpg) repeat-y 34px 0;}
.orderTrack_body .tableGz .dateTd .ico_bg{ position:absolute; left:34px; top:0; z-index:1; width:18px; height:24px; background:url(../../images/orderManage/singleManage_ico7.jpg) no-repeat;}
.InOrdePass_tip{ position:relative; padding-left:100px; padding-right:20px;}
.InOrdePass_tip p{ position:relative; display:block; height:50px-; padding:10px; line-height:20px; border:1px solid #e1e1e1; border-radius:5px; background:#f1f5fb;}
.InOrdePass_tip p:before{ position:absolute; left:-13px; top:7px; z-index:2; content:""; border-style:solid; border-width:7px; border-color:transparent #f1f5fb transparent transparent;}
.InOrdePass_tip p:after{ position:absolute; left:-15px; top:6px; z-index:1; content:""; border-style:solid; border-width:8px; border-color:transparent #e1e1e1 transparent transparent;}

.controlLen_area{ position:relative; height:100px; border:1px solid #ddd;}
.controlLen_area textarea{ widows:100%; height:100%; box-sizing:border-box; border:0; border-radius:0; resize:none; font-size:12px; color:#b3b5b5;}
.controlLen_area .num{ position:absolute; right:10px; bottom:6px; font-size:12px; color:#b3b5b5;}

/* 卡信息 */
.W_addresses_list .cardBh{width: 351px; height: 235px; border: 1px solid #e1e1e1; border-radius: 5px;  font-family: "微软雅黑"; font-size: 14px; box-sizing:border-box; margin-right: 35px; margin-bottom: 25px;}
.W_addresses_list .cardBh .cardTop{height: 35px; line-height: 35px; padding: 0 10px;}
.W_addresses_list .cardBh .cardTop span{color:#999;}
.W_addresses_list .cardBh .cardTopC .se{color: #eb6100; font-style: normal;}
.W_addresses_list .cardBh .bgTiao{position:relative; width: 350px; height: 30px; background: url("../../images/orderManage/bj.png") no-repeat; padding: 0 23px; line-height: 30px; color: #fff}
.W_addresses_list .cardBh .bgTiao td{text-align: center;}
.W_addresses_list .cardBh .cardContent{position: relative;}
.W_addresses_list .cardBh .cardContent ul li{padding: 10px 23px 0; display: none;}
.W_addresses_list .cardBh .cardContent ul li.cur{display: block;}
.W_addresses_list .cardBh .cardContent ul li td{text-align: center; color: #999; padding-bottom: 10px;}
.W_addresses_list .cardBh .cardContent ul li td .w84{width:84px; white-space:nowrap; overflow: hidden; display: inline-block; color:#999;}
.W_addresses_list .cardBh .cardContent ul li td .number{height: 20px; width: 40px; text-align: center; display: inline-block; padding: 0;}
.W_addresses_list .cardBh .cardContent .leftJt{position: absolute; width: 21px; height: 21px; background: url("../../images/orderManage/leftJt.png"); left:5px; top:40px; cursor: pointer;}
.W_addresses_list .cardBh .cardContent .rightJt{position: absolute; width: 21px; height: 21px; background: url("../../images/orderManage/rightJt.png"); right:5px; top:40px; cursor: pointer;}
.W_addresses_list .cardBh .bgTiao .useBtn{position: absolute; top:125px; right:30px;}
.tiX{position:absolute; top:160px; left:10px;  font-size: 12px; color: #ff8c52;}

.remark_dl{width:90%;margin:10px auto 0; overflow:hidden;}
.remark_dl .remark_dt{ float:left; width:46px;line-height:20px;font-ize:12px;}
.remark_dl .remark_dd{margin-left:36px;height:40px;line-height:20px;font-size:12px;overflow:hidden;}

/*面包屑开始*/
ul, ol{ margin:0;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.clear{ clear:both;}
.clear:after{ clear:both; content:""; display:block; visibility:hidden; height:0;}
em{ font-style:normal;}
.qiehuan tbody tr.hover td{ background:#ecf7e6;}

.farmHeader_wap{ width:100%; min-width:1160px; height:87px; border-bottom:1px solid #ddd;}
.farmHeader{ width:1160px; height:86px; margin:0 auto; overflow:hidden;}
.farmHeader_lt{ float:left;}
.farmHeader_rt{ float:right; margin-top:28px; padding-right:20px;}
.farmHeader_rt .egister{ float:left; width:97px; height:30px; line-height:30px; background:url(../../images/orderManage/registe2.png) no-repeat; text-align:center; font-size:16px; color:#fff;}
.farmHeader_rt .login{ float:left; height:30px; line-height:30px; margin-left:10px; font-size:16px; color:#444;}
.farmMain_wap{ width:1160px; margin:0 auto; padding-top:20px;}
.breadNav_wap{ height:45px; border-bottom:1px solid #ddd;}
.breadNav_lt{ float:left; line-height:42px;}
.breadNav_lt a{ font-size:14px; color:#323232;}
.breadNav_lt span{ padding:0 5px; font-size:16px;}
.breadNav_lt strong{ font-size:16px; font-weight:normal;}
.breadNav_rt{ float:right;}
.breadNav_rt .resumeList li{ float:left; line-height:42px;}
.breadNav_rt .resumeList li a{ display:block; padding:1px 10px; font-size:14px; color:#323232;}
.breadNav_rt .resumeList li .borderBt{border-bottom: 2px solid #33aedc;}
.breadNav_rt .resumeList li img{ float:left; margin:16px 5px 0 0;}
.breadNav_rt .resumeList li.cur{ border-bottom:2px solid #33aedc;}
/*选项卡样式*/
.ziti{font-family: '微软雅黑'; font-size: 14px; }
.ziti li a{color:#797979;}
.mh15{margin-top: 15px;}
.qiehuan .tableModel{border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1; border-radius: 10px 10px 0 0; border-collapse: separate;font-family: '微软雅黑'; color: #6c6a6b;}
.qiehuan .thead {border-radius: 5px 5px 0 0;}
.tableModel thead{border-radius: 10px 10px 0 0;}
.qiehuan .thead th:first-child{border-radius: 5px 0 0 0;}
.qiehuan .thead th:last-child{border-radius: 0 5px 0 0;}
.tableModel thead th {height: 42px; background: #f0f5fb; font-size: 14px; font-weight: normal; text-align: center; border-bottom: 1px solid #e1e1e1; min-width: 0;}
.tableModel tbody td {height: 38px; text-align: center; border-bottom: 1px solid #e1e1e1; min-width: 0; background-color: #fcfcfc;}
.xiaotub1{width: 15px; height: 16px; background: url("../../images/orderManage/icon.png") 0 -52px; display: inline-block;}
.xiaotub2{width: 15px; height: 14px; background: url("../../images/orderManage/icon.png") 0 -36px; display: inline-block;}
.xiaotub3{width: 15px; height: 14px; background: url("../../images/orderManage/icon.png") 0 -19px; display: inline-block;}
.xiaotub4{width: 15px; height: 15px; background: url("../../images/orderManage/icon.png") 0 -71px; display: inline-block;}
.jilu{text-align: center; font-family: '微软雅黑'; font-size: 14px; border-bottom: 1px solid #e1e1e1; line-height: 38px; color:#6c6a6b;}
.footBox{min-height: 500px; margin-top: 15px; }
.qiehuan{position: relative;}
.footBtn{position: absolute; bottom: -60px; left: 50%; margin-left: -32px}

.pageModel {margin: 40px auto 0; border: 1px solid #e1e1e1; border-radius: 5px; border-collapse: separate; font-size: 12px;}
.pageModel span {float: left;height: 32px;line-height: 32px;border-right: 1px solid #e1e1e1;}
.pageModel a {display: block;padding: 0 13px;color: #9a9a9a;text-decoration: none;}
.pageModel a:hover{color:#428bca;}
.pageModel span:last-child { border-right: 0; }
.pageModel .page_Cur{background-color: #f6f6f8}

.kuanD{width:640px;left:50%; margin-left:-320px; top:50%; margin-bottom:0; margin-top:234px;}
.modal-body td{padding: 5px 0;}
.modal-body .wr80{width: 80px; text-align: right;}
.modal-body .wp200{width: 200px; padding-left: 15px;}

.kuanD2{width:420px;left:50%; margin-left:-210px; top:50%; margin-bottom:0; margin-top:234px;}

/*会员卡使用记录样式*/
.subhead{width: 100%; height:60px; line-height: 60px; font-size: 14px; }
.memberShip{width: 100%; height:195px; border: 1px solid #e1e1e1; border-radius: 5px; padding-left: 310px; position: relative; box-sizing:border-box; padding-right: 15px;}
.memberShip .slid_r{width: 5px; height: 194px; position: absolute; right: 0; top:0; background: url(../../images/orderManage/slid_r.png);}
.useCard{width: 305px; border-right: 1px solid #e1e1e1; box-shadow: 2px 0 2px #e1e1e1; position: absolute; left: 0; top: 0; height: 194px;}
.useCard .toubu{padding:0 10px; height: 30px; line-height: 30px;} 
.useCard .toubu .left_t{float: left;}
.useCard .toubu .right_t{float: right; color: #949494}
.useCard .toubu .right_t i{font-style: normal; color: #ff5000;}
.useCard .bgSlid{width: 305px; height: 30px; background: url(../../images/orderManage/bgSlid.png);}
.useCard .name{text-align: center; height: 50px; line-height: 50px; font-size: 24px; color: #323232;}
.useCard .money{width: 100%; height: 25px; text-align: center; font-size: 14px;}
.useCard .money .ff5{font-size: 18px; font-weight: normal; color: #ff5000;}
.useCard .dateTime{color: #646464; text-align: center; height: 30px;} 
.useCard .state{text-align: right; padding-right: 10px;}
.useCard .state .cardState{font-weight: normal; color: #646464;}
.useTable th{text-align: center; height: 50px; line-height: 50px;}
.tableFixed_scroll{overflow-y: scroll; }
.tableFixed_scroll td{text-align: center; color: #646464; padding: 6px 0;}
.useTable .total{text-align: right; margin-top: 7px;}
.useTable .total .total_v{ color: #d40001; font-size: 16px; }
.recordList{width: 100%; height: 132px; border: 1px solid #e1e1e1; border-radius: 5px; padding-left: 207px; padding-right: 15px; position: relative; box-sizing:border-box; margin-bottom: 20px;}
.recordList_l{position: absolute; left: 0; top: 0; width: 167px; height: 130px; border-right: 1px solid #e1e1e1; background: #f0f5fb; padding-right: 26px;}
.recordList_t{width: 100%; height: 26px; margin-top: 35px; text-align: right;}
.recordList_t img{vertical-align: top; margin-top: 2px;}
.recordList_t .bianhao{color: #ff5000;}
.recordList_l .dateTime{text-align: right; color: #949494; height: 25px;}
.recordList_l .order{font-size: 14px; text-align: right; color: #000;}
.recordList th{height: 46px; line-height: 46px; border-bottom: 1px dashed #e1e1e1; text-align: center; }
.recordList td{text-align: center; color: #646464; height: 40px; line-height: 40px;}
.recordList td a{color: #646464;}
.recordList .more{position: absolute; bottom: 5px; right: 0; padding-right: 15px;}

/*分页样式*/
.fenye{margin: 40px auto ;}
.pageModel { border: 1px solid #e1e1e1; border-radius: 5px; border-collapse: separate; font-size: 12px; }
.pageModel span {float: left;height: 32px;line-height: 32px;border-right: 1px solid #e1e1e1;}
.pageModel a {display: block;padding: 0 13px;color: #9a9a9a;text-decoration: none;}
.pageModel a:hover{color:#428bca;}
.pageModel span:last-child { border-right: 0; }
.pageModel .page_Cur{background-color: #f6f6f8}

/*弹出框内容样式*/
.kuanDu {width: 780px;left: 50%;margin-left: -390px;top: 50%;margin-top: -234px; margin-bottom: 0;position: absolute;}
.kuanDu .modal-body th{height: 54px; line-height: 54px; border-bottom: 1px dashed #e1e1e1; text-align: center;}

/* 2016.05.10使用红包样式 */
.a_voucher{ position:relative; display:inline-block; min-width:280px; height:100px; color:#fff; cursor:pointer; overflow:hidden;}
.a_voucher .v_bg{ position:absolute; left:0; top:0; z-index:-1; width:100%; height:100%; background-color:#f1939b; opacity:0.4; filter:alpha(opacity=40); border-radius:10px;}
.a_voucher .v_hook{ position:absolute; right:0; bottom:0; z-index:0; display:none; width:33px; height:33px; background:url(../../images/orderManage/OrderManage_ico21.png) no-repeat; }
.a_voucher.cur .v_bg{ opacity:0.5; filter:alpha(opacity=50);}
.a_voucher.cur .v_hook{ display:block;}
.a_voucher_lt{ float:left; height:100px; padding:28px 24px 0; box-sizing:border-box;}
.a_voucher_lt .p_txt1{ line-height:24px; font-size:14px; font-weight:bold;}
.a_voucher_lt .p_txt2{ line-height:24px; font-size:12px;}
.a_voucher_rt{ position:relative; float:left; padding:0 10px 0 20px;}
.a_voucher_rt .v_line{ position:absolute; left:0; top:0; width:10px; height:100%; background:url(../../images/orderManage/OrderManage_ico20.png) no-repeat 0 0;}
.a_voucher_rt .p_txt3{ height:100px; line-height:100px; font-size:56px;}
.a_voucher_rt .p_txt3 span{ font-size:16px;}
/*2016.06.01下单会员信息增加样式*/
.text_weight1{ height:34px; line-height:34px; margin:15px 0; overflow:hidden; font-size:24px; text-align:center; color:#323232;}
.text_weight2{ height:20px; line-height:20px; overflow:hidden; font-size:16px; text-align:center; color:#646464;}
.text_weight2 font{ color:#323232;}
.text_weight2 img{ display:inline-block; vertical-align:top; width:16px; height:16px; margin:2px 5px 2px 0;}
.expired_alarms{ height:20px; line-height:20px; color:#ff7427; overflow:hidden;}
.expired_alarms img{ display:inline-block; vertical-align:top; width:14px; height:14px; margin:3px 5px 3px 0;}

/*修改0721*/
.customMess_wap .items{ height:112px;}
.customMess_wap .items .note{width:560px; height:24px; line-height:24px; margin-bottom:6px; padding-left:16px; background:url(../../images/orderManage/singleManage_ico4.png) no-repeat 0 0; overflow:hidden; background-position:0 6px;}
.customMess_wap .items .text_note{ display:inline-block; float:none; background:none; padding-left:0; margin-bottom:0; vertical-align:top;}
.customMess_wap .items .text_note span{ display:inline-block; max-width:300px; height:24px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.customMess_wap .items .icon_edit{ display:inline-block; width:12px; height:12px; vertical-align:top; margin:6px 5px 6px 10px; cursor:pointer;}
.customMess_wap .items .text_save{ display:inline-block; vertical-align:top; overflow:hidden;}
.customMess_wap .items .form-control{ float:left; width:300px; height:24px; line-height:22px; box-sizing:border-box; border-radius:0; padding:0 5px; margin-right:10px;}
.customMess_wap .items .btn{ float:left; height:24px; line-height:22px; padding:0 15px; box-sizing:border-box; border:1px solid #ccc; background-color:#fff;}

.W_addresses_list .cardBh .bgTiao .useBtn{ width:290px; overflow:hidden; top:134px;}
.W_addresses_list .cardBh .bgTiao .useBtn .btn{ float:right;}
.delivery_times{ float:left; overflow:hidden; color:#323232; font-size:12px;}
.delivery_times .text_delivery{ float:left; height:24px; line-height:24px; padding-right:5px;}
.count_delivery{ float:left; overflow:hidden;}
.count_delivery .btn_sub,
.count_delivery .btn_sup{ float:left; width:24px; height:24px; line-height:24px; background-color:#f5f5f5; font-size:16px; font-style:normal; text-align:center; cursor:pointer;}
.count_delivery .btn_sub{ border-radius:4px 0 0 4px; }
.count_delivery .btn_sup{ border-radius:0 4px 4px 0; }
.count_delivery .text_input{ float:left; width:40px; height:24px; line-height:22px; border:1px solid #f5f5f5; text-align:center;}


