@charset "utf-8";
/* CSS Document */

body{ font-size:14px; color:#3c3c3c;}

/* 二级菜单 */
.levelMenu_wp{ width:210px; height:100%; background:#fff;}
.levelMenu_ttl{}
.levelMenu_ttl a{ display:block; height:30px; line-height:30px; padding-left:28px; background:url(../images/levelMenu_ico2.png) no-repeat 18px center; font-size:12px; text-decoration:none; color:#000;}

.levelMenu_list{ width:210px; display:none;}
.levelMenu_li{ display:block; margin-left:7px; width:190px; height:34px; line-height:34px; text-decoration:none; font-size:12px; color:#656565;}
.levelMenu_li:hover, .levelMenu_li:focus{ text-decoration:none; color:#525252;}
.levelMenu_li img{ float:left; margin:13px 5px 0 22px;}

.ttlCur a{ background:url(../images/levelMenu_ico1.png) no-repeat 15px center;}
.liCur{ background:url(../images/levelMenu_bg1.png) no-repeat; color:#fff;}
.liCur:hover, .liCur:focus{ color:#fff;}


/* 初始信息 */
.baseTtlH3{ height:42px; border-bottom:1px solid #e8e8e8;}
.baseTtlH3 h3{ float:left; padding-left:24px; background:url(../images/ico_yangzhi1.png) no-repeat; font-size:14px; line-height:42px;}
.baseTtlH3 .chushiXx{ background-position:2px 15px;}
.baseTtlH3 .chulanJl{ background-position:2px -25px;}
.baseTtlH3 .tuzaiJl{ background-position:2px -67px;}

.messageTable{ margin-top:24px;}
.messageTable td{ padding-bottom:20px;}
.modalTable_minni td{ padding-bottom:20px;}
.bootList21 .bootLi{ float:left; padding-bottom:20px;}
.bootTxt21{ float:left; width:100px; line-height:34px; padding-right:10px; text-align:right; font-size:12px;}
.bootTextarea .area_textarea{ width:300px; height:82px; resize:none;}
.bootData21{ float:left;}
.bootSelt21{ float:left; display:inline-block;}
.bootSelt21 .bootstrap-select{  width:220px;}
.bootSelt21 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:220px;}
.bootSelt21 .bootstrap-select span{ font-size:12px; font-family:'微软雅黑';}
.bootSelt21 .bootstrap-select > .btn{ height:34px;}
.bootstrap-select.btn-group .dropdown-menu{ max-width:220px;}/* 下拉框最大宽度控制 */
.datetimepicker{ margin-left:8px;}

/* 通用添加图片 */
.baseAddList{ float:left; max-width:624px;}
.baseAddLi{ float:left; display:inline-block; margin:0 10px 10px 0;}
.baseAddLi a{ position:relative; display:inline-block; border:1px solid #ddd;}
.baseAddLi a img{ width:92px; height:92px;}
.baseAddLi a:hover .closeBtn{ display:block;}
.baseAddLi .closeBtn{ position:absolute; right:0; top:0; display:none; width:27px; height:23px; background:url(../images/del03.jpg) no-repeat; cursor:pointer;}
.baseAddbtn{ float:left; position:relative; width:94px; height:94px; background:url(../images/ico_baseAdd.jpg) no-repeat; overflow:hidden;}
.baseAddbtn input{ position:absolute; z-index:0; width:94px; height:94px; cursor:pointer; opacity:0; filter:alpha(opacity = 0);}
.baseAddModel{ position:fixed; z-index:101; display:none;}
.baseAddModel_body{padding:5px; border:1px solid #bebfc0; border-radius:10px;}
.baseAddModel_body img{ border-radius:10px;}
.baseAddModel_close{ position:absolute; right:-14px; top:-14px; width:28px; height:28px; background:url(../images/farmingIco05.png) no-repeat; cursor:pointer;}
.baseAddModel_close:hover{ background:url(../images/farmingIco06.png) no-repeat;}

/* 通用的提交返回按钮 */
.mes_mailCon{}
.mes_mailBtn{ text-align:center;}
.mes_mailBtn button{ margin-right:5px;}

/* 兽药记录等 表格模板 */
.tableModel{ border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; border-top:1px solid #e1e1e1; border-radius:10px 10px 0 0; border-collapse:separate; font-family:'微软雅黑'; color:#6c6a6b;}
.tableModel thead{ border-radius:10px 10px 0 0;}
.tableModel thead th ,.tableModel tbody td{ height:38px; text-align:center; border-bottom:1px solid #e1e1e1;}
.tableModel thead th{ height:42px; background:#f0f5fb; font-size:14px; font-weight:normal;}
.tableModel thead th:first-child{ border-radius:10px 0 0 0;}
.tableModel thead th:last-child{ border-radius:0 10px 0 0;}
.tableModel tbody tr td{ font-size:13px; background:#fcfcfc;}
.tableModel tbody tr.odd td{ background:#fbfcfe;}
.tableModel tbody tr.hover td{ background:#ecf7e6;}
.tableModel .icheckbox_minimal-blue, .tableModel .icheckbox_minimal-blue.checked{ display:inline-block; float:none; margin:0;}
.tableModel .iradio_minimal-blue, .tableModel .iradio_minimal-blue.checked{ display:inline-block; float:none; margin:0;}
.zt_a2,.zt_a1,.zt_a3,.zt_a4,.zt_a5,.zt_a6,.zt_a7,.zt_a8,.zt_a9,.zt_a10,.zt_a11,.zt_a12,.zt_a13,.zt_a14,.zt_a15{line-height:22px; font-size:12px; display:inline-block; padding-left:3px;}
.zt_a2 strong,.zt_a1 strong,.zt_a3 strong,.zt_a4 strong,.zt_a5 strong,.zt_a6 strong,.zt_a7 strong,.zt_a8 strong,.zt_a9 strong,.zt_a10 strong,.zt_a11 strong,.zt_a12 strong,.zt_a13 strong,.zt_a14 strong,.zt_a15 strong{ line-height:22px; display:inline-block; padding:0 10px 0 7px; font-weight:normal; margin-right:-3px; color:#6c6a6b;}
.nav-tabs > li > a{ color:#555;}





