@charset "utf-8";
/* CSS Document */

body{ font-size:14px; color:#3c3c3c;}

/* 二级菜单 */
.levelMenu_wp{ width:210px; height:100%; background:#fff;}
.levelMenu_ttl{}
.levelMenu_ttl a{ display:block; height:30px; line-height:30px; padding-left:28px; background:url(../images/levelMenu_ico2.png) no-repeat 18px center; font-size:12px; text-decoration:none; color:#000;}

.levelMenu_list{ width:210px; display:none;}
.levelMenu_li{ display:block; margin-left:7px; width:190px; height:34px; line-height:34px; text-decoration:none; font-size:12px; color:#656565;}
.levelMenu_li:hover, .levelMenu_li:focus{ text-decoration:none; color:#525252;}
.levelMenu_li img{ float:left; margin:13px 5px 0 22px;}

.ttlCur a{ background:url(../images/levelMenu_ico1.png) no-repeat 15px center;}
.liCur{ background:url(../images/levelMenu_bg1.png) no-repeat; color:#fff;}
.liCur:hover, .liCur:focus{ color:#fff;}






/* 下拉框 搜索 新增样式 */
.btn { padding:7px 19px; font-family:'宋体';}
.bootstrap-select{ width:auto;}
.iptSeletAuto .bootstrap-select .btn { overflow:hidden; width:90px; height:34px; border-radius:4px 0 0 4px;}
.all_select .bootstrap-select .btn { width:218px;}
.bootstrap-select > .btn {padding-right: 25px;width: 100%;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0;border-top-left-radius: 0;}
.form-control { background-color: #fff;background-image: none; border: 1px solid #ccc;border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;color: #555;
    display: block;font-size: 12px;height: 34px;line-height: 1.42857;padding: 6px 12px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;width: 100%;}
.public-search {position: relative;}
.srarchfont {color: #d2d2d2;font-family:'微软雅黑';}
.octicon-search02 {background:url(../images/cjsearch_bg.png) no-repeat;display: block;float: left; height: 13px;left: 8px; position: absolute;top: 10px;width: 13px;z-index: 3;}
/* 多选搜索下拉框 对号样式 */
.glyphicon-ok:before{ content:normal;}
.bootstrap-select.btn-group .dropdown-menu li a i.check-mark{  background:url(../../../images/selectMenu-ico1.png) no-repeat;}



/* 日历控件样式 新增开始 */
.modal { position:fixed; top:0; right:0; bottom:0; left:0; z-index:10; display:none; overflow:hidden; -webkit-overflow-scrolling:touch; outline:0;}
.modal-title{ line-height:normal; font-size:14px;}
.modal-backdrop { position:fixed; top:0; right:0; bottom:0;	left:0;z-index:9;	background-color:#000;}
.modal-dialog { position:relative;	margin: 100px auto;}
.modal .modal-header .close, .modal .modal-header .close:link{background: url(../images/farmingIco16.jpg) no-repeat; margin-top:3px; border:none; opacity:1; filter:alpha(opacity=100); float:right; width:11px; height:11px;}
.modal .modal-header .close:hover, .modal-header .close:focus{ background:url(../images/farmingIco17.jpg) no-repeat; opacity:1.0; filter:alpha(opacity=100);}

.baseWidth148 .input-append{ width:146px;}
.baseWidth148 .form_datetime input{ float:left; width:146px; height:22px; border:1px solid #ddd; line-height:22px; text-indent:5px; font-size:11px;}
.input-append.date .add-on i, .input-prepend.date .add-on i {cursor: pointer;height: 14px; margin-left: -23px; width: 14px;}
[class^="icon-"], [class*=" icon-"]{ background:url(../../images/glyphicons-halflings.png) no-repeat; display:inline-block; width:14px; height:14px; vertical-align: text-top;}
[class*=" datetimepicker-dropdown"]:before{ top:-7px; right:7px;}
[class*=" datetimepicker-dropdown"]:after{ top:-6px; right:8px;}
.icon-th { background-position: -240px 0;}
.icon-arrow-left { background-position: -240px -96px;}
.icon-arrow-right { background-position: -264px -96px;float:right;}
/* 日历控件样式 新增结束 */



/* 单选按钮复选框 */
.iradio_minimal-blue, .iradio_minimal-blue.checked { float: left;}
.icheckbox_minimal-blue, .iradio_minimal-blue{ margin-top:8px;}

.fxy_lidate label {color: #525252; font-family: "宋体"; font-weight: normal; margin-top: 0;}
.fxy_lidate02{ height:34px; line-height:34px;}
.six3 label{ display:inline-block; height:34px; line-height:34px; padding-left:5px; margin-bottom:0}
.input-append input{ height:34px; line-height:34px; padding:0 12px; border:1px solid #ddd; }

.baseRadio_list{ overflow:hidden; min-width:600px;}
.baseRadio_list li{ float:left;}
.baseRadio_list .icheckbox_minimal-blue{ float:left; margin:0 5px 0 0;}
.baseRadio_list .iradio_minimal-blue{ float:left; margin:0 5px 0 0;}
.iRadioLable, .iCheckLable{float:left; height:20px; line-height:20px; padding:0 15px 0 0; margin-bottom:0; font-family:'宋体'; font-weight:normal;}

/* 通用上传文件 */
.baseFile_onload{ position:relative; display:block; width:75px; height:25px; line-height:25px; overflow:hidden; background:#fff; border:1px solid #ccc; border-radius:5px; font-size:12px; text-align:center; cursor:pointer;}
.baseFile_onload:hover{ background:#e6e6e6; border-color:#adadad;}
.baseFile_onload input{ position:absolute; right:0; top:0; height:27px; opacity:0; filter:alpha(opacity=0); cursor:pointer;}
.baseFile_pic194 img{ width:194px; height:94px;}
.pic_stress{ color: #f00; font-size: 12px; line-height: normal; margin: 0; padding: 10px 0 6px;}
.StandardSize{ border:1px solid #ddd; display:inline-block;}
.StandardSize .img1{ width:185px; height:114px;}
.StandardSize .img2{ width:114px; height:114px; border-radius:57px;}
.StandardSize .img3{ width:114px; height:114px;}
.StandardTxt{ padding-top:5px; font-size:12px; font-family:'宋体'; color:#ff0000;}

/* 初始信息 */
.baseTtlH3{ height:42px; border-bottom:1px solid #e8e8e8;}
.baseTtlH3 h3{ float:left; padding-left:24px; background:url(../images/ico_yangzhi1.png) no-repeat; font-size:14px; line-height:42px;}
.baseTtlH3 .chushiXx{ background-position:2px 15px;}
.baseTtlH3 .chulanJl{ background-position:2px -25px;}
.baseTtlH3 .tuzaiJl{ background-position:2px -67px;}

.messageTable{ margin-top:24px;}
.messageTable td{ padding-bottom:20px;}
.modalTable_minni td{ padding-bottom:20px;}
.bootList21 .bootLi{ float:left; padding-bottom:20px;}
.bootTxt21{ float:left; width:100px; line-height:34px; padding-right:10px; text-align:right; font-size:12px;}
.bootTextarea .area_textarea{ width:300px; height:82px; resize:none;}
.bootData21{ float:left;}
.bootSelt21{ float:left; display:inline-block;}
.bootSelt21 .bootstrap-select{  width:220px;}
.bootSelt21 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:220px;}
.bootSelt21 .bootstrap-select span{ font-size:12px; font-family:'微软雅黑';}
.bootSelt21 .bootstrap-select > .btn{ height:34px;}
.bootstrap-select.btn-group .dropdown-menu{ max-width:220px;}/* 下拉框最大宽度控制 */
.datetimepicker{ margin-left:8px;}

/* 通用添加图片 */
.baseAddList{ float:left; max-width:624px;}
.baseAddLi{ float:left; display:inline-block; margin:0 10px 10px 0;}
.baseAddLi a{ position:relative; display:inline-block; border:1px solid #ddd;}
.baseAddLi a img{ width:92px; height:92px;}
.baseAddLi a:hover .closeBtn{ display:block;}
.baseAddLi .closeBtn{ position:absolute; right:0; top:0; display:none; width:27px; height:23px; background:url(../images/del03.jpg) no-repeat; cursor:pointer;}
.baseAddbtn{ float:left; position:relative; width:94px; height:94px; background:url(../images/ico_baseAdd.jpg) no-repeat; overflow:hidden;}
.baseAddbtn input{ position:absolute; z-index:0; width:94px; height:94px; cursor:pointer; opacity:0; filter:alpha(opacity = 0);}
.baseAddModel{ position:fixed; z-index:101; display:none;}
.baseAddModel_body{padding:5px; border:1px solid #bebfc0; border-radius:10px;}
.baseAddModel_body img{ border-radius:10px;}
.baseAddModel_close{ position:absolute; right:-14px; top:-14px; width:28px; height:28px; background:url(../images/farmingIco05.png) no-repeat; cursor:pointer;}
.baseAddModel_close:hover{ background:url(../images/farmingIco06.png) no-repeat;}

/* 通用的提交返回按钮 */
.mes_mailCon{}
.mes_mailBtn{ text-align:center;}
.mes_mailBtn button{ margin-right:5px;}

/* 兽药记录等 表格模板 */
.tableModel{ border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; border-top:1px solid #e1e1e1; border-radius:10px 10px 0 0; border-collapse:separate; font-family:'微软雅黑'; color:#6c6a6b;}
.tableModel thead{ border-radius:10px 10px 0 0;}
.tableModel thead th ,.tableModel tbody td{ height:38px; text-align:center; border-bottom:1px solid #e1e1e1;}
.tableModel thead th{ height:42px; background:#f0f5fb; font-size:14px; font-weight:normal;}
.tableModel thead th:first-child{ border-radius:10px 0 0 0;}
.tableModel thead th:last-child{ border-radius:0 10px 0 0;}
.tableModel tbody tr td{ font-size:13px; background:#fcfcfc;}
.tableModel tbody tr.odd td{ background:#fbfcfe;}
.tableModel tbody tr.hover td{ background:#ecf7e6;}
.tableModel .icheckbox_minimal-blue, .tableModel .icheckbox_minimal-blue.checked{ display:inline-block; float:none; margin:0;}
.tableModel .iradio_minimal-blue, .tableModel .iradio_minimal-blue.checked{ display:inline-block; float:none; margin:0;}
.zt_a2,.zt_a1,.zt_a3,.zt_a4,.zt_a5,.zt_a6,.zt_a7,.zt_a8,.zt_a9,.zt_a10,.zt_a11,.zt_a12,.zt_a13,.zt_a14,.zt_a15{line-height:22px; font-size:12px; display:inline-block; padding-left:3px;}
.zt_a2 strong,.zt_a1 strong,.zt_a3 strong,.zt_a4 strong,.zt_a5 strong,.zt_a6 strong,.zt_a7 strong,.zt_a8 strong,.zt_a9 strong,.zt_a10 strong,.zt_a11 strong,.zt_a12 strong,.zt_a13 strong,.zt_a14 strong,.zt_a15 strong{ line-height:22px; display:inline-block; padding:0 10px 0 7px; font-weight:normal; margin-right:-3px; color:#6c6a6b;}
.nav-tabs > li > a{ color:#555;}





