p{ margin:0;}
/*.warning{ width:100%; min-width:988px; height:100%; background:url(/asset/images/alarm/bg.jpg) center top no-repeat; background-size: cover; -ms-behavior: url(backgroundsize.min.htc); behavior: url(backgroundsize.min.htc);}
*/
.subtitle{ width:94%; height:auto; border-bottom:1px solid #8095ad; margin:0 auto;}
.subtitle p{ width:928px; height:64px; line-height:40px; margin:0 auto; padding-top:24px; font-size:16px;}
.subtitle p strong{ color:#fff; display:inline-block;}
.subtitle p span{ color:#87e5fd; display:inline-block; padding-left:20px;}

.setting{width:928px; height:auto; padding-top:16px; margin:0 auto; display:block;}
.setting .tip{ width:100%; height:34px; }
.setting .tip .tip-content{ float:left; width:738px; height:34px; background:url(/asset/images/alarm/setting_bg.png) repeat; border-radius:6px;}
.setting .tip .tip-content p{ color:#fff; font-size:12px; line-height:34px;}
.setting .tip .tip-content p span{ width:22px; height:22px; background:url(/asset/images/alarm/tip.png) no-repeat; display:inline-block; vertical-align:middle; margin:0 9px;}
.setting .tip .add{ float:right; width:64px; height:34px; border:1px solid #3676ae; background:#428ac9; display:block; color:#FFFFFF; font-size:12px; text-align:center; line-height:34px; border-radius:6px; text-decoration:none; }

.setting .set-list{ width:100%; height:auto; margin-top:22px;}
.setting .set-list ul{ width:100%; height:560px;}
.setting .set-list ul li{ float:left; width:454px; height:92px; background:url(/asset/images/alarm/setting_bg.png) repeat; border-radius:6px; margin-right:20px; margin-bottom:20px; position:relative;}
.setting .set-list ul li div.icon{ width:50px; height:50px; float:left; margin-top:20px; margin-left:44px; }
.setting .set-list ul li div.module-des{ float:left; width:190px; height:auto; margin-top:20px; color:#fff; margin-left:22px;}
.setting .set-list ul li div.module-des p{ line-height:26px; font-size:18px;}
.setting .set-list ul li div.module-des span{ display:block; line-height:24px; font-size:14px;}
.setting .set-list ul li div.turn{ width:40px; height:20px; float:right; margin-right:20px; margin-top:36px; background:#428bca; border-radius:4px; position:relative;}
.setting .set-list ul li div.turn .turn-btn{ width:18px; height:18px; background:#fff; position:absolute; top:1px; right:1px; border-radius:4px;}
.setting .set-list ul li .turn-off{ background:#52688d !important;}
.setting .set-list ul li .turn-off .turn-btn{ right: initial !important; left:1px;}
.setting .set-list ul li div.edit{ width:60px; height:30px; background:#4e96cd; position:absolute; top:0; right:0; border-radius:0 4px 0 0; display:none;}
.setting .set-list ul li div.edit img{ width:30px; height:30px; float:left; cursor:pointer;}

.setting .pages{ width:473px; height:33px; margin:14px auto 34px;}
.setting .pages ul{ height:33px; border:1px solid #8a98b4; box-sizing:border-box; color:#8a98b4; border-radius:4px; font-size:12px; float:left;}
.setting .pages ul li{ float:left; height:31px; line-height:31px; padding:0 12px; border-right:1px solid #8a98b4; box-sizing:border-box;}
.setting .pages ul li.cur{ color:#fff;}
.setting .pages span{ width:64px; height:33px; border:1px solid #8a98b4; box-sizing:border-box; font-size:12px; display:block; float:right; border-radius:4px; color:#fff; text-align:center; line-height:31px;}

/*编辑框*/
.edit-box{ width:100%; position:absolute; top:0; left:0; display:none;}
.edit-box .edit-mask{ width:100%; height:100%; background:#000; opacity:.3; filter:alpha(opacity:30);}
.edit-box .edit-con{ width:613px; height:444px; background:#fff; position:absolute; top:50%; left:50%; margin-left:-306px; margin-top:-302px; border-radius:6px; color:#333333;}
.edit-box .edit-con .edit-title{ width:100%; height:46px; border-bottom:1px solid #cccccc; box-sizing:border-box; position:relative;}
.edit-box .edit-con .edit-title p{ width:200px; height:100%; line-height:46px; font-size:14px; padding-left:16px;}
.edit-box .edit-con .edit-title a{ width:11px; height:11px; background:url(/asset/images/alarm/edit_box_close.png) no-repeat; position:absolute; top:17px; right:15px;}
.edit-box .edit-con .edit-list{ width:100%; height:auto; padding-top:20px; border-bottom:1px solid #ccc;}
.edit-box .edit-con .edit-list .check-lind{ height:34px; margin-bottom:20px; margin-right:20px;}
.edit-box .edit-con .edit-list .check-lind p{ width:84px; height:34px; font-size:12px; text-align:center; line-height:34px; display:inline-block;}
.form_datetime{ display:inline-block; width:144px; height:34px;border:1px solid #CCC; border-radius:4px; }
.form_datetime input{text-indent:10px; height:32px; line-height:34px; width:136px; margin-left:2px;}
.textarea{ width:505px; height:63px; resize: none; border:1px solid #ccc; border-radius:4px; box-sizing:border-box; vertical-align:middle;}
.hei-line span{ color:#999999; font-size:12px; padding-left:88px;}
.hei-line{ height:86px !important; margin-bottom:16px !important;}
.on-off{ width:40px; height:20px; border-radius:10px; background:#428bca; display:inline-block; vertical-align:middle; position:relative;}
.on-off .on-off-btn{ width:18px; height:18px; border-radius:50%; background:#fff; position:absolute; top:1px; right:1px;}
.off{ background:#ccc;}
.off .on-off-btn{ right: initial !important; left:1px;}
.btns{ width:137px; margin:15px auto;}

.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ width:200px;}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=span]{ margin-bottom:0;}
.form-control{ width:200px; display:inline-block;}
[class^="icon-"], [class*=" icon-"] { background-image: url("/asset/images/alarm/glyphicons-halflings.png"); background-position: 14px 14px; background-repeat: no-repeat; display: inline-block;
    height: 14px; line-height: 14px; margin-top: 1px; vertical-align: text-top; width: 14px;}
.input-append.date .add-on i, .input-prepend.date .add-on i {cursor: pointer; height: 14px; margin-left: -21px; width: 14px; margin-top:2px;}
.icon-th { background-image: url("/asset/images/alarm/datetime.png"); background-position: 0 0; background-repeat: no-repeat;}
[class*=" datetimepicker-dropdown"]:before{ right:0;}
[class*=" datetimepicker-dropdown"]:after{ top:0;}
.icon-arrow-right { background-position: -264px -96px;}
.icon-arrow-left { background-position: -240px -96px;}
.btn{ width:64px; height:34px;}
.bootstrap-select.btn-group .btn .caret{ color:#adafb2;}

/**/
.no-warning{ width:100%; height:auto; text-align:center; padding-top:144px; color:#fff;}
.no-warning h4{ width:268px; height:70px; line-height:70px; margin:0 auto; font-weight:bold;}
.no-warning p{ width:268px; height:56px; line-height:28px; margin:0 auto; font-size:14px;}
.no-warning .btn{ width:155px; height:34px; padding:0; margin-top:26px;}