/* CSS Document */
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000;
    font-family:microsoft yahei;
    font-size: 12px;
    line-height: 150%;
    margin: 0;
    padding: 0;
	
}

h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p {
    border: medium none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{ text-decoration:none;}
.clear{ clear:both;}

.appbox{width:320px; margin:0 auto; overflow:hidden;}
.content2{background:none; padding:0 10px; }
.top_logo{ width:100%; height:44px; margin-top:12px;}
.applogo{ float:left; width:50%; height:44px; text-align:left;}
.fenx{ float:left; width:50%; *width:49%; height:44px; text-align:right;}
.fenx_ul{ float:right;}
.city_nav{ float:right; margin-right:15px; cursor:pointer;}
.goodsul{ margin:0 auto; height:90px;}
.goodsname{ width:100%; height:30px; line-height:30px; text-align:center; font-size:20px; color:#333; font-weight:bold;}
.goodsname2{ width:100%; height:30px; line-height:30px; text-align:center; font-size:14px; font-family:Hiragino Sans GB W3; color:#333; padding-bottom:5px;}
.maturity{ width:100%; height:235px; text-align:center; position:relative; z-index:100; top:26px;}
.addico{border-top:1px solid #bdbdbd; padding-top:8px;}
.adress{ font-size:16px; color:#2c3236; font-family:\5FAE\8F6F\96C5\9ED1;border-top:1px solid #bdbdbd; padding-top:5px;}

.szzs{ color:#2C3236; font-size:16px; height:40px; line-height:30px; text-align:left; margin-top:20px; font-weight:bold;}
.jieduanbg{ width:310px; height:52px;/* background:url(img/jdbg.png) left center no-repeat; */position:relative; z-index:2; margin-top:15px;}
.jieduans{ height:52px; /*background:url(img/jd.png) left no-repeat;*/ position:absolute; z-index:2; }
.xiaol{ width:24px; height:24px; position:relative; z-index:3; float:right;}
.qip{ width:48px; height:25px; position:absolute; line-height:25px; text-align:center; font-size:12px; color:#e17e5f; right:-12px; top:-26px; background:url(img/qip.png) no-repeat;}
.pingt_rk{ width:100%; height:85px; border-bottom:2px solid #83b53c; z-index:300; background:#fff;}
.pingt_rk li{ width:25%; height:75px; padding:5px 0; font-size:14px; float:left; text-align:center;}
.jd01{ width:100%; height:50px; background:url(img/topbg_01.jpg) center bottom no-repeat;}

.tree_main{ width:100%; background:#fff; margin-top:40px;}


.top_treebg{ width:100%;}
.width50{ width:100%;height:36px; background:url(img/00reebg_03.jpg) center top no-repeat;  }
.witabel{ width:50%; height:41px; float:left; position:relative; z-index:3;} 
.witabtd{ text-align:right; height:22px;}
.witabtdz{ text-align:right; padding-right:20px; height:22px;}
.lvli_icon{ padding-right:5px; padding-left:10px; height:22px;}
.lvli_icon2{ padding-left:20px; padding-right:10px;}
.ebg_05{width:100%;height:44px; background:url(img/00ebg_05.jpg) center top no-repeat; position:relative; z-index:2;}
.width51{ width:100%;height:41px; background:url(img/00reebg_05.jpg) center top no-repeat; position:relative; z-index:2;}
.witabel2{ width:50%; height:41px; float:right; margin-top:30px;} 
.witabtd2{ text-align:left; height:22px;}
.witabtd2z{ text-align:left; height:22px; padding-left:20px;}
.wid38{ font-size:20px; color:#4c760e;}
.wid32{ font-size:14px; color:#4c760e;}
.wid130{ font-size:14px; color:#999999;}
.widhui{ font-size:12px; color:#999999;}
.widhui24{ font-size:14px; color:#00000;}
.widhon{ font-size:14px; color:#e27f5f;}

.wid30{ font-size:14px; color:#4c760e;}
.widhui30{ font-size:14px; color:#999999;}

.bot_treebg{width:100%;}
.width53{ width:100%;height:34px; float:left; position:relative; z-index:2;  background:url(img/bottom_08.jpg) center bottom no-repeat; }
.width54{ width:100%;height:32px; float:right; position:relative; z-index:1; background:url(img/bottom_07.jpg) center bottom no-repeat;  }

.witabtd3{ text-align:right; padding-right:20px;}
.witabel3{ width:50%; height:33px; float:left; margin-top:30px; position:relative; z-index:3;} 
.witabel4{ width:50%; height:33px; float:right; margin-top:10px;} 
.witabtd4{ text-align:left; padding-left:20px; }

.zwtitle{ font-size:18px; color:#679424; font-weight:bold; padding-right:8px;}
.four_table{display:none;}

.ppaititle{ color:#34495c; font-size:18px; text-align:left; height:30px; line-height:30px; font-weight:bold; margin-top:10px; margin-bottom:10px;}
.ppaicont{ color:#585858; font-size:14px; text-align:left; line-height:20px;}
.farminfor{ min-height:138px; margin-top:15px; }
.f_i_span{ width:100%;  height:30px; }
.farm_i_font{ font-size:14px; color:#5f5e5e;}
.farm_mation{  font-size:14px; color:#5f5e5e; word-break:break-all;}
/*作物健康指数以下开始*/

/*农残*/

.nongct{ width:100%; height:25px; line-height:25px; font-size:18px; color:#679424; font-weight:bold; margin-top:20px;}
.ncfont{ font-size:16px; color:#666666;  height:22px; vertical-align:middle;}
.ncfens{ font-size:16px; color:#6bb0df; text-decoration:underline; position:relative; top:-5px; margin-left:5px; }
.zhesdiv{  float: left;    height: 160px;    margin: 8px;    width: 110px;}
/*种植者  成长环境*/
.zzer{ padding-bottom:25px; background:#fff; margin-top:15px; border:1px solid #eee;}
.ncryxq{ width:100%; margin:20px auto 0 auto;}
.ncrydl{width:100%; padding-bottom:15px;}
.ncrydt{width:100%; text-align:center; }
.ncrydd{width:100%; height:30px; line-height:18px; font-size:14px; color:#1d1d1d; text-align:center; margin-top:10px;margin-bottom:10px;}
.caipu{ font-size:14px; text-align:left; line-height:25px;}
.pingdl{margin-top:5px;}
.pingdt{ text-align:right; width:90px; padding:4px 4px 4px 0;}
.pingdd{ width:200px; height:20px; background:url(img/pingjbg.jpg) center repeat-x;}
.pingbg{ height:20px; display:block; background:url(img/pingbg.jpg) center repeat-x;}
.people_name{height:26px;line-height:26px; font-size:18px; color:#679424; font-weight:bold; margin-bottom:10px; margin-top:5px;}
.zzerimg{ width:120px; height:120px; border:1px solid #ccc; float:left;}
.zzerjs{ max-width:738px; height:120px; float:left; padding-left:17px; padding-right:17px;}
.zername{ line-height:20px; font-size:18px; color:#333; font-weight:bold; padding-right:8px; float:left;}
.zer_sapn{ height:22px; padding-left:5px; background:url(img/namebg_11.jpg) left center no-repeat; line-height:22px; display:block; float:left;}
.zer_sapn font{ height:22px; padding-right:5px; background:url(img/namebg_11.jpg) right center no-repeat; line-height:22px; font-size:12px; color:#fff; display:block;}
.zer_wz{ font-size:14px; color:#666; line-height:20px; height:83px; overflow:hidden;}
.zfens{ font-size:14px; color:#6bb0df; text-decoration:underline; margin-left:5px; }
.szhg{width:31px; height:32px; float:left; background:url(img/chec_29.jpg) no-repeat;}
.szbhg{width:31px; height:32px; float:left; background:url(img/chec_32.jpg) no-repeat;}
.szhge{ font-size:24px; color:#666666;  height:32px; line-height:32px; margin:0 12px; float:left;}
.szfont{ font-size:14px; color:#666666;  height:25px; }
.sztd{ padding-left:15px;}
.start1,.start2,.start3,.start4,.start5,
.startp1,.startp2,.startp3,.startp4,.startp5,
.startj1,.startj2,.startj3,.startj4,.startj5{ width:87px; height:14px; background-image:url(img/star.jpg); display:none;}
.start1,.startp1,.startj1{background-position:0 0;}
.start2,.startp2,.startj2{ background-position:0 -16px;}
.start3,.startp3,.startj3{ background-position:0 -32px;}
.start4,.startp4,.startj4{ background-position:0 -48px;}
.start5,.startp5,.startj5{ background-position:0 -64px;}
.time{ width:16px; height:16px; background:url(img/time_34.jpg) no-repeat; display:block; float:right;}
.szfocc{ font-size:12px; color:#ccc;  height:14px; line-height:14px; float:right; margin-left:8px;}
.szfdc{ font-size:14px; color:#4c4c4c; line-height:18px;}
.lipadi{ padding-bottom:15px; margin-bottom:20px;}
.boline{ border-bottom:1px solid #ccc;}
.foot{ font-size:14px; color:#5c7548;}
.fot{ font-size:14px; color:#999;}

.fenxtitle{height:50px; line-height:50px; font-size:18px; color:#fff; text-align:center;}
.fenxdl{width:60px; height:80px; float:left; margin-right:30px;}
.fenxdt{width:60px; height:60px; }
.fenxdd{width:60px; height:40px; line-height:20px; font-size:12px; color:#ffffff; text-align:center; }
.fenxbut{ width:100%; height:42px; margin-bottom:15px; text-align:center;}
.ncjc{padding:25px; margin:0 auto; text-align:center;}
.ncjc img{ margin-bottom:20px;}
.hpdno{font-family:Arial, Helvetica, sans-serif; font-size:30px; *font-size:26px; color:#e27a25;}
.hpdbf{font-family:Arial, Helvetica, sans-serif; font-size:30px; *font-size:26px; color:#e27a25;}
.fonth{font-size:14px; color:#666666;}
.fontcp{font-size:16px; color:#9c9a9b;}
/*插件*/
.pro_pic{ width:150px; height:150px; position:relative; z-index:106px; left:-2px; margin:0 auto; top:7px;}





.bfb{ width:100%; height:25px; line-height:25px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#575757;}
.now_zt{  width:100px; position:relative; z-index:105; right:50px; top:-68px;}
.now_font{width:100px; height:38px; position:relative; z-index:105; left:-60px; *left:-95px; top:-67px; font-size:12px; text-align:left; color:#666; cursor:pointer;}

.nowcz_zt{  left: 76px; position: relative; top:97px; z-index: 105;}




.nowcz_font{ color: #666666; font-size: 12px; height: 38px; left: 165px; position: relative; text-align: left; top:96px; z-index: 105;}




.chart {
  position: relative;
  display: inline-block;
  width:200px;
  height:200px;
  text-align: center;
  z-index:100;  
}
.chart canvas {
  position: absolute;
  top: 0px;
  left: 15px; z-index:101;
}
.percent {
  display: inline-block;
  position:relative; top:137px; left:-90px; color:#f3947a; font-size:14px;
  z-index: 2;
}
/*插件结束*/




/**/
.tck{ width:100%; padding:10px; background:url(img/tck.png) repeat; position:fixed; z-index:1000; display:none;}
.city_hovers2{display:block;position:fixed;}
.tck2{width:300px;  padding:10px; background:url(img/tck.png) repeat; position:fixed; z-index:1000;  display:none;}
.city_hovers { max-width:300px; min-height:200px; display:block;position:fixed; margin:0 auto;}

.tckti{ font-size:18px; color:#fff;}
.tckhn{ font-size:14px; line-height:25px; color:#ccc; padding:15px 0;}


/*线路查询开始*/


.xlcx_03{ width:100%; height:88px; background:url(img/xlcx_03.jpg) repeat-x;}
.xtir{ font-size:30px; color:#333;}
.xtnoe{ font-size:28px; color:#666;}
.xtinput{ width:100%; height:70px; padding:0 5px; background:url(img/sec_23.jpg) left no-repeat; border:none; text-align:left; line-height:70px; font-size:24px; color:#333;}
.lxname{ color:#333; font-size:24px; padding:15px 5px 15px 5px;}
.xlgl{ font-size:24px; color:#666;}
.xldjg{ background:#ebf2fc;}
/*线路查询结束*/
.tt{ cursor:pointer; }
.centerbg{width:100%; height:55px; background:url(img/center.jpg) center no-repeat;}

.nowcz_zt2{ width:174px; height:48px; background:url(img/now_04.png) right bottom no-repeat; position:relative; z-index:105; left:19px; top:-60px;}
.nowcz_font2{ height:38px; position:relative; z-index:105; left:148px; top:-60px; font-size:12px; text-align:left; color:#666;}
.pro_pic2{ width:110px; height:110px; position:relative; z-index:106px; margin:25px auto 0; margin-top:25px\9; }


.pingt_rk_a{ height: 100px;  position: relative;  width: 100px;  z-index: 500; color:#000; cursor:pointer;}

