@charset "utf-8";
/* CSS Document */
.form_datetime_second{ position:relative; width:100%;}
.form_datetime_second .add-on{	position:absolute;	right:5px;	top:10px;	width:14px;	height:14px;	}
.form_datetime_second .add-on .icon-th{	display:block;	width:14px;	height:14px;	margin:0;	}
.form_datetime_second .add-on .icon-th { background-position: -240px 0;	}
.search_header2 .form_datetime_second input{
	height:24px;
	line-height:20px;
	padding-top:0;
	padding-bottom:0;
	border:0;
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd;
	border-radius:0;
} 