@charset "utf-8";
/* CSS Document */
.name{display:inline-block;max-width:90px;height:20px; line-height:20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.stay{ margin-left:10px; padding-left:20px; background:url(../asset/images/orderManage/order_ico101.png) no-repeat 0 center; font-size:12px; color:#ff7427;}	