@charset "utf-8";
/* CSS Document */
.table_product th,
.table_product td{border-bottom:1px solid #000;color:#000;}
.table_product .ze_bg2{border-bottom:1px solid #000;color:#000;}
.table_product .ze_bg{ color:#000;}