<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>newbackward</display-name>
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>client</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.DEVELOPMENT</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.xhtml</param-value>
 </context-param>
  <context-param>
    <param-name>javax.ws.rs.core.Application</param-name>
    <param-value>cn.acsm.newbackward.nbkinterface.service.TransactionApplication</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/rest</param-value>
  </context-param>
  <servlet>
  	<servlet-name>resteasyServlet</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resteasyServlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  
 <filter>
  <filter-name>Seam Filter</filter-name>
  <filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
  <init-param>
        <param-name>createTempFiles</param-name>
        <param-value>false</param-value>
    </init-param>
    <init-param>
        <param-name>maxRequestSize</param-name>
        <param-value>1024000</param-value>
    </init-param>
 </filter>
 <filter>
  <filter-name>AgricultureFilter</filter-name>
  <filter-class>cn.acsm.newbackward.servlet.AgricultureFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>Seam Filter</filter-name>
  <url-pattern>*.seam</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AgricultureFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
 </listener>
 <listener>
  <listener-class>cn.acsm.newbackward.session.KrpanoTempFileListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Seam Resource Servlet</servlet-name>
  <servlet-class>org.jboss.seam.servlet.SeamResourceServlet</servlet-class>
 </servlet>

 <servlet>
  <servlet-name>PanoramaXMLServlet</servlet-name>
  <servlet-class>cn.acsm.newbackward.servlet.PanoramaXMLServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>KrpanoXMLServlet</servlet-name>
  <servlet-class>cn.acsm.newbackward.servlet.KrpanoCreateXMLServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>ImageServlet</servlet-name>
  <servlet-class>cn.acsm.newbackward.servlet.ImageServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>WeatherReportServlet</servlet-name>
  <servlet-class>cn.acsm.newbackward.servlet.WeatherReportServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>TestServlet</servlet-name>
  <servlet-class>cn.acsm.newbackward.test.Demo1</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>ImageCodeServlet</servlet-name>
  <servlet-class>cn.acsm.newbackward.common.Image</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 
 <servlet>
 	<servlet-name>GenerateCodeImageServlet</servlet-name>
  	<servlet-class>cn.acsm.newbackward.common.GenerateCodeImage</servlet-class>
  	<load-on-startup>1</load-on-startup>
 </servlet>
 
  <servlet>
   <servlet-name>Coordinate Servlet</servlet-name>
  <servlet-class>cn.acsm.newbackward.util.CoordinateServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
   <servlet-name>EnvironmentalData</servlet-name>
  <servlet-class>cn.acsm.newbackward.servlet.EnvironmentalData</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
   <servlet-name>GenerateResume</servlet-name>
  <servlet-class>cn.acsm.newbackward.servlet.GenerateResume</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
  <servlet>
   <servlet-name>Correspond</servlet-name>
  <servlet-class>cn.acsm.newbackward.servlet.Correspond</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
  <servlet>
   <servlet-name>EnterpriseNameServlet</servlet-name>
  <servlet-class>cn.acsm.newbackward.util.EnterpriseNameServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
  <servlet>
  <servlet-name>WeatherServlet</servlet-name>
  <servlet-class>cn.acsm.newbackward.servlet.WeatherServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
 <servlet-name>AgricultureImageNumerServlet</servlet-name>
  <servlet-class>cn.acsm.newbackward.servlet.AgricultureImageNumerServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 
 <servlet>
  	<servlet-name>inputsDateServlet</servlet-name>
    <servlet-class>cn.acsm.newbackward.util.InputsDataReduction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputsDateServlet</servlet-name>
    <url-pattern>/inputsDataReduction</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  <servlet-name>AgricultureImageNumerServlet</servlet-name>
  <url-pattern>/agrImgServlet</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.seam</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Seam Resource Servlet</servlet-name>
  <url-pattern>/seam/resource/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 <servlet-name>PanoramaXMLServlet</servlet-name>
  <url-pattern>/Panorama.xml</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>KrpanoXMLServlet</servlet-name>
  <url-pattern>/Krpano.xml</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EnvironmentalData</servlet-name>
  <url-pattern>/environmentaldata</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GenerateResume</servlet-name>
  <url-pattern>/generateResume</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Correspond</servlet-name>
  <url-pattern>/Correspond</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ImageServlet</servlet-name>
  <url-pattern>/TunnelImage</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>WeatherServlet</servlet-name>
  <url-pattern>/weatherData</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TestServlet</servlet-name>
  <url-pattern>/demo1</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>WeatherReportServlet</servlet-name>
  <url-pattern>/WeatherReport</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ImageCodeServlet</servlet-name>
  <url-pattern>/ImageCode</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  	<servlet-name>GenerateCodeImageServlet</servlet-name>
  	<url-pattern>/GenerateCodeImage</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>Coordinate Servlet</servlet-name>
  <url-pattern>/util/cdServlet</url-pattern>
 </servlet-mapping> 
 <servlet-mapping>
  <servlet-name>EnterpriseNameServlet</servlet-name>
  <url-pattern>/util/enNameServlet</url-pattern>
 </servlet-mapping> 
 <servlet>
		<servlet-name>AutoShackServlet</servlet-name>
		<servlet-class>cn.acsm.newbackward.analysis.AutoShackServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>AutoShackServlet</servlet-name>
  		<url-pattern>/AutoShackServlet.do</url-pattern>
	</servlet-mapping>
<servlet>
	<servlet-name>StockRecordServlet</servlet-name>
	<servlet-class>cn.acsm.newbackward.analysis.StockRecordServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>StockRecordServlet</servlet-name>
  	<url-pattern>/StockRecordServlet.do</url-pattern>
</servlet-mapping>
 <servlet>
  <servlet-name>testUpload</servlet-name>
  <servlet-class>cn.acsm.newbackward.servlet.PostObjectPolicy</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 
  <servlet-mapping>
  <servlet-name>testUpload</servlet-name>
  <url-pattern>/testUpload</url-pattern>
 </servlet-mapping>
 
  <servlet>
 	<servlet-name>servcieMenuServlet</servlet-name>
  	<servlet-class>cn.acsm.newbackward.servlet.ServcieMenuServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
 </servlet>
 
  <servlet-mapping>
	  <servlet-name>servcieMenuServlet</servlet-name>
	  <url-pattern>/servcieMenuServlet</url-pattern>
  </servlet-mapping>
 
   <servlet>
    <servlet-name>AuthImage</servlet-name>
    <servlet-class>cn.acsm.newbackward.servlet.AuthImage</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
    <servlet-mapping>
    <servlet-name>AuthImage</servlet-name>
    <url-pattern>/AuthImage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EndingServlet</display-name>
    <servlet-name>EndingServlet</servlet-name>
    <servlet-class>cn.acsm.newbackward.servlet.EndingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndingServlet</servlet-name>
    <url-pattern>/EndingServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>HarvestQuantityServlet</display-name>
    <servlet-name>HarvestQuantityServlet</servlet-name>
    <servlet-class>cn.acsm.newbackward.servlet.HarvestQuantityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HarvestQuantityServlet</servlet-name>
    <url-pattern>/HarvestQuantityServlet</url-pattern>
  </servlet-mapping>
  
	<!-- 初始化服务，检查极验服务是否正常，并返回状态信息 开始-->
	<servlet>
		<servlet-name>StartCaptchaServlet</servlet-name>
		<servlet-class>cn.acsm.newbackward.servlet.StartCaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartCaptchaServlet</servlet-name>
		<url-pattern>/StartCaptchaServlet</url-pattern>
	</servlet-mapping>
	<!-- 初始化服务，检查极验服务是否正常，并返回状态信息 结束 -->
	
	<!-- 进行滑动验是否正确 开始 -->
	<servlet>
		<servlet-name>VerifyLoginServlet</servlet-name>
		<servlet-class>cn.acsm.newbackward.servlet.VerifyLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerifyLoginServlet</servlet-name>
		<url-pattern>/VerifyLoginServlet</url-pattern>
	</servlet-mapping>
	<!--进行滑动验是否正确 结束  -->
	
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>cn.acsm.newbackward.util.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


 <session-config>
  <session-timeout>120</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>home.html</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>503</error-code>
  <location>/503.html</location>
  </error-page>
  <error-page>
  <error-code>404</error-code>
  <location>/404.seam</location>
 </error-page>
 <security-constraint>
  <display-name>Restrict raw XHTML Documents</display-name>
  <web-resource-collection>
   <web-resource-name>XHTML</web-resource-name>
   <url-pattern>*.xhtml</url-pattern>
  </web-resource-collection>
  <auth-constraint/>
 </security-constraint>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
