/**为1024改的样式开始*/
body {    font-size: 12px;
    color: #000;
    font-family:"微软雅黑"; height:100%;
    line-height: 150%;
    margin: 0;
    padding: 0;
}
html{ height:99%; background:url(../images/lefbg.jpg) repeat-y; overflow-y: outo;}
h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p,input {
    border: medium none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{text-decoration:none;}
.div_ce_bg {
	background: url(../images/div_c_03.jpg) center repeat-y;
	display: none;
}

.phon_lc1 {
	padding-left: 5px;
	display: none;
}

.r_sj_div {
	width: 392px;
	height: 882px;
	float: left;
	margin-left: 20px;
	margin-top: 15px;
}

.bj_bg12 {
	width: 403px;
	height: 235px;
	overflow-x: hidden;
	overflow-y:auto;
	background: #f2f2f2;
	padding: 15px;
}

.bl_title {
	width: 431px;
	height: 33px;
	background: url(../images/line_top_07.jpg) repeat-x;
	border-top: 1px solid #bcdadc;
	border-left: 1px solid #bcdadc;
	border-right: 1px solid #bcdadc;
	text-align: left;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #000;
}

.bl_title ul {
	width: 406px;
	height: 33px;
	margin: 0 10px 0 10px;
}
.bl_t_l_22{width:405px; text-align: left; vertical-align: middle;}
.bj_bg2 {
	width: 399px;
	min-height: 50px;
	
	background: #f2f2f2;
	border: 1px solid #bcdadc;
	padding: 16px;
}
.bj_bg22{height:180px;width:401px; background:#fafbfd; border:1px solid #bcdadc; padding:15px;}
.bj_bg122 {
	width: 399px;
	
	overflow-x: hidden;
	background: #fafbfd;
	border: 1px solid #bcdadc;
	padding: 16px;
}
.bj_bgnew2{
	width: 399px;
	height:200px;
	overflow-x: hidden;
	background: #fafbfd;
	border: 1px solid #bcdadc;
	padding: 16px;
	}
.bj_bg{
	width: 399px;
	height:120px;
	overflow-x: hidden;
	background: #fafbfd;
	border: 1px solid #bcdadc;
	padding: 16px;
}
.bj_bgnew{
	width: 399px;
	height: 135px
	overflow-x: hidden;
	background: #fafbfd;
	border: 1px solid #bcdadc;
	padding: 16px;
}
.bj_bg {
	_padding: 8px;
	
}

.bj_bg3 {
	width: 423px;
	height: 200px;
	overflow: hidden;
	background: #fafbfd;
	border: 1px solid #bcdadc;
	padding: 16px 0 16px 8px;
	*position:relative;
}

.bj_lan4 {
	background: url("../images/bg_png2.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	position: absolute;
	width: 432px;
	z-index: 30;
	height:233px;
}

.bj_lan3 {
	background: url(../images/bg_png2.png) repeat scroll 0 0;
	z-index: 30;
	position: absolute;
	width: 432px;
	height: 154px;
}
.bj_lanew {
	background: url(../images/bg_png2.png) repeat scroll 0 0;
	z-index: 30;
	position: absolute;
	width: 432px;
	height:135px; height:138px\9; *height:138px; 
}
.bj_lan2 {
	background: url(../images/bg_png2.png) repeat scroll 0 0;
	z-index: 30;
	position: absolute;
	width: 432px;
	height: 153px;
}
.bj_lan1 {
	background: url(../images/bg_png2.png) repeat scroll 0 0;
	z-index: 30;
	position: absolute;
	width: 432px;
	height: 265px; *height: 279px;
}
.bj_lan {
	background: url(../images/bg_png2.png) repeat scroll 0 0;
	z-index: 30;
	position: absolute;
	width: 432px;
	height: 233px;
}

.mob {
	display: none;
}

.bian {
	width: 403px
}

.bj_bg_t06{ width:100%; margin:0 auto; border-collapse:collapse; background:#eef8f7; float:left;}
.bj_bg_t06 th{ border:1px solid #bcdadc; color:#333333; text-align:center;padding-top:8px; padding-bottom:8px;}
.bj_bg_t06 td{ border:1px solid #bcdadc; color:#333333; text-align:center; word-break: break-all;}
.bj_bg_t td,.bj_bg_t01 td,.bj_bg_t02 td,.bj_bg_t03 td,.bj_bg_t04 td,.bj_bg_t05 td,.bj_bg_t06 td{ padding-top:8px; padding-bottom:8px;}
.pad_td{padding-right:49px;}


.tc_rw_rw2{ width:100%; height:448px; overflow-x: auto;overflow-y: auto; position:relative;}
.f_i_span{ width:100%; float:none; height:40px; }
.la_div .s_pan{float: left; margin-left: 5px; font-size: 11px; width:90px; width:auto\0; *width:auto;}

.aqu2{ *min-width:320px; height:35px; line-height:35px; background:#eff4fa; font-size:14px; color:#383838; margin-left:2%; *margin-left:5px;}
/**为1024改的样式结束*/

.area_w{width:485px;	}
.ke-container{width:485px !important;}
.getddiw{width:40px;}
.pro_bg{ height:210px; position:absolute; z-index:2; margin-left:31%;*margin-left:0px; *padding-left:31%; margin-top:2%; *margin-top:12px;}
