/*种苗*/
.blank{min-height: 620px; position: relative; -ms-behavior: url(backgroundsize.min.htc); behavior: url(backgroundsize.min.htc); }
.blank1{background:url(../images/blank/bg1.jpg) no-repeat center center; background-size: cover; }
.txtBox{width:70%; min-width: 690px; min-height: 404px; position: absolute; left: 50%; margin-left:-35%; top:20%; text-align: center; background: url(../images/blank/mask.png) no-repeat; background-size: 100% 100%; -ms-behavior: url(backgroundsize.min.htc); behavior: url(backgroundsize.min.htc);}
.warn{margin: 4.5% 0 30px 0;}
.line1{font-size: 18px; color: #596b8f; width: 620px; text-align: center; margin: 0 auto; padding-bottom:18px; font-weight: bold; line-height: 30px; border-bottom: 1px dashed #cecfcb;}
.line2{font-size: 16px; color: #596b8f; width: 472px; text-align: center; margin: 0 auto; margin-top: 18px; line-height: 26px;text-indent: 2em;}
.blank2{background:url(../images/blank/bg2.jpg) no-repeat center center; background-size: cover; }
.blank3{background:url(../images/blank/bg3.jpg) no-repeat center center; background-size: cover; }
.blank4{background:url(../images/blank/bg4.jpg) no-repeat center center; background-size: cover; }
.blank5{background:url(../images/blank/bg5.jpg) no-repeat center center; background-size: cover; }
.blank6{background:url(../images/blank/bg6.jpg) no-repeat center center; background-size: cover; }
.blank7{background:url(../images/blank/bg7.jpg) no-repeat center center; background-size: cover; }
.blank8{background:url(../images/blank/bg8.jpg) no-repeat center center; background-size: cover; }
