@charset "utf-8";
/* CSS Document */
.nw210{width: 210px;}
.item{width: 320px; float: left; padding-top: 20px;}
.bt210 .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width: 210px;}
.bt210 .btn-group{ width: 210px;}
.bt100 .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width: 100px;}
.bt100 .btn-group{ width: 100px;}
.former{width: 90px; text-align: right; padding-right: 15px; box-sizing:border-box;}
.feature{width: 132px; height: 132px; position: relative;}
.feature img{position: absolute; top:0; left:0;}
.feature .upload{position: absolute; top:0; left:0; width: 132px; height: 132px; font-size: 100px; opacity: 0; filter: alpha(opacity=0);}
.anniu{padding: 40px 0; text-align: center;}