@charset "utf-8";
/* CSS Document */
/* 公用样式 开始 */
body,a,p,h1,h2,h3,h4,h5,h6,strong,ul,ol,li,div,form,table,tbody,thead,tfoot,th,tr,td,u,b,i,s,font,dl,dt,dd,em,sup,sub{ margin:0; padding:0;}
a{ text-decoration:none;}
ul,ol,li{ list-style:none;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.clear{ clear:both;}
.clear:after{ clear:both; content:""; display:block; visibility:hidden; height:0;}
em{ font-style:normal;}
body{ color:#323232; font-size: 14px;}
*{box-sizing:border-box;}

/* 时间控件 开始 */
tr:first-child th {cursor: pointer;}
.datetimepicker{ padding:5px;}
.datetimepicker td, .datetimepicker th { border: medium none; border-radius: 4px; height: 20px; text-align: center;width: 20px;cursor:pointer;}
.datetimepicker th.switch { width: 145px;}
.month { font-size:12px;}
.switch { font-size:14px;}
.datetimepicker thead tr:first-child th, .datetimepicker tfoot tr:first-child th { cursor: pointer;}
.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot tr:first-child th:hover { background:#eee;}
.datetimepicker table tr td span { border-radius:4px; cursor:pointer; display:block; float:left; height:38px; line-height:38px; margin:1%; width:23%;}
.datetimepicker table tr td span:hover{ background:#eee;}
.datetimepicker table tr td.day:hover{ background:#eee;}
.datetimepicker table tr td.old, .datetimepicker table tr td.new {color: #999;}
.datetimepicker-dropdown, .datetimepicker-dropdown-left { left: 0; top: 0;}
.datetimepicker-dropdown-left:before { border-bottom: 7px solid rgba(0, 0, 0, 0.2); border-left: 7px solid transparent; border-right: 7px solid transparent;
    content: ""; display: inline-block; position: absolute; right: 6px; top: -7px;}
.datetimepicker-dropdown-left:after { border-bottom: 6px solid #fff; border-left: 6px solid transparent; border-right: 6px solid transparent;content: "";
    display:inline-block; position:absolute; right:7px;top: -6px;}
.datetimepicker table tr td.active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover {
    background-color: #006dcc; background-image: -moz-linear-gradient(center top , #0088cc, #0044cc); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.datetimepicker table tr td.active:hover, .datetimepicker table tr td.active:hover:hover, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled:hover:hover, .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active.active:hover, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled.active:hover, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled.disabled, .datetimepicker table tr td.active.disabled.disabled:hover, .datetimepicker table tr td.active[disabled], .datetimepicker table tr td.active[disabled]:hover, .datetimepicker table tr td.active.disabled[disabled], .datetimepicker table tr td.active.disabled[disabled]:hover { background-color: #0044cc;}


.datetimepicker .datetimepicker-hours span { height:26px; line-height: 26px;}
.datetimepicker table tr td span.active, .datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover {
    background-color: #006dcc; background-image: -moz-linear-gradient(center top , #0088cc, #0044cc); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active:hover:hover, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active.disabled:hover:hover, .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active.active:hover, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled.active:hover, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active.disabled.disabled, .datetimepicker table tr td span.active.disabled.disabled:hover, .datetimepicker table tr td span.active[disabled], .datetimepicker table tr td span.active[disabled]:hover, .datetimepicker table tr td span.active.disabled[disabled], .datetimepicker table tr td span.active.disabled[disabled]:hover { background-color: #0044cc;}
[class^="icon-"], [class*=" icon-"] { background-image: url("../../asset/images/glyphicons-halflings.png"); background-position: 14px 14px; background-repeat: no-repeat; display: inline-block;
    height: 14px; line-height: 14px; margin-top: 1px; vertical-align: text-top; width: 14px;}
.month { font-size:12px;}
.switch { font-size:14px;}
.icon-arrow-left { background-position: -240px -96px;}
.icon-arrow-right { background-position: -264px -96px;}
.input-append.date .add-on i, .input-prepend.date .add-on i {cursor: pointer; height: 14px; margin-left: -25px; width: 14px; margin-top:2px;}
.icon-th {  background-position: -240px 0;}
.form_datetime input{border:1px solid #CCC; text-indent:10px; height:34px; line-height:34px;}
.editorBtn{margin:50px auto; text-align:center;}


/* 单选按钮复选框 */
.iradio_minimal-blue, .iradio_minimal-blue.checked { float: left;}
label{font-weight: normal; margin-bottom: 0;}
/*面包屑导航*/
.r_t_l {color: #525252;}
.service{width: 100%; padding: 0 30px;}
.service_content{width: 100%; padding:20px 0 10px 0; border-bottom: 1px solid #e1e1e1;}
.serve_table td{padding: 10px 0;}
.serve_table .row1 td{padding-top: 20px;}
.serve_table .sub_title{text-align: right;}
.serve_table .sever_r{position: relative;}
.serve_table .sever_r .rear{position: absolute; top: 8px;}
.serve_table .sever_r .no1{left: 360px; color: red;}
.serve_table .sever_r .no2{left: 195px;}
.serve_table .sever_r .no3{left: 215px; color: red; top:10px;}
.serve_table .sever_r .kind_select{ height: 30px; color: #646464; border: 1px solid #e2e2e2; padding: 4px 5px; float: left; margin-right: 15px; margin-bottom: 15px;}
.sever_r .kind_select .product_name{float: left;}
.sever_r .kind_select .del{float: right; margin-top: 6px; width: 10px; height: 10px; background: url(../../images/dele1.png) no-repeat;}
.serve_table .sever_r .kind_select:hover {border-color: #7cbc54;}
.kind_select:hover .del{background: url(../../images/dele2.png) no-repeat;}
.ledgement{width: 20px; text-align: center; line-height: 30px; margin-right: 13px;}
.setMeal{padding-left: 45px;}
.setMeal .setAdd{min-height: 190px; border-bottom: 1px dashed #e2e2e2;}
.real_pic .add{ width: 145px; height: 145px; border: 3px dashed #e2e2e2; border-radius: 5px; position: relative; float: left; cursor: pointer; margin-right: 15px; margin-bottom: 10px;}
.real_pic .glass {width: 67px; height: 67px; position: absolute; top: 50%; margin-top: -35.5px; left: 50%; margin-left: -35.5px;}
.real_pic .add .upload{width: 145px; height: 145px; position: absolute; top:0; left: 0; font-size: 100px; opacity: 0; filter:alpha(opacity=0);}
.real_pic li{float: left; margin-right: 15px; margin-bottom: 10px;}
.rel_photo{position: relative; float: left; margin-right: 15px;}
.del_photo{position: absolute; top:0; right: 0; display: none;}
.rel_photo:hover .del_photo{display: block;}
.setMeal .setAdd textarea.form-control{resize:none;}




/*多选框和单选框*/
.icheckbox_minimal-blue,.icheckbox_minimal-blue.checked{ float:left;}
.iradio_minimal-blue,.iradio_minimal-blue.checked{ float:left;}
.check_box li{float: left; padding-bottom: 10px;}
/*多选下拉框*/
.select_more .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width: 188px;}
.select_more .bootstrap-select{ width: 188px;}
.icon-ok{background-position: -288px 0;}
