@charset "utf-8";
/* CSS Document */

body{ font-size:14px; color:#525252;}
ul, ol{ margin:0;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.clear{ clear:both;}
.clear:after{ clear:both; content:""; display:block; visibility:hidden; height:0;}
em{ font-style:normal;}

/* 公用面包屑导航  */
.mr5{ margin-right:5px;}
.r_t_l{ font-family:'微软雅黑';}
.r_t_l span{ font-size:12px;}
.r_t_l em{ padding:0 5px; font-style:normal; }
.cm_resumeList li{float: left;}
.cm_resumeList li a{display: block; height: 44px; line-height: 44px; padding: 0 10px; color: #3f3f3f; overflow: hidden; font-family: '宋体';}
.borderBt{border-bottom: 2px solid #33aedc;}
.cm_resumeList li img{float: left; margin-top: 16px;}
.cm_resumeList li span{float: left; text-indent: 10px;}
/*内容开始*/
.f-content{width: 100%; height: auto; font-size: 14px;}
.f-content h6{line-height:29px;color: #333; font-size: 14px;margin:0; padding-top: 5px-;}
.f-content li{float: left; color: #646464; padding: 4px 10px; margin-right: 10px; cursor: pointer;}
.farm td{border-bottom: 1px dashed #e2e2e2; vertical-align: top; padding: 15px 0;} 
.big_class .green{background-color: #5cb85c; border-radius: 4px; color: #fff;}
.small_class .cur,.product .cur,.small_class2 .cur{color: #5cb85c;}
.factor td{border-bottom: 1px solid #e2e2e2;}
.more{color: #76a6d5; cursor: pointer; padding-top: 5px;}
.product{height: 24px; overflow: hidden;}
.second{display: none;}
.third{display:none;}
.down{width: 15px; height: 10px; background: url(../images/down.png); margin: 7px 0 0 5px;}
.zim{height: 30px; line-height: 30px;}
.f-search{padding: 20px 0 10px 0;}
.letter li{float: left; padding: 0 3px;}
.letter .key{cursor: pointer; padding:0 4px;}
.letter .bg{background-color: #f3fdf3; color: #5cb85c; border: 1px solid #5cb85c; border-radius: 2px;}
.card{float: left; width: 370px; height: auto; padding: 20px 0 15px 10px; border: 1px solid #e5e5e4;  border-radius: 5px; box-shadow: 0px 1px 2px #d2d4d7; margin-bottom: 15px;box-sizing: border-box;}
.card .pic img{width: 80px; height: 80px;}
.card h4{color: #6aade5; padding-bottom: 5px; height:18px; overflow:hidden; padding-right:12px;}
.card .nh{height: 24px; line-height: 24px;}
.card .nh span,.card .nh img{float: left;padding-right: 5px;}
.card .nh img{padding-top: 5px;}
.card .nh .guig{color: red; display: inline-block; width: 105px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.company{display: inline-block; width: 105px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
/* 分页模板 */
.pageModel{ margin:40px auto 0; border:1px solid #e1e1e1; border-radius:5px; border-collapse:separate; font-size:12px;}
.pageModel span{ float:left; height:32px; line-height:32px; border-right:1px solid #e1e1e1;}
.pageModel span:last-child{  border-right:0;}
.pageModel a{ display:block; padding:0 13px; color:#9a9a9a;text-decoration:none;}
.pageModel a:link ,.pageModel a:hover ,.pageModel a:focus ,.pageModel a:visited{ text-decoration:none;}
.pageModel .page_Cur a{ background:#f6f6f8; color:#0088d2;}
.pageModel .pageCount a:hover{color:#9a9a9a;}
.pageModel .current{background:#f6f6f8; color:#9a9a9a; padding:0 13px;}

/*详情页开始*/
.grszLt{width:100%; height: 100%; border-radius:5px;}
.grszLt img{ width:196px; height:188px; border-radius:5px;}
.grszRt{ padding-left:20px;}
.grxxHt{ height:56px; border-bottom:1px dashed #e2e2e2;}
.grxxHt h3{ float:left; height:56px; margin:0; line-height:56px; font-size:20px; text-indent:5px; color:#323232;}
.grxxHt .off_sum,.offbbody .off_sum{float: left; min-width: 100px; height: 26px; line-height: 26px; border: 1px solid #7dbff6; border-radius: 4px; margin-left: 20px; margin-top: 15px;}
.grxxHt .off_sum span,.offbbody .off_sum span{display: inline-block; padding: 0 5px;}
.grxxHt .off_sum span.former,.offbbody .off_sum span.former{color: #fff; background: #7dbff6;}
.grxxHt .off_sum span.latter,.offbbody .off_sum span.latter{color: #7dbff6;}
.grxxCt{font-size:14px; color: #323232;}
.grxxCt td.border58{ height:58px; border-bottom:1px dashed #e2e2e2; padding: 15px 0;}
.blongsTxt{ font-size:14px; color:#646464;}
.returnBtn{text-align: center; margin-top: 30px; margin-bottom: 30px;}
.use-way{width: 100%; height: auto;}
.use-way li{width: 164px; height: 224px; padding: 9px 10px 11px; float: left; background: url(../images/pic-bg.png) no-repeat; margin-right: 15px; margin-bottom: 15px;}
.use-way li img{width:144px; height: 198px;}

.baseAddModel_body {
    padding: 5px;
    border: 1px solid #bebfc0;
    border-radius: 8px;
    background: #fff;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    box-sizing: content-box;
}
.baseAddModel_close {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -14px;
    width: 28px;
    height: 28px;
    background: url(../images/farmingIco05.png) no-repeat;
    cursor: pointer;
}
.baseAddModel_close:hover {
    background: url(../images/farmingIco06.png) no-repeat;
}




