/*新加样式*/
.menutree{ min-width:210px; min-height:600px; overflow-y:auto;overflow-x:hidden;}
/*树开始*/
.nav_h1 { background:url(../images/growth/menu_bg2.png) right no-repeat; width:100%; height: 43px; line-height: 43px; font-size:16px; color:#fff; font-weight:normal; cursor:pointer; white-space:nowrap;}
.onstow{ background:url(../images/growth/menu_bg.png) right  no-repeat; width:100%; height: 43px; line-height: 43px; font-size:16px; color:#fff; font-weight:normal; cursor:pointer; white-space:nowrap;}
.nav_font{font-family:"宋体";margin-right:50px; margin-left:13px; display:block;}
.nav_span{ background:url(../images/growth/menu_tdbg.png) repeat-x; width:100%; }

.slist_2 { margin:0; display:none; background:url(../images/growth/ul_bg.png) bottom center repeat-x;}
.ltow{ background:none; font-size:14px; height:43px; padding-left:8px;line-height:43px; display:block;  font-weight:bold;font-family:"宋体";color:#a3d2ff; text-decoration: none; cursor:pointer;overflow:h}
.ltow.currentltow{ font-weight:bold;color:#a3d2ff;font-family:"宋体";}
.sslist { overflow:hidden; display:none; border-bottom:1px solid #656a70;}
.lthree {overflow: hidden;}
.lthree a:link,.lthree a:visited,.lthree li a:hover,.lthree a:active{font-family:"宋体";line-height:35px;font-size:12px; text-decoration:none; color:#ccc; font-size:14px;overflow: hidden; }
.lthree.currentlthree a{ color:#87e5fd;  }
/*树结束*/


.tab_t{min-width:162px; [;width:162px;]; *width:162px; border-collapse:collapse; *border-collapse:inherit; z-index:2; position:absolute; height:60px; right:10px; }
.r_tdbg{ background:#fbfcff;}
.r_ulli2{ height:29px; line-height:29px;background:url(../images/r_t_06.jpg) right center no-repeat; padding-right:24px; float:right; margin-top:7px; *margin-top:16px; padding-top:10px; *padding-top:0px;}
.r_ulli1{ height:29px; line-height:29px; color:#cfe3fe; padding-left:20px; float:right; margin-top:12px; font-weight:bold; font-size:14px;}
.r_uul{ margin-left:18px;}
.r_1j{ font-size:14px; padding:5px 0;}
.r_2j{ font-size:12px; padding:5px 0; background:url(../images/growth/er1.jpg) left center no-repeat; padding-left:10px;}
.tab_t2{min-width:162px; [;width:162px;]; *width:162px; border-collapse:collapse; *border-collapse:inherit; z-index:2; position:absolute; height:60px; right:104px; }
 /*右侧开始*/ 
.right_c{ padding:0 30px; min-width:630px;}
.r_title{ width:100%; height:45px; line-height:45px; border-bottom:1px solid #ddd; margin-top:22px;}
.r_t_l{ width:30%; height:45px; line-height:45px; float:left;}
.r_t_r{ width:69%; height:45px; line-height:45px; float:right;}
.r_t_r ul{ float:right; height:20px; margin-top:10px;}
.r_t_r ul li{ float:right; height:20px; line-height:20px; padding:0 10px;}
.r_z_e{ width:845px; height:54px; margin:35px auto;}
.ze_13{ float:left; width:10px; height:54px;}
.ze_15{ float:left; height:54px; background:url(../images/growth/ze_15.jpg) repeat-x;}
.ze_15 table{ height:54px; overflow:hidden;}
.ze_l5_li{ width:62px; height:52px; padding:1px 9px 1px 0; background:url(../images/growth/zw_21.jpg) right center no-repeat;}
.ze_l5_td{ color:#232323; font-family:"微软雅黑"; font-size:14px; font-weight:bold; padding:0px 4px;}
.ze_l5_td2{color:#232323; font-family:"微软雅黑"; font-size:12px; font-weight:normal; padding:0px 4px;}
.z_r_ser{ height:30px; line-height:30px;}
.z_r_ser_i{ height:28px; line-height:28px; width:340px; padding:0 2px; border:1px solid #e9e9e9;}

.ze_table{ margin-top:35px; border-collapse:collapse;}
.ze_bg{ height:38px; background:#f0f5fb; text-align:center; font-size:14px; color:#2e2e2c; border-bottom:1px solid #dddddd; font-weight:normal;}
.ze_bt_le{ border-left:1px solid #e1e1e1;}
.ze_bt_ri{ border-right:1px solid #e1e1e1;}
.ze_bg2{ height:38px;  text-align:center; color:#6c6a6b; font-size:13px; border-bottom:1px solid #dddddd;}

.ze_bg3{ height:38px;  text-align:left; padding-left:30px; color:#1b66a9; font-size:13px; border-bottom:1px solid #dddddd;}


.ze_table td{ background:#fbfcfe;}
tr.alt td {
	background: #fff; /*这行将给所有的tr加上背景色*/
}

tr.over td {
	background: #ecf7e6; /*这个将是鼠标高亮行的背景色*/
}
.td_t_b{ border-bottom:1px solid #ddd; border-top:1px solid #ddd; padding:0 12px; height:30px; text-align:center; line-height:30px; color:#0088d2;}
.td_t_t{ border-left:1px solid #ddd;}
.onp{ background:#f6f6f8; color:#9a9a9c;}
.no_n{ color:#9a9a9c;}
.no_d{ color:#0088d2;}


.zt_a2,.zt_a1,.zt_a3,.zt_a4,.zt_a5,.zt_a6,.zt_a7{line-height:22px; font-size:12px; display:inline-block; background-position:0 0px; cursor: pointer; padding-left:3px;}
.zt_a2 strong,.zt_a1 strong,.zt_a3 strong,.zt_a4 strong,.zt_a5 strong,.zt_a6 strong,.zt_a7 strong{ line-height:22px; display:inline-block; padding:0 10px 0 7px; font-weight:normal; margin-right:-2px;}
.zt_a2{ background:url(../images/growth/bg2.png) left center no-repeat;}
.zt_a2 strong{ background:url(../images/growth/bg2.png) right center no-repeat; color:#fff;}

.zt_a1{background:url(../images/growth/bg.png) left center no-repeat;}
.zt_a1 strong{ background:url(../images/growth/bg.png) right center no-repeat; color:#494949;}

.zt_a3{background:url(../images/growth/bg3.png) left center no-repeat; }
.zt_a3 strong{ background:url(../images/growth/bg3.png) right center no-repeat; color:#fff;}

.zt_a4{background:url(../images/growth/bg4.png) left center no-repeat;}
.zt_a4 strong{ background:url(../images/growth/bg4.png) right center no-repeat; color:#fff;}

.zt_a5{background:url(../images/growth/bg5.png) left center no-repeat; }
.zt_a5 strong{ background:url(../images/growth/bg5.png) right center no-repeat; color:#fff;}

.zt_a6{background:url(../images/growth/bg6.png) left center no-repeat; }
.zt_a6 strong{ background:url(../images/growth/bg6.png) right center no-repeat; color:#fff;}

.zt_a7{background:url(../images/growth/bg7.png) left center no-repeat;}
.zt_a7 strong{ background:url(../images/growth/bg7.png) right center no-repeat; color:#fff;}


.tody_list{ color:#1b66a9;}
 /*右侧结束*/ 


 /*下拉菜单*/ 
 /* menu::base */
#menu{ height:34px; width:100%; line-height:34px; margin-bottom:8px;}
#menu ul { margin: 0; padding: 0; list-style: none; float: left;}
#menu ul.menu {padding-left: 10px;}
#menu ul a:hover span { color: #ffffff; display:block;cursor:hand; }
#menu li {}

 menu33::level2 
/* menu::base */
div#menu { height:34px; width:100%; line-height:34px; margin-left:auto; margin-right:auto;}

div#menu ul {margin: 0;  padding: 0; list-style: none; float: right;}
div#menu ul.menu {    padding-left: 10px;}

div#menu li {    position: relative;    z-index: 9;    display: block;}
   
div#menu li:hover>ul {    left: -2px;}

div#menu li div {    list-style: none;    position: absolute;    top:34px;   width: 150px;    z-index: 11;    visibility: hidden;    padding: 0 0 9px 7px;    _padding: 0 0 9px 3px;}
div#menu li:hover>div {    visibility: visible;}

div#menu li.current a {}

div#menu span { font-size:12px; line-height:34px; color:#CFE3FE; text-transform:uppercase;display: block; cursor: pointer; background-repeat: no-repeat; text-align:center;}
div#menu ul a:hover span {color: #CFE3FE;	display:block;cursor:hand; }
div#menu ul .on{cursor:hand; text-align:center;}
div#menu li {}
/* menu::level2 */
div#menu ul ul li { background: #fbfcff; padding:4px 0 4px 0px; z-index: 9;}
div#menu ul ul li li {background:#fdfdfd; border-left:1px solid #eff2f9; border-right:1px solid #eff2f9; border-top:1px solid #eff2f9; text-align:center; padding:0px; z-index: 9;}

div#menu ul ul {    z-index: 12;   padding: 0;    margin-top:0px;	width:100%;}
div#menu ul ul a {	width: 132px;   height: auto;    float: none;font-weight:normal; color:#2b2b2b;  display: block;  background:none; z-index: -1; width:100%; font-size:12px;}
div#menu ul ul a span {     line-height: 20px;    color: #2b2b2b;    font-weight:normal;    text-transform: none;    background:none;text-align:left;}
div#menu ul ul a:hover {}
div#menu ul ul li a:hover { color: #2b2b2b; font-weight:normal; background:#eff2f9;}
div#menu ul ul li { width: 100%;}

.top_td{border-top:1px solid #ababab;}
.bottom_td{border-top:1px solid #ababab;}
.td_clo{height:20px; line-height:20px; border-top:1px solid #ccc; padding-top:10px; font-size:12px; padding-left:11px; color:#2b2b2b;}
.left_td{border-left:1px solid #ababab;}
.right_td{border-rigth:1px solid #ababab;}

/*作物生长情况开始*/
.zuowbg{ min-height:600px;}
.zwleftmenu{ width:210px; min-height:600px; background:url(../images/growth/zwleft_04.png) repeat;}
.cen_top{height:210px ;padding-left:40px; padding-right:25px;}
.centopd{width:100%;  height:210px; margin-bottom:5px; background:url(../images/growth/zwleft_04.png) repeat;  padding-top:20px; float:left;}
.centopdiv{height:124px; width:100%; display:block; }
.centopimg{width:120px; height:122px; }
.ctimgbg{ width:120px; height:122px; position:absolute; z-index:3;}
.ctimgpic{ width:120px; height:122px; position:absolute; z-index:2;}
.centoprit{   padding-left:25px;}
.centopmain{height:30px; line-height:30px; margin-top:15px; text-align:left;}
.cainame{ font-family:"微软雅黑"; font-size:22px; color:#fff; margin-right:25px; float:left;}
.quyuname{ font-family:"微软雅黑"; font-size:22px; color:#87e5fd; margin-right:15px; float:left;}
.bjszbut{ height:30px; float:right; position:relative; left:-15px;}
.bjszbutspa{ height:30px; padding-left:8px; float:left; font-size:15px; display:inline-block; color:#fff; background:url(../images/growth/bjszbut.png) left no-repeat;}
.bjszbutstr{ height:30px; line-height:30px; padding-right:8px; float:left; font-size:15px; color:#fff; background:url(../images/growth/bjszbut.png) right no-repeat; margin-right:-8px; font-weight:normal;}
.chensd{ height:60px;}
.chetable{top:47px; position:relative;}
.shengzqi{ margin-top:15px; line-height:25px; font-size:14px; color:#fff; text-align:left; padding-left:25px;height:60px; }
.color_1,.color_2,.color_3,.color_4,.color_5,.color_6,.color_7{ height:6px; float:left; position:relative; z-index:2;}
.color_1{ background:#8dcd5d;}
.color_2{ background:#309b31;}
.color_3{ background:#9cb708;}
.color_4{ background:#ffde00;}
.color_5{ background:#f8920c;}
.color_6{ background:#ff3900;}
.color_7{ background:#d80001;}


.color_title{ width:100%; text-align:center; height:20px; line-height:20px; color:#87e5ff; position:absolute; z-index:3; margin:0 auto; top:-37px; font-size:12px;}
.chen_td{ font-size:10px; color:#fff; }
.on_day{  height:35px; background:url(../images/growth/chenon.png) left bottom no-repeat; position:absolute; z-index:10; top:-25px; font-size:10px; color:#fff; line-height:24px; width:28px;}
.cen_bot{ width:100%; height:185px; float:left;}
.zi01{ width:49.5%; float:left; margin-bottom:5px; background:url(../images/growth/zwleft_04.png) repeat;}
.zi02{ width:49.5%; float:right; margin-bottom:5px; background:url(../images/growth/zwleft_04.png) repeat;}
.zi03{ width:49.5%; float:left; background:url(../images/growth/zwleft_04.png) repeat; }
.zi04{ width:49.5%; float:right; background:url(../images/growth/zwleft_04.png) repeat;}

.tdwidth{}
.tdwidth2{}

.ziliang1{ width:95%; height:70px; padding:10px 0px; margin:0 auto;}
.ziliang2{ width:95%; height:70px; padding:10px 0px; margin:0 auto;}
.ziliang3{ width:95%; height:70px; padding:10px 0px; margin:0 auto;}
.ziliang4{ width:95%; height:70px; padding:10px 0px; margin:0 auto;}

.zifont{ font-size:18px; color:#fff;}
.zifont2{ font-family:Hiragino Sans GB W3,Arial, Helvetica, sans-serif; font-size:16px; color:#fff;}
.videobox{width:495px; background:url(../images/growth/zwleft_04.png) repeat; padding:10px;}
.videobut{ width:321px; height:77px; margin:18px auto 0 auto; background:url(../images/growth/videobut.png) no-repeat;}
.vidoicon{ width:91px; height:91px; position:relative; z-index:4; left:0; right:0; top:92px; margin:0 auto; width:91px; height:91px;}
.videoimg{ position:absolute; z-index:1; left:0;}
.videowidh{width:495px; }
.videocj a{ text-align:center; line-height:20px; font-size:12px; color:#fff; float:right; display:block;}
.chart_title{font-size:18px; height:40px; color:#ffffff; line-height:40px; text-align:left; padding-left:10px; background:url(../images/growth/zwleft_04.png) repeat;}
.bchaidiv{width:100%; margin-top:5px;}
.bchai{ float:left;  }
.bchai2{ float:right; overflow:hidden;}

.wendu_chart{height:203px;margin-top:5px; background:url(../images/growth/zwleft_04.png) repeat; padding:10px;}
.bingh_chart{ width:100%; height:216px; margin-top:5px; padding-top:7px; text-align:center; background:url(../images/growth/zwleft_04.png) repeat;}
.ziran_chart{ width:100%; height:415px; margin-top:5px; background:url(../images/growth/zwleft_04.png) repeat;}

.wens_title{ width:100%; height:40px; background:url(../images/growth/zwleft_04.png) repeat; margin-top:5px;}
.wensfont{font-size:18px; height:40px; color:#ffffff; line-height:40px; text-align:left; padding-left:10px; float:left;}
.wensfont1{font-size:18px; height:40px; color:#ffffff; line-height:40px; text-align:left; float:left;}

.wstit_rit a{ line-height:40px; color:#7ed4eb; font-size:14px;}
.chratdiv{ width:100%; margin-top:5px;}

.ws_chart_l{ height:245px; margin-bottom:5px; margin-right:5px; padding:10px 0; background:url(../images/growth/zwleft_04.png) repeat; float:left;}
.ws_chart_r{ height:245px; margin-bottom:5px;  padding:10px 0; background:url(../images/growth/zwleft_04.png) repeat; float:right;}


.chratul{ float:right; height:40px; line-height:40px; font-size:14px; margin-right:15px;}
.wstit_rit{ padding:0 10px; float:left; line-height:40px; color:#7ed4eb;}
.chratul .wstit_rit a { color:#7ed4eb; display:block;}
._chrat{width:100%; }
.chratul .current a{ color:#fff;}


.zifont22{ font-family:Hiragino Sans GB W3,Arial, Helvetica, sans-serif; font-size:15px; color:#fff;}
.chart_title1{ width:100%; height:20px; line-height:20px;  text-align:center; font-size:16px; color:#f0f0f0; }
.chart_title_1_1{ height:40px; line-height:40px;  color:#7fd3ed; float:right;}
.chart_title_1_1 ul{ height:40px; margin-right:10px;}
.chart_title_1_1 ul li{ height:40px; padding:0 6px; float:left;}
.chart_title_1_1 ul li a{ font-size:14px; color:#7fd3ed;}
.chart_title_1_1 ul li.current a{ color:#fff;}
.chart_title2{ width:100%; height:30px; line-height:30px; padding-top:20px; text-align:center; font-size:16px; color:#f0f0f0;}
.chart_title3{ width:100%; height:30px; line-height:30px; text-align:center; font-size:16px;}

/*作物生长情况结束*/
.zifont3{ font-family:Hiragino Sans GB W3,Arial, Helvetica, sans-serif; font-size:16px; color:#fff;}

.row-fluid { width: 100%; *zoom: 1;}
.row-fluid .span12 {  width: 100%;  *width: 99.94680851063829%;}
.box { position: relative;  width: 100%;}
.corner-all{ -webkit-border-radius: 4px; -moz-border-radius: 4px;  border-radius: 4px;}
.box > .box-body {display: block; padding: 10px 20px; position: relative;}
.chart22{ width: 100%;  height: 330px;  overflow: hidden;}
.chart23{ width: 100%;    height: 260px;    overflow: hidden;}
.chart{
    width: 100%;
    height: 180px; 
    overflow: hidden;
}
.chart244{ width: 100%;  height:205px;  overflow: hidden;}
.chart245{ width: 100%;  height:205px;  overflow: hidden;}
#basicGChart { width:95%; height:235px; margin:0 auto; }
#basicGChart2{ width:95%; height:235px; margin:0 auto; }
.hasGChart img{ background:none;}

/*报警详情页面开始*/
.set_title{ height:40px; background:url(../images/growth/zwleft_04.png) repeat; padding:0 15px;}
.set_time{font-size:16px; color:#87e5fd; float:left; height:40px; line-height:40px; margin-left:30px;}
.set_ctit{font-size:16px; color:#fff; float:left; height:40px; line-height:40px;}
.set_box{background:url(../images/growth/zwleft_04.png) repeat; margin-top:5px; padding:15px;}
.set_ctit2{font-size:16px; color:#fff; height:30px; line-height:30px; margin-bottom:10px;}
.set_table{ margin:0 auto; }
.set_th{font-size:14px; color:#87e5fd; text-align:center; height:30px; font-weight:normal;background:url(../images/growth/set_tablebg.png) repeat;}
.set_td{font-size:14px; color:#ffffff; text-align:center; height:30px; font-weight:normal;background:url(../images/growth/set_tablebg.png) repeat;}
.set_areabox{ margin:20px auto 0 auto;}
.set_area{color:#87E5FD; padding-right:5px;}
.set_textarea{ width:410px; height:60px; border:1px solid #a1a6ac; line-height:25px; background:none; color:#fff;}
.set_tabbox{width:100%; margin:30px auto 10px auto;}
.set_tabtitle{ width:100%; height:30px; background:url(../images/growth/set_tablebg.png) repeat;}
.set_tabli{ float:left; line-height:30px; border-right:2px solid #282e35; padding:0 20px; color:#fff; font-size:14px; cursor:pointer;}
.set_tabli.current{ background:url(../images/growth/tabonbg.png) repeat;}
.set_tab_cont{ width:100%; background:url(../images/growth/set_tablebg.png) repeat; margin-top:2px; padding:10px 0 15px 0;}
.qiyong{ width:100%; height:30px; line-height:30px; margin:5px 0;}
.set_tab_div{ margin-left:55px;}
.set_font{font-size:14px; color:#fff;}
.tab_main{min-width:300px; height:30px; line-height:30px; margin:7px 0; float:left;}
.tab_con{font-size:14px; color:#fff; float:left; height:30px; line-height:30px;}
.tab_coninput{ float:left; height:30px; line-height:30px; margin:0 10px;}
.tab_inputl,.tab_inputr{ height:28px; line-height:28px; color:#fff; border:1px solid #a1a6ac; background:none;}
.tab_inputl{ width:115px;}
.tab_inputr{ width:320px;}
.set_infor{ padding:20px 55px; line-height:20px; font-size:14px; color:#fff; background:url(../images/growth/set_tablebg.png) repeat;}
.set_table2{ margin-top:15px; }
.set_tdl{font-size:14px; color:#ffffff;  font-weight:normal;background:url(../images/growth/set_tablebg.png) repeat;padding-right:10px;}
.set_tdr{font-size:14px; color:#ffffff;  font-weight:normal;background:url(../images/growth/set_tablebg.png) repeat;padding-left:30px; padding-right:20px;}
.set_div{width:95%; margin:0 auto;}

.tab_main2{min-width:300px; height:30px; line-height:30px; margin:7px 0; float:left;}
.tab_con2{font-size:14px; color:#fff; float:left; height:30px; line-height:30px;}

 /* 下拉框  */
/* CSS Document */

.ui-helper-hidden {	display: none;}
.ui-helper-hidden-accessible {	border: 0;	clip: rect(0 0 0 0);	height: 1px;	margin: -1px;	overflow: hidden;	padding: 0;	position: absolute;	width: 1px;}
.ui-helper-clearfix:after {	clear: both;}
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0);}
.ui-front {	z-index: 100;}
.ui-icon {	display: block;	text-indent: -99999px;	overflow: hidden;	background-repeat: no-repeat;}
.ui-autocomplete {	position: absolute;	top: 0;	left: 0;	cursor: default;}
.ui-button { display: inline-block;	position: relative;	padding: 0;	line-height: normal; margin-right:1px; cursor: pointer; vertical-align: middle; text-align: center; overflow: visible; /* removes extra width in IE */}
.ui-button-icon-only .ui-icon {	position: absolute;	top: 50%;	margin-top: -2px;}
.ui-button-icon-only .ui-icon {	left: 50%;	margin-left: -4px;}

.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {	text-decoration: none;}
.ui-button-icon-only { width:28px;}
.button.ui-button-icon-only { width: 2.4em;}
.ui-button .ui-button-text { display: block; line-height: normal;}
input.ui-button {	padding:2px;}
.ui-icon { width:9px; height:5px;}

.ui-state-default .ui-icon {	background-image: url(../images/growth/ui-icons_888888_256x240.png);}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {	background-image: url(../images/growth/ui-icons_454545_256x240.png);}
.ui-state-active .ui-icon {	background-image: url(../images/growth/ui-icons_454545_256x240.png);}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {	border-top-left-radius: 2px;}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {	border-top-right-radius: 2px;}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {	border-bottom-left-radius: 2px;}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {	border-bottom-right-radius:2px;}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {	border-right-width: 0;	border-left-width: 1px;}
.ui-menu {	list-style: none;	padding: 2px;	margin: 0;	display: block;	outline: none; *width:100px;}
.ui-menu .ui-menu {	margin-top: -3px;	position: absolute;}
.ui-menu .ui-menu-item {	margin: 0;	padding: 0;	width:100%;	*width: 196px;	/* support: IE10, see #8844 */	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);}
.ui-menu .ui-menu-item a {	text-decoration: none;	display: block;	padding: 2px .4em; height:26px; line-height:26px; font-weight: normal;}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {	font-weight: normal;	margin: -1px;}

.ui-menu .ui-state-disabled {	font-weight: normal;	margin:5px 2px;	line-height: 26px;}
.ui-menu .ui-state-disabled a {	cursor: default;}

.ui-menu-icons {	position: relative;}
.ui-menu-icons .ui-menu-item a {	position: relative;	padding-left: 2em;}

.ui-menu .ui-icon {	position: absolute;	top: .2em;	left: .2em;}

/* right-aligned移上去提示框 */
.ui-menu .ui-menu-icon {	position: static;	float: right;}
.ui-tooltip {padding: 8px;	position: absolute;	z-index: 9999;	max-width: 300px;	-webkit-box-shadow: 0 0 5px #aaa;	box-shadow: 0 0 5px #aaa;}
body .ui-tooltip {	border-width: 2px;}

/* Component containers
----------------------------------*/

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,.ui-widget,.ui-widget .ui-widget{font-size: 14px;}
.ui-widget-content a {	color: #9fa7aa;}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default { border: 1px solid #a1a6ac; background: #a1a6aa ; font-weight: normal;color: #555555;}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {color: #555555; text-decoration: none;}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {	border: 1px solid #c1c1c1;	background: #dadada; font-weight: normal; color: #212121;}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {	color: #212121;	text-decoration: none;}

.ui-widget-content{	border: 1px solid #c1c1c1; background:#4d5557; font-weight: normal; color: #9fa7aa; max-height:150px; overflow-x:hidden; overflow-y:auto; }
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited { color: #212121; text-decoration: none;}

  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 30px;
    *top:1px;
  }
  .custom-combobox-input {
    margin: 0;
    padding:2px 5px; width:100px; height:26px; line-height:26px;
  }

 /*下拉框  */
/*报警详情页面结束*/
.charttd{ padding-left:10px;}

/*气象站开始*/
.ws_chart_l1{ height:245px; margin-bottom:5px; padding:10px 0; background:url(../images/growth/qixz_05.png) repeat; float:left; margin-right:5px;}
.ws_chart_r1{ height:245px; margin-bottom:5px; padding:10px 0; background:url(../images/growth/qixz_05.png) repeat; float:right;}
.ws_chart_rc{ height:245px; margin-bottom:0px; padding:10px 0; background:url(../images/growth/qixz_05.png) repeat; float:left; width: 100%; }
.weatdp{padding-left:60px;}
.weather_bg{ background:url(../images/growth/qixz_05.png) repeat;}

.weather_title{  height:50px; line-height:50px; padding-left:15px; background:url(../images/growth/qixz_05.png) repeat; font-size:18px; color:#fff;}
.qixtop{ margin-top:30px;}
.qixtop2{ margin-top:20px;}
.weather_top_table{ margin-top:5px;}
.font_oc{ font-size:120px; height:120px; line-height:120px; color:#fff; font-family:"HelveticaNeueLT Pro 25 UltLt";}
.air_bg{ height:28px; line-height:28px; text-align:center; float:left; background:url(../images/growth/liabg.png) left no-repeat; display:inline-block; padding-left:15px; *padding-left:5px;}
.air_bgr{ height:28px; line-height:26px; text-align:center; float:left; background:url(../images/growth/liabg.png) right no-repeat; padding-right:15px; margin-right:-15px; color:#fff; font-size:16px; *position:relative; *right:-15px;*margin:0; }
.qxfont{  font-size:14px; color:#fff;}

.date{ font-size:14px; color:#fff;}
.qxtable{ float:left; margin-right:30px;}
.data_box{ width:100%; height:100px; margin-top:5px;}
/*柱形图*/
.jqplot-axis{ font-size: 12px; color:#fff;}
.jqplot-yaxis{ margin-right: 10px;}
.jqplot-yaxis-tick{ right: 0px; top: 15px; text-align: right;}
.jqplot-xaxis {    margin-top: 10px;}
.jqplot-series-shadowCanvas,.jqplot-series-canvas,.jqplot-barRenderer-highlight-canvas,.jqplot-event-canvas{ background:none;}
#chart{margin-top:8px; margin-left:auto; margin-right:auto; width:95%; height:200px; display:block;}



/*柱形图结束*/
.top_time{ height:28px; line-height:28px; text-align:center; float:left; background:url(../images/growth/top_time.png) left no-repeat; display:inline-block; padding-left:10px;}
.top_timer{ height:28px; line-height:26px; text-align:center; float:left; background:url(../images/growth/top_time.png) right no-repeat; padding-right:10px; margin-right:-10px; font-size:14px;}
.select_span2{float:left; padding-right:40px;}
.select01{width:120px;height:30px;background:none;border:none;padding-top:3px; font-size:16px; background-color:Transparent; color:#fff; font-family:'微软雅黑';}
.chart_font{ color:#fff;font-size:14px;}
.chart_font2{ color:#e4ff00;font-size:14px;}
.chart_titdiv{padding-left:35px; padding-right:15px; height:30px; line-height:30px;}
.chart_titl{float:left; text-align:left;  height:30px; line-height:30px;}
.chart_titr{float:right; text-align:right; height:30px; line-height:30px;}
.table_w{ margin-right:5px; float:left;}
.qix_title{ width:100%; height:40px; background:url(../images/growth/qixz_05.png) repeat; margin-top:5px;}
.qixfont{font-size:18px; height:40px; color:#ffffff; line-height:40px; text-align:left; padding-left:10px; float:left;}

.qixtul{ float:right; height:40px; line-height:40px; font-size:14px; margin-right:15px;}
.qix_rit{ padding:0 10px; float:left; line-height:40px; color:#7ed4eb;}
.qixtul .qix_rit a { color:#7ed4eb; display:block;}
._chrat2{width:100%;}
.qixtul .current a{ color:#fff;}

/*气象站结束*/
.videobox2{width:100%; min-height:600px; background:url(../images/growth/zwleft_04.png) repeat; padding-top:150px;}