@charset "utf-8";
/* CSS Document */
/* *{box-sizing:inherit;} */
body{ font-size:14px; color:#525252; line-height:auto;}
a:hover{ text-decoration:none;}
.btn{ font-family:'宋体'; padding:6px 18px;}
h1, h2, h3, h4, h5, h6{ margin:0;}

html{ height:100%;}
.content{ min-width:1002px;}
.top{ min-width:1002px;}

/* 个人信息 */
.basewaper{ border:1px solid #e5e5e4; border-radius:5px; box-shadow:0 0 5px 1px #d2d4d7; overflow:hidden;}
.baseHd{ padding:10px 15px;}
.baseHd h2{ float:left; font-size:16px; height:20px; line-height:20px; padding-left:25px; background-image:url(../images/cm_grxxIco.png); background-repeat:no-repeat;}
.baseHd h2.ggxx{ margin-top:5px; background-position:0 2px;}
.baseHd h2.dsj{ margin-top:5px; background-position:0 -32px;}
.baseHd h2.znxx{ margin-top:5px; background-position:0 -66px;}
.baseHd h2.view{ margin-top:5px; background-position:0 -154px;}
.baseHd h2 .btn-default{ font-size:12px;}
.baseHd .baseMore{ float:right; line-height:20px; margin-top:5px; font-size:12px; color:#7f7f7f;}
.baseBd{ padding:0 15px 15px;}

.ggxxBaseWp{ overflow:hidden;}
.ggxx_personimg{ display:inline-block; border:1px solid #eceded; border-radius:5px; background:#fff;}
.ggxx_personimg img{ width:150px; height:150px; margin:4px;}
.ggxxH3{ padding-left:10px; color:#3a3a3a; font-size:16px; }
.ageo_loginTime{ height:20px; line-height:20px; padding:0 30px; margin:10px 0; background:url(../images/cm_grxxIco.png) no-repeat 12px -186px; color:#aaa; font-size:14px; }
.belongFarm{ height:24px; line-height:24px; padding:5px 0 5px 12px; box-sizing:content-box; }
.belongFarm span{ float:left; color:#767676;}
.belongFarm img{ margin:5px 0 0 18px;}
.ggxxBlock{}
.ggxxBlock table{ height:82px; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4;}
.ggxxBlock table td{ border-right:1px solid #e4e4e4; }
.ggxxBlock table td:last-child{ border-right:0;}
.ggxx_areattl{ display:block; padding:8px 10px 0 10px; color:#818181;}
.ggxx_text{ display:block; height:50px; line-height:50px; text-align:center; font-size:28px; color:#343434;}
.ggxx_text em{ font-size:20px;}


/* 大事记 开始 */
.dsjBaseWp{}
.diaryWap{ overflow:hidden; background:url(../images/cm_ggxxIco4.jpg) repeat-y 4px 0;}
.diaryWap h4 span{ display:inline-block; padding-left:20px; background:url(../images/cm_ggxxIco3.jpg) no-repeat; line-height:16px; font-size:16px; color:#444;}
.diaryWap h4 span.cur{ color:#4d9cd2;}
.diaryWap li p{ overflow:hidden; padding:5px 20px 15px; margin-bottom:-5px-;margin-bottom:5px; line-height:24px; background:url(../images/cm_ggxxIco4.jpg) repeat-y 4px 0-;}
.diaryWap li p em{ display:block; }
.diaryWap li p span{ display:inline-block; padding-right:20px;}
.diaryWap li .date p{ padding:0; margin-bottom:6px;}

/* 站内消息 开始 */
.znxxBaseWp{}
.commonList2{ margin-bottom:0; overflow:hidden;}
.commonList2 li a{ display:block; height:30px; line-height:30px; border-bottom:1px solid #ededed;}
.commonList2 li a:hover{ background:#fcfcfc;}
.commonList2 li em{ float:left; padding-left:20px; background:url(../images/cm_grxxIco.png) no-repeat 0 -93px; color:#6f6c6d;height: 30px; overflow: hidden; width: 50%;}
.commonList2 li.noLine em{ float:left; padding-left:20px; background:url(../images/cm_grxxIco.png) no-repeat 0 -120px; color:#b2b2b2;}
.commonList2 li span{ float:right; font-family:'黑体'; font-size:14px; color:#a3a3a3;}
/* 通用定位无数据提示 */
.baseNoData{ position:absolute; left:50%; margin-left:-100px; top:50%; margin-top:-40px; width:200px; height:80px;}
.baseNoData_ico{ display:inline-block; width:100%; height:40px; text-align:center;}
.baseNoData_ico img{ width:40px; height:40px;}
.baseNoData_tip{ margin:0; margin-top:10px; font-family:'微软雅黑'; font-size:16px; font-weight:normal; color:#333; text-align:center;}


/* 视频 开始 */
.videoBaseWp{}
.commonList3{ padding:25px 20px; margin:20px 0;}
.commonList3 dt{ float:left; padding-right:10px;}
.commonList3 dt a{ display:block; border:1px solid #dadada;}
.commonList3 dt a:hover{ border-color:#ccc;}
.commonList3 dt a img{ width:116px; height:68px;}
.commonList3 dd{ float:left; font-size:13px; color:#6f7683;}
.commonList3 dd h3{ font-family:'Arial'; font-weight:bold; font-size:13px;}
.commonList3 dd a{ display:inline-block; height:20px; line-height:20px; margin-top:5px; color:#6f7683;}
.videoBaseWp{}
.modal .modal-header {border:medium none;margin-top:-15px; padding:0;position:relative; top:15px; width:100%; z-index:200;}
.modal .modal-header .close, .modal .modal-header .close:link{ margin-top:-15px; margin-right:-15px; background:url(../images/cose.png) no-repeat; cursor:pointer; border:none; opacity:1; filter:alpha(opacity=100); float:right; width:30px; height:31px;}
.modal .modal-header .close:hover, .modal-header .close:focus{ opacity:1.0; filter:alpha(opacity=100);}

/* 意见栏 开始 */
.viewBaseWp{}
.viewBaseWp textarea{ width:90%; height:122px; margin:0 auto; color:#aeb4c2; resize:none;}
.viewBaseWp .btn{ margin:10px 0 0;}

/* 个人信息刚登陆状态 */
.belongCompany{ height:24px; line-height:24px; padding:5px 30px; margin:5px 0; box-sizing:content-box; background:url(../images/cm_grxxIco.png) no-repeat 12px -213px; color:#aaa; font-size:14px; }
.ggxx_text .fontCol1, 
.ggxx_text .fontCol2, 
.ggxx_text .fontCol3{ font-style:normal; color:#4ea5e6;}
.ggxx_text .fontCol2{ color:#06ad2d;}
.ggxx_text .fontCol3{ color:#8a8deb;}
.diaryWap .welcome-title{ display:block; margin:25px 0 15px; font-size:24px; color:#3151a2;}
.diaryWap .welcome-logintime{ padding:0; background:none; color:#a7a7a7; font-family:'宋体'; font-size:12px;}
.diaryWap .welcome-sign{ max-width:500px; margin-bottom:15px; padding:0; background:none; font-family:'宋体'; font-size:12px; color:#3d3d3d;}
.diaryWap .welcome-sign .user{ padding:0; color:#f00;}
.diaryWap .date {
    background: url("../images/cm_ggxxIco4.jpg") repeat-y scroll 4px 0 rgba(0, 0, 0, 0);
    height: 89px-;
    height: 78px;
    line-height: 24px;
    margin-bottom: -5px-;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px 20px 0;
}


*新增样式开始*/
.ageo_loginTime{padding-right: 0;}
.basewaper{background-color:#fff; border-radius: 0; box-shadow: 0px 1px 2px #d2d4d7;}
.smallCard{height: 178px; float: left; width: 620px; margin-bottom: 10px;}
.smallCard .pic{padding: 10px; height: 135px; box-sizing:border-box;}
.smallCard .pic img{width: 130px; height: 115px;}
.smallCard .addContent{padding-right: 10px; padding-top: 15px; height: 120px; box-sizing:border-box; overflow: hidden;}
.smallCard .addContent h4{color: #323232; padding-bottom: 10px;}
.smallCard .addContent h4 span{font-size: 12px; margin-left: 10px; color: #646464;}
.smallCard .ask{padding-left: 10px;}
.smallCard .doFinish{padding-right: 10px; text-align: right;}
.smallCard p{margin: 0;}
.erwm{height: 180px; background-color: #fff; box-shadow: 0px 1px 2px #d2d4d7; margin-bottom: 10px; box-sizing:border-box;}
.erwm .guanz{margin-top: 5px;}
.ermC{padding-top: 10px;}
.ermC p{font-size: 16px; color: #666;}
/*.fixed{position: fixed; bottom: 10px;}*/
