/* CSS Document */

body {
    background: none repeat scroll 0 0 #fff;
    color: #000;
    font-family:\5FAE\8F6F\96C5\9ED1;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p {
    border: medium none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.distanceTop{margin-top:20px;}

.clear{ clear:both;}
.main{  width:320px; background:#ffffff; margin:0 auto; overflow:hidden; }

.content2{background:none; padding:0 6px; display:block; }
.top_logo{ width:100%; height:44px; margin-top:12px;}
.logo{ float:left; width:50%; height:44px; text-align:left;}
.fenx{ float:left; width:50%; *width:49%; height:44px; text-align:right;}
.fenx_ul{ float:right;}
.city_nav{ float:right; margin-right:8px; cursor:pointer;}
.goodsul{ margin:0 auto; height:90px;}
.goodsname{ width:100%; height:30px; line-height:30px; text-align:center; font-size:20px; color:#333; font-weight:bold;}
.goodsname2{ width:100%; height:30px; line-height:30px; text-align:center; font-size:14px; font-family:Hiragino Sans GB W3; color:#333; padding-bottom:5px;}
.maturity{ width:100%; height:235px; text-align:center; position:relative; z-index:100; top:26px;}
.addico{border-top:1px solid #bdbdbd; padding-top:8px;}
.adress{ font-size:16px; color:#2c3236; font-family:\5FAE\8F6F\96C5\9ED1;border-top:1px solid #bdbdbd; padding-top:5px;}
.calendar{ width:57px; height:44px; padding-top:6px; position:absolute; right:15px; z-index:1; background:url(../images/calendar.jpg) no-repeat;}
.caleqi{font-size:12px; color:#fff; text-align:center; width:57px; height:14px; line-height:14px;}
.caleday{ width:57px; height:20px; line-height:20px; text-align:center;}

.szzs{ color:#2C3236; font-size:16px; height:60px; line-height:50px; text-align:left; margin-top:20px; font-weight:bold;}
.jieduanbg{ position:relative; z-index:2; margin-top:35px;}
.jieduans{ position:absolute; z-index:2; }
.xiaol{ width:24px; height:24px; position:relative; z-index:3; float:right;margin-right:-10px;}
.qip{ width:48px; height:25px; position:absolute; line-height:25px; text-align:center; font-size:12px; color:#e17e5f; right:-21px; top:-26px;}
.pingt_rk{ width:320px; height:85px; border-bottom:2px solid #83b53c; z-index:300; }
.pingt_rk li{ width:25%; height:85px; padding:5px 0; font-size:14px; float:left; text-align:center;}
.jd01{ width:100%; height:50px; background:url(../images/topbg_01.jpg) center bottom no-repeat;}

.tree_main{ width:100%; background:#fff; margin-top:40px;}


.top_treebg{ width:100%;}
.width50{ width:100%;height:36px; background:url(../images/00reebg_03.png) center top no-repeat;  }
.witabel{ width:50%; height:41px; float:left; position:relative; z-index:3;} 
.witabtd{ text-align:right; height:22px;}
.witabtdz{ text-align:right; padding-right:20px; height:22px;}
.lvli_icon{ padding-right:5px; padding-left:10px; height:22px;}
.lvli_icon2{ padding-left:16px; padding-right:5px;}
.ebg_05{width:100%;height:44px; background:url(../images/00ebg_05.jpg) center top no-repeat; position:relative; z-index:2;}
.width51{ width:100%;height:41px; background:url(../images/00reebg_05.png) center top no-repeat; position:relative; z-index:2;}
.witabel2{ width:50%; height:41px; float:right; margin-top:30px;} 
.witabtd2{ text-align:left; height:22px;}
.witabtd2z{ text-align:left; height:22px; padding-left:20px;}
.wid38{ font-size:20px; color:#4c760e;}
.wid32{ font-size:14px; color:#4c760e;}
.wid130{ font-size:14px; color:#999999;}
.widhui{ font-size:12px; color:#999999;}
.widhui24{ font-size:14px; color:#00000;}
.widhon{ font-size:14px; color:#e27f5f;}

.wid30{ font-size:14px; color:#4c760e;}
.widhui30{ font-size:14px; color:#999999;}

.bot_treebg{width:100%;}
.width53{ width:100%;height:34px; float:left; position:relative; z-index:2;  background:url(../images/bottom_08.png) center bottom no-repeat; }
.width54{ width:100%;height:32px; float:right; position:relative; z-index:1; background:url(../images/bottom_07.png) center bottom no-repeat;  }

.witabtd3{ text-align:right; padding-right:20px;}
.witabel3{ width:50%; height:33px; float:left; margin-top:25px; position:relative; z-index:3;} 
.witabel4{ width:50%; height:33px; float:right; margin-top:10px;} 
.witabtd4{ text-align:left; padding-left:20px; }

.zwtitle{ font-size:18px; color:#679424; font-weight:bold; padding-right:8px;}
.four_table{display:none;}

.ppaititle{ color:#34495c; font-size:18px; text-align:left; height:30px; line-height:30px; font-weight:bold; margin-top:10px; margin-bottom:10px;}
.ppaicont{ color:#585858; font-size:14px; text-align:left; line-height:20px;}
.farminfor{margin-top:15px; }
.f_i_span{ width:100%;  height:30px; }
.farm_i_font{ font-size:14px; color:#5f5e5e;}
.farm_mation{  font-size:14px; color:#5f5e5e; word-break:break-all;}
/*娴ｆ粎澧块崑銉ユ倣閹稿洦鏆熸禒銉ょ瑓瀵拷顬�/

/*閸愭粍鐣�/

.nongct{ width:100%; height:25px; line-height:25px; font-size:18px; color:#679424; font-weight:bold; margin-top:20px;}
.ncfont{ font-size:16px; color:#666666;  height:22px; vertical-align:middle;}
.ncfens{ font-size:16px; color:#6bb0df; text-decoration:underline; position:relative; top:-5px; margin-left:5px; }
.zhesdiv{width:110px; height:160px; margin:8px; float:left;}
/*缁夊秵顦鹃懓锟�閹存劙鏆遍悳顖氼暔*/
.zzer{ padding-bottom:25px; background:#fff; margin-top:15px; border:1px solid #eee;}
.ncryxq{ width:100%; margin:20px auto 0 auto;}
.ncrydl{width:100%;  }
.ncrydt{width:100%; text-align:center; }
.ncrydd {
    color: #1D1D1D;
    font-size: 14px;
    height: 0;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.caipu{ font-size:14px; text-align:left; line-height:25px;padding-top: 15px;}
.pingdl{border-collapse:collapse;}
.pingdt{ text-align:right; width:100px; padding:4px 4px 4px 0;}
.pingdd{ width:200px; height:20px; background:url(../images/pingjbg.jpg) center repeat-x;}
.pingbg{ height:20px; display:block; background:url(../images/pingbg.jpg) center repeat-x;}
.people_name{height:26px;line-height:26px; font-size:18px; color:#679424; font-weight:bold; margin-bottom:10px; margin-top:5px;}
.zzerimg{ width:120px; height:120px; border:1px solid #ccc; float:left;}
.zzerjs{ max-width:738px; height:120px; float:left; padding-left:17px; padding-right:17px;}
.zername{ line-height:20px; font-size:16px; color:#333; font-weight:bold; padding-right:8px; float:left;}
.zer_sapn{ height:22px; padding-left:5px; background:url(../images/namebg_11.jpg) left center no-repeat; line-height:22px; display:block; float:left;}
.zer_sapn font{ height:22px; padding-right:5px; background:url(../images/namebg_11.jpg) right center no-repeat; line-height:22px; font-size:12px; color:#fff; display:block;}
.zer_wz{ font-size:14px; color:#666; line-height:20px; height:83px; overflow:hidden;}
.zfens{ font-size:14px; color:#6bb0df; text-decoration:underline; margin-left:5px; }
.szhg{width:31px; height:32px; float:left; background:url(../images/chec_29.jpg) no-repeat;}
.szbhg{width:31px; height:32px; float:left; background:url(../images/chec_32.jpg) no-repeat;}
.szhge{ font-size:24px; color:#666666;  height:32px; line-height:32px; margin:0 12px; float:left;}
.szfont{ font-size:14px; color:#666666;  height:25px; }
.sztd{ padding-left:15px;}
.start1,.start2,.start3,.start4,.start5,
.startp1,.startp2,.startp3,.startp4,.startp5,
.startj1,.startj2,.startj3,.startj4,.startj5{ width:87px; height:14px; background-image:url(../images/star.jpg); display:none;}
.start1,.startp1,.startj1{background-position:0 0;}
.start2,.startp2,.startj2{ background-position:0 -16px;}
.start3,.startp3,.startj3{ background-position:0 -32px;}
.start4,.startp4,.startj4{ background-position:0 -48px;}
.start5,.startp5,.startj5{ background-position:0 -64px;}
.time{ width:16px; height:16px; background:url(../images/time_34.png) no-repeat; display:block; float:right;}
.szfocc{ font-size:12px; color:#ccc;  height:14px; line-height:14px; float:right; margin-left:8px;}
.szfdc{ font-size:14px; color:#4c4c4c; line-height:18px;}
.lipadi{ padding-bottom:15px; margin-bottom:20px;}
.boline{ border-bottom:1px solid #ccc;}
.foot{ font-size:14px; color:#5c7548;}
.fot{ font-size:14px; color:#999;}

.fenxtitle{height:50px; line-height:50px; font-size:18px; color:#fff; text-align:center;}
.fenxdl{width:60px; height:80px; float:left; margin-right:30px;}
.fenxdt{width:60px; height:60px; }
.fenxdd{width:60px; height:40px; line-height:20px; font-size:12px; color:#ffffff; text-align:center; }
.fenxbut{ width:100%; height:42px; margin-bottom:15px; text-align:center;}
.ncjc{padding:25px; margin:0 auto; text-align:center;}
.ncjc img{ margin-bottom:20px;}
.hpdno{font-family:Arial, Helvetica, sans-serif; font-size:30px; *font-size:26px; color:#e27a25;}
.hpdbf{font-family:Arial, Helvetica, sans-serif; font-size:30px; *font-size:26px; color:#e27a25;}
.fonth{font-size:14px; color:#666666;}
.fontcp{font-size:16px; color:#9c9a9b;}
/*閹绘帊娆�/
.pro_pic{ width:150px; height:150px; position:relative; z-index:106px; left:-2px; margin:0 auto; top:7px;}
.now_zt{  width:100px; position:relative; z-index:105; right:50px; top:-68px;}
.now_font{width:100px; height:38px; position:relative; z-index:105; left:-58px; top:-64px; font-size:12px; text-align:left; color:#666; cursor:pointer;}

.nowcz_zt{position:relative; z-index:105; left:76px; top:-136px;}
.nowcz_font{ height:38px; position:relative; z-index:105; left:165px; top:-136px; font-size:12px; text-align:left; color:#666;}
.chart {
  position: relative;
  display: inline-block;
  width:200px;
  height:200px;
  text-align: center;
  z-index:100;  
}
.chart canvas {
  position: absolute;
  top: 16px;
  left: 15px; z-index:101;
}
.percent {
  display: inline-block;
  position:relative; top:137px; left:-88px; color:#f3947a; font-size:14px;
  z-index: 2;
}
/*閹绘帊娆㈢紒鎾存将*/
.tck{ width:100%; padding:10px; background:url(../images/tck.png) repeat; position:fixed; z-index:1000; bottom:0; display:none;}
.city_hovers2{display:block;position:fixed;}
.tck2{width:300px;  padding:10px; background:url(../images/tck.png) repeat; position:fixed; z-index:1000; bottom:0; display:none;}
.city_hovers { max-width:300px; min-height:200px; display:block;position:fixed; margin:0 auto;}

.tckti{ font-size:18px; color:#fff;}
.tckhn{ font-size:14px; line-height:25px; color:#ccc; padding:15px 0;}


/*缁捐儻鐭鹃弻銉嚄瀵拷顬�/


.xlcx_03{ width:100%; height:44px; background:url(../images/xlcx_03.jpg) repeat-x;}
.xtir{ font-size:24px; color:#333;border-right:1px solid #ccc;}
.xtnoe{ font-size:16px; color:#666;}
.xtinput{ width:100%; height:35px; padding:0 5px; background:url(../images/sec_23.jpg) left no-repeat; border:none; text-align:left;font-size:16px; color:#333;}
.lxname{ color:#333; font-size:16px; padding:15px 5px 15px 5px;}
.xlgl{ font-size:16px; color:#666;}
.xldjg{ background:#ebf2fc;}
/*缁捐儻鐭鹃弻銉嚄缂佹挻娼�/
.tt{ cursor:pointer; }
.centerbg{width:100%; height:55px; background:url(../images/center.png) center no-repeat;}

.nowcz_zt2{  position:relative; z-index:105; left:89px; *left:27px; top:-60px;}
.nowcz_font2{ height:38px; position:relative; z-index:105; left:218px; *left:110px; top:-60px; font-size:12px; text-align:left; color:#666;}
.pro_pic22{ width:150px; height:150px; position:relative; z-index:106px; margin:40px auto 0; *margin-top:26px;  }
.pingt_rk_a{position:relative;width:100px;height:100px;z-index:500;}
.word{width:100%; height: 12px;    line-height: 12px;}
.word2{width:100%; height: 8px;    line-height: 8px;}
.ziytitle{width:320px; position:absolute; margin:0 auto; height:44px; line-height:44px; left:0; right:0; color:#333; font-size:20px; text-align:center;z-index:1;}


/*鐏炪儱宸婚弬鏉垮閺嶅嘲绱�/
.calendar1{ width:66px; height:63px; padding-top:7px; position:absolute; right:8px; z-index:1; top:-45px; }
.caleqi1{ width:66px; height:25px;font-size:12px; color:#fff; text-align:center; line-height:25px; position:relative; z-index:4; top:3px;}
.caleday1{ width:66px; height:18px; line-height:15px; text-align:center; color:#0b9ed5; position:relative; z-index:5; font-size:11px; -webkit-text-size-adjust:none;}
.caleday1 a{ text-align:center; color:#0b9ed5; text-decoration:none; cursor:pointer; font-size:11px; -webkit-text-size-adjust:none;}

.newicon{ width:100%; height:20px; text-align:right; padding-top:10px;}
/*2014-8-28 濞ｈ濮�*/
.form_yz {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 20px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.fenxtitle02{

    color: #fff;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    text-align:left;
	text-indent:10px;
	
	}

	.yz_07 {
    font-size: 20px;
    position: relative;
    text-align: center;
    top: -32px;
    width: 262px;
    z-index: 10;
}
.yzf_07 {
    color: #ccc;
    font-size: 14px;
    font-weight: normal;
    height: 0;
    position: relative;
    top: -20px;
}
.yz_08 {
	display:none;
    font-size: 14px;
    position: relative;
    text-align:center;
    top: -25px;
    width: 262px;
	color:#ff4646;
	font-weight:none;
    z-index: 10;
    margin-left:10px;
}

.calendar{ width:66px; height:63px; padding-top:7px; position:absolute; right:15px; z-index:1; }
.caleqi{ width:66px; height:25px;font-size:12px; color:#fff; text-align:center; line-height:25px; position:relative; z-index:4; top:3px;}
.caleday{ width:66px; height:18px; line-height:15px; text-align:center; color:#0b9ed5; position:relative; z-index:5; background:url(img/linebg.jpg) bottom repeat-x; font-size:11px;}
.caleday a{ text-align:center; color:#0b9ed5; text-decoration:none; cursor:pointer;}
.newicon{ width:100%; height:20px; text-align:right; padding-top:10px;}


.tck2{width:300px;  padding:10px; background:url(../images/tck.png) repeat; position:fixed; z-index:1000;  display:none;}
.tck3{width:300px;  padding:10px; background:url(../images/tck.png) repeat; position:fixed; z-index:1000;  display:none;bottom: 0}

.tck66{width:320px;  padding:10px; background-color:#000; position:fixed; z-index:1000;  display:none; width:100%;
	  height:100%;}
.city_hovers3 {
    bottom: 0;
    display: block;
    margin: 0 auto;

    position: fixed;
}
.city_hovers66 {
    bottom: 0;
    display: block;
    margin: 0 auto;
    max-width: 320px;
    min-height: 320px;
    position: fixed;
}
.container22{  display: block;}
.goodsname3{ width:100%; height:30px; line-height:30px; text-align:left; font-size:14px; font-family:Hiragino Sans GB W3; color:#333; padding-bottom:5px;}
.ncjcdiv{   max-height: 290px;    margin: 8px;    width: 210px;}

.witabtd04{ text-align:left; padding-left:20px;padding-top:10px; }
.witabtd04 a img{height:54px; max-width:105px;overflow:hidden;}
.witabtd03{ text-align:right; padding-right:20px;padding-top:10px;}
.witabtd03 a img{height:54px; max-width:105px;overflow:hidden;}
.width55{ width:100%;height:96px; float:right; position:relative; z-index:3; background:url(../images/bottom_07.png) repeat-y center bottom ;  }
.width56{ width:100%;height:98px; float:right; position:relative; z-index:3; background:url(../images/bottom_08_1.png) no-repeat center top ;  }


 /* Prevent the slideshow from flashing on load */
    #slides ,
	.slides{
      display:none;   position: relative;      
    }

    /* Center the slideshow */
    .container {
    


    }

    /* Show active item in the pagination */
    .slidesjs-pagination .active {
      color:red;
    }
  #slides .slidesjs-navigation ,
  .slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(../images/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      list-style: none;
	  width:100%;
	  text-align:center;
	  
    }

    .slidesjs-pagination li {
		display:inline-block;
      margin: 0 1px;
    }
 #slides img, 
 .slides img{
	  
  overflow:hidden;  
  margin: auto 0;  
  position: absolute;  
  top: 0; left: 0; bottom: 0; right: 0;  
  width:320px;overflow:hidden;
	 
	  }
    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,#slides a:visited ,
	.slides a:link,#slides67 a:visited {
      color: #333
    }

    #slides a:hover,#slides a:active,
	.slides a:hover,.slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
	.city_hovers66{ padding:0; max-width:100%; }
	#slides,
	.slides{ padding:10px;}
    /* Media quires for a responsive layout */

    /* For tablets & smart phones */
    @media (max-width: 767px) {
 
      .container {
        width: auto;
		min-width:767px;
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
		min-width:480px;
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
		  min-width:724px;
        
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
		  width:auto;
		  min-width:1170px;
      }
    }


/*鏂板姞鏍峰紡寮�*/
.tabcss{position:relative;width:80px;z-indent:2; top:-40px;}
.pingt_rk_a{ margin:0 auto;}
.yhactiv{border-left:1px solid #ddd; border-right:1px solid #ddd; background:#fff;}
.yhbot{width:66px; height:3px; background:url(../images/lvibg.png) #fff bottom no-repeat;}
.zhiwen{ width:100%; height:30px; border-collapse:collapse; margin-top:10px;}
.zhiwenfont a{ font-size:16px; color:#1b1b1b; text-align:left; text-decoration:none; }
.zhiw_zjpl{ font-size:14px; color:#0f8cc0;}
.shiyong{ text-align:left; line-height:25px;}
.shiyongimg{ width:300px; height:140px; margin:10px auto;}
.shiytitle{ font-size:18px; color:#212121; text-align:left; line-height:30px;}
.shiytext{ font-size:16px; color:#383838; text-align:left; line-height:30px;}

#divid{ width:100%; background:#f8f8f8; margin-top:10px; padding-top:10px; display:none; margin-bottom:15px;}
.table_font{ font-size:14px; color:#171717; }
.tablewd{color:#f08375; font-family:"HelveticaNeueLT Pro 25 UltLt"; font-size:60px; font-weight:bold;}
.tablewd2{color:#79b9a6; font-family:"HelveticaNeueLT Pro 25 UltLt"; font-size:60px; font-weight:bold;}
.jyuliang{ font-size:14px; color:#171717; text-align:left; height:30px; line-height:30px; padding-left:18px; margin:10px 0;}
.jyldiv{ width:320px; height:144px;}
.kwztd_y{ background:url(img/kwztd.png) right center repeat-y;}
.kwztd_x{ background:url(img/kwztdx.png) bottom center repeat-x;}
.kwztd_th{ font-size:14px; color:#171717; text-align:center; border-right:1px dashed #cbcaca;}
.kwztable{ border-collapse:collapse; table-layout:fixed; margin:0 auto;}

.kwztd_td{ font-size:14px; color:#8b887f; text-align:center; border-right:1px dashed #cbcaca; border-bottom:1px dashed #cbcaca;}
#img_1{ cursor:pointer;}
.tuzhibox{ width:300px; margin:0 auto;}
.shendu{font-size:16px; color:#484848; text-align:left; line-height:30px; width:60px; float:left;}
.tuzhiimg{ width:70px; height:90px; float:left;}
.tuzhib{width:60px; height:21px; float:left;}
.tuzhifont{font-size:12px; color:#484848;text-align:left; float:left; position:relative; top:-8px;}
.tuzhifont2{font-size:12px; color:#484848;text-align:left; float:left; position:relative; top:2px;}
.zgst{float:left; position:relative; left:-18px; top:10px;}
.zgst01, .zgst02{ position:absolute; left:50px; top:10px;}
.zgst02{ top:30px;}


.wwrbox{ height:20px; line-height:20px;  background:url(img/tuzhibg.png) left no-repeat;padding-left:10px; text-align:left; display:inline-block; float:right; position:absolute; }
.wwrbox font{ height:20px; line-height:20px; background:url(img/tuzhibg.png) right no-repeat; padding-right:10px; text-align:left; display:inline-block; float:right; margin-right:-10px; color:#fff; }
.wwrfont_div{ width:280px; padding:0 10px; min-height:25px; line-height:25px; text-align:left; background:#e7d7c0; font-size:14px; color:#333; margin:10px auto 0 auto;}
.phbox{width:300px; margin:0 auto;}
.phtitle{ height:30px;}
.phfont{ font-size:12px; text-align:left; color:#333;}
.nsjlu{ width:100%; border-collapse:collapse;}
.nsjlutd{ padding:5px; background:#5c5c5c;}
.nsmoon{font-size:12px; color:#fff; margin:0 auto;}
.nsdate{font-size:12px; color:#fff; margin:0 auto;}
.nscont{ font-size:16px; color:#fff;}
.color01{color:#f58fa4;}
.color02{color:#99c6eb}
.color03{color:#61b6fd;}
/*鏂板姞鏍峰紡缁撴潫*/
    
    .table_font{ font-weight:bold;}
.zhiwenfont a{ color:#0f8cc0; text-decoration:underline;}
.jyldiv{ height:200px;}
.jyuliang2{ font-size:14px; color:#171717; text-align:left; height:30px; line-height:30px; padding-left:18px; margin:10px 0; font-weight:bold;}
.jyuliang2 em{ float:right; margin-right:10px; font-size:12px; font-weight:normal; font-style:normal; cursor:pointer;}
.kwztable-wap{ height:122px; overflow:hidden;}
.kwztable-wap.auto{ height:auto;}
.wenduTxt{ position:relative;}
.wenduTxt2{ position:relative; font-size:45px;}
.kwztable .kwztd_td{ text-align:left; text-indent:8px;}
.kwztd_td img{ margin-left:3px; vertical-align:middle;}
.soilAcidity{ position:absolute; top:0; width:300px; height:150px;}
.soilka{ width:300px; height:40px; margin:45px 0;}
.soilka-valueTt{ position:absolute; top:0; width:120px; text-align:center;}
.soilka-valueTt span{ display:block; margin:3px 0; line-height:18px; color:#e50c0c;}
.soilka-valueBt{ position:absolute; top:92px; width:120px; text-align:center;}
.soilka-valueBt span{ display:block; margin:3px 0; line-height:18px; color:#fe9158;}
.soilka-valueBt table{ margin:0 auto;}
.soilka-valueBt .valueTdct{ height:9px; background:url(../images/hjzs_img4.png) repeat-x left center;}
.yingytable td{ padding:10px 0; font-size:14px; border-right:1px dashed #cbcaca; border-bottom:1px dashed #cbcaca; text-align:center;}
.yingy_txt{ display:block; line-height:16px; margin:5px 10px 0; text-align:left;}
.yingy_txt img{ margin-left:3px; vertical-align:top;}

/* 20150513鍥剧墖杩芥函銆佽棰戣拷婧�鐜瀹炲喌 */
.tab-mask-list{ height:30px;}
.tab-mask-list li{ float:left; width:33%;}
.tab-mask-list li a{ display:block; height:30px; line-height:28px; box-sizing:border-box; text-align:center; font-size:14px; font-weight:bold; color:#adadad;}
.tab-mask-list li.active a{ border:1px solid #82b439; border-radius:8px; color:#84b53c;}
.tab-content-wap{ padding:20px 0;}
.tab-content-items{ display:none; width:260px; margin:0 auto;}
.videoZs_img{ display:block; width:260px; height:205px; margin:0 auto;}

.carousel {	position: relative; height:205px; overflow:hidden;}
.carousel-inner {position: relative;width: 100%;overflow: hidden}
.carousel-inner>.item {	position: relative;	display: none;	-webkit-transition: .6s ease-in-out left;-o-transition: .6s ease-in-out left;transition: .6s ease-in-out left}
.carousel-inner>.item>img,.carousel-inner>.item>a>img {	line-height: 1}
.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev {display: block}
.carousel-caption {	position: absolute;	bottom: 0;left:0; z-index: 10; width:230px; max-height:40px; line-height:20px; overflow:hidden; padding:5px 15px;color: #fff;text-align:left; background:url(images/lvli_zsbg.png);}
.carousel-caption span{ padding:0 10px 0 0;}
.carousel-caption .btn {text-shadow: none}
.picture-tab-wap .carousel-control{ position:absolute; width:30px; height:30px; top:50%; margin-top:-15px; text-indent:-10000px;}
.picture-tab-wap .carousel-control.left{ left:15px; background:url(../images/binghaifz_ico13.png); filter:alpha(opacity=50); opacity: 0.5;}
.picture-tab-wap .carousel-control.right{ right:15px; background:url(../images/binghaifz_ico14.png); filter:alpha(opacity=50) ;opacity: 0.5;}
.picture-tab-wap .carousel-control:hover{ filter:alpha(opacity=90);opacity: 0.9;}
.picture-tab-wap .carousel-inner > .item > img{ width:260px; height:205px;}

#slider-range-max{ margin-top:15px;}
#slider-range-max .ui-slider-range-max{ max-width:100%; min-width:0;}
.ui-widget-content{ height:8px; border:1px solid #cfcfcf; border-top-color:#b3b3b3; border-radius:5px; box-shadow:1px -1px 2px #e4e4e4; background:#9ccd58;}
.ui-slider .ui-slider-range{ background:#ededed; border-radius:5px;}
.ui-slider-horizontal .ui-slider-handle{ top:-10px; margin-left:-13px;}
.cur-picnum{ display:none; width:100%; height:22px; margin-top:-10px; position:relative;}
.cur-picnum #amount{ position:absolute; width:32px; height:14px; margin-left:-14px; padding:0 0 8px; background:url(images/binghaifz_ico11.png) no-repeat; text-align:center;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ width:27px; height:27px; border:none; background:url(../images/lvli_zsico.png) no-repeat;}


/* 20150818桃子履历修改样式 */
.peach_shb{ position:absolute; left:-14px; top:0; z-index:102; width:50px; height:50px;}
.peach_shb img{ width:50px; height:50px;}
.peach_viewShzh{ display:block; width:150px; height:150px; cursor:pointer;}
.peach_viewShzh .imgs{ border-radius:100%;}
.peach_viewShzh .viewShzh_ico{ position:absolute; left:7px; bottom:24px; width:139px; height:28px;}
.chart canvas{ z-index:1;}
.pro_pic{ top:41px; z-index:20;}
.nowcz_zt{ width:78px; left:138px;}
#divid{ position:relative; border-top:1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; box-shadow:0 0 5px #efefef inset;}
#divid .closeBtn{ position:absolute; right:10px; top:12px; width:30px; height:30px; cursor:pointer;}
.fingerprint_ttl{ height:34px; line-height:34px; overflow:hidden;}
.fingerprint_ttl h2{ float:left; padding:0 5px 0 10px; font-size:14px; color:#749b3e;}
.fingerprint_ttl p{ float:left; font-size:12px; color:#c1a05b;}
.wenduTxt ,.wenduTxt2{ padding-left:2px; font-size:40px; font-weight:normal;}
.i-ico{ width:14px; height:14px; margin-left:2px;}
.wwrbox{ top:-36px;}
.code_wap{ margin:10px auto; padding-top:10px; background:url(../images/peach_code1.jpg) no-repeat center top; text-align:center;}
.code_wap .codeImg{ width:152px; height:152px; margin:10px auto;}
.code_wap .txt{ font-size:20px; font-weight:bold; color:#b17210;}
.copyRight-wap{ height:26px; line-height:26px; padding:10px 0; background:#f5eedb; font-size:14px; color:#5d7446; text-align:center;}
.TreeSecret{ position:absolute; left:20px; bottom:54px; width:68px; height:84px; padding-top:10px; box-sizing:border-box; background:url(../images/peach_treebg.png) no-repeat;}
.TreeSecret p{ height:14px; line-height:14px; text-align:center; font-size:12px; color:#775923;}
.TreeSecret p .num{ padding:0 2px; font-size:14px; font-weight:bold;}
.tree_main{ position:relative;}
.expertLink{ position:absolute; right:0; top:70px; height:20px; line-height:20px; font-size:12px; color:#4b9dcc;}
.expertLink img{ float:left; margin-right:5px;}
/* 再次购买样式 */
.purchase_again{ display:block; width:100%; margin:10px 0; text-align:center;}
.purchase_again .items{ display:inline-block; padding:5px 8px; background:url(../images/peach_bg01.jpg) no-repeat right center;}
.purchase_again .itemsNo{ background:none;}
.purchase_again .items .icoA , 
.purchase_again .items .icoB{ width:34px; height:34px;}
.purchase_again .items .icoB{ display:none;}
.purchase_again .items .txt{ font-size:14px; color:#afb3b8;}
.purchase_again .items a{ display:block; text-decoration:none;}
/* 红包样式 */
.redPacket{ position:relative; width:320px; margin:0 auto;}
.redPacket .closeBtn{ position:absolute; right:10px; top:36px; widows:30px; height:30px; cursor:pointer;}
.redPacket h3.ttl{ padding-top:30px; font-size:20px; font-weight:normal; color:#fff; text-align:center;}
.redPacket p.txt{ height:20px; line-height:20px; margin-top:5px; font-size:12px; color:#a9916d; text-align:center;}
.redPacket .redPac{ text-align:center;}
.redPacket .peach_redPac3{ position:relative; z-index:2; height:143px; margin-top:-10px; background:url(img/peach_redPac3.png) no-repeat center bottom;}
.redPacket .receiveBtn{ position:absolute; left:50%; bottom:12px; width:250px; height:50px; margin-left:-125px; background:url(img/peach_redPac4.png) no-repeat;}
.redPacket .receiveBtn input{ width:250px; height:50px; padding:0; border:0; background:none; opacity:0; cursor:pointer;}

/* 图标解释样式 */
.jyuliang2{ padding-left:10px;}
.city_hovers{display:block; min-height:120px;}
.explain-wap{}
.explain-wap .closeBtn{ position:absolute; right:15px; top:20px; width:20px; height:20px; cursor:pointer;}
.explain-wap .closeBtn img{ width:20px; height:20px;}
.explain-wap .ttl{ height:30px; line-height:30px; font-size:14px; font-weight:normal; color:#fff; overflow:hidden; }
.explain-wap .txt{ margin-top:5px; line-height:18px; font-size:12px; color:#fff; word-break:break-all;}
.explain-wap .txt .lis{ display:block; margin-bottom:10px; padding-bottom:12px; border-bottom:1px dashed #ccc; font-weight:normal; text-indent:24px;}





/* 再次购买样式 */
.purchase_again{ display:block; width:100%; margin:0 0 10px 0; text-align:center;}
.purchase_again .items{ display:inline-block; padding:5px 8px; background:url(img/peach_bg01.jpg) no-repeat right 6px;}
.purchase_again .itemsNo{ background:none;}
.purchase_again .items .icoA , 
.purchase_again .items .icoB{ width:34px; height:34px;}
.purchase_again .items .icoB{ display:none;}
.purchase_again .items .txt{ margin-top:5px; font-size:14px; color:#afb3b8;}
.purchase_again .items a{ display:block; text-decoration:none;}

div.tck_modal{ position:fixed; width:100%; max-width:100%; max-height:100%; height:100%; left:0; top:0;}
.modal_wap{ position:fixed; left:50%; top:50%; width:290px; height:220px; margin-left:-145px; margin-top:-110px; background:#fff; border-radius:5px;}
.modal_block{ position:relative; width:100%; height:100%; padding:10px 15px; box-sizing:border-box;}
.modal_block .redEnvelope_logo{ position:absolute; left:50%; top:-30px; margin-left:-115px; width:230px; height:55px;}
.modal_block .tck_close{ position:absolute; right:-14px; top:-14px; width:28px; height:28px; cursor:pointer;}
.modal_block .tck_close img{ width:100%; height:100%;}
.modal_block .p_tip{ line-height:22px; margin:30px 0 20px 0; font-size:16px; text-indent:32px; font-weight:bold; color:#959595;}
.modal_block .input_txt{ width:100%; height:40px; margin-bottom:10px; padding:0 20px; border:1px solid #efefef; border-radius:5px; box-shadow:inset 0 2px 2px #e2e2e2; box-sizing:border-box; background-color:#f7f7f7; font-size:16px; color:#aaa;}
.modal_block .input_btn{ width:100%; height:40px; padding:0 20px; border:none; border-radius:5px; box-shadow:inset 0 -2px 2px #3ba33b; box-sizing:border-box; background-color:#5cb85c; font-size:18px; color:#fff; cursor:pointer;}
.modal_block .input_btn:hover,
.modal_block .input_btn:focus{ background-color:#4ea24e;}

/* 分享提示样式 */
.share_block{ position:fixed; right:20px; top:10px; width:206px; padding:62px 0 10px 0; box-sizing:border-box; background:url(../images/redEnvelope_share1.png) no-repeat;}
.share_block .know_btn{ margin-left:36px; display:inline-block; height:34px; line-height:20px; padding:6px 19px; border:1px solid #7dd47d; border-radius:4px; box-sizing:border-box; background-color:#5db75d;
color:#fff;}
.share_block .know_btn:hover{ background-color:#339c33;}

/* 全景样式 */
.krpano_iframe{ position:fixed; left:0; top:0;z-index:2000; display:none; background:#000;}







