@charset "utf-8";
/* CSS Document */
.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:auto;}
.baseWidth148 .bootstrap-select.btn-group .dropdown-menu{ min-width:146px;}
.baseWidth149 .bootstrap-select.btn-group .dropdown-menu{ width:190px}
/* 编辑区域 */
.mapRtArea{ width:350px; background:#fff; color:#3e3e3e; font-family:'微软雅黑'; font-size:11px;}
.mapRtArea_tt{ height:35px; line-height:35px; font-size:14px; background:#e7e6ea; text-indent:15px;}

.mapRtArea_ctWp{ width:100%; overflow-y:auto;}
.mapRtArea_ct{ width:330px; margin:0 auto;}
.baseMap_ttl{ height:42px; line-height:42px; margin-top:0; margin-bottom:0; background:url(../images/baseIcojian1.png) no-repeat 10px center; font-size:12px; font-weight:bold; text-indent:28px; cursor:pointer; }
.baseMap_con{ padding-top:5px;}
.baseMap_con td{ padding-bottom:10px; vertical-align:top;}
.baseWidth100{ display:block; width:90px; padding-right:14px; text-align:right; line-height:22px; font-size:11px;}
.baseWidth101{ display:block; width:90px; padding-right:14px; text-align:right; line-height:50px; font-size:11px;}
.baseWidth148{ width:148px; display:block; float:left;}
.baseWidth148 .form-control{ width:146px; height:22px; padding:0 5px; font-size:11px;}
.baseWidth148 .bootstrap-select > .btn{ width:145px; height:22px; line-height:20px; padding:0 5px; font-size:11px;}
.plantEnvir{ width:144px; height:56px; border:1px solid #d8d6d6; border-radius:4px; background:url(../images/zzzlxBg2.jpg) repeat;}
.plantEnvir a{ float:left; width:36px; height:22px; padding:3px 0; text-align:center; background:url(../images/zzzlxBg3.jpg) no-repeat right center; }
.plantEnvir a:nth-child(4){ background:none;}
.plantEnvir a:nth-child(8){ background:none;}
.plantEnvir a.active{ background:url(../images/zzzlxBg4.jpg) no-repeat;}
.plantEnvir a.active:nth-child(4){ background:url(../images/zzzlxBg4.jpg) no-repeat;}
.plantEnvir a img{ width:24px; height:22px;}
.mapColor_btn{ display:block; width:18px; height:18px; padding-top:3px;}
.mapAdd_btn{ display:block; width:22px; height:22px; cursor:pointer;}
.mapPlant_crop{ width:100%;}
.mapPlant{ width:56px; height:78px; position:relative; top:-5px; cursor:pointer; float:left; margin-right:14px;}
.mapPlant_img45{ display:block; width:45px; height:45px; position:absolute; top:7px; left:6px; z-index:2;}
.mapPlant_del{ display:none; position:absolute; z-index:3; top:2px; right:2px; width:18px; height:18px;}
.mapPlant_name{ position:absolute; top:58px; left:0; width:100%; height:20px; text-align:center; overflow:hidden; font-size:11px;}
.mapPlant_bghover{ background:url(../images/hover.png) no-repeat;}
.mapPlant_addBtn{ float:left; width:50px; height:50px;}

.mapRtArea_btns02{}
.mapRtArea_btns02 .button_{ float:left; border:1px solid #ddd; padding:2px 8px; background:none;}
.mapRtArea_btns02 .button_:nth-of-type(1){ border-radius:4px 0 0 4px;}
.mapRtArea_btns02 .button_1_{ border-radius:4px 0 0 4px;}
.mapRtArea_btns02 .button_:nth-last-of-type(1){ border-radius:0 4px 4px 0;}
.mapRtArea_btns02 .button_:visited, .mapRtArea_btns02 .button_:hover, .mapRtArea_btns02 .button_:active, .mapRtArea_btns02 .button_.active{ background:#e6e6e6;}
.mapRtArea_btns{ height:36px; padding:15px; text-align:center;}


/* 编辑种植信息 */

/* 时间控件 新增开始 */
.baseWidth148 .input-append{ width:146px;}
.baseWidth148 .form_datetime input{ float:left; width:146px; height:22px; border:1px solid #ddd; line-height:22px; text-indent:5px; font-size:11px;}
.input-append.date .add-on i, .input-prepend.date .add-on i {
    cursor: pointer;
    height: 14px;
    margin-left: -23px;
    width: 14px;
}
[class^="icon-"], [class*=" icon-"]{  display:inline-block; width:14px; height:14px; margin-top:4px; vertical-align: text-top;}
[class*=" datetimepicker-dropdown"]:before{ top:-7px; right:7px;}
[class*=" datetimepicker-dropdown"]:after{ top:-6px; right:8px;}
.icon-th {
    background-position: -240px 0;
}
.icon-arrow-left {
    background-position: -240px -96px;
}
.icon-arrow-right {
    background-position: -264px -96px;
	float:right;
}
/* 时间控件 新增结束 */

/* 产量预估 选择卡 */
.nav-tabs{ border-bottom:none;}
.nav-tabs > li > a{ border:1px solid #ddd; margin-right:0; margin-left:-1px; padding:0 8px; height:22px; line-height:22px; color:#555;}
.nav-tabs > li > a:hover{border:1px solid #ddd; background:#f2f2f2;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ border:1px solid #ddd; background:#e6e6e6;}

.plotsYield_table{ border-collapse:collapse; width:244px; margin:0 auto;}
.plotsYield_table td{ border:1px solid #ddd; text-align:center; vertical-align:middle; padding-bottom:0;}
.plotsYield_table td input{ width:100%; height:32px; line-height:32px;}
.plotsYield_table td input:hover, .plotsYield_table td input:focus{ background:#f1f1f1;}

/* 气象站 */
.weatherStion_wp{}
.weatherStion{ position:relative; min-height:122px; border:1px solid #ccc; border-radius:10px; background:url(../images/weatherStion_bg01.png) repeat; color:#fff;}
.weatherStion_del{ position:absolute; z-index:5; padding:0; right:8px; top:6px; width:20px; height:20px; background:none; border:none;}
.weatherStion_table{ background:url(../images/qx2.png) no-repeat; border-radius:10px;}
.weatherStion_table td{ vertical-align:top;}

.weatherStion_lt{ padding:19px 20px 14px 9px; border-radius:10px 0 0 10px; min-width:150px;}
.weatherStion_lt dl{ min-width:150px; overflow:hidden; margin-bottom:5px;}
.weatherStion_lt dt{ float:left;}
.weatherStion_lt dd{ float:left;}
.temperature{ float:left; margin:-5px 0 -6px; font-size:50px; font-family:'宋体';}
.weatherCondi{ float:left; margin-top:14px; padding-top:16px; background:url(../images/weatherStion_bg04.png) no-repeat; font-size:14px;}
.dayQw_list{ margin:-10px 0 0;}
.dayQw_list span{ float:left; padding:0 5px 0 11px; height:16px; line-height:16px; font-size:11px; background:url(../images/weatherStion_ico01.png) no-repeat;}
.dayQw_list span.dayQw{ background-position:0 3px;}
.dayQw_list span.nightQw{ background-position:0 -17px;}

.dayWr_list{ float:left; overflow:hidden; padding-left:8px; border:1px solid #fff; border-radius:10px;}
.dayWr_list span{ float:left; height:18px; padding:0 8px 0 15px; line-height:18px; background:url(../images/weatherStion_ico01.png) no-repeat; font-size:11px;}
.dayWr_list span.dayWind{ background-position:0 -38px; }
.dayWr_list span.dayRain{ padding-left:17px; background-position:0 -56px; }

.weatherStion_rt{ min-width:150px; border-radius:0 10px 10px 0; padding:19px 0 14px 0;}
.weatherStion_rt td{ padding-right:15px; vertical-align:middle; font-size:13px;}

.farmIntroPop{ width:320px; background:#fff; border-radius:5px;}
.farmIntro_header, .farmIntro_body, .farmIntro_footer{ padding:10px;}
.farmIntro_header{ background:#f8f9fc; border-radius:5px 5px 0 0; border-bottom:1px solid #ececec;}
.farmIntro_header h2{ float:left; font-size:16px; font-family:'微软雅黑'; font-weight:normal;}
.farmIntro_header .close{ float:right; margin-top:2px; width:11px; height:11px; overflow:hidden; zoom:1; background:url(../images/ico_close100.png) no-repeat;}
.farmIntro_header .close:hover, .farmIntro_header .close:focus{ background:url(../images/ico_close101.png) no-repeat;}
.editInfo{ position:absolute; right:10px; top:12px;}
.editInfo .editBtn{ height:22px; line-height:22px; padding:0 20px 0 8px; width:auto; font-size:12px; background:#428bca; font-family:'宋体'; border:1px solid #357ebd; border-radius:4px; color:#fff;}
.editInfo .editBtn:before{ content:""; position:absolute; right:10px; top:10px; border-width:4px 4px 4px 4px; border-style:solid solid solid solid; border-color:#fff transparent transparent transparent;}
.editInfo .editBtn:hover,.editInfo .editBtn:focus,.editInfo .editBtn:active,.editInfo .editBtn.active{color: #fff; background-color: #3071a9; border-color: #285e8e;}
.editList{ display:none; position:absolute; top:24px; right:0; min-width:160px; padding:5px 0; border:1px solid #d9d9d9; border-radius:4px; background:#fff;}
.editList a{ display:block; height:24px; line-height:24px; padding:0 20px 0 30px; color:#333; font-family:'宋体';}
.editList a{ background:url(../images/mIco3.png) no-repeat 8px 8px;}
.editList a.moveXy{ background-position:8px -16px;}
.editList a.moveAll{ background-position:8px -39px;}
.editList a:hover{ text-decoration:none;}
.editList li:hover{ background:#f5f5f5; text-decoration:none;}

.companyPic{ width:115px; height:90px; border-radius:4px; margin-left:5px;}
.companyPic img{ width:115px; height:90px; border-radius:4px;}
.farmIntro_body{ position:relative;}
.farmIntro_body table td{ line-height:20px; font-family:'宋体';}

.farmIntro_footer{ position:relative; padding:5px 10px; border-top:1px solid #ececec;}
.farmIntro_footer .briefing{ padding:0 5px; line-height:20px; font-size:12px; font-family:'宋体'; word-break:break-all;}
.farmIntro_footer .supIco{ position:absolute; content:""; left:50%; margin-left:-4px; bottom:-36px; border-width:18px 8px 18px 8px; border-style:solid solid solid solid; border-color:#fff transparent transparent transparent;}


/* 土地检测记录  */
.detailedInfo{ position:absolute; right:0; top:-37px; height:20px; line-height:20px; padding:0 19px; border:1px solid #ddd; border-radius:4px; color:#323232; font-size:11px; }
.detailedInfo:hover{ background:#e6e6e6; border-color:#adadad; text-decoration:none; color:#323232;}
.jiance_mechanism, .jiance_date{ height:16px; background:url(../images/bg_jiance.png) no-repeat; text-indent:25px; margin-bottom:10px;}
.jiance_date{ background-position: 0 -25px;}
.landRecord_wp{ width:210px; margin:0 auto 15px 32px; padding:5px; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.landRecord_wp table th{ text-align:center; font-size:16px; color:#428bca; font-family:'Arial';}
.landRecord_wp table td{ text-align:center; vertical-align:middle; padding-bottom:0; font-size:11px; font-family:'Arial';}

/* 土地历史记录 */
.colorGrn02{ color:#428bca;}
.landHistory_jl{ position:relative; min-width:268px; margin:5px auto 0; margin-left:32px;}
.bg_landHistory02{position:absolute; left:36px; top:15px; width:2px; height:92px; background:url(../images/bg_landhistory02.png) repeat-y; zoom:1; overflow:hidden;}
.landHistory_list{overflow:hidden; margin-bottom:0;}
.landHistory_list li{ padding-left:20px; height:28px; line-height:28px; padding-bottom:15px; background:url(../images/bg_landhistory.png) no-repeat 0 9px;}
.landHistory_list li.histroyJl_date02{ background-position:0 -36px;}
.landHistory_list li.histroyJl_date03{ background-position:1px -83px;}
.landHistory_list span{ float:left; min-width:70px;}
.landHistory_list div{ float:left; padding-left:14px; min-width:115px; background:url(../images/bg_landhistory03.png) no-repeat;border-right: 1px solid #e7e7e7;
   border-radius: 5px;}
.landHistory_list div em{ float:left; padding-right:7px;}


.landH1{height:3px;}
.landH2{height:48px;}
.landH3{height:90px;}

.baseZongji {margin-bottom: 0;padding: 18px 10px;text-align: right;width: 288px;}
.baseZongji span {color: #4572a7;font-family: "微软雅黑";font-size: 13px; font-weight: bold;}


/* 养殖品种 */
.breedList{ clear:both; width:212px; margin:0 auto;}
.breedList_link, .breedList_add{width:56px; float:left; display:inline-block; margin:20px 25px 0;}
.breedList_link .breedText{ margin-bottom:0; width:100%; height:20px; line-height:20px; overflow:hidden; text-align:center;}
.breedPic{ position:relative; width:56px; height:58px; cursor:pointer;}
.breedPic .closeBtn{ position:absolute; z-index:11; right:0; display:none;}
.breedPic .zhezhao{ position:absolute; z-index:10; display:inline-block; width:56px; height:58px; overflow:hidden; background:url(../images/`) no-repeat 3px 4px;}
.breedPic .zhezhaoHv{ width:56px; height:58px; background:url(../images/hover.png) no-repeat;}
.breedPic .zhezhaoImg{ position:absolute; z-index:9; left:3px; top:4px; width:50px; height:50px; overflow:hidden;}
.breedPic .zhezhaoImg img{ width:50px; height:50px; border-radius:25px;}
.breekAddBtn{ display:block; width:56px; height:58px; background:url(../images/plus.png) no-repeat 3px 4px; cursor:pointer;}


/* 环境指标弹窗样式*/
.envir-pointer-pop{ position:absolute; top:0px;  z-index:3; margin:15px 0 0 15px; display:none;font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;}
.envir-pointer-wap{ height:178px; width:466px; border:1px solid #ccc; border-radius:10px; background:url(../images/weather/resource/qx2.png) no-repeat; color:#fff;}
.envir-pointer-wap .wap-close-btn{ position:absolute; right:10px; top:5px; width:20px; height:20px; background:url(../images/weather/resource/weatherStion_bg05.png) no-repeat; cursor:pointer;}
.envir-pointer-wap .check{position: absolute; right: 40px; top: 10px; font-size: 12px; color: #fff;}
.envir-pointer-wap .left{float: left; width: 230px; height: 176px; padding: 2px 0px 0 2px; position: relative;}
.envir-pointer-wap .left .rainDrop{position: absolute; font-size: 12px; color: #fff;width: 12px; height: 40px; top: 86px; left:8px; line-height: 14px;}
.envir-pointer-wap .left .topBox{height: 62px; padding-left: 15px; width: 275px;}
.envir-pointer-wap .left .weather{width: 60px; height: 60px; margin-right: 5px;}
.envir-pointer-wap .left .weather img{width: 100%; height: 100%;}
.envir-pointer-wap .left .forecast{/*width: 200px;*/}
.envir-pointer-wap .forecast .case,.envir-pointer-wap .forecast .case_y{ height: 20px; line-height: 20px; color: #fff; font-size: 12px; border-radius: 10px; margin-top: 8px;}
.envir-pointer-wap .forecast .case{ background: #85b42e; width:80px;}
.envir-pointer-wap .forecast .case_y{ background:#b86663; display:none; min-width:116px;}
.envir-pointer-wap .forecast .case img{ width:19px; height:19px; margin:0 6px; vertical-align:middle;}
.envir-pointer-wap .forecast .case_y img{ width:19px; height:19px; margin:0 6px; vertical-align:middle;}
.envir-pointer-wap .forecast .case_y span{ display:inline-block;}
.envir-pointer-wap .forecast .city{font-size: 22px; color: #fff; height: 35px; line-height: 35px;}
.envir-pointer-wap .forecast .city .county{font-size: 14px;}
.envir-pointer-wap .forecast .city img{margin-right: 5px;}
.envir-pointer-wap .right{float:left; width: 232px; height: 178px; font-size:12px;}
.envir-pointer-wap .right ul{height: auto; padding-top: 30px;}
.envir-pointer-wap .right ul li{height: 29px;}
.envir-pointer-wap .right ul li .name{float: left; width: 80px; color: #fff; line-height: 21px; }
.envir-pointer-wap .right ul li .name img{margin-right: 5px; vertical-align: middle;}
.envir-pointer-wap .right ul li .strip{float: left; width: 85px; height: 6px; background: url(../images/weather/resource/strip.png) repeat;  border-radius: 5px; margin-top: 7px; }
.envir-pointer-wap .right ul li .strip .init1{width: 0%; height: 6px; border-radius: 5px; background: #c4abdf;}
.init2{width: 0%; height: 6px; border-radius: 5px; background: #71c6e6;}
.init3{width: 0%; height: 6px; border-radius: 5px; background: #71e6a0;}
.init4{width: 0%; height: 6px; border-radius: 5px; background: #dfe671;}
.init5{width: 0%; height: 6px; border-radius: 5px; background: #e6ab71;}
.envir-pointer-wap .right ul li .unit{float: left; margin-left: 10px; line-height: 21px;}
