/* CSS Document */
body{ color:#525252;}

body,a,p,h1,h2,h3,h4,h5,h6,strong,ul,ol,li,div,form,table,tbody,thead,tfoot,th,tr,td,u,b,i,s,font,dl,dt,dd,em,sup,sub{ margin:0; padding:0;}
a{ text-decoration:none;}
ul,ol,li{ list-style:none;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.clear{ clear:both;}
.clear:after{ clear:both; content:""; display:block; visibility:hidden; height:0;}
em{ font-style:normal;}

/* 边界 */
.mt2{ margin-top:2px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}

.mr7{ margin-right:7px;}
.mr10{ margin-right:10px;}
.mr30{ margin-right:30px;}
.mr70{ margin-right:70px;}

.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}

.ml10{ margin-left:10px;}
.ml30{ margin-left:30px;}

/* 填充 */
.p_ltrb{ padding:10px;}
.pt10{ padding-top:10px;}
.pt15{ padding-top:15px;}
.pt20{ padding-top:20px;}
.pt30{ padding-top:30px;}
.pt40{ padding-top:40px;}
.pt50{ padding-top:50px;}


.pr5{ padding-right:5px;}
.pr10{ padding-right:10px;}
.pr20{ padding-right:20px;}
.pr25{ padding-right:25px;}
.pr30{ padding-right:30px;}

.pb{ padding-bottom:10px;}
.pb10{ padding-bottom:10px;}
.pb15{ padding-bottom:15px;}
.pb20{ padding-bottom:20px;}
.pb25{ padding-bottom:25px;}
.pb30{ padding-bottom:30px;}
.pb40{ padding-bottom:40px;}


.pl5{ padding-left:5px;}
.pl10{ padding-left:10px;}
.pl20{ padding-left:20px;}
.pl30{ padding-left:30px;}
.pl40{ padding-left:40px;}
.pl50{ padding-left:50px;}

/* 字体 */
.fontFamS{ font-family:'宋体';}
.fontFamW{ font-family:'微软雅黑';}

/* 字体颜色 */
.colorYell{ color:#fab26b;}
.colorBlu{ color:#4183c4;}


/* 字体大小 */
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font20{ font-size:20px;}

/* 边框 */

/* 宽度 */
.width110{ width:110px;}

/* 区域选择 日期选择 种植环境 */
.cm_tjfxHd{ padding:0 30px;}
.cm_tjfxHd02{ min-width:630px; margin:0 30px;}
.storehouseSeltLi01,.dateSeltLi01{ width:60px; line-height:34px; text-align:right;}
.storehouseSeltLi02,.dateSeltLi02{ width:72px; line-height:34px; text-align:right;}
.bootstrap-select{ width:124px; margin-right:7px;}
.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:124px; margin-right:7px; font-family:'宋体';}
.fxy_lidate label{ margin-top:0; font-family:'宋体'; font-weight:normal; color:#525252;}


.recentTime{}
.recentTime li{ float:left; padding-right:14px; margin-right:14px; background:url(../images/lne_09.jpg) no-repeat right center;}
.recentTime li a{ color:#266394; padding:2px 5px; padding:2px 5px; border-radius:4px;}
.recentTime li a:hover{ text-decoration:none;}
.recentTime li.curLan1 a{ background:#3480cb; color:#fff; border-radius:4px; text-decoration:none;}

/* 品种选择 */
.fx_tckli{ width:193px; font-family:"微软雅黑"; font-size:12px;}
.borderBt1{ min-width:630px; margin:0 30px; zoom:1; border-bottom:1px solid #dbdbdb; height:2px; overflow:hidden;}
.borderBt2{ border-bottom:1px solid #cfe3f3;}

/* 统计表 */
.commonHd3{ padding:0 30px;}
.commonTable thead tr{ background:#ebf6ff;}
.commonTable th,.commonTable td{ border:1px solid #bbd4e8; border-collapse:collapse; line-height:38px; text-align:center; font-size:14px; font-family:'宋体'; font-weight:normal;}
.commonTable tbody tr{ background:#fff;}
.commonTable tbody tr.trCur{ background:#fbfcfe;}
.commonTable tbody tr.trHover{ background:#ecf7e6;}

/* 新控件的复选单选按钮 */
.icheckbox_minimal-blue,.icheckbox_minimal-blue.checked{ float:left;}
.iradio_minimal-blue,.iradio_minimal-blue.checked{ float:left;}

.list_bei{ background:url(../images/cm_wuliao1.png) no-repeat 0 0; cursor:pointer; display:inline-block; height:15px; width:16px;}
.form_datetime input{text-indent:10px;}

