    	@charset "utf-8";
    	*{
			margin:0;
			padding:0;
			}
		.panorama-modal{
			position:absolute;
			left:50%;
			top:50%;
			z-index:9999px;
			width:430px;
			margin:-100px 0 0 -215px;
			border-radius:4px;
			box-shadow:2px 2px 5px #2e2e2e;
			font-family:'微软雅黑';
			z-index:9999;
			}
		.mark-b50{
			position:absolute;
			left:0;
			top:0;
			z-index:-1;
			width:100%;
			height:100%;
			border-radius:4px;
			background-color:#1c1b19;
			opacity:0.8;
			filter:alpha(opacity=80);
			}
		.mark-h30{
			position:absolute;
			left:0;
			bottom:0;
			z-index:0;
			width:100%;
			height:1px;
			background-color:#999999;
			opacity:0.5;
			filter:alpha(opacity=30);
			}
		.panorama-btn{
			display:inline-block;
			height:34px;
			line-height:32px;
			padding:0 19px;
			border-width:1px;
			border-style:solid;
			box-sizing:border-box;
			}
		.panorama-header{
			position:relative;
			padding:15px;
			color:#fff;
			overflow:hidden;
			}
		.panorama-header .ttl{
			float:left;
			width:80%;
			height:20px;
			line-height:20px;
			font-size:16px;
			font-weight:normal;
			}
		.panorama-header .close-btn{
			float:right;
			width:15px;
			height:15px;
			margin:2px 0 0 0;
			background:url(../images/panorama-x1.png) no-repeat;
			cursor:pointer;
			}
		.panorama-header .close-btn:hover{
			background:url(../images/panorama-x2.png) no-repeat;
			}
		.panorama-body{
			padding:15px;
			text-align:center;
			color:#fff;
			}
		.panorama-body .txt1{
			line-height:24px;
			font-size:14px;
			text-align:center;
			margin: auto 30px;
			}
		.panorama-body .know-btn{
			margin:15px auto 0;
			border-color:#357ebd;
			background-color:#428bca;
			font-size:12px;
			color:#fff;
			}
		.panorama-body .know-btn:hover,
		.panorama-body .know-btn:focus{
			border-color:#285e8e;
			background-color:#3071a9;
			}