@charset "utf-8";
/* CSS Document */
body{ min-height:762px; font-size:12px; color:#3c3c3c;}
.pt5{ padding-top:5px;}
.pb5{ padding-bottom:5px;}
.pr10{ padding-right:10px;}
.ml10{ margin-left:10px;}
.right_c{padding: 0 15px;}
.fr{float: right;}
.nw300{width:300px;}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/* 面包屑右边 */
.crumbRight li{float: left;}
.crumbRight li a {display: block; height: 46px; line-height: 46px; padding: 0 10px; color: #323232; overflow: hidden; }
.crumbRight li a:hover{text-decoration: none;}
.crumbRight li img{margin-right: 5px; margin-bottom: 2px;}
.borderBt{border-bottom: 2px solid #ade0a7;}
/* 详情页内容 */
.grszLt{width:100%; height: 100%; border-radius:5px;}
.grszLt img{ width:196px; height:188px; border-radius:5px;}
.grszRt{ padding-left:20px;}
.grxxHt{ height:56px; border-bottom:1px dashed #e2e2e2;}
.grxxHt h3{ float:left; height:56px; margin:0; line-height:56px; font-size:20px; text-indent:5px; color:#323232;}
.grxxHt .off_sum,.offbbody .off_sum{float: left; min-width: 100px; height: 26px; line-height: 26px; border: 1px solid #7dbff6; border-radius: 4px; margin-left: 20px; margin-top: 15px;}
.grxxHt .off_sum span,.offbbody .off_sum span{display: inline-block; padding: 0 5px;}
.grxxHt .off_sum span.former,.offbbody .off_sum span.former{color: #fff; background: #7dbff6;}
.grxxHt .off_sum span.latter,.offbbody .off_sum span.latter{color: #7dbff6;}
.grxxCt{font-size:14px; color: #323232;}
.grxxCt td.border58{ height:58px; border-bottom:1px dashed #e2e2e2;}
.blongsTxt{ font-size:14px; color:#646464;}
.returnBtn{text-align: center; margin-top: 30px;}

/*我的报价页内容*/
.public-search{ position: relative; float: left;}
.octicon-search02{background: url(../images/cjsearch_bg.png) center center no-repeat; width: 13px; height: 13px; display: block; float: left; left: 8px; position: absolute; top: 10px; width: 13px; z-index: 3;}
.srarchfont{text-indent: 15px; color: #d2d2d2;}
.noContent{width: 100%; height: 245px; border: 1px dashed #e2e2e2; border-radius:5px; text-align: center;}
.offContent{width:100%; height: auto;}
.offList{width: 100%; min-height: 145px; border: 1px solid #e2e2e2; border-radius: 5px; margin-bottom: 15px;}
.offList .subTitle{height: 40px; border-bottom: 1px solid #e2e2e2; background-color: #fafdff; border-radius: 5px 5px 0 0; padding:0 15px; }
.offList .subTitle td{height: 40px;}
.offbbody .pic{padding:10px;}
.offbbody .pic img{width: 80px; height: 80px; border-radius: 5px;}
.offbbody h4{float: left; height: 56px; line-height: 56px; margin: 0;}

/*分页样式*/
.fenye{margin: 40px auto ;}
.pageModel { border: 1px solid #e1e1e1; border-radius: 5px; border-collapse: separate; font-size: 12px; }
.pageModel span {float: left;height: 32px;line-height: 32px;border-right: 1px solid #e1e1e1;}
.pageModel a {display: block;padding: 0 13px;color: #9a9a9a;text-decoration: none;}
.pageModel a:hover{color:#428bca;}
.pageModel span:last-child { border-right: 0; }
.pageModel .page_Cur{background-color: #f6f6f8}

/*我的供应页面*/
.search_s{float: left; margin-bottom: 20px; margin-right: 20px;}
.select_s{float: left; margin-bottom: 20px;}
.select_s ul{float: left; line-height: 28px;}
.select_s li{float: left; padding: 0 10px; border-radius: 20px; margin-right: 10px;}
.select_s li.bca{background-color: #a5cc71; color: #fff;}
.supply-body{width: 100%; min-height: 130px; border: 1px solid #e2e2e2; border-radius: 5px; margin-bottom: 15px;}
.supply-body .pic{position: relative; width: 100%;}
.supply-body .pic img{position: absolute; width: 92px; height: 92px; left: 0; top: 0;}
.detail-r td{line-height: 36px;}
.detail-r h4{line-height: 48px; font-weight: bold;}
.detail-r img{margin-right: 5px;}

/*采购页面*/
.f-sort a i.shang{background: url(../images/supply/shang.png);}
.classCriteria-list{}
.classCriteria-list .items-dl{ min-height:45px; padding:7px 0; border-bottom:1px solid #f3f3f3; box-sizing:border-box; overflow:hidden;}
.classCriteria-list .items-dt{ float:left; width:82px; line-height:30px; text-align:right; font-size:12px; color:#464646;}
.classCriteria-list .items-dd{ padding-left:116px;}
.classCriteria-list .items-dd .label-suc{ float:left; margin:5px 20px 0 0; height:20px; line-height:20px; padding:0 10px; border-radius:4px; background:#56ba5a; font-size:12px; color:#fff; cursor:pointer;}
.classCriteria-list .items-dd .txt{ float:left; margin:5px 20px 5px 0; padding:0 10px; line-height:20px; color:#838383; cursor:pointer;}
.classCriteria-list .items-dd .ipt-txt{ float:left; font-size:12px; line-height:30px; color:#838383;}
.classCriteria-list .items-dd .ipt-txt .form-control{ float:left; width:60px; height:30px; line-height:20px; padding:4px; box-sizing:border-box; text-align:center; font-size:12px; color:#838383;}
.classCriteria-list .items-dd .ipt-txt .line{ float:left; padding:0 10px;}
.classCriteria-list .items-dd .iptTxt-btn{ position:relative; float:left; width:70px; height:26px; line-height:20px; margin:2px 5px 2px 0; padding:2px 10px; border:1px solid #dedede; box-sizing:border-box; border-radius:4px; font-size:12px; text-align:center; color:#818181; cursor:pointer;}
.classCriteria-list .items-dd .iptTxt-btn i{ position:absolute; right:5px; top:7px; width:12px; height:12px; background:url(../images/map_icos1.png) no-repeat 0 -64px;}
.classCriteria-list .items-dd .iptTxt-btn.cur{ background:#f5f5f5;}
.more_city{position: absolute; right: 0; top:12px; color: #3598d9; text-decoration: underline; cursor: pointer;}
.f-sort{float: left; margin-right: 24px; margin-left: 32px;}
.f-sort a{float: left; position: relative; padding: 0 25px 0 10px; height: 28px; border: 1px solid #e2e2e2; line-height: 28px; margin-right: -1px; background: #FFF; color: #838383;}
.f-sort a:link,.f-sort a:visited,.f-sort a:hover{text-decoration: none;}
.f-sort a.first{border-radius: 5px 0 0 5px; background-color: #56ba5a; color: #fff; padding-right: 10px;}
.f-sort a.last{border-radius: 0 5px 5px 0;}
.f-sort a i{ position: absolute; background: url(../images/supply/xia.png); top: 6px; right: 8px; width: 13px;  height: 17px; overflow: hidden; font-size: 0;}
.detail-r .name{color: #4b8dc9; font-size: 16px; font-weight: bold; padding-top: 10px;display: inline-block; margin-right: 10px;}
/*采购详情页开始*/
.p-detail{width: 100%; height: auto; padding-top: 20px;}
.p-detail table td,.require table td,.goods table td{vertical-align: middle; padding: 5px 0;}
.require table td,.goods table td{line-height: 26px;}
.p-detail .pic{width: 100%; padding: 0 10px;}
.p-detail .pic img{width: 210px; height: 210px;}
.p-detail .circle{width: 100%; height: 210px-; margin-left: 20px; border: 1px solid #e2e2e2; border-radius: 5px; border-radius: 5px; padding: 5px; box-sizing: border-box;}
.p-detail .kind-name{font-weight: bold; line-height: 32px;}
.p-detail .my-off{color: #ef8704; width: 90px; height: 32px; line-height: 32px; border: 1px solid #ef8704; border-radius: 5px; text-align: center; cursor: pointer;}
.p-detail a:hover{text-decoration: none;}
.p-detail .d_middle td{border-top: 1px dashed #e2e2e2; border-bottom: 1px dashed #e2e2e2; height: 105px; text-align: center; vertical-align: top; padding-top: 20px;}
.p-detail .d_middle td p{padding-top: 10px;}
.p-detail .d_middle td p.former{color: #999;}
.p-detail .d_middle td p.latter{color: #5cb75a; font-weight: bold;}
.p-detail .d_middle .border{position: relative; width: 100%;}
.p-detail .d_middle .border .bar{position: absolute; width: 1px; height: 40px; background-color: #e2e2e2; top: 25px; right: 0;}
.circle .message{color: #999; font-size: 12px; cursor: pointer;}
.require,.goods{padding-left:10px;}
.require .subtitle,.goods .subtitle,.more_buy .subtitle{font-size: 16px; line-height: 40px;}
.require .lineBg{background: url(../images/supply/lineBg.png) repeat-x left center;}
.goods td{border-bottom: 1px dashed #e2e2e2;}
.more_buy{position: relative;}
.photos{position:relative; left:50%; margin-left: -373px; width: 732px; height: 120px; overflow: hidden; padding-top: 20px;margin-top: 40px;}
.photos .imagesList{position: absolute; top: 20px; width: 2000px; }
.photos li{float: left; position: relative; width: 122px; height: auto;  }
.photos li .tup{height:100px;}
.photos img{position: absolute; width: 92px; height: 92px;}
.photos img.circleBg{z-index: 10;}
.photos p{ text-align: center; width:92px;}
.leftBtn{ position: absolute; left: 0; top: 120px; background: url(../images/supply/leftBtn.png);  width: 40px; height: 56px;}
.rightBtn{ position: absolute; right: 35px; top: 120px; background: url(../images/supply/rightBtn.png);  width: 40px; height: 56px; z-index: 5;}
.require{position: relative;}
.out-box{position: absolute; top:5px; right: -20px; width: 0; height: 446px; overflow: hidden;}
.require .out{position: absolute;  width: 520px; top:0; left: 0; height: auto; border: 1px solid #e2e2e2; border-radius: 5px 0 0 5px; padding: 20px 15px 20px 50px; background: url(../images/supply/detail-bj.png);z-index: 20;}
.out-left,.out-right{width: 100%; height: 340px; border: 1px solid #e2e2e2; background-color: #fff; border-radius: 5px;}
.out-btn{position: absolute; top: 50%; left: -2px; margin-top: -47px; cursor: pointer;}
.piechart{width: 100%; height: 120px; text-align: center; padding-top: 20px; position: relative;}
.percent_text{top: 64px; left: 0; width: 100%; text-align: center; color: #52a9f3; font-size: 24px;}
.out h4{font-size: 16px; height: 48px; line-height: 48px; text-align: center; font-weight: bold; border-bottom: 1px dashed #e2e2e2;}
.out td.former{width: 75px; padding-right: 15px; text-align: right; color: #999;}
.out .pt20 td{padding-top: 20px;}
.ff4{color: #ff4a00;}
.off-pop{width: 80px; padding-right: 15px; text-align: right;}
.nw200{width: 200px;}
.pop-td td{padding-bottom: 10px;}

.boot-selet-100{display:inline-block;}
.boot-selet-100 .bootstrap-select{  width:130px;}
.boot-selet-100 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:130px;}
.boot-selet-100 .bootstrap-select span{ font-size:14px; font-family:'微软雅黑';}
.boot-selet-100 .bootstrap-select > .btn{ height:34px;}
.boot-selet-100 .bootstrap-select.btn-group .dropdown-menu{ max-width:130px;}/* 下拉框最大宽度控制 */