@charset "utf-8";
/* CSS Document */




/* 人员信息编辑表格内容 */
.farmmingAdd{}
.farmmingAdd .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:auto;}

.baseMageTab_ryxxbj td{ height:34px; line-height:34px; padding-bottom:20px; font-size:12px;}
.baseMageTab_ryxxbj .bootstrap-select{ float:left; display:inline; margin-right:5px;}
.baseMageTab_ryxxbj .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"]{ float:left; display:inline; margin-right:5px;}
.baseMageTab_ryxxbj .bootstrap-select > .btn{ width:160px; padding:7px 12px; font-size:12px;}
.baseMageTab_ryxxbj .table-list-header .button-link{ position:relative; width:158px; height:32px; border:1px solid #ddd; border-radius:5px;}
.baseMageTab_ryxxbj .table-list-header .button-link i{ padding-right:5px; font-style:normal;}
.baseMageTab_ryxxbj .table-list-header .button-link em{ color:#2069b4;}
.baseMageTab_ryxxbj .select-menu-button:after{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 4px;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: -2px;
    width: 0;
	position:absolute; top:14px; right:10px;}
.baseMageTab_ryxxbj .table-list-header-toggle .select-menu-modal-holder{ left:0;}
.baseMageTab_ryxxbj .form_datetime input{ width:160px; height:32px; border:1px solid #ddd }
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] {
    background-image: url("../images/glyphicons-halflings-white.png");
}


.asterisk{ float:left; height:34px; line-height:38px; color:#f00; font-size:12px; font-family:'微软雅黑';}
.pic_stress{ padding:10px 0 6px; margin:0; line-height:normal; color:#f00; font-size:12px;}

/* 启用账号 */
.modal-enableAcct{ padding:20px 30px 0; border-top:1px solid #ddd;}
.enableAcct td{ height:18px; line-height:18px;}
.enableAcctCon{ display:none;}
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
padding: 1px 6px;
}

