/* CSS Document */

body {    font-size: 12px;
    color: #000;
    font-family:"微软雅黑"; height:100%;
    line-height: 150%;
    margin: 0;
    padding: 0;
}
textarea{
	font-size:12px; padding:0; margin:0;
	}
a:focus {
    outline:none;
    -moz-outline:none;
}
a{ 
	blr:expression(this.onFocus=this.blur());
}
html{ height:99%; background:url(../images/lefbg.jpg) repeat-y; overflow-y: auto; padding:0;margin:0; }
h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p,input {
    border: medium none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{text-decoration:none;}
.clear{ clear:both;}
.content{ width:100%; min-width:1003px; }
.top{ width:100%; min-width:1003px; height:60px; background:url(../images/top_02.jpg) repeat-x;}
.logo{ width:200px; height:60px; float:left;}
.r_t{ width:500px; height:60px; float:right; padding-right:40px;}
.ru{ padding:10px;}
.left_td{ height:100%; background:#eff2f9; border-right:1px solid #e1e4eb;}

.tab_t{min-width:162px; [;width:162px;]; *width:162px; border-collapse:collapse; *border-collapse:inherit; z-index:2; position:absolute; height:60px; right:10px; }

.r_tdbg{ background:#fbfcff;}

.r_ulli2{ height:29px; line-height:29px;background:url(../images/r_t_06.jpg) right center no-repeat; padding-right:24px; float:right; margin-top:12px; _margin-top:16px; padding-top:10px; *padding-top:5px;}
.r_ulli22{ height:29px; line-height:29px;background:url(../images/r_t_06.jpg) right center no-repeat; padding-right:24px; float:right; margin-top:12px; _margin-top:16px; padding-top:10px; *padding-top:5px;}
.r_ulli1{ height:29px; line-height:29px; min-width:95px; color:#cfe3fe; padding-left:20px; float:right; margin-top:14px; *margin-top:12px; font-weight:bold; font-size:14px;}
.r_uul{ margin-left:18px;}
.r_1j{ font-size:14px; padding:5px 0;}
.r_2j{ font-size:12px; padding:5px 0; background:url(../images/er1.jpg) left center no-repeat; padding-left:10px;}
.tab_t2{min-width:135px; [;width:135px;]; *width:135px; border-collapse:collapse; *border-collapse:inherit; z-index:2; position:absolute; height:60px; right:78px; *right:82px; }
 /*右侧开始*/ 
.right_c{ padding:0 30px; }
.r_title{ width:100%; height:45px; line-height:45px; border-bottom:1px solid #ddd; margin-top:22px;}
.r_t_l{ width:29%; height:45px; line-height:45px; float:left;}
.r_t_r{ width:70%; height:40px; line-height:40px; float:right;}
.r_t_r ul{ float:right; height:20px; margin-top:10px;}
.r_t_r ul li{ float:right; height:20px; line-height:20px; padding:0 10px;}
.r_z_e{ width:845px; height:54px; margin:35px auto;}
.ze_13{ float:left; width:10px; height:54px;}
.ze_15{ float:left; height:54px; background:url(../images/ze_15.jpg) repeat-x;}
.ze_15 table{ height:54px; overflow:hidden;}
.ze_l5_li{ width:62px; height:52px; padding:1px 9px 1px 0; background:url(../images/zw_21.jpg) right center no-repeat;}
.ze_l5_td{ color:#232323; font-family:"微软雅黑"; font-size:14px; font-weight:bold; padding:0px 4px;}
.ze_l5_td2{color:#232323; font-family:"微软雅黑"; font-size:12px; font-weight:normal; padding:0px 4px;}
.z_r_ser{ height:30px; line-height:30px; margin-bottom:30px;}
.z_r_ser_i{ height:28px; line-height:28px; width:340px; padding:0 2px; border:1px solid #e9e9e9;}
.z_r_ser_i2{ height:28px; line-height:28px; width:50px; padding:0 2px; border:2px solid #e9e9e9;}

.ze_table,.ze_table22{ margin-top:7px; border-collapse:collapse;}
.ze_bg{ height:38px; background:#f0f5fb; text-align:center; font-size:14px; color:#6c6a6b; border-bottom:1px solid #dddddd; font-weight:normal;}
.ze_bt_le{ border-left:1px solid #e1e1e1;}
.ze_bt_ri{ border-right:1px solid #e1e1e1;}
.ze_bg2{ height:38px;  text-align:center; color:#6c6a6b; font-size:13px; border-bottom:1px solid #dddddd;}

.ze_bg3{ height:38px;  text-align:left; padding-left:30px; color:#1b66a9; font-size:13px; border-bottom:1px solid #dddddd;}


.ze_table td{ background:#fbfcfe;}
tr.alt td {
	background: #fcfcfc; /*这行将给所有的tr加上背景色*/
}

tr.over td {
	background: #ecf7e6; /*这个将是鼠标高亮行的背景色*/
}
.td_t_b{ border-bottom:1px solid #ddd; border-top:1px solid #ddd; padding:0 12px; height:30px; text-align:center; line-height:30px; color:#0088d2;}
.td_t_b a{ color:#9a9a9a;}
.td_t_t{ border-left:1px solid #ddd;}

 /*右侧结束*/ 


 /*下拉菜单*/ 
 /* menu::base */
#menu{ height:34px; width:100%; line-height:34px; margin-bottom:8px;}
#menu ul { margin: 0; padding: 0; list-style: none; float: left;}
#menu ul.menu {padding-left: 10px;}
#menu ul a:hover span { color: #ffffff; display:block;cursor:hand; }
#menu li {}

 menu33::level2 
/* menu::base */
div#menu {
 height:34px;
 width:100%;
 line-height:34px;
 margin-left:auto;
 margin-right:auto;
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;

	
}
div#menu ul.menu {
    padding-left: 10px;
}

div#menu li {
    position: relative;
    z-index: 190;
    display: block;
}
   
div#menu li:hover>ul {
	
}

div#menu li div {
    list-style: none;
    position: absolute;
    top:34px;
    
    width: 127px;
    z-index: 11;
    display: none;
    padding: 0 0 9px 7px;
    _padding: 0 0 9px 3px;
}
div#menu li:hover>div {
}

div#menu li.current a {}

div#menu span {
    font-size:12px;
	line-height:34px;
    color:#CFE3FE;
    text-transform:uppercase;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
	text-align:center;
}
div#menu ul a:hover span {color: #CFE3FE;	display:block;cursor:hand; }
div#menu ul .on{cursor:hand; text-align:center;}
div#menu li {}
/* menu::level2 */
div#menu ul ul li { background: #fbfcff; padding:4px 0; z-index: 9;}
div#menu ul ul li li {
    background:#fdfdfd; border-left:1px solid #eff2f9; border-right:1px solid #ababab; border-top:1px solid #eff2f9; text-align:left;
    padding:0px;
    z-index:110;	
}

div#menu ul ul {
    z-index: 12;   padding: 0;
    margin-top:0px;
	width:100%;
	*height:34px;
   
}
div#menu ul ul a { height: auto; float: none; _float: left; font-weight:normal; color:#2b2b2b;  display: block; background:none; z-index:101; width:100%; font-size:12px; text-decoration: none;}
div#menu ul ul a span { line-height: 20px; color: #2b2b2b; font-weight:normal; text-transform: none; background:none;text-align:left;}
div#menu ul ul a:hover {}

div#menu ul ul li a:hover { color: #2b2b2b; font-weight:normal; background:#eff2f9;}

div#menu ul ul li { width: 100%;}

.top_td{border-top:1px solid #ababab;}
.bottom_td{border-top:1px solid #ababab;}
.td_clo{height:20px; line-height:20px; border-top:1px solid #ccc; padding-top:10px; font-size:12px; padding-left:11px; color:#2b2b2b;}
.left_td{border-left:1px solid #ababab;}
.right_td{border-rigth:1px solid #ababab;}



table input[type=checkbox],
table input[type=radio] {
	background : none;
	padding : 0;
}

.custom-checkbox, .custom-radio {
	display : inline-block;
	position : relative;
	*display : inline;
	margin : 3px 20px -2px 0;
	*zoom : 1;
}

.custom-checkbox input, 
.custom-radio input {
	position : absolute;
	background : transparent;
	left : 0;
	top : 0;
	margin : 0;
	z-index : -1;
	width : 13px;
	height : 13px;
}

.custom-checkbox label, 
.custom-radio label {
	display : inline-block;
	padding : 0 0 0 26px;
	margin : 0;
	color : #5a5a5a;
	font-weight : 100;
	line-height : 20px;
	font-size : 12px;
	cursor : pointer;
	width : auto;
	height : 19px;
}

.custom-checkbox label {
	background : url(forms/forms-checkbox.gif) no-repeat;
}

.custom-radio label {
	background : url(forms/forms-radio.gif) no-repeat;
}

.custom-checkbox label.hover,
.custom-checkbox label.focus,
.custom-radio label.hover,
.custom-radio label.focus,
.custom-checkbox label, .custom-radio label {
	background-position : left bottom;
}

.custom-checkbox label.checked, 
.custom-radio label.checked,
.custom-checkbox label.checkedHover, 
.custom-checkbox label.checkedFocus {
	background-position : left top;
}
.la_aa{ float:left;}

.la_aa a,.la_aa {
	display:block;
	width:21px;
	height:18px;
	overflow:hidden
	}
.la_aa a {
	background:url("forms/forms-checkbox.gif") no-repeat
	}
.la_aa .b { width:21px; height:18px;
	background:url("forms/01.gif") top no-repeat
	}
.la_aa .a { width:21px; height:18px;
	background:url("forms/02.gif") bottom no-repeat
	}

	
.la_div .s_pan{ float:left; *margin-right:15px; margin-left:5px;}	
.la_div{padding-right:15px; *padding-right:0px; display:inline-block; *display:inherit; float:left;}

/*单选框开始*/
 #sex_male ,#sex_male1,#sex_male2,#sex_male3,
 #sex_female , #sex_female1 , #sex_female2 , #sex_female3,
 #sex_nomale,.sex_nomale,#sex_nomale1,#sex_nomale2,#sex_nomale3
 {
  display:none
 }

.six3 label
 {
  display:-moz-inline-block;
  display:inline-block;
  cursor:pointer;
  margin:5px 5px 5px 0;
  padding-left:25px;
  line-height:19px;
  background:url(forms/forms-radio2.gif) no-repeat left top;
 }
.six3 label.checked
 {
  background-position:left bottom;
 }
/*单选框结束*/
/* //////////////////// 文件上传 \\\\\\\\\\\\\\\\\\\\ */
input.file {
	float : left;
	background : url(forms/forms-input-small.gif) no-repeat left top transparent;
	margin : 0 2px 0 0;
	z-index : 99;
	height : 15px; padding:6px 7px;
}

div.btn-upload {
	display : inline-block;
	*display : inline;
	background : url(forms/forms-file.gif) no-repeat right top transparent;
}
.btn-upload input[type=file]{ margin-left:-103px !important;}


.table_fl{ float:left;}


.tck_table .rich-calendar-exterior td{padding:0; *line-height:15px;}


/*==========================================云农场开始=============================================================*/
/*厂区地图开始*/
.map_bg{ width:100%; height:100%; z-index:1; position:relative;}

.map_ico{ min-width:100px; float:left; position:absolute; z-index:2; padding-top:15px; margin-left:31px;}
.map_ico li{ width:38px; height:37px; float:left; margin-right:2px;}
.map_search{ position:relative; z-index:2; float:right;}

.map_s_bg{ width:68px; height:36px;background: url(../images/tbs_06.png) left no-repeat; padding-left:5px; float:left; line-height:36px; text-align:center; color:#808080;}
.map_s_bg strong{ width:68px; height:36px;background: url(../images/tbs_06.png) right no-repeat; font-weight:normal; float:left; color:#808080;}
.map_s_bg.this{ width:68px; height:36px;background: url(../images/tbs_071.png) left no-repeat; padding-left:5px; float:left; line-height:36px; text-align:center;color:#676767;}
.map_s_bg.this strong{ width:68px; height:36px;background: url(../images/tbs_071.png) right no-repeat; font-weight:normal; float:left;color:#676767;}



.map_s_bg1{ width:68px; height:36px;background: url(../images/tbs_061.png) left no-repeat; float:left; line-height:36px; text-align:center; color:#808080;}
.map_s_bg1 strong{ width:68px; height:36px;background: url(../images/tbs_061.png) right no-repeat; padding-right:5px; font-weight:normal; float:left; color:#808080;}
.map_s_bg1.this{ width:68px; height:36px;background: url(../images/tbs_07.png) left no-repeat; float:left; line-height:36px; text-align:center; padding-left:1px; color:#676767;}
.map_s_bg1.this strong{ width:68px; height:36px;background: url(../images/tbs_07.png) right no-repeat; padding-right:5px; font-weight:normal; float:left; padding-left:1px; color:#676767;}

.search02 {
	background: url(../images/search.png) no-repeat; position: relative; width:39px; height:37px;
}
.ser_input{background: url(../images/input_03.png) left no-repeat; width:130px; height:34px; line-height:34px; padding-left:5px;  font-size:14px;}
.ser_input2{background: url(../images/input_04.png) left no-repeat; width:130px; height:36px; line-height:36px; padding-left:3px;  font-size:14px; float:left; display:none;}

.float0831 { position:absolute; top:0px; right: 0px; float:right; table-layout:fixed;}

.float0831 .floatL {
	 width: 18px;
}
.float0831 .floatL A {
	TEXT-INDENT: -9999px; DISPLAY: block; FONT-SIZE: 0px;
}
.float0831 .floatR { background: none repeat scroll 0 0 #FFFFFF; float: left; overflow: hidden;}

.float0831 .btnOpen {
	background: url(../images/tbs_03.png) no-repeat;position: relative; width: 18px; height: 91px; 
}
.float0831 .btnCtn {
	background: url(../images/tbs_03.png) no-repeat; position: relative; width: 18px; height: 91px;}

.tc_top_03{ width:100%; height:35px; line-height:35px; text-align:left; font-size:14px; color:#3e3e3e; text-indent:15px; background: url(../images/tc_top_03.jpg) repeat-x;}
.tc_top_044{ width:100%; height:35px; line-height:35px; text-align:left; font-size:14px; color:#3e3e3e; text-indent:15px; background: url(../images/tc_top_03.jpg) repeat-x;}
.tc_top_05{ width:100%; height:35px; line-height:35px; text-align:left; font-size:16px; color:#3e3e3e; background: url(../images/tc_top_03.jpg) repeat-x;}
.tc_cont{ width:100%; margin:0 auto;}
.tc_rw_rw2{ width:100%; height:448px; overflow-x: hidden;overflow-y: auto; position:relative;}
.tc_rw_rw2 .jScrollbar_mask { /* text container */	*width:97%;		position:relative;		padding-left:10px;	top:0;		float:left; 	}
.tc_rw_rw2 .jScrollbar_draggable a.draggable { position:relative; background-color:#79a8f0; display:block; height:70px; width:13px; float:left;cursor:s-resize;}
.tc_rw_rw2 .jScrollbar_draggable { float:right; height:100%; overflow:hidden; background:transparent url(../images/rwl2_03.jpg) repeat-y center top; position:relative}






.tc_ul{ padding-top:8px;}
.tc_li{ height:30px;*height:23px;}
.tc_li,.tc_li01{ min-width:320px; padding:8px 0;}
.tc_font{ width:60px;}
.tc_font01{ width:30px;}
.tc_font2{ width:70px;}
.tc_font,.tc_font01,.tc_font2{ font-size:14px; color:#211f1f; height:30px; vertical-align:middle; padding-right:5px;}

.tc_strong,.tc_strong74,.tc_strong115,.tc_strong150{padding-left:5px;}
.tc_strong74 strong input{ width:74px;}
.tc_strong strong input{ width:170px;}
.tc_strong150 strong input{ width:150px;}
.tc_strong115 strong input{ width:115px;}
.tc_strong155 span input{ width:155px;}

.formcolor2 input{ width:115px;height:30px; line-height:30px;  background: url(../images/input.png) left no-repeat; padding-left:3px; font-weight:normal; float:left;}


.tc_strong strong,
.tc_strong74 strong,
.tc_strong115 strong,
.tc_strong150 strong{height:30px; line-height:30px; background: url(../images/input.png) left no-repeat; padding-left:3px; font-weight:normal; float:left;}

.tc_strong155 span{height:30px; line-height:30px; background: url(../images/input_date.png) left no-repeat; padding-left:3px; font-weight:normal; float:left; *float:none;}
.tc_strong155 span img{background-image:none; *position:relative; *left:-2px;}
.tc_strong strong input,
.tc_strong74 strong input,
.tc_strong150 strong input,
.tc_strong115 strong input,
.formcolor2{  height:30px; line-height:30px; background: url(../images/input.png) right no-repeat; padding-right:3px; font-weight:normal; float:left;}

.tc_strong155 span input{  height:30px; line-height:30px; background: url(../images/input.png) right no-repeat; padding-right:3px; font-weight:normal;}





.tc_str_hjtj{ height:30px; line-height:30px; /*background: url(../images/line_39.jpg) bottom left repeat-x;*/ color:#8c8c8c; font-size:14px; padding:5px;}

.tc_str_check{ height:30px; line-height:30px;  padding-left:5px; color:#211f1f; font-size:14px;}
.la_div .s_pan{ float:left; *margin-right:15px; margin-left:5px;font-size:11px; width:100px; width:auto;\9; *width:auto; word-break:normal;}



.la_div{width:50%;*width:49%; display:inline-block; *display:inherit;height:18px; line-height:18px; padding:8px 0; float:left;}
.la_div2 .s_pan2{ float:left; *margin-right:15px; margin-left:5px;margin-top:-2px;font-size:11px;}	
.la_div2{width:100%; display:inline-block; *display:inherit;height:18px; line-height:18px; padding:8px 0; float:left;}
.la_aa .b { width:21px; height:18px;
	background:url(../images/01.gif) top no-repeat;
	}
.la_aa .a { width:21px; height:18px;
	background:url(../images/02.gif) bottom no-repeat;
	}



.la_div01 .s_pan{ float:left; *margin-right:15px; margin-left:5px;}	
.la_div01{width:100%; display:inline-block; *display:inherit;height:18px; line-height:18px; padding:8px 0; float:left;}



.tc_bottom{width:97%; height:36px; background: url(../images/line_39.jpg) top center repeat-x; padding:15px 0; text-align:center; float:right; margin-right:2px;}


/*厂区图图标新样式开始*/
.mapstrong{ height:36px; background:url(../images/map_icobg.png) left no-repeat; float:left; display:block; padding-left:5px; margin-right:5px;}
.map_font{ height:36px; background:url(../images/map_icobg.png) right no-repeat; float:left; padding-right:5px; margin-right:-5px;}
.mapiconul{ height:36px; }
.mapicoli{ width:41px; text-align:center; height:36px; vertical-align:middle; background:url(../images/mapicoline.jpg) center right no-repeat;}
.model3{ padding:3px 0; background:none; display:block;}
.model3.on{ width:41px; padding:3px 0; background:url(../images/mapon_03.jpg) center no-repeat;}
.model4{ padding:3px 0; background:none; display:block;}
.model4.on{ width:41px; padding:3px 0; background:url(../images/mapon_03.jpg) center no-repeat;}
/*厂区图图标新样式结束*/
.mapone{ width:34px; height:28px; padding:4px 2px; background:url(../images/map_icon.png) no-repeat; text-align:center; float:left;}
.maptwo{ width:34px; height:28px; padding:4px 2px; background:url(../images/map_icon1.png) no-repeat; text-align:center; float:left;}
/*排产三步骤开始*/

.div_bgnone{ position:absolute; z-index:18000; background:none; right:0; }
.div_back{position:fixed; z-index:1000; background:none; left:77px; top:60px; background:url(../images/index/bd_png.png) repeat ;}
.tad_div2 { position:absolute; z-index: 8001; width:580px; height:352px;}
.jane{color:#4171a1; font-size:18px; font-weight:bold; padding-left:10px; font-family:'微软雅黑';}

/*排产三步骤结束*/

/*提示六步骤开始*/
.ts6bdiv{ width:300px; position:fixed; z-index:1003; bottom:0; margin-left:85px;}
.tstitle{width:300px; height:32px; line-height:32px; background: url(../images/tstop.png) no-repeat;}
.tstfont{ width:210px; height:32px; padding-left:21px; font-family:'微软雅黑'; font-size:16px; color:#fff; float:left; }
.tscolse{ width:15px; height:14px; float:right; margin-right:12px; margin-top:9px;}
.suofang{ width:18px; height:16px; float:right; margin-right:8px; margin-top:8px;}
.tsbgco{ width:300px; background:#f9fafb; padding-bottom:10px;}
.tsbzd{ height:16px; text-align:center; padding-top:15px;  margin-left: auto;
    margin-right: auto;
    width: 114px;}
.tsbzdm{ margin:0 2px;}
.ts_step1{width:11px;height:16px;background: url(../images/but03.jpg) no-repeat;display:block;float:left; margin-right:8px;}
.ts_step2{width:11px;height:16px;background: url(../images/but02.jpg) no-repeat;display:block;float:left; margin-right:8px;}
/*提示六步骤结束*/


/*下拉框开始*/
			
			
			
			.uboxstyle1,.uboxstyle2,.uboxstyle3,.uboxstyle4,.uboxstyle5{overflow:HIDDEN; margin-right:10px;}
			.uboxstyle3{width:170px;}
			.uboxstyle1 .select_box,
			.uboxstyle2 .select_box,
			.uboxstyle3 .select_box,
			.uboxstyle4 .select_box,
			.uboxstyle5 .select_box{WIDTH: 243px; HEIGHT: 30px; BACKGROUND: url(../images/gif2.png) left no-repeat; padding-left:2px;	}
			
			.uboxstyle1 DIV.tag_select,
			.uboxstyle2 DIV.tag_select,
			.uboxstyle3 DIV.tag_select,
			.uboxstyle4 DIV.tag_select,
			.uboxstyle5 DIV.tag_select{ DISPLAY: block; padding-left:5px; BACKGROUND: url(../images/gif3.png) right no-repeat; PADDING-BOTTOM: 0px; WIDTH: 210px; COLOR:#5A5A5A; LINE-HEIGHT: 30px; PADDING-right:28px; HEIGHT:30px; overflow:hidden; *overflow:;}
			
			.uboxstyle1 DIV.tag_select_hover,
			.uboxstyle2 DIV.tag_select_hover,
			.uboxstyle3 DIV.tag_select_hover,
			.uboxstyle4 DIV.tag_select_hover,
			.uboxstyle5 DIV.tag_select_hover{ DISPLAY: block; padding-left:5px; PADDING-right:28px; BACKGROUND: url(../images/gif3.png) right no-repeat;  COLOR: #5A5A5A; LINE-HEIGHT: 30px;
				HEIGHT:30px; overflow:hidden;*overflow:;}
			
			.uboxstyle1 DIV.tag_select_open,
			.uboxstyle2 DIV.tag_select_open,
			.uboxstyle3 DIV.tag_select_open,
			.uboxstyle4 DIV.tag_select_open,
			.uboxstyle5 DIV.tag_select_open{ PADDING-RIGHT:28px; DISPLAY: block; padding-left:5px; BACKGROUND: url(../images/gif2.png) right no-repeat; COLOR: #5A5A5A; LINE-HEIGHT:30px; HEIGHT:30px;	}
			
			.uboxstyle1 UL.tag_options,
			.uboxstyle2 UL.tag_options,
			.uboxstyle3 UL.tag_options,
			.uboxstyle4 UL.tag_options,
			.uboxstyle5 UL.tag_options{ PADDING-RIGHT: 0px; PADDING-LEFT:0px; border:1px solid #a7a7a7; PADDING-BOTTOM:0px; MARGIN: 0px; WIDTH: 242px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute; background:#fff; margin-left:-1px; margin-top:-1px;}
			
			.uboxstyle1 UL.tag_options LI,
			.uboxstyle2 UL.tag_options LI,
			.uboxstyle3 UL.tag_options LI,
			.uboxstyle4 UL.tag_options LI,
			.uboxstyle5 UL.tag_options LI{ PADDING-RIGHT:8px; DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px;  COLOR: #5A5A5A; LINE-HEIGHT: 25px; PADDING-TOP: 0px;
 MIN-HEIGHT: 25px; TEXT-DECORATION: none}
			
			.uboxstyle1 UL.tag_options LI.open_hover,
			.uboxstyle2 UL.tag_options LI.open_hover,
			.uboxstyle3 UL.tag_options LI.open_hover,
			.uboxstyle4 UL.tag_options LI.open_hover,
			.uboxstyle5 UL.tag_options LI.open_hover { BACKGROUND:#EFF2F6; COLOR: #5ca2dd;}
			
			.uboxstyle1 UL.tag_options LI.open_selected,
			.uboxstyle2 UL.tag_options LI.open_selected,
			.uboxstyle3 UL.tag_options LI.open_selected,
			.uboxstyle4 UL.tag_options LI.open_selected,
			.uboxstyle5 UL.tag_options LI.open_selected { BACKGROUND:#EFF2F6; COLOR: #5ca2dd;}
			
			
			
			
/*不同的宽度开始*/	
		
			.uboxstyle1 .select_box{WIDTH: 95px;}
			.uboxstyle2 .select_box{WIDTH: 240px;}
			.uboxstyle3 .select_box {WIDTH: 100px;}
			.uboxstyle4 .select_box {WIDTH: 137px;}
			.uboxstyle5 .select_box {WIDTH: 100px;}
			
			.uboxstyle1 DIV.tag_select,.uboxstyle1 DIV.tag_select_open { WIDTH: 62px;}
			.uboxstyle2 DIV.tag_select,.uboxstyle2 DIV.tag_select_open { WIDTH: 207px;}
			.uboxstyle3 DIV.tag_select,.uboxstyle3 DIV.tag_select_open { WIDTH: 67px;}
			.uboxstyle4 DIV.tag_select,.uboxstyle4 DIV.tag_select_open { WIDTH: 104px;}
			.uboxstyle5 DIV.tag_select,.uboxstyle5 DIV.tag_select_open { WIDTH: 67px;}
			
			.uboxstyle1 UL.tag_options{WIDTH: 94px;}
			.uboxstyle2 UL.tag_options{WIDTH: 239px;}
			.uboxstyle3 UL.tag_options {WIDTH: 99px;}
			.uboxstyle4 UL.tag_options {WIDTH: 136px;}
			.uboxstyle5 UL.tag_options {WIDTH: 99px;}
			
			.uboxstyle1 UL.tag_options LI {WIDTH: 78px;}
			.uboxstyle2 UL.tag_options LI {WIDTH: 223px;}
			.uboxstyle3 UL.tag_options LI {WIDTH: 83px;}
			.uboxstyle4 UL.tag_options LI {WIDTH: 120px;}
			.uboxstyle5 UL.tag_options LI {WIDTH: 83px;}
		
		
			
/*不同的宽度结束*/			
/*下拉框结束*/

.hover_map{width:260px; height:50px; border-collapse:collapse; display:none;}

.all_44{width:77%; margin-top:50px; margin-left:auto; margin-right:auto;}

.hover_map{width:260px; height:50px; border-collapse:collapse; display:none;}

.tjqu_dl,.tjqu_dl2{ width:156px; float:left; margin-right:30px; margin-top:34px;}
.tjqu_dl{ height:213px; }
.tjqu_dl2{height:228px;}
.tjqu_dt{ width:156px; height:157px; margin-bottom:10px; position:relative; z-index:1;cursor:pointer;}
.tjqu_img{ position:absolute; z-index:4; cursor:pointer;}
.tjqu_a_img{ position:absolute; z-index:3; top:6px; left:6px;cursor:pointer;}
.tjqu_dd,.tjqu_dd1,.ncgj_dd,.tjqu_2dd{ width:140px; text-align:left; line-height:20px; color:#666c7a; padding:0 8px;}
.tjqu_dd{ font-size:15px; font-weight:bold;}
.tjqu_2dd{ font-size:14px; }
.tjqu_dd1{ font-size:14px; }
.tjdd{ width:160px; height:161px; background:url(../images/li_bg_03_02.png) no-repeat; position:absolute;   bottom:0; right:0; display: none;  top:-2px; left:-2px; }
.rr_llul{ width:21px; height:20px; z-index:4; position:relative; border:1px solid #206fbc;  float:right; background: #4096ee ; top:8px; right:8px;}

.rr_lli{width:14px; height:20px; float:left;  cursor:pointer; padding:1px 4px 0 3px;}
.rr_lli img{ margin-top:2px; z-index:3; position:relative;}


.qu_title{ width:100%; height:28px; border-bottom:1px solid #ccc;}
.qu_font{font-size:17px; line-height:28px; font-weight:bold; color:#666c7a;}
.qu_jb{line-height:28px; margin-left:8px; color:#929292;}
.ncgj{ margin-right:20px;}
.ncgj_dd{ height:40px; line-height:20px; overflow:hidden;}
/*厂区地图结束*/	
/*建筑作物开始*/			

.tc_top_04{ width:100%; height:33px; background: none; margin-top:10px; margin-bottom:10px;}
.tc_top_ul{ width:300px; margin:0 auto; height:32px;}
.tc_top_li{ float:left;}
.tc_top_input{ width:100%; height:32px; line-height:32px; padding:0 5px;  background:url(../images/sous_03.jpg) right no-repeat; float:left;}
.erbox3{ width:100%; min-height:73px;  }
.erlist3 .current a { width:30px; height:29px;background:url(../images/lei_03.jpg) no-repeat center center; }
.erlist3 .li2{ background:url(../images/lei_03.jpg) no-repeat center center; width:30px; display:block; }
.erlist3 {	width:130px; height:30px; margin-top:4px; [;margin-top:5px;]}
.erlist3 li {float:left;}
.erlist3 li a {display:block; width:30px; height:29px;}
.erbox{ width:100%; height:200px; padding-top:44px; border-top:1px solid #ddd; }

.aqu{ width:98%; height:35px; line-height:35px; text-indent:35px; background:#eff4fa; font-size:14px; color:#383838; margin-left:2%;}
.aqu_ul,.aqu_ul2{ margin-left:9px; min-width:320px;}

.aqu_li{ width:98%; min-width:320px; background:url(../images/line_39.jpg) repeat-x  center bottom;padding-top:3px;padding-bottom:3px;}
.mus{color:#a3a3a3;padding-left:20px; min-width:120px;}
.aqu_bg,.aqu_bg2{ font-size:14px; color:#383838; text-indent:20px;}
.aqu_bg a,.aqu_bg2 a{ font-size:14px; color:#383838; text-decoration:none; cursor:pointer; line-height:28px;}
.aqu_bg{background:url(../images/tree_24.jpg) left no-repeat; line-height:30px;}
.aqu_bg2{background:url(../images/tree_20.jpg) left no-repeat; width:130px;}
.aqu_fot{width:100%; min-width:320px; min-height:168px; background:url(../images/aqu_fo_16.jpg) #f5f5f5 top repeat-x;}
.aqu_fotbg{width:100%; height:50px; line-height:50px; text-align:left; text-indent:15px; font-size:14px; background:url(../images/jz_fot_18.jpg) left bottom no-repeat}
.sjj_08,.sjj_09{ padding-right:5px;}/*建筑作物结束*/
/*下拉框结束*/
.list_title{width:100%; height:35px; line-height:35px; text-align:left; font-size:14px;}
.list li { float:left; height:35px; line-height:35px;}
.list li a { display:block;	height:35px; line-height:35px;color:#000; padding-right:10px; padding-left:10px;}
.list .current{height:35px; line-height:35px; background:url(../images/fxon.jpg) left no-repeat; padding-left:2px; }
.list .current a {height:35px; line-height:35px; background:url(../images/fxon.jpg) right no-repeat; float:right; *float:none;  padding-left:8px; color:#fff;}
.boxmon{ padding-top:20px;}
.new_checkbox1{width:21px; height:18px;	background:url(../images/02.gif) bottom no-repeat; float:left;}
.new_checkbox1_2{width:21px; height:18px;	background:url(../images/01.gif) bottom no-repeat; float:left;}
.new_checkbox2{width:21px; height:18px;	background:url(../images/02.gif) bottom no-repeat; float:left;}
.new_checkbox2_2{width:21px; height:18px;	background:url(../images/01.gif) bottom no-repeat; float:left;}

/*排产选择表开始*/
.pc_td{ border-left:1px solid #dddddd; height:39px; vertical-align:middle; text-align:center; }
.pc_tdleft{ border-left:1px solid #dddddd;  height:39px; vertical-align:middle; text-align:center; }
.kh2_td{ border-left:1px solid #dddddd; border-right:1px solid #dddddd;  border-top:1px solid #dddddd; height:39px; vertical-align:middle; text-align:center; }
.pc_Arial{ font-weight:bold;}	
.pc_span{ float:left; margin-left:5px;}	
.pc_lidate{ float:left; min-width:65px; *min-width:104px; height:26px; line-height:26px;}
.pc_ul{width:100%; height:20px; line-height:20px; padding-bottom:8px; border-bottom:1px solid #ddd; margin-bottom:15px;}
.jih{}
.divtd{border-right:1px solid #ddd;}
/*排产选择表结束*/


/*排产计划开始*/

.list_view {background: url(../images/02_63.png) no-repeat; cursor: pointer; display: inline-block; height: 15px; width: 16px;}
.list_edit {background: url(../images/02_60.png) no-repeat; cursor: pointer; display: inline-block; height: 15px; width: 16px;}
.list_delete {background: url(../images/02_62.png) no-repeat; cursor: pointer; display: inline-block; height: 15px; width: 16px;}
.list_jc {background: url(../images/jc.png) no-repeat; cursor: pointer; display: inline-block; height: 15px; width: 16px;}
.list_cs {background: url(../images/cs.png) no-repeat; cursor: pointer; display: inline-block; height: 15px; width: 16px;}


.search_btn_search {
    background: url(../images/fdj_36.jpg) no-repeat;
    cursor: pointer;
    height: 30px;
    margin-right: 15px;
    width: 40px; border:none;
}

.pcjh_t{ background:#ebf5fc; font-size:14px; color:#272727; border:1px solid #dddddd; height:39px; vertical-align:middle; text-align:center; min-width:60px;}
.pcjh_td{background:#f8fbfe;font-size:12px;  color:#666; border:1px solid #dddddd; height:39px; vertical-align:middle; text-align:center;}
.list_ack {background: url(../images/qy02_65.png) no-repeat; cursor: pointer; display: inline-block; height: 15px; width: 16px;}
.list_het {background: url(../images/02_661.png) no-repeat; cursor: pointer; display: inline-block; height: 15px; width: 16px;}
.list_67e {background: url(../images/02_67e.png) no-repeat; cursor: pointer; display: inline-block; height: 15px; width: 16px;}
.list_yug {background: url(../images/02_67.png) no-repeat; cursor: pointer; display: inline-block; height: 15px; width: 16px;}
.tjan_12{height:30px; margin-bottom:5px; text-align:right; }

/*排产计划结束*/
.aqu2{ width:98%; height:35px; line-height:35px; background:#eff4fa; font-size:14px; color:#383838; margin-left:2%; *margin-left:5px;}
.cqt_text{ color:#211F1F; font-size:14px; padding-left:5px;}
.rteic{width:56px; display:inline-block; *display:inherit; height:80px; padding-bottom:8px; float:left; position:relative; z-index:1; margin-top:8px; margin-right:12px;}
.rtehov{ width:56px; height:58px; display:none; }
.rholli{ width:18px; height:18px; float:right;  z-index:106; position:absolute; top:0px; right:4px;}

.rtpic{ width:53px; height:53px; position: absolute; z-index:3;}
.rtimg{ width:53px; height:53px;  z-index:2; position:absolute;  margin-left:auto; margin-right:auto;display:block; cursor:pointer;}
.ritex{ width:53px; height:40px; overflow:hidden; line-height:18px; text-align:center; font-size:12px; position:relative; top:53px; }
.ahimg,.ahimg1{ margin-top:10px; float:right; *margin-top:0;}
.rtquf{width:42px; height:43px; float:right; margin-left:5px;}
.rtquc{ width:42px; height:43px; position: absolute; z-index:3;}
.rtqug{ width:42px; height:43px;  z-index:2; position:absolute;  margin-left:auto; margin-right:auto;}
.tie_00{width:80px; float:left;text-indent:15px;}
.quyu{width:150px; float:left; padding-left:8px; text-align:left;}

.quyu{width:150px; float:left; padding-left:8px; text-align:left;}

.width73 {width: 73px;}




















/*种植开始*/
.zplan{background:#e3f1fc; color:#65666a; font-size:14px;}
.zp_td{border-top:1px solid #CADDEC; border-left:1px solid #CADDEC; height:39px; vertical-align:middle; text-align:center; }
.zptable_01,.zpta3{border-collapse:collapse;  table-layout:fixed;}
.zptable{ background-color:#fff; border-collapse:collapse;  table-layout:fixed; *table-layout:auto; *width:70px; min-width:60px;}
.zptable_01{background-color:#dddddd; }

.zpth_td{border-top:1px solid #CADDEC; border-bottom:1px solid #CADDEC;border-right:1px solid #CADBEB; height:39px; vertical-align:middle; text-align:center; }
.zpth_td2{border-right:1px solid #CADBEB;border-left:1px solid #CADBEB;border-top:1px solid #CADDEC; border-bottom:1px solid #CADDEC; height:39px; vertical-align:middle; text-align:center; }
.zp_bigtd{ min-width:60px; border-right:1px solid #cadbeb; }
.listtd{ background:#ff0000;}
.ap_a{background:#e3f1fc; }

.ap_bg{ background:#fff9d9;  border-top:1px solid #f4d97e; height:39px; vertical-align:middle; text-align:center;}
.ap_bg1{ background:#ebf9e2; border-top:1px solid #bbd7e3; height:39px; vertical-align:middle; text-align:center;}
.ap_bg2{ background:#f9e9ea; border-top:1px solid #e3bbbc; border-bottom:1px solid #e3bbbc; height:39px; vertical-align:middle; text-align:center;}
.pop {  display:none;}
.pop2 {  display:none;}
.pop_td{ width:350px; height:200px; background:#fff; padding:15px;}
.tcdbor{border-bottom:1px solid #eee; height:35px; line-height:35px;}
.tcdtext{ font-size:16px; padding-left:8px; color:#4171a1;}

.tckinput{padding-left:5px; height:40px;}
.tckinput strong input{ width:140px; color:#b0b0b0;}
.tckinput strong{height:26px; line-height:26px; background: url(../images/tck_input.jpg) left no-repeat; padding-left:3px; font-weight:normal; float:left;}
.tckinput strong input{  height:26px; line-height:26px; background: url(../images/tck_input.jpg) right no-repeat; padding-right:3px; font-weight:normal; float:left;}
.tck_text{ color:#666666; font-size:14px;}
.tckint{padding-left:5px; padding-top:10px;}

.ap_font{ font-size:14px; font-weight:bold;  color:#666;}
.ap_font2{ font-size:12px; font-weight:bold;  color:#666 }
.pc_p{display:none; position:absolute; z-index:2; margin-left:80px; margin-top:-75px;}
.pc_p2{display:none; position:absolute; z-index:2; margin-left:100px; margin-top:-90px;}
.pc_name a{ font-size:12px; color:#666; text-decoration:none; position:relative; z-index:3;}
.ap_none{ padding-left:5px;}
.ap_none,.ap_none2{background:url(../images/ling_03.jpg) bottom repeat-x; color:#fff; text-align:left; height:25px; vertical-align:middle;}
.ap_none2{padding-right:5px;}
.zp_lsm{border-collapse:collapse;  table-layout:fixed; *table-layout:auto;  *background:#CADBEB;}
.zp_tdleft,.zp_platd{border-left:1px solid #CADBEB ;border-right:1px solid #CADBEB ;height:39px; vertical-align:middle; text-align:center;}
.zp_tdleft{ border-bottom:1px solid #CADDEC;  }
.zp_platd{ border-bottom:1px solid #CADDEC; min-width:60px; }

.xjft{  height:39px; vertical-align:middle; text-align:center; }
.zp_input_out{
	height:39px; *height:37px; width:100%; line-height:39px; *line-height:37px;
	border:none; text-align:center; color:#666; font-size:12px; font-family:"微软雅黑";
	background-color:#F8FBFE;
	}
.zp_input_off{ width:100%;
	height:39px; *height:37px; line-height:39px; *line-height:37px;
	border:none; text-align:center; color:#666; font-size:12px; font-family:"微软雅黑";
	background-color:#F8FBFE;
	}
.zpca_td{border-bottom:1px solid #CADDEC;border-left:1px solid #CADDEC;border-right:1px solid #CADDEC;  height:39px; vertical-align:middle; text-align:center; min-width:60px; }
.zname{font-size:16px; color:#2870aa; padding:0 5px;}
.est .current .zjjh08 {background:url(../images/zzjh.jpg) left no-repeat;  height:23px; line-height:23px; text-align:center; color:#ffffff;float:left;}
.est .current .zjjh08 strong { background:url(../images/zzjh.jpg) right no-repeat; height:23px; line-height:23px;text-align:center;font-weight:normal; color:#ffffff;float:left;}


.est .li2.current{ background:url(../images/er_h_03.jpg) #fff top repeat-x; color:#383838; font-size:12px; width:99px;}
.est {width:100% ;height:23px;}
.est li {float:right;}
.est li a {display:block; height:23px; line-height:23px; text-align:center; font-size:12px;	color:#383838; padding-left:8px; }
.est li a strong{ color:#3b3b3b;font-weight:normal;padding-right:7px; }
.erbot{ min-height:73px; }




/*种植计划结束*/
/*排产详细开始*/
.paic_table,.paic_cen,.tc_pctable,.tcpctable{ border-collapse:collapse; table-layout:fixed;}

.scroll1{ overflow-x:auto; float:left; *overflow-y:hidden; }
.scroll2{ overflow-x:auto; float:left; *overflow-y:hidden; }
.scr02{ overflow-x:auto;*overflow-y:hidden; padding-bottom:17px; float:left; margin-left:-1px; border-right:1px solid #ddd;}

.tck_pc{ padding:20px; border-left:1px solid #c8dbec; border-right:1px solid #c8dbec; border-bottom:1px solid #c8dbec;}
.hjtj{width:173px; float:left; }
.paic_03,.paicth2,.paic_td,.paicmoon{height:39px; vertical-align:middle; text-align:center; color:#4d4d4d;}
.paic_th{ background:#f8fcff; text-align:center; font-size:14px; color:#4d4d4d;}
.paic_03{ background:#f8fcff; padding:0 2px;}
.paic_td{ background:#f8fcff;font-size:14px;}
.paicth1,.paicmoon{ background:#e3f1fc; vertical-align:middle; text-align:center; font-size:14px; color:#4d4d4d;}
.paicth2{ background:#e3f1fc; min-width:60px;}
.paic_border{border:1px solid #c8dbec;}
.pc_bor_b{border-bottom:1px solid #c8dbec;}
.pc_bor_t{border-top:1px solid #c8dbec; *background:#c8dbec;}
.paic_cen{border-right:1px solid #c8dbec; *border-left:1px solid #c8dbec;}
.paic_cz{width:100px; float:right; margin-left:-1px; *margin-left:-2px; *border-right:1px solid #c8dbec;}
.paic_table{ *background:#c8dbec;}
.mar1,.mar2{ cursor:pointer;}
.pc__1{ border:1px solid #c8dbec; margin-top:-2px; }





.tc_pc00,.tc_pc01,.tc_pc03,.tc_pc04,.tc_pc05,.tc_pc06,.tc_pc07,.tc_pc08{ height:39px; vertical-align:middle; text-align:center; color:#4d4d4d;}
.tc_pc00,.tc_pc01{background:#edf8fe; }
.tc_pc00{ border-left:1px solid #dddddd; border-top:1px solid #ddd; border-bottom:1px solid #ddd; font-size:14px; }
.tc_pc01{ background:#edf8fe; border-top:1px solid #ddd; border-bottom:1px solid #ddd; min-width:90px; font-size:14px; }
.tc_pcccd{ border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; *width:70px;}


.tc_pc03{ border-left:1px solid #dddddd; border-bottom:1px solid #f8fbfe; height:39px; font-size:12px;background:#f8fbfe;}
.tc_pc04{ border-bottom:1px solid #FFFBFC; font-size:12px; background:#FFFBFC; }
.tc_pc05{ border-bottom:1px solid #f8fbfe; font-size:12px;background:#f8fbfe;}
.tc_pc06{ border-bottom:1px solid #FDFCFA; font-size:12px; background:#FDFCFA; }
.tc_pc07{ border-bottom:1px solid #ddd; border-top:1px solid #ddd; font-size:12px; background:#FDEDF3; min-width:90px; font-size:14px;}
.tc_pc08{ border-bottom:1px solid #ddd; border-top:1px solid #ddd; font-size:12px; background:#FCF7EB; min-width:90px; font-size:14px;}
.sslistted,.sslistted2{ padding:25px; display:none;}

.mar{cursor:pointer;}
/*排产详细结束*/

.gm-style-iw{ position:relative; z-index:100;margin-left:10px; }
.div_012{width:220px;}

.zw_bgt2{ width:88px;   position: absolute; z-index:3;}
.zw_libg_img2{ width:88px;  z-index:2; position:absolute;  margin-left:auto; margin-right:auto;display:block; cursor:pointer; }
.ret_pic2{width:92px; height:52px; float:left; position:relative; top:-33px; top:-23px\9;}
.div_width{ width:225px; padding:0px; background:#efefef; margin:0px auto;}
.div_dl2{position:relative; width:140px; *width:130px;  top:-8px; top:-6px\9; [;top:0px;]; margin-left:8px;}
.div_dt2{ font-size:16px; color:#171717; line-height:16px; font-family:"微软雅黑"; font-weight: normal;}
.div_dt3{   display: inline; font-size:13px; color:#e75467; line-height:20px;   background-color: #9bc66d;border-radius: 4px; color: #ffffff; padding: 3px;}
.div_dt4{ width:91px; *width:130px; height:20px; overflow:hidden; font-family:"黑体"; font-size:14px; color:#666666; line-height:22px;}
.gooleedit2{ width:100%; text-align:right;  position:relative;  bottom:30px; right:0; display: none; }

/*地图和甘特地图开始*/
.tc_top_05{ width:100%; height:35px; line-height:35px; background:url(../images/gtdtbg_03.jpg) repeat-x;}
.erlist4 .current a { width:100%; height:35px; background:#ffffff;}
.erlist4 { height:35px;}
.erlist4 li {float:left; width:33%; text-align:center; font-size:14px; color:#21262E;}
.erlist4 li a {display:block; height:35px; text-align:center; min-width:60px; color:#21262E;}
.erlist_min,.erlist3_min { width:134px; height:31px; float:left;}

.erlist_min .leftli01,.erlist3_min .leftli01{ width:33px; height:31px; background:url(../images/dtgt_07.jpg) no-repeat;}
.erlist_min .leftli02,.erlist3_min .leftli02{ width:33px; height:31px; background:url(../images/dtgtt_08.jpg) no-repeat;}
.erlist_min .rightli01,.erlist3_min .rightli01{ width:33px; height:31px; background:url(../images/dtgtt_10.jpg) no-repeat;}

.erlist_min .leftli01.current a,
.erlist3_min .leftli01.current a { width:33px; height:31px; background:url(../images/dtgtt_07.jpg) no-repeat;}

.erlist_min .leftli02.current a,
.erlist3_min .leftli02.current a { width:33px; height:31px; background:url(../images/dtgt_09.jpg) no-repeat;}

.erlist_min .rightli01.current a,
.erlist3_min .rightli01.current a { width:33px; height:31px; background:url(../images/dtgt_10.jpg) no-repeat;}

.erlist_min li,
.erlist3_min li {float:left; text-align:center; }

.erlist_min li a,
.erlist3_min li a {display:block; height:31px; text-align:center; }

.gtdtss{ float:left; height:32px; margin-left:6px;}
.tc_top_li2{ float:left;}
.tc_top_input{ width:100%; height:32px; line-height:32px; padding:0 5px;  background:url(../images/sous_03.jpg) right no-repeat; float:left;}
.tc_top_in2{ height:32px; line-height:32px; padding:0 5px;  background:url(../images/sous_03.jpg) right no-repeat; float:left;width:100%;}


.gttxs{ z-index:1; position:fixed; bottom:0;}

.mapgt_bg{ width:100px; height:36px;background: url(../images/tbs_061.png) left no-repeat; float:left; line-height:36px; text-align:center; color:#808080;}
.mapgt_bg strong{ width:100px; height:36px;background: url(../images/tbs_061.png) right no-repeat; padding-right:5px; font-weight:normal; float:left; color:#808080; font-size:13px;}
.mapgt_bg.this{ width:100px; height:36px;background: url(../images/gttbs_07.png) left no-repeat; float:left; line-height:36px; text-align:center; color:#676767;}
.mapgt_bg.this strong{ width:100px; height:36px;background: url(../images/gttbs_07.png) right no-repeat; padding-right:5px; font-weight:normal; float:left; color:#676767; font-size:13px;}


.mapgt_bg1{ width:68px; height:36px;background: url(../images/tbs_06.png) left no-repeat; padding-left:5px; float:left; line-height:36px; text-align:center; color:#808080;}
.mapgt_bg1 strong{ width:68px; height:36px;background: url(../images/tbs_06.png) right no-repeat; font-weight:normal; float:left; color:#808080; font-size:13px;}
.mapgt_bg1.this{ width:68px; height:36px;background: url(../images/gttbs_107.png) left no-repeat; padding-left:5px; float:left; line-height:36px; text-align:center;color:#676767;}
.mapgt_bg1.this strong{ width:68px; height:36px;background: url(../images/gttbs_107.png) right no-repeat; font-weight:normal; float:left;color:#676767; font-size:13px;}

.mapgt_bg2{ width:68px; height:36px;background: url(../images/tbs_06.png) left no-repeat; border-left:1px solid #bcbcbe; border-right:1px solid #bcbcbe; float:left; line-height:36px; text-align:center; color:#808080;}
.mapgt_bg2 strong{ width:68px; height:36px;background: url(../images/tbs_06.png) right no-repeat; font-weight:normal; float:left; color:#808080; font-size:13px;}
.mapgt_bg2.this{ width:68px; height:36px;background: url(../images/gttbs_071.png) left no-repeat; float:left; line-height:36px; text-align:center;color:#676767;}
.mapgt_bg2.this strong{ width:68px; height:36px;background: url(../images/gttbs_071.png) right no-repeat; font-weight:normal; float:left;color:#676767; font-size:13px;}

.gtt_ico{ width:660px; float:left; padding-top:20px; margin-left:30px;}
.gtt_ic_li{float:left; margin:0 10px;}

.zitc_03{ width:240px; height:26px; margin:23px auto 0 auto; }
.zitc_span{background:url(../images/zitc_03.jpg) left no-repeat; float:left; padding-left:15px; height:26px;}
.zitc_strong .current a { width:100%; height:26px; background:url(../images/ztc_03.jpg) no-repeat;}
.zitc_strong {background:url(../images/zitc_03.jpg) right no-repeat; float:left; padding-right:15px; font-weight:normal; height:26px;}
.zitc_strong .zitc_stli {float:left; line-height:26px; min-width:70px; text-align:center; margin-top:1px;}
.zitc_strong .zitc_stli a {display:block;float:left; min-width:70px; line-height:26px; text-align:center; color:#21262E;}

.zi_tb,.zi_tb1,.zi_tb2{ border-collapse:collapse; margin:0 auto; background:#fff;}
.zi_tdth,.zi_tdtd,.zi_tdth1,.zi_tdtd1,.zi_tdth2,.zi_tdtd2{ height:35px; vertical-align:middle; font-size:13px; font-weight:normal; text-align:center; color:#545559;}
.zi_tdtd,.zi_tdtd1,.zi_tdtd2{border-bottom:1px solid #ececec;}
.zi_tdth,.zi_tdth1,.zi_tdth2{border-bottom:1px solid #d6dcea;}
.zi_tb .even .zi_tdtd,.zi_tb1 .even .zi_tdtd1,.zi_tb2 .even .zi_tdtd2{ background:url(../images/td_bg_07.jpg) repeat-x;}




.divLq { position:relative; bottom:0px;  table-layout:fixed;}

.divLq .floatLq {
	 width:81px;
}
.divLq .floatLq A {
	 DISPLAY: block; FONT-SIZE: 0px;
}
.divLq .floatRq { bottom:0; overflow: hidden; background:#fff;  margin-left:5px;}

.divLq .btnOpenq {
	background: url(../images/tbs_13.png) no-repeat;position: relative; width:81px; height:12px; 
}
.divLq .btnCtnq {
	background: url(../images/tbs_13.png) no-repeat; position: relative; width:81px; height:12px;}




/*单选框开始*/
 #sex_male ,
 #sex_female ,
 {
  display:none
 }
.six4 label
 {
  display:-moz-inline-block;
  display:inline-block;
  cursor:pointer;
  margin:5px 5px 5px 0;
  padding-left:25px;
  line-height:19px;
  background:url(../images/forms-radio2.gif) no-repeat left top; font-size:14px;
 }
.six4 label.checked
 {
  background-position:left bottom; font-size:14px;
 }
/*单选框结束*/


.pcaqu2{ width:98%; height:35px; line-height:35px; font-size:14px; color:#383838; margin-left:2%; *margin-left:5px;}
.pca_li{ width:100%; padding:10px 0; border-top:1px solid #ddd;}
.pca_font{  color:#333; padding-left:8px; font-weight:bold; line-height:20px;}
.pca_font1{ font-size:11px; color:#8e8e8e; padding-left:8px; line-height:20px;}
.pca_hg{ padding-left:8px;}
.pcic{width:33%; display:inline-block; *display:inherit; height:102px; padding-top:8px; float:left;}
.pcpic{ width:99px; height:102px; position: absolute; z-index:3; cursor:pointer;}
.pcimg{ width:70px; height:70px;  z-index:2; position:absolute;  margin-top:5px; display:block; margin-left:10px;}
.pcimg div{ width:70px; height:70px;  z-index:2; position:absolute;  margin-top:5px; display:block; margin-left:5px;}

.pctext{ width:99px; height:18px; overflow:hidden; line-height:18px; text-align:center; font-size:12px; position:relative; z-index:4; top:83px;  }
/*地图和甘特地图结束*/

/*排产作物开始*/
.pc_bgdiv{ position:absolute; float:right; z-index:5; margin-left:65px; margin-top:-5px;}
.pc_bgno{ height:15px; float:left; background:url(../images/bg22.png) left no-repeat; padding-left:7px;}
.pc_bgno strong{ height:15px; float:left; line-height:15px; background:url(../images/bg22.png) right no-repeat; padding-right:7px; color:#fff; font-weight:normal; margin-right:-5px;}

.spctab_le{table-layout:fixed; border-collapse:collapse; margin-bottom:10px; font-size:14px;}
.spcine{ width:80px; background: url(../images/sel_bg_07.jpg) repeat-x; border:1px solid #dadada; height:36px; text-align:center;}
.spcbgc{ text-align:left; padding-left:10px; background:#f5f5f5; border:1px solid #dadada; height:36px; }

	.input_on3{
	height:36px; *height:34px;
	border:none;
	background:url(../images/inpu_bg_03.jpg) #dfdfdf top repeat-x;
	}
	.input_off3{
	height:36px; *height:34px;
	border:none;
	background-color:#f5f5f5;
	}
	.input_move3{
	height:36px; *height:34px;
	border:noen;
	background:url(../images/inpu_bg_03.jpg) #dfdfdf top repeat-x;
	}
	.input_out3{
	height:36px; *height:34px;
	border:none;
	background-color:#f5f5f5;
	}
	.input_on3,.input_off3,.input_move3,.input_out3{width:100%; font-family:"微软雅黑"; font-size:14px; color:#666; text-align:center; line-height:36px; *line-height:34px;}
.semxline,.semxnene{ border:1px solid #dadada; height:36px; text-align:center;}
.semxline{ width:58px; background: url(../images/sel_bg_07.jpg) repeat-x; }
.semxnene{  background:#f5f5f5;}


/*排产作物结束*/
/*#floatTools{ background-color:#0033FF; height:100%; position:fixed; right:0; z-index:10000; margin-top:60px;}
.map_bg{ background-color:#fff000; height:100px; overflow:hidden; }*/
.dataPanel{width:100%;}

.rido1{width:20px; height:18px;  background:url(forms/radio1.gif) no-repeat; display:block; float:left; }
.rido2{width:20px; height:18px;  background:url(forms/radio2.gif) no-repeat; display:block; float:left; }

*=======================================*/




#reido1{width:20px; height:18px;  background:url(../images/radio1.gif) no-repeat; display:block; float:right; margin-top:13px;}
.reido2{width:20px; height:18px;  background:url(../images/radio2.gif) no-repeat; display:block; float:right; margin-top:13px;}
.reili{ height:30px; padding:8px 0;}
#gjtop1{ background:url(../images/gjtop.jpg) right no-repeat; color:#4c4c4c; text-decoration:none; padding-right:14px;}
#gjbott2{ background:url(../images/gjbottom.jpg) right no-repeat; color:#4c4c4c; text-decoration:none; padding-right:14px;}
#ftitle{  border-bottom:1px solid #cfe3f3;  padding:3px 30px; }
/*单选框开始*/
 .reili #sex_male ,
 .reili #sex_female ,
 .reili #sex_nomale,.sex_nomale
 {
  display:none
 }
.reili .six3 label
 {
  display:-moz-inline-block;
  display:inline-block;
  cursor:pointer;
  margin:5px 5px 5px 0;
  padding-left:25px;
  line-height:19px;
  background:url(../images/forms-radio2.gif) no-repeat left top;
 }
.reili .six3 label.checked
 {  background:url(../images/forms-radio2.gif) no-repeat left bottom;
 }
/*单选框结束*/
.tpcc_font{min-width:60px;}
.lapc_div {
    display: inline-block;
    float: left;
    padding-right: 15px;
}
.lapc_div .s_pan{ float:left; *margin-right:15px; margin-left:5px;margin-top:-2px;font-size:11px;}
#tttj .pc_name .pc_p{display:none; position:absolute; z-index:2; margin-left:80px; margin-top:-113px;}
/*排产统计结束*/

.font_007{
width:77px;display:block; text-align:right; float:left;}


.work_ser{height: 30px; line-height: 30px;   margin-top: 10px;}




.zw_ul001{ width:100%; padding-top:25px;}
.zw_libg001{ width:137px; height:175px; float:left; position: relative; margin:10px 5px; *margin-left:0;}
.zw_bgt001{ width:137px; height:137px; position: absolute; z-index:3;}

.zw_libg_img001{ width:137px; height:137px;  z-index:2; position:absolute;  margin-left:auto; margin-right:auto;display:block; cursor:pointer;}
.zw_text001{ width:137px; line-height:18px; text-align:center; font-size:14px; position:relative; top:147px;}
.zw_text2001{ width:137px; line-height:18px; text-align:center; font-size:14px; position:relative;}



/*厂区图图标新样式开始*/

.serinput{width:120px; height:35px; line-height:35px; color:#555;  background:url(../images/serinput.png) left no-repeat; padding-left:4px; font-size:12px;}

.map_0search{width:49px; height:51px;  position:absolute; z-index:3; float:right; right:0;}

/*厂区图图标新样式结束*/
.yeardiv{width:120px; height:30px; line-height:30px; float:right; margin-top:14px;}
.yearli{ width:30px; height:30px; line-height:30px; float:left; cursor:pointer; }
.yearlic{ width:60px; height:30px; line-height:30px; float:left;background:url(../images/yearcen.jpg) no-repeat; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#333;}

/*4月30号模版添加页面样式开始*/
.bjtitle{ font-size:18px; color:#5f5e5e; padding-left:15px;}
.bjlinebg{ background:url(../images/mobgline.jpg) center repeat-y; }
.bjtabul{ margin-left:26px;}
.shangchuan{ font-size:14px; color:#3a7cd2;}
.toubufont{width:80px; font-size:15px; color:#414141;}
.bjtabul_li{ padding:5px 0;}
.bjinput{ width:150px; height:27px; text-align:left; line-height:27px; background:url(../images/inputbg_12.jpg) repeat-x; border:1px solid #c5c5c5;}
.bjchecbox{ min-width:160px; height:20px; margin-bottom:8px; float:left; line-height:20px;}
.bjfont{ display: inline-block; font-size: 14px; height: 20px; line-height: 20px; margin-top: 5px; position: relative; color:#414141;}
/*4月30号模版添加页面样式结束*/

.r_sj_div {
    float: left;
    height: 882px;
    margin-left: 50px;
    margin-top: 15px;
    width: 392px;
}


.content2{background:none; padding:0 3px; }
.top_logo{ width:100%; height:22px;}
.logo{ float:left; width:45%-;width:auto;max-width:300px; height:18px; text-align:left;}
.logo img{max-width:100%;}
.fenx{ float:left; width:50%; *width:49%; height:18px; text-align:right;}
.fenx_ul{ float:right;}
.city_nav{ float:right; margin-right:5px; cursor:pointer;}

.goodsname{ width:100%; height:20px; line-height:20px; text-align:center; font-size:14px; color:#333; font-weight:bold;}
.goodsname2{ width:100%; height:18px; line-height:18px; text-align:center; font-size:10px; font-family:Hiragino Sans GB W3; color:#333; padding-bottom:5px;}
.maturity{ width:100%; height:97px; text-align:center;}
.maturity2{ width:100%; height:97px; text-align:center;}
.goodsul{ margin:0 auto; height:50px;}
.addico{border-top:1px solid #bdbdbd; padding-top:4px;}
.adress{height:36px; font-size:12px; color:#2c3236; font-family:\5FAE\8F6F\96C5\9ED1;border-top:1px solid #bdbdbd; padding-top:2px;}
.calendar{ width:57px; height:44px; padding-top:6px; position:absolute; right:15px; z-index:1; background:url(../images/calendar.jpg) no-repeat;}
.caleqi{font-size:12px; color:#fff; text-align:center; width:57px; height:14px; line-height:14px;}
.caleday{ width:57px; height:20px; line-height:20px; text-align:center;}

.bc_table01{border-collapse:collapse; margin:0 auto; background:#fff; width:95%;}
.bc_th01{height:35px; vertical-align:middle; border:1px solid #ececec; font-size:13px; font-weight:normal; text-align:center; color:#545559; background:url(../images/tab_thbg.jpg) repeat-x;}
.bc_td01{height:35px; vertical-align:middle; border:1px solid #ececec; text-align:center;}

/*5月29号新加样式*/
.block_img{display: inline-block; margin-bottom: 15px; margin-left:145px;  width:278px; float:left;}
.block_img2{display: block; margin-bottom: 15px; margin-left:145px; }
.block_img3{display: block; margin-bottom: 15px; margin-left: 145px; }
.block_img2 img,.block_img3 img{float:left; margin:5px 8px;}

.area_w{width:693px;}
.getddiw{width:100px;}



.newstyle{border-top:1px solid #CADDEC; border-bottom:1px solid #CADDEC; height:39px; vertical-align:middle; text-align:center;background:#e3f1fc; color:#65666a; font-size:14px; }
.newstyle2{height:39px; vertical-align:middle; color:#666; text-align:center; border-bottom:1px solid #CADDEC; min-width:60px;}
.newstyle3{border-right:1px solid #CADBEB ;height:39px; vertical-align:middle; text-align:center; border-bottom:1px solid #CADDEC;  font-size:12px; font-family:"宋体"; color:#666; background:#f8fbfe; }

.new_divst{border:1px solid #ddd; background:#f8f7f7; margin-bottom:20px; padding:10px 0;}
.newdivfont{ font-size:16px; color:#415175; padding-left:30px; padding-top:5px; padding-bottom:10px; height:30px; line-height:30px;}
.newdivfont1{width:100%; font-size:16px; color:#415175; padding-left:30px; padding-top:5px; padding-bottom:10px; height:30px;}

/
/* 公用面包屑导航  */
.mr5{ margin-right:5px;}
.r_t_l{ font-family:'微软雅黑'; font-size:14px; color:#525252;}
.r_t_l span{ font-size:14px; padding:0 5px;}
.r_t_l em{ padding:0 5px; font-style:normal; }
.r_t_l font,.r_t_l a strong{ font-size:16px;color:#525252; font-weight:normal;}
.r_t_l .num{ padding:0 5px; font-size:14px; color:#4d9dd3;}
.r_t_l .num i{ padding:0 2px; font-style:normal;}
.cm_resumeList{}
.cm_resumeList li{ float:left;}
.cm_resumeList li a{display:block; height:44px; line-height:44px; padding:0 10px; font-size:14px; color:#3f3f3f; overflow:hidden; font-family:'微软雅黑';}
.cm_resumeList li a:active{border-bottom:2px solid #33aedc;}
.cm_resumeList li img{ float:left; margin-top:16px;}
.cm_resumeList li span{ float:left; text-indent:10px;}
.borderBt{ border-bottom:2px solid #33aedc;}
.borderBt02{ border-bottom:1px solid #cbcbcb;}

/* 左侧导航提示框 新增样式 */
.left_c1{ background:none;}
.left_culi{ position:relative;}
.left_culi a {
    display:inherit;
    height: auto;
    width: auto;
}
.left_culi a:hover{	width:77px; height:65px; display:block; background:none; cursor:pointer;}
.left_culi > a:hover{width:77px; height:auto; display:block; background:url(../images/lef_hover2.jpg) no-repeat; cursor:pointer;}
.left_culi > a { display:block; height:69px; width:77px;}
.shadow-silver-dark { box-shadow:0 0 10px #727a8d;}
.sidebarUl{ position: absolute; margin:0px; padding:0px; top:0px; left:100%; background:url(../images/lefbg.jpg); list-style:none; z-index:99; display:none; white-space: nowrap; border-radius:3px; border-collapse:separate;}
.sidebarUl > li{ position:relative; margin:0 0 0 -4px; list-style:none; display:inline-block; text-align:center; font-size: 11px; color:#626262; width:77px; height:67px; background:url(../images/leftLevel_bg.png) no-repeat right top;}
.sidebarUl > li:first-child{margin-left:0; border-radius:3px 0 0 3px;}
.sidebarUl > li:last-child{ border-radius:0 3px 3px 0; background:url(../images/leftLevel_bg.png) no-repeat 77px top;}
.sidebarUl > li.hover{ background:url(../images/bgLeftSan03.png) no-repeat;}
.sidebarUl li a{ color:#626262;}
.sidebarUl li:hover a{ width:77px; height:67px;} 
.sidebarUl > li > a{ display:block; color:#445476; width:77px; height:auto; font-family:'黑体'; font-size:13px; font-weight:bold;}
.sidebarUl > li > a:hover{ color:#546484; text-decoration:none;}
.sidebarUl li.divider{ height:58px; width:1px; margin:-14px -4px -24px -4px; border-left:1px solid #CDCDCD;}
.sidebarUl .helper-height-24 { height:33px; margin-top:7px; overflow:hidden;}
.sidebarUl .sidebar-text{ display:block; padding-top:6px;}


/*建筑作物开始*/			

.tc_top_04{ width:100%; height:33px; background: none; margin-top:10px; margin-bottom:10px;}
.tc_top_ul{ width:300px; margin:0 auto; height:32px;}
.tc_top_li{ float:left;}
.tc_top_input{ width:100%; height:32px; line-height:32px; padding:0 5px;  background:url(../images/sous_03.jpg) right no-repeat; float:left;}
.erbox3{ width:100%; min-height:73px;  }
.erlist3 .current a { width:30px; height:29px;background:url(../images/lei_03.jpg) no-repeat center center; }
.erlist3 .li2{ background:url(../images/lei_03.jpg) no-repeat center center; width:30px; display:block; }
.erlist3 {	width:130px; height:30px; margin-top:4px; [;margin-top:5px;]}
.erlist3 li {float:left;}
.erlist3 li a {display:block; width:30px; height:29px;}
.erbox{ width:100%; height:200px; padding-top:44px; border-top:1px solid #ddd; }

.aqu{ width:98%; height:35px; line-height:35px; text-indent:35px; background:#eff4fa; font-size:14px; color:#383838; margin-left:2%;}
.aqu_ul,.aqu_ul2{ margin-left:9px; min-width:320px;}

.aqu_li{ width:98%; min-width:320px; background:url(../images/line_39.jpg) repeat-x  center bottom;padding-top:3px;padding-bottom:3px;}
.mus{color:#a3a3a3;padding-left:20px; min-width:120px;}
.aqu_bg,.aqu_bg2{ font-size:14px; color:#383838; text-indent:20px;}
.aqu_bg a,.aqu_bg2 a{ font-size:14px; color:#383838; text-decoration:none; cursor:pointer; line-height:28px;}
.aqu_bg{background:url(../images/tree_24.jpg) left no-repeat; line-height:30px;}
.aqu_bg2{background:url(../images/tree_20.jpg) left no-repeat; width:130px;}
.aqu_fot{width:100%; min-width:320px; min-height:168px; background:url(../images/aqu_fo_16.jpg) #f5f5f5 top repeat-x;}
.aqu_fotbg{width:100%; height:50px; line-height:50px; text-align:left; text-indent:15px; font-size:14px; background:url(../images/jz_fot_18.jpg) left bottom no-repeat}
.sjj_08,.sjj_09{ padding-right:5px;}/*建筑作物结束*/

.tc_top_03{ width:100%; height:35px; line-height:35px; text-align:left; font-size:14px; color:#3e3e3e; text-indent:15px; background: url(../images/tc_top_03.jpg) repeat-x;}
.tc_top_044{ width:100%; height:35px; line-height:35px; text-align:left; font-size:14px; color:#3e3e3e; text-indent:15px; background: url(../images/tc_top_03.jpg) repeat-x;}
.tc_top_05{ width:100%; height:35px; line-height:35px; text-align:left; font-size:16px; color:#3e3e3e; background: url(../images/tc_top_03.jpg) repeat-x;}
.tc_cont{ width:100%; margin:0 auto;}
.tc_rw_rw2{ width:100%; height:448px; overflow-x: hidden;overflow-y: auto; position:relative;}
.tc_rw_rw2 .jScrollbar_mask { /* text container */	*width:97%;		position:relative;		padding-left:10px;	top:0;		float:left; 	}
.tc_rw_rw2 .jScrollbar_draggable a.draggable { position:relative; background-color:#79a8f0; display:block; height:70px; width:13px; float:left;cursor:s-resize;}
.tc_rw_rw2 .jScrollbar_draggable { float:right; height:100%; overflow:hidden; background:transparent url(../images/rwl2_03.jpg) repeat-y center top; position:relative}

	.jScrollbar_mask { /* text container */
		width:100%;
		position:relative;
		top:0;
		float:left
	}
	.jScrollbar_mask2 {
    border-right: 1px solid #DDDDDD;
    float: left;
    min-height: 248px;
    position: relative;
    top: 0;
    width: 96%; 
    margin-left:-1px;
}
