/*新版控件样式*/
.switch{font-size:14px;}
.month{font-size:12px;}
.datetimepicker table tr td span {
    border-radius: 4px;
    cursor: pointer;
    display: block;
    float: left;
    height: 38px;
    line-height: 38px;
    margin: 1%;
    width: 23%;
}
.table-hover tbody tr.info:hover td {
    background-color: #c4e3f3;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("../images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] {
    background-image: url("..images/glyphicons-halflings-white.png");
}
.icon-glass {
    background-position: 0 0;
}
.icon-music {
    background-position: -24px 0;
}
.icon-search {
    background-position: -48px 0;
}
.icon-envelope {
    background-position: -72px 0;
}
.icon-heart {
    background-position: -96px 0;
}
.icon-star {
    background-position: -120px 0;
}
.icon-star-empty {
    background-position: -144px 0;
}
.icon-user {
    background-position: -168px 0;
}
.icon-film {
    background-position: -192px 0;
}
.icon-th-large {
    background-position: -216px 0;
}
.icon-th {
    background-position: -240px 0;
}
.icon-th-list {
    background-position: -264px 0;
}
.icon-ok {
    background-position: -288px 0;
}
.icon-remove {
    background-position: -312px 0;
}
.icon-zoom-in {
    background-position: -336px 0;
}
.icon-zoom-out {
    background-position: -360px 0;
}
.icon-off {
    background-position: -384px 0;
}
.icon-signal {
    background-position: -408px 0;
}
.icon-cog {
    background-position: -432px 0;
}
.icon-trash {
    background-position: -456px 0;
}
.icon-home {
    background-position: 0 -24px;
}
.icon-file {
    background-position: -24px -24px;
}
.icon-time {
    background-position: -48px -24px;
}
.icon-road {
    background-position: -72px -24px;
}
.icon-download-alt {
    background-position: -96px -24px;
}
.icon-download {
    background-position: -120px -24px;
}
.icon-upload {
    background-position: -144px -24px;
}
.icon-inbox {
    background-position: -168px -24px;
}
.icon-play-circle {
    background-position: -192px -24px;
}
.icon-repeat {
    background-position: -216px -24px;
}
.icon-refresh {
    background-position: -240px -24px;
}
.icon-list-alt {
    background-position: -264px -24px;
}
.icon-lock {
    background-position: -287px -24px;
}
.icon-flag {
    background-position: -312px -24px;
}
.icon-headphones {
    background-position: -336px -24px;
}
.icon-volume-off {
    background-position: -360px -24px;
}
.icon-volume-down {
    background-position: -384px -24px;
}
.icon-volume-up {
    background-position: -408px -24px;
}
.icon-qrcode {
    background-position: -432px -24px;
}
.icon-barcode {
    background-position: -456px -24px;
}
.icon-tag {
    background-position: 0 -48px;
}
.icon-tags {
    background-position: -25px -48px;
}
.icon-book {
    background-position: -48px -48px;
}
.icon-bookmark {
    background-position: -72px -48px;
}
.icon-print {
    background-position: -96px -48px;
}
.icon-camera {
    background-position: -120px -48px;
}
.icon-font {
    background-position: -144px -48px;
}
.icon-bold {
    background-position: -167px -48px;
}
.icon-italic {
    background-position: -192px -48px;
}
.icon-text-height {
    background-position: -216px -48px;
}
.icon-text-width {
    background-position: -240px -48px;
}
.icon-align-left {
    background-position: -264px -48px;
}
.icon-align-center {
    background-position: -288px -48px;
}
.icon-align-right {
    background-position: -312px -48px;
}
.icon-align-justify {
    background-position: -336px -48px;
}
.icon-list {
    background-position: -360px -48px;
}
.icon-indent-left {
    background-position: -384px -48px;
}
.icon-indent-right {
    background-position: -408px -48px;
}
.icon-facetime-video {
    background-position: -432px -48px;
}
.icon-picture {
    background-position: -456px -48px;
}
.icon-pencil {
    background-position: 0 -72px;
}
.icon-map-marker {
    background-position: -24px -72px;
}
.icon-adjust {
    background-position: -48px -72px;
}
.icon-tint {
    background-position: -72px -72px;
}
.icon-edit {
    background-position: -96px -72px;
}
.icon-share {
    background-position: -120px -72px;
}
.icon-check {
    background-position: -144px -72px;
}
.icon-move {
    background-position: -168px -72px;
}
.icon-step-backward {
    background-position: -192px -72px;
}
.icon-fast-backward {
    background-position: -216px -72px;
}
.icon-backward {
    background-position: -240px -72px;
}
.icon-play {
    background-position: -264px -72px;
}
.icon-pause {
    background-position: -288px -72px;
}
.icon-stop {
    background-position: -312px -72px;
}
.icon-forward {
    background-position: -336px -72px;
}
.icon-fast-forward {
    background-position: -360px -72px;
}
.icon-step-forward {
    background-position: -384px -72px;
}
.icon-eject {
    background-position: -408px -72px;
}
.icon-chevron-left {
    background-position: -432px -72px;
}
.icon-chevron-right {
    background-position: -456px -72px;
}
.icon-plus-sign {
    background-position: 0 -96px;
}
.icon-minus-sign {
    background-position: -24px -96px;
}
.icon-remove-sign {
    background-position: -48px -96px;
}
.icon-ok-sign {
    background-position: -72px -96px;
}
.icon-question-sign {
    background-position: -96px -96px;
}
.icon-info-sign {
    background-position: -120px -96px;
}
.icon-screenshot {
    background-position: -144px -96px;
}
.icon-remove-circle {
    background-position: -168px -96px;
}
.icon-ok-circle {
    background-position: -192px -96px;
}
.icon-ban-circle {
    background-position: -216px -96px;
}
.icon-arrow-left {
    background-position: -240px -96px;
}
.icon-arrow-right {
    background-position: -264px -96px;
}
.icon-arrow-up {
    background-position: -289px -96px;
}
.icon-arrow-down {
    background-position: -312px -96px;
}
.icon-share-alt {
    background-position: -336px -96px;
}
.icon-resize-full {
    background-position: -360px -96px;
}
.icon-resize-small {
    background-position: -384px -96px;
}
.icon-plus {
    background-position: -408px -96px;
}
.icon-minus {
    background-position: -433px -96px;
}
.icon-asterisk {
    background-position: -456px -96px;
}
.icon-exclamation-sign {
    background-position: 0 -120px;
}
.icon-gift {
    background-position: -24px -120px;
}
.icon-leaf {
    background-position: -48px -120px;
}
.icon-fire {
    background-position: -72px -120px;
}
.icon-eye-open {
    background-position: -96px -120px;
}
.icon-eye-close {
    background-position: -120px -120px;
}
.icon-warning-sign {
    background-position: -144px -120px;
}
.icon-plane {
    background-position: -168px -120px;
}
.icon-calendar {
    background-position: -192px -120px;
}
.icon-random {
    background-position: -216px -120px;
    width: 16px;
}
.icon-comment {
    background-position: -240px -120px;
}
.icon-magnet {
    background-position: -264px -120px;
}
.icon-chevron-up {
    background-position: -288px -120px;
}
.icon-chevron-down {
    background-position: -313px -119px;
}
.icon-retweet {
    background-position: -336px -120px;
}
.icon-shopping-cart {
    background-position: -360px -120px;
}
.icon-folder-close {
    background-position: -384px -120px;
}
.icon-folder-open {
    background-position: -408px -120px;
    width: 16px;
}
.icon-resize-vertical {
    background-position: -432px -119px;
}
.icon-resize-horizontal {
    background-position: -456px -118px;
}
.icon-hdd {
    background-position: 0 -144px;
}
.icon-bullhorn {
    background-position: -24px -144px;
}
.icon-bell {
    background-position: -48px -144px;
}
.icon-certificate {
    background-position: -72px -144px;
}
.icon-thumbs-up {
    background-position: -96px -144px;
}
.icon-thumbs-down {
    background-position: -120px -144px;
}
.icon-hand-right {
    background-position: -144px -144px;
}
.icon-hand-left {
    background-position: -168px -144px;
}
.icon-hand-up {
    background-position: -192px -144px;
}
.icon-hand-down {
    background-position: -216px -144px;
}
.icon-circle-arrow-right {
    background-position: -240px -144px;
}
.icon-circle-arrow-left {
    background-position: -264px -144px;
}
.icon-circle-arrow-up {
    background-position: -288px -144px;
}
.icon-circle-arrow-down {
    background-position: -312px -144px;
}
.icon-globe {
    background-position: -336px -144px;
}
.icon-wrench {
    background-position: -360px -144px;
}
.icon-tasks {
    background-position: -384px -144px;
}
.icon-filter {
    background-position: -408px -144px;
}
.icon-briefcase {
    background-position: -432px -144px;
}
.icon-fullscreen {
    background-position: -456px -144px;
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
    cursor: pointer;
    height: 14px;
    margin-left: -19px;
    width: 14px;
}

/*0105 by zhz start*/
 
	/*区分 li>td>div>span 布局*/
	li>div>span i.icon-th{
		margin-top:6px;
	}
	
	td>div>span i.icon-th2{
		margin-top:6px;
	}
	
	.icon-notli{
		margin-left:-22px;
	}
	
	div.form_datetime input {
		text-indent: 10px;
	}
/*0105 by zhz end */

.form_datetime input{border:1px solid #CCC; height:30px; line-height:30px;}
.form_datetime2 input{border:1px solid #CCC; height:30px; line-height:30px;}
.new_time{width:221px;float:left;}

.nw200{width:200px;}
.nw221{width:221px;}
.nw420{width:420px;}
.nw115{width:115px;}
.nw150{width:150px;}
.nw310{width:310px;}
.nw123{width:123px;}
.nw165{width:165px;}
.nw75{width:75px;}
.nw100{width:100px;}
.nw350{width:350px;}
.nw84{width:84px;}
.nw250{width:250px;}
.nw90{width:90px;}

.finput{float:left;display:block; vertical-align:middle;font-size:12px;height:30px;line-height:30px;margin-left:4px;}
.cx_search{margin-bottom: 30px; width:310px; }

body {    font-size: 12px;
    color: #000;
    font-family:"微软雅黑"; height:100%;
    line-height: 150%;
    margin: 0;
    padding: 0;
}
.tbimg {
    position: relative;
    top: -1px;
}

.modal-dialog {
    margin: 30px auto;
    width: 600px;
}
.w600na{margin:0 auto;}
/*头部下拉问题*/
.r_ulli2 ul li a{ text-decoration:none; box-sizing: border-box;}
.r_ulli2 ul li a img {
    vertical-align:inherit;
}
.rt_top{margin-left:5px; z-index:1; position:relative; top:0px;}

.tjan_05_new {
    float: right;
    margin-top: -5px;
    width: 11%;
    min-width: 100px;
}
.nw300{width:300px; height:32px;}
.nw400{width:400px;}
.nw340{width:340px;}
.nw73{width:73px;}
.nw160{width:160px;}
.nw85{width:85px;}
.nw180{width:180px;}
.nw226{width:226px;}

/*搜索框*/
.octicon-search02{background:url(../images/cjsearch_bg.png) center center no-repeat; width:13px; height:13px; display:block; float:left;    left: 8px;
    position:absolute;
    top: 10px;
    width: 13px;
    z-index: 3; }

.srarchfont{ text-indent:15px; color:#d2d2d2;}

.public-search{ position:relative; float:left;margin-right:3px;}
.sn_search{float:left}

.my_new_fonts{font-size:14px;font-weight: 700;margin-left: 5px;}
.xl_new{float: right; height: 40px; margin-right: 39px; width: 190px; margin-top: -60px;}
.xl_new2{float: right;  height: 40px; margin-right: 39px;  margin-top: -16px; width: 190px; margin-right: 31px;}
.tjan_05 {
    float: right;
    height: 30px;
    width: 100px;
}
.btn-group > .btn:first-child {
    margin-left: 0;
    margin-right: -1px;
}

/*地块信息排序样式*/
.public-search{ position:relative;}
.public-search .btn{padding-left:25px;}
.buttom_img{background:url(../images/px.png) center center no-repeat; width:13px; height:13px; display:block; float:left;    left: 8px;
    position:absolute;
    top: 10px;
    width: 13px;
    z-index: 3;  }

    .label_new {
    border-radius: 0.25em;
    padding: 0.2em 0.6em 0.3em;
    color: #666666;
    float: left;
    height: 26px;
    line-height: 26px;
    margin-right: 5px;
    text-align: right;
    width: 85px;
    
}
.messages{position:relative; z-index:55px; width:500px; height:20px; margin:-40px auto 0 auto; color:#ff0000; padding-top:8px; margin-left:200px;}


/* 大事记 空白页 */
.cm_writeEvt{ position:relative; padding-bottom:200px; margin-bottom:-200px; background:url(../images/cm_ggxxIco4.jpg) repeat-y 20px 0; font-family:"宋体";}
.cm_dsjBtn2{ position:absolute; top:0; right:0; margin-right:80px;}
.cm_dsjBtn2{padding:6px 18px; font-size:14px; line-height:1.42857143; white-space:nowrap; vertical-align:middle; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; background-image:none; border:1px solid #d6d6d6; border-radius:4px; background:#5cb85c; color:#fff;}
.cm_dsjBtn2:hover { background:#449d44; border-color:#adadad;}

.cm_writeEvt h3.cm_dsjTtl{ background:url(../images/cm_ggxxIco5.jpg) no-repeat 15px 0;}
.cm_writeEvt p{ padding:20px 0 30px 0; font-size:16px;}
.cm_writeEvt p.cm_dsjTime{ display:block; color:#a8a8a8;}
.cm_dsjTip{ padding:20px 0 30px 0; font-size:16px;}


/* 大事记 编辑页 */
.cm_eventsTtl{}
.cm_eventsTtl span{}
.cm_commonIpt{padding:6px 18px; font-size:14px; line-height:1.42857143; white-space:nowrap; vertical-align:middle; background-image:none; border:1px solid #d6d6d6; border-radius:4px; background:#fff;}
.cm_eventsCon{ width:80%;}
.cm_BtnWap3{ width:80%; text-align:center;}
.cm_BtnWap3 button{ cursor:pointer;}


/* 大事记 详情 */
.cm_eventsXq{ margin-left:30px; margin-right:30px;}
.cm_eventsXq h2{ text-align:center; font-size:22px; font-weight:normal; color:#36c;}
.cm_eventsXq span{ display:block; padding:20px 0 25px; text-align:center; color:#a8a8a8;}
.cm_eventsXq p{ padding-bottom:28px; font-size:16px; line-height:28px; text-indent:32px;}
.cm_eventsXq em{ display:block; text-align:right; color:#36c;}

/* 大事记 摘要页 */
.cm_eventsList{ position:relative; padding-bottom:200px; margin-bottom:-200px; background:url(../images/cm_ggxxIco4.jpg) repeat-y 20px 0; font-family:"宋体";}
.cm_eventsUl h3{ background:url(../images/cm_ggxxIco5.jpg) no-repeat 15px 0; font-weight:bold;}
.cm_eventsUl .cm_eventsTime{ padding-left:80px;display:block; color:#a8a8a8;}
.cm_eventsUl p{ padding:20px 0 0 80px; font-size:16px; line-height:28px; text-indent:32px;}
.cm_eventsBt{ margin:0 0 20px 80px; padding:20px 0; height:35px; line-height:35px; border-bottom:1px dashed #a4a4a4; font-size:12px;}
.cm_eventsBt em{ padding:0 10px 0 5px;}
.cm_eventsBt a:hover{ text-decoration:underline;}


/* 分页 */
.cm_page2{ clear:both; margin-left:80px;}
.cm_page2 ul{ float:left; position:relative; left:50%; *+margin-left:-80px; }
.cm_page2 ul li{ float:left; position:relative; left:-50%;}
.cm_page2 ul a{ display:block; padding:5px 10px; text-decoration:underline; color:#525252;}
.cm_page2 ul a.visited{ font-weight:bold; text-decoration:none;}
.cm_page2 ul a:hover{ text-decoration:none;}
.cm_page2 ul span{ color:#acacac;}
/* 字体 */
.fontS{ font-family:"宋体";}
.fontW{ font-family:"微软雅黑";}
.fontH{ font-family:"黑体";}


/* 边界 */
.mt10{ margin-top:10px;}
.mt50{ margin-top:50px;}

.ml10{ margin-left:10px;}
.ml80{ margin-left:80px;}

.mb15{ margin-bottom:15px;}

/* 填充 */
.p_ltrb{ padding:10px;}
.pl80{ padding-left:80px;}

.pr80{ padding-right:80px;}


.pt10{ padding-top:10px;}
.pt15{ padding-top:15px;}
.pt20{ padding-top:20px;}
.pt25{ padding-top:25px;}
.pt50{ padding-top:50px;}

.pb10{ padding-bottom:10px;}
.pb15{ padding-bottom:15px;}
.pb20{ padding-bottom:20px;}
.pb25{ padding-bottom:25px;}
.pb50{ padding-bottom:50px;}


/* 宽度 */
.nw300{ width:300px;}
/* 颜色 */
.colorHui1{ color:#a3a3a3;}
.colorLan1{ color:#36c;}



/* 职位管理 */ 
#chart{ overflow:auto; min-height:520px;}
#org{ background-color: white; margin:10px; padding:10px;}
#show-list{	cursor:pointer;}
.alert-message{	margin: 2px 0;}
.topbar{ position:absolute;}
.jOrgChart { margin:10px; padding:20px;}
.jOrgChart > table{ margin:0 auto;}
.jOrgChart td{ padding:0; text-align:center; vertical-align:top;}
.jOrgChart .node{ display:inline-block;}
.jOrgChart .line{ width:2px; height:40px;}
.jOrgChart .left{ border-right:2px solid #efefef;}
.jOrgChart .right{ border-left:2px solid #efefef;}
.jOrgChart .top{ min-width:inherit; border-top:2px solid #efefef; background:none;}
.jOrgChart .down{ margin:0 auto; background:#efefef;}
.jOrgChart .node span { display:inline-block; width:116px; height:auto; line-height:18px; margin:0 10px; padding:8px; border:2px solid #efefef; font-size:12px; background-color:#fff; border-radius:4px; color:#F38630; -moz-border-radius:4px; color:#3e3e3e; cursor:pointer;}
.jOrgChart .node span:hover{ text-decoration:none; background:#fcfcfc;}
.node p{font-family:tahoma; font-size:10px;	line-height:11px; padding:2px;}
.share-data .icheckbox_minimal-blue, .iradio_minimal-blue{ margin-top:2px;}
.bootSelt-text{ display:inline-block; padding:7px 0; line-height:20px;}
.bootSelt-textarea{ display:inline-block; width:276px; height:82px; overflow:auto; padding:7px 0; line-height:20px;}
.position-editBtns{ position:absolute; right:30px; top:28px; border:1px solid #efefef; border-radius:4px;}
.position-editBtns li{ float:left;  margin-right:-1px; padding:5px 10px;border-right:1px solid #efefef; }
.position-editBtns .po-edit-btn{ float:left; width:14px; height:14px; border-right:1px solid #efefef; background:url(../images/edit100.png) no-repeat;}
.position-editBtns .po-delect-btn{float:left; width:14px; height:14px;background:url(../images/delect100.png) no-repeat;}


/* 公用自定义模态框样式 */
.modal-dialog{ z-index:20;}
/*.defined-modal-wap{ display:none; position:fixed; left:0; right:0; top:0; bottom:0; z-index:2000; background:red;}*/
.defined-modal{ position:absolute; z-index:2001; border:1px solid #ddd; border-radius:5px; background:#fff;}
.defined-modal .modal-header .close, .defined-modal .modal-header .close:link{background: url(../images/farmingIco16.jpg) no-repeat; margin-top:3px; border:none; opacity:1; filter:alpha(opacity=100); float:right; width:11px; height:11px;}
.defined-modal .modal-header .close:hover, .defined-modal .close:focus{ background:url(../images/farmingIco17.jpg) no-repeat; opacity:1.0; filter:alpha(opacity=100);}
.defined-modal .modal-body{ z-index:2100;}


/*3月25号修改农场管理时添加的样式*/
.yqgl_02{width:100%;}
/*农场管理*/
.map_tab{table-layout:fixed; margin-top:30px; margin-bottom:30px; border-collapse:collapse;}
.maplogo_bg{ position:absolute; z-index:4;}
.maplogo_img{ position:absolute; z-index:3; }
.farmtop{ width:100%; height:45px; line-height:45px;}
.farmtitle{ font-family:"黑体"; font-size:24px; color:#34495c; float:left;}
.bjbut{ width:58px; height:37px; float:right;}
.farmintro{ font-family:"微软雅黑"; font-size:13px; color:#595858; line-height:20px; height:100px; overflow:hidden;}
.farminfor{ min-height:138px; margin-top:15px; padding-left:20px; border-bottom:1px solid #ddd; background:url(../images/shanbg_03.jpg) bottom right no-repeat;}
.f_i_span{ width:49%; float:left; height:40px; }
.farm_i_font{ font-family:"宋体"; font-size:14px; color:#000;}
.farm_mation{ font-family:"宋体"; font-size:14px; color:#747576;}
.farm_mation2{font-family:"宋体"; font-size:14px; color:#34495c;}
.impotitle{ font-family:"微软雅黑"; font-size:16px; color:#010101; text-align:left; background:url(../images/farmico_26.jpg) center left no-repeat; height:30px; line-height:30px; margin-left:7px; text-indent:20px; margin-top:15px;}
.inporfarmer{ margin-top:15px; border-bottom:1px solid #ddd; padding-bottom:15px;}
.farmersay{ font-family:"微软雅黑"; font-size:12px; color:#34495c; text-align:left; line-height:22px; height:195px; overflow:hidden; margin-left:20px;}
.farmername{ height:40px; *height:20px; font-family:"微软雅黑"; font-size:14px; color:#5f5f5f; text-align:center;}
.qyry{ height:28px; width:100%; margin-top:15px;}
.jcbut{width:108px; height:28px; float:right; cursor:pointer;}
.qyrytitle{ font-family:"微软雅黑"; font-size:16px; color:#010101; text-align:left; background:url(../images/farmico_26.jpg) center left no-repeat; height:30px; line-height:30px; margin-left:7px; padding-left:20px; float:left;}
.rongyimg{ width:100%; margin-top:15px;}
.rongyspan{width:208px; height:133px; margin-bottom:17px; margin-top:17px; margin-left:24px; float:left;}
.renzheng{ font-size:14px; color:#666666; margin-left:26px; margin-top:10px;}
.renzspan{width:208px; height:305px; margin-bottom:20px;  margin-left:24px; float:left;}
/*右侧*/
.farmright_top{ width:240px; height:40px; line-height:35px; font-size:14px; color:#34495c; text-indent:38px; overflow:hidden; background:url(../images/nymapr_03.jpg) no-repeat;}
.farmmap{ width:240px;}
.farmmapimg{ width:210px; height:160px; margin:15px auto 10px auto;}
.address{ width:210px; height:20px; line-height:20px; font-family:"宋体"; font-size:14px; color:#595454; margin:0 auto;}
.undermap{ width:210px; margin:0 auto;}
.underfont{ color:#747576; font-size:14px;}
.undername{ color:#363535; font-size:14px;}
.ckbgbut{ width:240px; text-align:right; height:28px; margin-top:10px; cursor:pointer;}
/*企业荣誉开始*/
.rytitle{ width:100%; height:50px; text-align:left; margin:10px 0; padding:5px 0;}
.rytline{border-bottom:1px solid #ccc;}
.titlefont{ font-family:"黑体"; font-size:18px; color:#000; height:30px; line-height:37px; font-weight:boldl}
.titlefont2{ font-family:AbadiMT; font-size:16px; color:#aaa; height:20px; line-height:20px; font-weight:bold;}
.all_ry{ margin-top:20px; width:100%;}
/*编辑页面*/
/*旧样式开始*/
.r_c_text_date {
    background: url(../images/text_date_10.jpg) no-repeat;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    padding: 0 7px;
    width: 212px;
}


.all_w01 { width: 363px;}
.all_da{ *float:left; min-width:340px;  min-height:30px; margin-left:60px; margin-bottom:15px; display:inline-block;}

.edit_save {
    background: url(../images/tj_52.jpg) no-repeat ;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    width: 77px;
}
.edit_back {
    background: url(../images/re_43.jpg) no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    width: 77px;
}
/*旧样式结束*/
.all_w01 .six3 label{ font-size:14px;}


/*荣誉详情*/
.ncryxq{ width:760px; margin:50px auto 0 auto;}
.ncrydl{width:342px; height:290px; float:left; margin-left:38px;}
.ncrydt{width:342px; height:220px; }
.ncrydd{width:342px; height:40px; line-height:20px; font-size:14px; color:#1d1d1d; text-align:center; margin-top:15px;margin-bottom:15px;}
/*农场管理*/



/* 种植信息下的视频教学------06/09 */
.zzxx_videoTeach_wap{}
.zz_commonTtl{ height:40px;}
.zz_commonTtl h3{ position:relative; display:inline-block; margin:0; line-height:40px; padding:0 10px; font-size:18px;}
.zz_commonTtl h3 i{ position:absolute; left:50%; margin-left:-5px; bottom:0; width:10px; height:5px;}
.zz_commonTtl h3 i img{ vertical-align:top;}
.zz_commonCon{ padding:0 15px; border:1px solid #dcdcdc; box-sizing:border-box;}
.zz_border1{ border-top:4px solid #50c9ca;}
.zz_border2{ border-top:4px solid #beb7e9;}
.zz_border3{ border-top:4px solid #73b5dd;}
.zz_border4{ border-top:4px solid #ef7ac0;}
.zz_border5{ border-top:4px solid #add0a1;}
.zz_border6{ border-top:4px solid #50c9ca;}
.zz_border7{ border-top:4px solid #beb7e9;}
.overview_con{ position:relative;}
.overview_con>a{ display:block;}
.overview_con>a>img{ width:100%;}
.overview_con>a:hover .overview_text{ background:url(../images/help/binghaimx_bg2.png);}
.overview_text{ position:absolute; left:0; bottom:0; width:100%; padding:8px 10px; box-sizing:border-box; border-radius:0 0 4px 4px; background:url(../images/help/binghaimx_bg1.png);}
.overview_text p{ max-height:40px; line-height:20px; overflow:hidden; color:#fff;}

/* 种植信息左右点击切换样式 */
.CM_switch_wap{ position:relative; display:block; width:500px-; margin:30px auto 5px; background:red-;}
.CM_switch{ position:relative; width:500px; height:80px; overflow:hidden;}
.CM_switch_list{ position:absolute; left:0; min-width:50000px;}
.CM_switch .items{ float:left; min-width:100px; min-height:80px; overflow:hidden;}
.CM_switch .items img{ width:80px; height:60px; vertical-align:top;}
.CM_switch .items a{ display:block; padding:10px; overflow:hidden;}
.CM_switch .items p{  width:100%; height:40px; margin:0 auto; line-height:20px; overflow:hidden;}
.CM_prev{ position:absolute; left:-40px; top:30%; margin-top:-10px; width:40px; height:20px; background:url(../images/help/zzVideoTeach_icoLt.jpg) no-repeat center center; text-align:center;}
.CM_next{ position:absolute; right:-40px; top:30%; margin-top:-10px; width:40px; height:20px; background:url(../images/help/zzVideoTeach_icoRt.jpg) no-repeat center center; text-align:center;}
.CM_prev:hover{ background:url(../images/help/zzVideoTeach_icoLt2.png) no-repeat center center;}
.CM_next:hover{ background:url(../images/help/zzVideoTeach_icoRt2.png) no-repeat center center;}

.zzxx_icoDiv{ border-top:1px solid #dcdcdc;}
.zzxx_icoList li{ float:left;}
.zzxx_icoList li img{ min-width:40px; min-height:40px;}
.zzxx_icoList li img.imgClick{ display:none;}
.zzxx_icoList li.cur img.imgClick{ display:block;}
.zzxx_icoList li.cur img.imgLink{ display:none;}
.zzxx_icoList li span{ display:block; padding:5px; cursor:pointer;}
.zzxx_icoList li .top{ width:auto; height:auto; min-width:74px; min-height:24px; line-height:24px; background:none;}
.zzxx_icoList li .tooltip-inner{ background:#444;}
.zzxx_icoList li .tooltip.top .tooltip-arrow{border-top-color: #444}

/* 基本信息 */
.baseTtlH3{ height:42px; border-bottom:1px solid #e8e8e8;}
.baseTtlH3 h3{ padding-left:24px; background:url(../images/ico_yangzhi1.png) no-repeat; font-size:14px; line-height:42px;}
.baseTtlH3 .chushiXx{ background-position:2px 15px;}
.baseTtlH3 .chulanJl{ background-position:2px -25px;}
.baseTtlH3 .tuzaiJl{ background-position:2px -67px;}

.messageTable{ margin-top:24px;}
.messageTable td{ padding-bottom:20px;}
.modalTable_minni td{ padding-bottom:20px;}
.bootList21 .bootLi{ float:left; padding-bottom:20px;}
.bootTxt21{ float:left; width:100px; line-height:34px; padding-right:10px; text-align:right; font-size:12px;}
.bootTextarea .area_textarea{ width:300px; height:82px; resize:none;}
.bootData21{ float:left;}
.bootSelt21{ float:left; display:inline-block;}
.bootSelt21 .bootstrap-select{  width:220px;}
.bootSelt21 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:220px;}
.bootSelt21 .bootstrap-select span{ font-size:12px; font-family:'微软雅黑';}
.bootSelt21 .bootstrap-select > .btn{ height:34px;}
.bootstrap-select.btn-group .dropdown-menu{ max-width:220px;}/* 下拉框最大宽度控制 */
.datetimepicker{ margin-left:8px;}
/* 农事推送 */
.farmingPush_wap{ padding:35px 0 0;}
.farmingPush_lt{ float:left; width:200px;}
.farmingPush_lt .pic{ width:148px; min-height:148px;}
.farmingPush_lt .pic .img{ border-radius:50%;}
.farmingPush_lt .pic .name{ display:block; margin:0; padding:15px 0 5px; font-size:16px; text-align:center;}
.farmingPush_lt .pic .text{ font-size:14px; text-align:center;}
.farmingPush_lt .mes_mailBtn{ width:148px; padding:30px 0 20px; text-align:center;}
.farmingPush_rt{ margin-left:200px;}
.farmingPush_tab{ position:relative; padding-right:140px; border-bottom:1px solid #ddd ; overflow:hidden;}
.farmingPush_tab .nav-tabs{ float:none; margin-bottom:-1px; border-bottom:0;}
.farmingPush_tab .nav-tabs li{ display:inline; margin-bottom:0; margin-top:5px;}
.farmingPush_tab .nav-tabs li a{ display:block; height:20px; line-height:20px; margin:0 -1px 0 0; border:1px solid #ddd; border-radius:0; font-size:12px; color:#555; text-align:center;}
.farmingPush_tab .nav-tabs > li.active > a,
.farmingPush_tab .nav-tabs > li.active > a:hover,
.farmingPush_tab .nav-tabs > li.active > a:focus{ border-bottom:1px solid #ddd; background:#f1f1f1;} 
/*.farmingPush_tab .addTabli{ float:left; width:106px; height:40px; margin-left:-1px; border:1px solid #ddd; background:url(../images/farmingPushImg02.jpg) no-repeat center center;}*/
.farmingPush_tab .addTabli{ position:absolute; right:138px; bottom:7px;}
.farmingPush_rt .tab-content{ position:relative;}
.farmingPush_rt .tab-content .poBtn_wap{ position:absolute; right:0; top:-42px;}
.farmingPush_rt .tab-pane{ padding:40px 0 20px;}
.fieldPlant_wap{ min-height:40px; background:url(../images/farming/farmingPushBg01.jpg) 12px 0 repeat-y;}
.fieldPlant_wap .items{ line-height:18px; padding:0 30px 36px; background:url(../images/farming/farmingPushBg02.jpg) 10px -2px no-repeat; font-size:14px;}
.fieldPlant_wap .items .date{ padding-right:34px;}
.fieldPlant_wap .items .work{ padding-right:34px;}
.fieldPlant_wap .fieldPlanting{ height:33px; line-height:32px; padding:0 30px 36px; background:url(../images/farming/farmingPushBg03.jpg) 8px 0 no-repeat; font-size:20px; font-weight:bold; color:#72c958;}
.fieldPlant_wap .fieldPlanting img{ margin-top:10px; vertical-align:top;}
.mes_mailBtn{ text-align:center;}


