@charset "utf-8";
/* CSS Document */
*{ box-sizing:border-box;}
html,body,a,p,strong,ul,ol,li,div,h1,h2,h3,h4,h5,h6,input,textarea,form,table,tbody,thead,tfoot,th,tr,td,u,b,i,s,font,dl,dt,dd,em,sup,sub{ margin:0; padding:0;}
body { font-size:12px; color:#323232; font-family:"微软雅黑"; min-width:1002px; line-height:normal;}
a{text-decoration:none;}
a:link, a:visited, a:hover, a:active, a:focus { text-decoration:none; outline:none; -moz-outline:none;}
a{blr:expression(this.onFocus=this.blur());}
ul,ol,li{ list-style:none;}
em{ font-style:normal;}
textarea{ resize:none;}
img{ border:none;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.clear{ clear:both;}
.clear:after{ clear:both; content:""; display:block; visibility:hidden; height:0;}
.btn:focus, .btn:active:focus, .btn.active:focus{ outline:0; outline-offset:0;}

/*开始*/
.head{width: 1003px; height: 140px; margin: 0 auto; padding-top: 30px;}
.head .zyc_qy_entry{float:right;width:139px;height:48px;margin-top:20px;background: url(../images/zyc_qy_entry.png) 0 0 no-repeat;cursor:pointer;}
.banner{width: 100%; height: 580px; background: url(../images/yybanner.jpg) top center no-repeat;}
.small-body{width: 100%; height: 468px; background: url(../images/small-banner.jpg) top center no-repeat;}
.content{width: 1003px; height: 580px; margin: 0 auto; color: #fff;}
.warpbox{width: 355px; height: auto; float: right;}
.login{width: 355px; height: 305px; border-radius: 5px; border: 1px solid #fff; margin-top: 105px; background:url(../images/textbg.png);}
.login h1{font-weight: normal; font-size: 26px; text-align: center; padding: 45px 0 15px 0;}
.loginPic{width: 100%; height: 20px; background: url(../images/yylogin.png) top center no-repeat; padding-bottom: 40px;}
.login-info .items{ position:relative; width: 295px; padding-left:48px; border:1px solid #fff; border-radius: 5px; margin: 0 auto 20px;}
.login-info .items i{ position:absolute; left:15px; top:10px; width:18px; height:18px;}
.login-info .items i img{ width:100%; height:100%;}
.login-info .items .form-control{width: 100%; height:40px; line-height:40px; padding-left:0; padding-right:0; border:0; box-shadow:none; font-size:14px; outline: none; color: #fff; background-color: transparent; font-family: "微软雅黑";}
.btn{width: 355px; height: 42px; border: 1px solid #fff; border-radius: 5px; margin-top: 20px; background:url(../images/textbg.png); text-align: center; font-size: 16px; line-height: 40px; cursor: pointer; color: #fff;}
.btn:hover{background: url(../images/hover1.png);}
.foot{width: 100%; height: 24px; color: #112c5a; font-size: 14px; margin-top: 30px; text-align: center;}
/*新加注册*/
.register{padding-top: 10px; padding-left: 30px;}
.register a{color: #fff; font-size: 16px; text-decoration: underline;}