@charset "utf-8";
/* CSS Document */

html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,div,p,strong,em,i,b,font,a,span{ margin: 0;padding: 0;}
body{ min-width:1000px; color:#525252;}
.content{ min-width:1000px;}
ul,ol,li{ list-style: none;}
.fl{ float:left; display:inline-block;}
.fr{ float:right; display:inline-block;}
.clear{ clear:both;}
.clear:after{ clear:both; content:""; display:block; visibility:hidden; height:0;}
img{ border: none;}
em{ font-style:normal;}
.mt5{ margin-top: 5px;}
.mt10{ margin-top: 10px;}
.mt15{ margin-top: 15px;}
.mr5{ margin-right: 5px;}
.mr10{ margin-right: 10px;}
.mr20{margin-right: 20px;}
.mb5{ margin-bottom: 5px;}
.mb10{ margin-bottom: 10px;}
.mb15{ margin-bottom: 15px;}
.ml5{ margin-left: 5px;}
.ml10{ margin-left: 10px;}
.ml20{margin-left: 20px;}
.pt5{ padding-top: 5px;}
.pt8{ padding-top: 8px;}
.pt10{ padding-top: 10px;}
.btn{ height: 34px; line-height: 20px; padding: 6px 19px;box-sizing: border-box;}
.bootstrap-select>.btn{ padding-left: 12px;}
.bootstrap-select{ width: 100%;}
.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ width: 100%;}
.bootstrap-select.btn-group .dropdown-menu{ max-width: 200px; height: 200px-;}/* 控制下拉菜单最大宽和高 */
.octicon-search02{ background:url(../../images/cjsearch_bg.png) no-repeat;}

/* 公用面包屑导航  */
.mr5{ margin-right:5px;}
.r_title{margin-top:0;}
.r_t_l{ font-family:'微软雅黑';}
.r_t_l span{ font-size:12px;}
.r_t_l em{ padding:0 5px; font-style:normal; }
.cm_resumeList li{float: left;}
.cm_resumeList li a{display: block; height: 44px; line-height: 44px; padding: 0 10px; color: #3f3f3f; overflow: hidden; font-family: '宋体';}
.borderBt{border-bottom: 2px solid #33aedc;}
.cm_resumeList li img{float: left; margin-top: 16px;}
.cm_resumeList li span{float: left; text-indent: 10px;}
/* 公用搜索及下拉菜单 */
.search_header{ position: relative; padding: 10px 0; padding-right: 70px;}
.search_header .form-control{ width: 300px; line-height: 20px; padding-left: 25px; font-size: 12px; color: #cbcbcb;}
.search_header .btn{ font-size: 12px;}
.search_blt{ float: left; padding: 5px 0;}
.search_brt{ position: absolute-; right: 0-; top: 15px-; float:left;margin:0 0 0 10px;}
.search_selected{ padding: 5px 0;}
.se_selt180{ width: 180px;}
.se_selt180 dt{ float: left; width: 80px; line-height: 34px; padding-right: 10px; text-align: right;box-sizing: border-box;}
.se_selt180 dd{ float: left;}
.boot_selected_100{ width: 100px;}

/* 求购信息页面样式 */
.qgxx_content{ position: relative; min-height: 560px; padding-right: 323px; box-sizing: border-box; font-size: 12px;}
.qgxx_lt_content{ min-height:612px; margin-bottom:15px;}
.category_items{ border-bottom: 1px solid #f3f3f3;}
.category_items .ca_dl{ position: relative; min-height: 44px; padding: 0 66px 0 100px; box-sizing: border-box;}
.category_items .ca_dt{ position: absolute; left: 0; top: 0; width: 80px; line-height: 44px; text-align: right; font-size: 14px;}
.category_items .ca_dd{ padding: 7px 0;}
.category_items .ca_list{ height: 30px; max-height: auto; overflow: hidden;}
.category_items .ca_list span{ display:inline-block; height: 20px; line-height: 20px; margin: 5px 10px 5px 0; padding: 0 10px; cursor: pointer;}
.category_items .ca_list span.dq_cur{ border-radius: 4px; background-color: #5cb85c; color: #fff;}
.category_items .ca_more{ position: absolute;right: 20px; bottom:10px; height: 24px; line-height: 24px; padding-right: 20px; font-weight: normal; color: #428bca; cursor: pointer;}
.category_items .ca_more.m_up{ background: url('../../images/BuyingLeads_icos_up.png') no-repeat right center;}
.category_items2{ padding: 2px 0 2px 20px;}
.sort_list{ margin: 5px 5px 5px 0; border: 1px solid #e2e2e2; border-right: 0; border-radius: 4px;}
.sort_list span{ float: left; min-width: 70px; height: 28px; line-height: 28px; padding: 0 15px; border-right: 1px solid #e2e2e2; box-sizing: border-box; text-align: center; cursor: pointer;}
.sort_list span.dq_cur{ background-color: #5cb85c; color: #fff;}
.sort_list span.sort_u{ background-color: #5cb85c; color: #fff;}
.sort_list span.sort_u .sort_up{ display:inline-block;}
.sort_list span.sort_u .sort_down{ display:none;}
.sort_list span.sort_d{ background-color: #5cb85c; color: #fff;}
.sort_list span.sort_d .sort_up{ display:none;}
.sort_list span.sort_d .sort_down{ display:inline-block;}
.cp_search{ margin: 5px 5px 5px 0;}
.cp_search .public-search{ width: 200px; height: 30px;}
.cp_search .public-search .form-control{ height: 30px; padding: 4px 12px 4px 25px; border-color: #e2e2e2;}
.cp_search .public-search .octicon-search02{ top:9px;}
.cp_search .btn{ height: 30px; padding: 4px 19px; font-size: 12px; }
.cp_search .p_txt{ width: 120px; padding: 5px 0 0 10px;}
.cp_search .p_txt .icheckbox_minimal-blue{ float: left; margin-right: 5px;}
/* 我要报价 */
.my_offer_list{ overflow: hidden; margin-left:-7px; margin-right:-7px;}
.my_offer_list .of_items{ float: left; width: 50%; padding: 0 7px 7px 7px; box-sizing: border-box;}
.my_offer_list .of_dl{ position: relative; padding: 10px; border: 1px solid #e2e2e2; border-radius: 4px; box-sizing: border-box;}
.my_offer_list .of_dl:hover{ box-shadow: 0 2px 10px #e0e0e0; background-color: #fbfbfb;}
.my_offer_list .of_dt{ position: absolute; left: 10px; top: 10px; width: 90px; height: 100px; border-radius: 4px; overflow: hidden;}
.my_offer_list .of_dt img{ width: 100%; min-height: 100%; background-color: #f1f1f1;}
.my_offer_list .of_dd{ height: 100px; padding-left: 100px; box-sizing: border-box;}
.my_offer_list .txt_name{ float: left; display: inline-block; max-width: 16%; height: 20px; line-height: 20px; font-size: 16px; color: #428bca; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.my_offer_list .txt_bzh{ display: inline-block; height: 18px; line-height: 18px; margin: 1px 0; padding: 0 5px; border-radius: 3px; background-color: #3297db; font-family: arial; font-size: 12px; color: #fff;}
.my_offer_list .txt_time{ float: right; line-height: 20px; font-size: 12px; color: #959595;}
.my_offer_list .txt_date{ width: 40%; height: 20px; line-height: 20px; margin-top:4px; padding-left: 20px; box-sizing:border-box; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.my_offer_list .txt_weight{ width: 30%; height: 20px; line-height: 20px; margin-top:4px; padding-left: 20px; box-sizing:border-box; word-break: break-all; overflow: hidden; color: #3498db;}
.my_offer_list .txt_wybj{ display: inline-block; max-width: 30%; height: 28px; line-height: 26px; padding: 0 10px; border: 1px solid #52b152; border-radius: 14px; box-sizing:border-box; background: #fff;font-size: 14px; color: #52b152;}
.my_offer_list .txt_wybj:hover{ background: #eaeff4; }
.my_offer_list .txt_company{ width: 40%; height: 20px; line-height: 20px; padding-left: 20px; box-sizing:border-box; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.my_offer_list .txt_price{ width: 30%; height: 20px; line-height: 20px; padding-left: 20px; box-sizing:border-box; word-break: break-all; overflow: hidden; color: #ff5000;}
.my_offer_list .txt_area{ width: 28%; height: 20px; line-height: 20px; padding-left: 20px; box-sizing:border-box;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;}

.my_offer_list .txt_date, /* 日期，重量，公司，价格等图标 */
.my_offer_list .txt_weight,
.my_offer_list .txt_company,
.my_offer_list .txt_price,
.my_offer_list .txt_area{ background-image: url('../../images/BuyingLeads_icos1.png'); background-repeat: no-repeat;}

.my_offer_list .txt_date{ background-position: 0 -405px;}
.my_offer_list .txt_weight{ background-position: 0 4px;}
.my_offer_list .txt_company{ background-position: 0 -37px;}
.my_offer_list .txt_price{ background-position: 0 -77px;}
.my_offer_list .txt_area{ background-position: 0 -119px;}
/*我的报价*/
.qgxx_rt_content{ position: absolute; right: 0; top: 64px; width: 308px; min-height: 528px; margin-bottom: 15px; border: 1px solid #e2e2e2; border-top: 0-;}
.offer_rt_hd{ padding: 10px; border-bottom: 1px solid #e2e2e2; overflow: hidden;}
.offer_rt_hd h4{ height: 22px; line-height: 22px; padding-left: 20px; background: url('../../images/BuyingLeads_icos1.png') no-repeat 0 -159px; font-size: 16px; font-weight: normal; overflow: hidden;}
.offer_rt_hd h4.gz_h4{ background-position: 0 -198px;}
.offer_rt_bd{ min-height: 446px; padding: 10px; box-sizing: border-box;}
.pank_items{ position: relative; margin: 10px 0 15px; padding-left: 30px; cursor:pointer;}
.pank_items:hover .txt_lt, .pank_items:hover .txt_company{ text-shadow:0 2px 4px #e2e2e2; color: #000;}
.pank_items:hover .txt_rt font{ text-shadow:0 2px 4px #e2e2e2; color: #f9611b;}
.pank_items:hover .txt_time .concern_ico{ background-position: 0 -487px;}
.pank_items dt{ position: absolute; left: 0; top: 0; width: 24px; height: 24px;}
.pank_items dt img{ width: 100%; height: 100%; border-radius: 50%; background-color: #f1f1f1;}
.pank_items .div_info{ height: 24px; line-height: 24px; overflow: hidden;}
.pank_items .txt_lt{ float: left; width: 39%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.pank_items .txt_rt{ float: right; width: 60%; text-align: right; color: #909090; overflow: hidden;}
.pank_items .txt_rt font{ color: #ff5000;}
.pank_items .txt_time{ position: relative; height: 20px; line-height: 20px; color: #909090; overflow: hidden;}
.pank_items .txt_time .color_b{ color: #78b4e9;}
.pank_items .txt_time .concern_ico{ position: absolute; right: 0; top: 0; width: 20px; height: 20px; background: url('../../images/BuyingLeads_icos1.png') no-repeat 0 -447px; }
.pank_items .txt_company{ max-width: 80%; line-height: 24px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.offer_rt_ft{ padding: 8px 0; border-top: 1px solid #e2e2e2; text-align: center;}
.offer_rt_ft a{ font-size: 12px; color: #428bca;}
.pank_nodata{ margin-top: 80px; text-align: center;}
.pank_nodata img{ margin-bottom: 15px;}
.pank_nodata font{ display:block; font-size: 14px;}

/* 我的供应页面样式 */
.provider_list{ margin-left: -7px; margin-right: -7px; overflow: hidden;}
.provider_list .pr_items{ float: left; width: 50%; padding: 0 7px 7px 7px; box-sizing: border-box;}
.pr_items_block{ position: relative; border: 1px solid #e2e2e2; border-radius: 6px; box-sizing: border-box; overflow: hidden;}
.pr_items_block:hover{ border-color: #83c2f2; box-shadow: 2px 2px 6px #cfe2f2;}
.pr_items_block:hover .common_list_btns{ display: block;}
.pr_items_block .pr_dl{ padding: 10px; border-bottom: 1px solid #e2e2e2; overflow: hidden;}
.pr_items_block .pr_dt{ position: absolute; left: 10px; top: 10px; width: 80px; height: 80px; border-radius: 4px; overflow: hidden;}
.pr_items_block .pr_dt img{ width: 100%; min-height: 100%; background-color: #f1f1f1;}
.pr_items_block .pr_dd{ height: 80px; padding-left: 90px; box-sizing: border-box;}
.pr_items_block .pr_dd .pt5{ padding-top: 5px;}
.pr_items_block .txt_name{ float: left; max-width: 45%; height:24px; line-height:24px; font-size: 16px; color: #323232; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.pr_items_block .txt_ghl{ float: right; max-width: 50%; border: 1px solid #bbe48b; border-radius: 4px;}
.pr_items_block .txt_ghl .ghl_txt1,
.pr_items_block .txt_ghl .ghl_txt2{ float: left; height: 18px; line-height: 18px; padding: 0 6px; overflow: hidden;}
.pr_items_block .txt_ghl .ghl_txt1{ background-color: #bbe48b; color: #fff;}
.pr_items_block .txt_ghl .ghl_txt2{ max-width: 60%; color: #bbe48b;}

.pr_items_block .txt_price,   /* 价格，时间，重量等图标 */
.pr_items_block .txt_weight,
.pr_items_block .txt_name2,
.pr_items_block .txt_bzh,
.pr_items_block .pr_state .p_txt1{ height: 20px; line-height: 20px; padding-left: 18px; box-sizing: border-box; background-image: url('../../images/BuyingLeads_icos1.png'); background-repeat: no-repeat; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.pr_items_block .txt_price{ float: left; width: 54%; background-position: 0 -241px;box-sizing: border-box;}
.pr_items_block .txt_price font{ color: #ff5000;}
.pr_items_block .txt_weight{ float: right; width: 44%; background-position: 0 -281px;box-sizing: border-box;}
.pr_items_block .txt_name2{ float: left; width: 54%; background-position: 0 -322px;box-sizing: border-box;}
.pr_items_block .txt_bzh{ float: right; width: 44%; background-position: 0 -365px;box-sizing: border-box;}
.pr_items_block .pr_state .p_txt1{ background-position: 0 -407px; color: #959595;box-sizing: border-box;}

.pr_items_block .pr_state{ padding: 5px 0 5px 10px;box-sizing: border-box;}
.pr_items_block .pr_state .p_txt1,
.pr_items_block .pr_state .p_txt2{ max-width: 44%; height: 20px; line-height: 20px; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}

.pr_items_block .pr_state .span_xh, /* 现货，已上架等图标 */
.pr_items_block .pr_state .span_ys,
.pr_items_block .pr_state .span_sj,
.pr_items_block .pr_state .span_xj{ float: left; padding: 0 10px 0 28px; background-image: url('../../images/BuyingLeads_icos2.png'); background-repeat: no-repeat;}
.pr_items_block .pr_state .span_xh{ background-position: 0 0; color: #78b4e9;}
.pr_items_block .pr_state .span_ys{ background-position: 0 -279px; color: #796df1;}
.pr_items_block .pr_state .span_sj{ background-position: 0 -39px; color: #5cb85c;}
.pr_items_block .pr_state .span_xj{ background-position: 0 -319px; color: #f3a066;}

.common_list_btns{ display: none; position: absolute; right: -3px; top: 0; padding: 5px 2px; background-color: #4e96cd; border-radius: 0 6px 0 0;}
.common_list_btns > span{ float: left; padding: 0 5px; border-right: 1px solid #a7cbe6; vertical-align: top;}
.common_list_btns > span > a{ display: block; width: 20px; height: 20px; background-image: url('../../images/BuyingLeads_icos2.png'); background-repeat: no-repeat;}
.common_list_btns .view_btn{ background-position: 0 -78px;}
.common_list_btns .edit_btn{ background-position: 0 -117px;}
.common_list_btns .delect_btn{ background-position: 0 -155px;}
.common_list_btns .upload_btn{ background-position: 0 -195px;}
.common_list_btns .updown_btn{ background-position: 0 -355px;}
.common_list_btns .refresh_btn{ background-position: 0 -235px;}

/* 我的关注页面样式 */
.attention_content{ font-size: 12px;}
.attent_banner{ position: relative; margin: 15px 0 0; min-height: 150px; text-align: center;}
.attent_banner .ban_bg{ position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.attent_banner table{ position: relative;}
.attent_banner .ban_logo{ display: inline-block; width: 140px; height: 140px; padding: 5px; border-radius: 10px; background: url(../../images/w_opacity_30.png);}
.attent_banner .ban_logo img{ width: 100%; height: 100%; border-radius: 8px; background-color: #f1f1f1;}
.attent_banner .ban_txt{ padding-top: 10px; font-size: 16px; color: #fff;}
.attent_tab_block{ position: relative; padding-bottom: 15px;}
.attent_tab_block .p_phone{ position: absolute; right: 0; top: 11px; line-height: 20px; color: #3176c3;}
.attent_tab_block .nav-tabs{ position: relative; text-align: center;}
.attent_tab_block .nav-tabs>li{ display: inline-block; float: none;}
.attent_tab_block .nav-tabs>li>a{ margin: 0 5px; border: 0; background-color: #fff; font-size: 14px; color: #646464;}
.attent_tab_block .nav-tabs>li.active>a, 
.attent_tab_block .nav-tabs>li.active>a:hover, 
.attent_tab_block .nav-tabs>li.active>a:focus{ border: 0; border-bottom: 2px solid #ace1a6; color: #323232;}
.attent_tab_block .nav-tabs>li>a:hover{ border: 0; background-color: #fff;}
.attent_tab_block .nav-tabs>li>a span{ display: inline-block; min-width: 16px; height: 16px; line-height: 16px; margin-left: 2px; padding: 0 2px; border-radius: 8px; background-color: #b8e5b3; font-size: 12px; text-align: center; color: #fff;}
.attent_tab_block .nav-tabs>li.active >a span{ background-color: #ff6a26;}
/* 浏览量列表 */
.pageView_list{ padding: 0 0; overflow: hidden; margin: 0 -5px 0 -5px-; margin:0;}
.pageView_list .p_items{ float: left; width: 20%; padding: 5px;}
.pageView_list .p_dldl{ position: relative; padding: 20px 10px 20px 85px; border: 1px solid #e2e2e2; border-radius: 4px; box-shadow: 0 2px 10px #e2e2e2; overflow: hidden;}
.pageView_list .p_dldt{ position: absolute; left: 10px; top: 20px; width: 65px; height: 94px; margin-right: 10px; padding-right: 10px; border-right: 1px solid #e2e2e2; text-align: center;}
.pageView_list .p_dldt img{ width: 54px; height: 54px; margin: 5px 0; border: 1px solid #e2e2e2; border-radius: 50%; background-color: #f1f1f1;}
.pageView_list .p_dldt p{ display: table; width: 100%; height: 28px; line-height: 14px; overflow: hidden;}
.pageView_list .p_dldt p span{ display: table-cell; vertical-align: middle;}
.pageView_list .p_dldd{ height: 94px;}
.pageView_list .p_dldd td{ height: 47px;}
.pageView_list .txt_company{ max-height: 36px; line-height: 18px; overflow: hidden; color: #323232;}
.pageView_list .txt_record{ max-height: 36px; line-height: 18px; overflow: hidden; color: #959595;}
.pageView_list .txt_record font{ color: #157bc2;}

/* 关注度列表 */
.attention_list{ padding:0 0; overflow: hidden; margin: 0 -5px 0 -5px-; margin:0;}
.attention_list .a_items{ float: left; width: 20%; padding: 5px;}
.attention_list .a_dldl{ position: relative; padding: 20px 10px 20px 75px; border: 1px solid #e2e2e2; border-radius: 4px; box-shadow: 0 2px 10px #e2e2e2; overflow: hidden;}
.attention_list .a_dldt{ position: absolute; left: 10px; top: 20px; width: 64px; height: 94px; padding-right: 10px;}
.attention_list .a_dldt img{ width: 54px; height: 54px; margin: 20px 0; border: 1px solid #e2e2e2; border-radius: 50%; background-color: #f1f1f1;}
.attention_list .a_dldd{ height: 94px;}
.attention_list .a_dldd .td_td1{ height:50px;}
.attention_list .txt_company{ max-height: 36px; line-height: 18px; overflow: hidden; color: #323232;}
.attention_list .txt_record{ max-height: 36px; line-height: 18px; padding-left: 18px; background: url(../../images/BuyingLeads_icos1.png) no-repeat 0 -448px; overflow: hidden; color: #959595;}
.attention_list .txt_record font{ color: #157bc2;}
.attention_list .txt_time{ text-align: right; color: #959595;}

/* 获得联系方式列表 */
.attent_tab_block .tab-content{ margin:20px 0; }
.attent_tab_block  .tab-content > .tab-pane>span>ol{ min-width:1610px; overflow:auto;}
.getPhone_list{ padding: 0 0; overflow: hidden-; margin: 0 -5px 0 -5px-; margin:0;}
.getPhone_list .g_items{ float: left; width: 20%; padding: 5px;}
.getPhone_list .g_dldl{ position: relative; padding: 35px 10px 35px 75px; border: 1px solid #e2e2e2; border-radius: 4px; box-shadow: 0 2px 10px #e2e2e2; overflow: hidden;}
.getPhone_list .g_dldt{ position: absolute; left: 10px; top: 35px; width: 64px; height: 64px; padding-right: 10px;}
.getPhone_list .g_dldt img{ width: 54px; height: 54px; margin: 5px 0; border: 1px solid #e2e2e2; border-radius: 50%; background-color: #f1f1f1;}
.getPhone_list .g_dldd{ height: 64px;}
.getPhone_list .txt_company{ max-height: 36px; height: 20px; line-height: 20px; white-space: nowrap; text-overflow:ellipsis; overflow: hidden; color: #323232;}
.getPhone_list .txt_get{ max-width: 70%; height:20px; line-height: 20px; padding-left: 18px; background: url(../../images/BuyingLeads_icos1.png) no-repeat 0 -527px; overflow: hidden; color: #959595;}
.getPhone_list .txt_get font{ color: #157bc2;}
.getPhone_list .txt_time{ max-width: 30%; height:20px; line-height: 20px; overflow: hidden; white-space:nowrap; text-align: right; color: #959595;}

/* 排序方式--图标详情 */
.sort_way{ position:absolute;right:0;top:15px; background-color:#f7f7f7;border-radius:5px;overflow:hidden;}
.sort_way p{float:left;height:32px;line-height:32px;padding:0 20px;box-sizing:content-box;font-size:14px;color:#333;}
.sort_way p.dq_cur{background-color:#418bca;color:#fff;border-color:#418bca;}
.sort_way .btn_tb{border:1px solid #ddd;border-right:0;border-radius:5px 0 0 5px;}
.sort_way .btn_xq{border:1px solid #ddd;border-left:0;border-radius:0 5px 5px 0;}

/* 无数据 */
.list_nodata{ width:800x; margin:0 auto; padding:50px 0;}
.list_nodata .no_icon{ display:block; width:100px; height:86px; margin:0 auto 20px;}
.list_nodata .tip_txt1{ font-size:15px; color:#323232; text-align:center;}
.list_nodata .tip_txt2{ width:300px; margin:20px auto 0; padding:10px; border:1px dashed #d0e2f2; border-radius:4px; box-sizing:border-box; font-size:12px; color:#2f8cd4;}


/* 求购信息页面样式<1280 */
.qgxx_content.small_qgxx{ padding-right:263px;}
.qgxx_content.small_qgxx .qgxx_rt_content{ width:248px;}

/* 我的关注页面样式<1280 */
.small_attent .attent_banner .ban_logo{ width: 110px; height: 110px;}
.small_attent .attent_tab_block .nav-tabs>li>a{ padding: 10px 10px; margin: 0 3px; font-size: 13px;}







