@charset "utf-8";
/* CSS Document */

body{ line-height:normal; font-size:12px; font-family:'微软雅黑'; color:#323232;}
body,a,p,h1,h2,h3,h4,h5,h6,strong,ul,ol,li,div,form,table,tbody,thead,tfoot,th,tr,td,input,textarea,button,u,b,i,s,font,dl,dt,dd,em,sup,sub{ margin:0; padding:0;}
body{ min-width: 1003px;}
a,a:hover,a:active,a:visited,a:focus{ text-decoration:none;}
a:focus{ outline:none none; outline-offset:inherit; color:inherit;}
ul,ol,li{ list-style:none;}
img{ border: 0;}
i,em{ font-style:normal;}
textarea{ resize:none;}
*,*:after ,*:before{ box-sizing:border-box;}
.fl{ float:left;}
.fr{ float:right;}
.mt5{ margin-top: 5px;}
.mt10{ margin-top: 10px;}
.mt15{ margin-top: 15px;}
.mt20{ margin-top:20px;}
.mb5{ margin-bottom: 5px;}
.mb10{ margin-bottom: 10px;}
.mb15{ margin-bottom: 15px;}
.mb20{ margin-bottom:20px;}
.ml5{ margin-left: 5px;}
.ml10{ margin-left:10px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right: 10px;}
.clear{ clear:both;}
.clear:after,.clear:before{ clear:both; content:""; display:block; visibility:hidden; height:0;}

/* SPGS头部样式 */
.pr10{ padding-right: 10px;}
.SPGS-base-wapper{}
.SPGS-header{ position: relative; height: 71px; box-shadow: 0 2px 5px #b6b6b6; background: url(../../images/spgs/SPGS_bg1.jpg) repeat-x;}
.SPGS-header .logo-lt{ display: block; width: 230px; height: 69px; margin-left: 56px;}
.SPGS-header .return-index{ display: block; height: 69px; margin-left: 20px; padding: 5px; background: url(../../images/spgs/SPGS_bg2.jpg) repeat-x; font-size: 14px; text-align: center; color: #fff;}
.SPGS-header .return-index img{ width: 42px; height: 38px; margin-top: 5px; vertical-align: top;}
.SPGS-header .return-index span{ display: block;}
.SPGS-header .my-account{ position: absolute; left: 50%; top: 0; width: 244px; line-height: 69px; margin-left: -122px; background: url(../../images/spgs/SPGS_bg3.jpg) no-repeat; text-align: center; font-size: 16px; color: #fff;}
.SPGS-header .header-rt{ margin-right: 56px;}
.SPGS-header .link-login{ padding-top: 25px; font-size: 16px; color: #fff;}
.SPGS-header .link-login a{ padding: 0 5px; color: #fff;}
.SPGS-header .shoping-cart{ width: 104px; height: 69px; margin-right: 60px; background: url(../../images/spgs/SPGS_bg4.jpg);}
.SPGS-header .shoping-cart a{ position: relative; display: block; width: 100%; height: 100%;}
.SPGS-header .shoping-cart .num{ position: absolute; right: 25px; top:22px; min-width: 22px; height: 22px; line-height: 20px; padding: 0 5px; border: 1px solid #30581f; border-radius: 11px; background: #447b21; font-size: 12px; font-family: 'arial'; text-align: center; color: #fff; }
/* SPGS主体样式 */
.SPGS-main-wapper{ padding: 0 20px 0 5px;}
.spgs-td-left{ width:310px;}
.spgs-td-left.bg-line{ background: url(../../images/spgs/SPGS_bg5.jpg) repeat-y center top; text-align: center;}
.spgs-td-right{ padding-left: 10px; padding-right: 10px; vertical-align: top;}
.growth-proccess-lt .spgs-crop-pic{ position: relative; width: 184px; height: 184px;}
.growth-proccess-lt .spgs-crop-pic .circle-mark{ position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; background: url(../../images/spgs/SPGS_mark1.png);}
.growth-proccess-lt .spgs-crop-pic .pic{ width: 100%; height: 100%;}
.growth-proccess-lt .spgs-crop-txt{ display: inline-block; width: 236px; height: 46px; margin-top: 30px;}
.growth-proccess-lt .spgs-crop-txt img{ vertical-align: top;}
.growth-proccess-rt .crop-name{ display: block; height: 30px; line-height: 30px; overflow: hidden; font-size: 22px; color: #585858;}
.growth-proccess-rt .crop-name span{ display: inline-block; max-width: 484px; height: 30px; vertical-align: top; overflow: hidden;}
.growth-proccess-rt .crop-instro{ height: 24px; line-height: 24px; margin-top: 30px; font-size: 14px; color: #7a7a7a;}
.growth-proccess-rt .crop-instro p{ display: inline-block; padding-right: 15px;}
/* 农场环境板块 */
.farm-map-wap{ padding: 5px; border: 1px solid #e0e0e0; border-radius: 5px; box-shadow: 0 0 5px 2px #eeeeee; background: #fff;}
.growthCycle{width:96%; position:relative; height:25px; margin-top:60px;}
.curGrowthValue{ position:absolute; top:-36px; z-index:2; width:14px; height:56px; background:url(../../images/spgs/bg_monitor02.png) no-repeat center bottom;}
.curGrowthValue .tip{ display:block; width:60px; height:24px; line-height:24px; margin-left:-24px; border-radius:5px; font-size:12px; text-align:center;}
.growthCycleJdt{ height:15px; zoom:1;}
.growthCycleJdt .bgColor1, .growthCycleJdt .bgColor2, .growthCycleJdt .bgColor3, .growthCycleJdt .bgColor4, .growthCycleJdt .bgColor5, .growthCycleJdt .bgColor6, .growthCycleJdt .bgColor7, .growthCycleJdt .bgColor8{ position:relative;}
.growthCycleJdt .bgColor1{ background:#9ad159;}
.growthCycleJdt .bgColor2{ background:#f9ae55;}
.growthCycleJdt .bgColor3{ background:#f27a66;}
.growthCycleJdt .bgColor4{ background:#abb7c8;}
.growthCycleJdt .bgColor5{ background:#cce198;}
.growthCycleJdt .bgColor6{ background:#89c997;}
.growthCycleJdt .bgColor7{ background:#8c97cb;}
.growthCycleJdt .bgColor8{ background:#7ecef4;}
.growthCycleJdt .text{ position:absolute; top:-25px; width:100%; height:20px; line-height:20px; text-align:center; color:#9a9a9a;}
.growthCycleJdt .date-time{ overflow:hidden;}
.growthCycleJdt .growthDay{ position:absolute; top:24px; width:100%; font-size:12px; text-align:center;}
.growthCycleJdt .growthDay.txt-lt{ text-align:left;}
.growthCycleJdt .growthDay.txt-rt{ text-align:right;}
.farm-map-instr .instr-td-lt,.farm-map-instr .instr-td-rt{ min-height: 48px; padding: 15px 0; border-bottom: 1px dashed #ddd; font-size: 14px; text-align: left; color: #686868;}
.farm-map-instr .instr-td-lt{ width: ; padding: 10px 40px; }
/* 自动农事纪录板块 */
.focusmap-wap{ position:relative; padding:30px;}
.focusmap-btns{ position:absolute; width:100%; height:214px; left:0; top:30px; z-index:1;}
.focusmap-btns .focus-btnlt{ position:absolute; left:0; top:0; width:30px; height:100%;}
.focusmap-btns .focus-btnrt{ position:absolute; right:0; top:0; width:30px; height:100%;}
.focusmap-btns .focus-btnlt a,.focusmap-btns .focus-btnrt a{ position:absolute; left:6px; top:50%; margin-top:-14px; display:block; width:18px; height:27px;}
.focusmap-btns .focus-btnlt a { background:url(../../images/spgs/SPGS_ico3.png) no-repeat;}
.focusmap-btns .focus-btnrt a { background:url(../../images/spgs/SPGS_ico4.png) no-repeat;}
.focusmap-btns .focus-btnlt span,.focusmap-btns .focus-btnrt span{ position:absolute; left:6px; top:50%; margin-top:-14px; display:block; width:18px; height:27px;}
.focusmap-btns .focus-btnlt span { background:url(../../images/spgs/SPGS_ico3-gray.png) no-repeat;}
.focusmap-btns .focus-btnrt span { background:url(../../images/spgs/SPGS_ico4-gray.png) no-repeat;}
.focusmap-con{ position:relative; overflow:hidden;}
.focusmap-con .items-list{ position:absolute; left:0; top:0; z-index:2;}
.focusmap-con .items{ float:left;}
.focusmap-div{ padding:0 10px;}
.focusmap-con .focusmap-hd{ width:100%; height:100%; padding:5px; border:1px solid #f1f1f1; border-radius:6px; box-shadow:0 0 10px 0 #f1f1f1; box-sizing:border-box;}
.focusmap-con .focusmap-hd img{ width:100%; height:100%;}
.focusmap-con .focusmap-bd{ height:76px; margin-top:-15px;}
.focusmap-con .focusmap-bd dl{ overflow:hidden;}
.focusmap-con .focusmap-bd .date-num{ position:relative; float:left; width:74px; height:74px; margin-left:10px; background:url(../../images/spgs/SPGS_bg8.png) no-repeat;}
.focusmap-con .focusmap-bd .month-txt{ height:20px; line-height:20px; margin-top:16px; font-size:16px; font-weight:bold; text-align:center; color:#fff; overflow:hidden;}
.focusmap-con .focusmap-bd .year-txt{ height:26px; line-height:26px; font-size:20px; font-weight:bold; text-align:center; color:#fff;}
.focusmap-con .focusmap-bd .crop-info{ padding:12px 0 0 90px;}
.focusmap-con .focusmap-bd .crop-name{ height:30px; line-height:30px; overflow:hidden; font-size:18px; color:#323232;}
.focusmap-con .focusmap-bd .usetime-txt{ height:32px; line-height:16px; font-size:14px; color:#bababa;}
.focusmap-con .focusmap-bd .usetime-txt p{ float:left; height:16px; line-height:16px; margin-right:5px; overflow:hidden;}
.focusmap-con .focusmap-bd .usetime{ max-width:90px;}
.focusmap-con .focusmap-bd .come-ly{ max-width:70px;}
.focusmap-con .focusmap-bd .add-ple{ max-width:100px;}


/* 大棚实际情况板块 */
.spgs-analysis-chart{ position:relative;}
.spgs-analysis-hd{ border-bottom: 1px solid #d4d4d4;}
.spgs-analysis-hd .items-list{ margin-bottom: -1px; padding-bottom: 1px;}
.spgs-analysis-hd .itmes{ position: relative; float: left; height: 36px; line-height: 36px; margin-right: 10px;}
.spgs-analysis-hd .itmes a{ display: block; padding: 0 10px; background: #e8e8e8; font-size: 16px; color: #b3b3b3;}
.spgs-analysis-hd .itmes.cur a{ background: #64941e; color: #fff;}
.spgs-analysis-hd .itmes.cur a:before{ position: absolute; z-index: 1; left: 50%; bottom: -10px; border-width: 5px 6px 5px 6px; border-style: solid; border-color: #64941e transparent transparent transparent; background: none; content: "";}
.spgs-analysis-bd{ padding: 10px 0;}
.expert-say{ position:absolute; right:0; top:-8px; height:42px; line-height:42px;}
.expert-say p{ display:none; cursor: pointer;}
.expert-say img{ width:28px; height:42px; margin-right:10px; vertical-align:top;}
.expert-say span{ font-size:16px; color:#15bae3;}
/* 视频追溯板块 */
.video-dating-wap{ min-height:300px; padding:50px 0 160px; background:url(../../images/spgs/SPGS_bg6.png) no-repeat center bottom;text-align:center;}
.video-dating-wap .video{ display:inline-block; min-width:500px; min-height:248px;background-color:#000;}
#chart-container0 .highcharts-container{ max-height:100%;}
/* 绿色履历板块 */
.lvli{width: 100%; height: 560px; }
.lvli_box { width: 700px;height: 560px;margin: 0 auto; }
.lvli_left{width: 360px; float: right; }
.lvli_ul{width: 320px; margin-left: 43px;margin-top:50px;}
.lvli_title { height: 50px; line-height: 50px; font-size: 28px; color: #616161; text-align: center;}
.lvli_other { padding: 13px 0; font-size: 16px;color: #616161; font-family: "微软雅黑"; text-indent: 32px;}
.lvli_other2 {text-align: center; padding-top: 15px; padding-bottom: 5px;}
.lvli_other3 { text-align: center; line-height: 20px; font-size: 18px; color: #999; font-weight: bold;}
.lvli_right {width: 339px; height: 500px; float: right;}
.lvli_topbg {width: 339px; height: 26px; background: url(../../images/spgs/lvlitop.png) left bottom no-repeat;}
.lvli_moble { position:relative;width: 339px;height: 473px;background: #fff;border-bottom: 1px solid #9c9c9c;border-right: 1px solid #9c9c9c;border-left: 1px solid #9c9c9c; overflow-y: auto;overflow-x: hidden; position: relative;}
.ewm_bg{position: relative; width: 165px; height: 165px; left: 50%; margin-left: -82.5px;}
.ewm_nr{position: absolute; top:48px; left:32px; width: 102px; height: 96px;}
.biaoti{width: 100%; height: 40px; line-height: 40px; border-bottom: 1px solid #e1e1e1;}
.biaoti .pre{font-size: 16px; font-weight: bold; font-family: "微软雅黑"; color: #323232;}
.biaoti .eng{font-size: 12px; font-family: "微软雅黑"; color: #909090;}
.watermark-ico{ position:absolute; right:17px; top:24px;}
/* SPGS脚部样式 */
.SPGS-footer-wap{ height:214px; background:url(../../images/spgs/SPGS_bg7.jpg) no-repeat center bottom; overflow:hidden;}
.SPGS-footer{ width:1000px; height:214px; padding-top:126px; box-sizing:border-box; margin:0 auto;}
.SPGS-footer-lt{ float:left; width:194px;}
.SPGS-footer-rt{ padding-left:194px;}
.SPGS-footer-rt .copyright-txt{ margin-top:20px; line-height:20px; font-size:14px; color:#fff;}
.SPGS-footer-rt .copyright-txt span{ padding-right:20px;}


/*弹窗样式*/
#myModal1 p{margin: 0;}
#myModal1 .paragraph1,.paragraph2{width:100%; min-height: 440px; border-bottom: 1px dashed #e2e2e2; font-size: 16px;}
#myModal1 .paragraph2{min-height: 385px;}
#myModal1 .paragraph1 .paraLeft{width: 525px; height: auto;}
#myModal1 .paragraph1 .paraLeft .title{line-height: 32px; padding-left: 30px; background: url(../../images/spgs/cycle_blue.png) 6px no-repeat; font-weight: bold; margin: 0; color: #323232;}
#myModal1 .paragraph1 .paraLeft .title span{color: #0066b7;}
#myModal1 .paragraph1 .paraRight{width: 250px;}
#myModal1 .marble{padding-left: 30px;}
#myModal1 .marble li{float: left; width: 131px; height: 131px; padding: 15px;}
#myModal1 .paragraph2 .paraLeft{width: 490px; height: auto; padding-top: 20px;}
#myModal1 .paragraph2 .paraLeft .title{line-height: 36px; padding-left: 30px; background: url(../../images/spgs/cycle_green.png) 6px no-repeat; font-weight: bold; margin: 0; color: #323232;}
#myModal1 .paragraph2 .paraLeft .title span{color: #1cae2f;}
#myModal1 .paragraph3{height: auto; font-size: 16px;}
#myModal1 .paragraph3 .paraBox1 .paraLeft{width: 525px; height: auto; padding-top: 20px; line-height: 36px;}
#myModal1 .paragraph3 .paraBox1 .paraLeft .title{line-height: 36px; padding-left: 30px; background: url(../../images/spgs/cycle_blue.png) 6px no-repeat; font-weight: bold; margin: 0; color: #323232;}
#myModal1 .paragraph3 .paraBox1 .paraLeft .title span{color: #0066b7;}
#myModal1 .paragraph3 .paraBox1 .paraRight li{float: left; padding: 60px 20px 20px 20px;}
#myModal1 .paragraph3 .paraBox1 .paraRight li p{text-align: center;}
/*环境危险*/
#myModal3 p{margin:0;}
#myModal3 .paragraph1{width:100%; min-height: 340px; border-bottom: 1px dashed #e2e2e2; font-size: 16px;}
#myModal3 .paragraph1 .paraBox1{width: 100%; height: auto;}
#myModal3 .paragraph1 .paraBox1 .title{line-height: 32px; padding-left: 30px; background: url(../../images/spgs/cycle_green.png) 6px no-repeat; font-weight: bold; margin: 0; color: #323232;}
#myModal3 .paragraph1 .paraBox1 .title span{color: #22ac38;}
#myModal3 .paragraph1 .paraBox2 li{float: left; width: 120px; text-align: center; font-size: 12px; color: #646464; padding-top: 18px;}
#myModal3 .paragraph1 .paraBox2 li p{line-height: 30px;}
#myModal3 .paragraph2{width: 100%; height: auto; padding-top: 20px; min-height: 420px; border: none;}
#myModal3 .paragraph2 .title{line-height: 32px; padding-left: 30px; background: url(../../images/spgs/cycle_blue.png) 6px no-repeat; font-weight: bold; margin: 0; color: #323232;}
#myModal3 .paragraph2 .title span{color: #0066b7;}
#myModal3 .paragraph2 ul{width: 210px; padding-left: 16px;}
#myModal3 .paragraph2 ul li{float: left; width: 60px; text-align: center; padding-top: 20px;}
/*成熟度开始*/
#myModal2 p{margin:0;}
#myModal2 .paragraph1{width:100%; min-height: 335px; border-bottom: 1px dashed #e2e2e2; font-size: 16px;}
#myModal2 .paragraph1 .title{line-height: 32px; padding-left: 30px; background: url(../../images/spgs/cycle_green.png) 6px no-repeat; font-weight: bold; margin: 0; color: #323232;}
#myModal2 .paragraph1 .title span{color: #22ac38;}
#myModal2 .paragraph2{width: 100%; height: auto; padding-top: 20px; min-height: 420px; border: none;}
#myModal2 .paragraph2 .title{line-height: 32px; padding-left: 30px; background: url(../../images/spgs/cycle_blue.png) 6px no-repeat; font-weight: bold; margin: 0; color: #323232;}
#myModal2 .paragraph2 .title span{color: #0066b7;}
#myModal2 .paragraph2  li{float: left; text-align: center; width: 150px; font-size: 14px;}
#myModal2 .paragraph2  li p{line-height: 45px;}

/*没有数据时*/
.noRecord{min-width:400px; height:400px; border:1px dashed #e2e2e2; border-radius: 5px; text-align: center; margin-top: 20px; color: #646464; padding-top: 160px; font-size: 18px;}


