/* CSS Document */

body {
    background: none repeat scroll 0 0 #fff;
    color: #000;
    font-family:\5FAE\8F6F\96C5\9ED1;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p {
    border: medium none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clear{ clear:both;}
.main{  width:320px; background:#fff; margin:0 auto; padding-top:12px;}

.content2{background:none; padding:0 10px; }
.top_logo{ width:100%; height:44px; }
.logo{ float:left; width:50%; height:44px; text-align:left;}
.fenx{ float:left; width:50%; *width:49%; height:44px; text-align:right;}
.fenx_ul{ float:right;}
.city_nav{ float:right; margin-right:0px; cursor:pointer;}
.goodsul{ margin:0 auto; height:90px;}
.goodsname{ width:100%; height:30px; line-height:30px; text-align:center; font-size:20px; color:#333; font-weight:bold;}
.goodsname2{ width:100%; height:30px; line-height:30px; text-align:center; font-size:14px; font-family:Hiragino Sans GB W3; color:#333; padding-bottom:5px;}
.maturity{ width:100%; height:216px; text-align:center; position:relative; z-index:100;}
.addico{border-top:1px solid #bdbdbd; padding-top:8px;}
.adress{ font-size:16px; color:#2c3236; font-family:\5FAE\8F6F\96C5\9ED1;border-top:1px solid #bdbdbd; padding-top:5px;}

.szzs{ color:#2C3236; font-size:16px; height:40px; line-height:30px; text-align:left; margin-top:20px; font-weight:bold;}
.jieduanbg{ width:310px; height:52px; background:url(img/jdbg.png) left center no-repeat; position:relative; z-index:2; margin-top:30px;}
.jieduans{ height:52px; background:url(img/jd.png) left no-repeat; position:absolute; z-index:2; }
.xiaol{ width:24px; height:24px; position:relative; z-index:3; float:right;}
.qip{ width:48px; height:25px; position:absolute; line-height:25px; text-align:center; font-size:12px; color:#e17e5f; right:-12px; top:-26px; background:url(img/qip.png) no-repeat;}
.pingt_rk{ width:100%; height:85px; border-bottom:2px solid #e5607b; z-index:300; background:#fff;}
.pingt_rk li{ width:25%; height:77px; padding:5px 0; font-size:14px; float:left; text-align:center; cursor:pointer;}
.jd01{ width:100%; height:99px; text-align:center;}

.tree_main{ width:100%; background:none; margin-top:40px;}


.top_treebg{ width:100%;}
.width50{ width:100%;height:36px; background:url(img/00reebg_03.png) center top no-repeat;  }
.witabel{ width:50%; height:41px; float:left; position:relative; z-index:3;} 
.witabtd{ text-align:right; height:22px;}
.witabtdz{ text-align:right; padding-right:20px; height:22px;}
.lvli_icon{ padding-right:5px; padding-left:10px; height:22px;}
.lvli_icon2{ padding-left:20px; padding-right:10px;}
.ebg_05{width:100%;height:44px; background:url(img/00ebg_05.jpg) center top no-repeat; position:relative; z-index:2;}
.width51{ width:100%;height:41px; background:url(img/00reebg_05.png) center top no-repeat; position:relative; z-index:2;}
.witabel2{ width:50%; height:41px; float:right; margin-top:30px;} 
.witabtd2{ text-align:left; height:22px;}
.witabtd2z{ text-align:left; height:22px; padding-left:20px;}
.wid38{ font-size:20px; color:#4c760e;}
.wid32{ font-size:14px; color:#4c760e;}
.wid130{ font-size:14px; color:#999999;}
.widhui{ font-size:12px; color:#999999;}
.widhui24{ font-size:14px; color:#00000;}
.widhon{ font-size:14px; color:#e27f5f;}

.wid30{ font-size:14px; color:#4c760e;}
.widhui30{ font-size:14px; color:#999999;}

.bot_treebg{width:100%;}
.width53{ width:100%;height:34px; float:left; position:relative; z-index:2;  background:url(img/bottom_08.png) center bottom no-repeat; }
.width54{ width:100%;height:32px; float:right; position:relative; z-index:1; background:url(img/bottom_07.png) center bottom no-repeat;  }

.witabtd3{ text-align:right; padding-right:20px;}
.witabel3{ width:50%; height:33px; float:left; margin-top:30px; position:relative; z-index:3;} 
.witabel4{ width:50%; height:33px; float:right; margin-top:10px;} 
.witabtd4{ text-align:left; padding-left:20px; }

.zwtitle{ font-size:18px; color:#679424; font-weight:bold; padding-right:8px;}
.four_table{display:none;}

.ppaititle{ color:#34495c; font-size:18px; text-align:left; height:30px; line-height:30px; font-weight:bold; margin-top:10px; margin-bottom:10px;}
.ppaicont{ color:#585858; font-size:14px; text-align:left; line-height:20px;}
.farminfor{ min-height:138px; margin-top:15px; }
.f_i_span{ width:100%;  height:30px; }
.farm_i_font{ font-size:14px; color:#5f5e5e;}
.farm_mation{  font-size:14px; color:#5f5e5e; word-break:break-all;}
/*作物健康指数以下开始*/

/*农残*/

.nongct{ width:100%; height:25px; line-height:25px; font-size:18px; color:#679424; font-weight:bold; margin-top:20px;}
.ncfont{ font-size:16px; color:#666666;  height:22px; vertical-align:middle;}
.ncfens{ font-size:16px; color:#6bb0df; text-decoration:underline; position:relative; top:-5px; margin-left:5px; }
.zhesdiv{  float: left;    height: 160px;    margin: 8px;    width: 110px;}
/*种植者  成长环境*/
.zzer{ padding-bottom:25px; background:#fff; margin-top:15px; border:1px solid #eee;}
.ncryxq{ width:100%; margin:20px auto 0 auto;}
.ncrydl{width:100%; padding-bottom:15px;}
.ncrydt{width:100%; text-align:center; }
.ncrydd{width:100%; height:30px; line-height:18px; font-size:14px; color:#1d1d1d; text-align:center; margin-top:10px;margin-bottom:10px;}

.pingdl{margin-top:5px;}
.pingdt{ text-align:right; width:90px; padding:4px 4px 4px 0;}
.pingdd{ width:200px; height:20px; background:url(img/pingjbg.jpg) center repeat-x;}
.pingbg{ height:20px; display:block; background:url(img/pingbg.jpg) center repeat-x;}
.people_name{height:26px;line-height:26px; font-size:18px; color:#679424; font-weight:bold; margin-bottom:10px; margin-top:5px;}
.zzerimg{ width:120px; height:120px; border:1px solid #ccc; float:left;}
.zzerjs{ max-width:738px; height:120px; float:left; padding-left:17px; padding-right:17px; overflow:hidden;}
.zername{ line-height:20px; font-size:18px; color:#333; font-weight:bold; padding-right:8px; float:left;}
.zer_sapn{ height:22px; padding-left:5px; background:url(img/namebg_11.jpg) left center no-repeat; line-height:22px; display:block; float:left;}
.zer_sapn font{ height:22px; padding-right:5px; background:url(img/namebg_11.jpg) right center no-repeat; line-height:22px; font-size:12px; color:#fff; display:block;}
.zer_wz{ font-size:14px; color:#666; line-height:20px; height:83px; overflow:hidden;}
.zfens{ font-size:14px; color:#6bb0df; text-decoration:underline; margin-left:5px; }
.szhg{width:31px; height:32px; float:left; background:url(img/chec_29.jpg) no-repeat;}
.szbhg{width:31px; height:32px; float:left; background:url(img/chec_32.jpg) no-repeat;}
.szhge{ font-size:24px; color:#666666;  height:32px; line-height:32px; margin:0 12px; float:left;}
.szfont{ font-size:14px; color:#666666;  height:25px; }
.sztd{ padding-left:15px;}
.start1,.start2,.start3,.start4,.start5,
.startp1,.startp2,.startp3,.startp4,.startp5,
.startj1,.startj2,.startj3,.startj4,.startj5{ width:87px; height:14px; background-image:url(img/star.jpg); display:none;}
.start1,.startp1,.startj1{background-position:0 0;}
.start2,.startp2,.startj2{ background-position:0 -16px;}
.start3,.startp3,.startj3{ background-position:0 -32px;}
.start4,.startp4,.startj4{ background-position:0 -48px;}
.start5,.startp5,.startj5{ background-position:0 -64px;}
.time{ width:16px; height:16px; background:url(img/time_34.jpg) no-repeat; display:block; float:right;}
.szfocc{ font-size:12px; color:#ccc;  height:14px; line-height:14px; float:right; margin-left:8px;}
.szfdc{ font-size:14px; color:#4c4c4c; line-height:18px;}
.lipadi{ padding-bottom:15px; margin-bottom:20px;}
.boline{ border-bottom:1px solid #ccc;}
.foot{ font-size:14px; color:#5c7548;}
.fot{ font-size:14px; color:#999;}

.fenxtitle{height:50px; line-height:50px; font-size:18px; color:#fff; text-align:center;}
.fenxdl{width:60px; height:80px; float:left; margin-right:30px;}
.fenxdt{width:60px; height:60px; }
.fenxdd{width:60px; height:40px; line-height:20px; font-size:12px; color:#ffffff; text-align:center; }
.fenxbut{ width:100%; height:42px; margin-bottom:15px; text-align:center;}
.ncjc{padding:25px; margin:0 auto; text-align:center;}
.ncjc img{ margin-bottom:20px;}
.hpdno{font-family:Arial, Helvetica, sans-serif; font-size:30px; *font-size:26px; color:#e27a25;}
.hpdbf{font-family:Arial, Helvetica, sans-serif; font-size:30px; *font-size:26px; color:#e27a25;}
.fonth{font-size:14px; color:#666666;}
.fontcp{font-size:16px; color:#9c9a9b;}
/*插件*/
  
.pro_pic{ height: 150px;    left:0px;    margin: 0 auto;    position: relative;    top:42px;    width: 150px;}
.bfb{ width:100%; height:25px; line-height:25px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#575757;}
.now_zt{ width:100px; height:35px; background:url(img/now_03.png) left bottom no-repeat; position: relative; right:25px; top: -31px; z-index: 105;}
.now_font{width:100px; height:38px; position:relative; z-index:105; left:-63px; top:-31px; font-size:12px; text-align:left; color:#666; cursor:pointer;}

.nowcz_zt{ width:174px; height:30px; background:url(img/now_04.png) right bottom no-repeat;left:42px; position: relative; top:117px; z-index: 105;}
.nowcz_font{ color: #666666;    font-size: 12px;    height: 38px;    left: 165px;    position: relative;    text-align: left;    top: 113px;    z-index: 105;}

.chart {
  position: relative;
  display: inline-block;
  width:190px;
  height:190px;
  text-align: center;
  z-index:100;
}
.chart canvas {
  position: absolute;
  top: 16px;
  left:17px; z-index:101;
}
.percent {
  display: inline-block;
  position:relative; top:134px; left:-87px; color:#f3947a; font-size:14px;
  z-index: 2;
}
/*插件结束*/
.tck{ width:100%; padding:10px; background:url(img/tck.png) repeat; position:fixed; z-index:1000; display:none;}
.city_hovers2{display:block;position:fixed; bottom:0;}
.tck2{width:300px;  padding:10px; background:url(img/tck.png) repeat; position:fixed; z-index:1000;  display:none;}
.tck3{width:300px;  padding:10px; background:url(img/tck.png) repeat; position:fixed; z-index:1000;  display:none;}

.city_hovers { max-width:300px; min-height:200px; display:block;position:fixed; margin:0 auto; bottom:0;}
.city_hovers3{ max-width:300px; min-height:200px; display:block;position:fixed; margin:0 auto; bottom:0;}
.tckti{ font-size:18px; color:#fff;}
.tckhn{ font-size:14px; line-height:25px; color:#ccc; padding:15px 0;}


/*线路查询开始*/


.xlcx_03{ width:100%; height:88px; background:url(img/xlcx_03.jpg) repeat-x;}
.xtir{ font-size:30px; color:#333;}
.xtnoe{ font-size:28px; color:#666;}
.xtinput{ width:100%; height:70px; padding:0 5px; background:url(img/sec_23.jpg) left no-repeat; border:none; text-align:left; line-height:70px; font-size:24px; color:#333;}
.lxname{ color:#333; font-size:24px; padding:15px 5px 15px 5px;}
.xlgl{ font-size:24px; color:#666;}
.xldjg{ background:#ebf2fc;}
/*线路查询结束*/
.tt{ cursor:pointer; }
.centerbg{width:100%; height:55px; background:url(img/center.png) center no-repeat;}

.nowcz_zt2{ width:174px; height:48px; background:url(img/now_04.png) right bottom no-repeat; position:relative; z-index:105; left:19px; top:-60px;}
.nowcz_font2{ height:38px; position:relative; z-index:105; left:148px; top:-60px; font-size:12px; text-align:left; color:#666;}
.pro_pic2{ width:110px; height:110px; position:relative; z-index:106px; margin:25px auto 0; margin-top:25px\9; }
/*新加样式*/
.calendar{ width:66px; height:63px; padding-top:7px; position:absolute; right:0px; z-index:1; }
.caleqi{ width:66px; height:25px;font-size:12px; color:#fff; text-align:center; line-height:25px; position:relative; z-index:4; top:3px;}
.caleday{ width:66px; height:16px; line-height:15px; text-align:center; color:#0b9ed5; position:relative; z-index:5;/* background:url(img/linebg.jpg) bottom repeat-x; */font-size:11px;}
.caleday a{ text-align:center; color:#4992bb; text-decoration:none; cursor:pointer;}
.newicon{ width:100%; height:20px; text-align:right; padding-top:10px;}


/*新加样式开始*/
.tabcss{position:relative;width:80px;z-indent:2; top:-40px;}
.pingt_rk_a{ margin:0 auto;}
.yhactiv{border-left:1px solid #ddd; border-right:1px solid #ddd; background:#fff;}
.yhbot{width:66px; height:3px; background:url(img/lvibg.png) #fff bottom no-repeat;}
.zhiwen{ width:100%; height:30px; border-collapse:collapse; margin-top:10px;}
.zhiwenfont a{ font-size:16px; color:#1b1b1b; text-align:left; text-decoration:none; }
.zhiw_zjpl{ font-size:14px; color:#0f8cc0;}
.shiyong{ text-align:left; line-height:25px;}
.shiyongimg{ width:300px; height:140px; margin:10px auto;}
.shiytitle{ font-size:18px; color:#212121; text-align:left; line-height:30px;}
.shiytext{ font-size:16px; color:#383838; text-align:left; line-height:30px;}

#divid{ width:100%; background:#f8f8f8; margin-top:10px; padding-top:10px; display:none; margin-bottom:15px;}
.table_font{ font-size:14px; color:#171717; }
.tablewd{color:#f08375; font-family:"HelveticaNeueLT Pro 25 UltLt"; font-size:60px; font-weight:bold;}
.tablewd2{color:#79b9a6; font-family:"HelveticaNeueLT Pro 25 UltLt"; font-size:60px; font-weight:bold;}
.jyuliang{ font-size:14px; color:#171717; text-align:left; height:30px; line-height:30px; padding-left:18px; margin:10px 0;}
.jyldiv{ width:320px; height:144px;}
.kwztd_y{ background:url(img/kwztd.png) right center repeat-y;}
.kwztd_x{ background:url(img/kwztdx.png) bottom center repeat-x;}
.kwztd_th{ font-size:14px; color:#171717; text-align:center; border-right:1px dashed #cbcaca;}
.kwztable{ border-collapse:collapse; table-layout:fixed; margin:0 auto;}

.kwztd_td{ font-size:14px; color:#8b887f; text-align:center; border-right:1px dashed #cbcaca; border-bottom:1px dashed #cbcaca;}
#img_1{ cursor:pointer;}
.tuzhibox{ width:300px; margin:0 auto;}
.shendu{font-size:16px; color:#484848; text-align:left; line-height:30px; width:60px; float:left;}
.tuzhiimg{ width:70px; height:90px; float:left;}
.tuzhib{width:60px; height:21px; float:left;}
.tuzhifont{font-size:12px; color:#484848;text-align:left; float:left; position:relative; top:-8px;}
.tuzhifont2{font-size:12px; color:#484848;text-align:left; float:left; position:relative; top:2px;}
.zgst{float:left; position:relative; left:-18px; top:10px;}


.wwrbox{ height:20px; line-height:20px;  background:url(img/tuzhibg.png) left no-repeat;padding-left:10px; text-align:left; display:inline-block; float:right; position:absolute; }
.wwrbox font{ height:20px; line-height:20px; background:url(img/tuzhibg.png) right no-repeat; padding-right:10px; text-align:left; display:inline-block; float:right; margin-right:-10px; color:#fff; }
.wwrfont_div{ width:280px; padding:0 10px; min-height:25px; line-height:25px; text-align:left; background:#e7d7c0; font-size:14px; color:#333; margin:10px auto 0 auto;}
.phbox{width:300px; margin:0 auto;}
.phtitle{ height:30px;}
.phfont{ font-size:12px; text-align:left; color:#333;}
.nsjlu{ width:100%; border-collapse:collapse;}
.nsjlutd{ padding:5px; background:#5c5c5c;}
.nsmoon{font-size:12px; color:#fff; margin:0 auto;}
.nsdate{font-size:12px; color:#fff; margin:0 auto;}
.nscont{ font-size:16px; color:#fff;}
.color01{color:#f58fa4;}
.color02{color:#99c6eb}
.color03{color:#61b6fd;}
/*新加样式结束*/

/* 20150507环境指纹新增样式 */
.table_font{ font-weight:bold;}
.zhiwenfont a{ color:#0f8cc0; text-decoration:underline;}
.jyldiv{ height:200px;}
.jyuliang2{ font-size:14px; color:#171717; text-align:left; height:30px; line-height:30px; padding-left:18px; margin:10px 0; font-weight:bold;}
.jyuliang2 em{ float:right; margin-right:10px; font-size:12px; font-weight:normal; font-style:normal; cursor:pointer;}
.kwztable-wap{ height:122px; overflow:hidden;}
.kwztable-wap.auto{ height:auto;}
.wenduTxt{ position:relative;}
.wenduTxt2{ position:relative; font-size:45px;}
.yingytable td{ padding:10px 0; font-size:14px; border-right:1px dashed #cbcaca; border-bottom:1px dashed #cbcaca; text-align:center;}
.yingy_txt{ display:block; line-height:16px; margin:5px 10px 0; text-align:left;}
.yingy_txt img{ margin-left:3px; vertical-align:top;}
.soilAcidity{ position:absolute; top:0; width:300px; height:150px;}
.soilka{ width:300px; height:40px; margin:45px 0;}
.soilka-valueTt{ position:absolute; top:0; width:120px; text-align:center;}
.soilka-valueTt span{ display:block; margin:3px 0; line-height:18px; color:#e50c0c;}
.soilka-valueBt{ position:absolute; top:92px; width:120px; text-align:center;}
.soilka-valueBt span{ display:block; margin:3px 0; line-height:18px; color:#fe9158;}
.soilka-valueBt table{ margin:0 auto;}
.soilka-valueBt .valueTdct{ height:9px; background:url(img/hjzs_img4.png) repeat-x left center;}

/* 20150818桃子履历修改样式 */
.peach_shb{ position:absolute; left:-14px; top:0; z-index:102; width:50px; height:50px; cursor:pointer;}
.peach_shb img{ width:50px; height:50px;}
.peach_viewShzh{ display:block; width:150px; height:150px; cursor:pointer;}
.peach_viewShzh .imgs{ border-radius:100%;}
.peach_viewShzh .viewShzh_ico{ position:absolute; left:7px; bottom:24px; width:139px; height:28px;}
.chart canvas{ z-index:1;}
.pro_pic{ top:41px; z-index:20;}
.nowcz_zt{ width:78px; left:138px;}
#divid{ position:relative; border-top:1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; box-shadow:0 0 5px #efefef inset;}
#divid .closeBtn{ position:absolute; right:10px; top:12px; width:30px; height:30px; cursor:pointer;}
.fingerprint_ttl{ height:34px; line-height:34px; overflow:hidden;}
.fingerprint_ttl h2{ float:left; padding:0 5px 0 10px; font-size:14px; color:#749b3e; cursor:pointer;}
.fingerprint_ttl p{ float:left; font-size:12px; color:#c1a05b;}
.wenduTxt ,.wenduTxt2{ padding-left:2px; font-size:40px; font-weight:normal;}
.i-ico{ width:14px; height:14px; margin-left:2px;}
.wwrbox{ top:-36px;}
.code_wap{ margin:10px auto; padding-top:10px; background:url(img/peach_code1.jpg) no-repeat center top; text-align:center;}
.code_wap .codeImg{ width:152px; height:152px; margin:10px auto;}
.code_wap .txt{ font-size:20px; font-weight:bold; color:#b17210;}
.copyRight-wap{ height:26px; line-height:26px; padding:10px 0; background:#f5eedb; font-size:14px; color:#5d7446; text-align:center;}
.TreeSecret{ position:absolute; left:20px; bottom:54px; width:68px; height:84px; padding-top:10px; box-sizing:border-box; background:url(img/peach_treebg.png) no-repeat;}
.TreeSecret p{ height:14px; line-height:14px; text-align:center; font-size:12px; color:#775923;}
.TreeSecret p .num{ padding:0 2px; font-size:14px; font-weight:bold;}
.tree_main{ position:relative;}
.expertLink{ position:absolute; right:0; top:70px; height:20px; line-height:20px; font-size:12px; color:#4b9dcc;}
.expertLink img{ float:left; margin-right:5px;}
/* 再次购买样式 */
.purchase_again{ display:block; width:100%; margin:10px 0; text-align:center;}
.purchase_again .items{ display:inline-block; padding:5px 8px; background:url(img/peach_bg01.jpg) no-repeat right center;}
.purchase_again .itemsNo{ background:none;}
.purchase_again .items .icoA , 
.purchase_again .items .icoB{ width:34px; height:34px;}
.purchase_again .items .icoB{ display:none;}
.purchase_again .items .txt{ font-size:14px; color:#afb3b8;}
.purchase_again .items a{ display:block; text-decoration:none;}
/* 红包样式 */
.redPacket{ position:relative; width:320px; margin:0 auto;}
.redPacket .closeBtn{ position:absolute; right:10px; top:36px; widows:30px; height:30px; cursor:pointer;}
.redPacket h3.ttl{ padding-top:30px; font-size:20px; font-weight:normal; color:#fff; text-align:center;}
.redPacket p.txt{ height:20px; line-height:20px; margin-top:5px; font-size:12px; color:#a9916d; text-align:center;}
.redPacket .redPac{ text-align:center;}
.redPacket .peach_redPac3{ position:relative; z-index:2; height:143px; margin-top:-10px; background:url(img/peach_redPac3.png) no-repeat center bottom;}
.redPacket .receiveBtn{ position:absolute; left:50%; bottom:12px; width:250px; height:50px; margin-left:-125px; background:url(img/peach_redPac4.png) no-repeat;}
.redPacket .receiveBtn input{ width:250px; height:50px; padding:0; border:0; background:none; opacity:0; cursor:pointer;}
/* 图标解释样式 */
.jyuliang2{ padding-left:10px;}
.city_hovers{ min-height:120px;}
.explain-wap{}
.explain-wap .closeBtn{ position:absolute; right:15px; top:20px; width:20px; height:20px; cursor:pointer;}
.explain-wap .closeBtn img{ width:20px; height:20px;}
.explain-wap .ttl{ height:30px; line-height:30px; font-size:14px; font-weight:normal; color:#fff; overflow:hidden; }
.explain-wap .txt{ margin-top:5px; line-height:18px; font-size:12px; color:#fff; word-break:break-all;}
.explain-wap .txt .lis{ display:block; margin-bottom:10px; padding-bottom:12px; border-bottom:1px dashed #ccc; font-weight:normal; text-indent:24px;}

/* 增加农事图片样式 */
.width54 { width: 100%;  height:34px; float: right;position: relative; z-index: 1;background: url("img/bottom_07.png") repeat-y scroll center bottom rgba(0, 0, 0, 0);}	
.width55{ width:100%;height:96px; float:left; position:relative; z-index:2; background:url(img/bottom_07.png) repeat-y center top ;  }
.width56{ width:100%;height:102px; float:right; position:relative; z-index:2; background:url(img/bottom_08.png) repeat-y center top ;  }
.witabtd04 { position:relative; display:inline-block; padding-left: 20px; padding-top: 10px;text-align: left;}
.witabtd04 a img{height:54px; max-width:105px;overflow:hidden;}
.witabtd04 a,
.witabtd03 a{ position:relative; display:inline-block;}
.witabtd04 a .lvli_carousel,
.witabtd03 a .lvli_carousel { background:url(img/lvli_bg1.png); bottom: 0; color: #fff;font-family: "微软雅黑"; height: 18px;line-height: 18px; padding: 0 5px; position: absolute; right: 0;}
.witabtd03{ text-align:right; padding-right:20px;padding-top:10px;}
.witabtd03 a img{height:54px; max-width:105px;overflow:hidden;}
.width56 .witabel3{ margin-top:10px;}
.width56 .witabel3 .witabtd3,.width56 .witabel3 .witabtd03{ padding-right:25px;}
.width54 .witabel3 .witabtd3{ padding-right:25px;}
.width55 .witabel4{ margin-top:10px;}
.width55 .witabel4 .witabtd4,.width55 .witabel4 .witabtd04{ padding-left:25px;}
.width53 .witabel4 .witabtd4{ padding-left:25px;}

.tck66{width:320px;  padding:0px; background-color:#000; position:fixed; z-index:1000;  display:none; width:100%;height:100%;}
.city_hovers3 { bottom: 0; display: block; margin: 0 auto;  position: fixed;}
.city_hovers66 { bottom: 0; display: block; margin: 0 auto; min-height: 320px; position: fixed;}
.container22{ display: block;}

.scroll_wrap li{ display:inline-table; position:relative; float:left;}
.scroll_wrap li a{ display:block; width:90%; height:100%; position:absolute; left:5%; margin:0 auto; overflow:hidden;}
.scroll_wrap li a img{ position:absolute; left:0; top:0; bottom:0; width:100%; max-height:100%; margin:auto 0;}
.scroll_box{ margin:20px auto 0;}
.scroll_position{  width:100%; text-align:center; height:16px; margin:5px auto;}
.scroll_position li{ display:inline-block; margin:0 1px;}
.scroll_position li a {display: block; width: 13px; height: 0; padding-top: 13px; background-image: url(img/pagination.png); background-position: 0 0; overflow: hidden;}
.scroll_position li.on a{ background-position:0 -13px;}
.scroll_position.farming_pic{ position:absolute; bottom:0px; height:auto; margin:0 auto; background:#444; opacity:0.7;}
.scroll_position.farming_pic li{ display:none; padding:10px 20px;}
.scroll_position.farming_pic li a{ display:inline-block; width:100%; height:auto; line-height:20px; padding-top:0; background:none; font-size:14px; font-weight:bold; color:#fff; text-align:center; overflow:hidden;}
.scroll_position.farming_pic li.on{ display:block;}
.people_name h2{ float:left; display:inline-block; font-size:18px; color:#679424;}
.people_name a{ display:inline-block; height:16px; line-height:15px; margin:2px 5px; padding:2px 8px; background:#339a01; border:1px solid #b9b7ba; border-radius:5px; font-size:12px; font-weight:normal; color:#fff;}

.scroll_position.farming_pic{ position:absolute; bottom:0px; height:auto; margin:0 auto; background:url(img/lvli_bg1.png); opacity:1;}
.scroll_position.farming_pic li{ padding:10px;}
.scroll_position.farming_pic li a{ display:block; width:100%; max-height:48px; line-height:16px; overflow:hidden; font-size:12px; font-weight:normal; text-align:left;}
.scroll_position.farming_pic li a:hover{ text-decoration:none;}
.scroll_position.farming_pic li a.maxHeight{ max-height:160px;}
.scroll_position.farming_pic .lvli_carouselBt{ height:24px; line-height:24px; margin:5px 0; overflow:hidden; color:#fff;}
.scroll_position.farming_pic .lvli_title{ float:left; max-width:142px; height:24px; overflow:hidden; padding-right:10px; font-size:16px;}
.scroll_position.farming_pic .lvli_date{ float:left; padding-right:5px; font-size:13px;}
.scroll_position.farming_pic .lvli_time{ float:left; font-size:13px;}
.scroll_position.farming_pic .lvli_picNum{ float:right; font-weight:normal; font-size:14px;}
.scroll_position.farming_pic .lvli_picNum1{ padding:0 3px; font-size:18px; font-weight:bold; font-style:normal-;}
.scroll_position.farming_pic .lvli_picNum2{ padding:0 2px; font-size:14px; font-style:normal-;}

.scroll-closebtn {display: block; position: absolute;right: 0;top: 0;z-index: 100; width: 28px;height: 28px; background:url(img/close_lvliimg.png) no-repeat;}



