@charset "utf-8";
/* CSS Document */
em{ font-style:normal;}

/* 农场信息编辑页样式 */
.farm-info-wap{ position:relative;}
.cropLeft{ position: relative; float: left; width: 270px;}
.cropLeft .picture{ position: relative; width:270px; height: 270px;}
.cropLeft .picture img{ width:100%; height:100%;}
.cropLeft .organic{position: absolute; top:10px; right: 10px; width: 41px; height: 42px; background: url(../../images/information/organic.png);}
.cropLeft .thumbnail-w{ position: relative; z-index:2; width: 214px; height: 66px; margin:10px auto 0; overflow: hidden;}
.cropLeft .thumbnail-w .imagesList{position: absolute; top:0; left: 0; width: 2000px;overflow: hidden;}
.thumbnail-w .imagesList li{float: left; margin-right: 8px; width:66px; height: 66px; cursor: pointer;}
.thumbnail-w .imagesList li img{ width:100%; height:100%;}
.cropLeft .thumbnail-btns{ position:absolute; bottom:0; left:0; width:100%; height:66px;}
.cropLeft .leftBtn{position: absolute; left: 0; top:0; width: 24px; height: 66px; background: url(../../images/information/FarmInfor_btnL.png) no-repeat center center;}
.cropLeft .rightBtn{position: absolute; right: 0; top:0; width: 24px; height: 66px; background: url(../../images/information/FarmInfor_btnR.png) no-repeat center center;}
.cropLeft .leftBtn.noClick{ background: url(../../images/information/FarmInfor_btnL2.png) no-repeat center center; cursor:default;}
.cropLeft .rightBtn.noClick{ background: url(../../images/information/FarmInfor_btnR2.png) no-repeat center center; cursor:default;}
.farm-info-rt{ padding-left:310px;}
.farm-infoinstro-hd{ padding:15px 60px 15px 0; border-bottom:1px solid #eee; overflow:hidden;}
.farm-infoinstro-hd .farm-name{ float:left; height:30px; line-height:44px; margin-right:20px; font-size:22px; font-weight:normal; color:#4c4c4c;}
.farm-infoinstro-hd .icos-info{ float:left; height:20px; line-height:20px; margin-right:20px; margin-top:14px; padding:0 8px 0 5px; border-radius:2px; box-shadow:0 1px 1px 0px #bfbfbf; font-size:12px; color:#fff;}
.farm-infoinstro-hd .icos-info .min-ico{ float:left; width:14px; height:14px; margin:3px 3px 3px 0; background-image:url(../../images/information/FarmInfor_icos1.png); background-repeat:no-repeat;}
.farm-infoinstro-hd .icos-info.bg1{ background:#e74a43;}
.farm-infoinstro-hd .icos-info.bg2{ background:#1abc9c;}
.farm-infoinstro-hd .icos-info.bg3{ background:#9b59b6;}
.farm-infoinstro-hd .icos-info.bg4{ background:#e67d39;}
.farm-infoinstro-hd .icos-info.bg5{ background:#2a82b4;}
.farm-infoinstro-hd .icos-info.bg1 .min-ico{ background-position: 0 0;}
.farm-infoinstro-hd .icos-info.bg2 .min-ico{ background-position: 0 -34px;}
.farm-infoinstro-hd .icos-info.bg3 .min-ico{ background-position: 0 -68px;}
.farm-infoinstro-hd .icos-info.bg4 .min-ico{ background-position: 0 -102px;}
.farm-infoinstro-hd .icos-info.bg5 .min-ico{ background-position: 0 -136px;}
.farm-infoinstro-bd .info-table{}
.farm-infoinstro-bd .info-table td{ padding:10px 0; font-size:14px; color:#666;}
.farm-infoinstro-bd .info-table .td-name{ width:60px; text-align:left; color:#999;}
.farm-infoinstro-bd .info-table .font-one{ display:inline-block; width:14px;}
.farm-infoinstro-bd .servce-list{ overflow:hidden;}
.farm-infoinstro-bd .servce-list li{ float:left; width:90px; height:20px; line-height:20px; margin-bottom:15px;}
.farm-infoinstro-bd .servce-list li i{ display:inline-block; width:20px; height:20px; margin-right:5px; background-image:url(../../images/information/FarmInfor_icos2.jpg); background-repeat:no-repeat; vertical-align:top;}
.farm-infoinstro-bd .servce-list li.items1 i{ background-position:0 1px;}
.farm-infoinstro-bd .servce-list li.items2 i{ background-position:0 -31px;}
.farm-infoinstro-bd .servce-list li.items3 i{ background-position:0 -67px;}
.farm-infoinstro-bd .servce-list li.items4 i{ background-position:0 -99px;}
.farm-infoinstro-bd .servce-list li.items5 i{ background-position:0 -136px;}
.farm-infoinstro-bd .servce-list li.items6 i{ background-position:0 -170px;}
/* 农场地图 */
.farm-info-ttl{ height:35px; line-height:34px; margin:20px 0; border-bottom:1px solid #ddd; box-sizing:border-box;}
.farm-info-ttl h2{ height:34px; line-height:34px; font-size:16px;}
.farm-info-ttl h2 .ttl-icos{ float:left; width:20px; height:20px; margin:7px 10px 7px 0; background-image:url(../../images/information/FarmInfor_icos2.jpg); background-repeat:no-repeat; vertical-align:top;}
.farm-info-ttl h2 .ttl-icos.icos1{ background-position:0 -203px;}
.farm-info-ttl h2 .ttl-icos.icos2{ background-position:0 -237px;}
.farm-info-ttl h2 .ttl-icos.icos3{ background-position:0 -31px;}
.farm-map-lt{ float:left; width:410px; height:320px;}
.farm-map-rt{ max-height:320px; padding-left:430px;}
.farm-map-rt .addr-pos{ display:block; line-height:20px; padding:6px 0; border-bottom:1px solid #e1e1e1; font-size:14px;}
.farm-map-rt .addr-txt{ height:280px; overflow:hidden;}
.farm-map-rt p{ line-height:25px; margin-top:10px; text-indent:28px; font-size:14px;}
/* 农场介绍 */
.farm-instro-con h3{ font-size:14px; font-weight:bold; color:#333; text-indent:28px;}
.farm-instro-con p{ margin:10px 0; font-size:14px; color:#333; text-indent:56px;}
/* 采摘信息 */
.pick-instro-con .em-title{ display:block; height:24px; line-height:24px; margin:15px 0; padding:0 10px; font-size:14px; font-weight:bold; color:#666;}
.pick-list{ overflow:hidden;}
.pick-list .items { float:left; width:100px; margin:10px 0 10px 30px; text-align:center;}
.pick-list .pick-pic{ position:relative; display:inline-block; width:80px; height:80px;}
.pick-list .pick-pic .mark-80{ position:absolute; z-index:1; width:100%; height:100%;}
.pick-list .pick-pic .pic{ width:72px; height:72px; margin:4px;}
.pick-list .txt-info{ margin-top:10px; height:20px; line-height:20px; overflow:hidden; text-align:center;}
.pick-table th,.pick-table td{ border-bottom:1px dashed #e2e2e2; padding:10px; color:#767676;}
.pick-table th{ width:160px; box-sizing:border-box; background:#fafafa; font-size:14px; color:#666;}
.pick-table .price{ line-height:1; font-size:30px; color:#ff5000;}
.pick-table .price span{ font-size:18px;}
.package-table{ border-top:1px dashed #e2e2e2;}
.package-table td{ padding:15px 10px; border-bottom:1px dashed #e2e2e2; font-size:14px;}
.package-table td.td-txt1{ text-align:center;}
.package-table td.td-txt2{ text-align:left;}
.package-table td.td-txt3{ text-align:left;}
.package-table td .price{ display:inline-block; height:34px; line-height:34px; padding:0px 12px; border:1px solid #ff5000; box-sizing:border-box; border-radius:4px; font-size:12px; font-weight:bold; color:#ff5000;}
/* 采摘信息编辑页样式 */
.mes_mailBtn{ text-align:center;}
.edit-title-wap{ height:35px; border-bottom:1px solid #ddd; box-sizing:border-box; clear:both;}
.edit-title-wap .ttl-h2{ height:34px; line-height:34px; font-size:18px; color:#000;}
.edit-title-wap .ttl-h2 span{ padding-left:20px; font-size:14px; color:#cdcdcd;}
.edit-table-wap .td-items{ float:left; display:inline-block; min-width:340px; min-height:34px;}
.edit-table-wap .td-items1{ width:450px;}
.edit-table-wap .td-lt{ width:140px; line-height:34px; padding-right:15px; box-sizing:border-box; text-align:right; font-size:14px;}
.edit-table-wap .td-lt,.edit-table-wap .td-rt{ min-height:34px; padding-bottom:15px; box-sizing:border-box;}
.edit-table-wap input.form-control{ width:220px;}
.edit-table-wap textarea.form-control{ width:400px; height:74px; resize:none;}
.edit-table-wap .col-red{ float:left; height:34px; line-height:34px; padding:0 5px; color:#f00;}
.iRadio-list .iRadio-li{ float:left; width:120px; height:34px; line-height:34px;}
.iRadio-list .iRadio-li .icheckbox_minimal,.iRadio-list .iRadio-li .iradio_minimal{ float:left; margin:8px 5px 8px 0;}
.iRadio-list .iRadio-li label{ float:left; margin:0; font-size:14px; font-weight:normal; color:#666;}
.icheckbox_minimal, .iradio_minimal{ background:url(../../images/bootstrap/blue.png) no-repeat;}
.excel-wap{ width:650px; height:390px;}
/* 通用的新的上传图片 */
.fileImg ,.fileBtn{ position: relative; float: left; width: 130px; height: 130px; margin: 0 5px 5px 0; overflow: hidden;}
.fileImg img ,.fileBtn img{ width: 100%; height: 100%;}
.fileBtn input{ position: absolute; right: 0; bottom: 0; z-index: 2; width: 100%; height: 150%; opacity: 0; filter:alpha(opacity=0); font-size: 50px; cursor:pointer;}
.fileImg{ position:relative;}
.fileImg .file-btns{ position:absolute; right:0; top:0; z-index:1; display:none; border:1px solid #206fbc; overflow:hidden; cursor:pointer;}
.fileImg .file-btns img{ float:left; width:24px; height:24px;}
.fileImg:hover .file-btns{ display:block;}
/* 通用的无数据 */
.tip-nodata-wap{ position: relative; min-height: 300px; border: 1px dashed #d6d6d6; border-radius: 6px;}
.tip-warning-nodata{ position: absolute; left: 50%; top: 50%; width: 480px; margin-left: -240px; margin-top: -105px;}
.tip-warning-nodata .ico{ display: block; margin-bottom: 20px; text-align: center;}
.tip-warning-nodata em{ display: block; font-size: 16px; font-style: normal; font-weight: normal; text-align: center;}
.tip-warning-nodata p{ line-height:26px; margin-top:15px; font-size:14px; text-align:center; color: #5c5c5c;}

/* 400分机号提示信息样式 */
.base_tipinfo{ width:260px; margin:0 auto; text-align:center;}
.base_tipinfo img{ margin-bottom:15px;}
.base_tipinfo .p_text1{ line-height:24px; font-size:16px; color:#525252;}
.base_tipinfo .p_text2{ line-height:24px; font-size:14px; color:#909090;}

/*2016.9.6水土气检测报告*/
.report{height: 35px; line-height: 34px; margin-top: 40px; border-bottom: 1px solid #ddd; box-sizing: border-box; font-size: 16px; color: #1a1a1a;}
.no_report{height: 270px; text-align: center;}
.no_report img{margin-top: 105px; margin-bottom: 15px;}
.no_report p{text-align: center; font-size: 16px; color: #323232;}
.crop_name td,.org_name td,.others td{padding: 10px 0; }
.crop_name .cotton{max-width: 330px; overflow: hidden; white-space: nowrap; text-overflow:ellipsis; font-weight: bold; cursor: pointer;}
.org-contant{font-size: 14px; color: #323232; width: 100%; height: 230px; border-bottom: 1px solid #e2e2e2; padding: 30px 0 10px 185px; position: relative; box-sizing:border-box;}
.org-contant .org_left{position: absolute; left: 0; top:30px; width: 170px; height: 170px; border:1px solid #e8e8e8; background-color: #f4f4f4; text-align: center; padding-top: 1px;}
.org_text{height: 63px; overflow: hidden;}
.carousel_box{width: 120px; height: 168px; position: relative; left: 25px; top:1px; overflow: hidden;}
.fenye{margin: 40px auto ;}
.c64{color: #646464;}
/*弹窗样式   */
.popup-bigic {position: absolute; left: 0; top: 0; background: url(../../images/information/fade.png) repeat; overflow: hidden; z-index: 999; display: none;}
.img-bigic{position: absolute;}
.baseAddModel_body{padding:5px; border:1px solid #bebfc0; border-radius:8px; background:#fff; width: 700px;height: 614px;position: fixed;top: 50%;left:50%; margin-top: -307px; margin-left: -350px;}
.baseAddModel_close{ position:fixed; left:50%; top:50%; margin-top:-320px; margin-left: 335px; width:28px; height:28px; background:url(../../images/information/farmingIco05.png) no-repeat; cursor:pointer;}
.baseAddModel_close:hover{ background:url(../../images/information/farmingIco06.png) no-repeat;}
.baseAddModel_body .carousel{width: 388px; height: 540px; position: relative; left: 155px; top:40px; overflow: hidden;}
.baseAddModel_body .carousel ul{position: absolute; width: 3000px;}
.baseAddModel_body .carousel ul li{float: left; width: 388px; height: 540px; text-align: center;}
.baseAddModel_body .btns .leftBtn{position:absolute; width: 23px; height: 31px; left: 25px; top:50%; background: url(../../images/information/left_btn.png);}
.baseAddModel_body .btns .rightBtn{position:absolute; width: 23px; height: 31px; right: 25px; top:50%; background: url(../../images/information/right_btn.png);}
/*编辑页*/
.addTitle{font-size: 18px; color: #000; border-bottom: 1px solid #e1e1e1; padding-top: 30px; padding-bottom: 10px; margin-bottom: 15px;}
.addTitle span{font-size: 14px; color: #b2b2b2; padding-left: 10px;}
.nw450 { width: 450px;}
.nw220{width: 220px;}
.input-append {width: 220px;}
.org_content td{padding: 15px 0; font-size: 14px; color: #323232;}
.org_content td.product_org{width: 105px; text-align: right;padding-right: 10px;}
.org_content td .add_pp { width: 145px; height: 145px; border: 3px dashed #e2e2e2; border-radius: 5px; position: relative; float: left; cursor: pointer; margin-right: 15px; margin-bottom: 10px;}
.org_content td .add_pp .glass { width: 67px; height: 67px; position: absolute; top: 50%; margin-top: -35.5px; left: 50%; margin-left: -35.5px;}
.org_content td .add_pp .upload { width: 145px; height: 145px; position: absolute; top: 0; left: 0; font-size: 32px; opacity: 0; filter: alpha(opacity=0);}
.addBtn{text-align: center; margin-top: 40px;}
[class^="icon-"], [class*=" icon-"] {background-image: url(../../images/bootstrap/glyphicons-halflings.png);}