body{width: 640px;}

.videobody{width: 640px;background: #f7f7f7;overflow: hidden;}
/*.nc{background: #000;}*/
/*生长视频*/
.carousel,.carousel-inner,.item{width: 100%;height: 100%;}
#video-pic .carousel-control{display: none;}

.video-wrap{width: 100%;height: 550px;}
.video-wrap{width: 100%;height: 550px;overflow: hidden;}
.video-list{width: 100%;height: 550px;overflow: hidden;color: #999;display: none;position: relative;}
.video-list.cur{display: block;}
.video-list img{width: 100%;height: 100%;}
.video-list .item img{width: 100%;height: 100%;}
.video-des-num{position: absolute;right: 0;color:#fff;font-size: 21px;padding:8px 15px;bottom:0px;background: rgba(0,0,0,0.5);}

.video-btn li{ float: left;width: 33.33%;background: #fff; text-align: center;height: 105px;font-size: 25px;color: #999;line-height: 150px;}
.video-btn li:nth-child(1){background:#fff url(../../images/resume2/page4-icon11.png) no-repeat center;background-position: center 15px;}
.video-btn li:nth-child(1).cur{background: #f7f7f7 url(../../images/resume2/page4-icon2.png) no-repeat center;color: #84b845;background-position: center 15px;}
.video-btn{border-bottom:1px solid #e1e1e1; margin-bottom: 20px;}
.video-btn li:nth-child(2){background:#fff url(../../images/resume2/page4-icon3.png) no-repeat center;background-position: 50px;background-position: center 11px;}
.video-btn li:nth-child(2).cur{background: #f7f7f7 url(../../images/resume2/page4-icon5.png) no-repeat center;color: #84b845;background-position: center 11px;}
.video-btn li:nth-child(3){background:#fff url(../../images/resume2/page4-icon4.png) no-repeat center;background-position: 50px;background-position: center 11px;}
.video-btn li:nth-child(3).cur{background: #f7f7f7 url(../../images/resume2/page4-icon8.png) no-repeat center;color: #84b845;background-position: center 11px;}

.video-des{background: #fff;width: 100%;}
.video-des-wrap{width: 100%;display: none;font-size:20px;color: #999;line-height: 40px;}
.video-des-top{border-bottom: 1px solid #e1e1e1;padding: 20px;}
.video-des-title{font-size: 26px;color:#1a1a1a;}
.video-des-wrap.cur{display: block;}
.video-des-bottom{padding:20px;}

.img-icon{margin-top: -7px; margin-right:10px;}


/*滑块*/
.slidebar{width: 100%;position: absolute;bottom:0;left: 0;background: #424242;padding:24px 25px;box-sizing:border-box;z-index: 2;}
#slider .ui-slider-range { background: #019eef;margin: auto; }
#slider .ui-slider-handle { border-color:none; top: -8px; }
.ui-widget-content{background:#6f6f6f;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{width: 30px;height: 30px;border-radius: 50%;-webkit-border-radius: 50%;}
.ui-widget-content{border: none;}

/*第二页2*/
.huanjingbody{background: url(../../images/resume2/bg1.jpg) no-repeat;background-size: 100% auto;}
.page2-talk{width:46px;height:47px;position: absolute;top:4%;right:5%;}
.page2-second-title{ text-align: center;color: #FFFFFF; font-size: 30px;font-weight: bold;padding-top:30px;}
.page2-shujulist{width: 30%;margin: 0 2%;margin-bottom: 7%;}
.page2-shujulist:nth-child(3),.page2-shujulist:nth-child(6){width: 26%;}
.shuju-num{font-size: 20px;color: #FFFFFF; text-align: center;margin-left: 9px;}
.shuju-p2{font-size: 32px;}
.shuju-line{height: 35px;width: 2px;background: #fff; margin-top: 18px; margin-left: 25px;}
.shuju-icon{margin-top:10px;}
.page2-shuju{width: 95%;margin: auto; margin-top: 8%;}
/*环境数据*/
.page2-shujupic{width: 100%;/*position: absolute;left: 0;bottom:20px;*/height: 500px;margin-top:50px;}
.page2-flash1{margin: auto;position: relative;}
.leftArray{position: absolute;left: 0;top: 250px;}
.rightArray{position: absolute;right: 0;top: 250px;}
.page2-flash1-title{font-size: 30px;text-align: center; font-weight: bold;color: #68a43e;margin-bottom: 20%;}
.page2-flash1-wrap{height: 332px;width: 506px;background: url(../../images/resume2/page7-16.png) no-repeat; margin: auto;font-size: 18px;color: #000;position: relative;}

.page2-flash1-img1{position: absolute;left: 5px;bottom:156px;width: 7px;height: 185px;z-index: 4;display: none;}
.whiteline1{fill:none;stroke:#cdd55b;stroke-width:2;}
.dian{width: 9px;height: 10px;}
.dian img{display: none; margin-top: -11px;}
.page2-flash1-img2{position: absolute;left:15px;top:-7px;background: url(../../images/resume2/page7-17.png) no-repeat top;width:167px;height: 50px;line-height: 50px;text-indent: 28px;z-index: 5;display: none;}
.page2-flash1-img3{position: absolute;left:85px;bottom:160px;width:7px;height: 253px;z-index: 4;display: none;}
.page2-flash1-img4{position: absolute;left:95px;top:-80px;background: url(../../images/resume2/page7-19.png) no-repeat top;width:185px;height:49px;line-height: 49px;z-index: 5;text-indent: 30px;display: none;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.page2-flash1-img5{position: absolute;left:265px;top:-20px;width:7px;height:175px;z-index: 4;display: none;}
.page2-flash1-img6{position: absolute;left:277px;top:-20px;background: url(../../images/resume2/page7-20.png) no-repeat top;width:195px;height: 49px;line-height: 49px;z-index: 5;text-indent: 30px;display: none;}
.page2-flash1-img7{position: absolute;right: 130px;bottom:110px;width:7px;height:165px;z-index: 4;display: none;}
.page2-flash1-img8{position: absolute;right: 0;top:55px;background: url(../../images/resume2/page7-21.png) no-repeat top;width:125px;height: 50px;line-height:50px;z-index: 5;text-indent: 46px;display: none;}
/*单位*/
.dw1{position: absolute;left:10px;bottom:40px;font-size: 20px;}
.dw2{position: absolute;right:16px;bottom:40px;font-size: 20px;}
.dw1-wd{position: absolute;left:42px;bottom:40px;font-size: 20px;}
.dw2-wd{position: absolute;right:16px;bottom:40px;font-size: 20px;}

/**/
.pflash{position: absolute;width: 100%;left: 0;top:0;display: none;height: 100%;}
.current{display: block;}
#tj1,#tj2,#tj3,#tj4,#tj5{width:550px;margin: auto;height:360px;position: relative;}
.page2-flash2-title{font-size: 30px;text-align: center; font-weight: bold;color: #68a43e;margin-bottom: 2%;}
.page2-flash2-flag{ text-align: right;width: 80%;margin: auto;font-size: 20px;color: #999; margin-bottom: 6%;}

/*评论*/
.comment-wrap{width: 640px;overflow-y: scroll;/*height:800px;*/height: 100%;padding-bottom:95px;box-sizing:border-box;}
.comment-wrap li{padding: 20px;border-bottom: 1px solid #e1e1e1;position: relative;}
.comment-time{font-size: 22px;color: #999; margin-bottom: 20px;}
.comment-des{font-size: 24px;color: #333;}

.comment-btn{background: #fff;width: 100%;padding: 15px 0;position: absolute;border-top: 1px solid #e1e1e1;bottom: 0;left: 0;}
.comment-btn-txt{background: #e4e4e4;font-size: 24px;color: #999;height: 60px;width: 90%;margin:auto;line-height:60px;text-indent: 25px;}

.xing{position: absolute;right: 20px;top: 20px;}
.xing li,.pl-xing li{width: 28px;height: 28px;background: url(../../images/resume2/page6-2.png) no-repeat; float: left;padding:0px;border-bottom:none;margin:0 5px;}
.xing li.cur,.pl-xing li.cur{width: 28px;height: 28px;background: url(../../images/resume2/page6-1.png) no-repeat; float: left;padding:0px;border-bottom:none;margin:0 5px;}

.comment-write{padding: 20px 0;background: #fff; position: absolute;bottom: 0;width: 640px;left: 0;font-size: 24px;display: none;}
.comment-ta{height: 160px;border: 1px solid #e1e1e1;width: 93%;margin: auto;}
.comment-ta textarea{color: #999;width: 100%;height:158px!important;border: none;padding: 10px;font-size: 24px;}

.pl-xing{padding:20px 0 0 20px}
.pl-btn{width: 115px;height: 55px;background:#dddddd;color: #fff;line-height: 55px;text-align: center;margin:10px 20px 0 0;border-radius: 5px;-webkit-border-radius: 5px;}
.pl-btn.on{background: #7ab94e;}

.toast{background: rgba(0,0,0,0.6);border-radius: 15px;-webkit-border-radius: 15px;color:#fff;font-size: 24px;position:fixed;padding: 10px 20px;z-index: 3;left: 50%;margin-left: -130px;bottom: 20%;display: none;}

.loadingpl{ text-align: center;font-size: 24px;padding: 20px 0;}

.commentbody,.htmlcomment{overflow: hidden;height: 100%;position: relative;}
.ui-page{overflow: hidden;height: 100%;}

.ncvideo{width: 100%;height: 500px;overflow: hidden;position: absolute;left: 0;top: 50%;margin-top:-250px;}
.back{width: 70px;height: 70px;position: absolute;bottom:2%;right: 3%;background: rgba(0,0,0,0.6);border-radius: 50%;text-align: center;cursor: pointer;z-index:2;}
.back img{margin-top: 20px;}
.nc .back{top:2%;left: 3%;}
/**/
.skzb.nouse{background:#ddd url(../../images/resume2/page4-icon11.png) no-repeat center!important;background-position: center 15px!important;}
.hjsk.nouse{background:#ddd url(../../images/resume2/page4-icon3.png) no-repeat center!important;background-position: center 11px!important;}
.spzs.nouse{background:#ddd url(../../images/resume2/page4-icon4.png) no-repeat center!important;background-position: center 11px!important;}
/**/
.overlay{background: #000;opacity: 0.5;overflow: hidden;width: 100%;height: 100%;position: fixed; top: 0;left: 0;display: none;}

.timer{margin-right:10px}
.videopic-list{width: 100%;height:100%;overflow: hidden;color: #999;position: absolute;top:0;left:0;background:#000;z-index:3;display:none;}
#video-pic1{width:640px;height:480px;top:50%;margin-top:-240px;left:0;}
#video-pic1 .carousel-control{display:none;}
.back1{width: 70px;height: 70px;position: absolute;top:2%;left: 3%;background: rgba(0,0,0,0.6);border-radius: 50%;text-align: center;cursor: pointer;}
.back1 img{margin-top: 20px;}
