.modal-header .modal-title {font-family: "微软雅黑";}
.modal-header .i_close {float: right; width: 11px; height: 11px; margin-top: 5px; background: url(../images/commons/farmingIco16.jpg); cursor: pointer;}
.farmRecord{width: 830px;  top: 65px; left: 50%; margin-left: -415px; color: #333; }
.farmRecord .choice{float: left; min-width:384px; min-height: 34px; line-height: 34px; margin-bottom: 20px;}
.farmRecord .choice .item{width: 94px; font-size: 12px; float: left; text-align: right; padding-right: 14px;}
.farmRecord .choice .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){float: left; width: 200px;}
.farmRecord .choice .btn{font-size: 12px;}
.farmRecord .choice .addContent{width: 34px; height: 34px; float: left; margin-left: 6px; margin-top: -2px; cursor: pointer;}
.farmRecord .choice .addContent img{width: 100%; height: 100%;}
.nw130{width: 130px; float: left;}
.farmRecord .choice .unit{float: left; font-size: 12px; margin-left: 6px;}
.farmRecord .choice .form_datetime{float: left; width: 200px;}
.farmRecord .choice .form_datetime [class^="icon-"],[class*=" icon-"]{background-image: url(../../images/bootstrap/glyphicons-halflings.png);}
.farmRecord .choice .pics{min-width: 290px; float: left; max-width: 600px;}
.farmRecord .choice .pics li{width: 130px; height: 130px; float: left; position: relative; margin-right: 15px; margin-bottom: 15px;}
.farmRecord .modal-body{height: 470px; overflow: auto;}
.farmRecord .choice .pics li img,.farmRecord .choice .pics li input{position: absolute; top: 0; left: 0; width: 130px; height: 130px; border-radius: 5px;}
.farmRecord .choice .pics li input{z-index: 2; opacity: 0;filter: alpha(opacity=0); font-size: 28px;}
.farmRecord .choice .tips{position: absolute; bottom: 0; left: 0; text-align: center; font-size: 12px; color: #fff; line-height: 16px; min-height: 16px; border-radius: 0 0 5px 5px; padding: 2px 25px; background: url(../../images/easyFarm/bg.png) repeat;}
.farmRecord .choice textarea{float: left; width: 522px;}
.farmRecord .tup{width: 100%; height: auto;}
.radioBox li{float: left; line-height: 34px;}
.iradio_minimal-blue,.iradio_minimal-blue.checked{ float:left;}
.iradio_minimal-blue, .iradio_minimal-blue.checked{top: 7px;}
label{margin-bottom: 0;}

.farmingInputs_miniBd_min{
	position: relative;
    padding: 20px 15px 0;
			}
.farmingInputs_miniBd_min td{ padding-bottom:20px; height:34px; line-height:34px;}			
.farmingInputs_miniBd{
			height:512px;
			padding:0 15px;
			overflow-y:auto;
			}
		.farminputs_search{
			padding:20px 0;
			}
		.farminputs_search .public-search{
			float:left;
			width:230px;
			margin-right:20px;
			}
		.farminputs_search .txt_name{
			width:83px;
			height:34px;
			line-height:34px;
			padding-right:10px;
			box-sizing:border-box;
			color:#999999;
			}
		.bootstrap-select.btn-group .btn .filter-option{
			vertical-align:top;
			font-family:'微软雅黑';
			}
		.inputs_selectpicker{
			float:left;
			width:140px;
			margin-right:10px
			}
		.inputs_selectpicker .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn),
		.Output_selectpicker .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
			width:100%;
			}
		.inputs_selectpicker .bootstrap-select > .btn,
		.Output_selectpicker .bootstrap-select > .btn{
			width:100%;
			}
		.inputs_selectpicker .bootstrap-select.btn-group .dropdown-menu.inner,
		.Output_selectpicker .bootstrap-select.btn-group .dropdown-menu.inner{
			height:100px;
			}
		.Output_selectpicker  .bootstrap-select > .btn{
			height:26px;
			line-height:24px;
			padding:0 12px;
			}
		.Output_selectpicker .bootstrap-select .dropdown-menu.open{
			top:inherit;
			bottom:100%;
			}
		.inputs_table {
			border:1px solid #ddd;
			border-bottom:0;
			border-radius:5px 5px 0 0;
			}
		.inputs_table table{
			table-layout:fixed;
			font-size:12px;
			}
		.inputs_table th{
			background-color:#fafafa;
			}
		.inputs_table .br_rt{
			border-right:1px solid #ddd;
			}
		.inputs_table .br_bt{
			border-bottom:1px solid #ddd;
			}
		.inputs_table .radius_lt{
			border-radius:5px 0 0 0;
			}
		.inputs_table .radius_rt{
			border-radius:0 5px 0 0;
			}
		.inputs_table th,
		.inputs_table td{
			height:32px;
			line-height:32px;
			padding:0 5px;
			font-weight:normal;
			text-align:center;
			box-sizing:border-box;
			}
		.Output_input{
			width:100%;
			height:26px;
			line-height:24px;
			padding:0 5px;
			border:1px solid #ddd;
			box-sizing:border-box;
			border-radius:5px;
			text-align:center;
			}
		.ellipsis{
			white-space:nowrap;
			text-overflow:ellipsis;
			overflow:hidden;
			}
		.box_padding20{
			padding:0 20px;
			}
		.mb20{
			margin-bottom:20px;
			}
		.br_dd{
			border-top:1px solid #ddd;
			}
		/* 模拟的复选框 */
		.mn_checkall,.mn_check{
			display:inline-block;
			width:18px;
			height:18px;
			background: url(/asset/images/blue.png) no-repeat 0 0;
			background-position: 0 0;
			}
		.mn_checkall:hover,.mn_check:hover{
			background-position: -20px 0;
			cursor:pointer;
			}
		.mn_checkall.checked,.mn_check.checked{
			background-position: -40px 0;
			}
		/* ======================= */
		/* 分页模板 */
		.pageModel{ 
			border:1px solid #e1e1e1; 
			border-radius:5px; 
			border-collapse:separate; 
			font-size:12px;
			}
		table.pageModel td{
			padding:0;
			height:inhert;
			line-height: inhert;
			}
		.pageModel span{ 
			float:left; 
			height:32px; 
			line-height:32px; 
			border-right:1px solid #e1e1e1;
			}
		.pageModel span.page_first a{ 
			border-radius:4px 0 0 4px;
			}
		.pageModel span.page_last{ 
			border-right:0;
			}
		.pageModel a{ 
			display:block; 
			padding:0 13px; 
			color:#9a9a9a;
			text-decoration:none;
			}
		.pageModel a:link ,.pageModel a:hover ,.pageModel a:focus ,.pageModel a:visited{ 
			text-decoration:none;
			}
		.pageModel .page_Cur a{ 
			background:#f6f6f8; 
			color:#0088d2;
			}
		.pageModel .pageCount a:hover{
			color:#9a9a9a;
			}
		.pageModel .current{
			background:#f6f6f8; 
			color:#9a9a9a; 
			padding:0 13px;
			}
		.pageModel-wap{ 
			margin:10px auto;
			}
		.pageModel-wap .pageModel{ 
			margin:0;
			}
		table.pageModel-wap td{
			padding-bottom:0;
			height:32px;
			line-height:32px;
			}
		/* ======================= */
		
/* 2017.03.31 当前生长周期 modal */
.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
#dqszCycleModal{overflow:hidden;}
.modal-backdrop-{z-index:200;}
.dqszCycle_dialog{position:absolute;left:50%;top:50%;width:940px;margin:-188px 0 0 -470px;}
.dqszCycle_dialog .modal-body{padding:20px 0;}
.period-progress-block{ position:relative;width:800px;margin:0 auto; padding:34px 0 150px;color:#000;}
.period-progress-block p{margin-bottom:0;}
.period-progress-block .txt_progress{position:absolute;top:50px;z-index:1;width:60px;height:20px;line-height:20px;margin:0 0 0 -30px;
text-align:center;}
.period-progress-block .txt_progress:before{position:absolute;left:50%;top:-10px;margin-left:-5px;content:'';
border-width:5px 5px 5px 5px;border-style:solid solid solid solid;border-color: transparent transparent #2e4a9b transparent;}
/* .period-progress-bar .bg_yumq{background-color:#72a7ff;}
.period-progress-bar .bg_miaoq{background-color:#27c2e0;}
.period-progress-bar .bg_yingyszq{background-color:#acde6a;}
.period-progress-bar .bg_kaihuaq{background-color:#ffd06a;}
.period-progress-bar .bg_jiegq{background-color:#ffa57e;}
.period-progress-bar .bg_caisq{background-color:#ff836f;}
.period-progress-bar .bg_xiumq{background-color:#8b6f6e;} */
.period-progress-bar .bg_0{background-color:#af77ee;}
.period-progress-bar .bg_1{background-color:#7d77ee;}
.period-progress-bar .bg_2{background-color:#72a7ff;}
.period-progress-bar .bg_3{background-color:#27c2e0;}
.period-progress-bar .bg_4{background-color:#79ba7e;}
.period-progress-bar .bg_5{background-color:#acde6a;}
.period-progress-bar .bg_6{background-color:#ffd06a;}
.period-progress-bar .bg_7{background-color:#ffa57e;}
.period-progress-bar .bg_8{background-color:#ff836f;}
.period-progress-bar .bg_9{background-color:#8b6f6e;}
.period-progress-bar .pitem{position:relative;float:left;height:8px;}
.period-progress-bar .pitem.con0 .period-cont{padding-top:74px;}
.period-progress-bar .pitem.con1 .period-cont{padding-top:116px;}
.period-progress-bar .pitem.con2 .period-cont{padding-top:36px;}
.period-progress-bar .pitem:hover .txt_cycle{z-index:2;}
.period-progress-bar .txt_cycle0,
.period-progress-bar .txt_cycle1{ position:absolute;left:0;z-index:1;width:100%;line-height:14px;
margin:0;text-align:center;}
.period-progress-bar .txt_cycle0{top:-42px;}
.period-progress-bar .txt_cycle1{top:-28px;}
.progress_start{ position:absolute;left:0;top:42px;width:110px;padding-top:36px;margin-left:-55px;}
.progress_start:before{position:absolute;left:50%;top:0;z-index:0;content:"";width:2px;height:100%;border-left:1px dashed #ccc;overflow:hidden;}
.progress_start .txt_date{position:relative;z-index:1;width:100%;height:32px;line-height:32px;border:1px solid #ccc;border-radius:5px;box-sizing:border-box;
background:#fff;font-size:14px;text-align:center;color:#999;}
.period-cont{ position:absolute;right:0;top:8px;width:110px;padding-top:36px;}
.period-cont:before{position:absolute;right:-1px;top:0;z-index:0;content:"";width:2px;height:100%;border-left:1px dashed #ccc;overflow:hidden;}
.period-cont .form_datetime{position:relative;left:50%;z-index:1;}
.period-cont .form_datetime input{width:110px;height:32px;padding:2px 6px 0;border:1px solid #ccc;box-sizing:border-box;border-radius:5px;
font-size:14px;color:#000;text-indent:0;}
.period-cont .form_datetime .add-on{position:absolute;right:6px;top:9px;}
.period-cont .form_datetime .add-on .icon-th{margin:0;}

