/*去除选择框的outline*/
.bootstrap-select .dropdown-toggle:focus{outline:none !important;}
a:focus {
 outline: none !important;
 outline: 0 auto -webkit-focus-ring-color;
 outline-offset: 0;
}
input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus {
 outline: none !important;
 outline: 0 auto -webkit-focus-ring-color;
 outline-offset: 0;
}
.form-control:focus,
input:focus {
 border-color: #ccc;
 outline: 0;
 -webkit-box-shadow: inset 0 0 0 #fff,0 0 0 #fff;
 box-shadow: inset 0 0 0 #fff,0 0 0 #fff;
}
.btn:focus,.btn:active:focus,.btn.active:focus {
 outline: none !important;
 outline: 0 auto -webkit-focus-ring-color;
 outline-offset: 0;
}
.btn:active,.btn.active {
 background-image: none;
 outline: 0;
 -webkit-box-shadow: inset 0 0 0 #fff;
 box-shadow: inset 0 0 0 #fff;
}
/*select下拉框去掉默认边框及获取焦点 */
.btn{
	height: 32px;
	box-sizing: border-box;
	font-family: '微软雅黑';
}
.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
	margin-right: 0;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}
.bootstrap-select .btn:focus {
    outline: inherit !important;
    outline-offset: 0;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a i.check-mark{
	display: block;
    position: absolute;
    right: 10px;
}
.dropdown-menu>li>a:focus {
	background: none;
}
[class^="icon-"], [class*=" icon-"]{
	background-image: url("../../../asset/images/bootstrap/glyphicons-halflings.png");
}



dl{
	margin-bottom: 0;
}
p{
	margin-bottom: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mt14{
	margin-top: 14px;
}
.mt30{
	margin-top: 30px;
}
.mb10{
	margin-bottom: 10px;
}
.mb14{
	margin-bottom: 14px;
}
.mb22{
	margin-bottom: 22px;
}
.mb30{
	margin-bottom: 30px;
}
.mr20{
	margin-right: 20px;
}
.mr50{
	margin-right: 50px;
}
.pt40{
	padding-top: 40px;
}
.pb40{
	padding-bottom: 40px;
}
.ellipsis{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.clearfix:after,.clearfix:before{
	width: 100%;
}
.overflowH{
	overflow: hidden;
}
.display-none{
	display: none;
}
.display-block{
	display: block;
}
.align-center{
	text-align: center;
}
.r_t_l{
	color: #333;
}
.row{
	margin-left: -8px;
	margin-right: -8px;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
}
.icheckbox-blue{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../../images/bootstrap/blue.png) no-repeat;
	background-position: 0 0;
}
.icheckbox-blue:hover{
	background-position: -20px 0;
	cursor: pointer;
}
.icheckbox-blue.icheck,
.icheckbox-blue.icheck:hover{
    background-position: -40px 0;
}
/*公共样式 end====================================*/
/*工具提示*/
.tooltip.top{
	width: inherit;
	min-width: 50px;
	height: inherit;
	background: none;
}
.tooltip.in{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.tooltip-inner{
	max-width: 500px;
}

/*制订农事计划*/
.r_t_l{
	width: 60%;
}
.mt16{
	margin-top: 16px;
}
.mb20{
	margin-bottom: 20px;
}
.pt24{
	padding-top: 24px;
}
.pb24{
	padding-bottom: 24px;
}
.min-w1080{
	min-width: 1080px;
}
body{
	min-width: 1220px;
	font-size: 14px;
	color: #525252;
}
ul{
	margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 0;
	margin-top: 0;
}
p{
	margin-bottom: 0;
}
.select-w140{
	width: 140px;
}
.select-w160{
	width: 160px;
}
.select-w190{
	width: 190px;
}
.select-w200{
	width: 200px;
}
.bootstrap-select.btn-group .btn .filter-option{
	max-width: 94%;
}
.datetimepicker{
	margin-top: 8px;
}
.all-table-auto dl{
	float: left;
	width: 530px;
	margin-bottom: 15px;
}
.all-table-auto dl.w-absolutely{
	float: inherit;
	width: 100%;
}
.all-table-auto dt{
	float: left;
	width: 140px;
	height: 32px;
	line-height: 32px;
	padding-right: 15px;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: normal;
	color: #323232;
	text-align: right;
}
.all-table-auto dd{
	margin-left: 140px;
}
.all-table-auto .form-control.w170{
	width: 170px;
	box-sizing: border-box;
}
.all-table-auto .form-control.w140{
	width: 140px;
	box-sizing: border-box;
}
.all-table-auto .t-wenzi{
	line-height: 32px;
	padding-left: 5px;
	font-size: 12px;
	color: #999;
}
.form_datetime{
	position: relative;
}
.form_datetime .add-on{
	position: absolute;
	right: 10px;
	top: 8px;
}
.form_datetime .add-on i.icon-th{
	margin-left: 0;
}
.all-table-auto .form_datetime.w190{
	width: 190px;
	box-sizing: border-box;
}
.all-table-auto .form_datetime input{
	width: 100%;
	height: 32px;
	line-height: 30px;
	box-sizing: border-box;
	font-size: 12px;
	font-family: "微软雅黑";
}
.all-table-auto textarea{
	resize: none;
}
.all-table-auto textarea.wh114{
	height: 114px;
	box-sizing: border-box;
	font-size: 12px;
	color: #999;
}

/*投入品添加*/
.inputsadd-title{
	position: relative;
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
}
.inputsadd-title h4{
	line-height: 20px;
	font-size: 14px;
}
.inputsadd-title .add-inputs{
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 1;
	height: 20px;
	line-height: 20px;
	padding-left: 20px;
	background: url(../../../asset/images/agricultural/FarmingPlandeal_add1.png) no-repeat 0 center;
	font-size: 14px;
	color: #5cb85c;
	cursor: pointer;
}
.tableModel {
	width: 100%;
	table-layout: fixed;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	border-radius: 10px 10px 0 0;
	border-collapse: separate;
	font-family: '微软雅黑';
	color: #6c6a6b;
}

.tableModel thead {
	border-radius: 10px 10px 0 0;
}

.tableModel thead th ,.tableModel tbody td {
	height: 38px;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
}

.tableModel thead th {
	height: 42px;
	background: #f0f5fb;
	font-size: 14px;
	font-weight: normal;
}

.tableModel thead th:first-child {
	border-radius: 10px 0 0 0;
}

.tableModel thead th:last-child {
	border-radius: 0 10px 0 0;
}

.tableModel tbody tr td {
	font-size: 13px;
	background: #fcfcfc;
}
.delete-btn{
	display: inline-block;
	width: 13px;
    height: 14px;
    background: url(../../../asset/images/farmingIco11.png) no-repeat 0 0;
    cursor: pointer;
}
/*上传图片*/
.btn-file-box .pic100,.btn-file-box .icon14{
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 5px 5px 0;
}
.btn-file-box .pic100 img{
	width: 100%;
	height: 100%;
}
/*效仿的单选按钮*/
.radio-list{
	padding: 6px 0;
	font-size: 12px;
}
.radio-list .ritem{
	float: left;
	line-height: 18px;
	margin-right: 25px;
}
.radio-list .type-check{
	float: left;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	background: url(../../images/bootstrap/blue.png) no-repeat;
	background-position: -100px 0;
}
.radio-list .type-check:hover{
	background-position: -120px 0;
	cursor: pointer;
}
.radio-list .type-check.icheck,
.radio-list .type-check.icheck:hover{
    background-position: -140px 0;
}



/* 大屏幕 */
@media (min-width: 1599px) and (max-width: 1920px) { 
.col-crop2{
	width: 25%;
}
}
@media (min-width: 1299px) and (max-width: 1600px) { 
.col-crop2{
	width: 33.33333333%;
}
}
@media (min-width: 50px) and (max-width: 1300px) { 
.col-crop2{
	width: 50%;
}
}
 

