/*去除选择框的outline*/
.bootstrap-select .dropdown-toggle:focus{outline:none !important;}
a:focus {
 outline: none !important;
 outline: 0 auto -webkit-focus-ring-color;
 outline-offset: 0;
}
input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus {
 outline: none !important;
 outline: 0 auto -webkit-focus-ring-color;
 outline-offset: 0;
}
.form-control:focus,
input:focus {
 border-color: #ccc;
 outline: 0;
 -webkit-box-shadow: inset 0 0 0 #fff,0 0 0 #fff;
 box-shadow: inset 0 0 0 #fff,0 0 0 #fff;
}
.btn:focus,.btn:active,.btn.active:focus,
button:focus,button:active,button.active:focus {
 outline: none !important;
 outline: 0 auto -webkit-focus-ring-color;
 outline-offset: 0;
 box-shadow: none;
}
.btn:active,.btn.active {
 background-image: none;
 outline: 0;
 -webkit-box-shadow: inset 0 0 0 #fff;
 box-shadow: inset 0 0 0 #fff;
}
/*select下拉框去掉默认边框及获取焦点 */
.btn{
	height: 32px;
	box-sizing: border-box;
	font-family: '微软雅黑';
}
.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
	margin-right: 0;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}
.bootstrap-select .btn:focus {
    outline: inherit !important;
    outline-offset: 0;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a i.check-mark{
	display: block;
    position: absolute;
    right: 10px;
}
.dropdown-menu>li>a:focus {
	background: none;
}
[class^="icon-"], [class*=" icon-"]{
	background-image: url("../../../asset/images/bootstrap/glyphicons-halflings.png");
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: "微软雅黑";
}
dl{
	margin-bottom: 0;
}
p{
	margin-bottom: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mt14{
	margin-top: 14px;
}
.mt30{
	margin-top: 30px;
}
.mb10{
	margin-bottom: 10px;
}
.mb14{
	margin-bottom: 14px;
}
.mb22{
	margin-bottom: 22px;
}
.mb30{
	margin-bottom: 30px;
}
.mr20{
	margin-right: 20px;
}
.mr50{
	margin-right: 50px;
}
.pt40{
	padding-top: 40px;
}
.pb40{
	padding-bottom: 40px;
}
.ellipsis{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.clearfix:after,.clearfix:before{
	width: 100%;
}
.overflowH{
	overflow: hidden;
}
.display-none{
	display: none;
}
.display-block{
	display: block;
}
.align-center{
	text-align: center;
}
.r_t_l{
	color: #333;
}
.row{
	margin-left: -8px;
	margin-right: -8px;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
}
.icheckbox-blue{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../../images/bootstrap/blue.png) no-repeat;
	background-position: 0 0;
}
.icheckbox-blue:hover{
	background-position: -20px 0;
	cursor: pointer;
}
.icheckbox-blue.icheck,
.icheckbox-blue.icheck:hover{
    background-position: -40px 0;
}
/*公共样式 end====================================*/
/*工具提示*/
.tooltip.top{
	width: inherit;
	min-width: 50px;
	height: inherit;
	background: none;
}
.tooltip.in{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.tooltip-inner{
	max-width: 500px;
}

/*制订农事计划*/
.r_title{
	margin-top:0;
	padding:0 20px;
	box-sizing:border-box;
}
.r_t_l{
	width: 60%;
	font-family: '微软雅黑';
}
.cm_resumeList{
	float: right;
	margin-top: -1px;
}
.mt16{
	margin-top: 16px;
}
.pt22{
	padding-top: 22px;
}
.pt24{
	padding-top: 24px;
}
.pb24{
	padding-bottom: 24px;
}
.min-w1080{
	min-width: 1080px;
}
body{
	min-width: 1220px;
	font-size: 14px;
	color: #525252;
}
ul{
	margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 0;
	margin-top: 0;
}
p{
	margin-bottom: 0;
}
.select-w140{
	width: 140px;
}
.select-w160{
	width: 160px;
}
.select-w200{
	width: 200px;
}
.bootstrap-select.btn-group .btn .filter-option{
	max-width: 94%;
}
/* 主体  */
.calendar-wrap{
	display:table;
	table-layout: fixed;
	width: 100%;
}
.calendar-left{
	display:table-cell-;
	display: none;
	width: 200px;
	vertical-align:top;
	text-align:left;
}
.calendar-right{
	display:table-cell;
	vertical-align:top;
	text-align:left;
}
/* 左侧--筛选条件 */
.filtrate-cont{
	height:100%;
	padding: 10px;
	border-top:1px solid #e1e1e1;
	box-sizing:border-box;
	overflow-y:auto;
}
.filtrate-cont .public-search .form-control{
	padding-left: 25px;
	color: #b1b1b1;
}
.filtrate-cont .public-search .octicon-search02{
	top: 9px;
}
.filter-title{
	padding:40px 0 12px;
	font-size:14px;
}
.filter-list{
	width:100%;
	border:1px solid #e1e1e1;
	box-sizing:border-box;
	border-radius: 5px;
	margin-bottom:30px;
}
.filter-list .bootstrap-select>.btn{
	position:relative;
	padding-left:30px;
	border:0;
}
.filter-list .bootstrap-select>.btn:hover,
.filter-list .bootstrap-select>.btn:active,
.filter-list .bootstrap-select>.btn.active,
.filter-list .btn-default:hover, .btn-default:focus, 
.btn-default:active, .btn-default.active,
.filter-list .open>.dropdown-toggle.btn-default{
	background:none;
}
.filter-list .bootstrap-select>.btn:before{
	position:absolute;
	left:7px;
	top:50%;
	z-index:1;
	width:16px;
	height:16px;
	margin-top:-8px;
	content:'';
}
.area-fitem,.crop-fitem{
	border-bottom:1px solid #e1e1e1;
}
.area-fitem .bootstrap-select>.btn:before{
	background: url(../../images/agricultural/FarmingCalendar_icon_area.png) no-repeat;
}
.crop-fitem .bootstrap-select>.btn:before{
	background: url(../../images/agricultural/FarmingCalendar_icon_crop.png) no-repeat;
}
.operate-fitem .bootstrap-select>.btn:before{
	background: url(../../images/agricultural/FarmingCalendar_icon_operate.png) no-repeat;
}
.st-btns{
	height:20px;
	line-height:20px;
	margin-bottom:10px;
	font-size:12px;
}
.st-btns span{
	display:inline-block;
	width:16px;
	height:16px;
	margin: 2px 5px 0 0;
	border-radius: 5px;
	vertical-align:top;
	cursor: pointer;
}
.st-default span{
	background:#cbcbcb;
}
.st-danger span{
	background:#fa706e;
}
.st-warning span{
	background:#fcc46f;
}
.st-success span{
	background:#8fdb47;
}
.st-btns span.icur{
	background-image: url(../../images/agricultural/FarmingCalendar_icon_gouzi.png);
	background-position: center center;
	background-repeat: no-repeat;
}

/* 右侧--日历控件 */
.pos-relative{
	position: relative;
}
.calendar-header-info{
	height: 68px;
	padding: 18px 20px 0 20px;
	box-sizing: border-box;
	overflow: hidden;
}
.fold-btn{
	float: left;
	width: 34px;
	height: 34px;
	background-image: url(../../images/agricultural/FarmingCalendar_icon_fold1.png);
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.fold-btn.fcur{
	background-image: url(../../images/agricultural/FarmingCalendar_icon_fold2.png);
}
.calendar-cont{}
#calendar {
	max-width: 900px-;
	margin: 0 auto;
}
.content-rbottom{
	padding: 8px;
	border-left: 1px solid #ddd;
	box-sizing:border-box;
	overflow: hidden;
}
.content-rbottom p{
	float: left;
	height: 18px;
	line-height: 18px;
	margin-right: 50px;
}
.content-rbottom p img{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 5px;
	vertical-align: top;
}
.content-rbottom p span{
	color: #666;
}

/*日历控件新增样式*/
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{
	float: left;
}
.fc th{
	padding: 10px 0;
}
.fc-time-grid .fc-slats td{
	height: 36px;
}
table td .fc-day-top{
	padding: 5px;
}
.fc-today a.fc-day-number{
	min-width: 20px;
	height: 20px;
	line-height: 20px;
	padding: 0;
	background-color: #5ab8f6;
	border-radius: 50%;
	text-align: center;
	color: #fff;
}
a.defined-success{
	padding: 0;
	border: 0;
	border-radius: 0;
	border-left: 3px solid #96d94e;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
a.defined-waring{
	padding: 0;
	border: 0;
	border-radius: 0;
	border-left: 3px solid #ffb13b;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
a.defined-danger{
	padding: 0;
	border: 0;
	border-radius: 0;
	border-left: 3px solid #ff7176;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
a.defined-default{
	padding: 0;
	border: 0;
	border-radius: 0;
	border-left: 3px solid #cbcbcb;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.newcal-txt{
	float: right;
	line-height: 20px;
	margin: 0;
	color: #58b3fa;
	word-break: break-all;
}

.fc-day-header a, .fc-day-top .fc-day-number{
	color: #333;
}
.fc-header-toolbar{
	position: absolute;
	left: 200px;
	right: 200px;
	top: 86px;
	height: 34px;
}
.fc-header-toolbar .fc-left{
	position: absolute;
	left: -126px;
	top: -1px;
}
.fc-header-toolbar .fc-left .fc-button-group{
	width: inherit;
	border: 1px solid #63a8ed;
	border-radius: 5px;
}
.fc-header-toolbar .fc-left button{
	height: 32px;
	line-height: 32px;
	margin: 0;
	padding: 0 18px;
	border: 0;
	border-radius: 0;
	background:none;
	font-size: 15px;
	color: #63a8ed;
}
.fc-header-toolbar .fc-left .fc-state-active{
	box-shadow: none;
	background-color: #63a8ed;
	color: #fff;
}
.fc-header-toolbar .fc-center{
	position: absolute;
	left: 50%;
	z-index: 1;
	width: 330px;
	margin-left: -165px;
}
.fc-header-toolbar .fc-center h2{
	height: 34px;
	line-height: 34px;
	float: none;
	font-weight: normal;
	font-family: "微软雅黑";
	font-size: 28px;
	text-align: center;
}
.fc-header-toolbar .fc-center.lang-txt{
	width: 194px;
	margin-left: -97px;
}
.fc-header-toolbar .fc-right{
	position: absolute;
	left: 50%;
	top:2px;
	z-index: 2;
	width: 330px;
	margin-left: -165px;
}
.fc-header-toolbar .fc-right.lang-txt{
	width: 194px;
	margin-left: -97px;
}
.fc-header-toolbar .fc-button-group{
	width: 100%;
	float: none;
}
.fc-button-group .fc-prev-button{
	float: left;
	padding: 0;
	border: 0;
	background: none;
}
.fc-button-group .fc-next-button{
	float: right;
	padding: 0;
	border: 0;
	background: none;
}
.fc button .fc-icon{
	top: 0;
	margin: 0;
	width: 10px;
	height: 34px;
}
.fc-icon-left-single-arrow:after, .fc-icon-right-single-arrow:after{
	content: '';
}
.fc button .fc-icon-left-single-arrow{
	line-height: 34px;
	background: url(../../images/agricultural/FarmingCalendar_arrow3.jpg) no-repeat 0 center;
}
.fc button .fc-icon-right-single-arrow{
	line-height: 34px;
	background: url(../../images/agricultural/FarmingCalendar_arrow4.jpg) no-repeat 0 center;
 }
 .fc-state-down{
 	box-shadow: none;
 }
 .fc-event-container .fc-h-event{
 	margin-bottom: 4px;
 	padding: 2px 5px;
 	border-radius: 5px;
 	font-size: 13px;
 	opacity: 1;
 	filter: alpha(opacity=100);
}
 .fc-event-container .fc-h-event .fc-title{
  	white-space: normal;
  	word-break: break-all;
}
.fc-view-container .fc-view{
	background-image: url(../../images/agricultural/FarmingCalendar_bg1.jpg);
	background-position: 0 0;
	background-repeat: repeat;
}

/* 右侧浮层--农事 */
.rfold-menu{
	display: none-;
	position: fixed;
	right: -500px;
	top: 60px;
	bottom: 0;
	z-index: 8;
	width: 370px;
	padding: 34px 0 60px;
	box-shadow: 0px 10px 40px #e8e8e8;
	background-color: #fff;
	font-size: 12px;
	color: #333;
}
.rfold-header{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 34px;
	padding: 0 14px;
	background-color: #e2e1e7;
}
.rfold-header h3{
	line-height: 34px;
	font-size: 15px;
	font-weight: bold;
}
.rfold-header i{
	position: absolute;
	right: 14px;
	top: 12px;
	width: 10px;
	height: 10px;
	background: url(../../images/agricultural/FarmingCalendar_icon12.png) no-repeat center center;
	cursor: pointer;
	text-indent: -99999px;
}
.rfold-footer{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 60px;
	border-top: 1px solid #dcdcdc;
	box-sizing: border-box;
	padding-top: 15px;
	background-color: #fff;
	text-align: center;
}
.rfold-body{
	height: 100%;
	padding: 0 14px 60px;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}
.rfold-title{
	position: relative;
	padding: 10px 0;
	border-top: 1px solid #dbdbdb;
	clear: both;
}
.rfold-title.noborder{
	border: 0;
}
.rfold-title > p{
	position: relative;
	display: inline-block;
	line-height: 20px;
	padding-left: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #050505;
	cursor: pointer;
}
.rfold-title > p:before{
	position: absolute;
	left: 5px;
	top: 8px;
	border-style: solid solid solid solid;
	border-width: 5px 5px 0 5px;
	border-color: #b2b2b2 transparent transparent transparent;
	content: '';
}
.rfold-title > .pcur:before{
	left: 8px;
	top: 5px;
	border-style: solid solid solid solid;
	border-width: 5px 0 5px 5px;
	border-color: transparent transparent transparent #b2b2b2;
}
.rfold-title .inputs-btn{
	position: absolute;
	right: 0;
	top: 10px;
	height: 20px;
	line-height: 20px;
	padding-left: 14px;
	background: url(../../images/agricultural/FarmingCalendar_icon8.png) no-repeat left center;
	color: #5cb85c;
	cursor: pointer;
}
.rfold-content{
	clear: both;
}
.rfold-content dl{
	padding-bottom: 10px;
	clear: both;
}
.rfold-content dt{
	float: left;
	width: 114px;
	height: 22px;
	line-height: 22px;
	padding-right: 20px;
	box-sizing: border-box;
	text-align: right;
	font-weight: normal;
}
.rfold-content dd{
	min-height: 20px;
	margin-left: 114px;
}
.rfold-content dd .bootstrap-select>.btn{
	height: 22px;
	line-height: 20px;
	padding: 0 12px;
	font-size: 12px;
}
.select-w140 > select{
	display: none;
}
.datetime-w140{
	display: inline-block;
	width: 140px;
}
.datetime-w140 .form_datetime{
	position: relative;
}
.datetime-w140 .form_datetime input{
	width: 100%;
	height: 22px;
	line-height: 20px;
	box-sizing: border-box;
	font-size: 12px;
}
.datetime-w140 .form_datetime .add-on{
	position: absolute;
	right: 8px;
	top: 3px;
	margin: 0;
}
.datetime-w140 .form_datetime .add-on i{
	margin: 0;
}
.control-w94, .control-w124{
	width: 94px;
	height: 22px;
	line-height: 20px;
	padding: 0 8px;
	font-size: 12px;
}
.control-w124{
	width: 124px;
}
.txt-verbal{
	height: 22px;
	line-height: 22px;
	color: #666-;
}
.farmimg-bztxt{
	line-height: 24px;
	margin-bottom: 10px;
	padding-left: 20px;
	color: #666;
	word-break: break-all;
}
.delete-btn{
    display: inline-block;
    width: 13px;
    height: 14px;
	background: url("../../../asset/images/farmingIco11.png") no-repeat 0 0;
    cursor: pointer;
}
.pl9{
	padding-left: 9px;
}
.readios-box li{
	float: left;
	line-height:18px;
	margin-right:26px;
	padding:1px 0;
}
.readio-blue{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right:5px;
	background: url(../../images/bootstrap/blue.png) no-repeat;
	background-position: -100px 0;
	vertical-align:top;
}
.readio-blue:hover{
	background-position: -120px 0;
	cursor: pointer;
}
.readio-blue.icheck,
.readio-blue.icheck:hover{
    background-position: -140px 0;
}

/*右侧浮层--农事列表*/
#farmingList{
	padding-bottom: 0;
}
#farmingList .rfold-farminglist{
	padding-bottom: 0;
}
.farmlist-field{
	margin: 20px 0;
	overflow: hidden;
}
.farmlist-field dd{
	float: left;
	width: 33.33%;
	padding: 4px;
	border-right: 1px dashed #ebebeb;
	box-sizing: border-box;
	text-align: center;
}
.farmlist-field dd.noborder{
	border: 0;
}
.farmlist-field img{
	width: 12px;
	height: 12px;
	margin-right: 5px;
	vertical-align: middle;
}
.farmlist-field .txt1{
	height: 22px;
	line-height: 22px;
	font-size: 14px;
}
.farmlist-field .txt2{
	margin-top: 5px;
	color: #969696;
}
.farmlist-field .txt2.cor-gray{
	color: #333;
}
.farmlist-field .txt-day{
	padding-right: 8px;
	color: #58b6f6;
}
.farmlist-field .txt-week{
	font-size: 13px;
}
.farmlist-field .cor-green{
	font-size: 14px;
	font-weight: bold;
	color: #91d15f;
}
.farmlist-field .cor-red{
	font-size: 14px;
	font-weight: bold;
	color: #f95e6e;
}
.new-farminglist li{
	margin-bottom: 14px;
	padding: 18px 6px;
	border: 1px solid #eee;
	box-sizing: border-box;
	border-radius: 5px;
	clear: both;
}
.new-farminglist .label{
	float: left;
	height: 18px;
	line-height: 18px;
	margin: 1px 10px 1px 0;
	padding: 0 10px;
	border-radius: 9px;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 12px;
}
.new-farminglist .label-default{
	background-color: #d0d0d0;
}
.new-farminglist .label-success{
	background-color: #90d651;
}
.new-farminglist .label-warning{
	background-color: #fdc268;
}
.new-farminglist .label-danger{
	background-color: #ff7374;
}
.new-farminglist .txt-center{
	float: left;
	max-width: 50%;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.new-farminglist .txt-crop{
	color: #999;
}
.new-farminglist .txt-operate{
	float: right;
	height: 20px;
	line-height: 20px;
	color: #49b0ff;
}
.new-farminglist .txt-operate img{
	float: left;
	width: 14px;
	height: 16px;
	margin: 2px 5px;
	vertical-align: top;
}
.add-newfarm-btn{
	line-height: 14px;
	padding: 15px 0;
	border: 1px dashed #5db8f1;
	box-sizing: border-box;
	border-radius: 5px;
	text-align: center;
	color: #5db8f1;
	cursor: pointer;
}
.add-newfarm-btn img{
	width: 14px;
	height: 14;
	margin-right: 5px;
	vertical-align: top;
}

/*右侧浮层--添加农事*/
.rfold-addfarm{
	position: relative;
	padding: 44px 0 0;
	overflow-y: hidden;
}
.tab-header{
	position: absolute;
	left: 50%;
	top: 14px;
	width: 180px;
	height: 28px;
	margin-left: -90px;
	border: 1px solid #dddddd;
	box-sizing: border-box;
}
.tab-header li{
	float: left;
	width: 50%;
	line-height: 26px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.tab-header li.icur{
	background-color: #ebebeb;
}
.tab-body{
	display: none;
	height: 100%;
	padding: 0 14px;
	box-sizing: border-box;
	overflow-y: auto;
}
.tab-body.dis-block{
	display: block;
}
.addinputs-table{
	border: 1px solid #eaeceb;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
}
.addinputs-table table{
	width: 100%;
	table-layout: fixed;
	margin-bottom: 10px;
	padding: 0;
}
.addinputs-table th, .addinputs-table td{
	padding: 6px 2px;
	text-align: center;
	border-bottom: 1px solid #eaeceb;
}
.addinputs-table th{
	background-color: #f6fbfe;
	font-weight: normal;
}
textarea.area-require{
	width: 100%;
	height: 84px;
	padding: 10px 14px;
	box-sizing: border-box;
	font-size: 12px;
	resize: none;
	color: #b1b1b1;
}
.nsrefer-pic, .nsrecord-pic{
	position: relative;
	display: inline-block;
	width: 244px;
	height: 166px;
	margin: 0 0 5px 20px;
}
.nsrecord-pic{
	width: 80px;
	height: 80px;
	margin-left: 0;
}
.nsrefer-pic img, .nsrecord-pic img{
	width: 100%;
	height: 100%;
}
.nsrefer-pic .iclose, .nsrecord-pic .iclose{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	width: 29px;
	height: 29px;
	background: url(../../images/agricultural/FarmingCalendar_icon9.png) no-repeat 0 0;
	cursor: pointer;
}
/*右侧浮层--完成农事计划*/
.nsrefer-img{
	width: 210px;
	height: 140px;
}
.nsplan-pic{
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 0 0 5px 0;
}
.nsplan-pic img{
	width: 100%;
	height: 100%;
}
/*右侧浮层--考核农事记录*/
.rfold-tip{
	margin-left: -14px;
	margin-right: -14px;
	padding: 0 20px;
	background-color: #faf4e4;
	font-size: 12px;
	color: #f00;
}
.voice-note{
	position: relative;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 14px 0 30px;
	border-radius: 10px;
	background-color: #60ba60;
	color: #fff;
	vertical-align: top;
}
.voice-note:before{
	position: absolute;
	left: 14px;
	top: 0;
	z-index: 1;
	width: 10px;
	height: 20px;
	background: url(../../images/agricultural/FarmingCalendar_icon14.png) no-repeat center center;
	content: '';
}
.cor-red{
	color: #f00;
}
.khinputs-list{
	width: 100%;
	border: 1px solid #edefee;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
}
.khinputs-list li{
	float: left;
	width: 25%;
	border-right: 1px solid #edefee;
	box-sizing: border-box;
	text-align: center;
}
.khinputs-list li.ilast{
	border: 0;
}
.khinputs-list .txt1{
	padding: 8px 0;
	color: #727272;
}
.khinputs-list .txt2{
	padding: 8px 0;
	color: #303030;
}
.khinputs-list img{
	width: 26px;
	height: 34px;
	vertical-align: top;
}
.khnsrecord-pics{
	padding-left: 20px;
	overflow: hidden;
}
.khnsrecord-pics img{
	float: left;
	width: 80px;
	height: 80px;
	margin: 0 5px 5px 0;
}
.evaluate-list li{
	padding-bottom: 10px;
}
.evaluate-list .ptxt{
	float: left;
	width: 70px;
	height: 20px;
	line-height: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	text-align: right;
}
.evaluate-list .ptxt2{
	height: 30px;
	line-height: 30px;
}
.evaluate-stars{
	height: 20px;
	margin-left: 70px;
	overflow: hidden;
}
.evaluate-stars > span{
	float: left;
	width: 13px;
	height: 12px;
	margin: 3px 10px 3px 0;
	background: url(../../images/agricultural/FarmingCalendar_star0.png) no-repeat 0 0;
	cursor: pointer;
}
.evaluate-stars .scur{
	background: url(../../images/agricultural/FarmingCalendar_star5.png) no-repeat 0 0;
}
.khnsrecord-remark{
	margin-left: 70px;
}
.khnsrecord-remark textarea{
	width: 100%;
	height: 74px;
	box-sizing: border-box;
	resize: none;
	font-size: 12px;
	color: #b1b1b1;
}

/*右侧浮层--查看农事记录*/
.viewrecord-pics{
	padding-left: 20px;
	overflow: hidden;
}
.viewrecord-pics img{
	float: left;
	width: 80px;
	height: 80px;
	margin: 0 5px 5px 0;
}
.viewrecord-refers{
	position: relative;
	display: inline-block;
	width: 244px;
	height: 166px;
	margin: 0 0 5px 20px;
}
.view-evaluate-box{
	display: table;
	table-layout: fixed;
}
.view-evaluate-box .td-lt{
	display: table-cell;
	width: 100px;
	height: 50px;
	padding: 8px 0;
	border-right: 1px dashed #e4e4e4;
	text-align: center;
	vertical-align: middle;
}
.view-evaluate-box .td-rt{
	display: table-cell;
	padding: 8px 10px;
	text-align: left;
	vertical-align: middle;
}
.view-evaluate-box .stars-img{
	margin-top: 10px;
}
.view-evaluate-box .evaluate-txt{
	
}
.view-evaluate-box .issue-txt{
	margin-top: 10px;
	color: #b1b1b1;
}
.view-evaluate-box .source-txt{
	margin-top: 10px;
	color: #b1b1b1;
}
.editpj-btn{
	position: absolute;
	right: 0;
	top: 50%;
	width: 13px;
	height: 13px;
	margin-top: -7px;
	background: url(../../images/agricultural/FarmingCalendar_icon13.png) no-repeat 0 0;
	content: '';
	cursor: pointer;
}

/*右侧浮层--编辑农事计划*/


/* 大屏幕 */
@media (min-width: 1599px) and (max-width: 1920px) { 
.col-crop2{
	width: 25%;
}
}
@media (min-width: 1299px) and (max-width: 1600px) { 
.col-crop2{
	width: 33.33333333%;
}
}
@media (min-width: 50px) and (max-width: 1300px) { 
.col-crop2{
	width: 50%;
}
}
 

