/*去除选择框的outline*/
.bootstrap-select .dropdown-toggle:focus{outline:none !important;}
a:focus {
 outline: none !important;
 outline: 0 auto -webkit-focus-ring-color;
 outline-offset: 0;
}
input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus {
 outline: none !important;
 outline: 0 auto -webkit-focus-ring-color;
 outline-offset: 0;
}
.form-control:focus,
input:focus {
 border-color: #ccc;
 outline: 0;
 -webkit-box-shadow: inset 0 0 0 #fff,0 0 0 #fff;
 box-shadow: inset 0 0 0 #fff,0 0 0 #fff;
}
.btn:focus,.btn:active:focus,.btn.active:focus {
 outline: none !important;
 outline: 0 auto -webkit-focus-ring-color;
 outline-offset: 0;
}
.btn:active,.btn.active {
 background-image: none;
 outline: 0;
 -webkit-box-shadow: inset 0 0 0 #fff;
 box-shadow: inset 0 0 0 #fff;
}
/*select下拉框去掉默认边框及获取焦点 */
.btn{
	height: 32px;
	box-sizing: border-box;
	font-family: '微软雅黑';
}
.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
	margin-right: 0;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}
.bootstrap-select .btn:focus {
    outline: inherit !important;
    outline-offset: 0;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a i.check-mark{
	display: block;
    position: absolute;
    right: 10px;
}
.dropdown-menu>li>a:focus {
	background: none;
}
[class^="icon-"], [class*=" icon-"]{
	background-image: url("../../../asset/images/bootstrap/glyphicons-halflings.png");
}



dl{
	margin-bottom: 0;
}
p{
	margin-bottom: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mt14{
	margin-top: 14px;
}
.mt30{
	margin-top: 30px;
}
.mb10{
	margin-bottom: 10px;
}
.mb14{
	margin-bottom: 14px;
}
.mb22{
	margin-bottom: 22px;
}
.mb30{
	margin-bottom: 30px;
}
.mr20{
	margin-right: 20px;
}
.mr50{
	margin-right: 50px;
}
.pt40{
	padding-top: 40px;
}
.pb40{
	padding-bottom: 40px;
}
.ellipsis{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.clearfix:after,.clearfix:before{
	width: 100%;
}
.overflowH{
	overflow: hidden;
}
.display-none{
	display: none;
}
.display-block{
	display: block;
}
.align-center{
	text-align: center;
}
.r_t_l{
	color: #333;
}
.row{
	margin-left: -8px;
	margin-right: -8px;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
}
.icheckbox-blue{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../../images/bootstrap/blue.png) no-repeat;
	background-position: 0 0;
}
.icheckbox-blue:hover{
	background-position: -20px 0;
	cursor: pointer;
}
.icheckbox-blue.icheck,
.icheckbox-blue.icheck:hover{
    background-position: -40px 0;
}
/*公共样式 end====================================*/
/*工具提示*/
.tooltip.top{
	width: inherit;
	min-width: 50px;
	height: inherit;
	background: none;
}
.tooltip.in{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.tooltip-inner{
	max-width: 500px;
}

/*制订农事计划*/
.r_t_l{
	width: 60%;
}
.mt16{
	margin-top: 16px;
}
.pt24{
	padding-top: 24px;
}
.pb24{
	padding-bottom: 24px;
}
.min-w1080{
	min-width: 1080px;
}
body{
	min-width: 1220px;
	font-size: 14px;
	color: #525252;
}
ul{
	margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 0;
	margin-top: 0;
}
p{
	margin-bottom: 0;
}
.select-w140{
	width: 140px;
}
.select-w160{
	width: 160px;
}
.select-w200{
	width: 200px;
}
.bootstrap-select.btn-group .btn .filter-option{
	max-width: 94%;
}
.plan-head .crop-pic{
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 14px;
	border-radius: 5px;
	box-shadow: 0 3px 5px #f1f1f1;
}
.plan-head .right-set{
	float: right;
	padding: 14px 0;
}
.plan-head .right-set .btn{
	float: left;
	margin-right: 6px;
}
.set-farnpush{
	position: relative;
	z-index: 11;
	float: left;
}
.set-modal{
	position: absolute;
	right: 0;
	top: 46px;
	z-index: 11;
	display: none;
	width: 280px;
	border: 1px solid #dcdee0;
	border-radius: 5px;
	box-shadow: 0 0 5px #dcdee0;
	background-color: #fff;
}
.markB{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	display: none;
	background: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
}
.set-modal:before{
	position: absolute;
	right: 32px;
	top: -7px;
	z-index: 1;
	border-width:0 5px 5px 5px;
	border-style: solid solid solid solid;
	border-color: transparent transparent #dcdee0 transparent;
	content: '';
}
.set-modal:after{
	position: absolute;
	right: 32px;
	top: -5px;
	z-index: 2;
	border-width:0 5px 5px 5px;
	border-style: solid solid solid solid;
	border-color: transparent transparent #fff transparent;
	content: '';
}
.set-head{
	padding: 10px;
	border-bottom: 1px solid #ededed;
	box-sizing: border-box;
	overflow: hidden;
}
.set-head h4{
	float: left;
	line-height: 18px;
	font-size: 12px;
	color: #1a1a1a;
}
.set-head .iclose{
	float: right;
	width: 18px;
	height: 18px;
	background: url(../../../asset/images/farmingIco16.jpg) center center no-repeat;
}
.set-head .iclose:hover{
	background: url(../../../asset/images/farmingIco17.jpg) center center no-repeat;
	cursor: pointer;
}
.set-body{
	padding: 10px;
}
.set-body > li{
	padding-bottom: 10px;
}
.set-body .txt-name,.set-body .txt-name2{
	float: left;
	line-height: 20px;
	font-size: 12px;
	color: #666;
}
.set-body .txt-name2{
	height: 32px;
	line-height: 32px;
}
.switch-on{
	position: relative;
	float: right;
	width: 26px;
	height: 14px;
	margin: 3px 0;
	background-color: #74c543;
	border-radius: 7px;
	cursor: pointer;
}
.switch-on:after{
	position: absolute;
	right: 2px;
	top: 2px;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	content: '';
}
.switch-on.icur:after{
	right: 14px;
}
.crop-planinfo{
	float: left;
	display: table;
}
.crop-planinfo li{
	display: table-cell;
	height: 60px;
	padding: 0 36px;
	border-right: 1px dashed #e0e0e0;
	vertical-align: middle;
}
.crop-planinfo li > img{
	float: left;
	width: 32px;
	height: 32px;
	margin: 14px 14px 0 0;
	border-radius: 50%;
}
.crop-planinfo li.noline{
	border: 0;
}
.crop-planinfo .txt-name1{
	line-height: 34px;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	white-space: nowrap;
}
.crop-planinfo .txt-name2{
	line-height: 20px;
	font-size: 12px;
	color: #999;
	white-space: nowrap;
}
/*计划参考、生产计划互选*/
.planrefer-content,.productplan-content{
	width: 46%;
	border: 1px solid #e8eaed;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0 3px 5px #fafafa;
}
.planrefer-content{
	float: left;
}
.planrefer-content .txt-person{
	display: none;
}
.planrefer-content .delete-btn{
	display: none;
}
.productplan-content{
	float: right;
}
.productplan-content .txt-person{
	display: block;
}
.productplan-content .delete-btn{
	display: block;
}
.productplan-content .type-check{
	display: none;
}
.productplan-content .plan-info-item .quantity{
	display: none;
}
.elect-btns{
	float: left;
	width: 8%;
	height: 552px;
	padding: 22% 2% 0;
	box-sizing: border-box;
	text-align: center;
}
.elect-btns > span{
	display: block;
	width: 100%;
	line-height: 24px;
	margin-bottom: 10px;
	border: 1px solid #e8eaed;
	background-color: #f0f0f0;
	text-align: center;
	color: #b1b1b1;
	cursor: pointer;
}
.elect-btns > span:hover{
	background-color: #eaeaea;
}
.base-head{
	height: 40px;
	line-height: 20px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 14px;
}
.base-head .bicon{
	float: left;
	margin: 2px 10px 0 0;
}
.base-head .set-tip{
	position: relative;
	float: right;
	height: 20px;
	line-height: 20px;
	padding-left: 20px;
	font-size: 12px;
	color: #6bbcef;
	cursor: pointer;
}
.base-head .set-tip:before{
	position: absolute;
	left: 0;
	top: 4px;
	z-index: 1;
	width: 12px;
	height: 12px;
	background: url(../../../asset/images/agricultural/FarmingPlan_icon3.png) 0 0 no-repeat;
	content: '';
}
.base-body{
	height: 510px;
	border-top: 1px solid #e8eaed;
	box-sizing: border-box;
	font-size: 12px;
	overflow: auto;
}
.plan-info-item{
	border-bottom: 1px solid #eff1f3;
}
.plan-info-item dt{
	line-height: 20px;
	padding: 10px 10px 10px 6px;
	background-color: #fafafa;
	font-weight: normal;
	overflow: hidden;
}
.plan-info-item .type-check{
	float: left;
	width: 18px;
	height: 18px;
	margin-top: 1px;
	background: url(../../images/bootstrap/blue.png) no-repeat;
	background-position: 0 0;
}
.plan-info-item .type-check:hover{
	background-position: -20px 0;
	cursor: pointer;
}
.plan-info-item .type-check.icheck,
.plan-info-item .type-check.icheck:hover{
    background-position: -40px 0;
}
.plan-info-item .uptitle{
	position: relative;
	float: left;
	height: 20px;
	margin-left: 10px;
	padding-left: 16px;
	font-weight: bold;
	text-shadow: 0 1px 1px #989898;
	color: #1a1a1a;
	cursor: pointer;
}
.plan-info-item .uptitle:before{
	position: absolute;
	left: 2px;
	top: 6px;
	border-width: 5px 0 5px 5px;
	border-style: solid solid solid solid;
	border-color: transparent transparent transparent #b3b3b3;
	content: '';
}
.plan-info-item .uptitle.icur:before{
	left: 0;
	top: 8px;
	border-width: 5px 5px 0 5px;
	border-style: solid solid solid solid;
	border-color: #b3b3b3 transparent transparent transparent;
}
.plan-info-item .quantity{
	float: right;
	height: 20px;
	color: #666;
}
.plan-info-item dd{
	display: none;
}
.plan-info-item .dd-con{
	position: relative;
	line-height: 20px;
	padding: 10px 10px 10px 6px;
	border-top: 1px solid #eff1f3;
	overflow: hidden;
}
.plan-info-item .type-cont{
	margin-left: 30px;
}
.plan-info-item .txt-plan{
	float: left;
	max-width: 60%;
	height: 20px;
	margin-right: 8px;
	text-shadow: 0 1px 1px #cbcbcb;
	color: #000;
}
.plan-info-item .label{
	float: left;
	height: 16px;
	line-height: 16px;
	margin: 2px 6px 2px 0;
	padding: 0 4px;
	border-radius: 3px;
	font-weight: normal;
}
.plan-info-item .label-primary
	background-color: #2a82b4;
}
.plan-info-item .label-success{
	background-color: #74ac00;
}
.plan-info-item .label-purple{
	background-color: #9858b9;
}
.plan-info-item .plan-date{
	clear: both;
	overflow: hidden;
}
.plan-info-item .txt-date{
	position: relative;
	float: left;
	height: 20px;
	line-height: 20px;
	margin-right: 16px;
	padding-left: 16px;
	color: #999;
}
.plan-info-item .txt-date:before{
	position: absolute;
	left: 0;
	top: 5px;
	width: 10px;
	height: 10px;
	background: url(../../../asset/images/agricultural/FarmingPlan_icon4.png) 0 0 no-repeat;
	content: '';
}
.plan-info-item .txt-person{
	position: relative;
	float: left;
	height: 20px;
	line-height: 20px;
	padding-left: 16px;
	color: #999;
}
.plan-info-item .txt-person:before{
	position: absolute;
	left: 0;
	top: 5px;
	width: 10px;
	height: 10px;
	background: url(../../../asset/images/agricultural/FarmingPlan_icon5.png) 0 0 no-repeat;
	content: '';
}
.plan-info-item .delete-btn{
	position: absolute;
	right: 20px;
	top: 50%;
	z-index: 1;
	margin-top: -7px;
	width: 13px;
	height: 14px;
	background: url(../../../asset/images/farmingIco11.png) no-repeat 0 0;
	cursor: pointer;
}
/*批量定制模态框*/
.mclose{
	float: right;
	width: 18px;
	height: 18px;
	margin: 1px 0;
	background: url(../../../asset/images/farmingIco16.jpg) center center no-repeat;
}
.modal-header .modal-title{
	float: left;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	font-family: "微软雅黑";
	color: #666;
}
.mclose:hover{
	background: url(../../../asset/images/farmingIco17.jpg) center center no-repeat;
	cursor: pointer;
}
.custom-modal .modal-dialog{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 390px;
	margin: -176px 0 0 -195px;
}
.custom-modal .modal-body{
	height: 240px;
	padding: 0 16px;
	overflow-y: auto;
}
.custom-list > li{
	position: relative;
	margin-top: -1px;
	padding: 10px 0;
	border-top: 1px solid #e5e5e5;
}
.custom-list .txt-name,.custom-list .txt-date{
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}
.custom-list .txt-name{
	font-weight: bold;
	color: #333;
}
.custom-list .txt-date{
	color: #8c8c8c;
}
.custom-list .type-check{
	position: absolute;
	right: 0;
	top: 50%;
	width: 18px;
	height: 18px;
	margin-top: -9px;
	background: url(../../images/bootstrap/blue.png) no-repeat;
	background-position: 0 0;
}
.custom-list .type-check:hover{
	background-position: -20px 0;
	cursor: pointer;
}
.custom-list .type-check.icheck,
.custom-list .type-check.icheck:hover{
    background-position: -40px 0;
}
/*一键复制模态框*/
.copy-modal .modal-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    margin: -226px 0 0 -250px;
}
.copy-modal .modal-body{
	height: 340px;
	padding: 20px 0 20px 20px;
	box-sizing: border-box;
	overflow-y: auto;
}
.copy-modal .mark0{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	display: none;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.all-farminfo{
	position: relative;
	margin-top: 20px;
	font-size: 12px;
}
.all-farminfo:before{
	position: absolute;
	left: 3px;
	top: 0;
	bottom: 0;
	z-index: 1;
	border-left: 1px solid #ededed;
	content: '';
}
.all-farminfo dl{
	position: relative;
	margin-bottom: 10px;
	padding-left: 5px;
}
.all-farminfo dl:before{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	width: 6px;
	height: 18px;
	background-color: #fff;
	content: '';
}
.all-farminfo dl:after{
	position: absolute;
	left: 1px;
	top: 7px;
	bottom: 0;
	z-index: 1;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #999;
	content: '';
}
.all-farminfo dt{
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	padding-left: 12px;
	font-weight: bold;
}
.all-farminfo dd{
	display: none;
	border-bottom: 1px solid #ededed;
	background-color: #fcfcfc;
}
.all-farminfo .ptitle{
	position: relative;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding-right: 12px;
	vertical-align: top;
	color: #333;
	cursor: pointer;
}
.all-farminfo .ptitle:after{
	position: absolute;
	right: 2px;
	top: 7px;
	border-width: 4px 0 4px 4px;
	border-style: solid solid solid solid;
	border-color: transparent transparent transparent #999;
	content: '';
}
.all-farminfo .icur .ptitle:after{
	right: 0;
	top: 8px;
	border-width: 4px 4px 0 4px;
	border-style: solid solid solid solid;
	border-color: #999 transparent transparent transparent;
}
.all-farminfo .icur dd{
	display: block;
}
.plandate-table{
	display: table;
	table-layout: fixed;
	width: 100%;
}
.plandate-table .tr-tr{
	display: table-row;
}
.plandate-table .txt-name{
	display: table-cell;
	width: 50%;
	height: 24px;
	line-height: 24px;
	padding: 7px 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-top: 1px solid #ededed;
	text-align: center;
	overflow: hidden;
}
.plandate-table .txt-date{
	display: table-cell;
	width: 50%;
	padding: 7px 0;
	border-top: 1px solid #ededed;
	text-align: center;
}
.plandate-table .txt-date .form_datetime{
	position: relative;
	display: inline-block;
	width: 110px;
}
.plandate-table .txt-date .form_datetime input{
	width: 100%;
	height: 24px;
	line-height: 22px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	color: #333;
}
.plandate-table .txt-date .form_datetime .add-on{
	position: absolute;
	right: 5px;
	top: 4px;
	z-index: 1;
	width: 14px;
	height: 14px;
}
.plandate-table .txt-date .form_datetime .add-on .icon-th{
	margin-left: 0;
	background-position: -240px 0;
}
.datetimepicker{
	margin-top: 8px;
}




/* 大屏幕 */
@media (min-width: 1599px) and (max-width: 1920px) { 
.col-crop2{
	width: 25%;
}
}
@media (min-width: 1299px) and (max-width: 1600px) { 
.col-crop2{
	width: 33.33333333%;
}
}
@media (min-width: 50px) and (max-width: 1300px) { 
.col-crop2{
	width: 50%;
}
}
 

