*,*:after,*:before{
	box-sizing: border-box;
}
img{
	border: 0;
}
input, textarea, keygen, select, button{
	font-family: "微软雅黑";
}
html,body{
	position: relative;
	max-width: 640px;
	height:100%;
	margin: auto;
}
.mb30{
	margin-bottom: 30px;
}
.clearfixx,.clearfixx:before,.clearfixx:after{
	display: block;
	clear: both;
	content: '';
}
.overflowH{
	overflow: hidden;
}
.ellipsis{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*农事分享详情*/
body{
	overflow: hidden;
}
.share-wrapper{
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling:touch;
}
