@charset "utf-8";
/* CSS Document */


.tck66{padding:0px; background-color:#000; position:fixed; z-index:1000; width:100%;height:100%;}
/* 修改.nowcz_zt居左的值，因为横向出滚动条了 */
.nowcz_zt{ left:60px;}

/* 20150111新版图片轮播样式 */
.scroll_wrap li{ display:inline-table; position:relative; float:left;}
.scroll_wrap li a{ display:block; width:90%; height:100%;  position:absolute; margin:0 auto;left:5%;}
.scroll_wrap li a img{ position:absolute; left:0; top:0; bottom:0; width:100%; max-height:100%; margin:auto 0;}
.scroll_box{ margin:20px auto 0;}
.scroll_position{  width:100%; text-align:center; height:16px; margin:5px auto;}
.scroll_position li{ display:inline-block; margin:0 1px;}
.scroll_position li a {display: block; width: 13px;height: 0;padding-top: 13px;background-image: url(../../images/pagination22.png);background-position: 0 0;overflow: hidden;}
.scroll_position li.on a{ background-position:0 -13px;}

/* 新增 2015.04.02图片轮播加文字样式 */
.scroll_position.farming_pic{ position:absolute; bottom:0px; height:auto; margin:0 auto; background:#444; opacity:0.7;}
.scroll_position.farming_pic li{ display:none; padding:10px 20px;}
.scroll_position.farming_pic li a{ display:inline-block; width:100%; height:auto; line-height:20px; padding-top:0; background:none; font-size:14px; font-weight:bold; color:#fff; text-align:center; overflow:hidden;}
.scroll_position.farming_pic li.on{ display:block; font-family:"微软雅黑";}
.people_name h2{ float:left; display:inline-block; font-size:18px; color:#679424;}
.people_name a{ display:inline-block; height:16px; line-height:15px; margin:2px 5px; padding:2px 8px; background:#339a01; border:1px solid #b9b7ba; border-radius:5px; font-size:12px; font-weight:normal; color:#fff;}
.scroll-closebtn{ display:block; width:28px; height:28px; position:absolute; right:0; top:0; background:url('../../images/close_lvliimg.png');}
.pingdd{width:160px;}
.zername{font-size:16px;}

/* 新增 2015.05.20履历图片优化样式 */
.witabtd04 a{ position:relative; display:inline-block;}
.witabtd04 a .lvli_carousel{ position:absolute; right:0; bottom:0; padding:0 5px; height:18px;width:7px; line-height:18px; background:url(../../images/record/lvli_bg2.png); font-family:"微软雅黑"; color:#fff;}
.witabtd03 a{ position:relative; display:inline-block;}
.witabtd03 a .lvli_carousel{ position:absolute; right:0; bottom:0; padding:0 5px; height:18px;width:7px; line-height:18px; background:url(../../images/record/lvli_bg2.png); font-family:"微软雅黑"; color:#fff;}
.scroll_position.farming_pic{ position:absolute; bottom:0px; height:auto; margin:0 auto; background:url(../../images/lvli_bg1.png); opacity:1;}
.scroll_position.farming_pic li{ padding:10px;}
.scroll_position.farming_pic li a{ display:block; width:100%; max-height:48px; line-height:16px; overflow:hidden; font-size:12px; font-weight:normal; text-align:left;}
.scroll_position.farming_pic li a:hover{ text-decoration:none;}
.scroll_position.farming_pic li a.maxHeight{ max-height:160px;}
.scroll_position.farming_pic .lvli_carouselBt{ height:24px; line-height:24px; margin:5px 0; overflow:hidden; color:#fff;}
.scroll_position.farming_pic .lvli_title{ float:left; max-width:142px; height:24px; overflow:hidden; padding-right:10px; font-size:16px;}
.scroll_position.farming_pic .lvli_date{ float:left; padding-right:5px; font-size:13px;}
.scroll_position.farming_pic .lvli_time{ float:left; font-size:13px;}
.scroll_position.farming_pic .lvli_picNum{ float:right; font-weight:normal; font-size:14px;}
.scroll_position.farming_pic .lvli_picNum1{ padding:0 3px; font-size:18px; font-weight:bold; font-style:normal-;}
.scroll_position.farming_pic .lvli_picNum2{ padding:0 2px; font-size:14px; font-style:normal-;}

.kwztable-wap{background:url(../../images/line500.jpg);}
.tryyStatues .items{ float:left; width:33.33%; line-height:20px; padding:10px 0; text-align:center;}
.tryyStatues .tryy_txt{display:block; line-height:16px; margin:5px 10px 0;}

.centerbg {background:url("../../images/center.jpg") no-repeat scroll center center;height: 55px;width: 100%;}
.explain-wap .closeBtn {top:0;right:0;}

.new_lltxt{ line-height:22px; font-size:12px; text-align:left; color:#fff;}
font.wid32,font.widhui,font.wid30,font.widhui30{ display:block;overflow:hidden;white-space:nowrap;height:20px;}
.witabel3 font.widhui,.witabel3 font.wid30,.witabel3 font.widhui30{width:124px;}
.witabel2 font.wid32,.witabel4 font.widhui,.witabel4 font.wid30,.witabel4 font.widhui30{width:110px;}
font.widhui24{ display:inline-block;max-width:110px;overflow:hidden;white-space:nowrap;}



<!--农场秀-->
*{margin:0;padding:0;}
.black_op50{position:fixed;left:0;top:0;right:0;bottom:0;z-index:400;background-color:#000;opacity:0.5;filter:alpha(opacity=50);}
.maturity_block{position: fixed;left: 50%;top: 50%;z-index: 502;width: 300px;margin:-73px 0 0-150px;padding: 20px 10px;border-radius: 8px;box-shadow: 0 0 15px -2px #564f3d;box-sizing: content-box;background-color: #fff;font-size: 14px;color: #333;}
.close_tipbtn_3{position:fixed;right:10px;top:10px;z-index:2;width:41px;height:41px;background:url(images/maturity_ico3.png) no-repeat;cursor:pointer;}
.close_tipbtn_4{position:fixed;right:10px;top:10px;z-index:2;width:41px;height:41px;background:url(images/maturity_ico4.png) no-repeat;cursor:pointer;}
.maturity_block .tip_pic{padding-bottom:10px;text-align:center;}
.maturity_block .tip_pic img{width:36px-;height:36px-;vertical-align:top;}
.maturity_block .tip_txt1{line-height:22px;text-align:center;}
	
/* 2016.05.11修改样式*/
div.ppaititle{ height:auto;}
.farminfor .f_i_span{ height:auto;}
.farminfor .farm_i_font{width:72px;}


/* 2016.05.12修改树top_treebg */
.width50{ height:72px; background-repeat:repeat-y;}
.width51{ height:82px; background-repeat:repeat-y;}
.witabel2{ height:72px; margin-top:0;}