body{width: 338px;}

.videobody{width: 338px;background: #f7f7f7;overflow: hidden;}
/*生长视频*/
.carousel,.carousel-inner,.item{width: 100%;height: 100%;}
#video-pic .carousel-control{display: none;}

.video-wrap{width: 100%;height: 270px;}
.video-wrap{width: 100%;height: 270px;overflow: hidden;}
.video-list{width: 100%;height: 270px;overflow: hidden;color: #999;display: none;position: relative;}
.video-list.cur{display: block;}
.video-list img{width: 100%;height: 100%;}
.video-list .item img{width: 100%;height: 100%;}
.video-des-num{position: absolute;right: 0;color:#fff;font-size:14px;padding:4px 10px;bottom: 0;background: rgba(0,0,0,0.5);}

.video-btn li{ float: left;width: 33.33%;background: #fff; text-align: center;height: 53px;font-size:14px;color: #999;line-height:78px;}
.video-btn li:nth-child(1){background:#fff url(../../images/resume/phone/page4-icon11.png) no-repeat center;background-position: center 8px;}
.video-btn li:nth-child(1).cur{background: #f7f7f7 url(../../images/resume/phone/page4-icon2.png) no-repeat center;color: #84b845;background-position: center 8px;}
.video-btn{border-bottom:1px solid #e1e1e1; margin-bottom: 10px;}
.video-btn li:nth-child(2){background:#fff url(../../images/resume/phone/page4-icon3.png) no-repeat center;background-position: 50px;background-position: center 6px;}
.video-btn li:nth-child(2).cur{background: #f7f7f7 url(../../images/resume/phone/page4-icon5.png) no-repeat center;color: #84b845;background-position: center 6px;}
.video-btn li:nth-child(3){background:#fff url(../../images/resume/phone/page4-icon4.png) no-repeat center;background-position: 50px;background-position: center 6px;}
.video-btn li:nth-child(3).cur{background: #f7f7f7 url(../../images/resume/phone/page4-icon8.png) no-repeat center;color: #84b845;background-position: center 6px;}

.video-des{background: #fff;width: 100%;}
.video-des-wrap{width: 100%;display: none;font-size:14px;color: #999;line-height: 25px;}
.video-des-top{border-bottom: 1px solid #e1e1e1;padding: 10px;}
.video-des-title{font-size: 16px;color:#1a1a1a;}
.video-des-wrap.cur{display: block;}
.video-des-bottom{padding:10px;}

.img-icon{margin-top: -7px; margin-right:10px;}


/*滑块*/
.slidebar{width: 100%;position: absolute;bottom:0;left: 0;background: #424242;padding:24px 25px;box-sizing:border-box;z-index: 2;}
#slider .ui-slider-range { background: #019eef;margin: auto; }
#slider .ui-slider-handle { border-color:none; top: -8px; }
.ui-widget-content{background:#6f6f6f;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{width: 30px;height: 30px;border-radius: 50%;-webkit-border-radius: 50%;}
.ui-widget-content{border: none;}

/*第二页2*/
.huanjingbody{background: url(../../images/resume/phone/bg1.png) no-repeat;background-size: 100% auto;}
.page2-talk{width:46px;height:47px;position: absolute;top:4%;right:5%;}
.page2-second-title{ text-align: center;color: #FFFFFF; font-size:18px;font-weight: bold;padding-top:20px;}
.page2-shujulist{width: 34%;margin: 0 1%;margin-bottom: 5%;}
.page2-shujulist:nth-child(3),.page2-shujulist:nth-child(6){width: 25%;}
.shuju-num{font-size: 14px;color: #FFFFFF; text-align: center;}
.shuju-p2{font-size: 16px;}
.shuju-line{height: 25px;width: 1px;background: #fff; margin-top: 8px; margin-left: 15px;}
.shuju-icon{margin-top:5px;}
.page2-shuju{width: 95%;margin: auto; margin-top:4%;}
/*环境数据*/
.page2-shujupic{width: 100%;/*position: absolute;left: 0;bottom:20px;*/height:260px;margin-top: 13%;position:relative}
.page2-flash1{margin: auto;position: relative;}
.leftArray{position: absolute;left: 0;top: 150px;}
.rightArray{position: absolute;right: 0;top: 150px;}
.page2-flash1-title{font-size: 18px;text-align: center; font-weight: bold;color: #68a43e;margin-bottom: 20%;}
.page2-flash1-wrap{height: 163px;width:267px;background: url(../../images/resume/phone/page7-16.png) no-repeat; margin: auto;font-size: 12px;color: #000;position: relative;background-size: 100% 100%;}

.page2-flash1-img1{position: absolute;left: 5px;bottom:82px;width: 7px;height: 90px;z-index: 4;display: none;}
.whiteline1{fill:none;stroke:#cdd55b;stroke-width:1;}
.dian{width: 6px;height: 6px;}
.dian img{display: none; margin-top: -13px;}
.page2-flash1-img2{position: absolute;left:15px;top:-7px;background: url(../../images/resume/phone/page7-17.png) no-repeat top;background-size:100% 100%;width:110px;height:30px;line-height:30px;text-indent:16px;z-index: 5;display: none;}
.page2-flash1-img3{position: absolute;left:50px;bottom:90px;width:7px;height:117px;z-index: 4;display: none;}
.page2-flash1-img4{position: absolute;left:55px;top:-47px;background: url(../../images/resume/phone/page7-19.png) no-repeat top;width:124px;height:35px;line-height: 35px;z-index: 5;text-indent:20px;display: none;background-size:100% 100%; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.page2-flash1-img5{position: absolute;left:134px;top:-3px;width:7px;height:83px;z-index: 4;display: none;}
.page2-flash1-img6{position: absolute;left:140px;top:-5px;background: url(../../images/resume/phone/page7-20.png) no-repeat top;width:125px;height: 35px;line-height:35px;z-index: 5;text-indent: 16px;display: none;background-size:100% 100%;}
.page2-flash1-img7{position: absolute;right: 70px;bottom:60px;width:7px;height:60px;z-index: 4;display: none;}
.page2-flash1-img8{position: absolute;right: 0;top:45px;background: url(../../images/resume/phone/page7-21.png) no-repeat top;width:65px;height: 35px;line-height:35px;z-index: 5;text-indent: 20px;display: none;background-size:100% 100%;}
/*单位*/
.dw1{position: absolute;left:42px;bottom:40px;font-size: 12px;}
.dw2{position: absolute;right:16px;bottom:40px;font-size: 12px;}
.dw1-wd{position: absolute;left:42px;bottom:40px;font-size: 12px;}
.dw2-wd{position: absolute;right:16px;bottom:40px;font-size: 12px;}

/**/
.pflash{position: absolute;width: 100%;left: 0;top:0;display: none;height: 100%;}
.current{display: block;}
#tj1,#tj2,#tj3,#tj4,#tj5{width:290px;margin: auto;height:177px;}
.page2-flash2-title{font-size: 18px;text-align: center; font-weight: bold;color: #68a43e;margin-bottom: 2%;}
.page2-flash2-flag{ text-align: right;width: 80%;margin: auto;font-size: 12px;color: #999; margin-bottom: 6%;}

/*评论*/
.comment-wrap{width: 338px;overflow-y: scroll;/*height:800px;*/height: 100%;padding-bottom:95px;box-sizing:border-box;}
.comment-wrap li{padding:10px;border-bottom: 1px solid #e1e1e1;position: relative;}
.comment-time{font-size: 12px;color: #999; margin-bottom: 5px;}
.comment-des{font-size: 14px;color: #333;}

.comment-btn{background: #fff;width: 100%;padding:7px 0;position: fixed;border-top: 1px solid #e1e1e1;bottom: 0;left: 0;}
.comment-btn-txt{background: #e4e4e4;font-size:14px;color: #999;height: 30px;width: 90%;margin:auto;line-height:30px;text-indent: 15px;}

.xing{position: absolute;right:10px;top:10px;}
.xing li,.pl-xing li{width: 18px;height: 18px;background: url(../../images/resume/phone/page6-2.png) no-repeat; float: left;padding:0px;border-bottom:none;margin:0 2px;background-size: 100% 100%;}
.xing li.cur,.pl-xing li.cur{width: 18px;height: 18px;background: url(../../images/resume/phone/page6-1.png) no-repeat; float: left;padding:0px;border-bottom:none;margin:0 2px;background-size: 100% 100%;}

.comment-write{padding: 10px 0;background: #fff; position: fixed;bottom: 0;width: 338px;left: 0;font-size: 14px;display: none;border-top:1px solid #e1e1e1;}
.comment-ta{height: 100px;border: 1px solid #e1e1e1;width: 93%;margin: auto;}
.comment-ta textarea{color: #999;width: 100%;height:98px!important;border: none;padding: 10px;}

.pl-xing{padding:10px 0 0 10px}
.pl-btn{width:60px;height:30px;background:#dddddd;color: #fff;line-height:30px;text-align: center;margin:10px 10px 0 0;border-radius: 5px;-webkit-border-radius: 5px;}
.pl-btn.on{background: #7ab94e;}

.toast{background: rgba(0,0,0,0.6);border-radius: 15px;-webkit-border-radius: 15px;color:#fff;font-size: 14px;position:fixed;padding: 10px 20px;z-index: 3;left: 50%;margin-left: -130px;bottom: 20%;display: none;}

.loadingpl{ text-align: center;font-size: 24px;padding: 20px 0;}

.commentbody,.htmlcomment{overflow: hidden;height: 100%;position: relative;}
.ui-page{overflow: hidden;height: 100%;}

.ncvideo{width: 338px;height: 300px;overflow: hidden;position: absolute;left: 0;top: 50%;margin-top:-150px;}
.back{width: 35px;height: 35px;position: absolute;bottom:2%;right: 3%;background: rgba(0,0,0,0.6);border-radius: 50%;text-align: center;cursor: pointer;z-index:2;}
.back img{margin-top:9px;width:20px}
.nc .back{top:2%;left: 3%;}
/**/
.skzb.nouse{background:#ddd url(../../images/resume/phone/page4-icon11.png) no-repeat center!important;background-position: center 15px!important;}
.hjsk.nouse{background:#ddd url(../../images/resume/phone/page4-icon3.png) no-repeat center!important;background-position: center 11px!important;}
.spzs.nouse{background:#ddd url(../../images/resume/phone/page4-icon4.png) no-repeat center!important;background-position: center 11px!important;}
/**/
.overlay{background: #000;opacity: 0.5;overflow: hidden;width: 100%;height: 100%;position: fixed; top: 0;left: 0;display: none;}

.mr10{margin-right:10px}


.videopic-list{width: 100%;height:100%;overflow: hidden;color: #999;position: absolute;top:0;left:0;background:#000;z-index:3;display:none;}
#video-pic1{width:338px;height:240px;top:50%;margin-top:-120px;left:0;}
#video-pic1 .carousel-control{display:none;}
.back1{width: 35px;height: 35px;position: absolute;top:2%;left: 3%;background: rgba(0,0,0,0.6);border-radius: 50%;text-align: center;cursor: pointer;z-index: 999;}
.back1 img{margin-top:9px;width:20px}
