/* 日历小图标替换图标字体的样式 */
.form_date input {
    width: 100%;
    height: 34px;
    line-height: 32px;
    padding: 0 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form_datetime,.form_date {
	position: relative;
	width: 200px;
}

.form_datetime input,.form_date input {
	width: 100%;
	height: 34px;
	box-sizing: border-box;
}

.form_datetime .add-on,.form_date .add-on {
	position: absolute;
	right: 5px;
	top: 10px;
	width: 14px;
	height: 14px;
}

.form_datetime .add-on .icon-th,.form_date .add-on .icon-th {
	display: block;
	width: 14px;
	height: 14px;
	margin: 0;
}

[class*=" datetimepicker-dropdown"] {
	margin: 12px 0 0 6px;
}

[class^="icon-"],
[class*=" icon-"] {
	background-image: url("../../images/resume/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	margin-top: 1px;
	vertical-align: text-top;
	width: 14px;
}

.icon-arrow-left {
	background-position: -240px -96px;
}

.icon-arrow-right {
	background-position: -264px -96px;
}

.icon-ok {
	background-position: -288px 0px;
}

.form_datetime .add-on .icon-th,.form_date .add-on .icon-th{
	background-position: -240px 0;
}


/* 日历小图标替换图标字体的样式 结束 */

.input-group .form-control,
.form-control {
	width: 500px;
}
/**/
.font-blue{color: #428bca;}
.font-red{color: #ff0000;}
.font-gray{color: #999;}
label{font-weight: normal;margin-bottom: 0;}
/**/
body{min-width: 1203px;}
.topdiv{ width: 100%;height: 60px;}
.topdiv img{height: 60px; max-width: 100%}
.bottomdiv{width: 100%; min-width: 1203px;}
.leftdiv {width: 77px;}
.rightdiv{min-width:1126px; overflow: hidden;}
.rightmain{ font-size: 12px;color: #333;}
.position{font-size: 14px;height: 45px;line-height: 45px;border-bottom: 1px solid #ddd;padding:0 25px; margin-top: 30px;color:#525252;position: relative;}
.cu{cursor: pointer;}

.copymsg{position:absolute;width: 86px;height: 26px;top:-21px;right:0px; background: url(../../images/resume/icon5.png) no-repeat;display:none;}
.right-href{position: absolute; right: 0;top: 0;height: 43px;line-height: 43px;}
.right-href a{color:#525252;display: block;}
.right-href li{float: left; margin-right: 15px;padding: 0 10px;}
.right-href li img{margin-right: 5px;}
.right-href li.cur{border-bottom: 2px solid #33aedc;}

.add-btn{width: 104px;height: 33px;background: url(../../images/resume/button1.png) no-repeat; margin-right: 20px;border:none;cursor: pointer;}
.buttondiv{padding:15px 0 15px 25px;line-height: 33px;position: relative;}
.right-con{background: #fafafa;padding: 25px;max-height:670px;}
.right-con-right{width:360px;}
.tongji-msg{position: absolute; right:25px;bottom: 10px;}
/*履历信息*/
.right-con-title{font-size: 16px;height: 45px;line-height: 45px;background: #f5fbfc;position: relative; border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;}
.pinglun-icon{position:absolute;right: 25px;top:15px;cursor: pointer;width: 19px;height: 18px;line-height: 0;}
.right-con-title .tooltip{margin-top:-5px;height: 32px;}
.imgicon{ margin-top: -2px; margin-right: 7px; margin-left: 20px;}
.right-con1{padding:15px;background: #fff; border-radius: 0 0 5px 5px;}
.right-con1-left{width: 130px;height: 130px;overflow: hidden;border-radius: 50%;padding:3px;border:1px solid #e1e1e1;position: relative; }
.right-con1-left img{width: 100%; height: 100%;border-radius: 50%;}
.changeimg{position: absolute;background: url(../../images/resume/icon28.png) no-repeat;width: 72px;height: 33px;left: 33px;bottom: 10px;cursor: pointer;}
.form-control{width: 60%;display: inline; margin-left: 7px;}
.right-con1-right{font-size: 14px;min-width: 330px;}
.right-con1-right p{ margin:10px 0;}
.right-con1-right .p1{ margin-bottom: 18px; margin-top: 5px;}
.sewd{width: 60%!important;}
/*tab*/
.lvli-tab,.lvli-info{width: 100%;border:1px solid #e1e1e1; border-radius: 5px;-webkit-border-radius: 5px;margin-bottom: 20px;}
.img-icon{ margin-top: -3px;margin-right: 5px;}
.lvli-tab  .nav-tabs>li{width: 20%; text-align: center;font-size: 14px;}
.lvli-tab  .nav-tabs>li>a{color: #999;}
.lvli-tab  .nav>li>a{padding:11px 0;}
.lvli-tab  .tab-content{background: #fff;height: 345px;border-radius:0 0 5px 5px;overflow: hidden;overflow-y: scroll;}
.lvli-tab  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{border-top:1px solid #fff;border-radius: 0;}

.lvli-tab .tab-wrap{padding:15px 0px;}
.lvli-tab .tab-wrap li{border:1px solid #e1e1e1; border-radius: 5px;padding:8px 5px; float: left;width:230px; margin:5px;}
.file-name{display:inline-block;width:65px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.right-con-right{border:1px solid #e1e1e1; border-radius: 5px;-webkit-border-radius: 5px;margin-bottom: 20px;}
.iframe-show{width:340px;height:560px;border: 1px solid #e1e1e1;margin:10px;}

.btn-wrap{border-top: 1px solid #e1e1e1;padding-top: 10px;}
.btn-wrap-button{text-align: center;width: 500px; margin: auto;}
.btn-wrap button{margin: 0 5px;}
/*内容设置*/
#neirong .tab-wrap li{padding:8px 5px!important;}
.tab-title{padding: 15px 5px;position: relative;}
.tab-line{width: 100%;height: 1px;border-bottom: 1px dashed #e5e5e5;margin: 10px 0;}
.icheckbox_minimal-blue, .icheckbox_minimal-blue.checked{margin-top: -1px;}

/*菜谱弹框*/
.cp-input{width: 185px;}
.cp-ta{width:470px;}
.ptitle{width:56px;text-align: right;}
.cp-window .modal-body{/* overflow: hidden; */}
.cp-window .modal-body{line-height:56px;}
/*产品介绍弹框*/
.cpjs-window .modal-body{/* overflow: hidden; */}
.cpjs-window .modal-dialog{width:650px;}


/*复制履弹出框历*/
.modal-title{font-size: 14px;color: #000000;font-weight: normal;}
.modal .modal-header .close, .modal .modal-header .close:link{margin-top: 0;color:#d7d5d7;}
.modal-footer{text-align:center;border-top: 1px solid #e5e5e5;}
.modal-body{font-size: 14px;color: #333;height: 450px; overflow-y: scroll; font-weight: normal;}
.modal-body li img{max-width: 100%;}
.se-width{width: 290px!important;max-width: 100%!important;}
.copy-title{height: 45px;line-height: 45px;background: #f5fbfe; text-align: center;border-bottom: 1px solid #e5e5e5;}
.copyleft{width:45%;}
.copy-right{width: 35%;margin-left: 1%;}
.copy-subtitle{font-size: 16px;height: 50px;line-height: 50px;border-bottom: 1px dashed #E5E5E5;}
.copy-subtitle span{font-size: 12px;color: #999797;margin-left: 10px;}
.copy-normal{font-size: 14px;border-bottom: 1px dashed #E5E5E5; text-align: center;padding:12px 0;line-height: 30px;}
.copy-caozuo p{margin-bottom: 10px;}

.modal-dialog{margin-top: 10%;}
/*评论弹出框*/
.pinglun-title{padding:15px 10px;border-bottom: 1px dashed #e5e5e5;}
.che{border: 1px solid #E5E5E5;margin-top: -1px!important; margin-right: 5px!important;}
.search-pl{position: relative;display: block;}
.search-pl-img{position: absolute;left:15px;top:5px;cursor: pointer;}
.search-pl-txt{width: 160px;padding-left: 25px!important;margin-top: -5px;}
.pinglun-search{border-right: 1px solid #eee; width: 45%;}
.pinglun-people{width: 20%;text-align: center;border-right: 1px solid #eee;}
.pinglun-date{width: 25%;text-align: center;border-right: 1px solid #eee;}
.pinglun-window .modal-dialog{width: 740px;}
.pinglun-del{text-align: center;width: 9%;}

/*履历树弹窗*/
.lvlitree-window .modal-body{height:auto}
.lvlitree-window .modal-body p{text-align: center;padding: 40px 0;}
/*底部（头部）图片弹窗*/
.change-img-div{position: relative; margin-right: 10px;}
.change-img-btn{width:100px;height: 100px;opacity:0;position: absolute;right: 0;top: 0;cursor: pointer;}
.change-img .modal-dialog{width: 450px;}
.change-img .modal-body{margin: 20px auto;height: auto;width: 400px;/* overflow: hidden; */}
/*选择皮肤弹窗*/
.choose-skin .nav li a{color: #b2b2b2;}
.choose-skin .nav li.active a{color: #555;}
.choose-skin .nav-tabs>li.active>a:focus{border-top:1px solid #ddd;border-radius: 5px 5px 0 0;}

.choose-skin .modal-dialog{width:720px;}
.skin-wrap{position: relative;width: 147px;height: 235px;text-align:center;overflow: hidden; float: left;margin: 10px; cursor: pointer;}
.skin-wrap .img{width: 147px;height: 213px;}
.checked-skin{position: absolute;width: 147px;height: 213px;top: 0;left: 0;background: url(../../images/resume/icon34.png) no-repeat;display: none;}
.skin-wrap.cur .checked-skin{display: block;}
/*通用小弹窗*/
.s-window .modal-dialog{width: 400px;}
.s-window .modal-body{height: auto;/* overflow: hidden; */}
.s-window .form-control{width: 87%;}
.change-img p{margin-bottom: 10px;text-align: center;}
/*我要购买弹窗*/
.buy-window .modal-dialog{width: 400px;}
.buy-window .modal-body{height: auto;/* overflow:hidden;overflow-y:scroll; */text-align: center;}
.buy-window p{margin-bottom: 10px;text-align: center;}
#address{display: none;}
.redbag-width{width: 215px;}



/*记录设置*/
#jilu{line-height: 30px;}
#jilu .form_datetime{width: 150px;}
.panal-wrap{padding:10px;}
.jilu-ch{margin-bottom: -4px;display: inline-block;margin-top:15px;}
.jilu-plan{width: 44.5%;border:1px solid #E1E1E1;border-radius: 5px;-webkit-border-radius: 5px;height: 250px;overflow: hidden;overflow-y: scroll;}
.jilu-plan li{cursor: pointer;padding:2px 10px;}
.jilu-plan li.cur{background: #428bca;color: #fff;}
.jilu-plan-title{height: 30px;border-bottom:1px solid #E1E1E1;background: #f9f9f9;color:#333;text-align: center;line-height: 30px;border-radius:5px 5px 0 0 ;-webkit-border-radius:5px 5px 0 0 ;}
.jilu-btn{width:40px;padding: 50px 0;margin: 0 1%;}
.jilu-btn p{width: 40px;height: 25px;text-align:center;line-height: 25px;background: #dddddd;cursor: pointer;color: #c2c2c2;margin:10px 0;}
/*分享设置*/
.share-detail{width: 260px;height: 117px;background: url(../../images/resume/icon64.png) no-repeat;margin-left:7px;overflow: hidden;}
#fenxiang .form-control{min-width: 247px;width: 70%;}
.mr-bo{margin-bottom: 10px;}
.share-tx{margin-top: 15px;margin-left: 10px;}
.share-qr{margin-top: 15px;margin-left: 10px;width: 98px;height: 98px;}
.share-qr img{max-width:100%}
.share-title{font-size: 16px;color: #333;margin-bottom: 10px;}
.share-img{width: 60px;height: 60px;border:1px solid #ddd;border-radius: 50%;-webkit-border-radius: 50%; margin-right: 10px;}
.share-img img{width: 100%;height: 100%;border-radius: 50%;-webkit-border-radius: 50%;}
.share-wrap{padding: 10px;}
/*产品设置*/
.area-se{width: 91px!important;}
.hj-te{width: 285px;height:95px!important;}
/*专家解读弹窗*/
.zj-window .modal-dialog{width:650px;}
.zj-list{margin-top: 15px;}
.zj-list li{padding: 10px 5px;cursor: pointer;}
.zj-list li.cur{background: #3e89ce;color: #fff;}
.zj-btn{text-align: center;background: #f7f7f7;border: 1px dashed #e1e1e1;border-radius: 10px;-webkit-border-radius: 10px;padding: 15px 0;line-height: 35px;position: absolute;bottom:10px;width:96%;left:2%;margin-top: 10px;}
.zj-file{position: absolute;width:140px;height: 33px;top:18px;left: 230px;opacity: 0;cursor: pointer;}
.zj-window .modal-body{height: 380px;}
/*生育期弹窗*/
.syq-wrap li{ float: left; text-align: center;width: 125px;height: 180px;margin: 10px;cursor: pointer;border:1px solid #fff;}
.syq-wrap li.cur{border:1px solid #428bca;}
.syq-wrap li img{max-width:100%;max-height: 150px;}
.syq-window .modal-body{height: auto;}
/*品牌信息*/
.sharediv .change-img-div{width:95px;text-align: right;height: 30px;line-height: 35px;}
.sharediv .form-control{width: 270px;margin-left: 0;}
.sharediv textarea.form-control{margin-top: 10px;height: 70px;}
.sharediv.modal-body{height: auto;/* overflow: hidden; */}
/*资格证书弹窗*/
.zs-list li{ float: left; width: 100px;height: 100px; margin: 10px;position:relative;}
.zs-list li img{width: 100px;height: 100px;}
.zs-list li .del-img{width:27px;height:23px;position:absolute;right:0;top:0;display:none;}
.zs-list .change-img-div{margin: 10px;}
.free-neirong{width:100%;/*width:500px;*/height:340px;/*margin-left: 5%;*/}
/*空白页*/
.empty-wrap{padding:20px 0 25px 38px;}



/*子菜单栏*/
.panorama_level{position: relative; min-height: 529px; height: 885px;display: none;}
.public-search2{position:absolute;left:3px;top:10px;    z-index: 2;}
#searchName{width:160px;}
#purchaseListDiv{width:186px;padding-top:45px;height:100%;box-sizing:border-box;overflow-y:scroll;}
#purchaseListPanel{margin:0; border:none; padding: 0;}
.collapse_btn{top: 294px;}
#noPurchaseListDiv{display:none; text-align: center;}
/*以下为复写的原来的样式*/
.pano_second .sed_item .i_icon{
	position:absolute;
	left:8px;
	top:5px;
	width:20px;
	height:20px;
	background:#fff url(../../images/resume/icon2.png) no-repeat center center;
}
.pano_second .sed_item.sed_cur .i_icon{
	background:#428bca url(../../images/resume/icon.png) no-repeat center center;
}
.pano_second .sed_item.sed_cur:hover .i_icon{
	background:#428bca url(../../images/resume/icon.png) no-repeat center center;
}
.pano_second .sed_item:hover .i_icon{
	background:url(../../images/resume/icon2.png) no-repeat center center;
}
.pano_second .sed_item .selled span{border:none;display: block;width: 12px;height: 14px;background: url(../../images/resume/icon4.png) no-repeat;}
.pano_second .sed_item .selled{width:12px;height: 14px; position: absolute; right: 5px; top: 8px; color: #77818a;}
.pano_second .sed_item .p_text{
	max-height:40px;
	line-height:20px;
	overflow:hidden;
	color:#525252;
	width:110px;
	cursor:hand
}
.pano_second .sed_item.sed_cur .selled{width:12px; position: absolute; right: 5px; top: 8px;  color: #fff;}
.pano_second .sed_item.sed_cur .selled span{background: url(../../images/resume/icon3.png) no-repeat;}
.pano_second .sed_item{
	position:relative;
	width:165px;
	padding-bottom:10px;
	background:url(../images/panorama/panorama_line1-1.png) repeat-y 0 0;
}

/*  */
.updatePicture{width:140px; height:140px;overflow:hidden; }
.updatePicture-des{width:160px;text-align:left!important;}
.overauto{overflow:auto!important;}
.overin{overflow:initial!important;}
.zwModal-h{height:200px;}
#zwModal .modal-body{overflow-y:visible;}
.mr40{margin-right:41px;}
.addimg{width:100px;height:100px}

.backold{color:#71c971;display:inline-block;border-left:1px solid #333;cursor:pointer;line-height: 20px;padding-left: 10px;margin-left: 15px;}
.backold img{margin-right:5px}

/*5.15改*/
.pano_second .sed_item >div{padding:5px 21px 5px 32px;}
#zyghModal .modal-body,#fxhbModal .modal-body,#plantImgModal .modal-body,#hjtsModal .modal-body,#cpjsModal .modal-body{overflow:hidden}

.form_datetime{margin:0 5px}
.imgmr1{margin-right:2px}
.imgmr2{margin-left:4px}
.pickList_sourceList li, .pickList_targetList li{    overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.input-block-level{width:202px!important;}
#fxhbModal .modal-dialog{width:455px}
.mr60{margin-right:60px}
.iradio_minimal-blue{margin-right:5px;}
.tooltip.top{height:32px;margin-top:0;margin-bottom:-10px;}
.fontweight{font-weight:bold}
.mt85{margin-top:85px}


@media (min-width:1480px){
.lvli-tab .tab-wrap li{margin:5px 1.5%}
}
@media (min-width:1810px){
.lvli-tab .tab-wrap li{margin:5px 2.5%}
}
.share-wrap .share-title{word-break: keep-all;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.share-txt{width:160px; line-height: 19px;}
.h1{height:130px;text-align:left}
.w1{width:297px!important;}
.tooltip-inner{margin-top:10px}
.page4-first-pic .name{ overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
#zzzsModal .modal-body{max-height:450px;min-height:115px;height:auto;}
#fxhbModal.modal-body{overflow: visible;}

.w2{width:274px!important}
.pinglun-date input{text-align:center;}
.icheckbox_minimal-blue {margin-right:5px;}
#pinglunModal .icheckbox_minimal-blue{margin-right:10px}
.mt2{margin-top:2px;margin-right:15px}
#pinglunModal .modal-body{overflow:hidden;}
.plover{height:400px;overflow-y: scroll;}

#fxhbModal .bootstrap-select{width:405px}
.bootstrap-select-searchbox .form-control{width:100%!important;}
.w3{width:295px;}

#fxhbModal .modal-body{overflow: visible;}