@charset "utf-8";
/* CSS Document */
/*======== 全局 ========*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body { font-size:14px; color:#323232; font-family: Microsoft YaHei; background:#fff; line-height:150%; margin: 0; padding: 0; }
fieldset, img { border:0; }
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%; font-weight: normal;}
em { font-style:normal; }
input, button, select, textarea { outline:none; } 
textarea { resize:none; } 
p{ text-align:justify; text-justify:distribute;} 
a{color: #323232;}
a:hover { text-decoration:none; }
a:focus { outline:none; -moz-outline:none;}
a{blr:expression(this.onFocus=this.blur()); text-decoration:none;}
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
textarea{font-size:12px; padding:0; margin:0;}
.fl{float: left;}
.fr{float: right;}

/*开始*/
.frog{width: 1002px; margin: 0 auto; position: relative; }
.flower{width: 620px; height: 671px; background: url(/asset/images/wxd/flower.png) no-repeat; position: absolute; top: 115px; right: 0; z-index: -1;}
.frog .header{padding-top: 20px;}
.frog .left{width: 600px; height: 44px;}
.frog .left .line{display: inline-block; width: 1px; height: 22px; background-color: #57b07f; margin: 0 15px 5px;}
.frog .right{height: 44px; line-height: 60px; font-size: 16px; color: #088a44;}
.frog .right img{vertical-align: -8px; margin-right: 10px;}
.frog .content{width: 1002px; height: 464px;  margin: 150px auto 0;}
.frog .content .left{width: 309px; height: 454px; background: url(/asset/images/wxd/frog.png) no-repeat; margin-left: 160px;}
.frog .content .right{width: 284px; height: 454px; margin-right: 90px;}
.frog .content .right .top{width: 283px; height: 280px; background: url(/asset/images/wxd/login.png) no-repeat; margin-top: 44px; padding-top: 95px; padding-left: 27px;}
.frog .content .right .login{width: 283px; height: 55px; background: url(/asset/images/wxd/btn.png) 0 0; text-align: center; font-size: 16px; color: #fff; font-weight: bold; line-height: 55px; cursor: pointer;}
.frog .content .right .login:hover{background: url(/asset/images/wxd/btn.png) 0 -95px; }
.frog .content .right .top ul{width: 227px; height: auto;}
.frog .content .right .top ul li{height: 40px; position: relative;}
.frog .content .right .top ul li input{width: 170px; height: 38px; line-height: 38px; color: #a7d0a2; font-size: 14px; font-family: "微软雅黑"; border:none; outline: none; position: absolute; right: 5px; top:1px;}
.frog .content .right .top ul li.user{background: url(/asset/images/wxd/user.png) no-repeat; margin-bottom: 30px;}
.frog .content .right .top ul li.code{background: url(/asset/images/wxd/code.png) no-repeat;}
.frog .content .forget{color: #cbe1c8; text-align: right; padding-right:30px; font-size: 14px;}
.copyright{width: 1002px; font-size: 14px; color: #a7d0a2; text-align: center; position: absolute; bottom: 45px; margin-top: 60px;}