@charset "utf-8";
/* CSS Document */
.fl{float: left;}
.fr{float: right;}
.c64{color: #646464;}
.pl32{padding-left: 32px;}
.sideList{width: 250px; border-right: 1px solid #e2e2e2; height: 500px; padding-top:45px; }
.sideList li{width: 220px; height: 50px; border: 1px solid #e2e2e2; border-top: 0; line-height: 50px; padding-left: 15px; cursor: pointer;}
.sideList li.first{border-top: 2px solid #8bb643;}
.sideList li .former{font-size: 16px; font-weight: bold; padding-right: 10px;}
.sideList li.cur{border-left:2px solid #8bb643; background-color: #eefae4; }
.contentR{width:100%; height: auto; padding: 40px 20px 0; display: none;}
.contentR .titleC{border-bottom: 1px solid #e2e2e2; height: 32px; color: #647aaa; font-weight: bold;}
.contentR p{line-height: 28px; padding-top:5px; padding-bottom: 5px; margin: 0;}
.contentR .boxC td{line-height: 32px;}
.contentR .boxC .borderL td{border-bottom: 1px dashed #e2e2e2; padding: 5px 0;}