@charset "utf-8";
/* CSS Document */
/* 公用样式 开始 */
*,*:after,*:before{
	box-sizing:border-box;
}
body,a,p,h1,h2,h3,h4,h5,h6,strong,ul,ol,li,div,form,table,tbody,thead,tfoot,th,tr,td,u,b,i,s,font,dl,dt,dd,em,sup,sub{ 
	margin:0; 
	padding:0;
}
a{ 
	text-decoration:none;
}
a:hover, a:focus{ 
	outline:none; 
	outline-offset:0 !important; 
	text-decoration:none;
}
ul,ol,li{ 
	list-style:none;
}
.fl{ 
	float:left; 
	display:inline;
}
.fr{ 
	float:right; 
	display:inline;
}
.clear{ 
	clear:both;
}
.clear:after{ 
	clear:both; 
	content:""; 
	display:block; 
	visibility:hidden; 
	height:0;}

.fontFamS{ 
	font-family:'宋体';
}
.fontFamW{ 
	font-family:'微软雅黑';
}
.btn:focus, .btn:active:focus, .btn.active:focus{ 
	outline-offset:0; 
	outline:inherit !important;
}
.bootstrap-select .btn:focus{ 
	outline-offset:0; 
	outline:inherit !important;
}
html{ 
	height:auto;
}
body{ 
	min-width:1000px;
	min-height:500px; 
	font-size:14px; 
	font-family:'微软雅黑'; 
	color:#323232;
}
em{ 
	font-style:normal;
}
.mt20{ 
	margin-top:20px;
}
.mb20{ 
	margin-bottom:20px;
}
.ml5{ 
	margin-left:5px;
}
.mr5{ 
	margin-right:5px;
}
.mr15{ 
	margin-right:15px;
}


/*找回密码样式*/
.password-header-wap{
	height: 87px;
	border-bottom: 1px solid #ddd;
}
.password-header{
	padding: 0 136px;
}
.password-header .h-logo{
	float: left;
	width: 435px;
	height: 86px;
	vertical-align: top;
}
.password-header .h-line{
	float: left;
	width: 5px;
	height: 20px;
	border-left: 1px solid #ddd;
	margin: 33px 4px 0 4px;
}
.password-header .h-phone{
	float: left;
	line-height: 20px;
	margin-top: 33px;
	font-size: 18px;
	color: #82b439;
}

.password-content-wap{
	position: relative;
	min-height: 450px;
	background-color: #f6f8ff;
}
.password-content{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 600px;
	margin-left: -300px;
	margin-top: -210px;
}
.password-content .c-ttl{
	display: block;
	line-height: 48px;
	text-align: center;
	font-size: 28px;
	font-weight: normal;
	color: #666;
}
.password-content .c-ttl img{
	width: 48px;
	height: 48px;
	margin: 0 10px 0 0;
	vertical-align: top;
}
.password-content .c-ttl P{
	display: inline-block;
}
.password-content .c-line-l,.password-content .c-line-r{
	position: absolute;
	bottom: 0;
	width: 50%;
	height: 4px;
}
.password-content .c-line-l{
	left: 0;
	background-color: #45bcf6;
	border-radius: 0 0 0 4px;
}
.password-content .c-line-r{
	right: 0;
	background-color: #95d653;
	border-radius: 0 0 4px 0;
}
.ct-main{
	height: 352px;
	margin-top: 20px;
	padding-top: 50px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	background-color: #fff;
}
.set-default{
	width: 260px;
	margin: 0 auto;
}
.settab-hd{
	background: url(../../images/user/changePassword_bg1.jpg) no-repeat center top;
}
.settab-hd .items{
	text-align: center;
	font-size: 12px;
	color: #999;
}
.settab-hd .items span{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-bottom: 5px;
}
.settab-hd .items1 span{
	background: url(../../images/user/changePassword_ico8.jpg) no-repeat;
}
.settab-hd .items2 span{
	background: url(../../images/user/changePassword_ico3.jpg) no-repeat;
}
.settab-hd .items.s-cur{
	color: #333;
}
.settab-hd .items.s-cur span{
	background: url(../../images/user/changePassword_ico2.jpg) no-repeat;
}
.settab-bd  .tab-con{
	display: none;
	padding-top: 28px;
}
.settab-bd  .tab-con.b-cur{
	display: block;
}
.ipt-list li{
	position: relative;
	height: 34px;
	margin-bottom: 20px;
}
.ipt-list .items{
	height: 34px;
	line-height: 20px;
	border: 1px solid #ddd;
	padding: 7px 0;
	border-radius: 4px;
}
.ipt-list li p{
	position: absolute;
	left: 265px;
	top: 0;
	width: 174px;
	line-height: 34px;
	font-size: 14px;
	color: #f00;
}
.ipt-list .li-li2{
	width: 160px;
}
.ipt-list .li-li2 .txt2{
	width: 128px;
}
.ipt-list .li-li3 .find-btn{
	width: 100%;
	height: 34px;
	line-height: 34px;
	border: none;
	border-radius: 4px;
	background-color: #428bca;
	font-size: 14px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.ipt-list .li-li4 a{
	font-size: 12px;
	color: #3579cd;
}
.ipt-list li.li-tip .red-border{
	border-color: #f00;
}
.ipt-list li.li-tip p{
	color: #f00;
}
.ipt-list .put-ico{
	float: left;
	width: 29px;
	height: 20px;
	border-right: 1px solid #ddd;
	text-align: center;
}
.ipt-list .put-text{
	width: 228px;
	height: 20px;
	padding: 0 5px;
	border: none;
	font-size: 14px;
	color: #ccc;
}
.ipt-list .txt2{
	width: 160px;
}
.ipt-list .txt3{
	position: absolute;
	left: 170px;
	top: 0;
	width: 90px;
	height: 34px;
	line-height: 32px;
	padding: 0;
	border: 1px solid #ddd;
	border-radius: 4px;
	text-align: center; 
	font-size: 14px;
	background-color: #fff;
	cursor: pointer;
}
.set-success{
	display: none;
	margin: 100px 0 0 154px;
}
.set-success .new-tip{
	width: 240px;
	height: 50px;
	padding-left: 58px;
	background: url(../../images/user/changePassword_ico9.jpg) no-repeat left center;
}
.set-success .new-tip .txt1{
	line-height: 34px;
	font-size: 18px;
	color: #59aa39;
}
.set-success .new-tip .txt2{
	font-size: 12px;
	color: #666;
}
.set-success .new-tip .txt2 a{
	color: #3579cd;
}


.password-footer-wap{
	border-top: 1px solid #c4d1e4;
	background-color: #f4f7ff;
}
.password-footer{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 12px;
	color: #8d9fb7;
}

















