@charset "utf-8";
/* CSS Document */
body{ min-height:762px; font-size:14px; color:#3c3c3c;}
.pt5{ padding-top:5px;}
.pb5{ padding-bottom:5px;}
.pr10{ padding-right:10px;}
.ml10{ margin-left:10px;}


/* 通用上传文件 */
.baseFile_onload{ position:relative; display:block; width:75px; height:25px; line-height:25px; overflow:hidden; background:#fff; border:1px solid #ccc; border-radius:5px; font-size:12px; text-align:center; cursor:pointer;}
.baseFile_onload:hover{ background:#e6e6e6; border-color:#adadad;}
.baseFile_onload input{ position:absolute; right:0; top:0; height:27px; opacity:0; filter:alpha(opacity=0); cursor:pointer;}
.baseFile_pic194 img{ width:194px; height:94px;}
.pic_stress{ color: #f00; font-size: 12px; line-height: normal; margin: 0; padding: 10px 0 6px;}
.StandardSize{ border:1px solid #ddd; display:inline-block;}
.StandardSize .img1{ width:185px; height:114px;}
.StandardSize .img2{ width:114px; height:114px; border-radius:57px;}
.StandardSize .img3{ width:114px; height:114px;}
.StandardTxt{ padding-top:5px; font-size:12px; font-family:'宋体'; color:#ff0000;}

/* 个人设置 */
.grszHeader{ display:inline-block; padding:8px; border:1px solid #dbdbdb; border-radius:4px;}
.grszHeader img{ width:190px; height:190px;}
.grszCount{ margin:30px 0 15px; text-align:center;}
.grszCount .colorB{ color:#59b32f;}
.grszCount_help{ float:left; width:50%; border-right:1px solid #dcdcdc;}
.grszCount_help em, .grszCount_gain em{ display:block; margin-bottom:10px; font-size:14px;}
.grszCount_help .text, .grszCount_gain .text{ font-size:14px;}
.grszCount_help .text span, .grszCount_gain .text span{ padding-right:3px; font-weight:bold;}
.grszFile{ position:relative; display:block; width:190px; height:34px; line-height:32px; margin:10px auto; border:1px solid #d8d8d8; border-radius:4px; text-align:center;}
.grszFile input{ position:absolute; left:0; top:0; width:190px; height:34px; opacity:0; filter:alpha(opacity=0); cursor:pointer;}
.ageo_loginTime{ width:170px; height:20px; line-height:20px; margin:10px auto; padding-left:15px; background:url(../images/cm_grxxIco.png) no-repeat 0 -185px; font-size:12px; color:#aaa; }
.grszRt{ padding-left:20px;}
.grxxHt{ height:56px; border-bottom:1px solid #dbdbdb;}
.grxxHt h3{ float:left; height:56px; margin:0; line-height:56px; font-size:18px; text-indent:5px; color:#000;}
.revisionGrxx, .revisionKey{ height:23px; line-height:23px; padding-left:30px; background:url(../images/grsz_ico1.png) no-repeat; font-size:14px;}
.revisionKey{ background:url(../images/grsz_ico11.png) no-repeat 5px 3px;}
.modal .modal-header .close, .modal .modal-header .close:link{ margin-top:6px;}
.revisionBody{ height:315px;}
.revisionBody dt{ float:left; width:230px;}
.revisionBody dt .icoGrxx{ float:right; width:129px; height:129px; margin-top:92px;}
.revisionBody dt .icoKey{ float:right; width:144px; height:118px; margin-top:96px;}
.revisionBody dd{ float:left; width:426px; height:100%;}
.revisionBody dd td{ padding-bottom:20px;}
.feiImpor{ float:left; line-height:30px; padding-left:5px; font-size:12px; color:#ff2e8a;}
.bootSelt21{ float:left; display:inline-block;}
.grxxCt{ margin-top:30px; font-size:12px;}
.grxxCt td.border58{ height:58px; border-bottom:1px solid #dbdbdb;}
.blongsTxt{ font-size:16px; color:#5b5a5a;}
/* 互助回答 */
.grxxFt2{ margin:30px 0 20px;}
.search_Category{ position:absolute; right:0; top:-45px;}
.search_Category .octicon-search02{ position:absolute; left:inherit; right:8px; width:17px; height:17px; background:url(../images/grsz_ico20.png) no-repeat;}
.search_Category .form-control{ height:36px; padding-right:25px; border-radius:2px; background:#f9f9f9; color:#9c9c9c;}
.MY_mutualAnswer{}
.MY_mutualAnswer .nav-tabs > li a{ padding:10px 20px; color:#7a7a7a;}
.MY_mutualAnswer .nav-tabs > li.active > a, 
.MY_mutualAnswer .nav-tabs > li.active > a:hover, 
.MY_mutualAnswer .nav-tabs > li.active > a:focus{ font-weight:bold; color:#59b32f;}
.MY_mutualAnswer .nav-tabs span{ padding-left:5px;}
.MY_mutualAnswer .tab-pane{ position:relative;}
.MY_mutualAnswer .questionList{ padding:20px 0;}
.MY_mutualAnswer .questionList .items{ padding:15px 0; border-bottom:1px dashed #dcdcdc;}
.MY_mutualAnswer .questionList p{ padding-bottom:10px;}
.MY_mutualAnswer .questionList p a{ font-size:16px; color:#272727;}
/**.MY_mutualAnswer .questionList p a:hover{ text-shadow:0px 1px 2px #ccc;}*/
.MY_mutualAnswer .replyList{ padding:20px 0;}
.MY_mutualAnswer .replyList .items{ padding:10px 0; border-bottom:1px dashed #dcdcdc;}
.MY_mutualAnswer .items_dl{ position:relative; min-height:32px; padding-left:40px;}
.MY_mutualAnswer .items_dl .items_ico{ position:absolute; left:5px; top:0; width:25px; height:32px;}
.MY_mutualAnswer .items_dl .text{ font-size:16px; color:#272727;}
.MY_mutualAnswer .wait_answer{ position:relative; margin:30px 0 10px; padding:10px 20px; background:#fafafa; font-size:12px;}
.MY_mutualAnswer .wait_answer .arrowTop{ position:absolute; left:15px; top:-10px;}
.MY_mutualAnswer .wait_answer p{ line-height:20px;}
.WB_bottomInfo2{ min-height:28px;}
.WB_bottomFrom2{ float:left; font-size:12px; color:#7b7b7b;}
.WB_bottomFrom2{ margin-top:6px;}
.WB_bottomAmount2{ float:left; margin-top:6px;}
.WB_bottomAmount2 .amountItems{ position:relative; float:left; line-height:14px; margin:0; padding:0 10px;}
.WB_bottomAmount2 .amountItems i.ico img{ width:14px; height:14px; margin-right:3px; vertical-align:top;}
.WB_bottomAmount2 .amountItems a.link{ font-size:12px; color:#7b7b7b;}
.WB_bottomAmount2 .amountItems span.link{ font-size:12px; color:#7b7b7b;}
.WB_bottomAmount2 .amountItems a.link:hover{ color:#eb6b46;}
.WB_bottomStatue2{ float:right;}
.WB_bottomStatue2 .solve{ float:left; margin-top:5px;}
.WB_bottomStatue2 .solve img{ vertical-align:top;}
.WB_bottomStatue2 .delate{ float:left; margin-left:15px; line-height:28px; color:#7b7b7b; cursor:pointer;}
.WB_bottomStatue2 .tooltip-inner{ background:#505759; border-radius:0;}
.WB_bottomStatue2 .tooltip.top .tooltip-arrow{ border-top-color:#505759}


