.expired{width: 100%; height: 36px; line-height: 36px; font-size: 14px; color: #31708f; border: 1px solid #bce8f1; background-color: #d9edf7; border-radius: 5px; text-align: center; margin: 15px 0 25px;}
.review.nav-tabs>li.active>a, .review.nav-tabs>li.active>a:hover, .review.nav-tabs>li.active>a:focus{color: #48a3d8;}
.review.nav-tabs>li>a, .review.nav-tabs>li>a:hover, .review.nav-tabs>li>a:focus{color: #999; padding-left: 35px; padding-right: 20px;}
.review li .icon1{background-image: url(../../images/review/icon1.png); background-repeat: no-repeat; background-position: 13px -33px;}
.review li.active .icon1{background-position: 13px 11px;}
.review li .icon2{background-image: url(../../images/review/icon2.png); background-repeat: no-repeat; background-position: 13px -35px;}
.review li.active .icon2{background-position: 13px 13px;}
.review li .icon3{background-image: url(../../images/map/icon3.png); background-repeat: no-repeat; background-position: 13px -34px;}
.review li.active .icon3{background-position: 13px 11px;}
.red{color: #ff3c00;}
.green{color: #5cb85c;}
.tableModel thead th, .tableModel tbody td{height: 60px; position: relative;}
.seal{position: absolute; right: 0; bottom: 0;}
/*种子查看页*/
.little{height: 36px; line-height: 36px; color: #323232;}
.little span{color: #666;}
.little img{margin-right: 5px; vertical-align: -2px;}
.bigTitle{width: 100%; height: 60px; text-align: center; font-size: 28px; color: #333; font-weight: bold; line-height: 32px;}
.subTitle{width: 100%; height: 40px; line-height: 40px; border-bottom: 1px solid #e0e0e0; font-size: 16px; color: #4c4c4c; font-weight: bold; margin-bottom: 15px;}
.subTitle span{font-size: 12px; font-weight: normal; color: #999; margin-left: 5px;}
.seedView{margin-bottom: 12px;}
.seedView td{height: 50px; color: #323232; line-height: 34px;}
.seedView .inRight{text-align: right;}
.seedView .grey{min-width: 80px; color: #666;}
.nw50{width: 50%; float: left; margin: 8px; min-width: 150px;}
.unit{float: left; line-height: 50px;}
/*履历弹窗*/
.notePop{width: 424px; left: 50%; margin-left: -212px; top: 30%; position: absolute;}
.addPop{width: 440px; left: 50%; margin-left: -220px; top: 30%; position: absolute;}
.notePop .modal-body{padding-bottom: 30px;}
.notePop .modal-body p{font-size: 14px; color: #666; line-height: 22px; margin-bottom: 10px; padding-left: 35px;}
.notePop .modal-body p span{color: #323232;}
.notePop .modal-body p.apply1{background: url(../../images/review/apply.png) 12px 2px no-repeat;}
.notePop .modal-body p.apply2{background: url(../../images/review/tip.png) 12px 2px no-repeat;}
.former{width: 70px; padding-right: 10px; text-align: right; line-height: 34px;}
.nw210{width: 210px;}
.nw300{width: 300px;}
/*作物弹窗*/
.cropPop{width: 780px; left: 50%; margin-left: -390px; top: 30%; position: absolute;}
.cropPop .modal-body{padding: 15px 10px 0;}
.cropPop .modal-body .line{padding: 10px 0;}
.cropPop .modal-body .line .item{text-align: right; width: 150px; padding-right: 10px; line-height: 34px; font-size: 14px;}
.nw220{width: 220px;}