.btn{padding: 6px 19px;}
.form_datetime input{width: 135px;}
.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width: 195px;}
.neir .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width: 295px;}
.bootstrap-select.btn-group .dropdown-menu li{ width: 100%;}
.people_top .dateSelt{border-bottom: 1px dashed #e1e1e1;}
.people_top .dateSelt li{float: left;}
.people_top .dateSeltLi01{line-height: 35px; font-family: "Î¢ÈíÑÅºÚ"; width: 60px;}
@media screen and (min-width: 350px) and (max-width: 1076px){
.quyu{clear: both;}
.caoz{clear: both;}
}