@charset "utf-8";
/* CSS Document */

/* 二级菜单 */
.pt30 { padding-top:30px;}
.levelMenu_wp{ width:210px; height:100%; background:#fff;}
.levelMenu_ttl{ margin-top:0; margin-bottom:0;}

.levelMenu_ttl a{ display:block; height:30px; line-height:30px; padding-left:28px; background:url(../../images/levelMenu_ico2.png) no-repeat 18px center; font-size:12px; text-decoration:none; color:#000;}
.levelMenu_list{ width:210px; display:none;}
.levelMenu_li{ display:block; margin-left:7px; width:190px; height:34px; line-height:34px; text-decoration:none; font-size:12px; color:#656565;}
.levelMenu_li:hover, .levelMenu_li:focus{ text-decoration:none; color:#525252;}
.levelMenu_li img{ float:left; margin:13px 5px 0 22px;}

.ttlCur a{ background:url(../../images/levelMenu_ico1.png) no-repeat 15px center;}
.liCur{ background:url(../../images/levelMenu_bg1.png) no-repeat; color:#fff;}
.liCur:hover, .liCur:focus{ color:#fff;}



/* 左侧提示框 新增样式 */
.left_culi{ position:relative;}
.left_culi a {
    display:inherit;
    height: auto;
    width: auto;
}


.left_culi a:hover{	width:75px; height:65px; display:block; background:none; cursor:pointer;}
.left_culi > a:hover{width:77px; height:auto; display:block; background:url(../../images/lef_hover2.jpg) no-repeat; cursor:pointer;}
.left_culi > a { display:block; height:69px; width:77px;}
.shadow-silver-dark { box-shadow: 0 0 10px #cccccc;}
.sidebarUl{ position: absolute; margin:0px; padding:0px; top:0px; left:100%; background:#FFFFFF; list-style:none; z-index:99; min-width:80px; display:none; white-space: nowrap; border-radius:4px; border:1px solid #CDCDCD;}
.sidebarUl:before, .sidebarUl:after{ right:100%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none;}
.sidebarUl:after{ border-color:rgba(255, 255, 255, 0); border-right-color:#eff2f9; border-width:10px; top:50%; margin-top:-10px;}
.sidebarUl:before{ border-color: rgba(215, 215, 215, 0); border-right-color:#CDCDCD; border-width:11px; top:50%; margin-top:-11px;}
.sidebarUl > li{ position:relative; margin:0 0 0 -4px; list-style:none; display:inline-block; text-align:center; font-size: 11px; color:#626262; width:75px;	height:67px; background:#eff2f9;}
.sidebarUl > li:first-child{margin-left:0; border-radius:4px 0 0 4px;}
.sidebarUl > li:last-child{border-left:1px solid #c4c9d4; border-radius:0 4px 4px 0;}
.sidebarUl li a{ color:#626262;}
.sidebarUl li:hover a{ color:red; width:75px; height:67px;} 
.sidebarUl > li > a{ display:block; color:#626262; width:75px; height:auto;}
.sidebarUl > li > a:hover{ color:#495b7f; font-weight:bold;}
.sidebarUl li.divider{ height:58px; width:1px; margin:-14px -4px -24px -4px; border-left:1px solid #CDCDCD;}
.helper-height-24 { height:24px; margin-top:15px; overflow:hidden;}