@charset "utf-8";
/* CSS Document */
body{ color:#525252;}

/* 区域选择 日期选择 种植环境 */
.cm_tjfxHd{ padding:0 30px;}
.cm_tjfxHd02{ min-width:630px; margin:0 30px;}
.areaSeltLi01,.dateSeltLi01,.plantSeltLi01{ width:72px; line-height:30px; font-family:'宋体';}
.bootstrap-select{ width:124px; margin-right:7px;}
.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:124px; margin-right:7px; font-family:'宋体';}
.fxy_lidate label{ margin-top:0; font-family:'宋体'; font-weight:normal; color:#525252;}

.six33 label/*,.six33 label*/
 {
  display:-moz-inline-block;
  display:inline-block;
  cursor:pointer;
  margin:5px 5px 5px 0;
  padding-left:25px;
  line-height:19px;
  background:url(../../images/analysis/forms-radio.gif) no-repeat left bottom;
 }
 .six3 label/*,.six33 label*/
 {
  display:-moz-inline-block;
  display:inline-block;
  cursor:pointer;
  margin:5px 5px 5px 0;
  padding-left:25px;
  line-height:19px;
  background:url(../forms/forms-checkbox.gif) no-repeat left bottom;
 }
.six3 label.checked,.six33 label.checked
 {
  background-position:left top;
 }
 
 
 #sex_male, #sex_male1, #sex_male2, #sex_male3, #sex_female, #sex_female1, #sex_female2, #sex_female3, #sex_nomale, .sex_nomale, #sex_nomale1, #sex_nomale2, #sex_nomale3{ display:none;}
 #sex_sunlignt, #sex_multi, #sex_shed, #sex_vegegarden, #sex_orchard, #sex_facewater{ display:none;}
.la_div{ width:64px; padding:0; margin-top:5px; }
.la_div .s_pan{font-family:'宋体'; font-size:12px;}
 
 
.btn-primary,.btn-default{ font-family:'宋体'; font-size:12px;}
.nav-tabs > li{ margin-right:-1px;}
.nav-tabs > li > a{ border-radius:0; border:1px solid #ddd; margin-right:0; color:#525252; font-family:'宋体'; font-size:14px;}
.borderBt1{ min-width:630px; margin:0 30px; zoom:1; border-bottom:1px solid #dbdbdb; height:2px; overflow:hidden;}


/* 排名图 详情表 */
.tjfxTabTp{ border-collapse:collapse;}
.cm_tjfxBd{ margin-right:30px;}
.cm_xqbCon{ width:1000px; height:300px; overflow:scroll;}
.tableXqb{}
.tableXqb thead td{ background:#e0f1fe;}
.tableXqb td{ border:1px solid #d1e2f0; text-align:center; height:34px; line-height:34px;}

/* 排名图 */
.cm_userHd{ margin:0 auto; font-size:14px; font-family:'宋体';}
.cm_userHd td{ line-height:25px; vertical-align:middle;}
.farmsNum{ color:#2867cf; font-size:20px; padding:0 50px 0 10px; font-weight:bold;}
.facNum{ color:#ca1717; font-size:20px; padding:0 0 0 10px; font-weight:bold;}

.fxy_ul{margin:0 0}

