h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p,input {
    border: medium none;
    list-style-type: none;
    list-style:none;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
.maphide{
	display:none;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 12px;
    color: #000;
    font-family: "微软雅黑";
    height: 100%;
    line-height: 150%;
    margin: 0;
    padding: 0;
}
html, body, #map-canvas  {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

div.fill {
	width: 100%;
	height: 100%;
}
button {
	outline:none;
}
/*去除选择框的outline*/
.bootstrap-select .dropdown-toggle:focus{
	outline:none !important;
	}
a:focus {
	outline: none !important;
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}
input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus {
	outline: none !important;
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}
.form-control:focus,input:focus {
	border-color: #ccc;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0 #fff,0 0 0 #fff;
	box-shadow: inset 0 0 0 #fff,0 0 0 #fff;
}
.btn:focus,.btn:active:focus,.btn.active:focus {
	outline: none !important;
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}
.btn:active,.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0 #fff;
	box-shadow: inset 0 0 0 #fff;
}
.splitbuttonV{
margin-top:-41px;margin-left:-17px;top:50%;position:relative;
height:108px;width:17px;
background:transparent url(/asset/js/gantt/img/panevc2.gif) 17px 50%;
position: fixed;
cursor: pointer;
}
.splitbuttonV:active,.splitbuttonV:visited{cursor: pointer;}
.splitbuttonV.invert{margin-left:5px;background:transparent url(/asset/js/gantt/img/panevc2.gif) 0px 50%;}
.splitter_panel .vsplitter{width:0;}
.ol-zoom{ top:inherit; left:inherit; bottom: 65px; right:20px;	 font-size:1.5em;}

/*地图contrl*/
.map_bg{ width:100%; height:100%; z-index:1; position:relative;}
.map_ico{ min-width:100px; float:left; position:absolute; z-index:2; width:840px;}
.map_ico li{ width:38px; height:37px; float:left; margin-right:2px;}
.map_search{ position:relative; z-index:2; float:right;}
.map_s_bg{ width:68px; height:36px;background: url(/asset/images/tbs_06.png) left no-repeat; padding-left:5px; float:left; line-height:36px; text-align:center; color:#808080;}
.map_s_bg strong{ width:68px; height:36px;background: url(/asset/images/tbs_06.png) right no-repeat; font-weight:normal; float:left; color:#808080;}
.map_s_bg.this{ width:68px; height:36px;background: url(/asset/images/tbs_071.png) left no-repeat; padding-left:5px; float:left; line-height:36px; text-align:center;color:#676767;}
.map_s_bg.this strong{ width:68px; height:36px;background: url(/asset/images/tbs_071.png) right no-repeat; font-weight:normal; float:left;color:#676767;}
.map_s_bg1{ width:68px; height:36px;background: url(/asset/images/tbs_061.png) left no-repeat; float:left; line-height:36px; text-align:center; color:#808080;}
.map_s_bg1 strong{ width:68px; height:36px;background: url(/asset/images/tbs_061.png) right no-repeat; padding-right:5px; font-weight:normal; float:left; color:#808080;}
.map_s_bg1.this{ width:68px; height:36px;background: url(/asset/images/tbs_07.png) left no-repeat; float:left; line-height:36px; text-align:center; padding-left:1px; color:#676767;}
.map_s_bg1.this strong{ width:68px; height:36px;background: url(/asset/images/tbs_07.png) right no-repeat; padding-right:5px; font-weight:normal; float:left; padding-left:1px; color:#676767;}
.search02 {background: url(/asset/images/search.png) no-repeat; position: relative; width:39px; height:37px;}
.ser_input{background: url(/asset/images/input_03.png) left no-repeat; width:130px; height:34px; line-height:34px; padding-left:5px;  font-size:14px;}
.ser_input2{background: url(/asset/images/input_04.png) left no-repeat; width:130px; height:36px; line-height:36px; padding-left:3px;  font-size:14px; float:left; display:none;}
.mapstrong{ height:36px; background:url(/asset/images/map_icobg.png) left no-repeat; float:left; display:block; padding-left:5px; margin-right:5px;}
.map_font{ height:36px; background:url(/asset/images/map_icobg.png) right no-repeat; float:left; padding-right:5px; margin-right:-5px;}
.mapiconul{ height:36px; }
.mapicoli{ width:41px; text-align:center; height:36px; vertical-align:middle; background:url(/asset/images/mapicoline.jpg) center right no-repeat;}
.model3{ padding:3px 0; background:none; display:block;cursor: pointer;}
.model3.on{ width:41px; padding:3px 0; background:url(/asset/images/mapon_03.jpg) center no-repeat;}
.model4{ padding:3px 0; background:none; display:block;}
.model4.on{ width:41px; padding:3px 0; background:url(/asset/images/mapon_03.jpg) center no-repeat;}
.mapone{ width:34px-; height:28px-; padding:4px 2px-; background:url(/asset/images/map_icon.png) no-repeat-; text-align:center; float:left;}
.maptwo{ width:34px-; height:28px-; padding:4px 2px-; background:url(/asset/images/map_icon1.png) no-repeat-; text-align:center; float:left;}
/*地图contrl 结束*/

/*右侧弹出框*/
.baseWidth148 .bootstrap-select.btn-group .dropdown-menu {
    min-width: 146px;
}
.plant_hide .baseWidth148 .bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
    max-width: 170px;
    overflow: auto;
}
.form-control {
    display: block; width: 100%; height: 30px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555;
    background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.tc_bottom { width: 97%; height: 36px; background: url(/asset/images/line_39.jpg) top center repeat-x; padding: 15px 0;
    text-align: center; float: right; margin-right: 2px;
}
/*右侧弹出框结束*/
/*画地图提示*/
.drawtooltip { position: relative; background: rgba(0, 0, 0, 0.5); border-radius: 4px; color: white; padding: 4px 8px; opacity: 0.7; white-space: nowrap; }
.tooltip-measure { opacity: 1; font-weight: bold; }
.tooltip-static { background-color: #ffcc33; color: black; border: 1px solid white; }
.tooltip-measure:before,
.tooltip-static:before { border-top: 6px solid rgba(0, 0, 0, 0.5); border-right: 6px solid transparent; border-left: 6px solid transparent; content: "";
        position: absolute; bottom: -6px; margin-left: -7px; left: 50%;}
.tooltip-static:before { border-top-color: #ffcc33; }
/*画地图提示结束*/
      
/*基地信息弹出框*/
.tc_li{ height:30px;*height:23px;}
.tc_li,.tc_li01{ min-width:320px; padding:8px 0;}

/*颜色选择器*/
.formColorPicker { position: relative; width: 36px; height: 36px; background: url(/asset/images/webgis/color/select.png); }
.formColorPicker div { position: absolute; top: 3px; left: 3px; width: 30px; height: 30px; background: url(/asset/images/webgis/color/select.png) center;
background-color: #EFEFEF;}

/*地块弹出框 */
.mapRtArea{ width:350px; background:#fff; color:#3e3e3e; font-family:'微软雅黑'; font-size:11px;}
.mapRtArea_tt{ height:35px; line-height:35px; font-size:14px; background:#e7e6ea; text-indent:15px;}
.jScrollbar_mask.group-area{ width:100%; padding-left:15px;padding-right:15px;box-sizing:border-box;}
.mapRtArea_ct{ width:330px; margin:0 auto;}
.baseMap_con{ padding-top:5px;}
.baseWidth100{ display:block; width:90px; padding-right:14px; text-align:right; line-height:22px; font-size:11px;}
.baseWidth101{ display:block; width:90px; padding-right:14px; text-align:right; line-height:50px; font-size:11px;}
.baseWidth148{ width:148px; display:block; float:left;}
.baseWidth148 .form-control{ width:146px; height:22px; padding:0 5px; font-size:11px;}
.baseWidth148 .bootstrap-select > .btn{ width:145px; height:22px; line-height:20px; padding:0 5px; font-size:11px;}
.plantEnvir{ width:144px; height:56px; border:1px solid #d8d6d6; border-radius:4px; background:url(/asset/images/zzzlxBg2.jpg) repeat;}
.plantEnvir >div{ float:left; width:36px; height:22px; padding:3px 0; cursor:pointer; text-align:center; background:url(/asset/images/zzzlxBg3.jpg) no-repeat right center;}
.plantEnvir >div > i{ display:inline-block;width:24px; height:22px; vertical-align: top; background-position: center center; background-repeat: no-repeat;}
.plantEnvir >div.line-no{ background:none;}
.plantEnvir >div.active{ background:url(/asset/images/zzzlxBg4.jpg) no-repeat;}
.plantEnvir .icon_jiarws{ background-image: url(/asset/images/webgis/webgis_icon_jiarws.png);}
.plantEnvir .icon_rigws{ background-image: url(/asset/images/webgis/webgis_icon_rigws.png);}
.plantEnvir .icon_liandws{ background-image: url(/asset/images/webgis/webgis_icon_liandws.png);}
.plantEnvir .icon_chunqp{ background-image: url(/asset/images/webgis/webgis_icon_chunqp.png);}
.plantEnvir .icon_dat{ background-image: url(/asset/images/webgis/webgis_icon_dat.png);}
.plantEnvir .icon_guos{ background-image: url(/asset/images/webgis/webgis_icon_guos.png);}
.plantEnvir .icon_shuim{ background-image: url(/asset/images/webgis/webgis_icon_shuim.png);}
.plantEnvir .icon_yangz{ background-image: url(/asset/images/webgis/webgis_icon_yangz.png);}
.mapColor_btn{ display:block; width:18px; height:18px; padding-top:3px;}
.add-farmer{ width:22px; height:22px; margin-left:5px; cursor:pointer; background: url(/asset/images/baseIcoadd3.png) no-repeat center center;}
.mapPlant_crop{ width:210px;}
.mapPlant{ width:56px; height:78px; position:relative; top:-5px; cursor:pointer; float:left; margin-right:14px;}
.mapPlant_img45{ display:block; width:45px; height:45px; position:absolute; top:7px; left:6px; z-index:2;}
.mapPlant_del{ display:none; position:absolute; z-index:3; top:2px; right:2px; width:18px; height:18px;}
.mapPlant_name{ position:absolute; top:58px; left:0; width:100%; height:20px; text-align:center; overflow:hidden; font-size:11px;}
.mapPlant_bghover{ background:url(/asset/images/hover.png) no-repeat;}
.mapPlant_addBtn{ float:left; width:50px; height:50px;}

.mapRtArea_btns02{}
.mapRtArea_btns02 .button_{ float:left; border:1px solid #ddd; padding:2px 8px; background:none;margin-left:-1px;}
.mapRtArea_btns02 .button_:nth-of-type(1){ border-radius:4px 0 0 4px;}
.mapRtArea_btns02 .button_1_{ border-radius:4px 0 0 4px;}
.mapRtArea_btns02 .button_:nth-last-of-type(1){ border-radius:0 4px 4px 0;}
.mapRtArea_btns02 .button_:visited, .mapRtArea_btns02 .button_:hover, .mapRtArea_btns02 .button_:active, .mapRtArea_btns02 .button_.active{ background:#e6e6e6;}
.mapRtArea_btns{ height:36px; padding:15px; text-align:center;}

.tc_font {width: 75px;}
.tc_font, .tc_font01, .tc_font2 {font-size: 14px; color: #211f1f; height: 30px; vertical-align: middle; padding-right: 5px; }
.tc_strong, .tc_strong74, .tc_strong115, .tc_strong150 {  padding-left: 5px; }
.icon-th {background-position: -240px 0;}
.form_datetime input{border:1px solid #CCC; height:30px; line-height:30px;width:170px}
.icon-arrow-left { background-position: -240px -96px; } .icon-arrow-right { background-position: -264px -96px; } .dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0; margin: 2px 0 0; font-size: 14px; text-align: left; list-style: none; background-color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, .15); border-radius: 4px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); box-shadow: 0 6px 12px rgba(0, 0, 0, .175); } .form_datetime input { border: 1px solid #ccc; height: 30px; line-height: 30px; }
.input-append.date .add-on i, .input-prepend.date .add-on i {cursor: pointer;height: 14px;width: 14px;}
@media all and (-webkit-min-device-pixel-ratio:0){
.add-on {height:14px;
position: relative;
z-index:10;
display: block;
}
 .input-append.date .add-on i, .input-prepend.date .add-on i {
  cursor: pointer;
    height: 14px;
    width: 14px;
 }
}

.baseWidth148 .input-append{ width:146px;}
.baseWidth148 .form_datetime input{ float:left; width:146px; height:22px; border:1px solid #ddd; line-height:22px; text-indent:5px; font-size:11px;}
.input-append.date .add-on i, .input-prepend.date .add-on i {
    cursor: pointer;  height: 14px; margin-left: -23px; width: 14px;
}
[class^="icon-"], [class*=" icon-"]{  display:inline-block; width:14px; height:14px; margin-top:4px; vertical-align: text-top;}
[class^="icon-"], [class*=" icon-"] {  background-image: url("/asset/images/glyphicons-halflings.png"); background-position: 14px 14px;
    background-repeat: no-repeat; display: inline-block; height: 14px; line-height: 14px;
    margin-top: 1px; vertical-align: text-top; width: 14px;
}
[class*=" datetimepicker-dropdown"]:before{ top:-7px; right:7px;}
[class*=" datetimepicker-dropdown"]:after{ top:-6px; right:8px;}
.icon-arrow-left { background-position: -240px -96px; }
.icon-arrow-right { background-position: -264px -96px; float:right;}
.icon-th { background-position: -240px 0; }
div.form_datetime input { text-indent: 10px; float:left; }
.baseMap_con .ttl-h3{ position:relative;height:20px; margin-bottom:10px; color:#418bca; font-size:12px;}
.baseMap_con .ttl-h3 span{  position:absolute; left:0; top:0; z-index:1; height:20px; line-height:20px; padding:0 10px 0 42px; background:#fff;}
.baseMap_con .ttl-h3 i{ position:absolute; left:0; top:9px; z-index:0; width:100%; height:10px; border-top:1px solid #ddd;}
.xx-table-t .baseWidth148 input{ display:block; height:22px; line-height:22px; background:#FFF;font-family: '微软雅黑';font-size: 12px;}
.box_back{background:url(/asset/images/bg_png3.png) repeat; position:absolute; z-index:900; display:none;}
ul.inline,
ol.inline { margin-left: 0; padding-left: 0; list-style: none; }
ul.inline>li,
ol.inline>li { display: inline-block; padding-left: 5px;  padding-right: 5px; }
.ol-attribution.ol-logo-only,
.ol-attribution.ol-uncollapsible { max-width: calc(100% - 3em); height: 1.5em; }
.ol-attribution ul { font-size: 1rem; }
.ol-control button, .ol-attribution, .ol-scale-line-inner { font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif; }
.iframe-info iframe { width: 100%;}
pre[class*="language-"] { margin-top: 20px; background: #FFFFFF; }
#source-controls { position: absolute; margin-top: 20px; right: 40px; }
#source-controls a { margin-left: 15px; }
#copy-button { text-decoration: none; cursor: pointer; }
.farmlog{ bottom:1.4em !important; background:none !important; }
.ol-control { background-color: rgba(255,255,255,1);  border-radius: 4px; }
.ol-control button{ background-color:#fff; color:#666; width:1.2em; }
.ol-control button:focus, .ol-control button:hover { text-decoration: none; background-color: #fff; }
.ol-touch .ol-control button { font-size: 1.2em; }
.ol-control:hover { background-color: rgba(255,255,255,1); }

/*地图切换 */
.aqu2 { width: 98%; height: 35px; line-height: 35px; background: #eff4fa; font-size: 14px; color: #383838; margin-left: 2%; }
.quyu { width: 300px; float: left; padding-left: 8px; text-align: left;height:28px;overflow:hidden; }
.aqu_ul, .aqu_ul2 { margin-left: 9px; min-width: 320px; }
.aqu_li { width: 98%; min-width: 320px; background: url(/asset/images/line_39.jpg) repeat-x center bottom; padding-top: 3px; padding-bottom: 3px; }
.aqu_bg { background: url(/asset/images/tree_24.jpg) left no-repeat; line-height: 30px; }
.aqu_bg, .aqu_bg2 { font-size: 14px; color: #383838; text-indent: 20px; }
.tc_str_hjtj { height: 30px; line-height: 30px; color: #8c8c8c; font-size: 14px; padding: 5px; }
.mus { color: #a3a3a3; padding-left: 20px; min-width: 120px; }
.layer{position: absolute; width: 50px; height: 50px; background: #fff; border-radius: 15px; text-align: center; line-height: 50px; cursor: pointer; bottom: 20px; left: 0px;z-index:2;margin:0 0 15px 15px;}
.layerDetail{display: none; position: absolute; width: 190px; min-height: 145px; bottom: 20px; left: 0px; background: #fff; border-radius: 15px; padding: 0 15px; font-size: 12px; color: #78839d;z-index:2;margin:0 0 15px 15px;}
.layerDetail h4{height: 42px; line-height: 42px; font-size: 14px; color: #4a5980; border-bottom: 1px solid #efefef; cursor: pointer;}
.layerDetail .firstList{border-top: 1px solid #f7f7f7; padding-top: 10px;}
.layerDetail .firstList li{padding-left: 20px; position: relative;  min-height: 18px; margin-bottom: 10px;}
.layerDetail .firstList li img{vertical-align: -3px; margin-right: 10px;}
.layerDetail .firstList li dl{display: none;}
.layerDetail .firstList li dd{padding-left: 20px; margin-top: 10px; position: relative;}
.layerDetail .firstList li dd img{vertical-align: -6px;}
.layerDetail .firstList li dt{display: none;}
.layerDetail .firstList li dt span{display: block; margin-top: 10px; font-weight: normal; padding-left: 30px;}
/*.iCheckbox{float: right; margin-top: 2px!important;}*/
.controller{float:left;}
.input{float: right;}
.piaochecked { width: 12px; height: 12px; float: right; cursor: pointer; text-align: center; background-image: url(/asset/images/map/layer/checkBox.png); background-repeat: no-repeat;
	background-position: 0 0; margin: 0!important; padding: 0!important;
}

.on_check {background-position: 0 -18px;}
span.icon{position: absolute; background: url(/asset/images/map/layer/up.png) no-repeat; width: 10px; height: 10px; left: 0; top: 5px;}
.iCheckbox { opacity: 0; cursor: pointer; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); }
.controller{ cursor: pointer;}
.basepopup.justify { text-align: justify;  width:200px;  font-size:12px;  height:18px; }
.basepopup.justify > span { display: inline-block ;  padding-left: 100%;  }
.videoViewShow{ position:relative;width:680px;height:550px;}
.videoViewShow.big_iframe{ position:fixed;left:0px; right:0; top:0;bottom:0;z-index:999999;width:100%-;height:100%;}
.monitor_suspend { background-color: #000; height: 550px; left: 50%; margin-left: -342px; margin-top: -305px; position: fixed; top: 50%; width: 684px; z-index: 1002; display:none;}

.shujutd{ color:#fff; background:url(/asset/images/shuline.png) right repeat-y;}
.tdimg{padding-top:10px; padding-bottom:10px;}
.qingt{ color:#fff; font-size:14px;}
.gm-style-iw{ position:relative; z-index:100;margin-left:10px; }
.div_012{width:240px; padding: 15px; padding-bottom: 0px;}

.zw_bgt2{ width:88px;   position: absolute; z-index:3;}
.zw_libg_img2{ width:88px;  z-index:2; position:absolute;  margin-left:auto; margin-right:auto;display:block; cursor:pointer; }
.ret_pic2{width:92px; height:52px; float:left; position:relative; top:-33px; top:-23px\9;}
.div_width{ width:225px; padding:0px; background:#efefef; margin:0px auto;}
.div_dl2{position:relative; width:140px; *width:130px;  top:-8px; top:-6px\9; [;top:0px;]; margin-left:8px;}
.div_dt2{ font-size:16px; color:#171717; line-height:16px; font-family:"微软雅黑"; font-weight: normal;}
.div_dt3{   display: inline; font-size:13px; color:#e75467; line-height:20px;   background-color: #9bc66d;border-radius: 4px; color: #ffffff; padding: 3px;}
.div_dt4{ width:91px; *width:130px; height:20px; overflow:hidden; font-family:"黑体"; font-size:14px; color:#666666; line-height:22px;}
.gooleedit2{ width:100%; text-align:right;  position:relative;  bottom:30px; right:0; display: none; }

.ol-popup {/* position: absolute; */background-color: white;-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
/* padding: 15px; */ border-radius: 10px;border: 1px solid #cccccc; bottom: 12px;left: -50px; min-width: 240px;}
.ol-popup:after, .ol-popup:before {top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.ol-popup:after { border-top-color: white; border-width: 10px; left: 50%; margin-left: -10px; }
.ol-popup:before { border-top-color: #cccccc; border-width: 11px; left: 50%;  margin-left: -11px; }
.ol-popup-closer { text-decoration: none; position: absolute; top: 7px; right: 9px; z-index:1000; }
.ol-popup-closer:after { content: "✖"; }
      
.fl{ float:left;}
.fr{ float:right;}
.clear{ clear:both;}
.clear:after{ clear:both; content:""; display:block; visibility:hidden; height:0;}

/* 无作物弹框  */
#map-noplant-modal{width:448px;z-index:100;}
#map-noplant-modal .introPop-header-lt{position:relative;width:100px;height:100px;}
#map-noplant-modal .introPop-header-lt:before{position:absolute; width:100px; height:100px; background:url(/asset/images/map_zhezhao2.png) no-repeat;}
#map-noplant-modal .introPop-header-lt img{width:98px;height:98px;margin:1px;}
#map-noplant-modal .tudi-jcjl{width:220px;}
#map-noplant-modal .baseMap_ttl{background:none; text-indent:0;}
#map-noplant-modal .landHistory_jl{margin-top:0;}
#map-noplant-modal .organ-date{width:154px; margin:0 auto;}
.map-IntroPop{ width:396px; min-height:50px; background:#fff; border-radius:5px;}
.map-introPop-pot{ position:relative;}
.map-introPop-pot .close-btn{ position:absolute; right:10px; top:10px;cursor: pointer;}
.map-introPop-pot .supIco{ position:absolute; content:""; left:50%; margin-left:-8px; top:100%; border-width:18px 8px 18px 8px; border-style:solid solid solid solid; border-color:#fff transparent transparent transparent;}
.map-introPop-header{ padding:15px 20px; border-bottom:1px dashed #e6e6e6;}
.map-introPop-body{ min-height:15px;padding-bottom: 10px}
.introPop-header-lt{ position:relative; z-index:200; float:left; margin:-45px 15px 0 0;}
.introPop-header-lt img{ width:98px; height:98px; margin:1px;}
.introPop-header-rt{ float:left;}
.introPop-header-rt h3{ float:left; margin:0 10px 0 0; line-height:32px; font-family:'宋体'; font-size:18px; font-weight:bold; color:#303030;}
.introPop-header-rt strong{ float:left; margin:0 10px 0 0; line-height:32px; font-family:'宋体'; font-size:16px; font-weight:bold; color:#303030;}
.introPop-header-rt em{ float:left; margin:0 10px 0 0; line-height:32px; font-style:normal; font-family:'宋体'; font-size:12px; color:#b0b0b0;}
.bootSelt130{ display:inline-block; }
.bootSelt130 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:130px;}
.bootSelt130 .bootstrap-select{ width:130px;}
.bootSelt130 .btn-group .btn{ padding:6px 25px 6px 12px; font-size:12px;}
.bootstrap-select.btn-group .dropdown-menu{ max-width:170px; overflow:auto;}
.farmer_mess{ clear:both; overflow:hidden; height:16px; line-height:16px; margin-top:10px; padding-left:20px; background:url(/asset/images/map_ico100.png) no-repeat left center; color:#9d9d9d;}
.farmer_mess .farmer{ padding-left:5px;font-weight:normal;color:#9d9d9d;}
.farmer_mess .farmland{ padding-left:15px; font-family:'Arial'; color:#b0b0b0;}
.introPop-introTime{ padding:5px 0; border-bottom:1px dashed #e6e6e6; background:#fafafa;}
.introPop-introTime li{ float:left; margin:10px 0; line-height:16px; font-size:12px; font-family:'宋体'; color:#535353;}
.introPop-introTime li img{ float:left; margin:0 8px 0 25px;}
.introPop-introTime li p{ float:left; width:60px;}
.intro-chart-trend{ padding:10px;}
/* 有作物弹框 */
#map-plant-modal{top:200px;left:400px;}
#map-plant-modal .introPop-header-lt{position:relative;width:100px;height:100px;}
#map-plant-modal .introPop-header-lt:before{position: absolute; width: 100px; height: 100px;background: url(/asset/images/map_zhezhao2.png) no-repeat;}
#map-plant-modal .introPop-header-lt img{width:98px;height:98px;margin:1px;}
#map-plant-modal .introPop-introTime{display:none;}
#map-plant-modal .introPop-introTime .first-li{width:50%;padding-left:20px;}
#container-oneChart{min-width:360px;height:100px;}
.dis-none{display:none;}

/* 土地检测记录  */
.tudi-jcjl{margin-left:25px;}
.tudi-jcjl .baseMap_ttl{background:none; text-indent:0;}
.tudi-jcjl .landRecord_wp{width:150px; margin-left:0;}
.tudi-jcjl .landRecord_wp li{float:left;width:33.33%;}
.tudi-jcjl .landRecord_wp .ph-th{ height:28px;line-height:28px;}
.tudi-jcjl .landRecord_wp .ph-td{ height:22px;line-height:22px;}
.detailedInfo{ position:absolute; right:0; top:-32px; height:20px; line-height:20px; padding:0 19px; border:1px solid #ddd; border-radius:4px; color:#323232;cursor:pointer; font-size:11px; }
.detailedInfo:hover{ background:#e6e6e6; border-color:#adadad; text-decoration:none; color:#323232;}
.jiance_mechanism, .jiance_date{ height:16px; line-height:16px; background:url(/asset/images/bg_jiance.png) no-repeat; font-family:'微软雅黑'; text-indent:25px; margin-bottom:10px;}
.jiance_mechanism{ height:auto; max-height:32px; overflow:hidden; padding-left:25px; background:url(/asset/images/bg_jiance2.png) no-repeat; text-indent:0;}
.jiance_date{ background-position: 0 -25px;}
.detection-txtcon{width:268px; margin:5px auto 0;}
.detection-table{ width:210px; margin:0 auto 15px 32px; border-top:1px solid #ddd; border-bottom:1px solid #ddd;overflow:hidden;}
.detection-table .tr-td{float:left;width:68px; height:32px;line-height:32px; text-align:center; font-size:16px; color:#428bca; font-family:'Arial';}
.detection-table .tr-th{float:left;width:68px; height:32px;line-height:32px; text-align:center; vertical-align:middle; padding-bottom:0; font-size:11px; font-family:'Arial';}

/* 土地历史记录 */
.colorGrn02{ color:#428bca;}
.landHistory_jl{ position:relative; width:268px; margin:5px auto 0;}
.landHistory_list{overflow:hidden; margin-bottom:0;}
.landHistory_list{ background:url(/asset/images/bg_landhistory02.png) repeat-y 5px 0;}
.block_landhis-pos9{ position:absolute; left:0; top:0; width:7px; height:9px; background:#fff;}
.block_landhis-pos22{ position:absolute; left:0; bottom:0; width:7px; height:22px; background:#fff;}
.landHistory_list li{ padding-left:20px; height:28px; line-height:28px; padding-bottom:15px; background:url(/asset/images/bg_landhistory.png) no-repeat 0 9px;}
.landHistory_list li.histroyJl_date02{ background-position:0 -36px;}
.landHistory_list li.histroyJl_date03{ background-position:1px -83px;}
.landHistory_list span{ float:left; width:70px; font-family:'Arial';}
.landHistory_list div{ float:left; padding-left:14px; width:115px; }
.landHistory_list div em{ font-style:normal; font-family:'微软雅黑'; float:left; padding-right:7px;}
.landHistory_list div{ float:left; padding-left:14px; min-width:115px; background:url(/asset/images/bg_landhistory03.png) no-repeat;border-right: 1px solid #e7e7e7; border-radius: 5px;}
.landHistory_list div em{ float:left; padding-right:7px;}
.noPlant .introPop-header-title h3{background:#FFFFFF}
.plotsYield_table td input{line-height: 25px;}
.introPop-header-rt{ float:none; padding-left:115px;}
.farmer_mess{ clear:none;}
.introPop-header-rt h3{ float:none; display:inline-block;}
.introPop-header-rt em{ float:none;}

/* 养殖品种 */
.breedList{ clear:both; width:212px; margin:0 auto;}
.breedList_link, .breedList_add{width:56px; float:left; display:inline-block; margin:20px 25px 0;}
.breedList_link .breedText{ margin-bottom:0; width:100%; height:20px; line-height:20px; overflow:hidden; text-align:center;}
.breedPic{ position:relative; width:56px; height:58px; cursor:pointer;}
.breedPic .closeBtn{ position:absolute; z-index:11; right:0; display:none;}
.breedPic .zhezhao{ position:absolute; z-index:10; display:inline-block; width:56px; height:58px; overflow:hidden; background:url(/asset/images/`) no-repeat 3px 4px;}
.breedPic .zhezhaoHv{ width:56px; height:58px; background:url(/asset/images/hover.png) no-repeat;}
.breedPic .zhezhaoImg{ position:absolute; z-index:9; left:3px; top:4px; width:50px; height:50px; overflow:hidden;}
.breedPic .zhezhaoImg img{ width:50px; height:50px; border-radius:25px;}
.breekAddBtn{ display:block; width:56px; height:58px; background:url(/asset/images/plus.png) no-repeat 3px 4px; cursor:pointer;}

/*弹出框样式 */
.rteic{width:56px; display:inline-block; *display:inherit; height:80px; padding-bottom:8px; float:left; position:relative; z-index:1; margin-top:0px; margin-right:12px;}
.rtpic{ width:53px; height:53px; position: absolute; z-index:3;}
.rtimg{ width:53px; height:53px;  z-index:2; position:absolute;  margin-left:auto; margin-right:auto;display:block; cursor:pointer;}
.ritex{ width:53px; height:40px; overflow:hidden; line-height:18px; text-align:center; font-size:12px; position:relative; top:53px; }
.mapRtArea_btns02 .button_{ float:left; border:1px solid #ddd; padding:2px 8px; background:none;}
.mapRtArea_btns02 .button_:nth-of-type(1){ border-radius:4px 0 0 4px;}
.mapRtArea_btns02 .button_1_{ border-radius:4px 0 0 4px;}
.mapRtArea_btns02 .button_:nth-last-of-type(1){ border-radius:0 4px 4px 0;}
.mapRtArea_btns02 .button_:visited, .mapRtArea_btns02 .button_:hover, .mapRtArea_btns02 .button_:active, .mapRtArea_btns02 .button_.active{ background:#e6e6e6;}
.mapRtArea_btns{ height:36px; padding:15px; text-align:center;}
.nav-tabs {  border-bottom: none; }
.nav-tabs > li > a { border: 1px solid #ddd; color: #555; height: 22px; line-height: 22px; margin-left: -1px; margin-right: 0; padding: 0 8px;}
.plotsYield_table { border-collapse: collapse; width: 244px; margin: 0 auto; }
.plotsYield_table td { border: 1px solid #ddd; text-align: center; vertical-align: middle; padding-bottom: 0; }
.plotsYield_table td input { width: 100%; height: 32px; line-height: 32px; }
.baseZongji {  margin-bottom: 0;  padding: 18px 10px; text-align: right; width: 288px; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid #ddd;
    background: #e6e6e6;
}

/*2017-03-14页面样式搬出来*/
.ml3{margin-left:3px;}
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}
.pr2{padding-right:2px;}
.c_pointer{cursor:pointer;}
.font14{font-size:14px;}
.map_ico .map_li,
.map_ico .mapicoli{float:left;cursor:pointer;}
.mapiconul .mapicoli{ width: 40px;text-align:center;float:left;cursor:pointer;}
.mapiconul .mapicoli .model3,
.mapiconul .mapicoli .model4{ padding:4px 0;}
.mapiconul .mapicoli .model3 img,
.mapiconul .mapicoli .model4 img{ width: 34px; height: 28px;}
.mapiconul .mapicoli.bgnone{ background: none;}
.map_ico .map_li img{width: 38px; height: 37px;}
.map_ico > li.w_auto .mapicoli{text-align: center;}
.map_ico > li.w_auto .mapicoli img{width: 34px; height: 28px;}
.map_ico > li.w_auto{width:auto;}
.map_ico > li.w161{width:161px;}

.search_box .serinput{width:120px; height:33px;line-height:31px;margin-top:1px;padding:0 5px;box-sizing:border-box;border-radius: 5px 0 0 5px; font-family: "微软雅黑";}
.search_btn .search02{ display:block;width:40px;height:35px;cursor: pointer;background: url(/asset/images/serbut.png) no-repeat;}
.help_btn > .btn-default{color:#3F75D1; padding: 6.5px 10px; font-size:14px; cursor:pointer}

.map_canvas_main{width:100%;height:100%;background: url(/asset/images/webgis/map-background.jpg) repeat;}
div._scroll{display:block;height: 460px;}
.jScrollbar_mask{top: 0px; padding-left: 0;}
.jScrollbar_mask .tc_li .nw170{width:170px;}
.jScrollbar_mask .tc_li .font_txt{line-height:32px;}
.jScrollbar_mask .tc_li .base_name_a{background: #FFF;font-family:'微软雅黑';font-size: 14px;}
.jScrollbar_mask .panel-table{ width: 100%;}
.jScrollbar_mask .panel-table .tc_font{float:left;font-size: 12px;color: #211f1f; vertical-align: middle;padding: 8px 10px 8px 0; width: 75px; box-sizing: content-box; 
text-align: right; height:30px; line-height:30px;}
.jScrollbar_mask .panel-table .tc_strong{ float:left; padding: 8px 0;}
.jScrollbar_mask .panel-table .nw170{width:170px; box-sizing: border-box;}
.jScrollbar_mask .panel-table .nw200{width:200px; box-sizing: border-box;}
.jScrollbar_mask .panel-table .font_txt{line-height:32px;}
.jScrollbar_mask .panel-table .base_name_a,.jScrollbar_mask .base_name_a{height:30px;line-height:30px;background: #FFF;font-family:'微软雅黑';font-size: 14px;}
.use-field{margin-top: 24px;font-size:11px;}
.land-test{font-size:14px;}
.add-usefield,.add-landtest{ display: inline-block; margin-left: 30px; color:#428bca;}
.field-land-box{ display: none;}
.yz-species-title{width: 100px; padding-bottom: 10px; vertical-align: top; padding-right: 10px; box-sizing: border-box; text-align: right; line-height: 22px; font-size: 11px; display: none;}
.yz-species-body{ display: none;}
.baseMap_ttl{ position:relative; height:42px; line-height:42px; background:url(/asset/images/baseIcojian1.png) no-repeat 10px center; font-size:12px; font-weight:bold; text-indent:28px; cursor:pointer; }
.baseMap_ttl:before{position:absolute;top:0;left:0;width:100%; overflow:hidden;content:"";}
.baseMap_ttl.noline:before{border:0;}
.baseMap_con .nw85{width:85px;}
.baseMap_con .tunnel_info_mu{line-height:23px; font-size:11px;}
.baseMap_con .td_lt{ float:left; width: 100px; padding: 0 10px 10px 0; vertical-align: top; box-sizing: content-box; text-align: right; height:22px; line-height: 22px; font-size: 11px;}
.baseMap_con .td_ct{ float:left; min-height:22px; padding-bottom: 10px; vertical-align: top;box-sizing: content-box;}
.baseMap_con .td_ct.w148{ width:148px;}
.baseMap_con .td_rt{ float:left; min-height:22px; padding-bottom: 10px; vertical-align: top;box-sizing: content-box;}
.baseMap_con .base_name_a{ display:block; width:148px;height:22px;line-height:22px;font-family:'微软雅黑';font-size: 11px;}
.baseWidth148{ width: 148px;}
.baseWidth148 .dropdown-menu .form-control{ width: 100%; box-sizing: border-box;}
.baseWidth148 .bootstrap-select.btn-group .dropdown-menu{ min-width: 100%; width: 100%;}
.baseWidth148 .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; min-width: 100%; max-width: 200px;}
.se_selt170{width: 170px;}
.se_selt170 .dropdown-menu .form-control{ width: 100%; box-sizing: border-box;}
.se_selt170 .bootstrap-select.btn-group .dropdown-menu{ min-width: 100%; width: 100%;}
.se_selt170 .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; min-width: 100%; max-width: 200px;}
.mb10{ margin-bottom: 10px;}
.pl5{ padding-left: 5px;}
.plantEnvir a > img{width:30px;height:24px;}
.noBreed_records{width:190px; margin-left:30px; padding:30px; line-height:18px; border:1px dashed #ddd; text-align:center;}
.factoryTime{position:relative;width:170px;}
.factoryTime .add-on{position:absolute;right:5px;width:14px;height:14px; top:7px;}
.factoryTime.date .add-on i{margin:0;}
.jScrollbar_mask .tc_li_beizhu{height: 45px}
.rightNo_iframe{padding-left:10px;width:100%;height:100%;display:block;box-sizing:border-box;border:0;}
.krpanoForm_firame{min-width:320px;height:130px; border:0;}
#krpano_iframe{display:none;width:600px;height:600px;border:0;}
#previewDiv{display:none;cursor: pointer;}
#previewDiv .big_images{width:1024px;height:768px;}
#previewDiv .img_box{position: absolute;right: -10px;top: -10px; z-index:99999999; width:30px; height:31px;cursor: pointer;
background: url(/asset/images/cose.png) no-repeat 0 0;}
.box_back{display:none;}
.box_back .tip_box{width:250px; height:60px; margin:220px auto 0 auto;text-align:center;}
.box_back .tip_txt{display:none;height:20px;line-height:20px; text-align:center;color: white;width: 250px;font-size: 16px;}

/*提示六步骤开始*/
.new-guidance-model{ display: none;}
.ts6bdiv{ width:300px; position:fixed; z-index:1003; bottom:60px; margin-left:85px;}
.tstitle{width:300px; height:32px; line-height:32px; background: url(/asset/images/tstop.png) no-repeat;}
.tstfont{ width:210px; height:32px; padding-left:21px; font-family:'微软雅黑'; font-size:16px; color:#fff;  float:left; }
.tscolse{ width:15px; height:14px; float:right; margin-right:12px; margin-top:9px;cursor: pointer; background: url(/asset/images/tscolse.png) no-repeat;}
.suofang{ width:18px; height:16px; float:right; margin-right:8px; margin-top:8px;}
.suofang .sf_btn{width: 18px; height: 16px; display: block; background: url(/asset/images/zuid.png) no-repeat;cursor: pointer;}
.tsbgco{ width:300px; background:#f9fafb; padding-bottom:10px;}
.tsbzd{width: 114px; height:16px; text-align:center; padding-top:15px;  margin-left: auto;margin-right: auto;}
.tsbzdm{ margin:0 2px;}
.tsbzdTarget{ width: 300px;}
.tsbzdTarget > div{ display: none;}
.tsbzdTarget .ts_1{ width: 300px; height: 180px; background: url(/asset/images/ts_1.jpg) no-repeat 0 0;}
.tsbzdTarget .ts_2{ width: 300px; height: 180px; background: url(/asset/images/ts_2.jpg) no-repeat 0 0;}
.tsbzdTarget .ts_3{ width: 300px; height: 185px; background: url(/asset/images/ts_3.jpg) no-repeat 0 0;}
.tsbzdTarget .ts_4{ width: 300px; height: 207px; background: url(/asset/images/ts_4.jpg) no-repeat 0 0;}
.tsbzdTarget .ts_5{ width: 300px; height: 185px; background: url(/asset/images/ts_5.jpg) no-repeat 0 0;}
.ts_step1,.ts_step2{width:11px;height:16px;display:block;float:left; margin-right:8px; cursor:pointer;}
.ts_step1{background: url(/asset/images/but03.jpg) no-repeat;}
.ts_step2{background: url(/asset/images/but02.jpg) no-repeat;}

.mapHelpTips .help_box{width:330px;height:200px;margin-left:auto;margin-right:auto;background: #fff;}
.mapHelpTips .help_head{height:120px;line-height:120px;text-align:center;font-size:16px;}
.mapHelpTips .help_body{height:40px;font-size:14px;margin-left:20px;}
.mapHelpTips .help_body .checkbox-xs{ float: left; margin: 2px 10px 0 0;}
.mapHelpTips .help_foot{height:40px;text-align: center;}
/*提示六步骤结束*/

.mapHelpTips{border-radius: 5px;}

/* 环境指标弹窗样式*/
.envir-pointer-pop{ position:absolute; top:0px;  z-index:3; margin:15px 0 0 15px; display:none;font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;}
.envir-pointer-wap{ height:178px; width:466px; border:1px solid #ccc; border-radius:10px; background:url(/asset/images/weather/resource/qx2.png) no-repeat; color:#fff;}
.envir-pointer-wap .wap-close-btn{ position:absolute; right:10px; top:5px; width:20px; height:20px; background:url(/asset/images/weather/resource/weatherStion_bg05.png) no-repeat; cursor:pointer;}
.envir-pointer-wap .check{position: absolute; right: 40px; top: 10px; font-size: 12px; color: #fff;}
.envir-pointer-wap .left{float: left; width: 230px; height: 176px; padding: 2px 0px 0 2px; position: relative;}
.envir-pointer-wap .left .rainDrop{position: absolute; font-size: 12px; color: #fff;width: 12px; height: 40px; top: 86px; left:8px; line-height: 14px;}
.envir-pointer-wap .left .topBox{height: 62px; padding-left: 15px; width: 275px;}
.envir-pointer-wap .left .weather{width: 60px; height: 60px; margin-right: 5px;}
.envir-pointer-wap .left .weather img{width: 100%; height: 100%;}
.envir-pointer-wap .left .forecast{/*width: 200px;*/}
.envir-pointer-wap .forecast .case,.envir-pointer-wap .forecast .case_y{ height: 20px; line-height: 20px; color: #fff; font-size: 12px; border-radius: 10px; margin-top: 8px;}
.envir-pointer-wap .forecast .case{ background: #85b42e; width:80px;}
.envir-pointer-wap .forecast .case_y{ r:#b86663; display:none; min-width:116px;}
.envir-pointer-wap .forecast .case img{ width:19px; height:19px; margin:0 6px; vertical-align:middle;}
.envir-pointer-wap .forecast .case_y img{ width:19px; height:19px; margin:0 6px; vertical-align:middle;}
.envir-pointer-wap .forecast .case_y span{ display:inline-block;}
.envir-pointer-wap .forecast .city{font-size: 22px; color: #fff; height: 35px; line-height: 35px;}
.envir-pointer-wap .forecast .city .county{font-size: 14px;}
.envir-pointer-wap .forecast .city img{margin-right: 5px;}
.envir-pointer-wap .right{float:left; width: 232px; height: 178px; font-size:12px;}
.envir-pointer-wap .right ul{height: auto; padding-top: 30px;}
.envir-pointer-wap .right ul li{height: 29px;}
.envir-pointer-wap .right ul li .name{float: left; width: 80px; color: #fff; line-height: 21px; }
.envir-pointer-wap .right ul li .name img{margin-right: 5px; vertical-align: middle;}
.envir-pointer-wap .right ul li .strip{float: left; width: 85px; height: 6px; background: url(/asset/images/weather/resource/strip.png) repeat;  border-radius: 5px; margin-top: 7px; }
.envir-pointer-wap .right ul li .strip .init1{width: 0%; height: 6px; border-radius: 5px; background: #c4abdf;}
.init2{width: 0%; height: 6px; border-radius: 5px; background: #71c6e6;}
.init3{width: 0%; height: 6px; border-radius: 5px; background: #71e6a0;}
.init4{width: 0%; height: 6px; border-radius: 5px; background: #dfe671;}
.init5{width: 0%; height: 6px; border-radius: 5px; background: #e6ab71;}
.envir-pointer-wap .right ul li .unit{float: left; margin-left: 10px; line-height: 21px;}

/*360 浏览器  右侧中间的按钮,无法显示 */
.splitter_panel .vsplitter, .splitter_panel .left_panel, .splitter_panel .right_panel, .splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
    position: absolute;
    overflow: visible;
}

html, body, #map-canvas {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
div.fill {
     width: 100%;
     height: 100%;
   }

/*左上方nav导航条*/
.draw-control{
	display: none;
}
.btn:focus,
input:focus {
    outline: inherit !important;
    outline-offset: 0;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
}
.drawControl{
	position: absolute;
    left: 31px;
    top: 15px;
}
.webgis-navbar{
	height: 37px;
}
.webgis-navbar .nitem{
	float: left;
	margin-right: 5px;
    background: url(/asset/images/map_icobg.png) left center repeat-x;
    border-radius: 5px;
}
.webgis-navbar .add-marker{
	width: 38px;
	height: 37px;
	background: url(/asset/images/map_icon_03.png) center center no-repeat;
	cursor: pointer;
}
.webgis-navbar .add-base{
	width: 38px;
	height: 37px;
	background: url(/asset/images/map_icon0_05.png) center center no-repeat;
	cursor: pointer;
}
.webgis-navbar .add-partitions{
	width: 38px;
	height: 37px;
	background: url(/asset/images/map_icon0_07.png) center center no-repeat;
	cursor: pointer;
}
.webgis-navbar .ntiem-group,
.webgis-navbar .ntiem-device{
	padding: 0 3px;
	overflow: hidden;
}
.webgis-navbar .ntiem-group .group-icon,
.webgis-navbar .ntiem-device .device-icon{
	position: relative;
	float: left;
	width: 42px;
	height: 36px;
	padding: 0;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.webgis-navbar .ntiem-group .group-icon:after,
.webgis-navbar .ntiem-device .device-icon:after{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 2px;
	background: url(/asset/images/mapicoline.jpg) center right no-repeat;
	content: '';
}
.webgis-navbar .ntiem-group .add-yangz:after{
	background: none;
}
.webgis-navbar .ntiem-device .add-panorama:after{
	background: none;
}
.webgis-navbar .ntiem-group .add-jiarws{
	background-image: url(/asset/images/map_icon0_9.png);
}
.webgis-navbar .ntiem-group .add-rigws{
	background-image: url(/asset/images/map_icon0_11.png);
}
.webgis-navbar .ntiem-group .add-liandws{
	background-image: url(/asset/images/map_icon0_13.png);
}
.webgis-navbar .ntiem-group .add-chunqp{
	background-image: url(/asset/images/map_icon0_15.png);
}
.webgis-navbar .ntiem-group .add-dat{
	background-image: url(/asset/images/map_icon0_17.png);
}
.webgis-navbar .ntiem-group .add-guos{
	background-image: url(/asset/images/map_icon0_19.png);
}
.webgis-navbar .ntiem-group .add-shuim{
	background-image: url(/asset/images/map_icon0_21.png);
}
.webgis-navbar .ntiem-group .add-yangz{
	background-image: url(/asset/images/map_icon0_23.png);
}
.webgis-navbar .ntiem-device .add-device{
	background-image: url(/asset/images/vidicon2.png);
}
.webgis-navbar .ntiem-device .add-weather{
	background-image: url(/asset/images/vidicon_qixz.png);
}
.webgis-navbar .ntiem-device .add-video{
	background-image: url(/asset/images/vidicon3.png);
}
.webgis-navbar .ntiem-device .add-panorama{
	background-image: url(/asset/images/krpanoimg.png);
}
.webgis-navbar .map-help{
	float: left;
	height: 36px;
	line-height: 34px;
	padding: 0 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
    font-family: "微软雅黑";
    cursor: pointer;
    color: #3F75D1;
    background-color: #fff;
    margin-right:25px;
}
.search-controller{
	float: left;
	margin: 1px 5px 0 0;
	overflow: hidden;
}
.search-controller .ser-input{
	float: left;
	width: 120px;
    height: 34px;
    line-height: 34px;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    font-family: "微软雅黑";
    font-size: 12px;
    background-color: #fff;
}
.search-controller .ser-btn{
	float: left;
	display: block;
	width: 40px;
    height: 36px;
    line-height: 34px;
    margin-top: -1px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    font-family: "微软雅黑";
    color: #7d7d7d;
    background: url(/asset/images/map_icobg.png) center center repeat-x;
}

/*leftpane、rightpane*/
img{
	border: 0;
}
.splitter_panel{
	width:100%;
	height:100%;
	min-height:100%;
}
#leftPane{
	position: relative;
}
#rightPane{
	top: 0;
	width:0px;
	overflow-y:hidden;
}
#olmap{
	width: 100%;
}
/*leftpane*/
.left_panel{
	width:100%;
}
.left_panel .map-btns {
    position: absolute;
    right: 30px;
    top: 16px;
    z-index: 2;
}
.map-btns .item-div{
	width: 49px;
	height: 51px;
	margin-bottom: 10px;
	cursor:pointer;
}
.map-btns .satellite-btn{
	display: block;
	width: 100%;
	height: 100%;
	background: url(/asset/images/mapwd3.jpg) no-repeat center center;
}
.map-btns .streets-btn{
	display: none;
	width: 100%;
	height: 100%;
	background: url(/asset/images/mapwd2.jpg) no-repeat center center;
}
.map-btns .goAPS-btn{
	display: block;
	background: url(/asset/images/zy_02_02.jpg) no-repeat center center;
}
.map-btns .goGismap-btn{
	display: block;
	background: url(/asset/images/cq_03_02.jpg) no-repeat center center;
}
.map-btns .aerial-btn{
	display: block;
	background: url(/asset/images/aerialphoto/map_fly.png) no-repeat center center;
}
.map-btns .satellite-btn:hover{
	background: url(/asset/images/mapwd4.jpg) no-repeat center center;
}
.map-btns .streets-btn:hover{
	background: url(/asset/images/mapwd1.jpg) no-repeat center center;
}
.map-btns .goAPS-btn:hover{
	background: url(/asset/images/zy_02_03.jpg) no-repeat center center;
}
.map-btns .goGismap-btn:hover{
	display: block;
	background: url(/asset/images/cq_03_03.jpg) no-repeat center center;
}
/*rightpane*/
.rightpane-title {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: left;
    font-size: 14px;
    color: #3e3e3e;
    text-indent: 15px;
    background: url(/asset/images/tc_top_03.jpg) repeat-x;
}
.rightpane-title .txt-title{
	width:130px;
}
.rightPane .rightNo{
	display: none;
}
.area-name{
	display: none;
}
.partition-select{
	display:none;
}
.plantarea-select{
	display:none;
}
.resource-search{
	width: 300px;
    height: 32px;
    margin: 10px auto;
    background: none;
}
.resource-search .re-icon{
	float: left;
	width: 34px;
	height: 32px;
	background: url(/asset/images/sous_04.jpg) no-repeat;
}
.resource-search .re-input{
	float: left;
	width: 266px;
	height: 32px;
    line-height: 32px;
    padding: 0 5px;
    background: url(/asset/images/sous_03.jpg) right no-repeat;
}
.jScrollbar_mask { 
	position: relative; 
	width: 100%; 
	height: 448px; 
	padding-top: 8px;
	box-sizing: border-box;
	overflow-x: hidden; 
	overflow-y: auto; 
}
.group-farmer-box{
	display: none;
}
/* APS页面新增样式 */
.dis-none{
	display: none;
}
.overflow-hide{
	overflow: hidden;
}
.pn-name{
	float:left;
	height:22px;
	line-height:22px;
	background: #FFF;
	font-family:'微软雅黑';
	font-size: 11px;
}
.plant_hide,.animal_hide,.historyrecord_hide,.detectionrecord_hide{
	position:relative;
}
.pos-relative{
	position:relative;
}
.plantcrop-content{
	padding-top:5px;
}
.plantcrop-content .td-lt {
    float: left;
    width: 100px;
    padding: 0 10px 10px 0;
    vertical-align: top;
    box-sizing: content-box;
    text-align: right;
    height: 50px;
    line-height: 50px;
    font-size: 11px;
}
.plantcrop-content .td-ct {
    float: left;
    min-height: 80px;
    padding-bottom: 10px;
    vertical-align: top;
    box-sizing: content-box;
}
#breed_new{
	display: none;
	width: 145px;
}
.baseMap_con .mu_font{
	float:left;
	height:22px;
	line-height: 22px;
	font-size:11px;
}
.form_datetime{
	position: relative;
}
.form_datetime.date .add-on{
	position: absolute !important;
	right:6px;
	top:3px;
	width:14px;
	height:14px;
}
.form_datetime.date .add-on .icon-th{
	margin:0;
	cursor: pointer;
    height: 14px;
    width: 14px;
}
.yield-highchart{
	width:288px; 
	height:140px; 
	overflow:hidden;
	margin-left:15px;
}
#perMuYield{
	min-width:288px; 
	height:140px;
}
.plotsYield_table{
	width: 244px;
	margin: 0 auto;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.plotsYield_table .td-name{
	float: left;
	width: 34px;
	height:31px;
	line-height: 30px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-sizing: content-box;
	text-align: center;
}
.plotsYield_table .td-input{
	float: left;
	width: 45px;
	height:31px;
	line-height: 30px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-sizing: content-box;
	text-align: center;
}
.plotsYield_table .td-input input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 0;
    padding:0;
    text-align: center;
}
.baseZongji{
	margin: 0 auto;
    padding: 18px 0;
    text-align: right;
    width: 244px;
}
.nav-tabs .lt-radius a{
	border-radius:4px 0 0 4px;
}
.nav-tabs .rt-radius a{
	border-radius:0 4px 4px 0;
}
#krpano_iframe{
	display:none;
	width:600px;
	height:600px;
	border: 0;
}
.basePoint{
	width: 340px;
    background: #fff;
    border-radius: 5px;
}
/* 基地信息弹出框 */
.farmIntro_header {
    background: #f8f9fc;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ececec;
    padding: 9px;
    overflow:hidden;
}
.farmIntro_header h2 {
    float: left;
    max-width:80%;
    font-size: 16px;
    font-family: '微软雅黑';
    font-weight: normal;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.farmIntro_header .close {
    float: right;
    margin-top: 2px;
    width: 11px;
    height: 11px;
    overflow: hidden;
    zoom: 1;
    background: url(/asset/images/ico_close100.png) no-repeat;
}
.farmIntro_header .close:hover, .farmIntro_header .close:focus{ 
	background:url(/asset/images/ico_close101.png) no-repeat;
}
.farmIntro_body {
    position: relative;
    padding: 8px;
}
.farmIntro_body .companyPic{ 
	float:left;
	width:115px; 
	height:90px; 
	border-radius:4px; 
	margin:0 10px 0 5px;
}
.farmIntro_body .companyPic img{ 
	width:115px; 
	height:90px; 
	border-radius:4px;
}
.farmIntro_body .text-name{
	float:left;
	width:164px;
	line-height:20px;
	margin:5px 0;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.farmIntro_footer {
    position: relative;
    padding: 3px 10px;
    border-top: 1px solid #ececec;
}
.farmIntro_footer .briefing{ 
	padding:0 5px; 
	height:60px;
	line-height:20px; 
	font-size:12px; 
	font-family:'宋体'; 
	word-break:break-all;
	overflow:hidden;
	}
.farmIntro_footer .supIco{ 
	position:absolute; 
	content:""; 
	left:50%; 
	margin-left:-9px; 
	bottom:-31px;
	border-width:18px 8px 18px 8px; 
	border-style:solid solid solid solid; 
	border-color:#fff transparent transparent transparent;
}

/* 视频弹出框 */
#login3{
	display:none;
	*position:*absolute;
	*top:64px;
	*left:77px;
}
#video_iframe .i-close{
	z-index: 99999; 
	position: relative; 
	margin-top: -550px; 
	left: 654px; 
	width: 31px;
}
#video_iframe .i-close span{
	display:inline-block;
	width:30px;
	height:31px;
	background:url(/asset/images/cose.png);
	color:#3badfd; 
	cursor: pointer;
}
#videoViewShow{
	border: 0;
	overflow:hidden;
}
/* 传感器弹出框  */
.sensor-modal{
	display:none;
}
.sensor-block{
	width:400px;
	height:226px;
}
.sensor-block .sensor-body{
	width:400px;
	height:203px;
	padding: 7px;
	box-sizing:border-box;
	background:url(/asset/images/tckkbg3.png) repeat;
	border-radius:5px;
}
.sensor-block .sensor-title{
	height:38px;
	background: url(/asset/images/linerepe.png) bottom repeat-x;
	overflow:hidden;
}
.sensor-block .titlefont {
	float:left;
	width:154px;
	margin-right:10px;
	height:36px;
	line-height:36px;
    font-size: 16px;
    color: #e8e8e8;
    font-weight: bold;
}
.sensor-block .numfont {
	float:left;
	width:180px;
	height:36px;
	line-height:36px;
    font-size: 12px;
    color: #dadada;
    font-weight: normal;
    padding-left: 20px;
}
.sensor-block .closed{
	float:right;
	width:12px;
	height:13px;
	background:url(/asset/images/closed.png) no-repeat 0 0;
	cursor:pointer;
}
.sensor-block .tdimg{
	float:left;
	width:113px;
	height:113px;
	padding:10px 0;
	box-sizing:content-box;
}
.sensor-block .tdimg img{
	width:113px;
	height:113px;
}
.sensor-block .td-content{
	float:left;
	width:258px;
	height:113px;
	padding:10px 0;
	box-sizing:content-box;
}
.sensor-block .se-block1{
	overflow:hidden;
	margin-bottom:10px;
}
.sensor-block .txt-temper{
	float:left;
	width:156px;
	height:38px;
	line-height:38px;
}
.sensor-block .txt-temper img{
	float:left;
	width:43px;
	height:29px;
	margin:4px 5px 0 0;
}
.sensor-block .txt-temper font{
	line-height:38px; 
	font-size:28px;
	color:#fff;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.sensor-block .ludian {
	float:left;
	width:94px;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    background: #85a85f;
    display: inline-block;
    box-sizing:border-box;
    border-radius:10px;
    font-size: 12px;
    color: #fff;
}
.sensor-block .shidu {
	float:left;
	width:94px;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing:border-box;
}
.sensor-block .se-block2{
	overflow:hidden;
}
.sensor-block .dd-soil,.sensor-block .dd-illumination,.sensor-block .dd-co2{
	float:left;
	width:86px;
	height:42px;
}
.sensor-block .dd-soil p,.sensor-block .dd-illumination p,.sensor-block .dd-co2 p{
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#fff;
}
.sensor-block .shujutd {
    color: #fff;
    background: url(/asset/images/shuline.png) right repeat-y;
}
.sensor-block .soil-pic,.sensor-block .illumination-pic,.sensor-block .co2-pic{
	width:100%;
	height:24px;
}
.sensor-block .soil-pic,.sensor-block .illumination-pic,.sensor-block .co2-pic{
	width:100%;
	height:24px;
}
.sensor-block .soil-pic{
	background: url(/asset/images/tckicon1.png) 0 center no-repeat;
}
.sensor-block .illumination-pic{
	background: url(/asset/images/tckicon2.png) 0 center no-repeat;
}
.sensor-block .co2-pic{
	background: url(/asset/images/tckicon3_.png) 0 center no-repeat;
}
.fottable{ 
	float:left;
	width:100%;
	height:22px; 
	line-height:22px; 
	margin-top:-3px;
	background:url(/asset/images/tckkbg5.png) repeat;
	overflow:hidden;
}
.fottable .ckxx {
	float:left;
    color: #0878bf;
    font-size: 14px;
    text-decoration: underline;
    padding-left: 25px;
    text-align: left;
    font-weight: bold;
}
.fottable .cjtime {
    float: right;
    text-align: right;
    color: #dddddd;
    padding-right: 15px;
}

/* 气象站弹出框  */
/* .shidu{ height:19px; line-height:19px; padding-left:10px; float:left; color:#fff;} */
.qxstations-modal{
	display:none;
}
.qxstations-modal .qixz{
	width:555px;
	height:284px;
	padding: 7px;
	box-sizing:border-box;
	background:url(/asset/images/tckkbg3.png) repeat;
	border-radius:5px;
}
.qxstations-block{
	font-size:12px;
	color:#fff;
}
.qxstations-body{
	width:555px;
	height:284px;
	padding: 7px;
	box-sizing:border-box;
	background:url(/asset/images/tckkbg3.png) repeat;
	border-radius:5px;
}
.qxstations-block .sensor-title{
	height:38px;
	background: url(/asset/images/linerepe.png) bottom repeat-x;
	overflow:hidden;
}
.qxstations-block .titlefont {
	float:left;
	width:154px-;
	margin-right:10px;
	height:36px;
	line-height:36px;
    font-size: 16px;
    color: #e8e8e8;
    font-weight: bold;
}
.qxstations-block .numfont {
	float:left;
	width:180px;
	height:36px;
	line-height:36px;
    font-size: 12px;
    color: #dadada;
    font-weight: normal;
    padding-left: 20px;
}
.qxstations-block .closed{
	float:right;
	width:12px;
	height:13px;
	margin: 9px 4px 0 0;
	background:url(/asset/images/closed.png) no-repeat 0 0;
    cursor:pointer;
}
.qxstations-block .tdimg{
	float:left;
	width:113px;
	height:113px;
	margin-left:14px;
	padding:10px 0;
	box-sizing:content-box;
}
.qxstations-block .tdimg img{
	width:113px;
	height:113px;
}
.qxstations-block .td-content{
	float:left;
	width:390px;
	height:113px;
	padding:10px 0 10px 10px;
	box-sizing:content-box;
}
.qxstations-block .qxz-block1{
	height:86px;
}
.qxstations-block .txt-temper{
	line-height:60px;
	font-size:54px; 
}
.qxstations-block .txt-temper img{
	position: absolute;
	width:43px;
	height:29px;    
	margin-top: 14px;
    margin-left: 15px;
    vertical-align: top;
}
.qxstations-block .shidu{
	height: 20px;
    line-height: 20px;
}
.qxstations-block .tdimg{
	text-align:center;
}
.qxstations-block .qckxx2{ 
	display:inline-block;
	margin:0 auto; 
	padding-top:5px; 
	color:#0878bf; 
	font-size:14px; 
	text-decoration:underline; 
	font-weight:bold; 
	}
.qxz-block2{
	padding:5px 0;
}
.qxz-block2 .icon-img{
	float:left;
	width:32px;
	height:32px;
	text-align:center;
}
.qxz-block2 .icon-img img{
	float:left;
	width:27px;
	height:32px;
	margin-top:-4px;
}
.qxz-block2 .t2_rainfallS,.qxz-block2 .t2_air_humidity,.qxz-block2 .t2_wind_velocity{
	float:left;
	width:33%;
	line-height:32px;
	font-size:14px;
	overflow:hidden;
}
.qxz-block3 .dd-soil,.qxz-block3 .dd-illumination,.qxz-block3 .dd-co2,.qxz-block3 .dd-qiya{
	float:left;
	width:25%;
	height:42px;
}
.qxz-block3 .dd-soil p,.qxz-block3 .dd-illumination p,.qxz-block3 .dd-co2 p,.qxz-block3 .dd-qiya p{
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#fff;
}
.qxz-block3 .shujutd {
    background: url(/asset/images/shuline.png) right repeat-y;
}
.qxz-block3 .soil-pic,.qxz-block3 .illumination-pic,.qxz-block3 .co2-pic,.qxz-block3 .qiya-pic{
	width:100%;
	height:24px;
	margin-bottom:5px;
}
.qxz-block3 .soil-pic{
	background: url(/asset/images/tckicon1.png) 0 center no-repeat;
}
.qxz-block3 .illumination-pic{
	background: url(/asset/images/tckicon2.png) 0 center no-repeat;
}
.qxz-block3 .co2-pic{
	background: url(/asset/images/tckicon4.png) 0 center no-repeat;
}
.qxz-block3 .qiya-pic{
	background: url(/asset/images/2501.png) 0 center no-repeat;
}
/* 图层  */
#layerControl .layer > img{
	width:26px;
	height:26px;
	margin-top:-3px;
}
.layerDetail .layer-title img{
	float:right; 
	margin-top: 14px;
}

.nav-tabs1 li{
    border-radius: 4px 0 0 4px;
    border: 1px solid #ddd;
    color: #555;
    height: 22px;
    line-height: 22px;
    margin-left: -1px;
    margin-right: 0;
    padding: 0 8px;
    position: relative;
    display: block;
    float: left;
    margin-bottom: -1px;
    cursor: pointer;
}

.nav-tabs1 .active{
	border: 1px solid #ddd;
    background: #e6e6e6;
}