@charset "utf-8";
/* CSS Document */
em{ 
	font-style:normal;
	}
.bootSelt80 .bootstrap-select{  width:80px;}
.bootSelt80 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:80px;}
.bootSelt180 .bootstrap-select{  width:180px;}
.bootSelt180 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:180px;}
.inline_block .bootstrap-select.btn-group .dropdown-menu{
	max-width:100%;
	}
.center_btns{
	padding: 50px 0;
	text-align: center;
}

/* 种子投入品信息页样式 */
.lt_c_ul li a img{
	width:12px;
	height:12px;
	margin-top:14px;
	vertical-align:top;
	}
.settings_content .nav li a{
	padding: 8px 15px;
	line-height: 20px;
	font-size: 12px;
	color: #999999;
}
.settings_content .nav-tabs  li.active a, 
.settings_content .nav-tabs  li.active a:hover, 
.settings_content .nav-tabs  li.active a:focus{
	color: #48a3d8;
}
.nav-tabs li .sicon{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background-position: center center;
	background-repeat: no-repeat;
}
.nav-tabs li .icon_jcsz{
	background-image: url(../../images/settings/qysettings_icon1-1.png);
}
.nav-tabs li .icon_sznc{
	background-image: url(../../images/settings/qysettings_icon2-1.png);
}
.nav-tabs li .icon_scgl{
	background-image: url(../../images/settings/qysettings_icon3-1.png);
}
.nav-tabs li .icon_xsgl{
	background-image: url(../../images/settings/qysettings_icon4-1.png);
}
.nav-tabs li .icon_zzfw{
	background-image: url(../../images/settings/qysettings_icon5-1.png);
}
.nav-tabs li.active .icon_jcsz{
	background-image: url(../../images/settings/qysettings_icon1-2.png);
}
.nav-tabs li.active .icon_sznc{
	background-image: url(../../images/settings/qysettings_icon2-2.png);
}
.nav-tabs li.active .icon_scgl{
	background-image: url(../../images/settings/qysettings_icon3-2.png);
}
.nav-tabs li.active .icon_xsgl{
	background-image: url(../../images/settings/qysettings_icon4-2.png);
}
.nav-tabs li.active .icon_zzfw{
	background-image: url(../../images/settings/qysettings_icon5-2.png);
}
/*基础设置*/
.base_main{
	padding: 30px 20px;
}
.base_dl{
	overflow: hidden;
}
.base_dl .dl_dt{
	float: left;
	width: 60px;
	height: 40px;
}
.base_dl .dl_dt img{
	width: 40px;
	height: 40px;
}
.base_dl .dl_dd{
	padding-left: 60px;
	font-size: 12px;
}
.base_dl .text_stress{
	display: block;
	line-height: 16px;
}
.base_dl .text_depict{
	margin-top: 8px;
	line-height: 16px;
}
.fPicture{
	position: relative;
	display: inline-block;
	width: 130px;
	height: 130px;
	border: 1px solid #eaeaea;
	box-sizing: border-box;
	margin: 10px 10px 10px 0;
	vertical-align: top;
}
.fPicture .fimg{
	width: 100%;
	height: 100%;
}
.fPicture .delete{
	position: absolute;
	right: 0;
	top: 0;
	display: none;
	width: 34px;
	height: 34px;
	cursor: pointer;
}
.fPicture:hover .delete{
	display: block;
}
.text_norm{
	line-height: 20px;
	color: #ff0000;
}
.filepic{
	display: inline-block;
	position: relative;
	width: 130px;
	height: 130px;
	margin: 10px 10px 10px 0;
	background: url(../../images/settings/fileImg_btn130.jpg) no-repeat;
	vertical-align: top;
	overflow: hidden;
}
.filepic input{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 100px;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
/*数字农场*/
.farmnum_main{
	padding: 30px 20px;
}
.select_list .sitem{
	padding: 10px 0;
}
.select_list .text_name{
	float: left;
	width: 60px;
	height: 34px;
	line-height: 34px;
	padding-right: 10px;
	box-sizing: border-box; 
	text-align: left;
}
/*生产管理*/
.product_main,
.market_main{
	padding: 30px 0;
	overflow: hidden;
}
.product_main .col-lg-6,
.market_main .col-lg-6{
	position: relative;
	min-height: 84px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 26px;
	padding-bottom: 26px;
	box-sizing:border-box;
}
.product_main .col-lg-6:after,
.market_main .col-lg-6:after{
	position: absolute;
	right: -2px;
	top: 50%;
	width: 2px ;
	height: 90px;
	margin-top: -45px;
	content: "";
	background: url(../../images/settings/qysettings_line1.png) no-repeat left center;
}
.prod_rline0 .col-lg-6:after{
	background: none;
}
.prod_line{
	border-bottom: 1px solid #efefef;
	margin-bottom: -1px;
}
.checkradio1,
.checkradio160{
	float: left;
	width: 90px;
	height: 20px;
	line-height: 20px;
	padding: 5px 0;
	box-sizing: content-box;
}
.checkradio2,
.checkradio160{
	float: left;
	width: 95px;
	height: 20px;
	line-height: 20px;
	padding: 5px 0;
	box-sizing: content-box;
}
.checkradio3,
.checkradio160{
	float: left;
	width: 79px;
	height: 20px;
	line-height: 20px;
	padding: 5px 0;
	box-sizing: content-box;
}
.checkradio160{
	width: 160px;
}
.checkradio1 label,
.checkradio160 label{
	margin-bottom: 0;
	padding-left: 5px;
	font-weight: normal;
}
.checkradio2 label,
.checkradio160 label{
	margin-bottom: 0;
	padding-left: 5px;
	font-weight: normal;
}
.checkradio3 label,
.checkradio160 label{
	margin-bottom: 0;
	padding-left: 5px;
	font-weight: normal;
}
/*销售管理*/


/* 企业设置页样式 */
.settings_content{
	margin: 20px;
}
.inbentory_file_main{
	box-sizing:border-box;
	}
/*企业设置左侧二级*/
.inbentory_level_wap{
	position:relative;
	float:left;
	padding:20px 0-;
	background-color:#fff;
	box-sizing:border-box;
	}
.inbentory_level{
	display:inline-block;
	min-height:865px-;
	padding:20px 5px;
	border-right:1px solid #dfdfdf;
	box-sizing:border-box;
	vertical-align:top;
	}
.inben_first{
	position:relative;
	display:block;
	width:168px;
	height:32px;
	line-height:32px;
	font-size:14px;
	font-weight:normal;
	cursor:pointer;
	color:#333;
	font-weight: bold;
	}
.inben_first1:hover{
	background-color:#f1f1f1;
	}
.inben_first1.in_cur,
.inben_first1.in_cur:hover{
	background-color:#428bca;
	color:#fff;
	}
.inben_first1.in_cur a{
	color:#fff;
	}
.inben_first1.in_cur .icon_kcda{
	background-image:url(../../images/settings/InventoryFile_icon1-2.png);
	}

.inben_first2.in_cur .b_arrow{
	background-image:url(../../images/settings/arrow_t.png);
	}
.inben_first a{
	display:block;
	width:100%;
	height:100%;
	color:#333;
	}
.inben_first .icon_L{
	display:inline-block;
	width:18px;
	height:19px;
	margin:7px 10px 9px 22px; 
	background-position:center center;
	background-repeat:no-repeat;
	vertical-align:top;
	}
.inben_first2 .b_arrow{
	position:absolute;
	left:5px;
	top:14px;
	width:9px;
	height:6px;
	background-position:center center;
	background-repeat:no-repeat;
	}
.inben_first2 .b_arrow{
	background-image:url(../../images/settings/arrow_b.png);
	}
.inben_first .icon_kcda{
	background-image:url(../../images/settings/InventoryFile_icon1-1.png);
	}
.inben_first .icon_rkgl{
	background-image:url(../../images/settings/icon1-1.png);
	}
.inben_first .icon_ckgl{
	background-image:url(../../images/settings/icon2-1.png);
	}
.inben_first .icon_zkgl{
	background-image:url(../../images/settings/icon3-1.png);
	}
.inben_first .icon_pdgl{
	background-image:url(../../images/settings/icon4-1.png);
	}

.inben_second{
	padding:5px 0;
	}	
.inben_second .sed_item{
	width:168px;
	height:32px;
	line-height:32px;
	font-size:12px;
	cursor:pointer;
	}
.inben_second .sed_item.sed_cur,
.inben_second .sed_item.sed_cur:hover{
	background-color:#428bca;
	color:#fff;
	}
	
.inben_second .sed_item.sed_cur a,
.inben_second .sed_item.sed_cur a:hover{
	color:#fff;
	}
.inben_second .sed_item.sed_cur .icon_sed{
	background-image:url(../../images/settings/InventoryFile_line1-2.png);
	}
.inben_second .sed_item:hover{
	background-color:#f1f1f1;
	}
.inben_second .icon_sed{
	display:inline-block;
	width:18px;
	height:32px;
	margin-left:38px;
	margin-right:5px;
	background-position:left top;
	background-repeat:no-repeat;
	vertical-align:top;
	}
.inben_second .icon_sed{
	background-image:url(../../images/settings/InventoryFile_line1-1.png);
	}
/*折叠按钮*/
.collapse_btn{
	position:absolute;
	right:-16px;
	width:16px;
	height:76px;
	margin-top:-98px;
	background-image:url(../../images/settings/InventoryFile_arrowr.png);
	cursor:pointer;
	}
/*右侧内容*/
.inbentory_content{
	min-height:500px;
	padding-left:179px-;
	overflow:hidden;
	}
/*2017-03-14新增*/
.inbentory_content{
	min-height:100%;
}
.bottom_btns{
	padding:35px 0; 
	text-align:center;
}
.mb20{
	margin-bottom:20px;
}
.all_d3{
	max-width:1050px;
}
.all_da.nw560{
	width:560px;
}
.star_red{
	font-family:'宋体';
	color:#f00;
}
.la_aa .b{
	background: url("../../images/bootstrap/blue.png") no-repeat;
	background-position: 2px 0;
}
.la_aa .b:hover{
	background: url("../../images/bootstrap/blue.png") no-repeat;
	background-position: -18px 0;
}
.la_aa .a{
	background: url("../../images/bootstrap/blue.png") no-repeat;
	background-position: -39px 0;
}
input, button, select, textarea,
.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	font-family:"微软雅黑";
}
.goodSelect20 .bootstrap-select{
	width:100px;
	margin-right:0;
}
.material_title{
	position:relative;
	width:84px;
	cursor:pointer;
}
.material_title:after{
	position:absolute;
	right:0;
	top:12px;
	content:"";
	width:18px;
	height:20px;
	background:url("../../../asset/images/product/ma_arrowt.jpg") no-repeat;
}
.material_title.bclose:after{
	background:url("../../../asset/images/product/ma_arrowb.jpg") no-repeat;
}
.material_files_box li{
	float:left;
	height:158px;
	box-sizing:border-box;
	margin:0 5px 5px 0;
}
.material_files_box .mimg,
.material_files_box .file_btn{
	width:158px;
	height:158px;
}
.material_files_box .txt_tip{
	float:left;
	width:370px;
	padding:60px 0 0 10px;
}
.material_files_box .txt_tip p{
	margin:0;
}
.materialgrade_box .ellipsis{
	height:20px;
	line-height:20px;
	margin:0;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.materialgrade_box .tableModel{
	table-layout:fixed;
}
.materialgrade_box .tableModel td{
	padding:5px;
	border-right:1px solid #e1e1e1;
}
.materialgrade_box .tableModel .txt_input{
	text-align:center;
}
.materialgrade_box .txt_selectpicker{
	width:100%;
}
.bootstrap-select{
	margin-right:0;
}
.txt_selectpicker .bootstrap-select,
.materialgrade_box .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width:100%;
	margin-right:0;
}
.materialgrade_box .tableModel .noborder{
	border-right:0;
}
.materialgrade_box .btn_add{
	background: url("../../../asset/images/product/btn_add_spxx.png") no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 16px;
    }
.materialgrade_box .btn_delete{
	background: url("../../../asset/images/product/btn_delete_spxx.png") no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 16px;
    }