@charset "utf-8";
/* CSS Document */

body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
fieldset,img{border:0;}
ul,li,ol{list-style:none outside none;}
a{text-decoration:none;}
a:hover{ text-decoration:none;}
a:focus,input,button,select,textarea{outline:none;}

h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
input[type="text"],input[type="password"],input[type="submit"],input[type="reset"],input[type="button"],textarea{-webkit-appearance: none;}

.clear{ clear:both; height:0px; overflow:hidden;}
.clearfix{zoom:1;}
.clearfix:after{clear:both; content:"."; display:block ;height:0; line-height:0; visibility:hidden; overflow:hidden;}
.fl{ float:left;}
.fr{ float:right;}
img{ max-width:100%;}
p{margin: 0;}


input::input-placeholder {
　　color: #d0cfcf !important;
}
input::-webkit-input-placeholder {
　　color: #d0cfcf !important;
}
input:-moz-placeholder {
　　color: #d0cfcf !important; 
}
input::-moz-placeholder {
　　color: #d0cfcf !important; 
}
input:-ms-input-placeholder {
　　color: #d0cfcf !important; 
}
body{ font-family: "微软雅黑","microsoft yahei";}
