@charset "utf-8";
/* CSS Document */
body{font-size: 14px;color: #555;font-family: "微软雅黑","microsoft yahei"; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;user-select:none;}
*{box-sizing: content-box;-webkit-box-sizing: content-box;}

/*表头选项*/
.table-title{padding:20px;position:relative}
.table-titletxt{margin-right: 20px;width: 60px;position:absolute;left:20px;top:25px;}
.table-titlelist{margin-left:75px;}
.table-titlelist li{width: 110px;height: 30px;text-align: center;border: 1px dashed #98d3ff;line-height: 30px;color: #57b6f8;background: #fbfdff;float: left;border-radius: 5px;-webkit-border-radius: 5px; margin-right: 20px; margin-bottom: 20px;cursor:move;}
.table-titlelist li a{color: #57b6f8;}
/*表格*/
.operation{width: 95%;margin: auto;}
.table-move{border-left:1px solid #cadbeb;}
.table-move ul{background: #e3f1fc;border-bottom:1px solid #cadbeb;border-top:1px solid #cadbeb;padding:5px 0;height: 31px;overflow: hidden;border-right:1px solid #cadbeb;}
.table-move li{float: left;cursor:pointer;width:140px;text-align: center;line-height: 32px;margin-bottom: 10px;}
.table-move li a{border: 1px solid #a4d7fb;background: #fff;padding:5px 20px;border-radius: 5px;-webkit-border-radius: 5px;position: relative;color: #4c4c4c;}
/**/
.table-sql table{width: 100%;border:1px solid #cadbeb;border-top:none;border-bottom:none;}
.table-sql table td{border-bottom:1px solid #cadbeb;padding: 10px 0; text-align: center;width: 10%;}
.close-img{position: absolute;right:-5px;width: 12px;height: 12px;top:-5px;display: none;}
/**/
.c2{float: left;cursor:pointer;width:140px;text-align: center;line-height: 32px;}
.c2 a{border: 1px solid #a4d7fb;background: #fff;padding:5px 20px;border-radius: 5px;-webkit-border-radius: 5px;position: relative;}
/**/
.table-sql{display: inline-block;border-right:1px solid #cadbeb;border-left:1px solid #cadbeb;}
.table-sql ul{width: 140px;float: left;}
.table-sql ul li{border-bottom:1px solid #cadbeb;padding: 10px 0; text-align: center;width: 100%;}

.table-sql .td1,.table-sql .td2,.table-sql .td3,.table-sql .td4,.table-sql .td5,.table-sql .td6,.table-sql .td7,.table-sql .td8,.table-sql .td9,.table-sql .td10{display: none;}

/**/
.set-title{font-size: 16px;color: #525252;font-weight: normal; border-bottom:1px solid #f0f0f0;padding: 10px 0 10px 20px;}
.set-title span{font-size: 18px;}
.btn-set{width: 220px; margin: auto; margin-top: 20px;}
.btn{padding: 6px 15px;margin: 0 5px;}
#container{position: relative;}
.set-msg{position: absolute;font-size: 12px;color:#999;right: 20px;bottom: 30px;}
.wrap-set{width: 95%; border: 1px solid #f0f0f0;margin-top: 20px;margin-left: 20px;position: relative;}
#iframe{height:630px}










