ul,ol,li{ list-style:none;}
em{ font-style:normal;}
.foldBtn{ position:absolute; width:14px; border-left:1px solid #e4e4e4; left:294px; top:60px; z-index:10;}
.foldBtn img{ position:absolute; left:-1px; top:50%; margin-top:-38px; width:14px; height:76px; cursor:pointer;}

/*环境监控(大棚)*/
.mainRtWapDiv{padding:0 30px; background:url(../../../asset/images/bg_jiankong.jpg) no-repeat left top fixed;}
.r_title{ border-bottom:none; border-bottom:1px solid #d0d0d0;}
.r_titleLt h2{ color:#fff; font-size:16px; font-family:'黑体'; line-height:45px;}
.jk_select{ float:left; padding:10px 0 0 27px;}
.jk_select  .bootstrap-select{ width:150px;}
.jk_select .bootstrap-select > .btn{ background:transparent; overflow:hidden; color:#fff; border-radius:8px; padding-top:0; padding-bottom:0; padding-right:25px; height:30px; line-height:28px; line-height:28px\9; white-space:normal;}
.jk_select .btn-default:hover, .qxz_select .btn-default:focus, .qxz_select .btn-default:active, .qxz_select .btn-default.active, .qxz_select .open > .dropdown-toggle.btn-default{ border-color:#ccc;}
.jk_select .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:150px;}
.jk_select .bootstrap-select.btn-group .btn .filter-option{ float:left-; width:110px-; margin:0 25px 0 10px-; text-align:left-; font-size:16px;}

/* 环境监控 */
.cropGrowthWap{ height:186px; margin:10px 0;}
.cropGrowthImg{ position:relative; width:186px; height:186px;}
.cropGrowthImg .mask{ position:absolute; left:0; z-index:3; width:186px; height:186px;}
.cropGrowthImg .pic{ position:absolute; left:0; z-index:2; width:168px; height:168px; margin:9px;}
.cropGrowtIntro h2{ float:left; margin:0 10px 10px 0; line-height:30px; font-size:25px; color:#87e5fd;}
.cropGrowtIntro .btn{ float:left; display:inline; height:28px; line-height:27px; padding:0 12px; font-size:16px;}
.growthPeriod{ margin:25px 0 0; clear:both; font-size:14px; color:#fff;}

.growthCycle{ position:relative; margin-top:60px;height:36px;}
.curGrowthValue{ position:absolute; top:-35px; z-index:2; width:12px; height:50px; background:url(../../../asset/images/bg_monitor02.png) no-repeat center bottom;}
.curGrowthValue .tip{ display:block; width:60px; height:24px; line-height:24px; margin-left:-24px; border-radius:5px; font-size:12px; font-family:'宋体'; text-align:center; color:#fff;}
.growthCycleJdt{ height:7px; zoom:1;}
.growthCycleJdt .bgColor0, .growthCycleJdt 
				.bgColor1, .growthCycleJdt 
				.bgColor2, .growthCycleJdt 
				.bgColor3, .growthCycleJdt 
				.bgColor4, .growthCycleJdt 
				.bgColor5, .growthCycleJdt
				.bgColor6, .growthCycleJdt 
				.bgColor8, .growthCycleJdt 
				.bgColor9, .growthCycleJdt 
				.bgColor10, .growthCycleJdt 
				.bgColor11, .growthCycleJdt 
				.bgColor12, .growthCycleJdt 
				.bgColor13, .growthCycleJdt 
				.bgColor14, .growthCycleJdt 
				.bgColor15, .growthCycleJdt 
				.bgColor16, .growthCycleJdt
				.bgColor17, .growthCycleJdt
				.bgColor18, .growthCycleJdt
				.bgColor19, .growthCycleJdt
				.bgColor20, .growthCycleJdt
				.bgColor15, .growthCycleJdt
				.bgColor7, .growthCycleJdt { position:relative;}
				
.growthCycleJdt .bgColor1{ background:#adec67;}
.growthCycleJdt .bgColor2{ background:#7dcf23;}
.growthCycleJdt .bgColor3{ background:#67ed02;}
.growthCycleJdt .bgColor4{ background:#2dd402;}
.growthCycleJdt .bgColor5{ background:#039621;}
.growthCycleJdt .bgColor6{ background:#f3ff37;}
.growthCycleJdt .bgColor7{ background:#d6e031;}
.growthCycleJdt .bgColor8{ background:#d8d00d;}
.growthCycleJdt .bgColor9{ background:#ffe401;}
.growthCycleJdt .bgColor10{ background:#d9c200;}
.growthCycleJdt .bgColor11{ background:#ff9934;}
.growthCycleJdt .bgColor12{ background:#ff7f00;}
.growthCycleJdt .bgColor13{ background:#ff6600;}
.growthCycleJdt .bgColor14{ background:#ff5001;}
.growthCycleJdt .bgColor15{ background:#d34200;}
.growthCycleJdt .bgColor16{ background:#fe0000;}
.growthCycleJdt .bgColor17{ background:#e20001;}
.growthCycleJdt .bgColor18{ background:#ce0000;}
.growthCycleJdt .bgColor19{ background:#ac0000;}
.growthCycleJdt .bgColor20{ background:#910000;}
.growthCycleJdt .text{ position:absolute; top:-50px; width:100%; height:20px; line-height:20px; font-family:'宋体'; text-align:center; color:#87e5fd;}
.growthCycleJdt .growthDay{ position:absolute; top:20px; width:100%; font-size:12px; font-family:'宋体'; text-align:center; color:#fff;}

.zuowuIntro{ margin-top:24px;}
.videoTd{ width:412px;}
.videoimg{ position:relative; z-index:2; left:0; padding:5px; border:1px solid #f1f1f1;}
.videoimg img{ width:400px; height:300px;}
.videoimg .Download{ position:absolute; right:8px; bottom:12px; color:#9fa5ad;}

/* 生长环境 */
.growthEnvirWap{ margin-top:24px;}
.growthEnvirWap table{ border-left:1px solid #96a1b4; border-top:1px solid #96a1b4;}
.growthEnvirWap table td{ border-right:1px solid #96a1b4; border-bottom:1px solid #96a1b4; color:#fff;}
.envirDepression{ display:block; height:60px; line-height:60px; text-align:center; font-size:16px; font-family:'宋体';}
.warning{ margin-right:10px;}
.envirPic{ display:block; height:50px; line-height:50px; text-align:center; font-family:'微软雅黑'; font-size:26px; }
.envirPic img{ width:42px; height:50px;}
.envirValue{ display:block; margin:20px 0 28px; line-height:25px; text-align:center; font-family:'微软雅黑'; font-size:20px;}
.colorWarn{ color:#fc4c4c;}

/* 环境情况 */
.his_temperatureHd{ width:214px; height:30px; line-height:30px; margin:0 auto; border:1px solid #96a1b4; border-radius:8px; text-align:center; font-size:16px; font-family:"微软雅黑"; color:#fff;}
.ul_tabList{ float:right; overflow:hidden; height:18px; line-height:18px; overflow:hidden; margin:15px 0 0; font-family:"微软雅黑"; font-size:15px; text-align:right;}
.ul_tabList li{ float:left;}
.ul_tabList li a{ padding:0 22px; color:#fff;}
.ul_tabList li span{ color:#fff;}
.ul_tabList li.cur a{ color:#84e1ff;}
.ul_tabDiv{ clear:both;}

.his_moreCon{ float:right; height:40px; line-height:40px; text-align:right;}
.his_moreCon span{ float:left; width:360px; white-space:nowrap; text-overflow: ellipsis; overflow:hidden; font-size:12px; font-family:'宋体'; color:#fff;}
.his_moreCon a{ float:left; font-size:12px; font-family:'宋体'; color:#84e1ff;}
.his_moreCon a:hover{ text-decoration:none;}
.his_moreCon a:focus{outline-offset:0; outline:none;}


.selectpickerList{}
.selectpickerList .selectpickerLi{ float:left; padding-left:10px;}
.selectpickerList .selectpickerLi .bootstrap-select{ width:140px;}
.selectpickerList .selectpickerLi .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:140px;}
.selectpickerList .selectpickerLi .bootstrap-select span{ font-size:12px; font-family:'微软雅黑';}
.selectpickerList .selectpickerLi .bootstrap-select > .btn{ height:32px;}
.bootstrap-select.btn-group .dropdown-menu{ max-width:170px;}/* 下拉框最大宽度控制 */

.icheckList{}
.icheckList li{ float:left;}
.icheckList li .icheckbox_minimal-blue{ float:left; display:inline-block; margin:0 8px 0 14px;}
.icheckList li label{ margin-bottom:0; font-family:'微软雅黑'; font-weight:normal; color:#333;}

.ul_tabList2{ float:right; overflow:hidden; height:18px; line-height:18px; overflow:hidden; margin:15px 0 0; font-family:"微软雅黑"; font-size:13px; text-align:right;}
.ul_tabList2 li{ float:left;}
.ul_tabList2 li a{ padding:0 10px; color:#9d9d9d;}
.ul_tabList2 li span{ color:#9d9d9d;}
.ul_tabList2 li.cur a{ color:#137ed3;}

/*报警设置*/
.r_titleLt .ToAlarmTip{ padding-left:20px; font-size:16px; font-family:'微软雅黑'; font-weight:normal; line-height:45px; color:#86e4fd;}
.jk_select2{ float:left; padding:10px 0 0 27px;}
.jk_select2  .bootstrap-select{ width:150px;}
.jk_select2 .bootstrap-select > .btn{ background:transparent; overflow:hidden; color:#fff; border-radius:0; border-color:#96a1b4; padding-top:0; padding-bottom:0; padding-right:25px; height:30px; line-height:28px; line-height:28px\9; white-space:normal;}
.jk_select2 .btn-default:hover, .qxz_select .btn-default:focus, .qxz_select .btn-default:active, .qxz_select .btn-default.active, .qxz_select .open > .dropdown-toggle.btn-default{ border-color:#ccc;}
.jk_select2 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:150px;}
.jk_select2 .bootstrap-select.btn-group .btn .filter-option{ font-size:14px;}
.jk_select2 .dropdown-menu{ border-radius:0;}
.jk_select2 .bootstrap-select.btn-group div.dropdown-menu{ border:1px solid #96a1b4; max-width:150px; overflow:auto;}
.jk_select2 .bootstrap-select.btn-group ul.dropdown-menu{ max-width:150px; overflow:auto;}

/* 环境告警预设信息 */
.pr10{ padding-right:10px;}
.pb10{ padding-bottom:10px;}
.mainCtBjcon{ padding:0 35px;}
.set_table, 
.set_table2{ margin-top:24px; border-collapse:separate; border-spacing:2px; }
.set_table th{font-size:14px; color:#87e5fd; text-align:center; height:30px; font-weight:normal;background:url(../../../asset/images/bg_baojing01.png);}
.set_table td{font-size:14px; color:#ffffff; text-align:center; height:30px; font-weight:normal;background:url(../../../asset/images/bg_baojing01.png);}
.set_table2 .tdLt { padding-right:10px;font-size:14px; color:#ffffff; font-weight:normal; text-align:right; background:url(../../../asset/images/bg_baojing01.png);}
.set_table2 .tdRt{ padding:0 20px 0 35px; font-size:14px; color:#ffffff; font-weight:normal; text-align:left; background:url(../../../asset/images/bg_baojing01.png);}
.set_copyFor{padding:20px 0; margin-top:24px; background:url(../../../asset/images/bg_baojing01.png);}
.set_tdTxt{ font-size:14px; color:#87e5fd;}
textarea.set_textarea{ width:454px; height:46px; border:1px solid #96a1b4; border-radius:0; background:none; resize:none; color:#fff;}
.TestingTab{ margin-top:30px;}
.TestingTab .nav-tabs{ border-bottom:0;}
.TestingTab .nav-tabs > li{ margin-bottom:0;}
.TestingTab .nav-tabs > li > a{ border-width:0;}
.TestingTab .nav > li > a{ padding:0 20px; height:30px; line-height:30px; border-radius:0; background:url(../../../asset/images/bg_baojing01.png); font-size:14px; color:#fff;}
.TestingTab .nav-tabs > li.active > a, .TestingTab .nav-tabs > li.active > a:hover, .TestingTab .nav-tabs > li.active > a:focus{border-width:0; border-radius:0; background:url(../../../asset/images/bg_baojing02.png); color:#fff;}
.TestingTab .tab-content > .tab-pane{ margin-top:2px; padding:20px 60px; background:url(../../../asset/images/bg_baojing01.png); color:#fff; font-size:14px;}
.tab-paneTable td{ padding-bottom:10px; line-height:30px;}
.tab-paneTable .form-control{ float:left; margin-right:8px; background:none; border:1px solid #96a1b4; border-radius:0; color:#fff;}
.tab-paneTable .tdTxt{ display:inline-block; line-height:30px;}
.usingTip{ padding:20px 60px; margin-top:24px; line-height:22px; background:url(../../../asset/images/bg_baojing01.png); color:#fff; font-size:14px;}
.usingBtns{ padding:20px 60px; margin-top:24px; background:url(../../../asset/images/bg_baojing01.png); text-align:center;}
.usingBtns .btnSucces{ display:inline-block; padding:6px 19px; border:1px solid #4e6491; border-radius:4px; background:#15233b; color:#fff; font-size:14px;}
.usingBtns .btnReturn{ display:inline-block; padding:6px 19px; border:1px solid #4e6491; border-radius:4px; background:#15233b; color:#fff; font-size:14px;}
.usingCheckWp{ height:22px; line-height:22px;}
.usingTxt{ float:left;}
.usingCheck{ display:inline-block; width:22px; height:22px; margin-top:1px;}
/* 生长环境 */

.icheckbox_minimal, .iradio_minimal {
    background: url("minimal.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    display: block;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 18px;
}
.icheckbox_minimal, .icheckbox_minimal.static:hover {
    background-position: 0 0;
}
.icheckbox_minimal.hover, .icheckbox_minimal:hover {
    background-position: -20px 0;
}
.icheckbox_minimal.checked {
    background-position: -40px 0;
}
.icheckbox_minimal.disabled {
    background-position: -60px 0;
    cursor: default;
}
.icheckbox_minimal.checked.disabled {
    background-position: -80px 0;
}
.iradio_minimal, .iradio_minimal.static:hover {
    background-position: -100px 0;
}
.iradio_minimal.hover, .iradio_minimal:hover {
    background-position: -120px 0;
}
.iradio_minimal.checked {
    background-position: -140px 0;
}
.iradio_minimal.disabled {
    background-position: -160px 0;
    cursor: default;
}
.iradio_minimal.checked.disabled {
    background-position: -180px 0;
}
@media not all, not all, not all, not all {
.icheckbox_minimal, .iradio_minimal {
    background-image: url("minimal@2x.png");
    background-size: 200px 20px;
}
}
.icheckbox_minimal-grey, .iradio_minimal-grey {
	background:url(../../../asset/images/grey.png) no-repeat;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 22px;
    margin: 0; 
    padding: 0;
    width: 22px;
}
.icheckbox_minimal-grey, .icheckbox_minimal-grey.static:hover {
    background-position: 0 0;
}
.icheckbox_minimal-grey.hover, .icheckbox_minimal-grey:hover {
    background-position: -72px 0;
}
.icheckbox_minimal-grey.checked {
    background-position: -96px 0;
}
.icheckbox_minimal-grey.disabled {
    background-position: -60px 0;
    cursor: default;
}
.icheckbox_minimal-grey.checked.disabled {
    background-position: -80px 0;
}
.iradio_minimal-grey, .iradio_minimal-grey.static:hover {
    background-position: -100px 0;
}
.iradio_minimal-grey.hover, .iradio_minimal-grey:hover {
    background-position: -120px 0;
}
.iradio_minimal-grey.checked {
    background-position: -140px 0;
}
.iradio_minimal-grey.disabled {
    background-position: -160px 0;
    cursor: default;
}
.iradio_minimal-grey.checked.disabled {
    background-position: -180px 0;
}
@media not all, not all, not all, not all {
.icheckbox_minimal-grey, .iradio_minimal-grey {
    background-image: url("../../../asset/images/grey@2x.png");
    background-size: 200px 20px;
}
}

.center-pd30{ padding:0 30px;}
.main-qxz-wap{ padding:0 30px; background:url(../../../asset/images/bg_qxzBg1.jpg) no-repeat left top fixed-; color:#fff;}
.r_title{ border-bottom:none; border-bottom:1px solid #d0d0d0;}
.r_titleLt h2{ color:#fff; font-size:16px; font-family:'黑体'; line-height:45px;}
.jk_select,
.jk_select2{ float:left; padding:0 0 0 27px;}
.jk_select .bootstrap-select{ width:150px;}
.jk_select2 .bootstrap-select{ width:180px;}
.jk_select .bootstrap-select > .btn,
.jk_select2 .bootstrap-select > .btn{ background:transparent; overflow:hidden; color:#fff; border-radius:8px; padding-top:0; padding-bottom:0; padding-right:25px; height:30px; line-height:28px; line-height:28px\9; white-space:normal;}
.jk_select .btn-default:hover, .jk_select .btn-default:focus, .jk_select .btn-default:active, .jk_select .btn-default.active, .jk_select .open > .dropdown-toggle.btn-default,
.jk_select2 .btn-default:hover, .jk_select2 .btn-default:focus, .jk_select2 .btn-default:active, .jk_select2 .btn-default.active, .jk_select2 .open > .dropdown-toggle.btn-default{ border-color:#ccc;}
.jk_select .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:150px;}
.jk_select2 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:180px;}
.jk_select .bootstrap-select.btn-group .btn .filter-option,
.jk_select2 .bootstrap-select.btn-group .btn .filter-option{ float:left-; width:110px-; margin:0 25px 0 10px-; text-align:left-; font-size:16px;}
.ul_tabList{ float:right; overflow:hidden; height:18px; line-height:18px; overflow:hidden; margin:5px 0 0; font-family:"微软雅黑"; font-size:15px; text-align:right;}
.ul_tabList li{ float:left;}
.ul_tabList li a{ padding:0 22px; color:#fff;}
.ul_tabList li span{ color:#fff;}
.ul_tabList li.cur a{ color:#84e1ff;}
.weatherStation-table{ margin-top:40px;}
.main-qxz-lt{ float:left; width:50%;}
.main-qxz-rt{ float:right; width:50%;}
.weatherStation-sn{ float:left; margin:0; line-height:30px; font-size:18px; font-weight:normal;}
.today-weather-table{ height:162px; margin-top:25px; clear:both;}
.today-weather-temp{ display:inline-block; height:108px; line-height:108px; margin-top:16px; padding-right:28px; box-sizing:border-box; background:url(../../../asset/images/ico_qxzIco1.png) no-repeat right 8px; font-family:'Arial'; font-size:110px;}
.today-daytime{ display:inline-block; margin-top:84px; padding:0 5px 0 20px; line-height:24px; background:url(../../../asset/images/ico_qxzIco2.png) no-repeat 5px 7px; font-family:'Arial'; font-size:24px;}
.today-night{ display:inline-block; margin-top:84px; padding:0 5px 0 20px; line-height:24px; background:url(../../../asset/images/ico_qxzIco3.png) no-repeat 5px 7px; font-family:'Arial'; font-size:24px;}
.today-airQuality{}
.today-airQuality-table{ width:100%; height:208PX; border-left:1px dashed #C0C0C0; border-top:1px dashed #C0C0C0;}
.today-airQuality-table td{ border-right:1px dashed #C0C0C0; border-bottom:1px dashed #C0C0C0;}
.today-airQuality-auto{ height:100%; margin-left:10px;}
.today-airQuality-auto td{ border-right:0; border-bottom:0;}
.airQuality-text{ display:inline-block; float:left; margin-right:12px; line-height:30px; font-size:14px;}
.airQuality-num{ display:inline-block; font-family:'Arial'; font-size:22px;}
.today-airQuality-list{ height:178px; margin-top:25px;}
.today-airQuality-list td{ width:16.6666%;}
.today-airQuality-list img{ margin:40px auto 25px;}
.today-airQuality-list .today-airQuality-tip{ display:inline-block; height:78px; line-height:20px; font-size:12px; font-family:'宋体';}
.today-airQuality-list .today-airTxt{ float:right; padding-left:10px; line-height:20px; font-family:'微软雅黑'; font-size:16px;}
.today-airQuality-list .today-airNum{ float:right; padding-left:10px; line-height:20px; font-family:'Arial'; font-size:22px;}
/* 通用的更多弹出框和风力风向标题 */
.his_temperatureHd{ width:214px; height:30px; line-height:30px; margin:0 auto; border:1px solid #C0D0E0; border-radius:8px; text-align:center; font-size:16px; font-family:"微软雅黑"}
.his_moreCon{ float:right; height:40px; line-height:40px; margin:0; text-align:right;}
.his_moreCon span{ float:left; width:360px; white-space:nowrap; text-overflow: ellipsis; overflow:hidden; font-size:12px; font-family:'宋体'}
.his_moreCon a{ float:left; font-size:12px; font-family:'宋体'; color:#84e1ff;}


/* 三个更多模态框 */
.modal-dialog{ position:absolute;}
.modal .modal-header .close, .modal .modal-header .close:link{background: url(../../../asset/images/farmingIco16.jpg) no-repeat; margin-top:5px; border:none; opacity:1; filter:alpha(opacity=100); float:right; width:11px; height:11px;}
.modal .modal-header .close:hover, .modal-header .close:focus{ background:url(../../../asset/images/farmingIco17.jpg) no-repeat; opacity:1.0; filter:alpha(opacity=100);}
.modal .modal-header{ padding:15px;}
.modal .modal-header h4{ font-size:14px; color:#1448ad;}
.modal .modal-header h4 span{ font-size:14px; font-family:'Arial'; color:#939393;}
.modal .modal-body{ padding:0; height:406px; overflow-y:auto;}
.modalheight{ margin:10px 20px;}
.modalH3{ height:30px; line-height:30px; padding-left:15px; background-repeat:no-repeat; background-image:url(../../../asset/images/bg_tqyubao01.png); background-position:0 -12px; font-size:14px; font-family:'微软雅黑'; color:#3b3b3b;}
.modalH4{ padding:5px 0 8px 0; border-bottom:1px dashed #c3c3c3; font-size:12px; font-family:'宋体';}
.modalSection{ font-size:12px; font-family:'宋体'; line-height:24px; color:#5d5d5d;}
.modalComdl{ margin:12px 0; overflow:hidden;}
.modalComdl dt{ float:left; border:1px solid #bcbcbc; border-radius:5px;}
.modalComdl dt img{ width:118px; height:118px; border-radius:5px;}
.modalComdl dd{ float:right; width:410px; line-height:22px; font-size:12px; font-family:'宋体';}
.content_topp .table{ margin:10px 0; border-left:1px solid #e8e8e8; border-top:1px solid #e8e8e8; line-height:22px; font-size:12px; font-family:'Arial'; text-align:center;}
.content_topp .table td{ padding:4px; border-right:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; background:#fafafa;}


/* 20150423 生长期上方新增三个时间相关内容 */
.growthPeriod{ margin:10px 0;}
.monitor-timetable{ width:100%; padding:10px 0; border-top:1px solid #96a1b4; border-bottom:1px solid #96a1b4;}
.monitor-timetable .border_rt96{ border-right:1px solid #96a1b4;}
.monitor-timetable td{ color:#fff;}
