.ztree * {
	margin: 0px; padding: 0px; font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif; font-size: 12px;
}
.ztree {
	margin: 0px; padding: 0px; color: rgb(51, 51, 51);
}
.ztree li {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; text-align: left; line-height: 14px; white-space: nowrap;
}
.ztree li ul {
	margin: 0px; padding: 0px 0px 0px 18px;
}
.ztree li ul.line {
	background: url("../../../asset/images/ztree/line_conn.gif") repeat-y 0px 0px;
}
.ztree li a {
	margin: 0px; padding: 1px 3px 0px 0px; height: 17px; color: rgb(51, 51, 51); text-decoration: none; vertical-align: top; display: inline-block; cursor: pointer; background-color: transparent;
}
.ztree li a:hover {
	text-decoration: underline;
}
.ztree li a.curSelectedNode {
	border: 1px solid rgb(255, 185, 81); border-image: none; height: 16px; color: black; padding-top: 0px; opacity: 0.8; background-color: rgb(255, 230, 176);
}
.ztree li a.curSelectedNode_Edit {
	border: 1px solid rgb(255, 185, 81); border-image: none; height: 16px; color: black; padding-top: 0px; opacity: 0.8; background-color: rgb(255, 230, 176);
}
.ztree li a.tmpTargetNode_inner {
	border: 1px solid rgb(49, 106, 197); border-image: none; height: 16px; color: white; padding-top: 0px; opacity: 0.8; background-color: rgb(49, 106, 197);
}
.ztree li a.tmpTargetNode_prev {
	
}
.ztree li a.tmpTargetNode_next {
	
}
.ztree li a input.rename {
	margin: 0px; padding: 0px; border: 1px solid rgb(126, 196, 204); border-image: none; width: 80px; height: 14px; font-size: 12px;
}
.ztree li span {
	line-height: 16px; margin-right: 2px;
}
.ztree li span.button {
	margin: 0px; border: 0px currentColor; border-image: none; width: 16px; height: 16px; line-height: 0; vertical-align: middle; display: inline-block; cursor: pointer; background-image: url("../../../asset/images/ztree/zTreeStandard.png"); background-attachment: scroll; background-repeat: no-repeat; background-color: transparent;
}
.ztree li span.chk.button {
	margin: 0px 3px 0px 0px; width: 13px; height: 13px; cursor: auto;
}
.ztree li span.checkbox_false_full.chk.button {
	background-position: 0px 0px;
}
.ztree li span.checkbox_false_full_focus.chk.button {
	background-position: 0px -14px;
}
.ztree li span.checkbox_false_part.chk.button {
	background-position: 0px -28px;
}
.ztree li span.checkbox_false_part_focus.chk.button {
	background-position: 0px -42px;
}
.ztree li span.checkbox_false_disable.chk.button {
	background-position: 0px -56px;
}
.ztree li span.checkbox_true_full.chk.button {
	background-position: -14px 0px;
}
.ztree li span.checkbox_true_full_focus.chk.button {
	background-position: -14px -14px;
}
.ztree li span.checkbox_true_part.chk.button {
	background-position: -14px -28px;
}
.ztree li span.checkbox_true_part_focus.chk.button {
	background-position: -14px -42px;
}
.ztree li span.checkbox_true_disable.chk.button {
	background-position: -14px -56px;
}
.ztree li span.radio_false_full.chk.button {
	background-position: -28px 0px;
}
.ztree li span.radio_false_full_focus.chk.button {
	background-position: -28px -14px;
}
.ztree li span.radio_false_part.chk.button {
	background-position: -28px -28px;
}
.ztree li span.radio_false_part_focus.chk.button {
	background-position: -28px -42px;
}
.ztree li span.radio_false_disable.chk.button {
	background-position: -28px -56px;
}
.ztree li span.radio_true_full.chk.button {
	background-position: -42px 0px;
}
.ztree li span.radio_true_full_focus.chk.button {
	background-position: -42px -14px;
}
.ztree li span.radio_true_part.chk.button {
	background-position: -42px -28px;
}
.ztree li span.radio_true_part_focus.chk.button {
	background-position: -42px -42px;
}
.ztree li span.radio_true_disable.chk.button {
	background-position: -42px -56px;
}
.ztree li span.switch.button {
	width: 18px; height: 18px;
}
.ztree li span.root_open.button {
	background-position: -92px -54px;
}
.ztree li span.root_close.button {
	background-position: -74px -54px;
}
.ztree li span.roots_open.button {
	background-position: -92px 0px;
}
.ztree li span.roots_close.button {
	background-position: -74px 0px;
}
.ztree li span.center_open.button {
	background-position: -92px -18px;
}
.ztree li span.center_close.button {
	background-position: -74px -18px;
}
.ztree li span.bottom_open.button {
	background-position: -92px -36px;
}
.ztree li span.bottom_close.button {
	background-position: -74px -36px;
}
.ztree li span.noline_open.button {
	background-position: -92px -72px;
}
.ztree li span.noline_close.button {
	background-position: -74px -72px;
}
.ztree li span.root_docu.button {
	background: none;
}
.ztree li span.roots_docu.button {
	background-position: -56px 0px;
}
.ztree li span.center_docu.button {
	background-position: -56px -18px;
}
.ztree li span.bottom_docu.button {
	background-position: -56px -36px;
}
.ztree li span.noline_docu.button {
	background: none;
}
.ztree li span.ico_open.button {
	background-position: -110px -16px; margin-right: 2px; vertical-align: top;
}
.ztree li span.ico_close.button {
	background-position: -110px 0px; margin-right: 2px; vertical-align: top;
}
.ztree li span.ico_docu.button {
	background-position: -110px -32px; margin-right: 2px; vertical-align: top;
}
.ztree li span.edit.button {
	background-position: -110px -48px; margin-right: 2px; vertical-align: top;
}
.ztree li span.remove.button {
	background-position: -110px -64px; margin-right: 2px; vertical-align: top;
}
.ztree li span.ico_loading.button {
	background: url("../../../asset/images/ztree/loading.gif") no-repeat 0px 0px; margin-right: 2px; vertical-align: top;
}
ul.tmpTargetzTree {
	opacity: 0.8; background-color: rgb(255, 230, 176);
}
span.tmpzTreeMove_arrow {
	background-position: -110px -80px; margin: 2px 0px 0px 1px; padding: 0px; border: 0px currentColor; border-image: none; width: 16px; height: 16px; display: inline-block; position: absolute; background-image: url("../../../asset/images/ztree/zTreeStandard.png"); background-attachment: scroll; background-repeat: no-repeat; background-color: transparent;
}
ul.zTreeDragUL.ztree {
	margin: 0px; padding: 0px; border: 1px dotted rgb(0, 184, 63); border-image: none; width: auto; height: auto; overflow: hidden; position: absolute; opacity: 0.8; background-color: rgb(207, 207, 207);
}
.zTreeMask {
	position: absolute; z-index: 10000; opacity: 0; background-color: rgb(207, 207, 207);
}
