@charset "utf-8";
/* CSS Document */
body{ font-family:'微软雅黑'; font-size:14px; color:#3c3c3c;}

/* 二级菜单 */
.levelMenu_wp{ width:210px; height:100%; background:#fff;}
.levelMenu_ttl{}
.levelMenu_ttl a{ display:block; height:30px; line-height:30px; padding-left:28px; background:url(../images/levelMenu_ico2.png) no-repeat 18px center; font-size:12px; text-decoration:none; color:#000;}

.levelMenu_list{ width:210px; display:none;}
.levelMenu_li{ display:block; margin-left:7px; width:190px; height:34px; line-height:34px; text-decoration:none; font-size:12px; color:#656565;}
.levelMenu_li:hover, .levelMenu_li:focus{ text-decoration:none; color:#525252;}
.levelMenu_li img{ float:left; margin:13px 5px 0 22px;}

.ttlCur a{ background:url(../images/levelMenu_ico1.png) no-repeat 15px center;}
.liCur{ background:url(../images/levelMenu_bg1.png) no-repeat; color:#fff;}
.liCur:hover, .liCur:focus{ color:#fff;}



/* 下拉框 搜索 新增样式 */
.btn { padding:7px 19px; font-family:'微软雅黑';}
.bootstrap-select{ width:auto;}
.iptSeletAuto .bootstrap-select .btn { overflow:hidden; width:90px; height:34px; border-radius:4px 0 0 4px;}
.all_select .bootstrap-select .btn { width:218px;}
.bootstrap-select > .btn {padding-right: 25px;width: 100%;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0;border-top-left-radius: 0;}
.form-control { background-color: #fff;background-image: none; border: 1px solid #ccc;border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;color: #555;
    display: block;font-size: 12px;height: 34px;line-height: 1.42857;padding: 6px 12px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;width: 100%;}
.public-search {position: relative;}
.srarchfont {color: #d2d2d2;font-family:'微软雅黑';}
.octicon-search02 {background:url(../../images/analysis/cjsearch_bg.png) no-repeat;display: block;float: left; height: 13px;left: 8px; position: absolute;top: 10px;width: 13px;z-index: 3;}
/* 多选搜索下拉框 对号样式 */
.glyphicon-ok:before{ content:normal;}
.bootstrap-select.btn-group .dropdown-menu li a i.check-mark{  background:url(../../../images/selectMenu-ico1.png) no-repeat;}



/* 字段管理 */
.mt50{ margin-top:50px;}
.mb50{ margin-bottom:50px;}
a:focus{ outline:none; outline-offset:0;}
.btn{ height:32px; padding:0 19px; line-height:32px;}
.base-navTabsWap{ min-height:500px;}
.base-navTabsWap .nav-tabs > li.active > a, 
.base-navTabsWap .nav-tabs > li.active > a:hover, 
.base-navTabsWap .nav-tabs > li.active > a:focus{ border-color:#ddd #ddd transparent;}
.base-navTabsWap .nav-tabs > li{ margin-right:-1px;}
.base-navTabsWap .nav-tabs > li > a{ margin-right:0; padding:10px 22px; border-radius:0; border:1px solid #ddd; color:#525252; font-family:'宋体'; font-size:14px;}
.base-navTabsWap .ze_table{ margin-top:0;}
.base-navTabsSearch{ display:inline-block; margin:20px 0; width:284px;}
.base-navTabsSearch .public-search {position: relative; float:left; width:200px;}
.base-navTabsSearch .form-control{ padding-left:25px;}
.base-navTabsSearch .line{ float:left; width:7px; height:32px; margin:1px 7px 1px 0; border-right:1px solid #ebebeb;}
.base-navTabsCon{ position:relative; padding:20px 0 20px 30px;}
.list_view, .list_edit, .list_delete{ vertical-align:middle;}





