@charset "utf-8";
/* CSS Document */
body{ font-size:14px; color:#323232;}
ul, ol{ margin:0;}
a{color: #323232;}
a:link {color: #323232; text-decoration:none;} 
a:visited{text-decoration: none; color: #323232;}
a:hover{text-decoration: none; color: #323232;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.pl5{padding-left: 5px;}
.pr5{padding-right: 5px;}
.pt5{padding-bottom: 5px;}
.pt10{padding-bottom: 10px;}
.c64{color: #646464;}
.clear{ clear:both;}
.clear:after{clear:both; content:""; display:block; visibility:hidden; height:0;}
i{font-style: normal;}
.srarchfont {text-indent: 15px; color: #d2d2d2;}
.public-search { position: relative;}
.octicon-search02 {background: url(../../../asset/images/cjsearch_bg.png) center center no-repeat; width: 13px; height: 294px; display: block;float: left; left: 114px; position: absolute; top: 10px; z-index: 3;}
.mall{width: 100%; height:auto;}
.mallBox{float: left; margin-right: 15px; margin-bottom: 10px; width: 222px; height: 325px; border: 1px solid #e2e2e2; border-radius: 5px; padding: 8px;}
.mallBox:hover{border-color: #a4c66c; background-color: #fafafa;}
.mallBox .pic{width: 205px; height: 205px;}
.mallBox .pic td{text-align: center; vertical-align: middle; height: 205px;}
/*.mallBox img.fruitName{width: 205px; height: 205px;}*/
.mallBox .fruit{padding: 5px 0;}
.mallBox .coin{font-size: 18px; color: #ff5000;}
.mallBox .count{line-height: 30px;}
.mallBox .number{height: 30px;}
.mallBox .number .numberIn{width: 40px; height: 30px; padding: 6px; border: 1px solid #e2e2e2;}
.mallBox .number .btnN img{display: block; cursor: pointer;}
.mallBox .convert{padding: 5px 15px; border: 1px solid #e2e2e2; border-radius: 5px;}
.mallBox .convert a{color: #666565;}
.mallBox .convert a:hover{color: #fff; text-decoration: none;}
.mallBox:hover .convert{background-color: #94bb56;}
.mallBox:hover .convert a{color: #fff;}
/*分页样式*/
.fenye{margin: 40px auto ;}
.pageModel { border: 1px solid #e1e1e1; border-radius: 5px; border-collapse: separate; font-size: 12px; }
.pageModel span {float: left;height: 32px;line-height: 32px;border-right: 1px solid #e1e1e1;}
.pageModel a {display: block;padding: 0 13px;color: #9a9a9a;text-decoration: none;}
.pageModel a:hover{color:#428bca;}
.pageModel span:last-child { border-right: 0; }
.pageModel .page_Cur{background-color: #f6f6f8}

.boederR{border-right: 1px solid #e2e2e2;}
.mallFoot{border: 1px solid #e2e2e2; padding: 30px 0; margin-bottom: 30px;}
.mallFoot .center{text-align: center;}
.mallFoot .firstTd{text-align: right; padding-right: 25px;}
.mallFoot .lastTd{text-align: left; padding-left: 40px;}