* {
	margin: 0px;
	padding: 0px;
}

body,
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.map_content {
	width: 100%;
	height: 100%;
	position: relative;
}

.map_content * {
	list-style: outside none;
}

.font_my {
	font-family: 'Microsoft Yahei', "微软雅黑";
}

.font_song {
	font-family: 'simsun', "宋体";
}

#map-canvas {
	width: 100%;
	height: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.zcommond {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 0px !important;
}


/**/

.mengb {
	position: absolute;
	left: 0px;
	top: 0px;
	background: #000000;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	filter: alpha(opacity=30);
	z-index: 1;
}

#map_loading {
	width: 30px;
	height: 30px;
	background: url(../loading.gif) #0F1111 no-repeat center center;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	top: 50%;
	margin-top: -15px;
	z-index: 3;
	border-radius: 5px;
}

#farmInfoD {
	width: 320px;
	height: 220px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 5;
	background: #FFFFFF;
	border-radius: 5px;
	display: none;
}

#farmInfoD h2 {
	height: 38px;
	border-bottom: 1px solid #ececec;
	line-height: 38px;
	background: #f8f9fc;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
	font-size: 16px;
	padding: 0px 14px;
	width: 292px;
	margin: 0px !important;
}

.farmpic {
	width: 115px;
	height: 90px;
	overflow: hidden;
	float: left;
	border-radius: 5px;
	margin: 10px 0px 0px 16px;
}

.farmpic img {
	width: 115px;
	height: 90px;
}

#farmInfoD table {
	float: left;
	width: 56%;
	margin-top: 10px;
}

#farmInfoD table td {
	font-family: "simsun", "宋体";
	font-size: 12px;
	line-height: 20px;
}

.farminfo_footer {
	border-top: 1px solid #ececec;
	padding: 5px 10px;
	font-size: 12px;
	margin-top: 10px;
	line-height: 18px;
	height: 50px;
	overflow: auto;
}

.supIco {
	border-color: #fff transparent transparent;
	border-style: solid;
	border-width: 18px 8px;
	bottom: -36px;
	content: "";
	left: 50%;
	margin: 0px 0px 0px -4px !important;
	position: absolute;
}

.supIco2 {
	border-color: #000000 transparent transparent;
	border-style: solid;
	border-width: 18px 8px;
	bottom: -36px;
	content: "";
	left: 50%;
	margin: 0px 0px 0px -4px !important;
	position: absolute;
	opacity: 0.65;
	filter: alpha(opacity=65);
}

.cropsType {
	width: 396px;
	height: auto;
	position: absolute;
	left: 100px;
	top: 100px;
	z-index: 5;
	background: #FFFFFF;
	border-radius: 5px;
	padding-bottom: 10px;
	display: none;
}

.cropsPic {
	position: absolute;
	width: 98px;
	height: 98px;
	overflow: hidden;
	left: 16px;
	top: -22px;
}

.cropsPic img {
	width: 98px;
	height: 98px;
}

.cropsType h2,
.noCrops h2 {
	height: 58px;
	line-height: 58px;
	font-size: 18px;
	text-indent: 134px;
	overflow: hidden;
	display: inline-block;
	margin: 0px !important;
}

.cropsType .farmer_mess,
.noCrops .farmer_mess {
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	text-indent: 154px;
	color: #9d9d9d;
	font-size: 12px;
	background: url(/asset/images/map_ico100.png) no-repeat 134px 1px;
}

.cropsType .cropsData {
	height: 62px;
	background: #fafafa;
	border: 1px dashed #e6e6e6;
	border-left: none;
	border-right: none;
	margin-top: 18px;
}

.cropsType .cropsData_begin,
.cropsType .cropsData_end {
	height: 32px;
	overflow: hidden;
	margin-top: 14px;
	background: url(/asset/images/map_pic103.png) no-repeat left top;
	width: 72px;
	font-size: 12px;
	padding-left: 38px;
	line-height: 16px;
}

.cropsType .cropsData_begin {
	float: left;
	margin-left: 46px;
}

.cropsType .cropsData_end {
	float: right;
	margin-right: 46px;
}

#weather {
	height: 137px;
	position: absolute;
	border: 1px solid #ccc;
	background: url(/asset/images/weatherStion_bg01.png) repeat;
	border-radius: 10px;
	left: 80px;
	top: 20px;
	z-index: 4;
	display: none;
}

#weather * {
	line-height: normal;
}

#weather p {
	margin-bottom: 0px !important;
}

#weather .w_content {
	width: 100%;
	height: 100%;
	background: url(/asset/images/qx2.png) no-repeat;
	border-radius: 10px;
	color: #ffffff;
}

#weather .w_address {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	padding-top: 6px;
	text-indent: 84px;
}

#weather table {
	border: 0px none;
	width: 100%
}

#weather .w_pic1 {
	width: 74px;
	height: 74px;
	float: left;
	overflow: hidden;
	margin-left: 10px;
}

#weather .w_pic1 img {
	width: 74px;
	height: 74px;
}

#weather .w_data1_no {
	float: left;
	font-size: 50px;
}

#weather .w_data1_c {
	float: left;
	display: inline-block;
	font-size: 14px;
	padding-top: 28px;
	background: url(/asset/images/weatherStion_bg04.png) no-repeat left 8px;
}

.clearboth {
	height: 1px;
	font-size: 0px;
	clear: both;
	width: 100%;
}

#weather .w_data1_HL {}

.w_data1_HL p {
	float: left;
	font-size: 13px;
	height: 16px;
	line-height: 16px;
	padding: 0px 5px 0px 11px;
	background: url(/asset/images/weatherStion_ico01.png) no-repeat;
}

.w_data1_HL .w_c_High {
	background-position: 0px 3px;
}

.w_data1_HL .w_c_Low {
	background-position: 0px -17px;
}

#weather .w_Wrlist {
	border: 1px solid #fff;
	border-radius: 10px;
	height: 20px;
	margin-left: 10px;
	margin-top: 4px;
}

.w_Wrlist p {
	display: inline-block;
	padding: 0px 8px 0px 15px;
	background: url(/asset/images/weatherStion_ico01.png) no-repeat;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
}

.w_Wrlist .w_Wrlist_w {
	background-position: 2px -40px;
}

.w_Wrlist .w_Wrlist_r {
	background-position: -1px -58px;
}

#weather .w_data_tomorrow,
#weather .w_data_tomorrow_c {
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0px 10px;
}

#weather .w_data_tomorrow_pic {
	height: 48px;
	text-align: center;
}

.w_data_tomorrow_pic img {
	width: 48px;
	height: 48px;
}

#weather_close {
	width: 20px;
	height: 20px;
	background: url(/asset/images/weatherStion_bg05.png) no-repeat;
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 5px;
}

#noCrops {
	width: 448px;
	height: auto;
	position: absolute;
	background: #FFFFFF;
	z-index: 5;
	left: 100px;
	top: 100px;
	border-radius: 5px;
	padding-bottom: 10px;
	display: none;
}

.noCrops h2 span {
	font-size: 12px;
	color: #b0b0b0;
}

.noCrops_content {
	border-top: 1px dashed #e6e6e6;
	margin-top: 14px;
}

.noCrops_leftinfo {
	width: 168px;
	float: left;
	margin-left: 18px;
}

.noCrops_content h3 {
	font-size: 13px;
	font-weight: bold;
	height: 48px;
	line-height: 48px;
	margin: 0px !important;
}

.noCrops_content .jiance_mechanism,
.noCrops_content .jiance_date {
	height: 26px;
	line-height: 20px;
	overflow: hidden;
	font-size: 13px;
	background: url(/asset/images/bg_jiance.png) no-repeat;
	text-indent: 25px;
	margin: 0px !important;
	word-break: keep-all;
	white-space: nowrap;
}

.jiance_mechanism {
	background-position: ;
}

.noCrops_content .jiance_date {
	background-position: 0 -24px;
}

.landRecord_wp {
	height: auto;
	border: 1px solid #ddd;
	overflow: hidden;
	border-left: none;
	border-right: none;
	padding: 5px 0px;
	margin-bottom: 0px !important;
}

.landRecord_wp li {
	width: 33.3%;
	float: left;
	text-align: center;
}

.landRecord_wp li p {
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-family: arial;
	margin: 0px !important;
}

.landRecord_wp_p1 {
	font-size: 16px;
	color: #428bca;
	font-weight: bold;
}

.landRecord_wp_p2 {
	font-size: 12px;
}

.noCrops_rightinfo {
	float: left;
	width: 220px;
	margin-left: 25px;
}

.landHistory_list {
	width: 100%;
	height: 112px;
	overflow: auto;
	margin-bottom: 0px !important;
}

.landHistory_list li {
	height: 32px;
	overflow: hidden;
	padding-left: 16px;
	background: url(/asset/images/bg_landhistory.png) no-repeat 0px 8px;
}

.landHistory_list li p {
	float: left;
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	font-size: 12px;
	font-family: 'Microsoft Yahei', "微软雅黑";
}

.landHistory_list li .historyP2 {
	background: url(/asset/images/bg_landhistory03.png) no-repeat;
	width: 125px;
	border-right: 1px solid #e7e7e7;
	border-radius: 5px;
	text-indent: 10px;
}

.landHistory_list li .historyP2 span {
	color: #428bca;
}

#sensor {
	width: 400px;
	height: auto;
	position: absolute;
	padding-bottom: 10px;
	z-index: 4;
	left: 0px;
	top: 0px;
	background: url(/asset/images/tckkbg5.png) repeat;
	border-radius: 5px;
	color: #FFFFFF;
	display: none;
}

#sensor h2,
#weatherStation h2 {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	width: 96%;
	margin: 0 auto !important;
	background: url(/asset/images/linerepe.png) left bottom repeat-x;
}

#sensor h2 span,
#weatherStation h2 span {
	font-size: 12px;
	display: inline-block;
	padding-left: 24px;
	color: #dadada;
}

#sensor .sensor_pic {
	float: left;
	width: 113px;
	height: 113px;
	overflow: hidden;
	border-radius: 5px;
	margin-left: 8px;
	margin-bottom: 0px !important;
}

#sensor .sensor_pic img {
	width: 113px;
	height: 113px;
}

.sensor_right_content {
	float: right;
	width: 250px;
	height: auto;
	overflow: hidden;
	margin-right: 18px;
}

.sensor_right_content ul li {
	float: left;
}

.sensor_right_content .sensor_c {
	font-size: 28px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.sensor_right_content .sensor_c img {
	vertical-align: top;
}

.sensor_right_content .sensor_c2 {
	float: right;
	width: 100px;
	overflow: hidden;
}

.sensor_c2 p {
	height: 19px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
	word-break: keep-all;
	white-space: nowrap;
	margin: 0px !important;
}

.sensor_c2 .sensor_c2_p1 {
	background: #85a760;
	border-radius: 10px;
}

.sensor_right_content .sensor3date li {
	width: 33.3%;
	font-size: 12px;
}

.sensor_right_content .sensor3date li p {
	margin-bottom: 0px !important;
}

.sensor_right_content .sensor3date li .p1 {
	height: 24px;
	overflow: hidden;
	margin-bottom: 0px !important;
}

.sensor_bottom {
	height: 22px;
	background: #0f1111;
	line-height: 22px;
	text-align: right;
	width: 366px;
	margin: 10px auto 0px;
	font-size: 12px;
	padding: 0px 10px;
	color: #dddddd;
}

.xiugeng_hasData_begin,
.xiugeng_hasData_center,
.xiugeng_hasData_end {
	font-size: 12px;
	height: 32px;
	line-height: 16px;
	overflow: hidden;
	padding-left: 38px;
	width: 72px;
	float: left;
	margin: 14px 11px 0px;
	background-position: left top;
	background-repeat: no-repeat;
}

.xiugeng_hasData_begin {
	background-image: url(/asset/images/map_pic100.png);
}

.xiugeng_hasData_center {
	background-image: url(/asset/images/map_pic101.png);
}

.xiugeng_hasData_end {
	background-image: url(/asset/images/map_pic102.png);
}

#chartInfo {
	height: 100px;
	width: 376px;
	margin: 8px auto 0px;
	display: none;
}

#weatherStation {
	width: 556px;
	height: auto;
	position: absolute;
	padding-bottom: 10px;
	z-index: 4;
	left: 0px;
	top: 0px;
	background: url(/asset/images/tckkbg5.png) repeat;
	border-radius: 5px;
	color: #FFFFFF;
	display: none;
}

#weatherStation p {
	margin-bottom: 0px;
}

#weatherStation .ws_data_1 {
	float: left;
	width: 390px;
	height: auto;
	overflow: hidden;
}

.ws_data_1 .ws_data_1_c {
	font-size: 54px;
	height: 60px;
	line-height: 60px;
	float: left;
	margin-left: 34px;
}

.ws_data_1_icon {
	float: left;
	margin-left: 20px;
}

.ws_data_1_time {
	font-size: 12px;
	height: 19px;
	line-height: 19px;
	padding-left: 30px;
	margin-top: 10px;
}

.ws_data_1_ul {
	margin: 10px 0px 0px 10px;
}

.ws_data_1_ul li {
	float: left;
	width: 31%;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	text-indent: 26px;
	font-size: 14px;
}

#ws_data_1_uld1 {
	background: url(/asset/images/icon5.png) no-repeat left top;
}

#ws_data_1_uld2 {
	background: url(/asset/images/icon6.png) no-repeat left -3px;
}

#ws_data_1_uld3 {
	background: url(/asset/images/icon7.png) no-repeat left -3px;
}

.ws_data_1_ul2 {
	margin: 12px 0px 0px 10px;
}

.ws_data_1_ul2 li {
	float: left;
	width: 25%;
}

.ws_data_1_ul2 li .p1 {
	height: 26px;
	overflow: hidden;
}

.ws_data_1_ul2 li .p2 {
	width: 100%;
	overflow: hidden;
	height: auto;
	line-height: 17px;
	font-size: 12px;
	word-break: keep-all;
	white-space: nowrap;
}

.ws_data_2 {
	float: right;
	width: 113px;
	height: auto;
	margin-right: 20px;
}

.ws_data_2 p {
	width: 113px;
	height: 113px;
	overflow: hidden;
	border-radius: 5px;
}

.map_content .data_select {
	display: inline-block;
	vertical-align: top;
	display: none;
	margin: 12px 0px 0px 10px;
}

.map_content .data_select .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 130px !important;
}

.map_content .data_select .bootstrap-select {
	width: 130px !important;
}

.popOutClose {
	display: inline-block;
	width: 11px;
	height: 11px;
	position: absolute;
	cursor: pointer;
	right: 10px;
	top: 10px;
}

.zclosetype1 {
	background: url(/asset/images/ico_close100.png) no-repeat;
}

.zclosetype1:hover {
	background: url(/asset/images/ico_close101.png) no-repeat;
}

.zclosetype2 {
	background: url(/asset/images/closed.png) no-repeat;
	width: 12px;
	height: 13px;
}


/*video*/

.videobut {
	background: url("/asset/images/growth/videobuts.png") no-repeat scroll 0 0;
	height: 77px;
	margin: 0 auto;
	width: 321px;
}

.videobut_ {
	background: url("/asset/images/growth/videobutk.png") no-repeat scroll 0 0;
	height: 77px;
	margin: 0 auto;
	width: 321px;
}

#video_iframe,
#video_iframe2,
#video_iframe3,
#video_iframe4 {
	position: absolute;
	display: none;
	z-index: 100;
	width: 700px;
	height: 500px;
	overflow: hidden;
	left: 50%;
	margin-left: -350px;
	top: 50%;
	margin-top: -250px;
}

.videoimg {
	text-align: center;
	background: #000000;
}

.dsMaxwidth{ margin: -12px 0px 10px 130px !important;}