@charset "utf-8";
/* CSS Document */
.c66{color: #666666}
/* 义田帮手企业认证样式 */
.c_top{width: 100%; height: auto;}
.c_top .c_pic{width: 328px; height: 328px; border: 1px solid #e0e0e0; position: relative;}
.c_top .c_pic .pics{width: 328px; height: 328px;}
.c_top .c_pic .vip{width: 108px; height: 108px; position: absolute; top:-6px; left: -6px;}
.vip{width: 108px; height: 108px; position: absolute; top:-6px; left: -6px;}
.c_top .c_right{padding-left: 25px;}
.c_top .c_right h2{font-size: 22px; height: 36px; line-height: 36px; font-weight: normal; color: #333333; margin-bottom: 10px;}
.c_top .c_right .line{font-size: 14px; height: 40px; line-height: 40px;}
.c_top .c_right .line .cff{font-size: 20px; color: #ff6433;}
.c_top .c_right .line input{border:1px solid #45b0ec; width: 60px; height: 30px; line-height: 30px; text-align: center;}
.c_top .c_right .p_btn{width: 230px; height: 38px; line-height: 38px;  text-align: center; font-size: 14px; background-color: #45b0ec; border-radius: 4px; margin-top: 10px;}
.c_top .c_right .p_btn a{width: 230px; height: 38px; color: #fff; display: inline-block;}
.agree{padding: 10px 0;}
.agree .icheckbox_minimal-blue{float: left; margin-right: 10px;}

.bfeature_header{
	position:relative;
	height:330px;
	padding-left:354px;
	}
.bfeature_left{
	position:absolute;
	left:0;
	top:0;
	width:330px;
	height:330px;
	border:1px solid #ddd;
	box-sizing:border-box;
	}
.bfeature_left > img{
	width:100%;
	height:100%;
	}
.bfeature_right .h3_title{
	height:28px;
	line-height:28px;
	font-size:22px;
	font-weight:normal;
	overflow:hidden;
	}
.bfeature_right .dl_base{
	margin-top:20px;
	font-size:14px;
	}
.bfeature_right .dl_base dt{
	float:left;
	width:60px;
	height:30px;
	line-height:30px;
	}
.bfeature_right .txt_price{
	height:30px;
	line-height:30px;
	}
.bfeature_right .txt_price font{
	padding-right:5px;
	font-size:20px;
	color:#ff6433;
	}
.bfeature_right .txt_phone{
	width:240px;
	height:38px;
	line-height:36px;
	margin-top:20px;
	border:1px solid #ddd;
	border-radius:5px;
	text-align:center;
	font-size:14px;
	}
.bfeature_right .txt_phone font ,
.bfeature_right .txt_notes a{
	padding-left:5px;
	color:#45b0ec;
	}
.bfeature_right .txt_notes a:hover{
	text-decoration:underline;
	}
.bfeature_right .txt_notes{
	line-height:18px;
	margin-top:20px;
	font-size:14px;
	}
.expiry_date{
	overflow:hidden;
	}
.expiry_date li{
	float:left;
	width:60px;
	height:30px;
	line-height:28px;
	margin-right:8px;
	border:1px solid #ddd;
	box-sizing:border-box;
	text-align:center;
	cursor:pointer;
	}
.expiry_date li:hover ,
.expiry_date .e_cur{
	border-color:#45b0ec;
	}
.buy_rotocol{
	margin-top:20px;
	line-height:20px;
	}
.buy_rotocol a{
	color:#45b0ec;
	}
.buy_rotocol a:hover{
	text-decoration:underline;
	}
.buy_rotocol .icheckbox_minimal-blue{
	float:left;
	margin-right:10px;
	}
.buynow_btn{
	width:230px;
	height:38px;
	margin-top:20px;
	padding:0;
	border:0;
	border-radius:5px;
	box-sizing:border-box;
	background-color:#45b0ec;
	font-size:14px;
	text-align:center;
	cursor:pointer;
	color:#fff;
	}
.buynow_btn:hover,
.buynow_btn:active,
.buynow_btn:focus{
	background-color:#3399d2;
	}
.buynow_btn[disabled]{
	background-color:#777;
	cursor:not-allowed;
	pointer-events:none;
	}
/*免责声明*/
.border{position: relative; width: 100%; height: 40px; border-bottom: 1px solid #dddddd; margin-bottom: 40px;}
.c_title{position: absolute; top:30px; background-color: #fff; width: 94px; height: 20px; font-size: 18px; color: #1a1a1a; font-weight: normal; text-align: center;}
.c_title .strip{float: left; width: 3px; height: 20px; background-color: #06b1e9;}
.c_content{padding: 35px 24px; border-radius: 4px; border: 1px solid #e0e0e0; color: #666666; font-size: 14px; line-height: 28px; margin-bottom: 25px;}
.c_content.pt15{padding-top: 15px;}
.c_content .c_icon{height: 44px; line-height: 44px; color: #696969; font-size: 16px;}
.c_content .c_icon img{vertical-align: -5px;}
.table{padding: 20px 50px 10px;}
.table td{text-align: center;}
.table td p{font-size: 14px; color: #767070;}
.gif{padding-top: 30px; padding-left: 50px;}
.ytyp{position: relative; padding-right: 30px; padding-top: 70px; box-sizing:border-box; height: 495px;}
.ytyp p{margin-bottom: 20px;}
.yp_btn{width: 250px; height: 50px; line-height: 50px; text-align: center; border-radius: 3px; background-color: #a4d668; margin-right:20px; position: absolute; left: 50%; margin-left: -125px;}
.yp_btn a{width: 250px; height: 50px; color: #fff; display: inline-block;}
