
.tooltip.in{ 
	opacity:0.6;
	filter:alpha(opacity=60);
	}

.breadNav_rt .resumeList li img { float: left; margin: 14px 5px 0 0;}
/*没有内容样式*/

/*有内容样式*/
.panorama_main{
	background-color:#fff;
	box-sizing:border-box;
	}
.panorama_main .breadNav_wap{
	background-color:#fff;
	padding: 0 20px;
	min-width: 926px;
	}
/*库存左侧二级*/
.panorama_level_wap{
	position:relative;
	float:left;
	padding:20px 0-;
	background-color:#fff;
	box-sizing:border-box;
	font-size:12px;
	}
.panorama_level{
	height:500px;
	}
.panorama_level{
	display:inline-block;
	min-height:865px-;
	padding:20px 5px;
	border-right:1px solid #dfdfdf;
	box-sizing:border-box;
	vertical-align:top;
	overflow:hidden;
	}
.pano_second .sed_item{
	position:relative;
	width:168px;
	padding-bottom:10px;
	background:url(../../images/panorama/panorama_line1-1.png) repeat-y 0 0;
	}
.pano_second .sed_item >  a{
	display:block;
	padding:5px 10px 5px 32px;
	box-sizing:border-box;
	}
.pano_second .sed_item .i_icon{
	position:absolute;
	left:8px;
	top:5px;
	width:20px;
	height:20px;
	background:#fff url(../../images/purchase/panorama_720degH.png) no-repeat center center;
	}
.pano_second .sed_item .p_text{
	max-height:40px;
	line-height:20px;
	overflow:hidden;
	color:#525252;
	width: 80px;
	}
.pano_second .sed_item.sed_cur > a{
	background:#428bca url(../../images/panorama/panorama_line1-2.png) repeat-y 0 0;
	color:#fff;
	}
.pano_second .sed_item.sed_cur .i_icon{
	background:#428bca url(../../images/purchase/panorama_720degW.png) no-repeat center center;
	}
.pano_second .sed_item.sed_cur .p_text{
	color:#fff;
	}
.pano_second .sed_item.sed_cur:hover > a{
	background:#428bca url(../../images/panorama/panorama_line1-2.png) repeat-y 0 0;
	}
.pano_second .sed_item.sed_cur:hover .i_icon{
	background:#428bca url(../../images/purchase/panorama_720degW.png) no-repeat center center;
	}
.pano_second .sed_item.sed_cur:hover .p_text{
	color:#fff;
	}
.pano_second .sed_item:hover > a{
	background:#f3f3f3 url(../../images/panorama/panorama_line1-1.png) repeat-y 0 0;
	}
.pano_second .sed_item:hover .i_icon{
	background:#f3f3f3 url(../../images/purchase/panorama_720degH.png) no-repeat center center;
	}
.pano_second .sed_item:hover .p_text{
	color:#525252;
	}
	
/*折叠按钮*/
.collapse_btn{
	position:absolute;
	right:-16px;
	width:16px;
	height:76px;
	margin-top:-98px;
	background-image:url(../../images/inventory/InventoryFile_arrowr.png);
	cursor:pointer;
	}
.collapse_btn{
	top:400px;
	}
/*右侧主体内容无商品*/
.commodity{min-width: 490px; height: 204px; border: 1px solid #e1e1e1; border-radius: 5px; overflow: hidden; background-color: #fff;}
.example{min-width: 490px; height: 432px; margin-top: 10px; border: 1px solid #e1e1e1; border-radius: 5px; overflow: hidden; background-color: #fff;}
.example .cfa{background-color: #fafafa; height: 44px; border-bottom: 1px solid #e1e1e1; margin-bottom: 40px;}
.example .cfa img{float: left;}


.preview{width: 380px; height: 646px; border: 1px solid #e1e1e1; border-radius: 5px; overflow: hidden; background-color: #fff;}
.commodity h4,.preview h4{height: 44px; background-color: #f5fbfc; line-height: 44px; font-size: 16px; color: #666;}
.commodity h4 img,.preview h4 img{width: 22px; height: 22px; margin: 0 12px 0 20px;}
.purchase_main .commodity img{margin: 10px auto;}
.commodity p{font-size: 12px; color: #999; text-align: center;}
.preview .picture{padding: 20px;}

/*右侧主体内容有商品*/
.panorama_content{
	min-width: 926px-;
	padding-left:179px-;
	overflow:hidden;
	box-sizing:border-box;
	overflow: auto;
	}
.panorama_content.hide_pano{
	padding-left:0-;
	}
.inbentory_search_wap{
	min-height:780px-;
	margin:20px;
	padding:20px;
	box-sizing:border-box;
	background-color:#fff;
	}
.inbentory_search_wap .search_header{
	margin-top:0;
	}
.pur_section{background-color: #fafafa; border-bottom: 1px solid #e1e1e1; padding: 20px; min-width: 926px;}
.commodity .goods{float: right; width: 144px; height: 20px;}
.commodity .goods li{float: left; width: 48px; height: 20px; text-align: center; line-height: 20px; border-left: 1px solid #e1e1e1; margin-top: 12px; cursor: pointer;}
.commodity .goods li img{margin: 0;}
.commodity .left{width: 130px; height: 130px; margin-top: 15px; margin-left: 15px; position: relative;}
.commodity .left img{width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
.commodity .left .bg_circle{z-index: 2;}
.commodity .right{min-width: 330px; border-bottom: 1px dashed #e1e1e1;}
.commodity .right h5{font-size: 22px; color: #666; font-weight: bold; height: 34px; line-height: 34px; margin-top: 15px; margin-bottom: 10px;}
.commodity .right p{text-align: left; font-size: 14px; padding-bottom: 10px;}
.commodity .right p img{margin-right: 5px;}
.commodity .right p span{color: #333; margin-left: 15px;}
.commodity .right p input{width: 180px; height: 34px; line-height: 34px; border: 1px solid #e1e1e1; border-radius: 4px; color: #333; padding: 0 10px; margin-left: 5px;}
.commodity p.para{margin-top: 10px; line-height: 22px; text-align: left; padding-left: 20px; position: relative;}
.commodity p.para img{position: absolute; left: 0; top: 4px;}
.preview .phone{width: 340px; height: 562px; background: url(../../images/purchase/preview.jpg); margin: 20px; padding-top: 23px;}
.example .nav-tabs>li>a{color: #868686;}
.example .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover{color: #333;}
.example ul li img{margin-right: 2px; vertical-align: -3px;}
.example .basicSet .unit{width: 102px; text-align: right; font-size: 12px; color: #333; padding-right: 10px; vertical-align: top; line-height: 30px;}
.example .basicSet  td{padding-top: 15px;}
.example .basicSet  .blue{color: #428bca;}
.example .basicSet .prize input{width: 70px; height: 30px; line-height: 30px; border:1px solid #e1e1e1; padding: 0 5px; border-radius: 4px;}
.example .basicSet .pic_show{min-width: 300px; height: auto; float: left;}
.example .basicSet .pic_show li{float: left; width: 101px; height: 101px; margin-right: 10px; position: relative; cursor: pointer;}
.example .basicSet .pic_show li img{width: 101px; height: 101px; }
.example .basicSet .pic_show li .closed{width: 29px; height: 29px; position: absolute; z-index: 5; right: 0; top: 0; background: url(../../images/purchase/close.png); display: none;}
.example .basicSet .pic_show li:hover .closed{display: block;}
.example .basicSet .pic_show li img,.example .basicSet .pic_show li input{position: absolute; left: 0; top: 0;}
.example .basicSet .pic_show li input{z-index: 5; opacity: 0; filter: alpha(opacity=0); font-size: 21px; width: 101px; height: 101px; }
.example .basicSet .detail{height: auto; margin-top: 20px;}
.example .basicSet .detail span{cursor: pointer; float: left; min-width: 100px; height: 30px; line-height: 30px; border: 1px solid #e1e1e1; text-align: center; font-size: 12px; color: #333; padding: 0 10px; margin-right: 10px; margin-bottom: 10px;}
.example .basicSet .detail span i{font-style: normal; float: right; margin-left: 10px; font-size: 16px; color: #999;}
.example .basicSet .detail span:hover{border-color: #7cbc54;}
.example .basicSet .detail span:hover i{color: #7cbc54;}
.foot_btns{text-align: center; margin: 25px 0;}
.farms{padding-top:20px; padding-left: 10px;}
.farms li{min-width: 232px; height: 32px; line-height: 32px; font-size: 12px; color: #333; border: 1px solid #e1e1e1; border-radius: 4px; margin-right: 10px; float: left; margin-bottom: 10px;}
.farms li .c99{color: #999; padding-right: 15px;}
.farms li .star_using{
	float:right;
	line-height:20px;
	padding-top:6px;
	margin-right: 5px;
	}
.farms li .star_using .icheckbox_minimal-blue,
.farms li .star_using .iradio_minimal-blue{
	margin-right:5px;
	}
.farms li .setting_btn{
	float:right;
	height:32px;
	line-height:32px;
	margin-right:5px;
	color:#428bca;
	cursor:pointer;
	}
/*分享设置*/
.shares{padding: 8px 5px;}
.shares td{padding: 8px 0;}
.shares td .describe{text-align: center;}
.shares td input{width: 280px; height: 34px; line-height: 34px; border: 1px solid #e1e1e1; border-radius: 4px; padding: 0 5px;}
.shares td textarea{ width: 280px; height: 80px; line-height: 20px; resize: none; padding: 5px; border: 1px solid #e1e1e1; border-radius: 4px;}
.copy_link{
	width:110px;
	padding-left:35px;
	box-sizing:border-box;
	background:url(../../images/panorama/panorama_copylinL.png) no-repeat 20px center;
	}
/*排序弹窗*/
.modal-header .modal-title {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: "微软雅黑";
}
.modal-header .i_close {
    float: right;
    width: 11px;
    height: 11px;
    margin-top: 5px;
    background: url(../../images/commons/farmingIco16.jpg);
    cursor: pointer;
}
.pano_dialog{
	position:fixed;
	left:50%;
	top:50%;
	}
.sort_dialog{
	width:670px;
	margin-left:-335px;
	margin-top:-205px;
	}
.sort_dialog .modal_body{
	height:300px;
	padding:20px;
	box-sizing:border-box;
	}
.sort_dialog .modal-footer{
	text-align:center;
	}
.sp_px{
	width:600px;
	height:260px;
	border:1px solid #ddd;
	box-sizing:border-box;
	overflow-y:auto;
	}
.sp_px .scroll-box ol{
	width:490px;
	margin-left:10px;
	margin-right:10px;
	}
.sp_px .select-list .list li{
	height:50px;
	line-height:40px;
	margin:5px 0;
	padding:5px;
	box-sizing:border-box;
	word-break:break-all;
	overflow:hidden;
	}
.sp_px .select-list .pano_pic{
	width:40px;
	height:40px;
	margin-right:10px;
	vertical-align:top;
	}
.sp_px .select-list .content{
	min-width:100%;
	}
.sp_px .select-list .scroll-box{
	float:left;
	height:258px;
	min-height:258px;
	}
.sp_px .select-list .button-column{
	float:left;
	margin-top:70px;
	}
.sp_px .fa-arrows {
    background-image: url(../../images/sort/yd.png);
    height: 13px;
    margin-top: 11px;
    width: 13px;
 }
 /*评论管理弹窗*/
 .comment_dialog{
	width:920px;
	margin-left:-460px;
	margin-top:-205px;
	}
.comment_dialog .modal_body{
	height:290px;
	padding:10px;
	box-sizing:border-box;
	overflow: auto;
	}
.comment_dialog .modal-footer{
	text-align:center;
	}
.comment_dialog .edit_infor_table{
	width:100%;
	margin:0;
	}
.comment_dialog .edit_infor_table tr:hover td{
	background-color:#f9f9f9;
	}
.comment_dialog .edit_infor_table th,
.comment_dialog .edit_infor_table td{
	padding:5px 0;
	border-bottom:1px dashed #ddd;
	text-align:center;
	}
.comment_dialog .edit_infor_table th{
	padding:10px 0;
	font-weight:normal;
	}
.comment_dialog label{
	font-weight:normal;
	}
.comment_dialog	.text_th{
	height:34px;
	line-height:34px;
	border-left:1px solid #ddd;
	}
.comment_dialog .text_name{
	float:left;
	display:inline-block;
	max-width:85%;
	min-height:30px;
	line-height:18px;
	text-align: left;
	padding-top: 6px;
	}
.comment_dialog .people_pic{
	width:30px;
	height:30px;
	margin:0 2px;
	}
.comment_dialog .icon_delete{
	color:#428bca;
	cursor:pointer;
	}
.comment_dialog .icon_delete:hover{
	color:#245279;
	}
.public-search {
    position: relative;
}
.public-search input.form-control[type="text"] {
    padding-left: 25px;
}
.stars .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100px;}
/*农场地图*/
.group_dialog{
	width:360px;
	margin-left:-180px;
	margin-top:-120px;
	}
.group_dialog .modal_body{
	height:120px;
	padding:45px 20px 0;
	box-sizing:border-box;
	}
.group_dialog .modal-footer{
	text-align:center;
	}
.farm_select {margin: 0 auto; width: 280px;}
.farm_select .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 280px;}
/*运费*/
.freight_dialog{width: 360px; margin-left: -180px; margin-top: -180px;}
.freight_dialog .modal_body{height: 120px;}
.freight_dialog .modal-footer,.landscape_dialog .modal-footer{text-align:center;}
.freight_dialog .item{margin-bottom: 15px; line-height: 34px; font-size: 14px; color: #333;}
.freight_dialog .item input{width: 128px; height: 34px; line-height: 34px; border: 1px solid #e1e1e1; border-radius: 4px; margin-left: 5px; padding: 0 5px;}
.freight_dialog .item .icheckbox_minimal-blue, .icheckbox_minimal-blue.checked{margin-top: 8px;}
/*四季田景*/
.landscape_dialog{width: 496px; margin-left: -248px; margin-top: -220px;}
.landscape_dialog .modal_body{height: 240px; }
.landscape_dialog .npad td{padding-bottom: 15px;}
.landscape_dialog .modal_body .former{text-align: right; line-height: 34px; font-size: 14px; color: #333; padding-right: 10px;}
.landscape_dialog .pic_upload li{float: left; position: relative;}
.landscape_dialog .pic_upload li .closed{width: 29px; height: 29px; position: absolute; z-index: 5; right: 0; top: 0; background: url(../../images/purchase/close.png); display: none; cursor: pointer;}
.landscape_dialog .pic_upload li:hover .closed{display: block;}
.landscape_dialog .pic_upload .pic img{width: 304px; height: 142px;}
.landscape_dialog .pic_upload .pic2 img{width: 99px; height: 135px;}
.landscape_dialog .pic_upload .filing{width: 101px; height: 140px; width: 300px; }
.landscape_dialog .pic_upload .filing img,.landscape_dialog .pic_upload .filing input{width: 101px; height: 101px; position: absolute; left: 0; top: 0;}
.landscape_dialog .pic_upload .filing input{z-index: 5; opacity: 0; filter: alpha(opacity=0); font-size: 21px; width: 101px; height: 101px; }
.landscape_dialog .pic_upload .filing .red{position: absolute; top: 120px; font-size: 12px; color: #ff0000;}
/*添加商品*/
.add_dialog{width: 540px; margin-left: -270px; margin-top: -270px;}
.add_dialog .modal_body{height: 370px; padding: 15px;}
.add_dialog .modal-footer{text-align: center; border: 0;}
.add_dialog .warpBox{width: 100%;  height: 300px; overflow: auto;}
.add_dialog .goodsDetail{width: 485px; }
.add_dialog .goodsDetail li{height: 44px; border-bottom: 1px dashed #e1e1e1; font-size: 14px; color: #333; line-height: 44px;}
.add_dialog .goodsDetail li img{width: 30px; height: 30px; border-radius: 50%; border: 1px solid #e1e1e1; margin: 0 8px;}
.add_dialog .goodsDetail .names{display: inline-block; width: 260px;}
.add_dialog .goodsDetail .unit{color: #999;}
.add_dialog .goodsDetail .unit em{color: #333; font-style: normal; padding-left: 10px;}
.add_dialog .goodsDetail li.cur{background: url(../../images/purchase/bgk.png) no-repeat; border: 0;}
.public-search2 input.form-control[type="text"] {padding-right: 25px; padding-left: 8px; font-size: 12px; color: #999;}
.public-search2 .octicon-search02{left:initial; right: 8px;}
.pano_second .sed_item.sed_cur .selled{width: 54px; position: absolute; right: 0; top: 5px;  color: #fff;}
.pano_second .sed_item.sed_cur .selled span{background-color: #fff; border-radius: 2px; margin-right: 5px; color: #428bca;}
.pano_second .sed_item .selled{width: 54px; position: absolute; right: 0; top: 5px; color: #77818a;}
.pano_second .sed_item .selled span{border: 1px solid #428bca; border-radius: 2px; margin-right: 5px; color: #428bca;}