@charset "utf-8";
/* CSS Document */

body{ font-size:14px; font-family:'微软雅黑'; color:#3c3c3c;}
a:hover,a:active,a:visited,a:focus{ text-decoration:none;}
a:focus{ outline:none none; outline-offset:inherit; color:inherit;}
.fl{ float:left;}
.fr{ float:right;}
.mr5{ margin-right:5px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb30{ margin-bottom:30px;}
.ml10{ margin-left:10px;}
.ml20{ margin-left:20px;}
.pt15{ padding-top:15px;}
.pb15{ padding-bottom:15px;}
.pb20{ padding-bottom:20px;}
.pr10{ padding-right:10px;}
.clear{ clear:both;}
.clear:after,.clear:before{ clear:both; content:""; display:block; visibility:hidden; height:0;}
.star_red{ line-height:34px; padding:0 5px; color:red; font-family:'宋体';}
.star_red i{ padding-right:5px; font-family:'微软雅黑'; font-style:normal; color:#525252;}
p{ margin:0;}

.btn { height:34px; line-height:20px; padding:6px 19px; box-sizing:border-box; font-family:'微软雅黑';}
input[type=text].form-control{ height:34px; line-height:20px; padding:6px 10px; box-sizing:border-box; font-family:'微软雅黑';}
/* 日历小图标替换图标字体的样式 */
.form_datetime{ position:relative; width:100%;}
.form_datetime input{	width:100%;	height:34px; line-height:32px; padding:0 10px; border:1px solid #ccc; box-sizing:border-box;	}
.form_datetime .add-on{	position:absolute;	right:5px;	top:10px;	width:14px;	height:14px;	}
.form_datetime .add-on .icon-th{	display:block;	width:14px;	height:14px;	margin:0;	}
[class*=" datetimepicker-dropdown"]{	margin:12px 0 0 6px;	}
[class*=" datetimepicker-dropdown"]::before{ right:6px; top:-7px;}
[class*=" datetimepicker-dropdown"]::after{ right:7px; top:-6px;}
[class^="icon-"], [class*=" icon-"] {		background-position: 14px 14px;	background-repeat: no-repeat;	
display: inline-block;	height: 14px;	line-height: 14px;	margin-top: 1px;	vertical-align: text-top;	width: 14px;	}
.icon-arrow-left {	background-position: -240px -96px;	}
.icon-arrow-right {	background-position: -264px -96px;	}
.icon-ok{	background-position: -288px 0px;	}
.form_datetime .add-on .icon-th {	background-position: -240px 0;	}

/* 通用的面包屑导航 */
.farmHeader_wap{ width:100%; min-width:1160px; height:87px; border-bottom:1px solid #ddd;}
.farmHeader{ width:1160px; height:86px; margin:0 auto; overflow:hidden;}
.farmHeader_lt{ float:left;}
.farmHeader_rt{ float:right; margin-top:28px; padding-right:20px;}
.farmHeader_rt .egister{ float:left; width:97px; height:30px; line-height:30px; background:url(../images/registe2.png) no-repeat; text-align:center; font-size:16px; color:#fff;}
.farmHeader_rt .login{ float:left; height:30px; line-height:30px; margin-left:10px; font-size:16px; color:#444;}
.farmMain_wap{ width:1160px; margin:0 auto; padding-top:20px;}
.breadNav_wap{ height:45px; border-bottom:1px solid #ddd;}
.breadNav_lt{ float:left; line-height:42px;}
.breadNav_lt a{ font-size:14px; color:#323232;}
.breadNav_lt span{ padding:0 5px; font-size:16px;}
.breadNav_lt strong{ font-size:16px; font-weight:normal;}
.breadNav_rt{ float:right;}
.breadNav_rt .resumeList li{ float:left; line-height:42px;}
.breadNav_rt .resumeList li a{ display:block; padding:0 10px; font-size:14px; color:#323232;}
.breadNav_rt .resumeList li img{ float:left; margin:16px 5px 0 0;}
.breadNav_rt .resumeList li.cur{ border-bottom:2px solid #33aedc;}
/* 公用搜索 */
.search-header{ height:34px; margin-top:20px;}
.search-header-lt{ float:left;}
.search-header-lt .public-search{ position:relative; float:left; margin-right:5px;}
.search-header-lt .form-control{ width:264px; padding-left:25px; text-indent:0; color:#bababa;}
.octicon-search02 { background:url(../img/cjsearch_bg.png) no-repeat; display: block; float: left; height: 13px; left: 8px; position: absolute; top: 10px; width: 13px; z-index: 3;}


/* 表格模板 */
.tableModel{ border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; border-top:1px solid #e1e1e1; border-radius:10px 10px 0 0; border-collapse:separate; font-family:'微软雅黑'; color:#6c6a6b;}
.tableModel thead{ border-radius:10px 10px 0 0;}
.tableModel thead th ,.tableModel tbody td{ height:38px; text-align:center; border-bottom:1px solid #e1e1e1;}
.tableModel thead th{ height:42px; background:#f0f5fb; font-size:14px; font-weight:normal;}
.tableModel thead th:first-child{ border-radius:10px 0 0 0;}
.tableModel thead th:last-child{ border-radius:0 10px 0 0;}
.tableModel tbody tr td{ font-size:13px; background:#fcfcfc;}
.tableModel tbody tr.odd td{ background:#fbfcfe;}
.tableModel tbody tr.hover td{ background:#ecf7e6;}
.tableModel .icheckbox_minimal-blue, .tableModel .icheckbox_minimal-blue.checked{ display:inline-block; float:none; margin:0;}
.tableModel .iradio_minimal-blue, .tableModel .iradio_minimal-blue.checked{ display:inline-block; float:none; margin:0;}
.zt_a2,.zt_a1,.zt_a3,.zt_a4,.zt_a5,.zt_a6,.zt_a7,.zt_a8,.zt_a9,.zt_a10,.zt_a11,.zt_a12,.zt_a13,.zt_a14,.zt_a15{line-height:22px; font-size:12px; display:inline-block; padding-left:3px;}
.zt_a2 strong,.zt_a1 strong,.zt_a3 strong,.zt_a4 strong,.zt_a5 strong,.zt_a6 strong,.zt_a7 strong,.zt_a8 strong,.zt_a9 strong,.zt_a10 strong,.zt_a11 strong,.zt_a12 strong,.zt_a13 strong,.zt_a14 strong,.zt_a15 strong{ line-height:22px; display:inline-block; padding:0 10px 0 7px; font-weight:normal; margin-right:-3px; color:#6c6a6b;}

/* 基本信息 */
.titleH2{ height:48px; border-bottom:1px solid #e8e8e8; box-sizing:border-box;}
.titleH2 .ttl-lt{ float:left; line-height:47px; font-size:18px; font-weight:bold; color:#525252;}
.space6{ display:inline-block; width:6px;}
.space12{ display:inline-block; width:12px;}
.space24{ display:inline-block; width:24px;}
/* 客户信息表格 */
.customer-table{ border:1px solid #e2e2e2; font-size:12px;}
.customer-table td{ border-bottom:1px solid #e2e2e2; vertical-align:top;}
.customer-table .td-txt1{ line-height:22px; padding:9px 10px; box-sizing:border-box; background:#f0f5fb; font-weight:bold; text-align:right; color:#323232;}
.customer-table .td-txt2{ line-height:22px; padding:9px 10px; box-sizing:border-box; text-align:left; color:#646464;}
.customer-table .bor-rt{ border-right:1px solid #e2e2e2;}
.customer-pic img{ float:right; width:210px; height:210px; margin:20px;}
.mes_mailBtn{ text-align:center;}
.nav-tabs > li > a{ color:#525252;}

/* 添加红包样式 */
.messageTable{ margin-top:24px;}
.messageTable td{ padding-bottom:20px;}
.modalTable_minni td{ padding-bottom:20px;}
.messageTable .p_txt1{ float:left; line-height:34px; color:#777;}
.bootList220 .bootLi{ float:left; padding-bottom:20px;}
.bootTxt220{ float:left; width:220px;}
.bootTxt220 input{ width:100%; font-size:12px;}
.bootTextarea .area_textarea{ width:300px; height:82px; resize:none;}
.bootData220{ float:left; width:220px;}
.bootData220 .form_datetime{ width:100%;}
.bootSelt220{ float:left; display:inline-block;}
.bootSelt220 .bootstrap-select{  width:220px;}
.bootSelt220 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:220px;}
.bootSelt220 .bootstrap-select span{ font-size:12px; font-family:'微软雅黑';}
.bootSelt220 .bootstrap-select > .btn{ height:34px;}
.bootstrap-select.btn-group .dropdown-menu{ max-width:220px;}/* 下拉框最大宽度控制 */
.datetimepicker{ margin-left:8px;}

/* 领取记录样式 */
.claim_total .c_items{ float:left; height:20px; line-height:20px; padding-right:30px; font-size:14px; color:#323232;}
.claim_total .c_items .c_icon{ display:inline-block; width:20px; height:20px; margin-right:5px; background-image:url(../../images/order/ClaimRecord_icon1.png); background-repeat:no-repeat; vertical-align:top;}
.claim_total .c_items .iconc1{ background-position:0 0;}
.claim_total .c_items .iconc2{ background-position:0 -39px;}
.claim_total .c_items .iconc3{ background-position:0 -79px;}

/* 分页模板 */
.pageModel{border:1px solid #e1e1e1;border-radius:5px;border-collapse:separate;font-size:12px}
.pageModel span{float:left;height:32px;line-height:32px;border-right:1px solid #e1e1e1}
.pageModel span:first-child a,.pageModel span.page_first a{border-radius:4px 0 0 4px}
.pageModel span:last-child,.pageModel span.page_last a{border-right:0}
.pageModel a{display:block;padding:0 13px;color:#9a9a9a;text-decoration:none}
.pageModel a:link,.pageModel a:hover,.pageModel a:focus,.pageModel a:visited{text-decoration:none}
.pageModel .page_Cur a{background:#f6f6f8;color:#0088d2}
.pageModel .pageCount a:hover{color:#9a9a9a}
.pageModel .current{background:#f6f6f8;color:#9a9a9a;padding:0 13px}
/*  分页模板新增的跳转样式 */
.pageModel_wap{padding:40px 0;}
.pageModel_wap > table{ margin:0 auto;}
.pageModel_wap .pageModel{margin:0}
.page_jumpTo{height:32px;line-height:32px;margin-left:10px;border:1px solid #e1e1e1;border-radius:5px;box-sizing:content-box;text-align:center;color:#9a9a9a;overflow:hidden}
.page_jumpTo .txt_txt{padding:0 13px}
.page_jumpTo .txt_ipt{border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1}
.page_jumpTo .txt_ipt input{width:60px;height:32px;border:0;text-align:center;font-size:12px;color:#6c6a6b}
.page_jumpTo .txt_btn .determine_btn{display:block;width:50px;height:32px;border:0;background-color:#f6f6f8;font-size:12px;color:#9a9a9a;cursor:pointer}


/*2016.9.21  红包设置*/
.setContent{width: 455px; height: auto; margin: 0 auto; font-size: 14px; color: #323232;}
.setContent td{vertical-align: top; padding-top: 10px; padding-bottom: 10px;}
.setContent td.item{text-align: right; padding-right: 10px; line-height: 32px;}
.setContent .filing{width: 300px; height: 140px; position: relative; margin-bottom: 10px; }
.setContent .filing input,.setContent .filing img{position: absolute; top: 0; left: 0;}
.setContent .filing input{width: 101px; height: 101px; font-size: 20px; opacity: 0; filter: alpha(opacity=0); z-index: 2; }
.setContent .redTip{font-size: 12px; color: #ff0000;}
.setContent input.txtInput{width: 220px; height: 32px; line-height: 32px; font-size: 12px; color: #333; border: 1px solid #ccc; border-radius: 4px; text-indent: 10px;}
.setContent .btns{margin-top: 35px; text-align: center;}
.icheckbox_minimal-blue, .icheckbox_minimal-blue.checked {margin-top: 7px;}

.filepic {display: inline-block;position: relative;width: 130px;height: 130px;margin: 10px 10px 10px 0;background: url(../../images/settings/fileImg_btn130.jpg) no-repeat;vertical-align: top;overflow: hidden;}
.fPicture {position: relative;display: inline-block;width: 130px;height: 130px;border: 1px solid #eaeaea;box-sizing: border-box;margin: 10px 10px 10px 0;vertical-align: top;}

