/* CSS Document */
body {
    color: #000;
    font-family:'微软雅黑';
    font-size: 12px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}
textarea {font-size:12px;}
a:focus { outline-style: none; }
h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p,input,a {
    border: medium none;
    list-style-type: none;
    margin: 0;
    padding: 0;
	text-decoration:none;
}
.main{ width:100%; min-width:1002px; width:expression(document.body.clientWidth < 1002 ? "1002px": "auto" ); margin:0 auto; overflow:hidden;}
.main_top{ width:100%; height:69px; margin:0 auto; background:url(../../images/order/top_bg_02.jpg) repeat-x;}
.ind{ width:330px; height:69px; float:left;}
.ind_rig{height:59px; float:right; vertical-align:middle; margin-right:15px; padding-top:10px; }
.ind_rig_dt{ width:43px;height:37px; background:url(../../images/order/phto_01.png) center no-repeat;}
.ind_ul td a{ text-decoration:none;}
.wel_bg span{  background:url(../../images/order/phto_04.png) left 0px no-repeat ; float:left; display:block;width:auto;margin-left:4px; padding-left:3px;height:21x; line-height:21px; cursor: pointer; font-size:12px;}
.wel_bg span strong{ height:21px; display:block;background:url(../../images/order/phto_04.png) right 0 no-repeat; float:right; padding:0 4px; width:auto; color:#6bcb1d; margin-right:-4px; *margin-right:0; }
.m_top2{ width:100%; height:54px; margin:0 auto;}
.m_top2_td{ width:100%;height:54px; background:url(../../images/order/top_t_03.png) repeat-x;}

/*第二行有图标的开始*/
.top_tab{float:left; margin-right:27px;}
.qinggou{ width:42px; height:54px; background:url(../../images/order/top_tic_03.png) center no-repeat; padding-right:5px;}
.caiwu{ width:42px; height:54px; background:url(../../images/order/top_tic_05.png) center no-repeat; padding-right:5px;}
.dinggou{ width:42px; height:54px; background:url(../../images/order/top_tic_07.png) center no-repeat; padding-right:5px;}
.xiaoliang{ width:42px; height:54px; background:url(../../images/order/top_tic_09.png) center no-repeat; padding-right:5px;}
.shoukuan{ width:42px; height:54px; background:url(../../images/order/top_tic_13.png) center no-repeat; padding-right:5px;}
.kucun{ width:42px; height:54px; background:url(../../images/order/top_tic_15.png) center no-repeat; padding-right:5px;}
.top_tic{ height:27px;}
.top_tic span{background:url(../../images/order/top_tci.png) left 0px no-repeat; float:left; display:block; width:auto; font-family:'宋体'; font-size:12px; height:18px; line-height:18px; padding-left:5px;cursor: pointer;}
.top_tic span strong{ height:18px; display:block; width:auto; background:url(../../images/order/top_tci.png) right 0 no-repeat; padding:0 4px; color:#ffffff; margin-right:-4px;}
/*第二行有图标的结束*/

.al_div{ width:100%; margin:10px auto 0;}
.left_t{width:200px; height:33px; background:url(../../images/order/left_menu_28.png) no-repeat; line-height:33px; color:#fffdf6; font-size:16px; text-align:center;}
.left_top_bg{ width:212px; height:7px; background:url(../../images/order/left_top_bg.png) center bottom no-repeat;}
.left_cen_bg{ width:200px; padding:0 6px; background:url(../../images/order/left_cen_bg.png) center repeat-y;}
.left_bot_bg{ width:212px; height:21px; background:url(../../images/order/left_bot_bg.png) center repeat-y;}





/*右边菜单开始*/
.right_b{ width:21px; height:795px; }
.left_b{ width:21px; height:795px;}
.top_b_g{ width:100%; height:12px; }

.bot_b_g{}

/*.list_home{ padding-left:10px; color:#4c555a;}
.list_home a{ color:#4c555a;}
.list_menu_2{height:21px; margin:11px 10px auto auto; float:right;}
.list_menu_2 ul{ margin-left:20px;}
.list_menu_2 ul li{ float:left;}*/


.list3{ width:800px; float:right; margin-top:8px; margin-right:10px; font-size:12px; }
.list3 ul{height:26px;}
.list3 li{float:right; width:auto;padding-right:10px; padding-left:10px; background:url(../../images/order/tjx_03.jpg) right no-repeat; height:26px; line-height:26px;}
.list3 li a{ color:#000000;font-family:'宋体'; font-size:12px; }
.list3 .onmenu {padding:0;width:auto;display:block; font-weight:bold; background:url(../../images/order/on_menu.jpg) 0 0 no-repeat;padding-left:5px; height:26px; line-height:26px;  }
.list3 .onmenu strong{ display:block;width:auto;background:url(../../images/order/on_menu.jpg) right no-repeat; padding:0 10px 0 5px;  cursor: pointer; font-weight:normal;font-family:'宋体'; font-size:12px;  }









.car_bn{background: url(../../images/order/t_bgt_09.jpg) repeat-x; height:31px; line-height:31px; text-align: left;color:#038b5d; padding-left:10px; border-bottom:1px solid #c7cede; border-left:1px solid #c7cede; border-right:1px solid #c7cede;}
.car_bn a{color:#038b5d; text-decoration:none;}
.usre_name{ width:96%; padding-left:30px; margin-bottom:30px; float:left;}
.usre_name ul li{ float:left; margin:6px 0;}
/*.search_table{  width:100%;padding:15px 0; background:#ffffff; }
*/
.s_t_inp{ color:#0f3152;font-family:"微软雅黑"; font-size:12px; padding-right:5px; float:left; margin-right:15px;}
.s_t_text{ border:1px solid #7db6da; width:140px; float:left; margin-right:15px;}



--> /*=====================Right===========================*/
.stripe {clear: both; margin-top:0px; margin-left:auto; margin-right:auto;  border:1px solid #a2cbe7; }

.stripe th { background:url(../../images/order/bg_bg_33.jpg) repeat-x; height:34px; font-family:"宋体"; font-size:14px; color:#000000; font-weight:normal; border-bottom:1px solid #c7c7c7; border-top:1px solid #c7c7c7;}

.stripe td {  color:#31393d; font-family:"宋体";  }

.stripe td a{ color:#31393d; text-decoration:none;font-family:"宋体";}

.stripe3 {clear: both; margin-left:auto; margin-right:auto; margin-bottom:0; border:0px solid #a2cbe7; background-color:#ffffff; width: 100%;}

.stripe3 th { background:url(../../images/order/bg_bg_33.jpg) repeat-x; height:26px; font-family:"宋体"; font-size:12px; color:#000000; font-weight:bold; border-bottom:1px solid #c7c7c7; border-top:1px solid #c7c7c7;}

.stripe .stripe3 td {color:#31393d; font-family:"宋体"; border-bottom:1px solid #cbd6da;}

.stripe3 td a{ color:#31393d; text-decoration:none;font-family:"宋体";}


.i_see{ width:18px; height:18px; background:url(../../images/order/tubiao.gif) 0px 0px no-repeat; display:block;float:left; }
.i_left{ float:left;margin-right:5px; display:block; word-break : break-all;}
.i_edit{ width:18px; height:18px; background:url(../../images/order/tubiao.gif) 0px -20px no-repeat; display:block;float:left; }
.i_allot{ width:18px; height:18px; background:url(../../images/order/tubiao.gif) 0px -180px no-repeat; display:block;float:left; }
.i_starts{ width:18px; height:18px; background:url(../../images/order/tubiao.gif) 0px -60px no-repeat; display:block;float:left; }
.i_ends{ width:18px; height:18px; background:url(../../images/order/tubiao.gif) 0px -80px no-repeat; display:block;float:left; }
.i_delete{ width:18px; height:18px; background:url(../../images/order/tubiao.gif) 0px -40px no-repeat; display:block;float:left; }
.stripe .ps td{ border:none;}

.i_see{ width:18px; height:18px; background:url(../../images/order/tubiao.gif) 0px 0px no-repeat; display:block;float:left; }
.i_left{ float:left;margin-right:5px; display:block; word-break : break-all; }
.i_edit{ width:18px; height:18px; background:url(../../images/order/tubiao.gif) 0px -20px no-repeat; display:block;float:left; }
.i_delete{ width:18px; height:18px; background:url(../../images/order/tubiao.gif) 0px -40px no-repeat; display:block;float:left; }

/*右边菜单结束*/

/*右边编辑菜单开始*/
.stripe2{  background:#c5cbd9; margin-left:8px; margin-right:8px; width:98%;clear:both;}
.stripe2 td{ background-color:#FFFFFF; text-align:left; padding-left:30px; }
.stripe2 select{ width:180px; }
.s_input_bg{ width:200px; height:26px; line-height:26px; background:url(../../images/order/input_bg.jpg) right no-repeat; padding:0 2px;}
.stripe2 input[type="radio"]{ width:10px; background:none; }
.stripe2 textarea{ width:300px; }
.stripe2 .bgc1{background-color:#f4fcff;}
.red{ color:#FF0000; }
.un_menu{width:160px; height:128px; overflow:auto; border:1px solid #7f9db9; text-align:left; float:left;}
.un_menu ul{ padding:0 5px;overflow:auto;}
.un_menu2{width:148px; text-align:center; padding:20px 0; float:left;}
.un_menu3{width:160px; height:128px; border:1px solid #ccc; float:left;overflow:auto;}
.un_menu3 ul{ padding:2px 5px;overflow:auto;}
.t8{margin-top:28px; margin-bottom: 50px; margin-left: 4px;
}
.seach_bn a{ float:left; display:block; margin-left:10px; cursor: pointer;}

/*右边编辑结束*/
.clear{ clear:both;}

.footer{ width:100%; height:40px; line-height:40px; text-align:center; background:url(../../images/order/footer_bg_10.png) repeat-x; font-size:12px; color:#ffffff;}

/*===========新样式开始==================*/
.left_m{background:url(../../images/order/list_t.png) no-repeat;  height:37px;width:200px; }

--> /*=====================Right===========================*/
.stripe {
	background: #dcdcdc;
	clear: both;
	width:100%;
}

.right_coment {
	margin-left:-1px; z-index:5; position:relative;
	
	width:100%;
}
.rigtjr{ _width:99.9%;height:100%; _overflow:hidden;}

.right_top {
	background: url(../../images/order/y_lb.jpg) repeat-x;
	height:34px;
}

.right_l {
	background: url(../../images/order/y_lt.png) no-repeat;
	height:34px;
}

.right_r {
	background: url(../../images/order/y_lbb.png) right 0 no-repeat;
	height:34px;line-height:34px;
	text-align: left;
	padding-left: 20px;
}


.con_left {
	
}
.con_right { 
	 background-color:#ffffff; padding-bottom:10px; min-height: 760px;
}
.right2_c {
	background: url(../../images/order/y_lc.jpg) repeat-x;
	height: 12px;
}

.right2_l {
	background: url(../../images/order/y_bl.jpg) no-repeat;
	height: 12px;
}

.right2_r {
	background: url(../../images/order/y_lf.jpg) right 0 no-repeat;
	height: 12px;
}

.search_table .input {
	display: block;
	float: left;
	margin-right: 10px; border:1px solid #7db6da; width:140px;
	margin-left: 3px;
}

.search_table .input input {
	border: none;
	background: none;
	width:140px;
	height: 20px;
	line-height: 20px;
}

.search_table .input22 {
	width: 157px;
	height: 21px;
	display: block;
	float: left;
	margin-right: 10px;
}

.seach_bn a {
	background: url(../../images/order/bg.png) -355px 0px no-repeat;
	float: left;
	display: block;
	width: auto;
	left: 8px;
	padding-left: 3px;
	height: 21px;
	line-height: 21px;
	line-height: 24px\9; *
	line-height: 24px;
	_line-height: 24px;
	cursor: pointer;
	z-index:1; position:relative;
}

.seach_bn1 a {
	background: url(../../images/order/bg.png) -355px 0px no-repeat;
	float: left;
	display: block;
	width: auto;
	margin-left: 8px;
	padding-left: 3px;
	height: 21px;
	line-height: 21px;
	line-height: 24px\9;
	line-height: 24px;
	_line-height: 24px;
	cursor: pointer;
}

.seach_bn a strong {
	display: block;
	background: url(../../images/order/bg.png) right 0 no-repeat;
	padding: 0 10px;
	width: auto;
}
td .chakan{ width:47px;float:left;display:block;}
td .chakan1{width:73px;float:left;display:block;}
td .chakan2{width:85px;float:left;display:block;}
td .chakan3{width:97px;float:left;display:block;}

td .ps{text-align:center;}

 /*===================导航补充===================*/

#nav {
	width: 198px;
	list-style-type: none;
	text-align: left;
}

#nav a {
	width: 168px;
	display: block;
	height: 37px;
	line-height: 37px;
	padding-left: 30px;
}

#nav li {
	background: url(../../images/order/8_09.jpg);
	background-repeat: no-repeat;
	float: left;
}
#nav li a:hover {
	cursor: pointer;
}

#nav a:link {
	color: #474747;
	font-weight: bold;
	text-decoration: none;
}

#nav a:visited {
	color: #474747;
	font-weight: bold;
	text-decoration: none;
}

#nav a:hover {
	color: #016aa1;
	text-decoration: none;
	font-weight: bold;
}

#nav li ul {
	list-style: none;
	text-align: left;
	padding: 0;
}
#nav li ul li {
	background: none;
}
#nav li ul a {
	width: 168px;
}

#nav li ul a:link {
	color: #666;
	text-decoration: none;
}

#nav li ul a:visited {
	color: #666;
	text-decoration: none;
}

#nav li ul a:hover {
	color: #ffffff;
	font-weight: bold;
	background-color: #2883b0;
	text-decoration: none;
}

#nav li ul .onss {
	background-color: #2883b0;
	color: #ffffff;
}

#nav .on {
    background: url(../../images/order/8_08.jpg) no-repeat scroll 0 0 transparent;
    float: left;
}

#nav li:hover ul {
	left: auto;
}

#nav ul.collapsed {
	display: none;
}

.bg{ background-image:url(../../images/order/bg.png);}
.bg2{ background-image:url(../../images/order/bg2.png);}
.left_coment{ width:212px; padding-top:7px;}

--> /*=====================Right===========================*/
.seach_bn2_a{width:110px;height:31px;float:right;margin-right:33px;}
.i_left2,.i_left3,.i_left4{ float:left;margin-right:0px;text-align:right; display:block; word-break : break-all;}

/* 搜索五字span*/
.i_left2{width: 60px;}
/* 搜索五字span结束*/

/* 非INPUT搜索样式*/
.search_table .select {display: block;float: left;margin-right: 10px; margin-left: 3px;}
.search_table .select select { width:143px; height: 22px; line-height: 22px;}
/* 非INPUT搜索样式结束*/

/* 搜索五字文本INPUT*/
.search_table .input2 {display: block;float: left;margin-right: 10px; border:1px solid #7db6da; width:130px;margin-left: 3px;}
.search_table .input2 input {border: none; background: none; width:130px; height: 20px; line-height: 20px;}
.search_table .select2 {display: block;float: left;margin-right: 10px; margin-left: 3px;}
.search_table .select2 select { width:133px; height: 22px; line-height: 22px;}
/* 搜索五字文本INPUT结束*/

/*日历控件搜索样式*/
.rich-calendar-input{width: 120px;height:20px; line-height:20px; border:1px solid #7db6da;}
/*日历控件搜索样式结束*/

.box_title_a .i_left{ float:left;margin-right:0px;text-align:right; display:block; word-break : break-all;width:50px;}
.i_lefte{ float:left;margin-right:0px;text-align:right; display:block; word-break : break-all;}
.box_title_a{ display:inline;width:210px;float:left;line-height:25px;line-height:25px\9;*line-height:25px;_line-height:25px;}
.search_table{ width:100%; padding:17px;}


/*新页面*/
.j001{width:21px; height:12px; overflow:hidden; *margin-bottom:-1px;}
.j002{  width:21px; height:12px;overflow:hidden; *margin-bottom:-1px;}
.j003{}
.j004{ }
.center_box{ overflow:hidden;/*padding-right:8px;*/}
.str_box{ width:98%; margin-left:auto;margin-right:auto;}
.seach_bn2_b{ float:left;height:31px;}

.dr-table-cell{font-size: 12px;};


/*编辑页面开始*/
.jb_font{ font-size:14px; color:#000000; font-weight:bold; height:35px; line-height:35px;  font-family:"宋体";}
.input_list{ width:328px; height:22px; float:left; margin-top:25px;}
.input_list2{ width:328px; height:22px; float:left; margin-top:25px; width: 100%;}
.input_text{ width:110px; float:left; height:22px; line-height:22px; text-align:right; font-weight:bold; font-size:12px; margin-right:15px; color:#494949;}
.input_type input,.input_type select{ width:185px; height:22px; line-height:22px; border:1px solid #d8e3e9;}
.input_type input[type=radio]{border:none;}

.input_ma{ width:800px; float:left; margin-top:25px;}
.input_mb{ width:700px; float:left; margin-top:-3px; text-align: right;}
.input_te_ma{ width:110px; float:left; height:22px; line-height:22px; text-align:right; font-weight:bold; font-size:12px; margin-right:15px; color:#494949;}
.input_are{ float:left;}
.input_are textarea{ border:1px solid #d8e3e9; font-size:12px;}

.mar{ height:2px;}
.miaoshu{ width:100%;  text-align:left; margin-top:25px;  font-family:"宋体";}
.jbxx2{ width:93%; background:url(../../images/order/top8_03.jpg) center top repeat-x; min-height:85px;   font-family:"宋体";}
.jbxx{ width:100%; margin:30px auto 0 auto;  font-family:"宋体";}
.jbxx3{ width:100%; margin:30px auto 0 auto;  font-family:"宋体"; text-align: left}
.errors input, .errors textarea, .errors select {
    border: 1px solid red !important;
}
.value {
    float: left;
    padding: 1px;
}
.notice_b{ width:3px; height:40px;margin-left:22px;background:url(../../images/order/notice.png) left center no-repeat; float:left; _filter:alpha(opacity=80)}
.notice{ height:40px; line-height:40px; background:url(../../images/order/notice_bg.png) repeat-x; position:relative; z-index:998; width:96%; border:1px solid #b8c0c2; text-align:left; text-indent:10px; top:84px; margin-left:3px; overflow:hidden; margin-top:-42px; _filter:alpha(opacity=80) }

/*编辑页面结束*/

/*详情页面开始*/
.xq_font{ font-size:14px; color:#494949; font-weight:bold; height:35px; line-height:35px;  font-family:"宋体";}
.miaoshub{ width:93%; height:50px; text-align:left; margin-top:25px;padding:0 70px;   font-family:"宋体";}
.input_listb{ min-width:150px; float:left; margin-top:25px; text-align:left; padding:0 20px;}
.input_textb{font-size:14px;  font-family:"宋体"; min-width:65px; float:left; height:22px; line-height:22px; text-align:right; padding-left:44px; margin-right:15px; font-weight:bold;}
.in_div{ width:93%; background:url(../../images/order/top8_03.jpg) center top repeat-x; margin:10px auto 0 auto; min-height:35px;   font-family:"宋体";}
.input_span{width:8%; height:50px; text-align:right; font-size:12px;  font-family:"宋体"; font-weight:bold;color:#494949;}
.input_span_2{width:10%; height:50px; text-align:right; font-size:12px;  font-family:"宋体"; font-weight:bold;color:#494949;}
.input_sp_2{ width:17%; height:50px;font-size:12px;  font-family:"宋体";}
.input_sp_3{ font-size:12px;  font-family:"宋体";}
/*详情页面结束*/

/*必填项提示开始*/
.required {
	color: #F00;
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 2px;
	text-align: left;
}
/*必填项提示结束*/

.list_menu_2{ width:98%; margin:0 auto 0px;padding-top: 8px;}
.list_menu_2 ul{ margin-left:20px;}
.list_menu_2 ul li{ float:left; border-bottom:1px solid #8fbfe7; padding-top: 5px; margin-bottom: 6px;}

/*4级菜单*/
.list_li1 a{background:url(../../images/order/hot_17.png) left 0px no-repeat; float:left; display:block; width:auto; font-family:'宋体'; font-size:12px; height:21px; line-height:21px; padding-left:18px;cursor: pointer; color:#000000; z-index:20; position:relative; top:1px; }
.list_li1 a strong{ height:21px; display:block; width:auto; background:url(../../images/order/hot_18.png) right 0 no-repeat; padding-left:20px; padding-right:48px; color:#ffffff; font-weight:normal; color:#000000; z-index:20; position:relative; right:-16px; }
.list_li1.hover a{ float:left; display:block; width:auto; font-family:'宋体'; font-size:12px; height:21px; line-height:21px;cursor: pointer; color:#000000; z-index:100; position:relative; }
.list_li1.hover a strong{height:21px;  display:block; width:auto;  padding-left:20px; padding-right:48px; right:-16px; color:#ffffff; font-weight:normal; color:#000000; z-index:2; position:relative;}

/*4级菜单*/

/** 列表弹出div样式 begin */

.dr-mpnl-pnl-text {
    color: #000000;
    font-family: 宋体;
    font-size: 12px;
    font-weight: bold;
}
.dr-mpnl-pnl-h {
    background-color: none;
    background-image: url("../../images/tck_bg_14.jpg");
	background-repeat:repeat-x;
    border:none;
	padding:0;
	height:28px;
	line-height:28px;
	text-indent:20px; color:#ffffff;
}
.dr-mpnl-pnl{padding:0;}
.dr_input2{ border:1px solid #ccc;}
.rich-mpnl-controls {
    position: absolute;
    right: 3px;
    top: 7px;
    z-index: 1;
}
/** 列表弹出div样式end */

/*客户详情页面开始*/
.bjym_2{ width:93%; min-height:85px;   font-family:"宋体";}
.bjym{ width:70%; float:left;}
.bj_name{ height:40px; line-height:40px; font-size:30px; font-weight:bold; color:#585757; float:left;}
.pinyin{ height:40px; line-height:40px; font-size:18px; font-weight:bold; color:#585757; margin-left:20px; float:left;}
.left2{ text-align:left; padding:10px 0;}
.right2{ text-align:right; padding:10px 0;}
.e2{ width:12%;}
.e8{ width:48%;}
.e0{ width:10%;}
.e3{ width:30%;}
.bj_user{ width:30%px; float:left;}
.user_pic{ width:128px; height:117px; border:1px solid #c8c8c8;}
.user_infor{ width:150px; float:left; padding:0 8px;}
.us_td{ width:40%; height:25px; text-align:right;}
/*客户详情页面结束*/


/*在线下单样式开始*/
/*呼叫中心*/
.call_com{ width:95%;background-color:#FFFFFF; padding:15px; margin-left:auto;margin-right:auto;}
.call_title{ height:21px; line-height:21px; }
.cals_table001{ width:100%;}

.list_block{width:100%; margin: 0 auto 20px;}
.list_title{ text-indent:30px; text-align:left; font-size:16px; color:4e4e4e; margin-bottom:15px;}
.list_title01{height:16px; line-height:15px; background:url(../../images/order/2_03.jpg) no-repeat; border-bottom:1px solid #DADADA; padding-bottom:8px;}
.list_title02{height:22px; line-height:22px; background:url(../../images/order/xgsp_07.jpg) no-repeat; border-bottom:1px solid #DADADA; padding-bottom:8px;}
.list_title03{height:17px; line-height:17px; background:url(../../images/order/people_03.jpg) no-repeat; border-bottom:1px solid #DADADA; padding-bottom:8px;}
.list_title04{height:18px; line-height:17px; background:url(../../images/order/psfs.jpg) no-repeat; border-bottom:1px solid #DADADA; padding-bottom:8px;}
.list_title05{height:16px; line-height:16px; background:url(../../images/order/zffs_07.jpg) no-repeat; border-bottom:1px solid #DADADA; padding-bottom:8px;}
.list_title06{height:16px; line-height:13px; background:url(../../images/order/fp_07.jpg) no-repeat; border-bottom:1px solid #DADADA; padding-bottom:8px;}
.list_title07{height:16px; line-height:13px; background:url(../../images/order/list_10.jpg) no-repeat; border-bottom:1px solid #DADADA; padding-bottom:8px;}

.list_ta{ float: left;}
.list_td{background:url(../../images/order/calls_y8.jpg) right  repeat-y;}
.list_ta01{}
.lis2_table{ width:98%;margin-left:auto;margin-right:auto; background:#fdfdfd; border-collapse:collapse; border-top:1px solid #DADADA;}

.list_font{ font-family:"宋体"; font-size:12px;}
.calldt{border-bottom:1px dotted #dadada; padding-left:5px;padding-right:5px; height:50px; font-family:"宋体"; font-size:12px;}
.call_rtd{border-right:1px solid #dadada;}
.call_ld{border-right:1px solid #dadada;border-left:1px solid #dadada;border-bottom:1px solid #dadada; padding:15px;}
.call_f1{ color:#497a9b;}

.call_po td{ border:none;} 
.call_po img{ border:1px solid #d2e5f0;}
.call_po{margin-top:8px; margin-bottom:8px;} 

.input select{width: 140px;	height: 20px;display: block;float: left;margin-right: 10px; border:0px solid #d8e3e9;}

/*购物车样式开始*/
.car_list{width:100%;}
.car_table{border-collapse:collapse; border:1px solid #a3cae7;font-family:"宋体";}
.car_table th{ height:34px; line-height:34px;border-bottom:1px solid #CCC; font-weight:normal; color:#303133; border-right:1px solid #cbd6da;}
.car_table td{  overflow:hidden; color:#303133; border-bottom:1px solid #CCC; border-right:1px solid #cbd6da;}
.car_table td td{ border:none;}
.car_text{ font-size:14px; font-family:"Arial";}
.car_text b{ font-family:"微软雅黑";}
.car_text2{ font-size:14px; font-weight:bold; font-family:"微软雅黑";}
.car_text3{ font-family:"Arial"; color:#e76915; font-size:20px;}
.car_text4{ font-family:"微软雅黑"; font-size:20px; color:#e76915; }
.car_dl{ float:left;text-indent:20px; font-size:14px; font-weight:bold; color:#23548e; background:url(../../images/order/qg_23.jpg) left center no-repeat; margin-top:40px; margin-bottom:40px; margin-left:30px;}
.car_dl a{ text-decoration:none;font-size:14px; font-weight:bold; color:#23548e; }
.car_ul{padding-right:20px; text-align:right; float:right;}
.car_ul ul li{ line-height:30px;}
.car_span{ width:100px; text-align:right;}
.td_img{width:75px; height:75px; border:1px solid #ccc; display:block;}
.carpage{ padding:0 4px;}
.carpage input{ width:36px; height:20px; border:none; background:url(../../images/order/no_28.jpg) no-repeat; text-align:center;}
.td_r02{ border-right:0px solid #cbd6da;}
.car_button{ width:100%; height:36px; text-align:right; margin-top:15px;}
.car_button img{ margin-left:10px;}
/*购物车样式结束*/
/*在线下单样式结束*/

/*填写配送信息开始*/
.people_02{ width:100%; padding:5px 0;font-family:"宋体"; }
.people_02 ul li{padding:0 20px 0 15px;}
.people_02 ul li table td{ line-height:25px; padding:5px 0; vertical-align:middle; }
.font_mr{font-size:12px; font-weight:bold; color:#ff6600;}
.address{ font-size:14px; font-weight:bold; color:#3a3a39; text-align:left;margin-right:20px;}
.address{max-width:600px; float:left;}
.delete{font-size:12px; font-weight:normal; color:#4549ff;}
.delete a{ text-decoration:none; color:#4549ff;}
.font_name{ color:#3a3a39; text-align:left;margin-right:20px; font-size: 12px;}
.on_more{ background:#e3f8ff; border:1px solid #ade1f6;}
.on_more2{ background:#e3f8ff; border:1px solid #ade1f6;}
.message{height:26px;padding: 4px 0;}
.label{color: #666666; float: left;  height: 26px; line-height: 26px; margin-right: 5px; text-align: right; width: 85px;}
.label font{margin-right: 5px;}
.textbox{ border: 1px solid #CCCCCC;  font-family: Arial,"宋体";  height: 16px;  padding:2px 3px; width: 150px;}
.field{ float: left; height: 26px; line-height: 26px;}
.span_area select{ width:100px; height: 22px; margin: 2px 5px 0 0;}
.textbox02{ border: 1px solid #CCCCCC;  font-family: Arial,"宋体";  height: 16px;  padding:2px 3px; width:303px;}
.psfs{ text-align:left; padding-left:25px;font-family:"宋体";} 
.psfs dt{ height: 30px;  line-height: 30px; vertical-align: middle;}
.psfs dt input[type="radio"]{ margin-right: 8px; vertical-align: middle;}
.psfs dd input[type="checkbox"]{ margin-right: 8px; vertical-align: middle;}

.psfs dd{padding:5px 0 5px 20px; }
.ps_box{ border: 1px solid #CCCCCC;  font-family: Arial,"宋体";  height: 16px;  padding:1px 3px; width: 138px;}
.spafo{ margin-left:10px; color:#999999;}
.fap_ul{ text-align:left;font-family:"宋体"; padding-left:40px;}
.fap_ul li{ padding:5px 0; line-height:25px; }
.fap_ul li input[type="radio"]{margin-right: 8px; vertical-align: middle;}
.list_title06 input[type="checkbox"]{ margin-left:10px; vertical-align: middle;}

.yhq_n{ color:#275892; font-weight:bold;}
.car_table img{border:none;}
.car_table td td{ overflow:hidden; color:#303133; border-bottom:1px solid #CCC; border:none;}
.yh_01td{ padding-left:20px;}
.yh_02td{ padding-left:40px;}
.yh_02td table{ border-top:1px solid #aec7e5; border-left:1px solid #aec7e5; border-right:1px solid #aec7e5;}
.yh_02td th{ background:#edf6ff; border-bottom:1px solid #aec7e5; border-right:none; border-left:none; border-top:none; color:#333333; font-weight:bold; text-align:center;}
.yh_02td table td{ border-bottom:1px solid #aec7e5; border-right:none; text-align:center;}
.yhj_e{font-size:16px;  color:#E76915; font-family:Tahoma, Geneva, sans-serif; font-weight:bold;}
.sy_yh a{ color:#004efe; text-decoration:underline;}
/*填写配送信息结束*/

/*详情开始*/
.sjw_03{ text-align:left; padding-left:30px;}
.sj_name{ text-align:left; min-width:300px; _width:300px; float:left; line-height:25px;}
.sj_address{text-align:left;line-height:25px; padding:5px 0;}
/*详情结束*/

.won_top{ width:100%; height:95px; background:#fdfdfd; border:1px solid #afc7e1; margin:25px 0;}
.won_pic{ width:280px; height:95px; line-height:95px; background:url(../../images/order/right_03.jpg) left center no-repeat; margin-left:30px; font-size:20px; color:#4d4d4d; float:left;}
.won_zt{height:95px; line-height:95px; text-align:left;}
.won_span01{ font-family:"宋体"; font-size:14px; font-weight:bold; color:#4d4d4d;}
.won_span02{ font-size:20px; font-weight:bold; color:#ff4800;}
.won_dd{background:url(../../images/order/bg_dd_07.jpg) left no-repeat; width:130px; height:36px; line-height:36px; font-family:"宋体"; font-size:16px; font-weight:bold; color:#4d4d4d; text-align:left; float:left;}
.won_dt_list{ width:100%; border:1px solid #afc7e1; margin-top:-1px;}
.won_cont{ padding:0 20px; margin:0 auto;}
.won_ull{ text-align:left; padding:15px 0;}
.won_ull li{ line-height:25px; padding:5px 0;}
.won_hao02{ font-family:"宋体"; font-size:12px; font-weight:bold; color:#4d4d4d;}
.won_sap02{font-size:18px; color:#006ab7;}
.won_sap03{font-size:20px; color:#ff0000;}
.won_sap04{ font-family:"宋体";}
.won_reten{ height:36px; text-align:left; margin-top:15px;}


/*添加关系样式开始*/
.gx_com{ width:900px; background-color:#FFFFFF; padding:15px; margin-left:auto;margin-right:auto;}
.gx_btjr{ width:100%; height:30px; line-height:30px; text-align:right; margin-bottom:20px; margin-top:12px;}
.input_gx {
    border: 1px solid #7DB6DA;
    display: block;
    float: left;
    margin-left: 3px;
    margin-right: 10px;
    width: 140px;
}
.input_gx select{width: 140px;	height: 20px;display: block;float: left;margin-right: 10px; border:0px solid #d8e3e9;}
.box_gx{ display:inline;width:360px; height:20px; float:left;line-height:19px;}

.box_gx .gx_left {
    display: block; height:20px; line-height:20px;
    float: left;
    margin-right: 0;
    text-align: right;
    width: 100px;
    word-break: break-all; font-family:"宋体";
}


.gx_block{ width:900px; margin:0 auto;}
.gx_b01{ width:260px; background:#ebf6fc; padding:10px; float:left; border:1px solid #dae4ea;}
.gx_b02{ width:220px; background:#fafdfe; padding:20px;}
.gx_pic{ width:170px; height:120px; padding:15px; margin:0 auto; background:#f4f9fc; margin-bottom:15px;}
.gx_table{ width:220px;}
.gx_table td{ line-height:25px; padding:5px 0; color:#2a2a2a; vertical-align:top;}



.gx_infor{ width:280px; padding:20px; float:left;}
.gx_infor table{ color:#7d7d7d; margin-top:80px;}
.gx_bg01{ background:url(../../images/order/input8_11.jpg) center no-repeat; height:43px;}
.gx_bg01 input{ background:url(../../images/order/input_bg_14.jpg) repeat-x; width:166px; border:1px solid #cde7f0; padding:0 1px; height:22px; line-height:22px; margin-left:41px; *margin-left:auto; _margin-left:auto; margin-left:auto\9; margin-right:auto\9; *margin-right:auto; _margin-right:auto; margin-top:8px;}
.gx_bg02{ background:url(../../images/order/input8_14.jpg) center no-repeat; height:43px;}
.gx_bg02 input{ background:url(../../images/order/input_bg_14.jpg) repeat-x; width:166px; border:1px solid #cde7f0; padding:0 1px; height:22px; line-height:22px; margin-left:41px; *margin-left:auto; _margin-left:auto; margin-left:auto\9;  *margin-right:auto; _margin-right:auto; margin-right:auto\9; margin-top:9px;}
.gx_pad{ padding-bottom:40px;}
.gx_pad_01{ padding-top:40px;}

.gx_r01{ width:260px; background:#ddf1cc; padding:10px; float:left; border:1px solid #cadeb9;}
.gx_r02{ width:220px; background:#f8fcf5; padding:20px;}
.gx_pic{ width:170px; height:120px; padding:15px; margin:0 auto; background:#f4f9fc; margin-bottom:15px;}
.gx_table{ width:220px;}
.gx_table td{ line-height:25px; padding:5px 0; color:#2a2a2a; vertical-align:top;}
.gx_button{ width:900px; height:30px; text-align:center; margin-top:15px;}

/*添加关系样式结束*/

.car_table {clear: both; margin-left:auto; margin-right:auto; margin-bottom:0; background-color:#ffffff; width: 100%;}

.car_table th { height:26px; font-family:"宋体"; font-size:12px; color:#727272; font-weight:normal; border-bottom:1px solid #c7c7c7; border-top:1px solid #c7c7c7;}

.stripe .car_table td {color:#31393d; font-family:"宋体"; border-bottom:1px solid #cbd6da;}

.car_table td a{ color:#31393d; text-decoration:none;font-family:"宋体";}
.dr-table-subheadercell{padding:0;}
.dr-table-subheader{background-color:#f0f5fb;}

/*边框修改样式*/


.center_box{ background:url(../../images/order/left_top_bg.png) 8px 10px no-repeat;}
.center1_box{ background:url(../../images/order/left_bg.png) 8px 7px  no-repeat;  *background:url(../../images/order/left_bg.png) 8px 7px  no-repeat;_background:url(../../images/order/left_bg.png) 8px 15px  no-repeat; }

.center3_box{ background:url(../../images/order/left_b.png) 220px 9px no-repeat; *background:url(../../images/order/left_b.png) 220px 9px no-repeat;_background:url(../../images/order/left_b.png) 220px 19px no-repeat;}
.center4_box{ background:url(../../images/order/right_top_bg_42.png) right 9px no-repeat;padding-right:8px; *background:url(../../images/order/right_top_bg_42.png) right 9px no-repeat; _background:url(../../images/order/right_top_bg_42.png) right 19px no-repeat;
*padding-right:0px;_padding-right:0px;}

.center2_box{ background:url(../../images/order/left_bot_bg.png) 8px 0px no-repeat; height:7px; padding-right:15px;*padding-right:9px;_padding-right:13px;}
.center5_box{ background:url(../../images/order/bot_b_g01.png) 227px 0px no-repeat;height:12px; _background:url(../../images/order/bot_b_g01.png) 228px 0px no-repeat;}

.center6_box{ background:url(../../images/order/right_bot_bg.png) right 0px no-repeat;height:12px; position:relative; z-index:100; margin-top:-7px; _margin-top:-17px;*margin-right:-8px;_margin-right:-7px;}
.center003{ height:15px;width:auto; overflow:hidden;  }

.dr-mpnl-pnl-b table textarea{ font-size:12px; line-height:28px; font-weight:normal;}

/*新加样式开始*/
.new_tj{ width:70%; float:left; text-align:left;}
.new_pic{ width:128px; height:117px; border:1px solid #c8c8c8; margin-bottom:10px;}
.new_user{ width:30%px; float:left;}
.new_user ul{ margin-top:20px;}
.new_user ul li{ width:128px; text-align:center;}
.new_user ul li a{ text-decoration:underline; color:#007ebc; font-size:12px; font-weight:bold;}

.new_list{ width:328px; height:20px;  margin-top:25px;}
.new_text{ width:120px; height:20px;float:left; line-height:20px; text-align:right; font-size:12px; margin-right:15px;}
.new_type input,.new_type select{ width:185px; height:20px; line-height:20px; border:1px solid #d8e3e9;}
.new_type input[type=radio]{border:none;} 
.new_jbxx{ width:93%; min-height:85px;   font-family:"宋体";}

.newlistb{width:100%; float:left; text-align:left; padding:0 20px;}
.newspan{width:95px; height:40px; text-align:right; float:left; font-size:14px;  font-family:"宋体"; font-weight:bold;}
.newsp_2{ width:200px; height:40px;}

.new_block{ margin: 0 auto; width:100%;  }
.new_title{ font-size:14px; font-weight:bold; color:#494949; margin-bottom: 10px; text-align: left; border-bottom:1px solid #CACACA; height:30px; line-height:30px;}
.new_b_o_ck{ width:100%; margin:0 auto;border:1px solid #cacaca;}
.new_title2{ font-size:14px; font-weight:bold; color:#494949; margin-bottom: 10px; text-align: left; height:30px; line-height:30px;}
.new_b_2{ margin-left:15px;  margin-right:15px;}


.infor_table{ width:100%;}
.infor_td{ width:100px; text-align:left; height:30px; line-height:30px; color:#494949;}
.infor_tdtd{text-align:left;height:30px; line-height:30px; color:#494949;}

.zje_table{ float:right; width:500px;}
.zje_td{ width:400px; text-align:right; height:30px; line-height:30px; color:#494949;}
.zje_tdtd{ width:100px; text-align:left; height:30px; line-height:30px; color:#494949;}

.jb_font{ font-size:14px; color:#000000; font-weight:bold; height:35px; line-height:35px;  font-family:"宋体";}


/*问答页面开始*/
.box_title21{ display:inline;width:400px;height:31px;float:left;line-height:19px;line-height:25px\9;*line-height:24px;_line-height:25px;}
.box_title21 .i_left{ float:left;margin-right:0px;text-align:right; display:block; word-break : break-all;width:80px; color:#656566;}
.search_table .input21 input{padding-top: 2px;	display: block;	float: left; margin-right: 10px; border:1px solid #7db6da; width:280px;	margin-left: 3px;}
.ask_06{ width:98%; height:40px; line-height:40px; text-align:left; margin:10px auto 0;}
.ask_chi{ font-size:18px; color:#06659c;}
.ask_eng{ font-size:14px; color:#74bad7;}
.ask_bg_03{ width:98%; height:4px; background: url(../../images/order/ask_06.jpg) bottom repeat-x; text-align:left;margin:0 auto;}

.salldiv{}
.mar1 {height:29px; padding-left: 50px; line-height:29px; color:#06509c; border:1px solid #ade1f6;  cursor:pointer; text-align:left; font-size:14px; font-weight:bold;}


.slist { margin:0 0 5px 0; display:none;}
.l2l2{ width:80%; margin-top:15px; padding-left:33px; color:#646262; line-height:19px; background: url(../../images/order/ask03_20.jpg) left top no-repeat; font-size:14px; margin-left:5px; text-align:left; font-weight:bold;}
.ons{padding-left:33px; background: url(../../images/order/ask03_19.jpg) left top no-repeat; font-size:14px; margin-left:5px; text-align:left;}

.sslist { overflow:hidden; display:none; margin-left:5px; float:left;}
.l3{ padding-left:32px; line-height:25px; display:block; font-size:12px; color:#595959; text-align:left; margin:10px 0 0 0;}

.currentl3 a,.l3 a:hover { font-weight:bold;background: url(../../images/order/l3_03.jpg) no-repeat;}
.currentl2{ background:url(../../images/order/ask03_19.jpg) no-repeat left top;}
.cur_color{ color:#1c497b;text-decoration:underline;}
.dele_color{ color:#F00; text-decoration:underline; margin-left:15px;}

.st_div{float:left; *float:none; margin-right:20px;}
.dis_pl{width:100%; display:inline-block; text-align:left;}

.question{ margin-top:10px; margin-bottom:10px; margin-left:5px; padding-left:33px; color:#646262; line-height:19px; background: url(../../images/order/question.jpg) left top no-repeat; font-size:15px; font-weight:bold; text-align:left;}
.answer{ padding-left:32px; display:block; font-size:12px; color:#595959; text-align:left; background: url(../../images/order/answer.jpg) left top no-repeat; margin-left:5px; padding-bottom:10px; }
.qa_line{ width:100%; height:1px; margin:10px 0 15px 0; background: url(../../images/order/line_27.jpg) repeat-x; }
.qa_ul{ width:100%; margin-top:15px; padding-top:1px;}
.span_bj{width:100px; float:right; margin-right:20px; line-height:19px; margin-top:15px;text-align:right;}
/*问答页面结束*/

/*问答页面开始*/
/*问答树形菜单开始 */
.l1 {height:29px;	padding-left: 50px; line-height:29px; color:#06509c; border:1px solid #ade1f6; margin-top:15px; cursor:pointer; text-align:left; font-size:14px;}


.slist { margin:0 0 5px 0; display:none;}
.l2l2{ width:80%; margin-top:15px; padding-left:33px; color:#646262; line-height:19px; background: url(../../images/order/ask03_20.jpg) left top no-repeat; font-size:14px; margin-left:5px; text-align:left; font-weight:bold;}
.ons{padding-left:33px; background: url(../../images/order/ask03_19.jpg) left top no-repeat; font-size:14px; margin-left:5px; text-align:left;}

.sslist { overflow:hidden; display:none; margin-left:5px; float:left;}
.l3{ padding-left:32px; line-height:25px; display:block; font-size:12px; color:#595959; text-align:left; margin:10px 0 0 0;}

.currentl3 a,.l3 a:hover { font-weight:bold;background: url(../../images/order/l3_03.jpg) no-repeat;}
.currentl2{ background:url(../../images/order/ask03_19.jpg) no-repeat left top;}





.question{ margin-top:10px; margin-bottom:10px; margin-left:5px; padding-left:33px; color:#646262; line-height:19px; background: url(../../images/order/question.jpg) left top no-repeat; font-size:15px; font-weight:bold; text-align:left;}
.answer{ padding-left:32px; display:block; font-size:12px; color:#595959; text-align:left; background: url(../../images/order/answer.jpg) left top no-repeat; margin-left:5px; padding-bottom:10px; }
.qa_line{ width:100%; height:1px; margin:10px 0 15px 0; background: url(../../images/order/line_27.jpg) repeat-x; }
.qa_ul{ width:100%; margin-top:15px; padding-top:1px;}
.span_bj{width:100px; float:right; margin-right:20px; line-height:19px; margin-top:15px;text-align:right;}
/*问答页面结束*/

