*,*:after,*:before{
	box-sizing: border-box;
}
img{
	border: 0;
}
input, textarea, keygen, select, button{
	font-family: "微软雅黑";
}
html,body{
	position: relative;
	max-width: 640px;
	height:100%;
	margin: auto;
}
.mb30{
	margin-bottom: 18px;
}
.clearfixx,.clearfixx:before,.clearfixx:after{
	display: block;
	clear: both;
	content: '';
}
.overflowH{
	overflow: hidden;
}
.myScrollbarV{
	width: 12px;
	border-radius: 4px;
}
.myScrollbarV > div{ 
	background:#d5d5d5;
	border:1px solid #cfcfcf;
	}
.buy-wrapper{
	position: relative;
	padding-top:56px -;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	background-color: #f6f6f6;
}
.buy-wrapper.overflowH{
	overflow: hidden;
}
.more_wrapper{
	right: 0;
}
.loading_more{ 
	position:absolute; 
	bottom:0; 
	left:0; 
	z-index: 1;
	display:none;
	width:100%; 
	}
	
.loading_more p{ 
	font-size:20px; 
	text-align:center; 
	color: #999;
	}
.buy-header{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 34px;
	padding: 0 5px;
	box-sizing:border-box;
	background-color: #3e3f3f-;
	background-color: rgba(62,63,63,0.9);
	font-size: 13px;
	color: #fff;
}
.header-lt{
	float: left;
	height: 26px;
	line-height: 26px;
	padding: 4px 0 0 0;
	box-sizing: content-box;
	cursor: pointer;
}
.header-lt img{
	float: left;
	width: 26px;
	height: 26px;
	margin-right: 4px;
	border-radius: 50%;
	vertical-align: top;
	overflow: hidden;
}
.header-rt{
	float: right;
	line-height: 18px;
	margin: 9px 4px 0 0;
	color: #fff;
	cursor: pointer;
}
.header-rt img{
	float: left;
	width: 19px;
	height: 18px;
	margin-right: 4px;
}
/*body*/
.buy-body{
	position: relative;
	height: 100%-;
	overflow-y: auto-;
	background-color: #f6f6f6-;
}
/*swiper轮播图*/
.buyswiper-container{
	height: 208px;
}
.buyswiper-container .imgs-bg img{
	width: 100%;
	height: 208px;
	background-color: #fff;
}
.buyswiper-container .swiper-pagination-bullet{
	width: 8px;
	height: 8px;
	margin: 0 4px;
	background-color: #fff;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.buyswiper-container .swiper-pagination-bullet-active{
	background-color: #659b32;
}
/*search*/
.buy-title{
	position: relative;
	z-index: 1;
	padding: 18px;
	font-size: 18px;
	text-align: center;
	color: #020202;
}
.buy-title img{
	position: absolute;
	left: 28px;
	top: -33px;
	z-index: 1;
	width: 65px;
	height: 59px;
	border-radius: 10px;
	box-shadow: 0 5px 5px #ddeace;
}
.search-box{
	padding: 0 18px;
	overflow: hidden;
}
.search-box .search-lt{
	position: relative;
	float: left;
	width: 78%;
	height: 33px;
	padding: 5px 40px;
	box-sizing: border-box;
	border-radius: 22px;
	box-shadow: inset 0 3px 3px #cecece; 
	background-color: #fff;
}
.search-box .search-lt:before{
	position: absolute;
	left: 12px;
	top: 10px;
	z-index: 1;
	width: 14px;
	height: 14px;
	background: url(../../../asset/images/purchase/weChatBuy_search.jpg) no-repeat center center;
	background-size: 100% 100%;
	content: '';
}
.search-box .search-lt input{
	width: 100%;
	height: 100%;
	line-height: 24px;
	padding: 5px 0;
	font-size: 12px;
	color: #9e9e9e;
}
.search-box .search-lt .iclose{
	position: absolute;
	right: 8px;
	top: 8px;
	width: 18px;
	height: 18px;
	background: url(../../../asset/images/purchase/weChatBuy_close.jpg) no-repeat center center;
	background-size: 100% 100%;
	border-radius: 50%;
	cursor: pointer;
}
.search-box .search-btn{
	float: right;
	width: 67px;
	height: 33px;
	background: url(../../../asset/images/purchase/weChatBuy_search2.jpg) no-repeat center center;
	background-size: 100% 100%;
	cursor: pointer;
}
/*banner*/
.buy-banner{
	margin-top: -12px;
}
.buy-banner img{
	width: 100%;
	height: 168px;
	margin-top: 12px;
	vertical-align: top;
}
/*商品列表*/
.product-list{
	padding: 7px 3px 0 10px;
}
.product-list>li{
	float: left;
	width: 50%;
	padding: 0 4px 14px 0;
	box-sizing: border-box;
}
.product-list .pitem{
	position: relative;
	border: 1px solid #f2f2f2;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 1px 3px 5px #d7d7d7;
	overflow: hidden;
}
.product-list .product-pic{
	width: 100%;
	height: 168px;
	vertical-align: top;
}
.product-list .product-foot{
	padding: 8px 15px;
	border-top: 1px solid #e4e4e4;
}
.product-list .txt-intro{
	height: 18px;
	line-height: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 14px;
}
.product-list .txt-recommend{
	float: left;
	width: 50%;
	height: 18px;
	line-height: 18px;
	font-size: 20px;
	overflow: hidden;
}
.product-list .txt-price{
	float: left;
	width: 80%;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	overflow: hidden;
}
.product-list .txt-price span{
	color: #f84200;
}
.product-list .addbtn{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	width: 59px;
	height: 59px;
	background: url(../../../asset/images/purchase/weChatBuy_addbtn3.png) no-repeat center center;
	background-size: 100% 100%;
	cursor: pointer;
}

/*加入购物车*/
.add-card{
	position: fixed;
	right: 15px;
	bottom: 56px;
	z-index: 2;
	width: 70px;
	height: 70px;
	background: url(../../../asset/images/purchase/weChatBuy_addcard.png) no-repeat center center;
	background-size: 100% 100%;
	cursor: pointer;
}
.add-card p{
	position: absolute;
	right: 10px ;
	top: 14px;
	height: 22px;
	line-height: 22px;
	padding: 0 4px;
	border-radius: 11px;
	background-color: #ff4d45;
	font-size: 20px;
	color: #fff;
}

/*注册弹窗*/
.mark-bind{
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 10; 
	width: 100%; 
	height: 100%; 
	background: url(/asset/images/purchase/buy/pop_bg.png) repeat; 
	display: none;
	}
.registerPop { 
	display: none;
    width: 560px;
    height: 486px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    margin-left: -280px;
    top: 20%;
    z-index: 11;
}
.registerPop .member .pen {
    width: 120px;
    height: 120px;
    margin: -60px auto 0;
}
.registerPop .member .pen img {
    width: 100%;
    height: 100%;
}
.registerPop .member h4 {
    font-size: 18px;
    height: 96px;
    line-height: 96px;
    text-align: center;
    font-weight: normal;
    color: #333;
}
.registerPop .member .info {
    width: 500px;
    height: 70px;
    margin: 0 auto 18px;
    position: relative;
}
.registerPop .member .info .entry1, .registerPop .member .info .entry2 {
    width: 100%;
    height: 70px;
    line-height: 70px;
    box-sizing: border-box;
    padding: 0 12px 0 60px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 26px;
    color: #b2b2b2;
    font-family: "微软雅黑";
}
.registerPop .member .info .entry2 {
    width: 300px;
}
.registerPop .member .info .code, .registerPop .member .time_s60 {
    width: 184px;
    height: 70px;
    line-height: 68px;
    font-size: 26px;
    color: #62b30c;
    box-sizing: border-box;
    border: 1px solid #62b30c;
    border-radius: 4px;
    text-align: center;
}
.registerPop .member .regBtn {
    width: 500px;
    margin: 0 auto;
    height: 70px;
    line-height: 70px;
    border-radius: 4px;
    text-align: center;
    background-color: #62b30c;
    font-size: 18px;
    color: #fff;
}
.registerPop .member .info .icon1, .registerPop .member .info .icon2 {
    position: absolute;
    width: 24px;
    height: 18px;
    left: 20px;
    top: 21px;
    background: url(../../../asset/images/purchase/buy/entry1.png) no-repeat;
    background-size: cover;
}
.registerPop .member .info .icon2 {
    background: url(../../../asset/images/purchase/buy/entry2.png);
    background-size: cover;
}
.registerPop .member .time_s60{ 
	display: none;
}
#registerPop .tip_phonenumber,#registerPop .tip_securitycode {
    display: none-;
    position: absolute;
    top: -26px;
    z-index: 1;
    font-size: 20px;
    color: #f00;
}
#registerPop .tip_phonenumber{
	right: 0;
}
#registerPop .tip_securitycode{ 
	right:200px;
}
.success_addtip{
	display: none;
	position: absolute;
	left: 50%;
	top: 18%;
	z-index: 5;
	width: 280px;
	height: 90px;
	line-height: 90px;
	margin-left: -140px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 8px;
	font-size: 28px;
	text-align: center;
	color: #fff;
}
