.weChart{padding: 0 20px;}
.chartBox{width: 100%; min-width: 886px; height: 520px; border: 1px solid #dcdcdc; box-shadow: 0 0 10px #e5e5e5; border-radius: 5px; margin-top: 20px;}
.chartBox .inner{width: 100%; min-width: 886px; height: auto; margin: 0 auto;}
.chartLogo{height: 80px; padding-left: 40px;}
.chartLogo img{width: 180px; height: 50px; margin-top: 25px;}
.chartBox .leftBox{width: 50%; min-width: 526px; height: auto; background: url(../../images/wechart/bg.png) right top no-repeat;}
.chartBox .inner .leftChart{width: 526px; height: auto; margin: 0 auto;}
/*20161201*/
.leftChart .line{padding: 15px 0; position: relative;}
.leftChart .line .item{width: 206px; padding-right: 12px; height: 34px; line-height: 34px; font-size: 14px; color: #666; font-weight: bold; text-align: right;}
.leftChart .line input{width: 220px;}
.leftChart .line .question{width: 18px; height: 18px; margin-top: 8px; margin-right: 20px; cursor: pointer;}
.leftChart .line .blueBtn{width: 80px; height: 34px; line-height: 34px; text-align: center; font-size: 14px; color: #fff; border-radius: 4px; background-color: #428bca; cursor: pointer;}
.chartBox .rightBox{width: 40%; min-width: 360px; height: auto;}
.rightChart{width: 340px; margin: 0 auto; height: auto;}
.rightChart h4{font-size: 14px; color: #428bca; height: 50px; line-height: 50px;}
.rightChart .line{margin-bottom: 20px;}
.rightChart .line .pic{width: 21px; height: 21px; margin: 3px 10px 0;}
.rightChart .line .txt{width: 285px;}
.c66{color: #669dd2;}
.cbb{color: #5bbedb; cursor: pointer;}
.c9f{color: #9fbfe0;}
.mr10{margin-right: 10px;}
/*弹窗*/
.showBox{width: 500px; position: absolute; left: 50%; margin-left: -250px; top: 20%;}
.showBox .modal-header h4,.payBox .modal-header h4{font-size: 16px;color: #666; font-weight: bold; font-family: "微软雅黑";}
.showBox .close,.payBox .close{color: #cbc9cc;}
.showBox .tip{height: 22px; line-height: 22px; color: #fc653c; margin: 15px 0 10px; text-align: center;}
.showBox .tip img{margin-right: 5px; vertical-align: -5px;}
.showBox .txt{font-size: 14px; color: #333; height: 22px; line-height: 22px; text-align: center;}
.showBox .yzCode{font-size: 14px; color: #428bca; height: 22px; line-height: 22px; padding-left: 52px;}
.showBox .message{height: 34px; line-height: 34px; font-size: 14px; color: #333; margin: 10px 0 40px; padding-left: 52px;}
.showBox .message span{color: #ff0000; margin-right: 5px;}
.showBox .message input{width: 250px; display: inline; margin-left: 5px;}
/*20161201新内容*/
.payBox{position: absolute; width: 900px; left: 50%; margin-left: -450px; top: 20%;}
.payBox .modal-body{padding: 20px 0 0;}
.payBox .modal-body .carsouel{position: relative; width: 800px; height: 420px; margin: 0 auto; overflow: hidden;}
.payBox .imageList{width: 10000px; height: 420px; position: absolute; left: 0; top: 0;}
.payBox .imageList li{float: left; width: 800px; height: 420px; }
.payBox .payLeft{width: 215px; height: 420px; margin: 0 3px;}
.payBox .payLeft p{font-size: 14px; line-height: 24px;}
.payBox .payLeft .pageNub{width: 100%; height: 60px; line-height: 60px; font-weight: bold; border-bottom: 1px solid #e1e1e1; font-size: 48px; color: #54d083; margin-bottom: 10px;}
.payBox .payLeft .pageNub span{font-size: 36px; color: #c6c6c6;}
.payBox .payRight{width: 578px; height: 400px;}
.payBox .payRight img{width: 100%; height: 100%;}
.payBox .modal-body .newbtns .leftBtn{position: absolute; width: 30px; height: 30px;  left: 5px; top: 185px; cursor: pointer;}
.payBox .modal-body .newbtns .rightBtn{position: absolute; width: 30px; height: 30px; right: 5px; top: 185px; cursor: pointer;}
.payBox .copyBox{padding: 10px 0;}
.payBox .copyBox .web2{width: 150px; margin-right: 3px;}
.payBox .copyBox .smallBlue{width: 60px; background-color: #428bca; height: 34px; text-align: center; line-height: 34px; font-size: 14px; color: #fff; border-radius: 5px;}
/*商户弹窗*/
.merPop{background: url(/asset/images/purchase/weChat/popBg.png) repeat; position: fixed; left: 0; top: 0; z-index: 10; display: none;}
.merContent{position: absolute; left: 80px; top: 50px; width: 574px; height: 400px; background: url(/asset/images/purchase/weChat/newpop.png) no-repeat; padding-top: 35px; text-align: center; z-index: 15; display: none;}
.merContent img{width: 544px; height: 350px;}
.merContent .secretKey{position: absolute; z-index: 20; width: 460px; height: 298px; overflow: hidden; left: 57px; top: 60px;}
.merContent .imageList{position: absolute; z-index: 18; height: 350px; left: 0; top: 0;}
.merContent .imageList li{width: 460px; height: 298px; float: left;}
.merContent .imageList li img{width: 100%; height: 100%;}
.merContent .newbtns .leftBtn{position: absolute; width: 20px; height: 20px;  left: 18px; top: 185px; cursor: pointer;}
.merContent .newbtns .rightBtn{position: absolute; width: 20px; height: 20px; right: 18px; top: 185px; cursor: pointer;}

/* wechat-navtab */
.wechat-navtab{border-bottom: 1px solid #468ac9;}
.wechat-navtab>li{margin-bottom:0;}
.wechat-navtab>li.active>a, .wechat-navtab>li.active>a:hover, .wechat-navtab>li.active>a:focus{border: 1px solid #438ac8;border-bottom:0;border-top-width:4px;padding-top:11px;}
.wechat-navtab{margin-top:26px;}
.wechat-navtab>li>a{height:46px; line-height:24px;padding: 14px 18px 0;font-size:14px;color:#c2c2c2;box-sizing:border-box;border: 1px solid #dedede;border-bottom:0;border-radius:0;margin-right:0;margin-left:8px;}
.wechat-navtab>li>a:hover{background:none;border: 1px solid #dedede;border-bottom:0;}
.wechat-navtab>li .icon-inset,.wechat-navtab>li .icon-weset{ display:inline-block;width:28px;height:22px;background-position: 0 0;background-repeat: no-repeat;margin:0 5px 0 0;vertical-align: top;}
.wechat-navtab>li .icon-inset{background-image:url(../../images/purchase/wechart_icon_inset.png);}
.wechat-navtab>li .icon-weset{background-image:url(../../images/purchase/wechart_icon_weset.png);}
.wechat-navtab>li.active .icon-inset{background-image:url(../../images/purchase/wechart_icon_inset2.png);}
.wechat-navtab>li.active .icon-weset{background-image:url(../../images/purchase/wechart_icon_weset2.png);}

/*去除选择框的outline*/
.bootstrap-select .dropdown-toggle:focus{
	outline:none !important;
	}
a:focus {
	outline: none !important;
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}
input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus {
	outline: none !important;
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}
.form-control:focus,
input:focus {
	border-color: #ccc;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0 #fff,0 0 0 #fff;
	box-shadow: inset 0 0 0 #fff,0 0 0 #fff;
}
.btn:focus,.btn:active:focus,.btn.active:focus {
	outline: none !important;
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}
.btn:active,.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0 #fff;
	box-shadow: inset 0 0 0 #fff;
}

/*首页、微信设置内容*/
html{
	min-width: 1280px;
}
.align-center{
	text-align: center;
}
.pt40{
	padding-top: 40px;
}
.pb40{
	padding-bottom: 40px;
}
.mr5{
	margin-right:5px;
}
.mr10{
	margin-right: 10px;
}
.cor999{
	color: #999;
}
.form-control.w290{
	width: 290px;
}
.setting-main-wrap{
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-top: 20px;
	font-size: 12px;
	color: #323232;
}
.setting-content{
	display: table-cell;
}
.index-setting,.wechart-setting,.preview-setting{
	border: 1px solid #e4e5e5;
	border-radius: 5px;
}
.index-setting .set-title,.wechart-setting .we-title,.preview-setting .pre-title{
	height: 44px;
	line-height: 24px;
	padding: 10px 15px;
	box-sizing: border-box;
	border-radius: 5px 5px 0 0;
	background-color: #f5fbfc;
	font-size: 14px;
}
.index-setting .set-body,.wechart-setting .we-body,.preview-setting .pre-body{
	padding: 30px 15px;
	box-sizing: border-box;
}
.index-setting .set-body{
	height: 226px;
	padding-bottom: 10px;
	overflow-y: auto;
}
.set-list{
	margin-left: -20px;
}
.set-list .set-item{
	float: left;
	width: 25%;
	padding: 0 0 25px 30px;
	box-sizing: border-box;
}
.set-list .item-box{
	height: 36px;
	line-height: 16px;
	padding: 10px 10px 0;
	border: 1px solid #dedede;
	box-sizing: border-box;
	border-radius: 5px;
}
.set-list .item-box>img{
	width: 16px;
	height: 16px;
	margin-right: 6px;
	vertical-align: top;
}
.used-select{
	position: relative;
	float: left;
	margin-right: 16px;
}
.used-select>i{
	float: left;
	width: 20px;
	height: 20px;
	margin: -2px 8px 0 0;
	box-sizing: border-box;
	background: url(../../images/bootstrap/blue.png) no-repeat;
	background-position: 0 0;
}
.used-select>i:hover{
	background-position: -20px 0;
	cursor: pointer;
}
.used-select>i.dqcur{
	background-position: -40px 0;
}
.used-select>i.dqcur:hover{
	background-position: -40px 0;
}
.set-list .item-box .to-set{
	float: left;
	color: #428bca;
	cursor: pointer;
}
.set-list .item-box .txt-name{
	display: inline-block;
	max-width: 34%;
	height: 16px;
	line-height: 16px;
	vertical-align: top;
	color: #999;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.wechart-setting{
	margin-top: 28px;
}
.wechart-setting .we-body{
	height: 336px;
}
.share-dl{
	margin-bottom: 20px;
}
.share-dl dt{
	float: left;
	width: 96px;
	height: 34px;
	line-height: 34px;
	padding-right: 14px;
	font-weight: normal;
	text-align: right;
}
.share-dl dd{
	margin-left: 96px;
}
.share-dl .share-area{
	float: left;
	width: 420px;
	height: 116px;
	box-sizing: border-box;
	resize: none;
}
.share-dl .code-pic{
	float: left;
	width: 80px;
	height: 80px;
	margin: 7px 0 0 18px;
}
.share-dl .copy-btn{
	margin-left: 10px;
}
.share-dl .copy-btn img{
	vertical-align: top;
	margin: 3px 5px 0 0;
}
.share-dl .form-control{
	font-size: 12px;
}
/*modal*/
.modal-header{
	overflow: hidden;
}
.modal-header h4{
	font-size: 14px;
	color: #000;
}
.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    background: url(../../images/bootstrap/farmingIco16.jpg) no-repeat center center;
    cursor: pointer;
}
.modal-close:hover{
	background: url(../../images/bootstrap/farmingIco17.jpg) no-repeat center center;
}
/*头部图片 modal*/
.header-dialog{
	width: 450px;
}
.header-dialog .modal-body{
	height: 200px;
	overflow-y: auto;
}
.header-dialog .modal-footer{
	text-align: center;
}
.header-file-block{
	position: relative;
	margin: 30px auto;
}
.header-file-block img.scimg{
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 0 5px 5px 0;
	vertical-align: top;
}
.header-file-block .icon100{
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 0 5px 5px 0;
	vertical-align: top;
}
/*logo modal*/
.logo-dialog{
	width: 450px;
}
.logo-dialog .modal-body{
	height: 200px;
}
.logo-dialog .modal-footer{
	text-align: center;
}
.logo-file-block{
	position: relative;
	width: 100px;
	height: 100px;
	margin: 30px auto;
}
.logo-file-block img.scimg{
	display: none;
}
.logo-file-block.opc0 .icon100{
	opacity: 0;
	filter:alpha(opacity=0);
}
.logo-file-block.opc0 img.scimg{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: inline-block;
	width: 100px;
	height: 100px;
}
.logo-file-block .icon100{
	position: relative;
	z-index: 2;
	display: inline-block;
	width: 100px;
	height: 100px;
	vertical-align: top;
}
/*banner焦点图 modal*/
.banner-dialog{
	width: 620px;
}
.banner-dialog .modal-body{
	height: 270px;
	padding-top: 0;
	overflow-y: auto;
}
.banner-dialog .modal-footer{
	text-align: center;
}
.banner-set-list li{
	margin-top: -1px;
	padding: 12px 0;
	border-top: 1px solid #d7d7d7;
	overflow: hidden;
}
.banner-set-list .banner-name{
	float: left;
	width: 80px;
	height: 100px;
	line-height: 100px;
	padding-right: 18px;
	box-sizing: border-box;
	text-align: right;
	font-size: 14px;
}
.banner-set-list .item-rt{
	float: right;
	line-height: 40px;
	padding-top: 30px;
	overflow: hidden;
}
.banner-set-list .item-rt p{
	float: left;
	width: 80px;
	padding-right: 8px;
	box-sizing: border-box;
	text-align: right;
	font-size: 14px;
}
.banner-set-list .item-rt .form-control{
	float: left;
	width: 190px;
	height: 40px;
	line-height: 30px;
	margin-right: 20px;
	padding: 5px 10px;
	border: 1px solid #d8d8d8;
	border-radius: 0;
	box-sizing: border-box;
	font-size: 12px;
}
.banner-set-list .item-rt i{
	float: left;
	font-style: normal;
	color: #3499cf;
	cursor: pointer;
}
.banner-set-list .item-rt .add-banner{
	margin-right: 8px;
}
.banner-file{
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
}
.banner-file .scimg{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.banner-file.opc0 img.scimg{
	display: block;
	width: 100px;
	height: 100px;
}
.banner-file.opc0 .icon100{
	opacity: 0;
	filter:alpha(opacity=0);
}
.banner-file .icon100{
	position: relative;
	z-index: 2;
	float: left;
	width: 100px;
	height: 100px
}

/*实时预览*/
.preview-content{
	display: table-cell;
	width: 430px;
	padding-left: 24px;
	box-sizing: border-box;
}
.preview-setting{
	border: 1px solid #e4e5e5;
	border-radius: 5px;
}
.preview-setting .pre-title{
	position: relative;
	padding-left: 58px;
	font-size: 16px;
}
.preview-setting .pre-title:before{
	position: absolute;
	left: 20px;
	top: 10px;
	z-index: 1;
	width: 24px;
	height: 24px;
	background: url(../../images/purchase/wechart_icon_view.jpg) no-repeat 0 0;
	content: '';
}
.preview-setting .pre-body{
	height: 636px;
	padding: 42px 13px 10px;
}
.preview-iframe{
	width: 100%;
	height: 100%;
	border: 0;
	background-color: #f1f1f1;
}

/* 大屏幕 */
@media (min-width: 1599px) and (max-width: 1920px) { 
.set-list .set-item{
	width: 33.33333333%;
}
}
@media (min-width: 1299px) and (max-width: 1600px) { 
.set-list .set-item{
	width: 50%;
}
}
@media (min-width: 50px) and (max-width: 1300px) { 
.set-list .set-item{
	width: 100%;
}
}
 

.check_mask{
	position: absolute;
	 width:18px; 
	 height:18px; 
	 left:0; 
	 top:7px; 
	 opacity:0; 
	 filter: alpha(opacity=0); 
	 z-index: 100;
	 cursor:pointer;
}
.closed{
	width: 29px; 
	height: 29px; 
	position: absolute; 
	z-index: 5; 
	right: 0; 
	top: 0; 
	background: url(../../images/purchase/close.png); 
	display: none;
}
.imgdiv:hover .closed{display: block;}
.logo-file-block:hover .closed{display: block;}
.fileBtn{
		position: absolute;
		left: 0;
		top: 0;
		width: 100px;
		height: 100px;
		cursor: pointer;
		opacity: 0;
		filter:alpha(opacity=0);
	}


.imgdiv{
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 0 5px 5px 0;
	vertical-align: top;
	position: relative;
}
.used-select .icheckbox_minimal-blue{
	margin:-1px 5px 0 0;
}
#logo-file-block,#bg-file-block{
	margin: 18px auto;
	text-align:center;
}
#logo-file-block .imgdiv,#logo-file-block img.scimg,#bg-file-block .imgdiv,#bg-file-block img.scimg{
	width:128px;
	height:128px;
}







