*,*:after,*:before{
	box-sizing: border-box;
}
img{
	border: 0;
}
input, textarea, keygen, select, button{
	font-family: "微软雅黑";
}
html,body{
	position: relative;
	max-width: 640px;
	min-height:100%;
	margin: auto;
	font-family: "微软雅黑";
	background-color: #f8f8f8;
}
.clearfixx,.clearfixx:before,.clearfixx:after{
	display: block;
	clear: both;
	content: '';
}
.mb15{
	margin-bottom: 15px;
}
.mb36{
	margin-bottom: 36px;
}
.phone-title{
	padding: 46px 0 20px;
	font-size: 32px;
	text-align: center;
	color: #89888d;
}
.phone-list{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	font-size: 24px;
	color: #323232;
}
.phone-list li{
	position: relative;
	line-height: 46px;
	padding: 20px 18px;
}
.phone-list li p{
	float: left;
	width: 158px;
}
.phone-list li .text-input{
	float: left;
	width: 50%;
	height: 46px;
	line-height: 46px;
	padding: 0;
	border: 0;
	background: none;
	font-size: 24px;
	color: #b0b0b2;
}
.phone-list li .ipt-valid{
	width: 28%;
}
.phone-list li .validcode-pic{
	float: left;
	width: 128px;
	height: 46px;
	vertical-align: top;
}
.phone-list li:before{
	position: absolute;
	left: 18px;
	right: 18px;
	bottom: 0;
	z-index: 1;
	border-top: 1px solid #ccc;
	content: '';
}
.phone-list li.noline:before{
	border: 0;
}
.tip-phonenumber,.tip-securitycode,.tip-validcode{
	position: absolute;
    right: 14px;
    top: -28px;
    display: none;
    color: #f00;
}
.txt-code,.time_s60{
	float: right;
	width: 134px;
	height: 52px;
	line-height: 50px;
	border: 1px solid #4fbc6d;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 20px;
	text-align: center;
	color: #2ab619;
}
.valid-tip{
	float: right;
	line-height: 46px;
	font-size: 18px;
}
.valid-tip span{
	color: #1faeff;
}
.time_s60{
	display: none;
	border: 1px solid #b9b9bb;
	background-color: #b9b9bb;
	color: #fff;
}
.pos-tip-box{
	position: relative;
}
.pos-tip-box .error-tip{
	position: absolute;
	top: -42px;
	left: 0;
	z-index: 1;
	display: none;
	width: 100%;
	text-align: center;
}
.pos-tip-box .error-tip p{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.8);
	vertical-align: top;
	font-size: 18px;
	color: #fff;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.btn-submit,.btn-return,.disabled-submit{
	display: block;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding: 18px 0;
	border-radius: 8px;
	font-size: 26px;
	text-align: center;
	cursor: pointer;
}
.disabled-submit{
	border: 1px solid #b9b9bb;
	background-color: #b9b9bb;
	cursor: no-drop;
	color: #666;
}
.btn-submit{
	display: none-;
	border: 1px solid #4fbc6d;
	background-color: #06bf02;
	color: #fff;
}
.btn-return{
	border: 1px solid #ccc;
	background-color: #fff;
	color: #323232;
}
