/*select下拉框去掉默认边框及获取焦点 */
.btn{
	height: 34px;
	box-sizing: border-box;
	font-family: '微软雅黑';
}
.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
	margin-right: 0;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}
.bootstrap-select .btn:focus {
    outline: inherit !important;
    outline-offset: 0;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a i.check-mark{
	display: block;
    position: absolute;
    right: 10px;
}
.dropdown-menu>li>a:focus {
	background: none;
}
i[class^="icon-"], i[class*=" icon-"]{
	background: none;
}

/*标准规范样式*/
body{
	font-size: 14px;
	color: #525252;
}
dl{
	margin-bottom: 0;
}
p{
	margin-bottom: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mt14{
	margin-top: 14px;
}
.mt30{
	margin-top: 30px;
}
.mb10{
	margin-bottom: 10px;
}
.mb14{
	margin-bottom: 14px;
}
.mb22{
	margin-bottom: 22px;
}
.mb30{
	margin-bottom: 30px;
}
.mr20{
	margin-right: 20px;
}
.mr50{
	margin-right: 50px;
}
.pt40{
	padding-top: 40px;
}
.pb40{
	padding-bottom: 40px;
}
.ellipsis{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.overflowH{
	overflow: hidden;
}
.display-none{
	display: none;
}
.display-block{
	display: block;
}
.align-center{
	text-align: center;
}
.r_t_l{
	color: #333;
}
.row{
	margin-left: -8px;
	margin-right: -8px;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
}
/* 表格模板 */
.tableModel{ border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; border-top:1px solid #e1e1e1; border-radius:10px 10px 0 0; border-collapse:separate; font-family:'微软雅黑'; color:#6c6a6b; table-layout: fixed;}
.tableModel thead{ border-radius:10px 10px 0 0;}
.tableModel thead th ,.tableModel tbody td{ height:38px; text-align:center; border-bottom:1px solid #e1e1e1;}
.tableModel thead th{ height:42px; background:#f0f5fb; font-size:14px; font-weight:normal;}
.tableModel thead th:first-child{ border-radius:10px 0 0 0;}
.tableModel thead th:last-child{ border-radius:0 10px 0 0;}
.tableModel tbody tr td{ font-size:13px; background:#fcfcfc;}
.tableModel tbody tr.odd td{ background:#fbfcfe;}
.tableModel tbody tr.hover td{ background:#ecf7e6;}
.tableModel .icheckbox_minimal-blue, .tableModel .icheckbox_minimal-blue.checked{ display:inline-block; float:none; margin:0;}
.tableModel .iradio_minimal-blue, .tableModel .iradio_minimal-blue.checked{ display:inline-block; float:none; margin:0;}
.list_view,.list_delete,.list_edit{ vertical-align: middle;}
/* 分页模板 */
.pageModel-wap{width: 100%;}
.pageModel{ border:1px solid #e1e1e1; border-radius:5px; border-collapse:separate; font-size:12px;}
.pageModel span{ float:left; height:32px; line-height:32px; border-right:1px solid #e1e1e1;}
.pageModel span:last-child{ border-right:none;}
.pageModel span.page_first a{border-radius:4px 0 0 4px;}
.pageModel span.page_last{ border-right:0;}
.pageModel .current{background:#f6f6f8; color:#9a9a9a; padding:0 13px;}
.pageModel a{ display:block; padding:0 13px; color:#9a9a9a;text-decoration:none;}
.pageModel a:hover{ text-decoration:none;}
.pageModel a:link ,.pageModel a:hover ,.pageModel a:focus ,.pageModel a:visited{ text-decoration:none;}
.pageModel .page_Cur a{ background:#f6f6f8; color:#0088d2;}
.pageModel .pageCount a:hover{color:#9a9a9a;}
.pageModel .current{background:#f6f6f8; color:#9a9a9a; padding:0 13px;}
/*  分页模板新增的跳转样式 */
.page_jumpTo{ 
	height:32px; 
	line-height:32px; 
	margin-left:10px; 
	border:1px solid #e1e1e1; 
	border-radius:5px; 
	box-sizing:content-box;
	text-align:center; 
	color:#9a9a9a; 
	overflow:hidden;
	}
.page_jumpTo .txt_txt{ 
	padding:0 13px;
	}
.page_jumpTo .txt_ipt{ 
	border-left:1px solid #e1e1e1; 
	border-right:1px solid #e1e1e1;
	}
.page_jumpTo .txt_ipt input{ 
	width:60px; 
	height:32px; 
	border:none; 
	text-align:center; 
	font-size:12px; 
	color:#6c6a6b;
	}
.page_jumpTo .txt_btn .determine_btn{ 
	display:block; 
	width:50px; 
	height:32px; 
	border:0; 
	background-color:#f6f6f8; 
	font-size:12px; 
	color:#9a9a9a; 
	cursor:pointer;
	}
/* 搜索 */
.search-wrap{
	position: relative;
}
.search-wrap .public-search{
	width: 240px;
	margin: 8px 20px 8px 0;
}
.search-wrap .public-search .form-control{
	height: 34px;
}
.select-item-dl{
	float: left;
	margin: 8px 20px 8px 0;
}
.select-item-dl .select-dt70{
	float: left;
	width: 70px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	font-weight: normal;
	color: #999;
}
.select-item-dl .select-dt80{
	width: 80px;
}
.select-item-dl .select-dd{
	float: left;
}
.fixed-btn{
	position: absolute;
	right: 0;
	top: 8px;
}
.select-item-dl .bootstrap-select.btn-group .btn .filter-option{
	font-size: 14px;
	font-family: "微软雅黑";
}
.select-item-dl .bootstrap-select.btn-group .dropdown-menu.inner{
	max-width: 140px;
	height: 130px;
}
.select-item-dl .dropdown-menu>li>a{
	font-size: 14px;
	font-family: "微软雅黑";
}
.select-w124{
	width: 124px;
}
.select-w170{
	width: 170px;
}
.select-w186{
	width: 186px;
}
/* 作物基本信息 */
.base-title{
	height: 34px;
	line-height: 34px;
	font-size:16px ;
	font-weight: bold;
}
.base-title .icon20{
	float: left;
	width: 20px;
	height: 20px;
	margin: 7px 10px 0 0;
}
.crop-base-info{
	padding: 20px 0;
	border: 1px solid #f0f0f0;
	box-shadow: 0 0 5px #f0f0f0;
	border-radius: 5px;
}
.crop-base-info .info-left{
	float: left;
	width: 16%;
	text-align: center;
}
.crop-base-info .info-con1{
	width: 26%;
}
.crop-base-info .info-con2{
	width: 40%;
	padding: 0 4%;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	box-sizing: border-box;
}
.crop-base-info .info-con3{
	width: 30%;
}
.crop-base-info .species-pic{
	position: relative;
	width: 108px;
	height: 108px;
	margin: auto;
	box-sizing: border-box;
	border-radius: 50%;
	overflow: hidden;
}
.crop-base-info .species-pic .i-mark{
	display:none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("../../images/archive/AddPlantMethod_mark.png") no-repeat center center;
}
.crop-base-info .species-pic img{
	border-radius: 50%;
}
.crop-base-info .crop-name{
	max-width: 80%;
	height: 36px;
	line-height: 36px;
	margin: 12px 0;
	font-size: 24px;
	color: #ffa229;
}
.crop-base-info .blongs-name{
	position: relative;
	max-width: 96%;
	height: 26px;
	line-height: 26px;
	padding-left: 70px;
	box-sizing: border-box;
	word-break: break-all;
}
.crop-base-info .blongs-name2{
	padding-left: 42px;
}
.crop-base-info .blongs-name span{
	position: absolute;
	left: 0;
	top: 0;
	color: #999;
}
.crop-search-wrap .select-item-dl .select-dt70{
	font-size: 16px;
}
.crop-search-wrap .select-item-dl .bootstrap-select.btn-group .btn .filter-option{
	font-size: 16px;
}
.crop-search-wrap .select-item-dl .dropdown-menu>li>a{
	font-size: 16px;
}
/* 休耕期、越冬期、育苗期等 */
html{
	min-width--: 1400px;
}
.period-table-box{
	position: relative;
	min-width: 1120px;
}
.period-table {
	table-layout: fixed;
}
.period-title{
	height: 38px;
	line-height: 38px;
	padding-left: 10px;
	border: 1px solid #dbdbdb;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	box-sizing: content-box;
	background-color: #f0f5fb;
	font-size: 15px;
	font-weight: normal;
}
.period-title img{
	float: left;
	width: 20px;
	height: 20px;
	margin: 9px 10px 0 0;
	vertical-align: middle;
}
.period-title .btn_add{
	float:right;
	width:24px;
	height:24px;
	margin:7px 10px 0 0;
	background:url("../../images/archive/push_icon_add.png") no-repeat 0 0;
	cursor:pointer;
}
.period-table .title-tr th{
	line-height: 22px;
	padding: 8px 3px;
	border: 1px solid #dbdbdb;
	box-sizing: content-box;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
}
.period-table .item-tr td{
	padding: 3px;
	border: 1px solid #dbdbdb;
	box-sizing: content-box;
	font-size: 12px;
	text-align: center;
}
.period-table .form-control.borderno{
	border: none;
}
.period-table .form-control{
	height: 32px;
	outline: inherit !important;
    outline-offset: 0;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
    text-align: center;
}
.period-table .form-control:focus {
    outline: inherit !important;
    outline-offset: 0;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
}
.period-table .form-control.auto20{
	display: inline-block;
	width: 20%;
	padding-left: 3px;
	padding-right: 3px;
	box-sizing: border-box;
}
.product-name-box{
	position: relative;
	height: 32px;
	line-height: 32px;
	padding-right: 30px;
	box-sizing: border-box;
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.product-name-box .product-name{
	text-align: left-;
}
.product-name-box .icon14{
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 1;
	width: 30px;
	height: 32px;
	margin-top: -16px;
	background: url("../../images/archive/addplant_icon_dian.png") no-repeat left center;
	content: '';
	cursor: pointer;
}
.btn-file-box{
	position: relative;
	height: 32px;
	line-height: 32px;
	padding-right: 24px;
}
.btn-file-box .pic-name{
	text-align: left-;
	height: 32px;
	line-height: 32px;
	word-break: break-all;
	overflow: hidden;
}
.btn-file-box .icon14{
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: 1;
	margin-top: -7px;
	width: 14px;
	height: 14px;
	background: url("../../images/archive/addplant_icon_file.png") no-repeat left center;
	content: '';
	cursor: pointer;
}
.period-table .btn_add,
.period-table .btn_delete{
    display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	cursor: pointer;
}
.period-table .btn_add{
	background: url("../../images/archive/addplant_icon_add.png") no-repeat center center;
}
.period-table .btn_delete{
	background: url("../../images/archive/addplant_icon_delete.png") no-repeat center center;
}
.select-auto100{
	width: 100%;
}
.select-auto100 .bootstrap-select .selectpicker{
	height: 32px;
}
.select-auto100  .bootstrap-select.btn-group .btn .filter-option{
	font-size: 12px;
	font-family: "微软雅黑";
}
.select-auto100  .bootstrap-select.btn-group .dropdown-menu.inner{
	max-width: 140px;
	height: 130px;
}
.select-auto100  .dropdown-menu>li>a{
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "微软雅黑";
}
.btn_add,
.btn_delete{
    display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	cursor: pointer;
}
.btn_add{
	background: url("../../images/archive/addplant_icon_add.png") no-repeat center center;
}
.btn_delete{
	background: url("../../images/archive/addplant_icon_delete.png") no-repeat center center;
}
/* 无农事信息 */
.no-farminfo{
	padding:190px 0;
	text-align:center;
}


/* 添加投入品模态框 */
.modal-header h4{
	font-family: "微软雅黑";
}
.modal .modal-header{
	height: 48px;
	box-sizing: border-box;
}
.modal .modal-title{
	float: left;
}
.modal .close{
	float: right;
	width: 11px;
	height: 11px;
	background: url(../../images/weather/farmingIco16.jpg) no-repeat;
	margin-top: 5px;
	opacity: 1;
}
.addinputs-modal .modal-dialog{
	position: absolute;
	left: 50%;
	margin-left: -415px;
	top: 50%;
	margin-top: -258px;
	width: 830px;
}
.addinputs-modal .modal-body{
	height: 400px;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}
.addinputs-modal .select-item-dl .select-dt80{
	font-size: 14px;
}
.addinputs-modal .search-wrap .search-btn{
	margin: 8px 0;
}
.inputs-table-block{
	position: relative;
}
.inputs-table-block:before{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 6px;
	height: 6px;
	background: url("../../images/archive/addplant_tabletl2.jpg") no-repeat 0 0;
	content: '';
}
.inputs-table-block:after{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	width: 6px;
	height: 6px;
	background: url("../../images/archive/addplant_tabletr2.jpg") no-repeat 0 0;
	content: '';
}
.inputs-table{
	table-layout: fixed;
}
.inputs-table th,
.inputs-table td{
	line-height: 32px;
	padding: 3px;
	border: 1px solid #dbdbdb;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}
.inputs-table th{
	background-color: #fbfbfb;
}
.icheckbox-blue{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../../images/bootstrap/blue.png) no-repeat;
	background-position: 0 0;
}
.icheckbox-blue:hover{
	background-position: -20px 0;
	cursor: pointer;
}
.icheckbox-blue.icheck,
.icheckbox-blue.icheck:hover{
    background-position: -40px 0;
}
.tooltip.top{width: inherit;min-width: 50px;height: inherit;background: none;}
.tooltip.in{opacity: 0.8;filter: alpha(opacity=80);}
.tooltip-inner{max-width: 500px;}

.product-name-box .view_icon {
    position: absolute;
    right: 5px;
    top: 50%;
    z-index: 1;
    margin-top: -5px;
    content: '';
    cursor: pointer;
}
.showinputs-modal .modal-dialog {
    position: absolute;
    left: 50%;
    margin-left: -215px;
    top: 50%;
    margin-top: -158px;
    width: 530px;
}
.showinputs-modal .modal-body{
	height: 200px;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}
.showinputs-modal.modal .modal-header{
	height: 35px;
	box-sizing: border-box;
	border-bottom: 0px; 
}
.farmingMage_Magnifier{ display:none; position:fixed; left:50%; top:50%;  z-index:1000; max-height: 450px;max_width:400px;}
.MagnifierBox{  padding:5px; border:1px solid #bebfc0; border-radius:8px; margin-top:15px; background:#fff; text-align:center; vertical-align:middle;}
.MagnifierBox img{  border-radius:8px;}
.MagnifierClose{ position:absolute; right:-15px; top:0; width:28px; height:28px; cursor:pointer;}
.mark_b80{ display:none;position:fixed;left:0;top:0;z-index:10;width:100%;height:100%;background:#000;opacity:0.8;filter:alpha(opacity=80);}

/* 大屏幕 */
@media (min-width: 1599px) and (max-width: 1920px) { 
.col-crop2{
	width: 25%;
}
}
@media (min-width: 1299px) and (max-width: 1600px) { 
.col-crop2{
	width: 33.33333333%;
}
}
@media (min-width: 50px) and (max-width: 1300px) { 
.col-crop2{
	width: 50%;
}
}
 

