.r_t_l{color: #525252;}
/*模型库详情内容 开始*/
.contrast{padding: 0 55px;}
.product{width: 100%; height: auto; min-height: 300px; padding-left: 260px; box-sizing:border-box; position: relative; padding-top: 40px;}
.product_l{position: absolute; top:40px; left: 0;}
.product_l .pic{position: absolute; top: 12px; left:11px;}
.product_l .pic_bg{position: absolute; top: 0; left:0; z-index: 3;}
.product_l .tubiao{width: 39px; height: 39px; position: absolute; top: 10px; left: 180px; z-index: 4;}
.product_r .cropName{padding: 30px 0; font-size: 22px; color:#323232;}
.product_r .cropName span{font-size: 16px; color: #909090;}
.product_r .detail td{padding-top: 20px; padding-bottom: 10px; border-bottom: 1px dashed #e2e2e2; font-size: 14px;}
.product_r .detail td img{margin-right: 5px;}
.product_r .detail td.former{color: #323232;}
.product_r .detail td.latter{color: #646464;}
.contrast_content .contrastLeft,.contrast_content .contrastRight{min-width: 420px; line-height: 35px;}
.contrast_content .contrastMiddle{min-width: 120px;}
.contrast_content .head_l{float: left; color: #8ac168; font-size: 22px; font-weight: bold; /*padding-top: 15px;*/}
.contrast_content .head_l span{font-size: 16px; font-weight: normal; margin-left: 5px;}
.contrast_content .head_r{ position: absolute; cursor: pointer; right: 5px; top:9px;}
.contrast_content .record{float: left; font-size: 22px; font-weight: bold; color: #3d87ba;}
.contrast_content .record span{font-size: 16px; font-weight: normal; margin-left: 5px;}
.contrast_content .record_r{float: right;}
.contrast_content .record_r .review{float: left; margin-right: 20px; color: #646464; cursor: pointer;}
.contrast_content .record_r .review img{margin-right: 5px;}
.contrast_content .record_r .view{float: left; }
.contrast_content .record_r .view img{margin-right: 5px;}
.contrast_content .record_r .view a{color: #646464;}
.contrast_content .record_r .view a:hover{text-decoration: none;}
.contrast_content .card_l,.contrast_content .card_r{width: 100%; min-width: 420px; padding: 0 8px;  border: 1px solid #e2e2e2; border-radius: 5px 5px 0 0;  box-sizing:border-box; font-size: 14px;}
.contrast_content .card_l{position: relative;}
.contrast_content .card_r{position: absolute;}
.contrast_content .card_wrap{width: 100%;overflow: hidden;height: 286px; position: absolute; top:0;}
.contrast_content ul{width: 100%; position: absolute; left:0;}
.contrast_content ul li{width: 100%;float: left;height: 286px;}
.contrast_content .card_l{color:#646464;}
.contrast_content .card_r{color:#323232;}
.contrast_content .card_l .bgt,.contrast_content .card_r .bgt{width: 100%; height: 8px; border-radius: 5px 5px 0 0; position: absolute; left: 0; top:0;}
.contrast_content .card_l .arrow_l{width: 12px; height: 10px; background: url(../images/arrow_l.png) no-repeat; position: absolute; top: 55px; right: -11px;}
.arrow_r{width: 12px; height: 11px; background: url(../images/arrow_r.png) no-repeat; position: absolute; top: 55px; left: -10px; z-index: 2;}
.contrast_content .card_l .ddf{background-color:  #ddf0d1;}
.contrast_content .card_r .c3e{background-color:  #89c3eb;}
.contrast_content .card_l .card_head,.contrast_content .card_r .card_head{width: 80%; height: 45px; line-height: 58px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.contrast_content .card_r .card_head{color: #323232;}
.contrast_content .card_content{padding-left: 20px; padding-right: 10px; width: 100%; box-sizing:border-box; border-top: 1px dashed #e2e2e2; height: 220px; overflow: auto; }
.card_content .line1 td{height: 35px; line-height: 22px; padding-top: 18px; padding-bottom: 7px; vertical-align: top; box-sizing:border-box;}
.card_content .line1 .line1_r{min-width: 130px;}
.card_content .line3 td{vertical-align: top; padding: 9px 0;}
.card_content .line3 td img{margin-right: 7px; margin-bottom: 5px; width: 46px; height: 46px;}
.card_content .line3 td{padding-bottom: 0;}
.card_content .line4 td{vertical-align: top; line-height: 22px; padding-top: 8px;}
.finish{position: absolute; right: 20px; top:7px; width: 76px; height: 53px; background: url(../../images/archive/finish.png) no-repeat;}
/*轮播按钮*/
.cardBtn_l{width: 14px; height: 28px; background: url(../images/left.png) no-repeat; position: absolute; left: 5px; top:150px;}	
.cardBtn_r{width: 14px; height: 28px; background: url(../images/right.png) no-repeat; position: absolute; right: 5px; top:150px;}	
/*卡片中间*/
.contrastMiddle{vertical-align: top; padding-top: 20px; position: relative;}
.contrastMiddle .circle{width: 100%; position: absolute;}
.contrastMiddle .circle_bg{width: 70px; height: 70px; border: 1px solid #e2e2e2; background: #fff; border-radius: 35px; position: absolute; left: 50%; margin-left: -35px; text-align: center; box-sizing: border-box; padding-top: 18px; color: #646464; z-index: 2;}
.contrastMiddle .strip{width: 2px; height:265px; background-color: #e2e2e2; position: absolute; left: 50%; margin-left: -1px;   }
.contrastMiddle .strip2{width: 2px; height:45px; background-color: #e2e2e2; position: absolute; left: 0; bottom: -45px;   }
.contrastMiddle .circle_bg .fomer{font-size: 16px; font-weight: bold;}
.contrastMiddle .circle_bg .latter{font-size: 14px; }

/*周博士弹框*/
.pop_doctor{width: 478px; height: 246px; position: absolute; top:20px; left: -220px; padding-top: 30px; z-index: 4;}
.pop_doctor .pop_content{width: 478px; height: 246px; padding: 0 8px; border: 1px solid #e2e2e2; border-radius: 5px; background-color: #fff; box-sizing:border-box; box-shadow: 0 4px 6px #ccc;}
.pop_doctor .pop_content .pop_head{height: 105px; line-height: 120px; border-bottom: 1px dashed #e2e2e2; text-align: center; font-size: 18px; color: #525252;}
.pop_doctor .pop_content td{vertical-align: top; font-size: 14px;}
.pop_doctor .pop_content .honor td,.pop_doctor .pop_content .honor td div{height: 35px; overflow: hidden; padding-top: 10px; line-height: 35px;}
.pop_doctor .pop_content .honor td div{padding-top: 0;}
.pop_doctor .pop_content .jianjie td,.pop_doctor .pop_content .jianjie td div{height: 75px; overflow: hidden; line-height: 24px;}
.pop_doctor .pop_content .honor img,.pop_doctor .pop_content .jianjie img{margin-right: 5px;}
.top_arrow{width: 12px; height: 12px; background: url(../images/top_arrow.png) no-repeat; position: absolute;z-index: 4; top: 21px; left: 237px;}

.card_l,.card_r{margin-bottom: 20px;}
td.card{height: 286px;}   
/*分页样式*/
.fenye{margin: 40px auto ;}
.pageModel { border: 1px solid #e1e1e1; border-radius: 5px; border-collapse: separate; font-size: 12px; }
.pageModel span {float: left;height: 32px;line-height: 32px;border-right: 1px solid #e1e1e1;}
.pageModel a {display: block;padding: 0 13px;color: #9a9a9a;text-decoration: none;}
.pageModel a:hover{color:#428bca;}
.pageModel span:last-child { border-right: 0; }
.pageModel .page_Cur{background-color: #f6f6f8}
/*弹出框内容样式*/
.kuanDu {width: 570px;left: 50%; margin-left: -285px; top: 50%;margin-top: -250px; margin-bottom: 0;position: absolute;}
.baseAddModel_body{padding:5px; border:1px solid #bebfc0; border-radius:8px; background:#fff;width: 50px;height: 50px;position: fixed;top: 50%;left:50%;}
.baseAddModel_close{ position:fixed; left:50%; top:50%; margin-top:-14px;width:28px; height:28px; background:url(../images/farmingIco05.png) no-repeat; cursor:pointer;}
.baseAddModel_close:hover{ background:url(../images/farmingIco06.png) no-repeat;}


.line1_l{width: 60px;}
.chemical{width: 64%; }
.line1_r{position: absolute; top:18px; right: 0;}
.line1_r2{position: absolute; top:42px; right: 19px;}
.line2{height: 35px; line-height: 35px;}