#box{width: 766px; height: auto; margin: 100px auto;}
#pad{padding-top: 0; padding-bottom: 0; max-height: 362px; overflow-y:auto;}
.ziti{font-size: 14px; font-family: "微软雅黑";  color: #333; }
.body th{font-weight: normal;}
.body td{font-family: "微软雅黑";  color: #6c6c6c; font-weight: normal;}
.body{margin: 0 30px;}
.calendar{margin-bottom: 10px;}
.body .shiydate{padding:0 23px; position: relative; height: 63px; line-height: 48px; vertical-align: top;}
.body .ico_title{width: 14px; height: 14px; background: url("../../images/archive/icon1.png"); position: absolute; left: 0; top:17px;}
.dateTd{position: relative;}
.neir{margin-top: 10px;}
tbody tr{width: 100%;}
tbody .row1{width: 25%; vertical-align: top; }
tbody .row2{width: 75%; position: relative; top:-20px;}
tbody td.bg{background: url("../../images/archive/ico_bg.png") repeat-y 77% 0;}
.body .ico_bg{width: 13px; height: 19px; background: url("../../images/archive/icon2.png") no-repeat; position: absolute; right: 30px; top:0;}
.bg_kuang{width: 100%; height: auto; border: 1px solid #CDCDCD;  border-radius: 5px; padding: 20px; margin-bottom: 20px;}
.bg_kuang span{margin-right: 40px;}
.sanjiao{width: 9px; height: 15px; background:url("../../images/archive/sanjiao.png") no-repeat; position: absolute; left: -8px; top:22px;}


