/*select下拉框去掉默认边框及获取焦点 */
.btn{
	font-family: '微软雅黑';
}
.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
	margin-right: 0;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}
.bootstrap-select .btn:focus {
    outline: inherit !important;
    outline-offset: 0;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a i.check-mark{
	display: block;
    position: absolute;
    right: 10px;
}
.dropdown-menu>li>a:focus {
	background: none;
}
i[class^="icon-"], i[class*=" icon-"]{
	background: none;
}
select{
	max-width:70px;
}

/*标准规范样式*/
body{
	font-size: 14px;
	color: #525252;
}
dl{
	margin-bottom: 0;
}
p{
	margin-bottom: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mt14{
	margin-top: 14px;
}
.mb14{
	margin-bottom: 14px;
}
.mr20{
	margin-right: 20px;
}
.ellipsis{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.r_t_l{
	color: #525252;
}
.row{
	margin-left: -8px;
	margin-right: -8px;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
}
/* 搜索 */
.search-wrap{
	padding: 8px;
	border: 1px solid #f0f0f0;
	box-shadow: 0 0 5px #f0f0f0;
	border-radius: 5px;
}
.search-wrap .public-search{
	width: 240px;
}

.select-noborder .bootstrap-select>.btn{
	padding-left:0;
	padding-right: 16px;
	border: 0;
	background: none;
	font-size: 14px;
}
.select-noborder .bootstrap-select.btn-group .btn .filter-option{
	text-align: right-;
}
.select-noborder .bootstrap-select.btn-group .btn .caret{
	right: 0;
}
.select-noborder .bootstrap-select.btn-group .dropdown-menu.inner{
	max-width: 140px;
	width: 140px;
	height: 130px;
	padding: 0;
}
.select-noborder .bootstrap-select.btn-group .dropdown-menu .selectpicker{
	padding: 3px 0;
	box-sizing: border-box;
}
.select-noborder .dropdown-menu{
	left: 0;
}
.select-noborder .dropdown-menu>li>a{
	font-size: 14px;
	font-family: "微软雅黑";
	padding: 3px 10px;
}
.select-w74{
	width: 74px;
}
.select-w86{
	width: 86px;
}
.select-w102{
	width: 102px;
}
/* 筛选条件 */
.filter-block{
	padding-bottom: 10px;
}
.filter-block .f-tiem{
	float:left;
	display: inline-block;
	height:24px;
	line-height:24px;
	margin-right: 10px;
	padding:0 10px 0 14px;
	border-radius: 5px;
	background: #959595;
	font-size: 12px;
	color: #fff;
}
.filter-block .f-tiem .i-close,
.item-empty .iclose-all{
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url("../../images/archive/Specification_close1.png");
	margin: 7px 0 0 10px;
	vertical-align: top;
	cursor: pointer;
}
.item-empty{
	float:left;
	display: inline-block;
	height:24px;
	line-height:22px;
	padding:0 10px 0 14px;
	border: 1px solid #8c8c8c;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 12px;
	color: #959595;
}
.item-empty .iclose-all{
	margin: 6px 0 0 10px;
	background: url("../../images/archive/Specification_close2.png");
}
/* 全部作物种类列表 */
.col-crop2{
	float: left;
	width: 16.66666666666667%;
	box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
}
.crop-con{
	margin-bottom: 16px;
	border: 1px solid #ededed;
	box-sizing: border-box;
	box-shadow: 0 0 8px #ededed;
	border-radius: 5px;
}
.crop-con:hover{
	box-shadow: 0 0 8px #e1e1e1;
	cursor: pointer;
}
.crop-top{
	height: 94px;
	border-bottom: 1px solid #f0f0f0;
	box-sizing: border-box;
	background-color: #f2faff;
}
.crop-top .crop-pic{
	float: left;
	width: 60px;
	height: 60px;
	margin: 16px 0 0 14px;
	border-radius: 50%;
	overflow: hidden;
}
.crop-top .crop-name{
	float: right;
	width: 50%;
	height: 60px;
	line-height: 60px;
	margin: 16px 14px 0 0;
	font-size: 16px;
	font-weight: bold;
	text-align: right;
	color: #333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.crop-center{
	height: 92px;
	padding: 16px 14px;
	border-bottom: 1px solid #f0f0f0;
	box-sizing: border-box;
}
.crop-center .text-item,
.crop-bottom .text-item{
	position: relative;
	height: 24px;
	line-height: 24px;
	margin-bottom: 12px;
	padding-left: 94px;
	box-sizing: border-box;
}
.crop-center .text-name,
.crop-bottom .text-name{
	position: absolute;
	left: 0;
	top: 0;
	width: 90%;
	color: #999;
}
.crop-center .total-num,
.crop-bottom .total-num{
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	color: #4777d8;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.crop-bottom{
	height: 24px;
	padding: 14px;
	box-sizing: content-box-box;
}
.crop-bottom .text-item{
	max-width: 100px;
	margin-bottom: 0;
	padding-left: 0;
	box-sizing: border-box;
}
.crop-bottom .text-name{
	position: inherit;
	float: left;
	width: 62px;
}
.crop-bottom .total-num{
	max-width: 32px;
	text-overflow: inherit;
}

 
/* 大屏幕 */
@media (min-width: 1599px) and (max-width: 1920px) { 
.col-crop2{
	width: 20%;
}
}
@media (min-width: 1299px) and (max-width: 1600px) { 
.col-crop2{
	width: 25%;
}
}
@media (min-width: 50px) and (max-width: 1300px) { 
.col-crop2{
	width: 33.33333333%;
}
}

