/*select下拉框去掉默认边框及获取焦点 */
.btn{
	font-family: '微软雅黑';
}
.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
	margin-right: 0;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}
.bootstrap-select .btn:focus {
    outline: inherit !important;
    outline-offset: 0;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a i.check-mark{
	display: block;
    position: absolute;
    right: 10px;
}
.dropdown-menu>li>a:focus {
	background: none;
}
i[class^="icon-"], i[class*=" icon-"]{
	background: none;
}

/*标准规范样式*/
body{
	font-size: 14px;
	color: #525252;
}
dl{
	margin-bottom: 0;
}
p{
	margin-bottom: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mt14{
	margin-top: 14px;
}
.mt30{
	margin-top: 30px;
}
.mb10{
	margin-bottom: 10px;
}
.mb14{
	margin-bottom: 14px;
}
.mb22{
	margin-bottom: 22px;
}
.mb30{
	margin-bottom: 30px;
}
.mr20{
	margin-right: 20px;
}
.pt40{
	padding-top: 40px;
}
.pb40{
	padding-bottom: 40px;
}
.ellipsis{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.overflowH{
	overflow: hidden;
}
.display-none{
	display: none;
}
.display-block{
	display: block;
}
.align-center{
	text-align: center;
}
.r_t_l{
	color: #333;
}
.row{
	margin-left: -8px;
	margin-right: -8px;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
}
/* 表格模板 */
.tableModel{ border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; border-top:1px solid #e1e1e1; border-radius:10px 10px 0 0; border-collapse:separate; font-family:'微软雅黑'; color:#6c6a6b; table-layout: fixed;}
.tableModel thead{ border-radius:10px 10px 0 0;}
.tableModel thead th ,.tableModel tbody td{ height:38px; text-align:center; border-bottom:1px solid #e1e1e1;}
.tableModel thead th{ height:42px; background:#f0f5fb; font-size:14px; font-weight:normal;}
.tableModel thead th:first-child{ border-radius:10px 0 0 0;}
.tableModel thead th:last-child{ border-radius:0 10px 0 0;}
.tableModel tbody tr td{ font-size:13px; background:#fcfcfc;}
.tableModel tbody tr.odd td{ background:#fbfcfe;}
.tableModel tbody tr.hover td{ background:#ecf7e6;}
.tableModel .icheckbox_minimal-blue, .tableModel .icheckbox_minimal-blue.checked{ display:inline-block; float:none; margin:0;}
.tableModel .iradio_minimal-blue, .tableModel .iradio_minimal-blue.checked{ display:inline-block; float:none; margin:0;}
.list_view,.list_delete,.list_edit{ vertical-align: middle;}
/* 分页模板 */
.pageModel-wap{width: 100%;}
.pageModel{ border:1px solid #e1e1e1; border-radius:5px; border-collapse:separate; font-size:12px;}
.pageModel span{ float:left; height:32px; line-height:32px; border-right:1px solid #e1e1e1;}
.pageModel span:last-child{ border-right:none;}
.pageModel span.page_first a{border-radius:4px 0 0 4px;}
.pageModel span.page_last{ border-right:0;}
.pageModel .current{background:#f6f6f8; color:#9a9a9a; padding:0 13px;}
.pageModel a{ display:block; padding:0 13px; color:#9a9a9a;text-decoration:none;}
.pageModel a:hover{ text-decoration:none;}
.pageModel a:link ,.pageModel a:hover ,.pageModel a:focus ,.pageModel a:visited{ text-decoration:none;}
.pageModel .page_Cur a{ background:#f6f6f8; color:#0088d2;}
.pageModel .pageCount a:hover{color:#9a9a9a;}
.pageModel .current{background:#f6f6f8; color:#9a9a9a; padding:0 13px;}
/*  分页模板新增的跳转样式 */
.page_jumpTo{ 
	height:32px; 
	line-height:32px; 
	margin-left:10px; 
	border:1px solid #e1e1e1; 
	border-radius:5px; 
	box-sizing:content-box;
	text-align:center; 
	color:#9a9a9a; 
	overflow:hidden;
	}
.page_jumpTo .txt_txt{ 
	padding:0 13px;
	}
.page_jumpTo .txt_ipt{ 
	border-left:1px solid #e1e1e1; 
	border-right:1px solid #e1e1e1;
	}
.page_jumpTo .txt_ipt input{ 
	width:60px; 
	height:32px; 
	border:none; 
	text-align:center; 
	font-size:12px; 
	color:#6c6a6b;
	}
.page_jumpTo .txt_btn .determine_btn{ 
	display:block; 
	width:50px; 
	height:32px; 
	border:0; 
	background-color:#f6f6f8; 
	font-size:12px; 
	color:#9a9a9a; 
	cursor:pointer;
	}
/* 搜索 */
.search-wrap{
	position: relative;
	padding-right: 85px;
}
.search-wrap .public-search{
	width: 240px;
	margin: 8px 20px 8px 0;
}
.select-item-dl{
	float: left;
	margin: 8px 20px 8px 0;
}
.select-item-dl .select-dt70{
	float: left;
	width: 70px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	font-weight: normal;
	color: #999;
}
.select-item-dl .select-dd{
	float: left;
}
.fixed-btn{
	position: absolute;
	right: 0;
	top: 8px;
}
.select-item-dl .bootstrap-select.btn-group .btn .filter-option{
	font-size: 14px;
	font-family: "微软雅黑";
}
.select-item-dl .bootstrap-select.btn-group .dropdown-menu.inner{
	max-width: 140px;
	height: 130px;
}
.select-item-dl .dropdown-menu>li>a{
	font-size: 14px;
	font-family: "微软雅黑";
}
.select-w124{
	width: 124px;
}
.select-w186{
	width: 186px;
}
/* 作物基本信息 */
.crop-base-info{
	padding: 20px 0;
	border: 1px solid #f0f0f0;
	box-shadow: 0 0 5px #f0f0f0;
	border-radius: 5px;
}
.crop-base-info .info-left{
	float: left;
	width: 16%;
	text-align: center;
}
.crop-base-info .info-right{
	overflow: hidden;
}
.crop-base-info .info-con1{
	width: 26%;
}
.crop-base-info .info-con2{
	width: 40%;
	padding: 0 4%;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	box-sizing: border-box;
}
.crop-base-info .info-con3{
	width: 30%;
}
.crop-base-info .species-pic{
	border: 2px solid #b4bab2;
	box-sizing: border-box;
	border-radius: 50%;
}
.crop-base-info .crop-name{
	max-width: 80%;
	height: 24px;
	line-height: 24px;
	margin: 16px 0;
	font-size: 18px;
	color: #ffa229;
}
.crop-base-info .blongs-name{
	position: relative;
	max-width: 96%;
	height: 26px;
	line-height: 26px;
	padding-left: 70px;
	box-sizing: border-box;
	word-break: break-all;
}
.crop-base-info .blongs-name2{
	padding-left: 42px;
}
.crop-base-info .blongs-name span{
	position: absolute;
	left: 0;
	top: 0;
	color: #999;
}
/* 种植信息列表 */
.plant-title-block{ 
	position: relative; 
	height: 34px; 
	line-height: 34px; 
	padding: 0 20px;
	background-color: #f0f5fb;
	}
.col-crop2{
	float: left;
	width: 20%;
	box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
}
.crop-con{
	position: relative;
    float: left;
    width: 100%;
    height: 120px;
    margin: 0 0 20px 0;
    padding: 10px 10px 0 90px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #dcdcdc;
}
.crop-con .crop-left{
	position: absolute;
    left: 0;
    top: 0;
    padding: 10px 5px 0;
    font-size: 13px;
    text-align: center;
    width: 90px;
    box-sizing: border-box;
}
.crop-con .crop-pic{
	position: relative;
	width: 62px;
	height: 62px;
	margin: 10px auto 0;
}
.crop-con .crop-pic .shade{
	position: absolute;
	left: 0;
    top: 0;
    z-index: 2;
    width: 62px;
    height: 62px;
    background: url("/asset/images/plantinggl_ico03.png") no-repeat center center;
}
.crop-con .crop-area{
	height: 24px;
	line-height: 24px;
}
.crop-con .crop-right{
	position: relative;
}
.crop-con .info-set{
	position: absolute;
	right: 0;
	top: 0;
	width: 16px;
	height: 16px;
	background: url("../../images/archive/SpecificationDetail_set.png") no-repeat center center;
}
.crop-con .txt-quyu,
.crop-con .txt-fangfa{
	float: left;
	max-width: 40%;
	height: 20px;
	line-height: 20px;
	margin-top: 2px;
	font-size: 12px;
}
.crop-con .txt-quyu{
	margin-right: 14px;
	color: #999;
}
.crop-con .txt-fangfa{
	max-width: 56%;
	color: #4795d9;
}
.crop-con .crop-name{
	height: 24px;
	line-height: 24px;
}
.plant-progress{
	position: relative;
	padding: 30px 0 20px;
}
.plant-progress .plant-days{
	position: absolute;
	left: 0;
	top: 6px;
	z-index: 2;
	width: 40px;
	line-height: 24px;
	margin-left: -22px;
	text-align: center;
	font-size: 12px;
}
.plant-progress .plant-days:after{
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -2px;
	border-style: solid solid solid solid;
	border-color: transparent transparent #454545 transparent;
	border-width: 4px 4px 8px 4px;
	content: '';
	overflow: hidden;
}
.plant-progress .start-time,
.plant-progress .end-time{
	position: absolute;
	bottom: 0;
	z-index: 1;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #999;
}
.plant-progress .start-time{
	left: 0;
	text-align: left;
}
.plant-progress .end-time{
	right: 0;
	text-align: right;
}
.plant-progress .progress{
	height: 6px;
	margin-bottom: 0;
	border-radius: 3px;
}
.plant-progress .progress .progress-bar-success{
	min-width: 0px;
	background-color: #b7d091;
}
/* 选择模态框 */
.modal-header h4{
	font-family: "微软雅黑";
}
.modal .modal-header{
	height: 48px;
	box-sizing: border-box;
}
.modal .modal-title{
	float: left;
}
.modal .close{
	float: right;
	width: 11px;
	height: 11px;
	background: url(../../images/weather/farmingIco16.jpg) no-repeat;
	margin-top: 5px;
	opacity: 1;
}
.amendPlant-modal .modal-dialog{
	position: absolute;
	left: 50%;
	margin-left: -215px;
	top: 50%;
	margin-top: -100px;
	width: 430px;
}
.amendPlant-modal .modal-body{
	height: 120px;
	box-sizing: border-box;
	padding: 44px 10px 0;
}
.modal-table{
	table-layout: fixed;
}
.modal-table td{
	padding-bottom: 14px;
}
.modal-table .td-lt{
	width: 130px;
	padding-right: 10px;
	font-size: 13px;
	text-align: right;
}
.tooltip.top{width: inherit;min-width: 50px;height: inherit;background: none;}
.tooltip.in{opacity: 0.8;filter: alpha(opacity=80);}
.tooltip-inner{max-width: 500px;}

/* 大屏幕 */
@media (min-width: 1599px) and (max-width: 1920px) { 
.col-crop2{
	width: 25%;
}
}
@media (min-width: 1299px) and (max-width: 1600px) { 
.col-crop2{
	width: 33.33333333%;
}
}
@media (min-width: 50px) and (max-width: 1300px) { 
.col-crop2{
	width: 50%;
}
}
 

