.price{ width:100%; height:auto;}
.bread{ width:100%; height:62px; line-height:62px; color:#4c4c4c; font-size:14px; text-indent:12px;}

.select-kind{ width:100%; height:174px; }
.select-kind .area-time{ width:100%; height:24px;}
.select-kind .area-time .selected-area{ float:left; height:100%; padding-left:16px; margin-left:14px; background:url(../../images/marketPrice/icon_area.png) left center no-repeat;}
.select-kind .caret{ background:url(../../images/marketPrice/icon_cerat.png) no-repeat; margin-right:22px; }
.select-kind .btn-default{ border-color:transparent;}
.select-kind .btn{ padding:1px 0px;}
.select-kind .btn-group.open .dropdown-toggle{ box-shadow:none;}
.select-kind .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{ background-color:transparent; border-color:transparent;}
.select-kind .caret{ margin-left:8px; border:none; width:8px; height:5px;}

.select-kind .area-time .selected-time{ float:left; height:100%; padding-left:16px; background:url(../../images/marketPrice/icon_time.png) left center no-repeat;}
.select-kind .area-time .selected-time input{ width:86px; text-indent:10px; line-height:24px;}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{ padding:1px;}
.datetimepicker-dropdown, .datetimepicker-dropdown-left{ top:120px !important;}

.select-kind .selected-plant{ width:100%; height:152px;}
.select-kind .selected-plant ul{ height:100%; width:720px; margin-left:14px;}
.select-kind .selected-plant ul li{ float:left; padding:0 12px; color:#333333; font-size:14px;}
.select-kind .selected-plant ul li .plantt-pic{ width:60px; height:60px; margin:20px auto 10px;}
.veg{ background:url(../../images/marketPrice/model_Vege.png) 0 0 no-repeat;}
.fru{ background:url(../../images/marketPrice/model_Fruit.png) 0 0 no-repeat;}
.gra{ background:url(../../images/marketPrice/model_Grains.png) 0 0 no-repeat;}
.eco{ background:url(../../images/marketPrice/model_Edible.png) 0 0 no-repeat;}
.tea{ background:url(../../images/marketPrice/model_Tea.png) 0 0 no-repeat;}
.gre{ background:url(../../images/marketPrice/model_Flower.png) 0 0 no-repeat;}
.oth{ background:url(../../images/marketPrice/model_Other.png) 0 0 no-repeat;}
.select-kind .selected-plant ul li p{ width:100%; text-align:center; line-height:22px; margin:0;}
.select-kind .selected-plant ul li.active{ color:#9ac062;}
.select-kind .selected-plant ul li.active .plantt-pic{ background-position:0 -60px;}


.select-list{ width:100%; height:auto;}
.select-list .left-list{ float:left; width:309px; height:auto; box-shadow:6px 0 10px #f5fafe; margin-left:7px; }
.select-list .left-list .filter{ width:290px; height:54px; color:#333333; font-size:12px;}
.select-list .left-list .filter p{ float:left; margin-top:25px; margin-left:4px; margin-right:15px;}
.select-list .left-list .filter .my-follow{ float:right; margin-right:4px; margin-top:24px;}
.select-list .left-list .filter-list{ width:100%; height:auto;}
.select-list .left-list .filter-list ul{ width:290px; height:auto;}
.select-list .left-list .filter-list ul li{ width:290px; padding:16px 0 16px 4px; height:76px; position:relative; background:#fff; border:1px solid #fff; box-sizing:border-box;}
.select-list .left-list .filter-list ul li img{ float:left; width:44px; height:44px; border-radius:50%;}
.select-list .left-list .filter-list ul li h4{ float:left; width:44px; height:44px; text-align:center; line-height:44px; font-size:14px; color:#333; margin-right:25px; margin-top:0; margin-bottom:0;}
.select-list .left-list .filter-list ul li .rate{ float:left; width:84px; height:44px;}
.select-list .left-list .filter-list ul li .rate p{ width:100%; height:20px; line-height:20px; margin-bottom:4px; font-size:12px; color:#666; }
.select-list .left-list .filter-list ul li .rate p strong{ display:block; width:100%; height:20px; line-height:20px; font-size:12px; font-weight:bold;}
.select-list .left-list .filter-list ul li .market-p strong{ color:#ff5000;}
.select-list .left-list .filter-list ul li .life-p strong{ color:#90b901;}
.select-list .left-list .filter-list ul li .follow{ width:16px; height:14px; background:url(../../images/marketPrice/icon_follow.png) no-repeat; position:absolute; top:6px; right:6px; cursor:pointer; display:none;}
.select-list .left-list .filter-list ul li .follow-on{ background-position:0 -14px;}
.select-list .left-list .filter-list ul li .follow img{ max-width:inherit; float:none; border-radius:0; display:none;}
.select-list .left-list .filter-list ul li .follow .follow-succ,.select-list .left-list .filter-list ul li .follow .follow-can{ position:absolute; top:50%; left:-98px; margin-top:-14px; width:98px; height:28px;}
.select-list .left-list .filter-list ul li .follow .follow-to{ position:absolute; top:50%; left:-44px; margin-top:-10px; width:41px; height:20px;}
.select-list .left-list .filter-list ul li .follow .follow-act{ position:absolute; top:50%; left:-54px; margin-top:-10px; width:51px; height:20px;}
.select-list .left-list .filter-list ul li.current{ background:#f8fcff; border:1px solid #e2f0fc; box-sizing:border-box;}
.select-list .btn{ padding:2px 12px;}
.select-list .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ width:157px; margin-top:20px;}
.select-list .right-list{ float:left;}
.select-list .right-list .right-tab{ width:100%; height:60px; border-bottom:1px solid #dfeaef; margin-bottom:15px;}
.select-list .right-list .right-tab .tabs{ width:258px; height:100%; margin:0 auto;}
.select-list .right-list .right-tab .tabs li{ float:left; width:69px; height:65px; line-height:70px; color:#333; font-size:16px; margin:0 30px;}
.select-list .right-list .right-tab .tabs li.cur{ background:url(../../images/marketPrice/cur.png) left bottom no-repeat; color:#63a8eb;}
.select-list .right-list .tab-block{ width:100%;}
.select-list .right-list .tab-block .price-trend{ width:100%; height:100%; position:relative;}
.select-list .right-list .tab-block .price-trend .time-span{ width:100%; height:60px; position:absolute; top:0; right:0; z-index:10;}
.select-list .right-list .tab-block .price-trend .time-span ol{ float:right; width:104px; height:28px; border:1px solid #63a8eb; box-sizing:border-box; border-radius:4px; margin-top:15px; margin-right:32px;} 
.select-list .right-list .tab-block .price-trend .time-span ol li{ float:left; width:34px; height:26px; text-align:center; line-height:26px; border-right:1px solid #63a8eb; box-sizing:border-box; color:#63a8eb; cursor:pointer;}
.select-list .right-list .tab-block .price-trend .time-span ol li.on{ background:#63a8eb; color:#fff;}
.select-list .right-list .tab-block .trend-contrast{ width:100%; height:100%; display:none;}
.select-list .right-list .tab-block .trend-contrast .trend-title{ width:100%; height:44px; border-bottom:1px dashed #f0f0f0; box-sizing:border-box;}
.select-list .right-list .tab-block .trend-contrast .trend-title p,.select-list .right-list .tab-block .trend-contrast .trend-list ul li p{ float:left; width:20%; height:44px; line-height:44px; text-align:center; font-size:14px; color:#666666; font-weight:bold;}
.select-list .right-list .tab-block .trend-contrast .trend-list{ width:100%;}
.select-list .right-list .tab-block .trend-contrast .trend-list ul{ width:100%; height:auto;}
.select-list .right-list .tab-block .trend-contrast .trend-list ul li{ width:100%; height:60px; border-bottom:1px dashed #f0f0f0; box-sizing:border-box;}
.select-list .right-list .tab-block .trend-contrast .trend-list ul li p{ font-weight:normal; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.select-list .right-list .tab-block .trend-contrast .trend-list ul li p.price-num{ color:#ff5000;}
.select-list .right-list .tab-block .trend-contrast .trend-list ul li p.price-down{ color:#9fbe7d;}
.select-list .right-list .tab-block .trend-contrast .trend-list ul li p.price-down strong{ width:5px; height:11px; background:url(../../images/marketPrice/price_down.png) no-repeat; display:inline-block; vertical-align:baseline; margin-left:5px;}
.select-list .right-list .tab-block .trend-contrast .trend-list ul li p.price-up{ color:#de7070;}
.select-list .right-list .tab-block .trend-contrast .trend-list ul li p.price-up strong{ width:5px; height:11px; background:url(../../images/marketPrice/price_up.png) no-repeat; display:inline-block; vertical-align:baseline; margin-left:5px;}


.form_datetime input{ border:none; height:24px; padding:0;}
.btn{ height:24px;}
[class^="icon-"], [class*=" icon-"]{ background:none;}
.selected-area .btn-group .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {width: 100px;}
.bootstrap-select.btn-group .dropdown-menu li a i.check-mark {background: url(../../images/selectMenu-ico1.png) no-repeat;}
.bootstrap-select.btn-group .dropdown-menu li.selected.active a i.check-mark {background: url(../../images/selectMenu-ico1.png) no-repeat;}
.right_c {background:url(../../images/marketPrice/back_bg1.png) top left repeat-x;padding: 0 15px;}