@charset "utf-8";
/* CSS Document */

body,a,p,h1,h2,h3,h4,h5,h6,strong,ul,ol,li,div,form,table,tbody,thead,tfoot,th,tr,td,u,b,i,s,font,dl,dt,dd,em,sup,sub{ margin:0; padding:0;}
a{ text-decoration:none;}
ul,ol,li{ list-style:none;}
.fl{ float:left;}
.fr{ float:right;}
.clear{ clear:both;}
.clear:after{ clear:both; content:""; display:block; visibility:hidden; height:0;}
em{ font-style:normal;}

/* 边界 */
.mt10{ margin-top:10px;}

.mb15{ margin-bottom:15px;}

/* 填充 */
.p_ltrb{ padding:10px;}
.pt10{ padding-top:10px;}

.pb{ padding-bottom:10px;}



/* 颜色 */
.colorHui1{ color:#a3a3a3;}

