.right_c{background-color: #f5f7fa; padding: 0; color: #78839d; font-size: 14px;}
.breadNav_wap { height: 60px; border-bottom: 1px solid #ddd; padding: 15px 30px 0; background: #fff;}
.s_content{width: 100%; height: auto; padding: 25px 30px 0;}
.s_top{height: 70px; line-height: 70px; padding:0 28px 0 23px; background: #fff; box-shadow: 0 0 8px #f0f0f0;}  
.s_top .s_left{font-size: 16px; width: 120px;}
.s_top .s_input{width: 377px; height: 41px; line-height: 41px; padding: 0 62px 0 28px; background: url(../../images/record/bgk.png); margin-top: 15px;}
.s_top .s_input input{width: 100%; height: 100%; outline: none; background: none;}
.table_modal{width: 100%; height: 330px; box-shadow: 0 0 8px #f0f0f0; background: #fff; border: 0;}
.table_modal th{text-align: left; font-size: 16px; color: #78839d; background: #fff; border-color: #f0f0f0;}
.crop th span{margin-right: 45px; height: 40px; line-height: 40px; font-size: 14px; color: #a3a3a3;} 
.crop th span img{width: 12px; height: 11px; vertical-align: 0; margin-right: 5px;}
.crop td{border-bottom: 0; background: #fff; vertical-align: top;}
.table_modal tr:hover td {background: #fff;}
.crop .left{min-width: 165px; max-width: 265px;}
.crop .pic{margin-top: 40px;}
.crop .pic img{width: 125px; height: 125px;}
.crop .txt{text-align: left;}
.crop .txt h4{height: 48px; margin-top: 40px;}
.crop .txt p{height: 25px;}
.crop .no_vedio{width: 342px; height: 242px; border: 1px dashed #e1e1e1; text-align: center; color: #cfcfcf;}
.crop .no_vedio img{width: 47px; height: 29px; margin-top: 90px; margin-bottom: 10px;}
.left{min-width: 332px; vertical-align: top;}
.envir{height: 635px; box-shadow: 0 0 8px #f0f0f0; border-radius: 4px; background: #fff;}
.right{min-width: 369px; height: 635px; vertical-align: top; }
.right .order{width: 100%; height: 350px; margin-bottom: 20px; box-shadow: 0 0 8px #f0f0f0; border-radius: 4px; background: #fff;}
.right .recovery{width: 100%; height: 265px; box-shadow: 0 0 8px #f0f0f0; border-radius: 4px; background: #fff;}
.fingerprint{height: 65px; line-height: 65px; border-bottom: 1px solid #f0f0f0; font-size: 16px; color: #78839d; position: relative;}
.info{width: 100%; height: 980px; box-shadow: 0 0 8px #f0f0f0; border-radius: 4px; background: #fff;}
.agric{width: 100%; height: 422px; box-shadow: 0 0 8px #f0f0f0; border-radius: 4px; background: #fff; margin-top: 15px;}
.no_data{width: 100%; height: 100%; border: 1px dashed #e1e1e1; text-align: center; border-radius: 4px;}
.dataBox{padding: 15px; color: #cfcfcf;}
.dataBox1{height: 570px;}
.no_data1 img{width: 42px; height: 43px; margin: 235px 0 10px 0;}
.dataBox2{height: 285px;}
.no_data2 img{width: 39px; height: 42px; margin: 108px 0 10px 0;}
.dataBox3{height: 309px;}
.no_data3 img{width: 48px; height: 46px; margin: 100px 0 10px 0;}
.dataBox4{height: 309px;}
.no_data4 img{width: 49px; height: 48px; margin: 98px 0 10px 0;}
.dataBox5{height: 70px;}
.no_data5{height: 40px; line-height: 40px;}
.no_data5 img{width: 22px; height: 22px;}
.cf5 td{background: #f5f7fa; padding: 15px 0; color: #78839d; text-align: center; vertical-align: -6px; margin-right: 5px; border-bottom: 1px solid #f0f0f0;}
.recovery ul{padding-left: 50px; padding-top: 20px;}
.recovery ul li{height: 35px;}
.data2 ul{padding-top: 20px; padding-left: 50px;}
.data2 ul li{height: 35px;}
.data4 tr td{padding: 15px 0; text-align: center; border-bottom: 1px solid #f0f0f0; height: 56px;}
.data5 tr td{text-align: center; padding: 15px 0; height: 70px;}
.data3{width: 100%; height: 309px; overflow: hidden;}
.data3 tr td{text-align: center; height: 56px; border-bottom: 1px solid #f0f0f0;}
.data3 .check{color: #428bca; cursor: pointer;}
.info .tree{padding-top: 40px;}
.info .tree td{height: 80px;}
.info .tree .row1{text-align: right; padding-right: 20px; border-right: 2px solid #99d41a; position: relative;}
.info .tree .row2{padding-left: 20px; position:relative;}
.info .tree .row1 .dot{width: 8px; height: 12px; background: url(../../images/record/dot.png) no-repeat; position: absolute; top: 33px; right: -5px;}
.info .tree .row1 p.month{font-size: 16px; font-weight: bold;}

.crop .no-audio{width: 264px; float: right;}
.crop .no-audio li{float: left; width: 102px; margin-right: 30px; font-size: 14px;}
.crop .no-audio li img{margin-right: 4px;}

.crop .audio{width: 264px; float: right; padding: 15px 0;}
.crop .audio li{float: left; width: 102px; margin-right: 30px; font-size: 14px; color: #5d8ca4; text-align: center; height: 35px; line-height: 35px; cursor: pointer;}
.crop .audio li.cur{border: 1px solid #e1e1e1; border-radius: 10px; color: #edb737; background: #f5f7fa;}
.crop .audio li img{margin-right: 4px;}
.hasData .vedio,.hasData .camera{width: 304px; height: 205px; overflow: hidden;}
.hasData .vedio img{width: 100%; height: 100%;}
.hasData .camera li{width: 304px; height: 205px; display: none;}
.s_content .s_input .anniu{position: absolute; width: 60px; height: 40px; left: 567px; top: 160px;cursor:pointer; }

.hasData .camera li.cur{display: block;}
.hasData .camera li img{width: 100%; height: 100%;}
.hasData .camera{position: relative;}
.hasData .camera .leftBtn{position: absolute; width: 26px; height: 39px; background: url(../../images/record/leftBtn.png); top: 85px; left: 0;}
.hasData .camera .rightBtn{position: absolute; width: 26px; height: 39px; background: url(../../images/record/rightBtn.png); top: 85px; right: 0;}
.hasData .grow{display: none;}
.hasData .grow.cur{display: block;}
.hasData .no_vedio{display: none;}
.hasData .no_vedio.cur{display: block;}
.data1{padding: 30px; height: 570px; overflow: hidden;}
.data1 p{text-align: center; height: 50px; line-height: 50px;}
.data1 p img{margin-right: 5px; vertical-align: -2px;}

.input_p{color: #428bca; cursor: pointer;}
.row2 .pop{position: absolute; top: 0; right: 0; width: 632px; height: 380px; z-index: 10;}
.row2 .pop .p_left{cursor: pointer; width: 32px; height: 120px; background: #3fba89; color: #fff; font-size: 16px; letter-spacing:20px; padding-left: 7px; line-height: 30px; padding-top: 25px}
.row2 .pop .p_right{width: 600px; height: 380px; background: #fff; box-shadow: 0 4px 12px #d8d8d8;}
.row2 .pop .p_right td{text-align: center; background: #f5f7fa; border-bottom: 1px solid #f0f0f0; font-size: 16px; height: 60px;}
.row2 .pop .p_right td img{margin-right: 5px; vertical-align: -3px;}
.row2 .pop .p_right .pics{min-height: 90px; border-bottom: 1px solid #f0f0f0;}
.row2 .pop .p_right .pics p{width: 115px; float: left;  padding-top: 35px; text-align: center;}
.row2 .pop .p_right .pics2{border: 0;}
.row2 .pop .p_right .pics ul{float: left; width: 485px; height: auto; padding-top: 5px;}
.row2 .pop .p_right .pics ul li{float: left; width: 110px; min-height: 84px; margin-right: 0; margin-bottom: 5px; text-align: center;}
.row2 .pop .p_right .pics ul li img{width: 84px; height: 84px; border: 5px solid #f6f6f6;}
.row2 .pop .p_right .pics2{padding-top: 20px;}
.row2 .pop .p_right .pics2 ul li{margin-right: 35px;}
.row2 .pop .p_right .pics2 ul li img{border: 0; width: 84px; height: 84px;}
.row2 .pop .p_right .pics2 ul li .txt{margin-top: 10px;}

.n_detail{width: 100%; display: none;}
.fingerprint .back{position: absolute; color: #edb737; top: 0; right: 15px; font-size: 14px; display: none; cursor: pointer;}
.fingerprint .back img{margin-right: 5px; vertical-align: -3px; }

/*2016.8.4 ËÑË÷ÎÞ½á¹û*/
.no_result{width: 100%; height: 400px; background: #fff; margin-top: 20px; padding: 15px;}
.no_result .inner{width: 100%; height: 100%; border: 1px dashed #e1e1e1;}
.no_result .inner .inner_content{width: 430px; margin: 0 auto; height: 120px; margin-top: 135px;}
.no_result .inner .inner_content .pic{width: 118px; height: auto;}
.no_result .inner .inner_content .txt{margin-top: 15px;}


.pop{position: absolute; top: 0; right: 0; width: 632px; height: 380px; z-index: 10;}
.pop .p_left{cursor: pointer; width: 32px; height: 120px; background: #3fba89; color: #fff; font-size: 16px; letter-spacing:20px; padding-left: 7px; line-height: 30px; padding-top: 25px}
.pop .p_right{width: 600px; height: 380px; background: #fff; box-shadow: 0 4px 12px #d8d8d8;}
.pop .p_right td{text-align: left; padding-left:8px; background: #f5f7fa; border-bottom: 1px solid #f0f0f0; font-size: 16px; height: 60px;}
.pop .p_right td img{margin-right: 5px; vertical-align: -3px;}
.pop .p_right .pics{min-height: 90px; border-bottom: 1px solid #f0f0f0;}
.pop .p_right .pics p{width: 115px; float: left;  padding-top: 35px; text-align: center;}
.pop .p_right .pics2{border: 0;}
.pop .p_right .pics ul{float: left; width: 485px; height: auto; padding-top: 5px;}
.pop .p_right .pics ul li{float: left; width: 110px; min-height: 84px; margin-right: 0; margin-bottom: 5px; text-align: center;}
.pop .p_right .pics ul li img{width: 84px; height: 84px; border: 5px solid #f6f6f6;}
.pop .p_right .pics2{padding-top: 20px;}
.pop .p_right .pics2 ul li{margin-right: 35px;}
.pop .p_right .pics2 ul li img{border: 0; width: 84px; height: 84px;}
.pop .p_right .pics2 ul li .txt{margin-top: 10px;}