@charset "utf-8";
/* CSS Document */

html{ height: auto;}
.form-control{float:left;}
.dr-mpnl-shadow {}
.dr-mpnl-pnl {background: none;border: none;}
.dr-mpnl-pnl-b {padding: 0;}
.dr-mpnl-shadow {top: 0;left: 0;}
.rich-picklist-source-items {margin: 0;}
.messages {position: relative;z-index: 55px;width: 500px;text-align: center;height: 20px;margin: -40px auto 0 auto;color: #ff0000;}
.face_box li {float: left;margin-left: 3px;}
.face_box li .face_bd img {border: 1px solid #d6d6d6;width: 160px;height: 193px;margin: 3px;}
.face_radio {text-align: center;margin-top: 5px;}
.face_radio input {padding-left: 20px;}
.face_box li a {display: block;}
.face_radio input {vertical-align: middle;}
.face_box li a:hover {background: url(../../images/face_bd.png) no-repeat 0 0;display: block;}


.farmingInputs_mini{ position:absolute; top:54px; left:0; z-index:10; width:346px; border:1px solid #e5e5e5; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); background-clip: padding-box; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.2); border-radius:6px; outline: 0 none;}
.farmingInputs_mini{ display:none;}
.farmingInputs_miniHd{ overflow:hidden; border-bottom:1px solid #e5e5e5; min-height:16.43px; padding:15px;}
.farmingInputs_miniHd h3{ float:left; font-size:14px; margin:0;}
.farmingInputs_miniHd .butt{ float:right; width:11px; height:11px; margin-top:3px; background:url(#{request.contextPath}/asset/images/farmingIco16.jpg) no-repeat; border:none; zoom:1;}
.farmingInputs_miniHd .butt:hover, .farmingInputs_miniHd .butt:focus{ background-image:url(../images/farmingIco17.jpg); zoom:1;}
.farmingInputs_miniBd{ position:relative; padding:20px 15px 0;}
.farmingInputs_miniBd td{ padding-bottom:20px; height:34px; line-height:34px;}
.farmingInputs_miniBd .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"]{ float:left; display:inline; margin-right:5px;}
.farmingInputs_miniBd .bootstrap-select > .btn{ width:190px; padding:7px 12px;}
.farmingInputs_add2{ float:left; width:34px; height:34px; background:url(../images/farmingIco14.jpg) no-repeat; border:none;}
.farmingbgIco18{ width:64px; height:30px; line-height:30px; border:none; padding:0 10px 0 12px; font-size:12px; zoom:1; background:none; float:left;}
.farmingInputs_add3{ float:left; width:130px; height:130px;background:url(../images/farmingIco15.jpg) no-repeat; border:none;}
.farmingInputs_miniFt{ padding:15px; border-top: 1px solid #e5e5e5; text-align:right; overflow:hidden;}
.farmingInputs_miniFt .butt{ margin-left:5px; float:right;}


.jgTop{margin-left: 65px;}
.noPic{width: 500px; height: 160px; border: 1px dashed #e2e2e2; border-radius: 5px; text-align: center; padding-top: 45px; margin-left: 25px; }
.hasPic{width: 500px; height: 160px; overflow: auto; margin-left: 25px;}
.hasPic li{position:relative; z-index:1; float:left; padding-right:9px;} 
.hasPic li .designGy{position:relative; width:150px; height:160px; padding:18px 14px 10px; margin:0; border:1px solid #fff; background:#fff; box-sizing:border-box;}
.hasPic li:hover .designGy{ background:#f2f5fa; border:1px solid #9ebed4; box-shadow:0 -2px 8px #e7eaf0,-2px -2px 8px #e7eaf0,2px -2px 8px #e7eaf0; }
.hasPic li .designGy img{width: 140px; height: 140px; position: absolute; top:10px; left: 4px;}
.hasPic li:hover .designEdit1{right:10px; top:0; display:block;}
.hasPic li:hover .jg_fade{display:block;}

.jg_fade{display: none; width: 110px; height: 29px; padding: 10px 20px; overflow: hidden; font-size: 12px; color: #fff; line-height: 19px; position: absolute; left: 0; bottom: 0; background: url(#{request.contextPath}/asset/images/lvli_bg1.png) repeat; z-index: 5;}
.designEdit1{display:none; overflow:hidden; position:absolute; right:14px; top:18px; z-index:3; height:20px; padding:4px 0; border:1px solid #206fbc; background:#4096ee;}
.designEdit1 a{width:17px; height:14px; padding:3px 8px; cursor:pointer;}
.designEdit1 a img{ width:17px; height:14px;}

.designDlt{border-right:1px solid #8abff5;}
.jgBottom{width: 100%; height: 200px; text-align: center; border-top: 1px dashed #e2e2e2; margin-top: 25px; padding-top: 20px; position: relative;}
.glass{position: absolute; width: 140px; height: 140px; top:20px; left: 50%; margin-left: -70px; opacity: 0; filter:alpha(opacity=0); font-size:100px;}

	
body{ font-size:14px; color:#3c3c3c;}
.modal-dialog { position:relative;	margin: 100px auto;}
.modalTable_minni td{ padding-bottom:20px;}
.pr10{ padding-right:10px;}
.modal-backdrop { position:fixed; top:0; right:0; bottom:0;	left:0;z-index:9;	background-color:#000;}
.jgtc{width: 680px; left: 50%; margin-left: -340px; top: 50%; margin-top: -300px; margin-bottom: 0; position: absolute;}

.redpackets_txt{float:left;width: 120px; height:34px; line-height:34px;}
.redpackets_ipt{ float: left; padding: 2px;height: 31px;}
.redpackets_ipt .form-control{ width:220px;}
.redpackets_ipt .font_txt{ float:left;width:65px;padding-right:10px; text-align:right;margin-top:5px}
.redpackets_ipt .filter-option{ display: inline-block;overflow: hidden;text-align: left; width: 100%;}






