.right_c{background-color: #f5f7fa; padding: 0;}
.breadNav_wap { height: 60px; border-bottom: 1px solid #ddd; padding: 15px 30px 0; background: #fff;}
.s_top{width: 100%; height: 360px; background-image: url(../../images/record/banner.jpg); background-size: cover; -ms-behavior: url(../style/farmshow/backgroundsize.min.htc); behavior: url(../style/farmshow/backgroundsize.min.htc); background-repeat: no-repeat; padding-top: 102px;}
.s_center{width: 525px; height: auto; margin: 0 auto;}
.s_center h4{width: 100%; height: 50px; text-align: center; font-size: 30px; color: #fff;}
.s_center .s_code{height: 70px; background: url(../../images/record/input_bg.png); cursor: pointer; padding: 15px 93px 15px 70px;position:relative;}
.s_center .s_code input{width: 100%; height: 40px; line-height: 40px; font-size: 14px; color: #9fa8bd; outline: none;}
.s_center p{font-size: 14px; color: #fff; text-align: center; margin-top: 15px;}
.s_center p img{width: 16px; height: 16px; margin-right: 5px; vertical-align: -3px;}
.s_content{width: 100%; height: auto; padding: 0 30px; margin-top: 30px;}
.s_record,.use_record,.sell_record{border-radius: 4px 4px 0 0;  overflow: hidden; background-color: #fff; box-shadow: 0 0 8px #f0f0f0; border: 0; color: #78839d;}
.s_record th,.use_record th,.sell_record th{text-align: left; font-size: 16px; color: #78839d; background: #fff;} 
.ced{color: #edb737;}
.use_record{margin-top: 15px;}
.use_record .s_title td,.sell_record .s_title td{font-size: 16px; background: #f5f7fa;}
.s_record th{padding: 12px 0; border-bottom: 1px solid #ddd;}
.data{width: 100%;}
.data li{padding: 12px 0 12px 60px; border-bottom: 1px solid #ddd; font-size: 14px; text-align: left; float: left; width: 50%; height: 43px;}
.table_modal tr:hover td {background: #fff;}
.use_record .s_title:hover td, .sell_record .s_title:hover td{background: #f5f7fa;}
.s_center .s_code .anniu{position: absolute; width: 60px; height: 40px; right: 32px; top: 15px; }
